Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-normalize, i18n-missing, shellcheck, prettier

rubocop:
  name: rubocop
  entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
  language: ruby

erblint:
  name: erblint
  entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
  language: ruby

i18n-normalize:
  name: i18n-normalize
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
  language: ruby
  pass_filenames: false

i18n-missing:
  name: i18n-missing
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks missing
  language: ruby
  pass_filenames: false

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system

prettier:
  name: prettier
  entry: bin/run-linter --cd app -- npm run format:precommit
  language: node

gig worker rspec tests
  app/app/components/report/payments_deductions_monthly_summary_component.html.erb
  app/spec/components/report/payments_deductions_monthly_summary_component_spec.rb
Due: rubocop, erblint

updated other_jobs to use table componet. re-applying updates from https://github.com/DSACMS/iv-cbv-payroll/pull/811, limiting other_jobs table to generic flow
  app/app/views/cbv/summaries/show.html.erb
Due: erblint

applying more patches from https://github.com/DSACMS/iv-cbv-payroll/pull/772
  app/app/assets/stylesheets/cbv.scss
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: i18n-normalize, i18n-missing

updated input labels in e2e tests
  app/spec/e2e/cbv_flow_pinwheel_spec.rb
  app/spec/e2e/cbv_flow_spec.rb
Due: rubocop

removed margin-top-5 from other jobs header
  app/app/views/cbv/summaries/show.html.erb
Due: erblint

"default_source" added to client-agency-config.yml
  app/app/controllers/pages_controller.rb
  app/config/client-agency-config.yml
  app/lib/client_agency_config.rb
Due: rubocop

set session earlier, avoid passing through redirect
  app/app/controllers/cbv/generic_links_controller.rb
  app/app/controllers/pages_controller.rb
  app/spec/controllers/cbv/generic_links_controller_spec.rb
  app/spec/controllers/pages_controller_spec.rb
Due: rubocop

updated failing e2e tests by adding the other_jobs page in the flow
  app/spec/e2e/cbv_flow_pinwheel_spec.rb
  app/spec/e2e/cbv_flow_spec.rb
Due: rubocop

fixed white-space issue
  app/app/views/cbv/summaries/show.html.erb
Due: erblint

update tf variables for project
  infra/project-config/main.tf
Due: none

fixed indentation issues
  app/app/views/cbv/summaries/show.html.erb
Due: erblint

add demo infra account config
  infra/accounts/demo.929368846564.s3.tfbackend
Due: none

Ran bundle update to update some outdated dependencies
  app/Gemfile.lock
Due: none

updating npm packages
  app/package-lock.json
Due: none

Resolving patches for nokogiri and form-data
  app/Gemfile.lock
  app/package-lock.json
Due: none

Resolving patches for nokogiri and form-data (#846)
  app/Gemfile.lock
  app/package-lock.json
Due: none

running networks and infra build
  infra/app/app-config/main.tf
  infra/networks/demo.s3.tfbackend
  infra/project-config/networks.tf
Due: none

set up app build configs
  infra/accounts/main.tf
  infra/app/app-config/dev.tf
  infra/app/app-config/main.tf
Due: none

FFS-3082: Distinguish SMS and RFI links for LA users (#842)
  app/.env
  app/app/controllers/cbv/entries_controller.rb
  app/app/controllers/pages_controller.rb
  app/config/client-agency-config.yml
  app/config/routes.rb
  app/lib/client_agency_config.rb
  app/spec/controllers/cbv/entries_controller_spec.rb
  app/spec/controllers/pages_controller_spec.rb
Due: rubocop

added argyle rspec tests
  app/spec/components/report/payments_deductions_monthly_summary_component_spec.rb
Due: rubocop

remove is_pdf
  app/app/components/report/payments_deductions_monthly_summary_component.rb
Due: rubocop

modified line height on accordion buttons
  app/app/assets/stylesheets/uswds-overrides.scss
Due: none

remove is_pdf from tests
  app/spec/components/report/payments_deductions_monthly_summary_component_spec.rb
Due: rubocop

removed unused strings
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: i18n-normalize, i18n-missing

addressing some pr feedback
  app/app/assets/stylesheets/cbv.scss
  app/app/views/cbv/summaries/show.html.erb
Due: erblint

FFS-2932: Add "other_jobs" page (#838)
  app/app/controllers/cbv/add_jobs_controller.rb
  app/app/controllers/cbv/base_controller.rb
  app/app/controllers/cbv/other_jobs_controller.rb
  app/app/helpers/report_view_helper.rb
  app/app/services/client_agency/az_des/report_fields.rb
  app/app/services/client_agency/la_ldh/report_fields.rb
  app/app/services/client_agency/report_fields.rb
  app/app/services/client_agency/sandbox/report_fields.rb
  app/app/views/cbv/add_jobs/show.html.erb
  app/app/views/cbv/other_jobs/show.html.erb
  app/app/views/cbv/submits/show.pdf.erb
  app/app/views/cbv/summaries/show.html.erb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/config/routes.rb
  app/db/migrate/20250617183425_add_has_other_jobs_to_cbv_flow.rb
  app/db/schema.rb
  app/spec/controllers/cbv/add_jobs_controller_spec.rb
  app/spec/controllers/cbv/other_jobs_controller_spec.rb
  app/spec/e2e/cbv_flow_pinwheel_spec.rb
  app/spec/e2e/cbv_flow_spec.rb
  app/spec/helpers/report_view_helper_spec.rb
  app/spec/support/title_checker_helper.rb
Due: rubocop, erblint, i18n-normalize, i18n-missing

Update thor to address vulnerability
  app/Gemfile
  app/Gemfile.lock
Due: none

No ticket: Update thor to address vulnerability (#847)
  app/Gemfile
  app/Gemfile.lock
Due: none

working prototype, not tested with pinwheel
  app/app/components/aggregate_data_point_component.rb
  app/app/components/report/payments_deductions_monthly_summary_component.html.erb
  app/app/services/aggregators/response_objects/paystub.rb
  app/app/views/cbv/submits/show.pdf.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: rubocop, erblint, i18n-normalize, i18n-missing

unifying null and unknown responses
  app/app/components/aggregate_data_point_component.rb
  app/app/services/aggregators/response_objects/paystub.rb
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: rubocop, i18n-normalize, i18n-missing

corrected a few rspec tests
  app/spec/components/aggregate_data_point_component_spec.rb
  app/spec/services/aggregators/aggregator_reports/pinwheel_report_spec.rb
Due: rubocop

setup demo environment for database and network
  infra/app/app-config/env-config/environment-variables.tf
  infra/app/database/demo.s3.tfbackend
  infra/app/service/demo.s3.tfbackend
  infra/modules/network/main.tf
  infra/project-config/networks.tf
Due: none

initial commit for feature
  app/app/controllers/cbv/successes_controller.rb
  app/app/controllers/feedbacks_controller.rb
  app/app/helpers/application_helper.rb
  app/app/views/cbv/successes/show.html.erb
  app/config/locales/en.yml
  app/spec/controllers/cbv/successes_controller_spec.rb
Due: rubocop, erblint, i18n-normalize, i18n-missing

Pilot is only ended if production env
  app/config/client-agency-config.yml
Due: none

DRYing up specs, other CR comments
  app/app/components/report/payments_deductions_monthly_summary_component.html.erb
  app/spec/components/report/payments_deductions_monthly_summary_component_spec.rb
  app/spec/components/table_header_two_column_component_spec.rb
Due: rubocop, erblint

Testing is good
  app/spec/controllers/pages_controller_spec.rb
Due: rubocop

Revert "Testing is good"
  app/spec/controllers/pages_controller_spec.rb
Due: rubocop

FFS-3135: Re-enable LA pilot (#849)
  app/config/client-agency-config.yml
Due: none

FFS-3138: Support tracking origin query parameter
  app/app/controllers/cbv/base_controller.rb
  app/app/controllers/cbv/entries_controller.rb
  app/app/controllers/pages_controller.rb
  app/config/client-agency-config.yml
  app/config/routes.rb
  app/lib/client_agency_config.rb
  app/spec/controllers/cbv/base_controller_spec.rb
  app/spec/controllers/cbv/entries_controller_spec.rb
  app/spec/controllers/pages_controller_spec.rb
Due: rubocop

content, events, and copy link all working... need to tidy up the UI
  app/app/components/link_with_icon_component.html.erb
  app/app/components/link_with_icon_component.rb
  app/app/helpers/application_helper.rb
  app/app/views/cbv/successes/show.html.erb
  app/spec/components/link_with_icon_component_spec.rb
Due: rubocop, erblint

Path conditions:
  rubocop: any of: ^app/.*\.rb$
  erblint: any of: ^app/.*\.erb$
  i18n-normalize: any of: ^app/config/locales/.*\.yml$
  i18n-missing: any of: ^app/config/locales/.*\.yml$
  shellcheck: any of: ^bin/.*$
  prettier: any of: ^app/.*\.(js|ts)$
