Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-unused, i18n-normalize, shellcheck, prettier, terraform_fmt, actionlint

rubocop:
  name: rubocop
  entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
  language: system

erblint:
  name: erblint
  entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
  language: system

i18n-unused:
  name: i18n-unused
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks unused
  language: system
  pass_filenames: false

i18n-normalize:
  name: i18n-normalize
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
  language: system
  pass_filenames: false

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system

prettier:
  name: prettier
  entry: bin/run-linter --cd app -- npm run format:precommit
  language: node

terraform_fmt:
  name: Terraform Fmt
  entry: terraform fmt
  language: system

actionlint:
  name: ActionLint
  entry: actionlint
  language: system
  pass_filenames: false

change to make it redeploy
  app/app/services/data_retention_service.rb
Due: rubocop

FFS-3409: make 10 character invite link tokens (#1014)
  app/app/models/cbv_flow_invitation.rb
  app/config/initializers/active_record/secure_token.rb
  app/config/routes.rb
  app/spec/controllers/cbv/entries_controller_spec.rb
  app/spec/controllers/cbv/successes_controller_spec.rb
  app/spec/models/cbv_flow_invitation_spec.rb
Due: rubocop

Fix deprecation warning
  app/.rubocop.yml
  app/spec/controllers/api/invitations_controller_spec.rb
  app/spec/controllers/api/user_events_controller_spec.rb
  app/spec/controllers/cbv/applicant_informations_controller_spec.rb
Due: rubocop

Fix deprecation warning
  app/config/application.rb
Due: rubocop

Move from omniauth-azure-activedirectory to entra_id
  app/Gemfile
  app/Gemfile.lock
  app/config/initializers/devise.rb
Due: rubocop

fix: app/Gemfile & app/Gemfile.lock to reduce vulnerabilities
  app/Gemfile
  app/Gemfile.lock
Due: none

fix: upgrade esbuild from 0.25.0 to 0.25.10
  app/package.json
Due: none

Add templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

OSPO: Add repository hygiene & code.json workflows for Tier 4 upgrade (#1019)
  .github/workflows/repo-hygiene-check.yml
  .github/workflows/update-codejson.yml
  repolinter.json
Due: actionlint

changes based on repolinter output
  COMMUNITY.md
  README.md
Due: none

Remove COMMUNITY_GUIDELINES.md and add COMMUNITY.md
  COMMUNITY.md
  COMMUNITY_GUIDELINES.md
Due: none

Remove MAINTAINERS.md
  MAINTAINERS.md
Due: none

Update contents of CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Add Community Guidelines to GOVERNANCE.md
  GOVERNANCE.md
Due: none

Update README.md to include Tier 4 sections
  README.md
Due: none

Upgrade rack 3.1.16 -> 3.1.17
  app/Gemfile.lock
Due: none

Upgrade uri 1.0.3 -> 1.0.4
  app/Gemfile.lock
Due: none

Update code.json
  code.json
Due: none

Upgrade rack and uri gems to fix CVEs (#1026)
  app/Gemfile.lock
Due: none

PA ES legal translation
  app/config/locales/es.yml
Due: i18n-unused, i18n-normalize

Remove check to conditionally hide locale button
  app/app/controllers/application_controller.rb
  app/app/controllers/cbv/base_controller.rb
  app/app/views/application/_header.html.erb
Due: rubocop, erblint

Remove check to conditionally hide locale button (#1030)
  app/app/controllers/application_controller.rb
  app/app/controllers/cbv/base_controller.rb
  app/app/views/application/_header.html.erb
Due: rubocop, erblint

remove extra period
  app/config/locales/en.yml
Due: i18n-unused, i18n-normalize

fix: upgrade esbuild from 0.25.0 to 0.25.10 (#1021)
  app/package.json
Due: none

Security upgrade sinatra from 4.1.1 to 4.2.0
  app/Gemfile
  app/Gemfile.lock
Due: none

update deployment readmes (#112)
  docs/app/runbooks/application-configuration.md
  docs/app/runbooks/webhook-configuration.md
  docs/infra/deployment-failures.md
  docs/infra/post-deployment-checklist.md
  docs/infra/prerequisites.md
  docs/infra/set-up-infrastructure-tools.md
  infra/README.md
  infra/project-config/main.tf
Due: terraform_fmt

Add tests to verify generic link works with extra punctuation
  app/spec/controllers/cbv/generic_links_controller_spec.rb
Due: rubocop

Revert "Refactor Generic Link Controller to normalize agency id"
  app/app/controllers/cbv/generic_links_controller.rb
Due: rubocop

Revert "Add tests to verify generic link works with extra punctuation"
  app/spec/controllers/cbv/generic_links_controller_spec.rb
Due: rubocop

Allow generic link handler to accept links with trailing characters
  app/config/routes.rb
  app/lib/client_agency_config.rb
Due: rubocop

Refactor Generic Link Controller to normalize agency id
  app/app/controllers/cbv/generic_links_controller.rb
Due: rubocop

Revert "Allow generic link handler to accept links with trailing characters"
  app/config/routes.rb
  app/lib/client_agency_config.rb
Due: rubocop

Add tests to verify tokenized links with trailing punctuation characters
  app/spec/controllers/cbv/entries_controller_spec.rb
Due: rubocop

Refactor Base Controller to try to normalize auth tokens
  app/app/controllers/cbv/base_controller.rb
Due: rubocop

Handle tokens followed by punctuation by striping the punctuation rather than redirecting
  app/app/controllers/cbv/base_controller.rb
  app/spec/controllers/cbv/entries_controller_spec.rb
Due: rubocop

Overwrite rails default url param constraints to accept punctuation in the token
  app/config/routes.rb
Due: rubocop

change back to dsac configs
  docs/app/runbooks/application-configuration.md
  docs/app/runbooks/webhook-configuration.md
  docs/infra/post-deployment-checklist.md
Due: none

Path conditions:
  rubocop: any of: ^app/.*\.rb$
  erblint: any of: ^app/.*\.erb$
  i18n-unused: any of: ^app/config/locales/.*\.yml$
  i18n-normalize: any of: ^app/config/locales/.*\.yml$
  shellcheck: any of: ^bin/.*$
  prettier: any of: ^app/.*\.(js|ts)$
  terraform_fmt: any of: infra/.*\.tf$
  actionlint: any of: ^.github/.*\.yml$
