Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-unused, i18n-normalize, shellcheck, prettier, terraform_fmt, actionlint

rubocop:
  name: rubocop
  entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
  language: system

erblint:
  name: erblint
  entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
  language: system

i18n-unused:
  name: i18n-unused
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks unused
  language: system
  pass_filenames: false

i18n-normalize:
  name: i18n-normalize
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
  language: system
  pass_filenames: false

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system

prettier:
  name: prettier
  entry: bin/run-linter --cd app -- npm run format:precommit
  language: node

terraform_fmt:
  name: Terraform Fmt
  entry: terraform fmt
  language: system

actionlint:
  name: ActionLint
  entry: actionlint
  language: system
  pass_filenames: false

fine copilot
  app/app/controllers/webhooks/pinwheel/events_controller.rb
Due: rubocop

FFS-4525 No matching employments error should not crash pdf (#2015)
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/spec/components/report/gig_monthly_summary_table_component_spec.rb
  app/spec/components/report/payments_deductions_monthly_summary_component_spec.rb
  app/spec/services/aggregators/aggregator_reports/aggregator_report_spec.rb
Due: rubocop

Remove unneeded error line
  app/app/controllers/cbv/submits_controller.rb
Due: rubocop

FFS-4596 No consent pdf showing (#2013)
  app/app/controllers/cbv/submits_controller.rb
  app/spec/controllers/cbv/submits_controller_spec.rb
Due: rubocop

Security audit: remove api token to streamline what the behavior actually would be (#2016)
  app/app/controllers/webhooks/pinwheel/events_controller.rb
Due: rubocop

Refactor Transmitter > IncomeTransmitter
  app/app/services/income_transmitter.rb
  app/app/services/transmitter.rb
  app/app/services/transmitters/base_pdf_transmitter.rb
  app/app/services/transmitters/encrypted_s3_transmitter.rb
  app/app/services/transmitters/http_pdf_transmitter.rb
  app/app/services/transmitters/json_and_pdf_transmitter.rb
  app/app/services/transmitters/json_transmitter.rb
  app/app/services/transmitters/sftp_transmitter.rb
  app/app/services/transmitters/shared_email_transmitter.rb
  app/spec/services/transmitters/http_pdf_transmitter_spec.rb
  app/spec/services/transmitters/sftp_transmitter_spec.rb
  app/spec/support/pdf_transmitter_examples.rb
Due: rubocop

Add CE Json Transmitter
  CONTRIBUTING.md
  app/app/jobs/activity_flow_transmitter_job.rb
  app/app/services/activity_documents_service.rb
  app/app/services/activity_report_serializer.rb
  app/app/services/activity_transmitter.rb
  app/app/services/transmitter.rb
  app/app/services/transmitters/activity_json_transmitter.rb
  app/app/services/transmitters/activity_s3_transmitter.rb
  app/app/services/transmitters/http_document_transmitter.rb
  app/config/client-agency-config.yml
  app/lib/client_agency_config.rb
  app/lib/json_api_receiver.rb
  app/spec/jobs/activity_flow_transmitter_job_spec.rb
  app/spec/lib/client_agency_config_spec.rb
  app/spec/services/activity_documents_service_spec.rb
  app/spec/services/activity_report_serializer_spec.rb
  app/spec/services/transmitters/activity_json_transmitter_spec.rb
  app/spec/services/transmitters/activity_s3_transmitter_spec.rb
  app/spec/services/transmitters/http_document_transmitter_spec.rb
  docs/api/README.md
  docs/api/ce-activity-report.md
  docs/api/samples/ce-activity-report.json
  docs/api/schemas/ce-activity-report-2026-09-01.json
  docs/local-replication.md
Due: rubocop

Validate activity transmission method passed in with config
  app/lib/client_agency_config.rb
  app/spec/lib/client_agency_config_spec.rb
Due: rubocop

Add v2 invitations api
  app/app/controllers/api/v2/invitations_controller.rb
  app/app/models/cbv_applicant/la_ldh.rb
  app/app/services/client_agency/la_ldh/configuration.rb
  app/app/services/client_agency/la_ldh/report_fields.rb
  app/config/client-agency-config.yml
  app/config/locales/en.yml
  app/config/routes.rb
  app/db/migrate/20260903121720_add_individual_id_to_cbv_applicant.rb
  app/db/schema.rb
  app/spec/controllers/api/v2/invitations_controller_spec.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.mmd
Due: rubocop, i18n-unused, i18n-normalize

Rubocop complaints and remove the nil param
  app/app/controllers/api/invitations_controller.rb
  app/config/locales/es.yml
  app/spec/controllers/api/v2/invitations_controller_spec.rb
Due: rubocop, i18n-unused, i18n-normalize

normalize i18
  app/config/locales/en.yml
Due: i18n-unused, i18n-normalize

Refactor validations
  app/app/controllers/api/v2/invitations_controller.rb
  app/app/models/cbv_applicant/la_ldh.rb
  app/spec/controllers/api/v2/invitations_controller_spec.rb
Due: rubocop

Whitelist params
  app/app/controllers/api/v2/invitations_controller.rb
Due: rubocop

reject individual_id in V1
  app/app/controllers/api/invitations_controller.rb
  app/app/controllers/api/v2/invitations_controller.rb
Due: rubocop

FFS-4289 Remove chromedriver dependency (#2030)
  .github/workflows/e2e-tests.yml
  Brewfile
  CONTRIBUTING.md
  app/bin/update
  docs/local-replication.md
Due: actionlint

Add comments
  app/app/controllers/api/invitations_controller.rb
  app/app/controllers/api/v2/invitations_controller.rb
Due: rubocop

Fix typo
  app/app/controllers/api/invitations_controller.rb
Due: rubocop

Remove trailing whitespace
  app/app/controllers/api/v2/invitations_controller.rb
Due: rubocop

stop logging full vlaidation error messages in employment flow
  app/app/controllers/activities/employment/months_controller.rb
  app/app/controllers/activities/employment_controller.rb
  app/package-lock.json
  app/spec/controllers/activities/employment/months_controller_spec.rb
  app/spec/controllers/activities/employment_controller_spec.rb
Due: rubocop

restore main version
  app/package-lock.json
Due: none

Change to allow switcher on income side
  app/app/views/application/_header.html.erb
  app/spec/e2e/locale_persistence_spec.rb
Due: rubocop, erblint

FFS-4642 Hide language selector (#2029)
  app/app/views/activities/activities/index.html.erb
  app/app/views/application/_header.html.erb
  app/config/locales/en.yml
  app/spec/controllers/activities/activities_controller_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

tests: list error_fields instead of checking for array
  app/spec/controllers/activities/employment/months_controller_spec.rb
  app/spec/controllers/activities/employment_controller_spec.rb
Due: rubocop

tests: both gross income and hours
  app/spec/controllers/activities/education/months_controller_spec.rb
  app/spec/controllers/activities/employment_controller_spec.rb
Due: rubocop

either income or hours
  app/spec/controllers/activities/education/months_controller_spec.rb
Due: rubocop

Remove underscored number suffix on docs unless they otherwise overlap
  app/app/services/activity_documents_service.rb
  app/spec/services/activity_documents_service_spec.rb
  app/spec/services/activity_report_serializer_spec.rb
  app/spec/services/transmitters/activity_json_transmitter_spec.rb
  app/spec/services/transmitters/activity_s3_transmitter_spec.rb
  app/spec/services/transmitters/http_document_transmitter_spec.rb
Due: rubocop

Revert "either income or hours"
  app/spec/controllers/activities/education/months_controller_spec.rb
Due: rubocop

Update app/spec/controllers/activities/education/months_controller_spec.rb
  app/spec/controllers/activities/education/months_controller_spec.rb
Due: rubocop

Update json schema
  docs/api/samples/ce-activity-report.json
  docs/api/schemas/ce-activity-report-2026-09-01.json
Due: none

Implement CE PDF Report
  app/app/assets/stylesheets/activity_report.scss
  app/app/assets/stylesheets/application.postcss.css
  app/app/components/document_uploads_component.html.erb
  app/app/components/document_uploads_component.rb
  app/app/controllers/activities/submit_controller.rb
  app/app/services/activity_pdf_report.rb
  app/app/services/transmitters/activity_s3_transmitter.rb
  app/app/views/activities/submit/_detail_activity.pdf.erb
  app/app/views/activities/submit/_payroll_payments.pdf.erb
  app/app/views/activities/submit/_summary_activity.pdf.erb
  app/app/views/activities/submit/show.pdf.erb
  app/app/views/layouts/pdf.pdf.erb
  app/config/locales/en.yml
  app/spec/components/document_uploads_component_spec.rb
  app/spec/controllers/activities/submit_controller_spec.rb
  app/spec/services/activity_pdf_report_spec.rb
  app/spec/services/transmitters/activity_s3_transmitter_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Address Copilot comments
  app/app/services/activity_report_serializer.rb
  app/app/services/transmitter.rb
  app/lib/json_api_receiver.rb
  app/spec/services/activity_report_serializer_spec.rb
Due: rubocop

Adjust headers
  app/app/controllers/activities/submit_controller.rb
  app/spec/controllers/activities/submit_controller_spec.rb
Due: rubocop

Fix NSC
  app/app/controllers/launcher_controller.rb
  app/app/jobs/application_job.rb
  app/app/services/launcher/nsc_forward_dating_service.rb
  app/app/services/nsc_data_fetcher_service.rb
  app/app/views/launcher/advanced.html.erb
  app/app/views/launcher/launcher.html.erb
  app/spec/controllers/launcher_controller_advanced_spec.rb
  app/spec/controllers/launcher_controller_spec.rb
  app/spec/factories/identity.rb
  app/spec/jobs/application_job_spec.rb
  app/spec/jobs/nsc_synchronization_job_spec.rb
  app/spec/services/launcher/nsc_forward_dating_service_spec.rb
  app/spec/services/nsc_data_fetcher_service_spec.rb
  app/spec/support/fixtures/nsc/dominique_ricardo/insight.json
  app/spec/support/fixtures/nsc/lakhshmi_saxena/insight.json
  app/spec/support/fixtures/nsc/linda/insight.json
  app/spec/support/fixtures/nsc/lynette/insight.json
  app/spec/support/fixtures/nsc/rick_banas/insight.json
  app/spec/support/fixtures/nsc/scott_tobin/insight.json
  app/spec/support/nsc_api_helper.rb
Due: rubocop, erblint

Apply suggestions
  app/app/views/launcher/advanced.html.erb
  app/spec/controllers/launcher_controller_advanced_spec.rb
  app/spec/support/nsc_api_helper.rb
Due: rubocop, erblint

Use same less than half time calculation everywhere
  app/app/models/education_activity.rb
  app/spec/controllers/activities/document_uploads_controller_spec.rb
  app/spec/models/education_activity_spec.rb
Due: rubocop

Show credit hours/hours if present on education card
  app/app/services/education_activity_card_builder.rb
  app/app/views/activities/activities/index.html.erb
  app/spec/controllers/activities/activities_controller_spec.rb
  app/spec/helpers/activities_helper_spec.rb
Due: rubocop, erblint

Comment out help link
  app/app/views/help/_help_link.html.erb
Due: erblint

Skip tests for help
  app/spec/e2e/help_feature_spec.rb
Due: rubocop

FFS-4717 Stop logging full validation error messages (PII risk) in Employment Self-Attested Mixpanel events (#2034)
  app/app/controllers/activities/employment/months_controller.rb
  app/app/controllers/activities/employment_controller.rb
  app/spec/controllers/activities/employment/months_controller_spec.rb
  app/spec/controllers/activities/employment_controller_spec.rb
Due: rubocop

Show help link on income flow
  app/app/views/application/_header.html.erb
  app/app/views/help/_help_link.html.erb
  app/spec/e2e/help_feature_spec.rb
Due: rubocop, erblint

Path conditions:
  rubocop: any of: ^app/.*\.rb$
  erblint: any of: ^app/.*\.erb$
  i18n-unused: any of: ^app/config/locales/.*\.yml$
  i18n-normalize: any of: ^app/config/locales/.*\.yml$
  shellcheck: any of: ^bin/.*$
  prettier: any of: ^app/.*\.(js|ts)$
  terraform_fmt: any of: infra/.*\.tf$
  actionlint: any of: ^.github/.*\.yml$
