Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-normalize, i18n-missing, shellcheck, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml

- repo: local
  hooks:
  - id: rubocop
    name: rubocop
    entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
    language: ruby
    files: '^app/.*\.rb$'

  - id: erblint
    name: erblint
    entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
    language: ruby
    files: '^app/.*\.erb$'

  - id: i18n-normalize
    name: i18n-normalize
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
    language: ruby
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: i18n-missing
    name: i18n-missing
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks missing
    language: ruby
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system        # installed via `brew bundle`
    files: '^bin/.*$'

  - id: prettier
    name: prettier
    entry: bin/run-linter --cd app -- npm run format:precommit
    language: node
    files: '^app/.*\.(js|ts)$'

no longer need two column header component
  app/app/assets/stylesheets/cbv.scss
  app/app/components/report/payments_deductions_monthly_summary_component.html.erb
  app/app/components/table_component.html.erb
  app/app/components/table_component.rb
  app/app/components/table_header_two_column_component.html.erb
  app/app/components/table_header_two_column_component.rb
  app/spec/components/table_header_two_column_component_spec.rb
Due: rubocop, erblint

added translations
  app/config/locales/es.yml
Due: i18n-normalize, i18n-missing

make left column always bold, even on desktop
  app/app/assets/stylesheets/uswds-overrides.scss
Due: none

FFS-3028: Implement Payments and Deductions with Accordions (#832)
  app/app/assets/stylesheets/cbv.scss
  app/app/assets/stylesheets/uswds-overrides.scss
  app/app/components/aggregate_data_point_component.rb
  app/app/components/report/monthly_summary_table_component.erb
  app/app/components/report/payments_deductions_monthly_summary_component.html.erb
  app/app/components/report/payments_deductions_monthly_summary_component.rb
  app/app/components/table_component.html.erb
  app/app/helpers/report_view_helper.rb
  app/app/views/cbv/payment_details/show.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/spec/components/report/payments_deductions_monthly_summary_component_spec.rb
  app/spec/controllers/cbv/payment_details_controller_spec.rb
Due: rubocop, erblint, i18n-normalize, i18n-missing

imported Spanish strings
  app/config/locales/es.yml
Due: i18n-normalize, i18n-missing

FFS-3121: Categorize deductions as pre- or post-tax (#848)
  app/app/components/aggregate_data_point_component.rb
  app/app/components/report/payments_deductions_monthly_summary_component.html.erb
  app/app/components/table_component.rb
  app/app/components/table_header_two_column_component.html.erb
  app/app/components/table_header_two_column_component.rb
  app/app/services/aggregators/response_objects/paystub.rb
  app/app/views/cbv/submits/show.pdf.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/spec/components/aggregate_data_point_component_spec.rb
  app/spec/components/table_header_two_column_component_spec.rb
  app/spec/services/aggregators/aggregator_reports/pinwheel_report_spec.rb
Due: rubocop, erblint, i18n-normalize, i18n-missing

Use cookie for generic links
  app/app/controllers/cbv/generic_links_controller.rb
  app/spec/controllers/cbv/generic_links_controller_spec.rb
Due: rubocop

Raise unless prod
  app/app/controllers/cbv/generic_links_controller.rb
Due: rubocop

fix header for employment details table based on UAT tests and fix failing unit tests
  app/app/components/aggregate_data_point_component.html.erb
  app/spec/components/aggregate_data_point_component_spec.rb
  app/spec/components/report/employment_details_table_component_spec.rb
  app/spec/components/report/gig_monthly_summary_table_component_spec.rb
  app/spec/components/report/w2_monthly_summary_table_component_spec.rb
Due: rubocop, erblint

Refactor methods, rename
  app/app/controllers/cbv/generic_links_controller.rb
Due: rubocop

fix broken rspec test
  app/spec/components/aggregate_data_point_component_spec.rb
Due: rubocop

pass current_agency explicitly
  app/app/services/transmitters/sftp_transmitter.rb
  app/test_pdf.pdf
Due: rubocop

fix margin for accordion
  app/app/components/report/payments_deductions_monthly_summary_component.html.erb
Due: erblint

remove unintentionally committed file
  app/test_pdf.pdf
Due: none

experimental: fix rspec test
  app/spec/jobs/case_worker_transmitter_job_spec.rb
Due: rubocop

experimental -- make mocked logo path apply broadly
  app/spec/jobs/case_worker_transmitter_job_spec.rb
Due: rubocop

[FFS-3085] support pinwheel with partial income support (#856)
  app/app/controllers/cbv/payment_details_controller.rb
  app/app/models/payroll_account/pinwheel.rb
  app/app/views/cbv/payment_details/show.html.erb
  app/spec/controllers/cbv/synchronization_failures_controller_spec.rb
  app/spec/helpers/aggregator_data_helper_spec.rb
  app/spec/models/payroll_account/pinwheel_spec.rb
Due: rubocop, erblint

fix: upgrade webpack from 5.99.9 to 5.100.0
  app/package-lock.json
  app/package.json
Due: none

wip: attempt to comment terraform plan on PRs
  .github/workflows/pr-terraform-plan.yml
  infra/app/app-config/env-config/environment-variables.tf
Due: none

fix actions permissions
  .github/workflows/pr-terraform-plan.yml
Due: none

single line terraform cmd
  .github/workflows/pr-terraform-plan.yml
Due: none

run terraform separately
  .github/workflows/pr-terraform-plan.yml
Due: none

update paths
  .github/workflows/pr-terraform-plan.yml
Due: none

fix permissions block
  .github/workflows/pr-terraform-plan.yml
Due: none

fix matrix setup
  .github/workflows/pr-terraform-plan.yml
Due: none

only run once at a time for locsk
  .github/workflows/pr-terraform-plan.yml
Due: none

disable lock for plans
  .github/workflows/pr-terraform-plan.yml
Due: none

allow to run in parallel without lock
  .github/workflows/pr-terraform-plan.yml
Due: none

FFS-3002: fix sftp report rendering (#865)
  app/app/services/transmitters/sftp_transmitter.rb
  app/spec/jobs/case_worker_transmitter_job_spec.rb
Due: rubocop

Update E2E tests to only wait up to 2 seconds between pages
  app/spec/support/e2e/test_helpers.rb
Due: rubocop

rename variable
  app/app/views/cbv/payment_details/show.html.erb
Due: erblint

rename variable (#869)
  app/app/views/cbv/payment_details/show.html.erb
Due: erblint

remove big spaces between accordions
  app/app/components/accordion_component.html.erb
Due: erblint

add bottom margin on blue divider on entry
  app/app/views/cbv/entries/show.html.erb
Due: erblint

remove too-tall table headers
  app/app/components/table_header_component.html.erb
Due: erblint

make help topic buttons taller
  app/app/views/help/_help_topic_link.html.erb
  app/app/views/help/index.html.erb
Due: erblint

Retry running failed E2E tests via GH Actions
  .github/workflows/e2e-tests.yml
Due: none

FFS-3150: Various CSS fixes (#870)
  app/app/components/accordion_component.html.erb
  app/app/components/table_header_component.html.erb
  app/app/views/cbv/entries/show.html.erb
  app/app/views/help/_help_topic_link.html.erb
  app/app/views/help/index.html.erb
Due: erblint

update translations and change the file (#859)
  app/config/locales/es.yml
  app/lib/i18n_csv_tasks.rb
Due: rubocop, i18n-normalize, i18n-missing

FFS-3027: Update Employment Info & W2 Monthly Summary on Payment Details Page (#854)
  app/app/components/aggregate_data_point_component.html.erb
  app/app/components/report/employment_details_table_component.erb
  app/app/components/report/employment_details_table_component.rb
  app/app/components/report/gig_monthly_summary_table_component.erb
  app/app/components/report/gig_monthly_summary_table_component.rb
  app/app/components/report/payments_deductions_monthly_summary_component.html.erb
  app/app/components/report/w2_monthly_summary_table_component.erb
  app/app/components/report/w2_monthly_summary_table_component.rb
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/app/services/aggregators/format_methods/argyle.rb
  app/app/views/cbv/payment_details/show.html.erb
  app/app/views/cbv/submits/show.pdf.erb
  app/app/views/cbv/summaries/show.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/spec/components/aggregate_data_point_component_spec.rb
  app/spec/components/report/employment_details_table_component_spec.rb
  app/spec/components/report/gig_monthly_summary_table_component_spec.rb
  app/spec/components/report/w2_monthly_summary_table_component_spec.rb
  app/spec/controllers/cbv/payment_details_controller_spec.rb
Due: rubocop, erblint, i18n-normalize, i18n-missing
