Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-normalize, i18n-missing, shellcheck, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml

- repo: local
  hooks:
  - id: rubocop
    name: rubocop
    entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
    language: ruby
    files: '^app/.*\.rb$'

  - id: erblint
    name: erblint
    entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
    language: ruby
    files: '^app/.*\.erb$'

  - id: i18n-normalize
    name: i18n-normalize
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
    language: ruby
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: i18n-missing
    name: i18n-missing
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks missing
    language: ruby
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system        # installed via `brew bundle`
    files: '^bin/.*$'

  - id: prettier
    name: prettier
    entry: bin/run-linter --cd app -- npm run format:precommit
    language: node
    files: '^app/.*\.(js|ts)$'

Add env var to terraform
  infra/app/app-config/env-config/environment-variables.tf
Due: none

Remove testing fields
  app/app/mailers/weekly_report_mailer.rb
  app/spec/mailers/weekly_report_mailer_spec.rb
Due: rubocop

oops actually add scheduled jobs tf
  infra/app/app-config/env-config/scheduled_jobs.tf
Due: none

formatting cleanup
  infra/app/app-config/env-config/scheduled_jobs.tf
Due: none

[FFS-2863] set up telemetry for newrelic solid queue
  app/app/jobs/application_job.rb
  app/app/jobs/test_queueing_job.rb
  app/config/initializers/newrelic_solidqueue.rb
  app/lib/tasks/metrics.rake
Due: rubocop

oh setting it up in the cron scheduler pretty easy. adding it then. cleaning up files
  app/config/initializers/newrelic_solidqueue.rb
Due: rubocop

Move around base fields
  app/app/mailers/weekly_report_mailer.rb
  app/spec/mailers/weekly_report_mailer_spec.rb
Due: rubocop

FFS-2690: Send a report weekly to LA stakeholders (#688)
  app/.env
  app/app/mailers/weekly_report_mailer.rb
  app/config/client-agency-config.yml
  app/lib/tasks/weekly_reports.rake
  app/spec/factories/cbv_flow_invitation.rb
  app/spec/mailers/weekly_report_mailer_spec.rb
  infra/app/app-config/env-config/environment-variables.tf
Due: rubocop

No invitation
  app/app/mailers/weekly_report_mailer.rb
  app/spec/mailers/weekly_report_mailer_spec.rb
Due: rubocop

Refactor to use CbvFlow rather than Invitation
  app/app/mailers/weekly_report_mailer.rb
Due: rubocop

demonstrate what it might look like to be more explicit about client configuration needs
  app/app/client_services/az_des_report.rb
  app/app/client_services/ma_report.rb
  app/app/services/caseworker_application_deliverer.rb
  app/app/services/csv_generator.rb
  app/spec/jobs/case_worker_transmitter_job_spec.rb
Due: rubocop

FFS-2755, FFS-2756, FFS-2757, FFS-2758 setup SFTP file transfer
  app/Gemfile
  app/Gemfile.lock
  app/app/jobs/case_worker_transmitter_job.rb
  app/app/services/caseworker_application_deliverer.rb
  app/app/services/csv_generator.rb
  app/app/services/sftp_gateway.rb
  app/config/client-agency-config.yml
  app/spec/jobs/case_worker_transmitter_job_spec.rb
Due: rubocop

fix to be sending right csv at the right time with a schedule
  app/app/client_services/az_csv_deliverer.rb
  app/app/client_services/az_des_configuration.rb
  app/app/client_services/az_des_report.rb
  app/app/client_services/ma_report.rb
  app/app/jobs/az_report_deliverer_job.rb
  app/app/services/caseworker_application_deliverer.rb
  app/app/services/csv_generator.rb
  app/lib/tasks/az_des.rake
  app/spec/jobs/az_report_deliverer_job_spec.rb
  app/spec/jobs/case_worker_transmitter_job_spec.rb
  infra/app/app-config/env-config/scheduled_jobs.tf
Due: rubocop

rename cleanup
  app/app/client_services/az_csv_deliverer.rb
  app/app/client_services/az_des_recently_submitted_cases_csv.rb
  app/app/jobs/az_report_deliverer_job.rb
Due: rubocop

clean up feedback around naming and logging
  app/app/jobs/az_report_deliverer_job.rb
  app/app/jobs/case_worker_transmitter_job.rb
  app/app/jobs/client_agency/az_des/report_deliverer_job.rb
  app/app/services/client_agency/az_des/configuration.rb
  app/app/services/client_agency/az_des/recently_submitted_cases_csv.rb
  app/app/services/sftp_case_transmitter.rb
  app/lib/tasks/az_des.rake
  app/spec/jobs/client_agency/az_des/report_deliverer_job_spec.rb
Due: rubocop

add az specific env variables
  app/config/client-agency-config.yml
  infra/app/app-config/env-config/environment-variables.tf
Due: none

add az specific env variables
  infra/app/app-config/env-config/environment-variables.tf
Due: none

clean up a filename bug, add padding for formatting, and give them times in arizona's time zone
  app/app/jobs/client_agency/az_des/report_deliverer_job.rb
  app/app/services/client_agency/az_des/configuration.rb
  app/app/services/client_agency/az_des/recently_submitted_cases_csv.rb
  app/spec/jobs/client_agency/az_des/report_deliverer_job_spec.rb
Due: rubocop

fix oops and lets test it while we're at it
  app/app/jobs/application_job.rb
  app/spec/jobs/application_job_spec.rb
Due: rubocop

fix tests
  app/spec/jobs/case_worker_transmitter_job_spec.rb
Due: rubocop

fix: upgrade webpack from 5.99.6 to 5.99.7
  app/package-lock.json
  app/package.json
Due: none

patch nil deduction amount on pdf summary
  app/app/views/cbv/submits/show.pdf.erb
  app/spec/controllers/cbv/submits_controller_spec.rb
  app/spec/support/fixtures/argyle/sarah/request_paystubs.json
Due: rubocop, erblint

Quick bug fix
  app/app/views/cbv/submits/show.pdf.erb
Due: erblint

update value from another test
  app/spec/controllers/webhooks/argyle/events_controller_spec.rb
Due: rubocop

update libpq-dev version
  app/Dockerfile
Due: none

update openssl version
  app/Dockerfile
Due: none

Fix 'undefined method `>' for nil' error on /submits (#691)
  app/Dockerfile
  app/app/views/cbv/submits/show.pdf.erb
  app/spec/controllers/cbv/submits_controller_spec.rb
  app/spec/controllers/webhooks/argyle/events_controller_spec.rb
  app/spec/support/fixtures/argyle/sarah/request_paystubs.json
Due: rubocop, erblint

ignore warnings
  .grype.yml
Due: none

add to trivyignore
  .trivyignore
Due: none

set trivy to alert on high and critical vulnerabilities
  .github/workflows/vulnerability-scans.yml
Due: none

update alert level for achore
  .github/workflows/vulnerability-scans.yml
Due: none

fix: upgrade webpack from 5.99.6 to 5.99.7 (#690)
  app/package-lock.json
  app/package.json
Due: none

temporarily ignore warnings for libc (#692)
  .github/workflows/vulnerability-scans.yml
  .grype.yml
  .trivyignore
Due: none

Add completed scope, use it to only grab completed flows / uniqueness
  app/app/mailers/weekly_report_mailer.rb
  app/app/models/cbv_flow.rb
Due: rubocop

Update test
  app/spec/mailers/weekly_report_mailer_spec.rb
Due: rubocop

Update app/app/mailers/weekly_report_mailer.rb
  app/app/mailers/weekly_report_mailer.rb
Due: rubocop

Update tests
  app/spec/mailers/weekly_report_mailer_spec.rb
Due: rubocop

FFS-2690: Send a report weekly to LA stakeholders (#689)
  app/app/mailers/weekly_report_mailer.rb
  app/app/models/cbv_flow.rb
  app/spec/mailers/weekly_report_mailer_spec.rb
Due: rubocop

Adding client_agency_id to ApplicantFinishedArgyleSync event
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/spec/controllers/webhooks/argyle/events_controller_spec.rb
Due: rubocop

Added client_agency_id to ApplicantFinishedArgyleSync
  app/app/controllers/webhooks/argyle/events_controller.rb
Due: rubocop
