Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-normalize, i18n-missing, shellcheck, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml

- repo: local
  hooks:
  - id: rubocop
    name: rubocop
    entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
    language: ruby
    files: '^app/.*\.rb$'

  - id: erblint
    name: erblint
    entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
    language: ruby
    files: '^app/.*\.erb$'

  - id: i18n-normalize
    name: i18n-normalize
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
    language: ruby
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: i18n-missing
    name: i18n-missing
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks missing
    language: ruby
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system        # installed via `brew bundle`
    files: '^bin/.*$'

  - id: prettier
    name: prettier
    entry: bin/run-linter --cd app -- npm run format:precommit
    language: node
    files: '^app/.*\.(js|ts)$'

clean up mixpanel event tracker
  app/lib/mixpanel_event_tracker.rb
Due: rubocop

address PR feedback
  app/app/jobs/event_tracking_job.rb
  app/lib/generic_event_tracker.rb
  app/spec/generic_event_tracker_spec.rb
  app/spec/rails_helper.rb
Due: rubocop

FFS-2754: Refactor to begin ability to remove maybe_later (#594)
  app/app/controllers/application_controller.rb
  app/app/controllers/cbv/employer_searches_controller.rb
  app/app/jobs/event_tracking_job.rb
  app/app/mailers/application_mailer.rb
  app/lib/generic_event_tracker.rb
  app/lib/mixpanel_event_tracker.rb
  app/lib/new_relic_event_tracker.rb
  app/spec/controllers/cbv/employer_searches_controller_spec.rb
  app/spec/controllers/cbv/entries_controller_spec.rb
  app/spec/controllers/cbv/payment_details_controller_spec.rb
  app/spec/controllers/cbv/summaries_controller_spec.rb
  app/spec/controllers/help_controller_spec.rb
  app/spec/generic_event_tracker_spec.rb
  app/spec/jobs/event_tracking_job_spec.rb
  app/spec/rails_helper.rb
Due: rubocop

Add support for handling the "accounts.updated" webhook
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/app/services/aggregators/webhooks/argyle.rb
  app/spec/controllers/webhooks/argyle/events_controller_spec.rb
  app/spec/factories/webhook_request.rb
Due: rubocop

Implement support for `include_resource` in Argyle webhooks
  app/app/controllers/cbv/synchronizations_controller.rb
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/app/services/aggregators/webhooks/argyle.rb
  app/app/services/argyle_webhooks_manager.rb
Due: rubocop

updated tests
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/spec/controllers/webhooks/argyle/events_controller_spec.rb
  app/spec/factories/webhook_request.rb
Due: rubocop

removed bad test, added unit test
  app/spec/controllers/cbv/payment_details_controller_spec.rb
  app/spec/services/aggregators/validators/useful_report_validator_spec.rb
  app/spec/support/fixtures/pinwheel/request_end_user_valid_and_invalid_paystubs_response.json
  app/spec/support/pinwheel_api_helper.rb
Due: rubocop

cleaned up test setup for domain resolution
  app/spec/controllers/application_controller_spec.rb
Due: rubocop

removed production mock of the environment
  app/spec/controllers/application_controller_spec.rb
Due: rubocop

FFS-2693 - Enable client agency resolution via request Host (#585)
  app/app/controllers/application_controller.rb
  app/config/application.rb
  app/config/client-agency-config.yml
  app/config/environments/production.rb
  app/config/environments/test.rb
  app/lib/client_agency_config.rb
  app/spec/controllers/application_controller_spec.rb
Due: rubocop

FFS-2785: allow paystubs with 0 hours (#593)
  app/app/services/aggregators/validators/useful_report_validator.rb
  app/spec/services/aggregators/validators/useful_report_validator_spec.rb
Due: rubocop

init commit
  app/spec/controllers/cbv/generic_links_controller_spec.rb
Due: rubocop

changes
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/spec/controllers/webhooks/argyle/events_controller_spec.rb
Due: rubocop

fix race condition, add max_polls
  app/app/controllers/cbv/synchronizations_controller.rb
  app/app/javascript/adapters/ArgyleModalAdapter.ts
  app/spec/controllers/cbv/synchronizations_controller_spec.rb
  app/spec/javascript/adapters/ArgyleModalAdapter.spec.js
Due: rubocop, prettier

fix phantom error
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/spec/controllers/webhooks/argyle/events_controller_spec.rb
Due: rubocop

simplify #update logic a little
  app/app/controllers/cbv/synchronizations_controller.rb
Due: rubocop

clean up some code that was unrelated to current work but seemed nice to clean up
  app/app/components/aggregate_data_point_component.html.erb
  app/app/components/aggregate_data_point_component.rb
  app/app/components/table_component.rb
  app/spec/components/aggregate_data_point_component_spec.rb
  app/spec/controllers/cbv/synchronization_failures_controller_spec.rb
Due: rubocop, erblint

clean up some code that was unrelated to current work but seemed nice to clean up (#596)
  app/app/components/aggregate_data_point_component.html.erb
  app/app/components/aggregate_data_point_component.rb
  app/app/components/table_component.rb
  app/spec/components/aggregate_data_point_component_spec.rb
  app/spec/controllers/cbv/synchronization_failures_controller_spec.rb
Due: rubocop, erblint

pull out all polling logic
  app/app/controllers/cbv/synchronizations_controller.rb
  app/spec/controllers/cbv/synchronizations_controller_spec.rb
Due: rubocop

update readme.md and loadtest.js
  load_testing/README.md
  load_testing/loadtest.js
Due: none

refactored away from using payroll_account.identity_errored_at to payroll_account.synchronization_status("account")
  app/app/controllers/cbv/synchronizations_controller.rb
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/app/models/payroll_account/argyle.rb
  app/app/services/aggregators/webhooks/argyle.rb
  app/spec/controllers/cbv/synchronizations_controller_spec.rb
  app/spec/controllers/webhooks/argyle/events_controller_spec.rb
  app/spec/services/argyle_webhooks_manager_spec.rb
Due: rubocop

Update app/app/controllers/webhooks/argyle/events_controller.rb
  app/app/controllers/webhooks/argyle/events_controller.rb
Due: rubocop

Fix broken links issue
  load_testing/README.md
Due: none

fixed failing tests
  app/app/services/aggregators/webhooks/argyle.rb
  app/spec/services/aggregators/webhooks/argyle_spec.rb
Due: rubocop

fix: upgrade sass from 1.86.1 to 1.86.2
  app/package-lock.json
  app/package.json
Due: none

Focus on testing
  app/spec/controllers/cbv/synchronizations_controller_spec.rb
Due: rubocop

updated the webhook for connecting to be accurate
  app/spec/factories/webhook_request.rb
Due: rubocop

fix: upgrade sass from 1.86.1 to 1.86.2 (#600)
  app/package-lock.json
  app/package.json
Due: none

i don't like this solution, but it solves a lot of logic errors and assumptions that don't work for accounts.
  app/app/models/payroll_account/argyle.rb
Due: rubocop

clear last test!
  app/app/models/payroll_account/argyle.rb
  app/spec/controllers/webhooks/argyle/events_controller_spec.rb
Due: rubocop

hours, if 0, now falls back to the largest of the gross_pay_list hours
  app/app/services/aggregators/format_methods/argyle.rb
  app/app/services/aggregators/response_objects/paystub.rb
  app/spec/services/aggregators/response_objects/paystub_spec.rb
Due: rubocop

cleared test on synchronizations test.
  app/spec/controllers/cbv/synchronizations_controller_spec.rb
  app/spec/factories/payroll_account.rb
Due: rubocop

we no longer need this change.
  app/app/models/payroll_account/argyle.rb
Due: rubocop

Add contexts to all the things
  app/spec/controllers/cbv/synchronizations_controller_spec.rb
Due: rubocop

Re-adding loggers that were mistakenly removed.
  app/app/controllers/webhooks/argyle/events_controller.rb
Due: rubocop

fix whitespace issue.
  app/app/controllers/webhooks/argyle/events_controller.rb
Due: rubocop

FFS-2675: Remove artificial delay from ArgyleModalAdapter (#601)
  app/app/controllers/cbv/synchronizations_controller.rb
  app/app/javascript/adapters/ArgyleModalAdapter.ts
  app/spec/controllers/cbv/synchronizations_controller_spec.rb
  app/spec/javascript/adapters/ArgyleModalAdapter.spec.js
Due: rubocop, prettier

Load testing updates (#598)
  load_testing/README.md
  load_testing/loadtest.js
Due: none

removed a commented out test assertion and another assertion which no longer applies as per code review.
  app/spec/controllers/webhooks/argyle/events_controller_spec.rb
Due: rubocop

fixed broken tests in merge
  app/app/controllers/cbv/synchronizations_controller.rb
Due: rubocop
