Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-unused, i18n-normalize, shellcheck, prettier, terraform_fmt, actionlint

rubocop:
  name: rubocop
  entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
  language: system

erblint:
  name: erblint
  entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
  language: system

i18n-unused:
  name: i18n-unused
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks unused
  language: system
  pass_filenames: false

i18n-normalize:
  name: i18n-normalize
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
  language: system
  pass_filenames: false

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system

prettier:
  name: prettier
  entry: bin/run-linter --cd app -- npm run format:precommit
  language: node

terraform_fmt:
  name: Terraform Fmt
  entry: terraform fmt
  language: system

actionlint:
  name: ActionLint
  entry: actionlint
  language: system
  pass_filenames: false

Handle any other non-200 response
  app/app/services/transmitters/json_transmitter.rb
  app/spec/fixtures/vcr_cassettes/json_transmitter_418.yml
  app/spec/services/transmitters/json_transmitter_spec.rb
Due: rubocop

compass logo, update PA DHS copy, enable daily PA DHS summary send
  app/app/assets/images/pa_compass_logo.svg
  app/config/client-agency-config/pa_dhs.yml
  app/config/locales/en.yml
  infra/app/app-config/env-config/scheduled_jobs.tf
Due: i18n-unused, i18n-normalize, terraform_fmt

fix: upgrade sass from 1.90.0 to 1.92.0
  app/package-lock.json
  app/package.json
Due: none

fix: upgrade sass from 1.90.0 to 1.92.0 (#966)
  app/package-lock.json
  app/package.json
Due: none

apply these changes to summarize_by_month, small cleanups
  app/analytics/az post-8-14 durations.csv
  app/analytics/az pre-8-14 durations.csv
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
Due: rubocop

stop tracking csv files
  app/analytics/az post-8-14 durations.csv
  app/analytics/az pre-8-14 durations.csv
Due: none

DRY up the logic, make some methods private
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
Due: rubocop

FFS-3255: Investigate Argyle controller error looking up a cbv_flow without an id (#962)
  app/app/controllers/api/argyle_controller.rb
  app/app/controllers/api/pinwheel_controller.rb
  app/app/controllers/pages_controller.rb
  app/app/javascript/utilities/api.js
  app/spec/controllers/api/argyle_controller_spec.rb
  app/spec/controllers/api/pinwheel_controller_spec.rb
  app/spec/controllers/pages_controller_spec.rb
Due: rubocop, prettier

more idiomatic struct referencing
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
Due: rubocop

FFS-3377: Create skeleton JsonTransmitter (#964)
  app/app/controllers/api/invitations_controller.rb
  app/app/helpers/cbv/aggregator_data_helper.rb
  app/app/jobs/case_worker_transmitter_job.rb
  app/app/jobs/match_agency_names_job.rb
  app/app/models/cbv_applicant.rb
  app/app/services/transmitter.rb
  app/app/services/transmitters/encrypted_s3_transmitter.rb
  app/app/services/transmitters/json_transmitter.rb
  app/app/services/transmitters/sftp_transmitter.rb
  app/app/services/transmitters/shared_email_transmitter.rb
  app/lib/client_agency_config.rb
  app/spec/controllers/cbv/payment_details_controller_spec.rb
  app/spec/fixtures/vcr_cassettes/json_transmitter_200.yml
  app/spec/fixtures/vcr_cassettes/json_transmitter_418.yml
  app/spec/fixtures/vcr_cassettes/json_transmitter_500.yml
  app/spec/jobs/case_worker_transmitter_job_spec.rb
  app/spec/lib/client_agency_config_spec.rb
  app/spec/services/aggregators/sdk/pinwheel_service_spec.rb
  app/spec/services/transmitters/json_transmitter_spec.rb
Due: rubocop

compass logo size at mobile, alt/title on logo img
  app/app/assets/stylesheets/cbv.scss
  app/app/views/application/_header.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: erblint, i18n-unused, i18n-normalize

update pa dhs consent copy override
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: i18n-unused, i18n-normalize

added a test for monthly_summary
  app/spec/services/aggregators/aggregator_reports/argyle_report_spec.rb
Due: rubocop

FFS-3323: Better employment picking (#945)
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/app/services/aggregators/response_objects/employment.rb
  app/app/services/aggregators/response_objects/identity.rb
  app/app/services/aggregators/response_objects/income.rb
  app/app/services/aggregators/response_objects/paystub.rb
  app/spec/components/report/gig_monthly_summary_table_component_spec.rb
  app/spec/components/report/payments_deductions_monthly_summary_component_spec.rb
  app/spec/controllers/cbv/submits_controller_spec.rb
  app/spec/services/aggregators/aggregator_reports/aggregator_report_spec.rb
  app/spec/services/aggregators/aggregator_reports/argyle_report_spec.rb
  app/spec/support/fixtures/argyle/kim/request_identity.json
  app/spec/support/fixtures/argyle/tim/request_identity.json
Due: rubocop

Implement Sinatra receiver
  README.md
  app/Gemfile
  app/Gemfile.lock
  app/bin/api-test
  app/lib/json_api_receiver.rb
Due: rubocop

Implement Sinatra receiver (#967)
  README.md
  app/Gemfile
  app/Gemfile.lock
  app/bin/api-test
  app/lib/json_api_receiver.rb
Due: rubocop

fix: upgrade esbuild from 0.25.0 to 0.25.9
  app/package.json
Due: none

add missing aws variables
  app/config/client-agency-config/az_des.yml
  app/config/client-agency-config/pa_dhs.yml
  infra/app/app-config/env-config/environment-variables.tf
  infra/app/app-config/env-config/scheduled_jobs.tf
Due: terraform_fmt

Remove override for esbuild
  app/package.json
Due: none

Upgrade esbuild from 0.25.0 to 0.25.9 (#968)
  app/package.json
Due: none

an attempt was made
  app/app/services/transmitters/json_transmitter.rb
  app/config/client-agency-config.yml
Due: rubocop

update for vite package bump
  app/postcss.config.js
Due: prettier

fix: upgrade sass from 1.92.0 to 1.92.1
  app/package.json
Due: none

Add #fully_synced_payroll_accounts to CbvFlow model
  app/app/models/cbv_flow.rb
  app/spec/models/cbv_flow_spec.rb
Due: rubocop

Use new #fully_synced_payroll_accounts method to track event
  app/app/jobs/case_worker_transmitter_job.rb
  app/spec/jobs/case_worker_transmitter_job_spec.rb
Due: rubocop

fix: upgrade sass from 1.92.0 to 1.92.1 (#970)
  app/package.json
Due: none

json_transmitter updates + test
  app/app/services/transmitters/json_transmitter.rb
  app/spec/services/transmitters/json_transmitter_spec.rb
Due: rubocop

json_api_signature + test
  app/app/services/json_api_signature.rb
  app/spec/services/json_api_signature_spec.rb
Due: rubocop

update receiver
  app/app/services/json_api_signature.rb
  app/lib/json_api_receiver.rb
Due: rubocop

Fill in aggregator report
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/app/services/transmitters/json_transmitter.rb
  app/spec/services/aggregators/aggregator_reports/aggregator_report_spec.rb
  app/spec/services/transmitters/json_transmitter_spec.rb
Due: rubocop

Update json_api_signature_spec.rb
  app/spec/services/json_api_signature_spec.rb
Due: rubocop

Adjust spaces used to indent lines
  app/spec/jobs/case_worker_transmitter_job_spec.rb
Due: rubocop

our very first seed is born
  app/app/services/transmitters/json_transmitter.rb
  app/db/seeds.rb
Due: rubocop

Update readme.md
  README.md
Due: none

FFS 3356: Set account_count field based only on fully synchronized payroll accounts (#990)
  app/app/jobs/case_worker_transmitter_job.rb
  app/app/models/cbv_flow.rb
  app/spec/jobs/case_worker_transmitter_job_spec.rb
  app/spec/models/cbv_flow_spec.rb
Due: rubocop

FFS-3380: Add signature verification to JSON API (#991)
  README.md
  app/app/services/json_api_signature.rb
  app/app/services/transmitters/json_transmitter.rb
  app/db/seeds.rb
  app/lib/json_api_receiver.rb
  app/spec/services/json_api_signature_spec.rb
  app/spec/services/transmitters/json_transmitter_spec.rb
Due: rubocop

Always allow invitation reuse
  app/app/controllers/cbv/base_controller.rb
  app/config/client-agency-config.yml
  app/lib/client_agency_config.rb
  app/spec/controllers/cbv/entries_controller_spec.rb
Due: rubocop

minor fix
  app/app/services/transmitters/json_transmitter.rb
Due: rubocop

Review fixes
  app/spec/factories/aggregator_report.rb
  app/spec/services/aggregators/aggregator_reports/aggregator_report_spec.rb
Due: rubocop

Fix flaky test in submits controller spec
  app/spec/controllers/cbv/submits_controller_spec.rb
  app/spec/support/fixtures/argyle/kim/request_identity.json
  app/spec/support/fixtures/argyle/tim/request_gigs.json
  app/spec/support/fixtures/argyle/tim/request_identity.json
Due: rubocop

Path conditions:
  rubocop: any of: ^app/.*\.rb$
  erblint: any of: ^app/.*\.erb$
  i18n-unused: any of: ^app/config/locales/.*\.yml$
  i18n-normalize: any of: ^app/config/locales/.*\.yml$
  shellcheck: any of: ^bin/.*$
  prettier: any of: ^app/.*\.(js|ts)$
  terraform_fmt: any of: infra/.*\.tf$
  actionlint: any of: ^.github/.*\.yml$
