Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-unused, i18n-normalize, shellcheck, prettier, terraform_fmt, actionlint

rubocop:
  name: rubocop
  entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
  language: system

erblint:
  name: erblint
  entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
  language: system

i18n-unused:
  name: i18n-unused
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks unused
  language: system
  pass_filenames: false

i18n-normalize:
  name: i18n-normalize
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
  language: system
  pass_filenames: false

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system

prettier:
  name: prettier
  entry: bin/run-linter --cd app -- npm run format:precommit
  language: node

terraform_fmt:
  name: Terraform Fmt
  entry: terraform fmt
  language: system

actionlint:
  name: ActionLint
  entry: actionlint
  language: system
  pass_filenames: false

clean up migrations
  app/db/migrate/20261007180000_add_education_category_to_education_activities.rb
  app/db/migrate/20261008180000_add_education_type_to_education_activities.rb
  app/db/migrate/20261008180000_rename_education_category_to_education_type.rb
Due: rubocop

remove dead link
  README.md
Due: none

reuse first flow with same ID
  app/spec/controllers/feedbacks_controller_spec.rb
Due: rubocop

refactor, use existing icon list component
  app/app/components/uswds/icon_list.html.erb
  app/app/components/uswds/icon_list.rb
  app/app/views/activities/success/show.html.erb
  app/spec/components/uswds/icon_list_spec.rb
  app/spec/controllers/activities/success_controller_spec.rb
Due: rubocop, erblint

FFS-4856 Add report_variant to CeReport (#2155)
  app/app/services/activity_report_serializer.rb
  app/spec/openapi/activity_report_schemas.rb
  app/spec/openapi/activity_report_schemas_spec.rb
  app/spec/services/activity_report_serializer_spec.rb
Due: rubocop

use ternaries
  app/app/views/activities/success/show.html.erb
Due: erblint

Add space
  app/app/services/activity_report_serializer.rb
Due: rubocop

employment -> employment_focused for namespace
  app/app/views/activities/success/show.html.erb
  app/config/locales/en.yml
  app/spec/controllers/activities/success_controller_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Update docs
  docs/api/ce-activity-report.md
  docs/api/samples/ce-activity-report.json
Due: none

Remove dead link
  README.md
Due: none

Route to the correct submit page
  app/app/controllers/activities/base_controller.rb
Due: rubocop

FFS-4856 add report variant to json (#2159)
  README.md
  app/app/services/activity_report_serializer.rb
  docs/api/ce-activity-report.md
  docs/api/samples/ce-activity-report.json
Due: rubocop

Exit to the correct route
  app/app/controllers/activities/entries_controller.rb
  app/app/views/activities/activities/employment_focused_review.html.erb
  app/spec/controllers/activities/entries_controller_spec.rb
Due: rubocop, erblint

Fix matchers
  app/spec/controllers/activities/entries_controller_spec.rb
Due: rubocop

Remove flow header
  app/app/views/activities/activities/employment_focused_review.html.erb
Due: erblint

Make gross_income required
  app/app/controllers/activities/employment/months_controller.rb
  app/app/views/activities/employment/months/edit.html.erb
  app/config/locales/en.yml
  app/spec/controllers/activities/employment/months_controller_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Remove extra line
  app/spec/controllers/activities/employment/months_controller_spec.rb
Due: rubocop

Pass required values for accessibility
  app/app/helpers/uswds_form_builder.rb
  app/spec/controllers/activities/employment/months_controller_spec.rb
Due: rubocop

Update tests
  app/spec/e2e/activity_hub_employment_self_attestation_spec.rb
Due: rubocop

Fix rubocop error
  app/spec/e2e/activity_hub_employment_self_attestation_spec.rb
Due: rubocop

wip add "reporting for" header across CE flow
  app/app/controllers/activities/base_controller.rb
  app/app/controllers/activities/income/synchronizations_controller.rb
  app/app/controllers/activities/success_controller.rb
  app/app/controllers/application_controller.rb
  app/app/helpers/activities_helper.rb
  app/app/views/activities/_reporting_for.html.erb
  app/app/views/layouts/application.html.erb
  app/config/locales/en.yml
  app/spec/controllers/activities/entries_controller_spec.rb
  app/spec/controllers/activities/income/synchronizations_controller_spec.rb
  app/spec/controllers/activities/success_controller_spec.rb
  app/spec/controllers/activities/summary_controller_spec.rb
  app/spec/e2e/employment_focused_entry_spec.rb
  app/spec/helpers/activities_helper_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Don't use native browser validation
  app/app/views/activities/employment/months/edit.html.erb
  app/spec/e2e/activity_hub_employment_self_attestation_spec.rb
Due: rubocop, erblint

Fix test
  app/spec/e2e/activity_hub_employment_self_attestation_spec.rb
Due: rubocop

pass education_type through URL params, replace hardcoded education displays with i18n lookups
  app/app/controllers/activities/base_controller.rb
  app/app/controllers/activities/education/add_your_education_controller.rb
  app/app/controllers/activities/education_controller.rb
  app/app/views/activities/education/_form.html.erb
  app/app/views/activities/education/error.html.erb
  app/app/views/activities/education/other/show.html.erb
  app/app/views/activities/education/verify.html.erb
  app/spec/controllers/activities/education/add_your_education_controller_spec.rb
  app/spec/controllers/activities/education_controller_spec.rb
  app/spec/controllers/activities/submit_controller_spec.rb
  app/spec/controllers/activities/summary_controller_spec.rb
  app/spec/e2e/activity_hub_education_self_attestation_spec.rb
  app/spec/models/education_activity_spec.rb
Due: rubocop, erblint

add EO link
  README.md
Due: none

fix url
  app/spec/controllers/activities/education/other_controller_spec.rb
Due: rubocop

Path conditions:
  rubocop: any of: ^app/.*\.rb$
  erblint: any of: ^app/.*\.erb$
  i18n-unused: any of: ^app/config/locales/.*\.yml$
  i18n-normalize: any of: ^app/config/locales/.*\.yml$
  shellcheck: any of: ^bin/.*$
  prettier: any of: ^app/.*\.(js|ts)$
  terraform_fmt: any of: infra/.*\.tf$
  actionlint: any of: ^.github/.*\.yml$
