Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-normalize, i18n-missing, shellcheck, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml

- repo: local
  hooks:
  - id: rubocop
    name: rubocop
    entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
    language: ruby
    files: '^app/.*\.rb$'

  - id: erblint
    name: erblint
    entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
    language: ruby
    files: '^app/.*\.erb$'

  - id: i18n-normalize
    name: i18n-normalize
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
    language: ruby
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: i18n-missing
    name: i18n-missing
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks missing
    language: ruby
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system        # installed via `brew bundle`
    files: '^bin/.*$'

  - id: prettier
    name: prettier
    entry: bin/run-linter --cd app -- npm run format:precommit
    language: node
    files: '^app/.*\.(js|ts)$'

Refactor date handling and enhance partial month display.
  app/app/components/report/monthly_summary_table_component.erb
  app/app/components/report/monthly_summary_table_component.rb
  app/config/locales/en.yml
  app/spec/components/report/monthly_summary_table_component_spec.rb
Due: rubocop, erblint, i18n-normalize, i18n-missing

fix a flaky spec ian wrote oops
  app/spec/jobs/case_worker_transmitter_job_spec.rb
Due: rubocop

Fix failing spec related to AZ filename timestamp
  app/spec/jobs/case_worker_transmitter_job_spec.rb
Due: rubocop

Fix cron expression for AWS `send_queue_metrics` job
  infra/app/app-config/env-config/scheduled_jobs.tf
Due: none

Fix cron expression for AWS `send_queue_metrics` job (#707)
  infra/app/app-config/env-config/scheduled_jobs.tf
Due: none

agency configurable reuse of invitation link, config for az_des
  app/app/controllers/cbv/base_controller.rb
  app/config/client-agency-config.yml
  app/lib/client_agency_config.rb
Due: rubocop

Scale down now that LA launch traffic has abated
  infra/app/app-config/prod.tf
Due: none

Add subheader row support and refactor table and summary helpers
  app/app/components/report/monthly_summary_table_component.erb
  app/app/components/report/monthly_summary_table_component.rb
  app/app/components/report/monthly_summary_table_helper.rb
  app/app/components/table_cell_component.rb
  app/app/components/table_component.html.erb
  app/app/components/table_component.rb
  app/app/components/table_row_component.html.erb
  app/app/components/table_row_component.rb
  app/config/locales/en.yml
  app/spec/components/report/monthly_summary_table_component_spec.rb
  app/spec/components/table_cell_component_spec.rb
Due: rubocop, erblint, i18n-normalize, i18n-missing

Scale down now that LA launch traffic has abated (#708)
  infra/app/app-config/prod.tf
Due: none

finished testing for partial_month_details
  app/app/components/report/monthly_summary_table_component.rb
  app/app/components/report/monthly_summary_table_helper.rb
  app/config/locales/en.yml
  app/spec/components/report/monthly_summary_table_component_spec.rb
  app/spec/components/report/monthly_summary_table_helper_spec.rb
Due: rubocop, i18n-normalize, i18n-missing

Enhance monthly summary logic and improve test coverage
  app/app/components/report/monthly_summary_table_component.rb
  app/spec/components/report/monthly_summary_table_component_spec.rb
Due: rubocop

Testing
  app/spec/controllers/cbv/entries_controller_spec.rb
Due: rubocop

updated dates and id's in shifts response to correlate with other pinwheel test data.
  app/spec/components/report/monthly_summary_table_component_spec.rb
  app/spec/support/fixtures/pinwheel/request_end_user_shifts_response.json
Due: rubocop

Add comment
  app/app/controllers/cbv/base_controller.rb
Due: rubocop

FFS-2664: Allow CBV links to be re-used by other household members (#709)
  app/app/controllers/cbv/base_controller.rb
  app/config/client-agency-config.yml
  app/lib/client_agency_config.rb
  app/spec/controllers/cbv/entries_controller_spec.rb
Due: rubocop

reset aggregate_data_point_component.rb
  app/app/components/aggregate_data_point_component.rb
Due: rubocop

Add rake task to allow creating AZ DES production user
  app/lib/tasks/az_des.rake
Due: none

Upgrade linux-libc-dev again to resolve security scan again
  app/Dockerfile
Due: none

For some reason, the consent broke in submits testing. Should there be a check on the submits pdf method to ensure that there is cnosent?
  app/spec/controllers/cbv/submits_controller_spec.rb
Due: rubocop

Upgrade linux-libc-dev again to resolve security scan again (#712)
  app/Dockerfile
Due: none

WIP upgrade docker and ruby to new versions
  app/.ruby-version
  app/Dockerfile
  app/Gemfile
  app/Gemfile.lock
Due: none

experiment
  app/Dockerfile
Due: none

added payment list
  app/app/assets/stylesheets/cbv.scss
  app/app/components/report/monthly_summary_table_component.erb
  app/app/components/report/monthly_summary_table_component.rb
  app/app/components/report/monthly_summary_table_helper.rb
  app/app/components/table_component.html.erb
  app/app/components/table_component.rb
  app/app/components/table_header_component.html.erb
  app/app/components/table_header_component.rb
  app/config/locales/en.yml
Due: rubocop, erblint, i18n-normalize, i18n-missing

fix: upgrade webpack from 5.99.7 to 5.99.8
  app/package-lock.json
  app/package.json
Due: none

updated tests for payment details controller
  app/app/views/cbv/payment_details/show.html.erb
  app/spec/controllers/cbv/payment_details_controller_spec.rb
Due: rubocop, erblint

Refactor partial month details logic and update specs.
  app/app/components/report/monthly_summary_table_helper.rb
  app/spec/components/report/monthly_summary_table_component_spec.rb
  app/spec/components/report/monthly_summary_table_helper_spec.rb
Due: rubocop

FFS-2938 fix caseworker report being rendered in spanish
  app/app/jobs/case_worker_transmitter_job.rb
  app/app/services/pdf_service.rb
  app/app/services/sftp_case_transmitter.rb
  app/spec/services/pdf_service_spec.rb
Due: rubocop

FFS-2939 refactor client configuration to make it easier to add to az pdf while making the customization obvious
  app/app/services/client_agency/az_des/configuration.rb
  app/app/services/client_agency/az_des/report_fields.rb
  app/app/services/client_agency/caseworker_report_specific_field_decider.rb
  app/app/services/client_agency/ma/report_fields.rb
  app/app/services/client_agency/nyc/report_fields.rb
  app/app/views/cbv/submits/show.pdf.erb
  app/spec/controllers/cbv/submits_controller_spec.rb
Due: rubocop, erblint

typofix
  app/app/services/client_agency/ma/report_fields.rb
Due: rubocop

at sign cleanup
  app/app/services/client_agency/ma/report_fields.rb
  app/app/services/client_agency/nyc/report_fields.rb
Due: rubocop

press f
  app/spec/services/pdf_service_spec.rb
Due: rubocop

reformat
  app/spec/controllers/cbv/submits_controller_spec.rb
Due: rubocop

fascinating bug
  app/Gemfile
  app/Gemfile.lock
Due: none

whyd we pin brakeman to 5?
  app/Gemfile
  app/Gemfile.lock
Due: none

fix tests
  app/app/services/client_agency/ma/report_fields.rb
  app/config/i18n-tasks.yml
Due: rubocop

FFS-2663: Decrease AZ invitation_valid_days from 14 -> 10
  app/config/client-agency-config.yml
Due: none

Add rake task to allow creating AZ DES production user (#711)
  app/lib/tasks/az_des.rake
Due: none

Test fails
  app/spec/controllers/cbv/summaries_controller_spec.rb
Due: rubocop

submits controller working
  app/app/components/report/monthly_summary_table_component.rb
  app/app/views/cbv/submits/show.pdf.erb
Due: rubocop, erblint
