Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-normalize, i18n-missing, shellcheck, prettier

rubocop:
  name: rubocop
  entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
  language: ruby

erblint:
  name: erblint
  entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
  language: ruby

i18n-normalize:
  name: i18n-normalize
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
  language: ruby
  pass_filenames: false

i18n-missing:
  name: i18n-missing
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks missing
  language: ruby
  pass_filenames: false

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system

prettier:
  name: prettier
  entry: bin/run-linter --cd app -- npm run format:precommit
  language: node

fix first name issue by just using name selection
  app/spec/e2e/client_signup_spec.rb
Due: rubocop

fix rubocop
  app/spec/e2e/cbv_flow_spec.rb
  app/spec/e2e/client_signup_spec.rb
Due: rubocop

saving changes
  app/.env
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/app/services/aggregators/aggregator_reports/argyle_report.rb
  app/app/services/aggregators/sdk/argyle_service.rb
  docs/app/rendered/database-schema.pdf
Due: rubocop

FFS-2552: Add applicant information to caseworker PDF (#534)
  app/app/controllers/cbv/submits_controller.rb
  app/app/views/cbv/submits/show.pdf.erb
  app/app/views/cbv/summaries/show.html.erb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/spec/controllers/cbv/submits_controller_spec.rb
Due: rubocop, erblint, i18n-normalize, i18n-missing

Update app/app/services/aggregators/aggregator_reports/argyle_report.rb
  app/app/services/aggregators/aggregator_reports/argyle_report.rb
Due: rubocop

fixed the params
  app/app/services/aggregators/sdk/argyle_service.rb
Due: rubocop

Apply suggestions from code review
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/app/services/aggregators/aggregator_reports/argyle_report.rb
Due: rubocop

FFS-2657 Argyle Employer Address (#536)
  app/app/services/aggregators/aggregator_reports/argyle_report.rb
  app/app/services/aggregators/format_methods/argyle.rb
  app/app/services/aggregators/response_objects/employment.rb
  app/spec/services/aggregators/aggregator_reports/argyle_report_spec.rb
  app/spec/services/aggregators/format_methods/argyle_spec.rb
Due: rubocop

corrected an issue where the help modal would never react to locale changes
  app/app/javascript/controllers/help.js
  app/app/views/cbv/summaries/show.html.erb
  app/app/views/help/_help_modal.html.erb
  app/app/views/help/index.html.erb
  app/app/views/layouts/application.html.erb
Due: erblint, prettier

demonstrate ability to run e2e tests using VCR and puffing billy
  app/Gemfile
  app/Gemfile.lock
  app/fixtures/vcr_cassettes/e2e_cbv_flow_english.yml
  app/spec/controllers/users/omniauth_callbacks_controller_spec.rb
  app/spec/e2e/cbv_flow_spec.rb
  app/spec/e2e/client_signup_spec.rb
  app/spec/rails_helper.rb
  app/spec/req_cache/get_api.getpinwheel.com_02620475cc6b3ccb5b80ab06426229fdbfcba952.yml
  app/spec/req_cache/get_api.getpinwheel.com_60faddcff6f8cec964bb23f295aecc3e7415a8d8.yml
  app/spec/req_cache/get_api.getpinwheel.com_9f2d3c63d14cf18a6c45b7718c03ae34349fe5a9.yml
  app/spec/req_cache/get_api.getpinwheel.com_ca21df78bbec0919996e2b8b4a0a63c2c1878b0f.yml
  app/spec/req_cache/get_api.getpinwheel.com_d45185aa271b3ae26515fbd0127e92685742ded0.yml
  app/spec/req_cache/get_sandbox.getpinwheel.com_22882c5a8e22b9679ce42f01fe05bc0a7e0e72e7.yml
  app/spec/req_cache/get_sandbox.getpinwheel.com_64c73dd858d0311e9b255f16bf8d19d65dcc8199.yml
  app/spec/req_cache/options_api.getpinwheel.com_02620475cc6b3ccb5b80ab06426229fdbfcba952.yml
  app/spec/req_cache/options_api.getpinwheel.com_60faddcff6f8cec964bb23f295aecc3e7415a8d8.yml
  app/spec/req_cache/options_api.getpinwheel.com_9f2d3c63d14cf18a6c45b7718c03ae34349fe5a9.yml
  app/spec/req_cache/options_api.getpinwheel.com_a6e32a1af1dd5df5acb39bd183f80e661bfe5075.yml
  app/spec/req_cache/options_api.getpinwheel.com_d45185aa271b3ae26515fbd0127e92685742ded0.yml
  app/spec/req_cache/options_api.getpinwheel.com_f0d59ea3930a5cbf0d57ea14b987e85e4fed55f6.yml
  app/spec/req_cache/options_sandbox.getpinwheel.com_22882c5a8e22b9679ce42f01fe05bc0a7e0e72e7.yml
  app/spec/req_cache/options_sandbox.getpinwheel.com_64c73dd858d0311e9b255f16bf8d19d65dcc8199.yml
  app/spec/req_cache/post_api.getpinwheel.com_a6e32a1af1dd5df5acb39bd183f80e661bfe5075_1e5c5006f1bdd570aa3c4760c94ac333037a8384.yml
  app/spec/req_cache/post_api.getpinwheel.com_f0d59ea3930a5cbf0d57ea14b987e85e4fed55f6_1d4fc715ab4ad763b9d563c541d1fd3481631408.yml
  app/spec/req_cache/post_api.getpinwheel.com_f0d59ea3930a5cbf0d57ea14b987e85e4fed55f6_69691c1432e64414d6b8aefb8f95626ec33203f4.yml
  app/spec/support/e2e_test_helpers.rb
  app/spec/support/fake_data_helpers.rb
Due: rubocop

Upgrade vite 6.2.4 -> 6.2.5
  app/package-lock.json
Due: none

Upgrade liblzma5
  app/Dockerfile
Due: none

Make Argyle::EventsController tests verify WebhookEvent creation
  app/spec/controllers/webhooks/argyle/events_controller_spec.rb
  app/spec/factories/webhook_request.rb
Due: rubocop

Pretty-print Pinwheel request stubs
  app/spec/support/fixtures/pinwheel/request_employment_info_response.json
  app/spec/support/fixtures/pinwheel/request_employment_info_response_null_employment_status_bug.json
  app/spec/support/fixtures/pinwheel/request_end_user_accounts_response.json
  app/spec/support/fixtures/pinwheel/request_end_user_multiple_paystubs_response.json
  app/spec/support/fixtures/pinwheel/request_end_user_paystubs_with_no_hours_response.json
  app/spec/support/fixtures/pinwheel/request_identity_response.json
  app/spec/support/fixtures/pinwheel/request_income_metadata_response.json
Due: none

Add fields for DOB/Email/SSN/Phone to ResponseObjects::Identity
  app/app/services/aggregators/response_objects/identity.rb
  app/spec/services/aggregators/response_objects/identity_spec.rb
Due: rubocop

Track which fields reports contain when they finish syncing
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/app/controllers/webhooks/pinwheel/events_controller.rb
  app/app/services/aggregators/aggregator_reports/pinwheel_report.rb
  app/app/services/aggregators/response_objects/paystub.rb
  app/spec/controllers/webhooks/argyle/events_controller_spec.rb
  app/spec/controllers/webhooks/pinwheel/events_controller_spec.rb
  app/spec/rails_helper.rb
  app/spec/services/aggregators/aggregator_reports/pinwheel_report_spec.rb
Due: rubocop

fix: upgrade @uswds/uswds from 3.11.0 to 3.12.0
  app/package-lock.json
  app/package.json
Due: none

Fix tests running at 23:59pm UTC
  app/app/models/cbv_applicant/ma.rb
  app/app/models/cbv_applicant/nyc.rb
Due: rubocop

Add ResponseObject::Earning for paystub earning entries
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/app/controllers/webhooks/pinwheel/events_controller.rb
  app/app/services/aggregators/response_objects/earning.rb
  app/app/services/aggregators/response_objects/paystub.rb
  app/spec/controllers/webhooks/argyle/events_controller_spec.rb
  app/spec/controllers/webhooks/pinwheel/events_controller_spec.rb
  app/spec/services/aggregators/response_objects/paystub_spec.rb
Due: rubocop

Remove Cle from PR review lottery
  .github/reviewer-lottery.yml
Due: none

Remove Cle from PR review lottery (#548)
  .github/reviewer-lottery.yml
Due: none

Use local variable for `payroll_account`
  app/app/controllers/webhooks/argyle/events_controller.rb
Due: rubocop

removed unintentionally-committed file
  app/needs_translation.tsv
Due: none

added 4 missing translations that are already translated elsewhere
  app/config/locales/es.yml
Due: i18n-normalize, i18n-missing

fix rubocop, remove unused file, and fix refactoring bug
  app/Gemfile
  app/spec/controllers/users/omniauth_callbacks_controller_spec.rb
  app/spec/e2e/cbv_flow_spec.rb
  app/spec/e2e/client_signup_spec.rb
  app/spec/rails_helper.rb
  app/spec/support/e2e_test_helpers.rb
  app/spec/support/fake_data_helpers.rb
Due: rubocop

Rename item -> earning_entry
  app/app/services/aggregators/response_objects/earning.rb
Due: rubocop

Remove commented-out config for `fixture_path`
  app/spec/rails_helper.rb
Due: rubocop

Add scary warning comments about no PII in analytics
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/app/controllers/webhooks/pinwheel/events_controller.rb
Due: rubocop

response object, formatting methods, testing
  app/app/services/aggregators/aggregator_reports/pinwheel_report.rb
  app/app/services/aggregators/format_methods/pinwheel.rb
  app/app/services/aggregators/response_objects/gig.rb
  app/spec/services/aggregators/aggregator_reports/pinwheel_report_spec.rb
  app/spec/services/aggregators/response_objects/gig_spec.rb
Due: rubocop

removing env change
  app/.env
Due: none

fix rubocop error
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
Due: rubocop

cleared errors for rspec
  app/app/services/aggregators/aggregator_reports/argyle_report.rb
  app/spec/services/aggregators/aggregator_reports/argyle_report_spec.rb
Due: rubocop

Apply suggestions from code review
  app/app/services/aggregators/sdk/argyle_service.rb
  app/db/schema.rb
Due: rubocop

remove database-schema.pdf
  docs/app/rendered/database-schema.pdf
Due: none

Path conditions:
  rubocop: any of: ^app/.*\.rb$
  erblint: any of: ^app/.*\.erb$
  i18n-normalize: any of: ^app/config/locales/.*\.yml$
  i18n-missing: any of: ^app/config/locales/.*\.yml$
  shellcheck: any of: ^bin/.*$
  prettier: any of: ^app/.*\.(js|ts)$
