Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-unused, i18n-normalize, shellcheck, prettier, terraform_fmt, actionlint

rubocop:
  name: rubocop
  entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
  language: system

erblint:
  name: erblint
  entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
  language: system

i18n-unused:
  name: i18n-unused
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks unused
  language: system
  pass_filenames: false

i18n-normalize:
  name: i18n-normalize
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
  language: system
  pass_filenames: false

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system

prettier:
  name: prettier
  entry: bin/run-linter --cd app -- npm run format:precommit
  language: node

terraform_fmt:
  name: Terraform Fmt
  entry: terraform fmt
  language: system

actionlint:
  name: ActionLint
  entry: actionlint
  language: system
  pass_filenames: false

Fix tests
  app/spec/controllers/launcher_controller_advanced_spec.rb
  app/spec/helpers/activities_helper_spec.rb
Due: rubocop

FFS-4798 Remove prefilled activities (#2070)
  app/app/assets/stylesheets/advanced-launcher.scss
  app/app/controllers/api/invitations_controller.rb
  app/app/controllers/api/v2/invitations_controller.rb
  app/app/controllers/launcher_controller.rb
  app/app/helpers/activities_helper.rb
  app/app/javascript/controllers/advanced_launcher_controller.js
  app/app/models/activity_flow.rb
  app/app/models/activity_flow_invitation.rb
  app/app/services/cbv_invitation_service.rb
  app/app/services/launcher/household_scenario.rb
  app/app/views/activities/activities/index.html.erb
  app/app/views/launcher/_pre_populated_activities.html.erb
  app/app/views/launcher/advanced.html.erb
  app/config/client-agency-config.yml
  app/config/locales/en.yml
  app/db/migrate/20260921190718_remove_pre_populated_activities_from_activity_flow_invitations.rb
  app/db/schema.rb
  app/lib/client_agency_config.rb
  app/spec/controllers/activities/activities_controller_spec.rb
  app/spec/controllers/api/invitations_controller_spec.rb
  app/spec/controllers/household_members_controller_spec.rb
  app/spec/controllers/launcher_controller_advanced_spec.rb
  app/spec/e2e/household_activity_flow_spec.rb
  app/spec/helpers/activities_helper_spec.rb
  app/spec/javascript/controllers/advanced_launcher.spec.js
  app/spec/models/activity_flow_invitation_spec.rb
  app/spec/models/activity_flow_spec.rb
  app/spec/requests/launcher_spec.rb
  app/spec/services/launcher/household_scenario_spec.rb
  docs/app/rendered/.database-diagram-schema-version
Due: rubocop, erblint, i18n-unused, i18n-normalize, prettier

add spanish string, make sure app controller can use it
  app/app/controllers/application_controller.rb
  app/config/locales/es.yml
Due: rubocop, i18n-unused, i18n-normalize

Add employment focused attribute
  app/app/controllers/launcher_controller.rb
  app/app/models/activity_flow.rb
  app/app/views/launcher/advanced.html.erb
  app/db/migrate/20260925134850_add_employment_focused_to_activity_flows.rb
  app/db/schema.rb
Due: rubocop, erblint

Database doc changes
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.mmd
Due: none

update naming, add test that spanish translation works in cbv flow
  app/spec/controllers/application_controller_spec.rb
Due: rubocop

exclude unneeded translation
  app/config/locales/es.yml
Due: i18n-unused, i18n-normalize

remove comment
  app/app/services/provider_search_service.rb
Due: rubocop

Fix specs
  app/app/models/activity_flow_invitation.rb
  app/app/services/cbv_invitation_service.rb
  app/spec/controllers/api/invitations_controller_spec.rb
Due: rubocop

FFS-4853 update v2 with latest (#2105)
  app/app/controllers/api/invitations_controller.rb
  app/app/controllers/api/v2/invitations_controller.rb
  app/app/models/activity_flow_invitation.rb
  app/app/services/cbv_invitation_service.rb
  app/config/client-agency-config.yml
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/routes.rb
  app/db/migrate/20260924172832_add_verification_range_to_activity_flow_invitations.rb
  app/db/schema.rb
  app/lib/client_agency_config.rb
  app/spec/controllers/api/invitations_controller_spec.rb
  app/spec/controllers/api/v2/invitation_metadata_spec.rb
  app/spec/controllers/api/v2/invitations_controller_spec.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.mmd
Due: rubocop, i18n-unused, i18n-normalize

FFS-4847: Add headers to outbound document API (#2102)
  app/app/services/activity_documents_service.rb
  app/app/services/activity_report_serializer.rb
  app/app/services/transmitters/http_document_transmitter.rb
  app/lib/json_api_receiver.rb
  app/spec/services/activity_documents_service_spec.rb
  app/spec/services/transmitters/http_document_transmitter_spec.rb
Due: rubocop

Finished data model for employment focused flow
  app/app/models/activity_flow.rb
  app/app/views/launcher/advanced.html.erb
  app/spec/models/activity_flow_spec.rb
Due: rubocop, erblint

Update overrides
  app/app/controllers/launcher_controller.rb
  app/app/models/activity_flow.rb
  app/spec/models/activity_flow_spec.rb
Due: rubocop

make updates so we can use redirect_to
  app/app/controllers/application_controller.rb
  app/app/views/cbv/employer_searches/show.html.erb
  app/spec/controllers/application_controller_spec.rb
Due: rubocop, erblint

revert helper change
  app/spec/support/title_checker_helper.rb
Due: rubocop

Fix test
  app/spec/models/activity_flow_spec.rb
Due: rubocop

Add employement focused to url
  app/app/controllers/launcher_controller.rb
  app/spec/controllers/launcher_controller_advanced_spec.rb
Due: rubocop

Remove always true override
  app/app/controllers/launcher_controller.rb
  app/spec/controllers/launcher_controller_advanced_spec.rb
Due: rubocop

add shared logic into concern, handle exceptions for each controller, update tests
  app/app/controllers/activities/income/employer_searches_controller.rb
  app/app/controllers/application_controller.rb
  app/app/controllers/cbv/employer_searches_controller.rb
  app/app/controllers/concerns/employer_search_timeout_handling.rb
  app/spec/controllers/activities/income/employer_searches_controller_spec.rb
  app/spec/controllers/application_controller_spec.rb
  app/spec/controllers/cbv/employer_searches_controller_spec.rb
  app/spec/controllers/concerns/employer_search_timeout_handling_spec.rb
Due: rubocop

controllers provide translation text instead of key
  app/app/controllers/activities/income/employer_searches_controller.rb
  app/app/controllers/cbv/employer_searches_controller.rb
  app/app/controllers/concerns/employer_search_timeout_handling.rb
  app/spec/controllers/concerns/employer_search_timeout_handling_spec.rb
Due: rubocop

remove test timeout
  app/spec/controllers/application_controller_spec.rb
Due: rubocop

FFS-4389: Generate Tokenized Link API docs with rswag
  .github/workflows/rspec.yml
  app/.rubocop.yml
  app/Gemfile
  app/Gemfile.lock
  app/lib/tasks/api_docs.rake
  app/spec/openapi/invitation_schemas.rb
  app/spec/requests/api/invitations_spec.rb
  app/spec/swagger_helper.rb
  docs/api/README.md
  docs/api/openapi.json
  docs/api/tokenized-link.md
Due: rubocop, actionlint

FFS-4389: Refine platform API documentation
  app/lib/tasks/api_docs.rake
  app/spec/openapi/invitation_schemas.rb
  app/spec/requests/api/invitations_spec.rb
  app/spec/swagger_helper.rb
  docs/api/openapi.json
  docs/api/tokenized-link.md
Due: rubocop

FFS-4389: Try Scalar for the API documentation
  app/Gemfile
  app/Gemfile.lock
  app/lib/tasks/api_docs.rake
  app/package-lock.json
  app/package.json
  docs/api/licenses/scalar.txt
  docs/api/tokenized-link.md
Due: none

FFS-4389: Prepare automated API documentation publishing
  .github/workflows/api-docs.yml
  .github/workflows/rspec.yml
  app/lib/tasks/api_docs.rake
  app/spec/openapi/invitation_documentation.rb
  app/spec/openapi/invitation_schemas.rb
  app/spec/openapi/invitation_schemas_spec.rb
  app/spec/requests/api/invitations_spec.rb
  app/spec/swagger_helper.rb
  app/vendor/licenses/scalar.txt
  docs/api/README.md
  docs/api/ce-activity-report.md
  docs/api/income-report.md
  docs/api/openapi.json
  docs/api/pdf-transmission.md
  docs/api/request-api-access.md
  docs/api/tokenized-link.md
  docs/local-replication.md
Due: rubocop, actionlint

FFS-4389: Group endpoint docs and rename agency metadata models
  app/spec/openapi/invitation_documentation.rb
  app/spec/openapi/invitation_documentation_spec.rb
  app/spec/openapi/invitation_schemas.rb
  app/spec/openapi/invitation_schemas_spec.rb
  app/spec/requests/api/invitations_spec.rb
  docs/api/README.md
  docs/api/invitation-response.md
  docs/api/post-v1-invitations.md
Due: rubocop

Upgrade npm packages, including fast-uri for vuln scan
  app/package-lock.json
  app/package.json
Due: none

FFS-4389: Load API reference descriptions from Markdown
  .github/workflows/api-docs.yml
  app/spec/openapi/invitation_documentation.rb
  app/spec/openapi/invitation_documentation_spec.rb
  app/spec/openapi/invitation_schemas.rb
  app/spec/requests/api/invitations_spec.rb
  app/spec/swagger_helper.rb
  docs/api/README.md
  docs/api/agency-partner-metadata.md
  docs/api/ce-activity-report.md
  docs/api/invitation-response.md
  docs/api/overview.md
  docs/api/pdf-transmission.md
  docs/api/post-v1-invitations.md
  docs/local-replication.md
Due: rubocop, actionlint

FFS-4389: Allow additive OpenAPI schema changes
  app/spec/openapi/invitation_schemas.rb
  app/spec/openapi/invitation_schemas_spec.rb
  docs/api/README.md
  docs/api/overview.md
Due: rubocop

FFS-4389: Align API docs with income-only invitations
  app/spec/openapi/invitation_schemas.rb
  app/spec/openapi/invitation_schemas_spec.rb
  app/spec/requests/api/invitations_spec.rb
  docs/api/post-v1-invitations.md
Due: rubocop

FFS-4389: Require metadata names only for New Hampshire
  app/spec/openapi/invitation_schemas.rb
  app/spec/openapi/invitation_schemas_spec.rb
Due: rubocop

FFS-4389: Fetch Scalar license during the docs build
  app/lib/tasks/api_docs.rake
  app/spec/lib/api_docs_rake_spec.rb
  app/vendor/licenses/scalar.txt
  docs/api/README.md
Due: rubocop

FFS-4389: Remove Scalar license download integration
  .github/workflows/api-docs.yml
  app/lib/tasks/api_docs.rake
  app/spec/lib/api_docs_rake_spec.rb
  docs/api/README.md
Due: rubocop, actionlint

Update markdown link checker to retry on 429 status
  .github/workflows/markdownlint-config.json
Due: none

Add employment invitations
  app/app/controllers/api/v2/invitations_controller.rb
  app/app/models/activity_flow_invitation.rb
  app/app/models/cbv_applicant/la_ldh.rb
  app/app/models/cbv_flow_invitation.rb
  app/app/models/flow.rb
  app/app/services/cbv_invitation_service.rb
  app/config/client-agency-config.yml
  app/config/locales/en.yml
  app/config/routes.rb
  app/db/migrate/20260928153131_add_verification_range_to_cbv_flow_invitations.rb
  app/db/schema.rb
  app/spec/controllers/api/v2/invitation_metadata_spec.rb
  app/spec/controllers/api/v2/invitations_controller_spec.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.mmd
Due: rubocop, i18n-unused, i18n-normalize

fix: patch Dockerfile for OS-level CVEs flagged by Trivy/Anchore
  app/Dockerfile
Due: none

Consolidate Turbo waiting in wait_for_idle
  app/spec/support/e2e/test_helpers.rb
Due: rubocop

FFS-4849: Handle employer search timeouts gracefully (#2101)
  app/app/controllers/activities/income/employer_searches_controller.rb
  app/app/controllers/cbv/employer_searches_controller.rb
  app/app/controllers/concerns/employer_search_timeout_handling.rb
  app/app/views/cbv/employer_searches/show.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/spec/controllers/activities/income/employer_searches_controller_spec.rb
  app/spec/controllers/cbv/employer_searches_controller_spec.rb
  app/spec/controllers/concerns/employer_search_timeout_handling_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Path conditions:
  rubocop: any of: ^app/.*\.rb$
  erblint: any of: ^app/.*\.erb$
  i18n-unused: any of: ^app/config/locales/.*\.yml$
  i18n-normalize: any of: ^app/config/locales/.*\.yml$
  shellcheck: any of: ^bin/.*$
  prettier: any of: ^app/.*\.(js|ts)$
  terraform_fmt: any of: infra/.*\.tf$
  actionlint: any of: ^.github/.*\.yml$
