Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-unused, i18n-normalize, shellcheck, prettier, terraform_fmt, actionlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml

- repo: local
  hooks:
  - id: rubocop
    name: rubocop
    entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
    language: system
    files: '^app/.*\.rb$'

  # this rubocop hook works on windows/wsl, and is being left here as of 8/27/2025 to figure it out at some point
  #- id: rubocop
  #  name: rubocop
  #  language: system
  #  entry: bash -lc 'BUNDLE_GEMFILE=app/Gemfile cd app && bundle exec rubocop -a --force-exclusion'
  #  types: [ ruby ]
  #  files: '^app/.*\.rb$'
  #  pass_filenames: false

  - id: erblint
    name: erblint
    entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
    language: system
    files: '^app/.*\.erb$'

  - id: i18n-unused
    name: i18n-unused
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks unused
    language: system
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: i18n-normalize
    name: i18n-normalize
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
    language: system
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system        # installed via `brew bundle`
    files: '^bin/.*$'

  - id: prettier
    name: prettier
    entry: bin/run-linter --cd app -- npm run format:precommit
    language: node
    files: '^app/.*\.(js|ts)$'

  - id: terraform_fmt
    name: Terraform Fmt
    entry: terraform fmt
    language: system
    files: 'infra/.*\.tf$'

#  - id: checkov
#    name: Checkov
#    entry: checkov --quiet --output sarif --framework terraform -f
#    language: system
#    files: 'infra/.*\.tf$'

  - id: actionlint
    name: ActionLint
    entry: actionlint
    language: system
    files: '^.github/.*\.yml$'
    pass_filenames: false

Remove "Enrollment status" boolean
  app/app/components/enrollment_term_table_component.erb
  app/app/components/enrollment_term_table_component.rb
  app/config/locales/en.yml
Due: rubocop, erblint, i18n-unused, i18n-normalize

FFS-3687: Implement Education Review Details Screen (#1322)
  app/app/helpers/activities/education_helper.rb
  app/app/jobs/nsc_synchronization_job.rb
  app/app/models/education_activity.rb
  app/app/models/nsc_enrollment_term.rb
  app/app/services/aggregators/sdk/nsc_service.rb
  app/app/services/nsc_data_fetcher_service.rb
  app/app/views/activities/activities/index.html.erb
  app/app/views/activities/education/edit.html.erb
  app/config/locales/en.yml
  app/db/migrate/20260128013838_create_nsc_enrollment_terms.rb
  app/db/migrate/20260128020952_remove_enrollment_status_and_school_from_education_activity.rb
  app/db/schema.rb
  app/spec/e2e/activity_hub_spec.rb
  app/spec/factories/education_activity.rb
  app/spec/services/aggregators/sdk/nsc_service_spec.rb
  app/spec/services/nsc_data_fetcher_service_spec.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.pdf
Due: rubocop, erblint, i18n-unused, i18n-normalize

added deductions and fixed test
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/spec/services/aggregators/aggregator_reports/aggregator_report_spec.rb
Due: rubocop

added new test
  app/spec/factories/aggregator_report.rb
  app/spec/services/aggregators/aggregator_reports/aggregator_report_spec.rb
Due: rubocop

Remove duplicate "your" on Activities success page
  app/config/locales/en.yml
Due: i18n-unused, i18n-normalize

FFS-3690: Update Review and Submit with Education Details (#1323)
  app/app/components/enrollment_term_table_component.erb
  app/app/components/enrollment_term_table_component.rb
  app/app/controllers/activities/submit_controller.rb
  app/app/controllers/activities/summary_controller.rb
  app/app/helpers/activities/education_helper.rb
  app/app/views/activities/activities/index.html.erb
  app/app/views/activities/education/_status.html.erb
  app/app/views/activities/education/edit.html.erb
  app/app/views/activities/submit/show.pdf.erb
  app/app/views/activities/summary/show.html.erb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
Due: rubocop, erblint, i18n-unused, i18n-normalize

update English string
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: i18n-unused, i18n-normalize

Remove submit navigation
  app/app/services/activity_flow_navigator.rb
Due: rubocop

Update summary controller
  app/app/controllers/activities/summary_controller.rb
Due: rubocop

View updates because linter is weird?
  app/app/views/activities/summary/_education_table.html.erb
  app/app/views/activities/summary/_employment_table.html.erb
Due: erblint

views
  app/app/views/activities/summary/_education_table.html.erb
  app/app/views/activities/summary/_employment_table.html.erb
  app/app/views/activities/summary/_job_training_table.html.erb
  app/app/views/activities/summary/_volunteering_table.html.erb
  app/app/views/activities/summary/show.html.erb
Due: erblint

test
  app/spec/controllers/activities/summary_controller_spec.rb
Due: rubocop

content updates
  app/config/locales/en.yml
Due: i18n-unused, i18n-normalize

Delete education partial, update summary
  app/app/views/activities/summary/_education_table.html.erb
  app/spec/controllers/activities/summary_controller_spec.rb
Due: rubocop, erblint

Spanish translation
  app/config/locales/es.yml
Due: i18n-unused, i18n-normalize

FFS-3628: Update 13 character help text string (#1326)
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: i18n-unused, i18n-normalize

Add lookbook gem for component previewing
  app/Gemfile
  app/Gemfile.lock
  app/app/controllers/application_controller.rb
  app/app/controllers/cbv/submits_controller.rb
  app/app/views/layouts/component_preview.html.erb
  app/config/application.rb
  app/config/environments/production.rb
  app/config/routes.rb
  app/spec/components/previews/application_preview.rb
  app/spec/components/previews/memorable_date_component_preview.rb
  app/spec/controllers/application_controller_spec.rb
Due: rubocop, erblint

refactor summary controller
  app/app/controllers/activities/summary_controller.rb
Due: rubocop

fix view issues
  app/app/views/activities/summary/_job_training_table.html.erb
  app/app/views/activities/summary/_volunteering_table.html.erb
Due: erblint

Spec name update
  app/spec/controllers/activities/summary_controller_spec.rb
Due: rubocop

Remove other `show_demo_banner` variables
  app/config/environments/development.rb
  app/config/environments/staging.rb
  app/config/environments/test.rb
Due: rubocop

Update E2E test mocks to stub Argyle webhook signature
  app/app/services/aggregators/webhooks/argyle.rb
  app/spec/e2e/cbv_flow_spec.rb
  app/spec/fixtures/e2e/e2e_cbv_flow_english_argyle_only/aggregator_modal_callbacks.yml
  app/spec/fixtures/e2e/e2e_cbv_flow_english_argyle_only/ngrok_requests.yml
  app/spec/fixtures/e2e/e2e_cbv_flow_english_argyle_only/vcr_http_requests.yml
  app/spec/support/e2e/mocking_service.rb
Due: rubocop

e2e updates
  app/spec/e2e/activity_hub_spec.rb
  app/spec/support/e2e/mocking_service.rb
Due: rubocop

Add lookbook gem for component previewing (#1327)
  app/Gemfile
  app/Gemfile.lock
  app/app/controllers/application_controller.rb
  app/app/controllers/cbv/submits_controller.rb
  app/app/views/layouts/component_preview.html.erb
  app/config/application.rb
  app/config/environments/development.rb
  app/config/environments/production.rb
  app/config/environments/staging.rb
  app/config/environments/test.rb
  app/config/routes.rb
  app/spec/components/previews/application_preview.rb
  app/spec/components/previews/memorable_date_component_preview.rb
  app/spec/controllers/application_controller_spec.rb
Due: rubocop, erblint

Update E2E test mocks to stub Argyle webhook signature (#1328)
  app/app/services/aggregators/webhooks/argyle.rb
  app/spec/e2e/cbv_flow_spec.rb
  app/spec/fixtures/e2e/e2e_cbv_flow_english_argyle_only/aggregator_modal_callbacks.yml
  app/spec/fixtures/e2e/e2e_cbv_flow_english_argyle_only/ngrok_requests.yml
  app/spec/fixtures/e2e/e2e_cbv_flow_english_argyle_only/vcr_http_requests.yml
  app/spec/support/e2e/mocking_service.rb
Due: rubocop

FFS-3701: Add deductions to paystub object on json api (#1324)
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/spec/factories/aggregator_report.rb
  app/spec/services/aggregators/aggregator_reports/aggregator_report_spec.rb
Due: rubocop

clean up volunteering
  app/app/views/activities/summary/_volunteering_table.html.erb
Due: erblint

Fix duplicate "Activity" text
  app/config/locales/en.yml
Due: i18n-unused, i18n-normalize

Fix config for Lookbook
  app/config/application.rb
Due: rubocop

Add previews for Synchronization Indicators, Tables, and Alerts
  app/spec/components/previews/synchronization_indicator_component_preview.rb
  app/spec/components/previews/table_component_preview.rb
  app/spec/components/previews/uswds/alert_preview.rb
Due: rubocop

Add preview to Accordion component
  app/spec/components/previews/accordion_component_preview.rb
Due: rubocop

Only retry JSON if it hasn't been sent already
  app/app/services/transmitters/json_and_pdf_transmitter.rb
  app/app/services/transmitters/json_transmitter.rb
  app/db/migrate/20260127180624_add_json_transmitted_at_to_cbv_flows.rb
  app/spec/services/transmitters/json_and_pdf_transmitter_spec.rb
  app/spec/services/transmitters/json_transmitter_spec.rb
Due: rubocop

Remove Rails.cache
  app/app/services/aggregators/sdk/nsc_service.rb
  app/spec/services/aggregators/sdk/nsc_service_spec.rb
Due: rubocop

Schema
  app/db/schema.rb
Due: rubocop

FFS-3651: Implement changes to the Summary page (#1325)
  app/app/controllers/activities/summary_controller.rb
  app/app/services/activity_flow_navigator.rb
  app/app/views/activities/summary/_employment_table.html.erb
  app/app/views/activities/summary/_job_training_table.html.erb
  app/app/views/activities/summary/_volunteering_table.html.erb
  app/app/views/activities/summary/show.html.erb
  app/config/locales/en.yml
  app/spec/controllers/activities/summary_controller_spec.rb
  app/spec/e2e/activity_hub_spec.rb
  app/spec/support/e2e/mocking_service.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

FFS-3699: Only retry JSON if it hasn't been sent already in JsonPdfTransmitter (#1321)
  app/app/services/transmitters/json_and_pdf_transmitter.rb
  app/app/services/transmitters/json_transmitter.rb
  app/db/migrate/20260127180624_add_json_transmitted_at_to_cbv_flows.rb
  app/db/schema.rb
  app/spec/services/transmitters/json_and_pdf_transmitter_spec.rb
  app/spec/services/transmitters/json_transmitter_spec.rb
Due: rubocop

Job retries bumped from 3 > 5
  app/app/jobs/application_job.rb
Due: rubocop

Revert "FFS-3701: Add deductions to paystub object on json api (#1324)"
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/spec/factories/aggregator_report.rb
  app/spec/services/aggregators/aggregator_reports/aggregator_report_spec.rb
Due: rubocop

first draft -- add progress calcs to employment flow
  app/app/controllers/cbv/payment_details_controller.rb
  app/app/services/activity_flow_progress_calculator.rb
Due: rubocop

FFS-3705: Remove calls to Rails.cache from NSC API (#1330)
  app/app/services/aggregators/sdk/nsc_service.rb
  app/spec/services/aggregators/sdk/nsc_service_spec.rb
Due: rubocop
