Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-unused, i18n-normalize, shellcheck, prettier, terraform_fmt, actionlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml

- repo: local
  hooks:
  - id: rubocop
    name: rubocop
    entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
    language: system
    files: '^app/.*\.rb$'

  # this rubocop hook works on windows/wsl, and is being left here as of 8/27/2025 to figure it out at some point
  #- id: rubocop
  #  name: rubocop
  #  language: system
  #  entry: bash -lc 'BUNDLE_GEMFILE=app/Gemfile cd app && bundle exec rubocop -a --force-exclusion'
  #  types: [ ruby ]
  #  files: '^app/.*\.rb$'
  #  pass_filenames: false

  - id: erblint
    name: erblint
    entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
    language: system
    files: '^app/.*\.erb$'

  - id: i18n-unused
    name: i18n-unused
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks unused
    language: system
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: i18n-normalize
    name: i18n-normalize
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
    language: system
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system        # installed via `brew bundle`
    files: '^bin/.*$'

  - id: prettier
    name: prettier
    entry: bin/run-linter --cd app -- npm run format:precommit
    language: node
    files: '^app/.*\.(js|ts)$'

  - id: terraform_fmt
    name: Terraform Fmt
    entry: terraform fmt
    language: system
    files: 'infra/.*\.tf$'

#  - id: checkov
#    name: Checkov
#    entry: checkov --quiet --output sarif --framework terraform -f
#    language: system
#    files: 'infra/.*\.tf$'

  - id: actionlint
    name: ActionLint
    entry: actionlint
    language: system
    files: '^.github/.*\.yml$'
    pass_filenames: false

Update schema.rb
  app/db/schema.rb
Due: rubocop

Update schema.rb to remove stale reference to dropped table (#1211)
  app/db/schema.rb
Due: rubocop

forcing http images to be https
  app/app/views/cbv/employer_searches/_employer.html.erb
  app/config/initializers/content_security_policy.rb
Due: rubocop, erblint

show empty block if no image is present
  app/app/views/cbv/employer_searches/_employer.html.erb
Due: erblint

updated content security policy
  app/config/initializers/content_security_policy.rb
Due: rubocop

Implement generic + tokenized links
  app/app/controllers/activities/base_controller.rb
  app/app/controllers/activities/entries_controller.rb
  app/app/controllers/cbv/base_controller.rb
  app/app/controllers/flow_controller.rb
  app/app/models/activity_flow.rb
  app/app/models/activity_flow_invitation.rb
  app/config/locales/en.yml
  app/config/routes.rb
  app/db/migrate/20251209230406_create_activity_flow_invitations.rb
  app/db/schema.rb
  app/lib/tasks/activity_flow_invitation.rake
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.pdf
Due: rubocop, i18n-unused, i18n-normalize

Update libpng-dev to address security vulnerabilities
  app/Dockerfile
Due: none

Add more NewRelic queue metrics (#1209)
  app/app/jobs/record_batched_newrelic_metrics_job.rb
  app/spec/jobs/record_batched_newrelic_metrics_job_spec.rb
Due: rubocop

Testing
  app/spec/controllers/activities/entries_controller_spec.rb
  app/spec/factories/activity_flow_invitation.rb
  app/spec/models/activity_flow_invitation_spec.rb
  app/spec/models/activity_flow_spec.rb
Due: rubocop

Update libpng-dev to address security vulnerabilities (#1213)
  app/Dockerfile
Due: none

respond_to? felt overkill
  app/app/controllers/activities/base_controller.rb
  app/app/controllers/flow_controller.rb
Due: rubocop

FFS-3568: Implement generic & tokenized links for Activity Hub (#1214)
  app/app/controllers/activities/base_controller.rb
  app/app/controllers/activities/entries_controller.rb
  app/app/controllers/cbv/base_controller.rb
  app/app/controllers/flow_controller.rb
  app/app/models/activity_flow.rb
  app/app/models/activity_flow_invitation.rb
  app/config/locales/en.yml
  app/config/routes.rb
  app/db/migrate/20251209230406_create_activity_flow_invitations.rb
  app/db/schema.rb
  app/lib/tasks/activity_flow_invitation.rake
  app/spec/controllers/activities/entries_controller_spec.rb
  app/spec/factories/activity_flow_invitation.rb
  app/spec/models/activity_flow_invitation_spec.rb
  app/spec/models/activity_flow_spec.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.pdf
Due: rubocop, i18n-unused, i18n-normalize

Ensure the current_flow is reloaded after possibly creating associated models
  app/spec/controllers/activities/activities_controller_spec.rb
Due: rubocop

Remove superfluous where clause
  app/app/controllers/activities/activities_controller.rb
Due: rubocop

FFS-3597-employer-images-missing-sometimes
  app/app/views/cbv/employer_searches/_employer.html.erb
Due: erblint

conditionally render employer images
  app/app/views/cbv/employer_searches/_employer.html.erb
Due: erblint

Update activities_controller.rb
  app/app/controllers/activities/activities_controller.rb
Due: rubocop

Activities controller spec fix (#1212)
  app/app/controllers/activities/activities_controller.rb
  app/spec/controllers/activities/activities_controller_spec.rb
Due: rubocop

FFS-3597-employer-images-missing-sometimes (#1204)
  app/app/views/cbv/employer_searches/_employer.html.erb
Due: erblint

OSPO: Update repolinter.json to use Tier 3 version
  repolinter.json
Due: none

doc: update .gitignore to include quarto files
  .gitignore
Due: none

feat: initiate mixpanel cleaning, structure, + review
  app/analytics/ffs_analytics.qmd
Due: none

feat: continue exploring data
  app/analytics/ffs_analytics.qmd
Due: none

feat: update pilot periods for LA Aug+Nov
  app/analytics/analytics.ipynb
Due: none

OSPO: Update repolinter.json to use Tier 3 version (#1215)
  repolinter.json
Due: none

Agency configuration
  app/app/controllers/flow_controller.rb
  app/app/helpers/application_helper.rb
  app/app/views/activities/activities/index.html.erb
  app/app/views/activities/entries/show.html.erb
  app/app/views/activities/submit/show.html.erb
  app/app/views/activities/success/show.html.erb
  app/app/views/activities/summary/show.html.erb
  app/config/client-agency-config.yml
  app/config/locales/en.yml
  app/config/routes.rb
  app/lib/client_agency_config.rb
  app/lib/tasks/activity_flow_invitation.rake
Due: rubocop, erblint, i18n-unused, i18n-normalize

test
  app/spec/helpers/application_helper_spec.rb
Due: rubocop

changes based on repolinter output
  COMMUNITY.md
  README.md
Due: none

fix e2e
  app/spec/e2e/activity_hub_spec.rb
Due: rubocop

FFS-3603: Add agency customization of Activity flow (#1225)
  app/app/controllers/flow_controller.rb
  app/app/helpers/application_helper.rb
  app/app/views/activities/activities/index.html.erb
  app/app/views/activities/entries/show.html.erb
  app/app/views/activities/submit/show.html.erb
  app/app/views/activities/success/show.html.erb
  app/app/views/activities/summary/show.html.erb
  app/config/client-agency-config.yml
  app/config/locales/en.yml
  app/config/routes.rb
  app/lib/client_agency_config.rb
  app/lib/tasks/activity_flow_invitation.rake
  app/spec/e2e/activity_hub_spec.rb
  app/spec/helpers/application_helper_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Fix test
  app/spec/factories/cbv_applicant.rb
Due: rubocop

Fix failing rspec tests on main (#1226)
  app/spec/factories/cbv_applicant.rb
Due: rubocop

feat: add questions and continuet to build out analytics
  app/analytics/ffs_analytics.qmd
Due: none

feat: more exploration
  app/analytics/ffs_analytics.qmd
Due: none

Update COMMUNITY.md
  COMMUNITY.md
Due: none

Update README.md
  README.md
Due: none
