Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-unused, i18n-normalize, shellcheck, prettier, terraform_fmt, actionlint

rubocop:
  name: rubocop
  entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
  language: system

erblint:
  name: erblint
  entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
  language: system

i18n-unused:
  name: i18n-unused
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks unused
  language: system
  pass_filenames: false

i18n-normalize:
  name: i18n-normalize
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
  language: system
  pass_filenames: false

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system

prettier:
  name: prettier
  entry: bin/run-linter --cd app -- npm run format:precommit
  language: node

terraform_fmt:
  name: Terraform Fmt
  entry: terraform fmt
  language: system

actionlint:
  name: ActionLint
  entry: actionlint
  language: system
  pass_filenames: false

Add rake tasks to generate test urls in demo
  app/app/services/aggregators/sdk/nsc_service.rb
Due: rubocop

Shift enrollment dates in demo mode
  app/app/services/aggregators/sdk/nsc_service.rb
  app/spec/services/aggregators/sdk/nsc_service_spec.rb
Due: rubocop

One source of truth for demo mode
  app/app/services/aggregators/sdk/nsc_service.rb
Due: rubocop

Moved responsibility around
  app/app/services/aggregators/sdk/nsc_service.rb
  app/app/services/nsc_data_fetcher_service.rb
  app/spec/services/aggregators/sdk/nsc_service_spec.rb
  app/spec/services/nsc_data_fetcher_service_spec.rb
Due: rubocop

Reinstate LA `pdf_api_url` configuration (#1385)
  app/config/client-agency-config.yml
  app/lib/tasks/scanning.rake
Due: none

FFS-3770: Update entry page design (#1378)
  app/app/components/uswds/icon_list.html.erb
  app/app/components/uswds/icon_list.rb
  app/app/controllers/activities/entries_controller.rb
  app/app/views/activities/entries/show.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/config/routes.rb
  app/spec/components/previews/uswds/icon_list_preview.rb
  app/spec/controllers/activities/entries_controller_spec.rb
  app/spec/controllers/cbv/entries_controller_spec.rb
  app/spec/e2e/activity_hub_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

added tickets
  docs/proposals/database-backed-agency-configuration-tickets.md
Due: none

FFS-3752: Shift enrollment dates in demo mode (#1374)
  app/app/services/nsc_data_fetcher_service.rb
  app/spec/services/nsc_data_fetcher_service_spec.rb
Due: rubocop

Update dependency
  app/Dockerfile
Due: none

Scale up database and instance count
  infra/app/app-config/prod.tf
Due: terraform_fmt

Our DB version already auto-upgraded past what was pinned in the module
  infra/modules/database/main.tf
Due: terraform_fmt

FFS-3784: Scale up containers for Feb LA pilot launch and enable LA pilot (#1390)
  infra/app/app-config/prod.tf
  infra/modules/database/main.tf
Due: terraform_fmt

Update libpng-dev dependency (#1389)
  app/Dockerfile
Due: none

Add logging
  app/app/models/activity_flow_monthly_summary.rb
Due: rubocop

FFS-3731: Persist income data for use across Activity Hub (#1388)
  app/app/controllers/activities/activities_controller.rb
  app/app/controllers/activities/summary_controller.rb
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/app/controllers/webhooks/pinwheel/events_controller.rb
  app/app/models/activity_flow.rb
  app/app/models/activity_flow_monthly_summary.rb
  app/app/models/cbv_applicant.rb
  app/app/models/flow.rb
  app/app/services/activity_flow_progress_calculator.rb
  app/app/services/data_retention_service.rb
  app/app/services/persisted_report_adapter.rb
  app/app/views/activities/activities/index.html.erb
  app/app/views/activities/summary/_employment_table.html.erb
  app/app/views/activities/summary/show.html.erb
  app/db/migrate/20260210120000_create_activity_flow_monthly_summaries.rb
  app/db/schema.rb
  app/spec/controllers/activities/summary_controller_spec.rb
  app/spec/factories/activity_flow_monthly_summaries.rb
  app/spec/models/activity_flow_monthly_summary_spec.rb
  app/spec/models/activity_flow_spec.rb
  app/spec/services/activity_flow_progress_calculator_spec.rb
  app/spec/services/data_retention_service_spec.rb
  app/spec/services/persisted_report_adapter_spec.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.pdf
Due: rubocop, erblint

first draft
  app/app/controllers/activities/volunteering_controller.rb
  app/app/helpers/activities_helper.rb
  app/app/javascript/controllers/hours_input_controller.js
  app/app/javascript/controllers/index.js
  app/app/models/volunteering_activity.rb
  app/app/models/volunteering_activity_month.rb
  app/app/views/activities/activities/index.html.erb
  app/app/views/activities/volunteering/_form.html.erb
  app/app/views/activities/volunteering/hours_input.html.erb
  app/config/locales/en.yml
  app/config/routes.rb
  app/db/migrate/20260218113931_create_volunteering_activity_months.rb
  app/db/schema.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize, prettier

schema changes in docs
  docs/app/rendered/database-schema.pdf
Due: none

plugged into progress calculator
  app/app/services/activity_flow_progress_calculator.rb
  docs/app/rendered/.database-diagram-schema-version
Due: rubocop

fixed and added new rspec tests
  app/spec/factories/volunteering_activity_month.rb
  app/spec/models/volunteering_activity_month_spec.rb
  app/spec/services/activity_flow_progress_calculator_spec.rb
Due: rubocop

small cleanup
  app/app/helpers/activities_helper.rb
Due: rubocop

Community Service content updates
  app/app/controllers/activities/volunteering_controller.rb
  app/app/helpers/application_helper.rb
  app/app/views/activities/volunteering/_form.html.erb
  app/app/views/activities/volunteering/new.html.erb
  app/config/locales/en.yml
  app/db/migrate/20260218190913_add_organization_and_coordinator_fields_to_volunteering_activities.rb
  app/db/schema.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.pdf
Due: rubocop, erblint, i18n-unused, i18n-normalize

visual tweaks
  app/app/assets/stylesheets/cbv.scss
  app/app/controllers/activities/volunteering_controller.rb
  app/app/views/activities/volunteering/hours_input.html.erb
Due: rubocop, erblint

tweak to checkbox behavior
  app/app/javascript/controllers/hours_input_controller.js
  app/app/views/activities/volunteering/hours_input.html.erb
Due: erblint, prettier

Testing
  app/spec/controllers/activities/volunteering_controller_spec.rb
  app/spec/e2e/activity_hub_spec.rb
  app/spec/factories/volunteering_activity.rb
Due: rubocop

refactored to use view partial... hopefully we can reuse for other attestation flows later
  app/app/controllers/activities/volunteering_controller.rb
  app/app/controllers/concerns/monthly_hours_input.rb
  app/app/models/concerns/has_activity_months.rb
  app/app/models/volunteering_activity.rb
  app/app/views/activities/volunteering/hours_input.html.erb
  app/app/views/shared/_hours_input.html.erb
Due: rubocop, erblint

fixed one last straggler rspec test
  app/spec/controllers/activities/activities_controller_spec.rb
Due: rubocop

updated E2E test
  app/spec/e2e/activity_hub_spec.rb
Due: rubocop

ignore 2 strings
  app/config/i18n-tasks.yml
Due: none

fixed string ignore
  app/config/i18n-tasks.yml
Due: none

added error message to hours field
  app/app/controllers/concerns/monthly_hours_input.rb
  app/app/views/shared/_hours_input.html.erb
  app/config/locales/en.yml
Due: rubocop, erblint, i18n-unused, i18n-normalize

visual tweaks and checkbox behavior tweaks for ac testing
  app/app/assets/stylesheets/cbv.scss
  app/app/controllers/concerns/monthly_hours_input.rb
  app/app/javascript/controllers/hours_input_controller.js
Due: rubocop, prettier

updated month indicator font size
  app/app/assets/stylesheets/cbv.scss
Due: none

FFS-3738: Refine community service information screen (#1393)
  app/app/controllers/activities/volunteering_controller.rb
  app/app/helpers/application_helper.rb
  app/app/views/activities/volunteering/_form.html.erb
  app/app/views/activities/volunteering/new.html.erb
  app/config/locales/en.yml
  app/db/migrate/20260218190913_add_organization_and_coordinator_fields_to_volunteering_activities.rb
  app/db/schema.rb
  app/spec/controllers/activities/volunteering_controller_spec.rb
  app/spec/e2e/activity_hub_spec.rb
  app/spec/factories/volunteering_activity.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.pdf
Due: rubocop, erblint, i18n-unused, i18n-normalize

guard on month hours input
  app/app/controllers/concerns/monthly_hours_input.rb
Due: rubocop

use require/permit
  app/app/controllers/concerns/monthly_hours_input.rb
Due: rubocop

FFS-3739: Add multiple month hours entry to Community Service (#1392)
  app/app/assets/stylesheets/cbv.scss
  app/app/controllers/activities/volunteering_controller.rb
  app/app/controllers/concerns/monthly_hours_input.rb
  app/app/helpers/activities_helper.rb
  app/app/javascript/controllers/hours_input_controller.js
  app/app/javascript/controllers/index.js
  app/app/models/concerns/has_activity_months.rb
  app/app/models/volunteering_activity.rb
  app/app/models/volunteering_activity_month.rb
  app/app/services/activity_flow_progress_calculator.rb
  app/app/views/activities/activities/index.html.erb
  app/app/views/activities/volunteering/hours_input.html.erb
  app/app/views/shared/_hours_input.html.erb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/routes.rb
  app/db/migrate/20260218113931_create_volunteering_activity_months.rb
  app/db/schema.rb
  app/spec/controllers/activities/activities_controller_spec.rb
  app/spec/controllers/activities/volunteering_controller_spec.rb
  app/spec/e2e/activity_hub_spec.rb
  app/spec/factories/volunteering_activity_month.rb
  app/spec/models/volunteering_activity_month_spec.rb
  app/spec/services/activity_flow_progress_calculator_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize, prettier

Add upload previews and routing
  app/app/assets/stylesheets/cbv.scss
  app/app/controllers/activities/volunteering_controller.rb
  app/app/views/activities/activities/index.html.erb
  app/app/views/activities/document_uploads/new.html.erb
Due: rubocop, erblint

WIP - Add DocumentUploadable concern
  app/app/models/concerns/document_uploadable.rb
  app/app/models/education_activity.rb
  app/app/models/volunteering_activity.rb
Due: rubocop

Fix routing specs and add one for the doc uploader
  app/spec/controllers/activities/document_uploads_controller_spec.rb
  app/spec/controllers/activities/job_training_controller_spec.rb
  app/spec/controllers/activities/volunteering_controller_spec.rb
Due: rubocop

Refactor routing to be a subresource of the DocumentUploadable
  app/TODO.txt
  app/app/controllers/activities/document_uploads_controller.rb
  app/app/controllers/activities/job_training_controller.rb
  app/app/controllers/activities/volunteering_controller.rb
  app/app/models/concerns/document_uploadable.rb
  app/app/models/education_activity.rb
  app/app/models/job_training_activity.rb
  app/app/models/volunteering_activity.rb
  app/app/views/activities/activities/index.html.erb
  app/app/views/activities/document_uploads/new.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/config/routes.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Path conditions:
  rubocop: any of: ^app/.*\.rb$
  erblint: any of: ^app/.*\.erb$
  i18n-unused: any of: ^app/config/locales/.*\.yml$
  i18n-normalize: any of: ^app/config/locales/.*\.yml$
  shellcheck: any of: ^bin/.*$
  prettier: any of: ^app/.*\.(js|ts)$
  terraform_fmt: any of: infra/.*\.tf$
  actionlint: any of: ^.github/.*\.yml$
