Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-unused, i18n-normalize, shellcheck, prettier, terraform_fmt, actionlint

rubocop:
  name: rubocop
  entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
  language: system

erblint:
  name: erblint
  entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
  language: system

i18n-unused:
  name: i18n-unused
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks unused
  language: system
  pass_filenames: false

i18n-normalize:
  name: i18n-normalize
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
  language: system
  pass_filenames: false

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system

prettier:
  name: prettier
  entry: bin/run-linter --cd app -- npm run format:precommit
  language: node

terraform_fmt:
  name: Terraform Fmt
  entry: terraform fmt
  language: system

actionlint:
  name: ActionLint
  entry: actionlint
  language: system
  pass_filenames: false

Add display of income connection to /activities, /summary, and PDF
  app/app/views/activities/activities/index.html.erb
  app/app/views/activities/submit/show.pdf.erb
  app/app/views/activities/summary/show.html.erb
  app/config/locales/en.yml
Due: erblint, i18n-unused, i18n-normalize

Add FlowNavigators for Cbv and Activity flows
  app/app/controllers/activities/base_controller.rb
  app/app/controllers/cbv/base_controller.rb
  app/app/controllers/cbv/employer_searches_controller.rb
  app/app/controllers/cbv/payment_details_controller.rb
  app/app/controllers/cbv/synchronizations_controller.rb
  app/app/controllers/flow_controller.rb
  app/app/services/activity_flow_navigator.rb
  app/app/services/cbv_flow_navigator.rb
  app/app/views/cbv/employer_searches/show.html.erb
  app/app/views/cbv/payment_details/show.html.erb
  app/app/views/cbv/synchronizations/show.html.erb
  app/config/routes.rb
  app/spec/controllers/flow_controller_spec.rb
  app/spec/services/activity_flow_navigator_spec.rb
  app/spec/services/cbv_flow_navigator_spec.rb
  app/spec/support/shared_examples/a_flow_navigator.rb
Due: rubocop, erblint

Fix flow creation for ActivityFlow's
  app/app/controllers/flow_controller.rb
Due: rubocop

nsc service consent before call
  app/app/services/aggregators/sdk/nsc_service.rb
Due: rubocop

first few updates, not ready to merge
  CODEOWNERS.md
  COMMUNITY.md
  CONTRIBUTING.md
Due: none

updated project name
  .github/ISSUE_TEMPLATE/contributor_ladder.md
  AGENTS.md
  COMMUNITY.md
  CONTRIBUTING.md
  GOVERNANCE.md
  README.md
Due: none

Update .env to use non-localhost for AZ (#1279)
  app/.env
Due: none

test nsc responses
  app/spec/rails_helper.rb
  app/spec/services/aggregators/sdk/nsc_service_spec.rb
  app/spec/support/fixtures/nsc/linda/insight.json
  app/spec/support/fixtures/nsc/lynette/insight.json
  app/spec/support/nsc_api_helper.rb
Due: rubocop

nsc service connection timeout from var
  app/app/services/aggregators/sdk/nsc_service.rb
Due: rubocop

switch to unsafe-inline strategy, possibly temporarily until we figure out how to work with Argyle's new strategy
  app/config/initializers/content_security_policy.rb
Due: rubocop

Update CSP to use unsafe-inline style-src strategy (#1280)
  app/config/initializers/content_security_policy.rb
Due: rubocop

remove dead translation
  app/config/locales/en.yml
Due: i18n-unused, i18n-normalize

fix: adjust device + origin analytics
  app/analytics/emmy_analytics.qmd
Due: none

feat: add in new property for seconds from invite
  app/analytics/emmy_init-munging.R
Due: none

normalize the translation
  app/config/locales/en.yml
Due: i18n-unused, i18n-normalize

FFS-3625 Implement NSC API in Education flow (#1251)
  app/.editorconfig
  app/.env.local.example
  app/app/controllers/activities/activities_controller.rb
  app/app/controllers/activities/education_controller.rb
  app/app/models/education_activity.rb
  app/app/services/aggregators/sdk/nsc_service.rb
  app/app/services/education_service.rb
  app/app/services/identity_service.rb
  app/app/views/activities/education/error.html.erb
  app/app/views/activities/education/new.html.erb
  app/app/views/activities/education/show.html.erb
  app/config/locales/en.yml
  app/config/routes.rb
  app/spec/factories/education_activity.rb
  app/spec/models/education_activity_spec.rb
  app/spec/rails_helper.rb
  app/spec/services/aggregators/sdk/nsc_service_spec.rb
  app/spec/support/fixtures/nsc/linda/insight.json
  app/spec/support/fixtures/nsc/lynette/insight.json
  app/spec/support/nsc_api_helper.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

FFS-3525: Add controller name to structured logging messages
  app/config/application.rb
Due: rubocop

Remove `awscli` from production images
  app/Dockerfile
Due: none

feat: finish last question and clean up
  app/analytics/emmy_analytics.qmd
Due: none

fix: add missing table captions in
  app/analytics/emmy_analytics.qmd
Due: none

Remove `awscli` from production images (#1282)
  app/Dockerfile
Due: none

feat: add note about origin generation
  app/analytics/emmy_analytics.qmd
Due: none

FFS-3525: Add controller name to structured logging messages (#1281)
  app/config/application.rb
Due: rubocop

Update ActivityFlow /employer_search page
  app/app/views/cbv/employer_searches/_employer.html.erb
  app/app/views/cbv/employer_searches/show.html.erb
  app/config/locales/en.yml
  app/spec/controllers/cbv/employer_searches_controller_spec.rb
  app/spec/e2e/activity_hub_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Update ActivityFlow /synchronizations page
  app/app/views/cbv/synchronizations/_status.html.erb
  app/app/views/cbv/synchronizations/show.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/spec/controllers/cbv/synchronizations_controller_spec.rb
  app/spec/e2e/activity_hub_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Update ActivityFlow /payment_details page
  app/app/views/cbv/payment_details/show.html.erb
  app/config/locales/en.yml
  app/spec/controllers/cbv/payment_details_controller_spec.rb
  app/spec/e2e/activity_hub_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Ignore missing Spanish for Activity flow copy
  app/config/i18n-tasks.yml
Due: none

Update "check-locale-sync" to skip ignored keys in Spanish
  .github/scripts/check_locale_sync.rb
Due: none

Fix `@flow.invitation_id` in Cbv::BaseController logging
  app/app/controllers/cbv/base_controller.rb
Due: rubocop

doc: update pull date to correct date
  app/analytics/emmy_analytics.qmd
Due: none

Fix gpg setup for Dotenv 3.0
  app/spec/support/context/gpg_setup.rb
Due: rubocop

doc: remove unnessary and hanging paragraph
  app/analytics/emmy_analytics.qmd
Due: none

Update precommit to run rubocop when config files change
  .pre-commit-config.yaml
Due: none

Add rubocop TODO for all the rest
  app/.rubocop.yml
  app/.rubocop_todo.yml
Due: none

Revert to `include_examples` in sync indicator component spec
  app/spec/components/synchronization_indicator_component_spec.rb
Due: rubocop

Update "check-locale-sync" to skip ignored keys in Spanish (#1284)
  .github/scripts/check_locale_sync.rb
Due: none

Add `bundle exec` to locale sync
  .github/workflows/locale-sync.yml
Due: actionlint

Path conditions:
  rubocop: any of: ^app/.*\.rb$
  erblint: any of: ^app/.*\.erb$
  i18n-unused: any of: ^app/config/locales/.*\.yml$
  i18n-normalize: any of: ^app/config/locales/.*\.yml$
  shellcheck: any of: ^bin/.*$
  prettier: any of: ^app/.*\.(js|ts)$
  terraform_fmt: any of: infra/.*\.tf$
  actionlint: any of: ^.github/.*\.yml$
