Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-normalize, i18n-missing, shellcheck, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml

- repo: local
  hooks:
  - id: rubocop
    name: rubocop
    entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
    language: ruby
    files: '^app/.*\.rb$'

  - id: erblint
    name: erblint
    entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
    language: ruby
    files: '^app/.*\.erb$'

  - id: i18n-normalize
    name: i18n-normalize
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
    language: ruby
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: i18n-missing
    name: i18n-missing
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks missing
    language: ruby
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system        # installed via `brew bundle`
    files: '^bin/.*$'

  - id: prettier
    name: prettier
    entry: bin/run-linter --cd app -- npm run format:precommit
    language: node
    files: '^app/.*\.(js|ts)$'

fix: upgrade sass from 1.89.0 to 1.89.1 (#784)
  app/package-lock.json
  app/package.json
Due: none

fix: upgrade postcss from 8.5.3 to 8.5.4 (#778)
  app/package-lock.json
  app/package.json
Due: none

No ticket: Add patsier-cms to reviewer lottery (#774)
  .github/reviewer-lottery.yml
Due: none

Implemented design feedback
  app/app/views/cbv/add_jobs/show.html.erb
  app/app/views/cbv/other_jobs/show.html.erb
  app/config/locales/en.yml
Due: erblint, i18n-normalize, i18n-missing

fix: upgrade @uswds/uswds from 3.12.0 to 3.13.0 (#770)
  app/package-lock.json
  app/package.json
Due: none

removed top-margin and div from radio options
  app/app/views/cbv/other_jobs/show.html.erb
Due: erblint

added applicant_id to events, removed continue translation entry from pages
  app/app/controllers/cbv/add_jobs_controller.rb
  app/app/controllers/cbv/other_jobs_controller.rb
  app/app/views/cbv/add_jobs/show.html.erb
  app/app/views/cbv/other_jobs/show.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: rubocop, erblint, i18n-normalize, i18n-missing

adding translations_update.csv to .gitignore
  .gitignore
Due: none

FFS-2325: Remove New Relic even tracking, update events (#785)
  app/app/controllers/api/pinwheel_controller.rb
  app/app/controllers/cbv/base_controller.rb
  app/app/controllers/cbv/missing_results_controller.rb
  app/app/controllers/cbv/payment_details_controller.rb
  app/app/controllers/cbv/successes_controller.rb
  app/app/controllers/users/omniauth_callbacks_controller.rb
  app/app/controllers/webhooks/pinwheel/events_controller.rb
  app/app/jobs/case_worker_transmitter_job.rb
  app/app/jobs/event_tracking_job.rb
  app/app/models/payroll_account/argyle.rb
  app/app/services/cbv_invitation_service.rb
  app/config/initializers/newrelic_method_tracers.rb
  app/lib/new_relic_event_tracker.rb
  app/spec/controllers/cbv/summaries_controller_spec.rb
  app/spec/controllers/users/omniauth_callbacks_controller_spec.rb
  app/spec/jobs/event_tracking_job_spec.rb
  app/spec/lib/new_relic_event_tracker_spec.rb
  app/spec/models/payroll_account/argyle_spec.rb
  app/spec/services/cbv_invitation_service_spec.rb
  app/spec/spec_helper.rb
Due: rubocop

Fix JS tests with the E2E test framework
  app/app/javascript/utilities/E2eCallbackRecorder.ts
  app/spec/javascript/adapters/ArgyleModalAdapter.spec.js
  app/spec/javascript/adapters/PinwheelModalAdapter.spec.js
  app/spec/javascript/adapters/__snapshots__/PinwheelModalAdapter.spec.js.snap
Due: prettier

Improve two bits of E2E documentation
  README.md
  app/spec/support/e2e/test_helpers.rb
Due: rubocop

Cache `bundle install` when running Rspec
  .github/actions/setup-languages/action.yml
Due: none

Remove `cleanup-gemfile` action
  .github/actions/cleanup-gemfile/action.yml
  .github/actions/setup-languages/action.yml
  .github/workflows/rspec.yml
Due: none

Make a dummy change to Cbv::BaseController so the tests run
  app/app/controllers/cbv/base_controller.rb
Due: rubocop

Expire sessions in Rails rather than via cookie
  app/app/controllers/application_controller.rb
  app/app/views/layouts/application.html.erb
  app/config/application.rb
  app/config/initializers/session_store.rb
  app/spec/controllers/application_controller_spec.rb
Due: rubocop, erblint

removing local pre-commit i18n-tasks, adding them to new pr github action
  .github/workflows/i18n-health.yml
  .pre-commit-config.yaml
Due: none

rename, removed comments, specify ruby version
  translation_update.csv
Due: none

rename, removed comments, specify ruby version
  .github/workflows/i18n-health.yml
Due: none

experimenting with making it not crash
  .github/workflows/i18n-health.yml
Due: none

experimenting with making it not crash 2
  .github/workflows/i18n-health.yml
Due: none

experimenting with making it not crash 3
  .github/workflows/i18n-health.yml
Due: none

experimenting with making it not crash 4
  .github/workflows/i18n-health.yml
Due: none

remove test string
  app/config/locales/en.yml
Due: i18n-normalize, i18n-missing

updated brakeman ignores
  app/config/brakeman.ignore
Due: none

remove translation_update.csv, which I thought was ignored?
  translation_update.csv
Due: none

adding translation_update.csv to the right gitignore file
  .gitignore
Due: none

remove lingering rainbow ref
  app/lib/translation_diff_generator.rb
Due: rubocop

update debase version. Remove Readme.md workaround instruction that broke old versions of debase.
  README.md
  app/Gemfile
  app/Gemfile.lock
Due: none

Cache `bundle install` when running Rspec (#788)
  .github/actions/cleanup-gemfile/action.yml
  .github/actions/setup-languages/action.yml
  .github/workflows/rspec.yml
  app/app/controllers/cbv/base_controller.rb
Due: rubocop

Obscure Pinwheel AWS Key in S3 URLs when saving E2E recordings
  app/spec/support/e2e/mocking_service.rb
Due: rubocop

Loosen wait time constraints for E2E testing
  app/spec/e2e/cbv_flow_pinwheel_spec.rb
  app/spec/e2e/cbv_flow_spec.rb
Due: rubocop

fix: upgrade postcss-minify from 1.1.0 to 1.2.0 (#779)
  app/package-lock.json
  app/package.json
Due: none

experiment: remove github token
  .github/workflows/locale-sync.yml
Due: none

move requires
  .github/scripts/check_locale_sync.rb
Due: none

fake en change for testing
  app/config/locales/en.yml
Due: i18n-normalize, i18n-missing

remove test en change
  app/config/locales/en.yml
Due: i18n-normalize, i18n-missing

Improve formatting in summaries/show.html.erb
  app/app/views/cbv/summaries/show.html.erb
Due: erblint

Ignore vendor/node_modules from erb_lint linting
  app/.erb_lint.yml
Due: none

Update E2eCallbackRecorder to use forEach and better typing
  app/app/javascript/utilities/E2eCallbackRecorder.ts
Due: prettier
