Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-unused, i18n-normalize, shellcheck, prettier, terraform_fmt, actionlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml

- repo: local
  hooks:
  - id: rubocop
    name: rubocop
    entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
    language: system
    files: '^app/.*\.rb$'

  # this rubocop hook works on windows/wsl, and is being left here as of 8/27/2025 to figure it out at some point
  #- id: rubocop
  #  name: rubocop
  #  language: system
  #  entry: bash -lc 'BUNDLE_GEMFILE=app/Gemfile cd app && bundle exec rubocop -a --force-exclusion'
  #  types: [ ruby ]
  #  files: '^app/.*\.rb$'
  #  pass_filenames: false

  - id: erblint
    name: erblint
    entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
    language: system
    files: '^app/.*\.erb$'

  - id: i18n-unused
    name: i18n-unused
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks unused
    language: system
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: i18n-normalize
    name: i18n-normalize
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
    language: system
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system        # installed via `brew bundle`
    files: '^bin/.*$'

  - id: prettier
    name: prettier
    entry: bin/run-linter --cd app -- npm run format:precommit
    language: node
    files: '^app/.*\.(js|ts)$'

  - id: terraform_fmt
    name: Terraform Fmt
    entry: terraform fmt
    language: system
    files: 'infra/.*\.tf$'

#  - id: checkov
#    name: Checkov
#    entry: checkov --quiet --output sarif --framework terraform -f
#    language: system
#    files: 'infra/.*\.tf$'

  - id: actionlint
    name: ActionLint
    entry: actionlint
    language: system
    files: '^.github/.*\.yml$'
    pass_filenames: false

add nsc_disabled
  infra/app/app-config/env-config/environment-variables.tf
Due: terraform_fmt

FFS-4794: Add environment selection to deploy script (#2049)
  app/bin/will-deploy
  bin/deploy-to-nava-and-cms
Due: shellcheck

Remove bencalegari from reviewer lottery (#2056)
  .github/reviewer-lottery.yml
Due: actionlint

role=alert implies assertive
  app/app/components/uswds/alert.html.erb
Due: erblint

Tabindex not needed
  app/app/components/uswds/alert.html.erb
Due: erblint

Use a non-heading element so JAWS doesnt read it twice
  app/app/components/uswds/alert.html.erb
Due: erblint

Update alert test for heading change
  app/app/components/uswds/alert.html.erb
  app/spec/components/uswds/alert_spec.rb
Due: rubocop, erblint

Fix tests that are looking for h2
  app/spec/components/report/gig_monthly_summary_table_component_spec.rb
Due: rubocop

FFS-4768: Fix stale activity filename specs
  app/spec/controllers/activities/submit_controller_spec.rb
  app/spec/services/activity_pdf_report_spec.rb
  app/spec/services/transmitters/activity_s3_transmitter_spec.rb
Due: rubocop

Refactor and use i18 ignore
  app/app/controllers/api/v2/invitations_controller.rb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: rubocop, i18n-unused, i18n-normalize

Add spanish translations to ignore list
  app/config/i18n-tasks.yml
  app/config/locales/es.yml
Due: i18n-unused, i18n-normalize

nsc_disabled is always 'true' or 'false'
  app/lib/nsc.rb
  app/spec/lib/nsc_spec.rb
Due: rubocop

Update tests and fixtures
  app/app/controllers/api/v2/invitations_controller.rb
  app/config/i18n-tasks.yml
  app/spec/controllers/api/v2/invitations_controller_spec.rb
  app/spec/factories/cbv_applicant.rb
Due: rubocop

Ignore translation
  app/config/i18n-tasks.yml
Due: none

Add top providers tests
  app/config/locales/en.yml
  app/spec/controllers/activities/income/employer_searches_controller_spec.rb
  app/spec/controllers/cbv/employer_searches_controller_spec.rb
Due: rubocop, i18n-unused, i18n-normalize

Normalize translations
  app/config/locales/en.yml
Due: i18n-unused, i18n-normalize

revert irrelevant changes
  CHANGELOG.md
  app/app/controllers/api/v2/invitations_controller.rb
  app/app/models/activity_flow_invitation.rb
  app/config/routes.rb
  app/db/migrate/20260909194028_add_ce_fields_to_applicants_and_invitations.rb
  app/db/schema.rb
  app/lib/date_formatter.rb
  app/spec/controllers/api/v2/invitations_controller_spec.rb
  app/spec/e2e/cbv_flow_missing_results_spec.rb
  app/spec/lib/date_formatter_spec.rb
  app/version.txt
  code.json
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.mmd
Due: rubocop

FFS-4711: Refine FDSH credential configuration
  app/.docker/entrypoints/rails.sh
  app/.env.local.example
  app/app/services/aggregators/sdk/nsc_fdsh_service.rb
  app/spec/services/aggregators/sdk/nsc_fdsh_service_spec.rb
  docs/infra/fdsh-nsc.md
  infra/app/app-config/env-config/environment-variables.tf
Due: rubocop, terraform_fmt

Use File.expand_path to allow for shell shortcuts
  app/app/services/aggregators/sdk/nsc_fdsh_service.rb
Due: rubocop

Remove redundant OAUTH environment variables
  app/app/services/aggregators/sdk/nsc_fdsh_service.rb
Due: rubocop

fix: patch Dockerfile for OS-level CVEs flagged by Trivy/Anchore
  app/Dockerfile
Due: none

Fix translations path
  app/config/i18n-tasks.yml
  app/spec/controllers/activities/income/employer_searches_controller_spec.rb
Due: rubocop

Move tests to it's own context
  app/spec/controllers/activities/income/employer_searches_controller_spec.rb
  app/spec/controllers/cbv/employer_searches_controller_spec.rb
Due: rubocop

Update invitations controller for testing
  app/app/controllers/api/v2/invitations_controller.rb
Due: rubocop

Fix attributes permitting in v2
  app/app/controllers/api/v2/invitations_controller.rb
Due: rubocop

Fix params permitting
  app/app/controllers/api/v2/invitations_controller.rb
Due: rubocop

test: make sure back works after submission fails
  app/spec/controllers/activities/education_navigation_spec.rb
Due: rubocop

add word 'program'
  app/config/locales/en.yml
Due: i18n-unused, i18n-normalize

Update translation
  app/config/locales/en.yml
Due: i18n-unused, i18n-normalize

Update comment to make more sense
  app/app/components/uswds/alert.html.erb
Due: erblint

Remove prefilled activities
  app/app/controllers/activities/activities_controller.rb
  app/app/controllers/api/invitations_controller.rb
  app/app/controllers/launcher_controller.rb
  app/app/helpers/activities_helper.rb
  app/app/models/activity_flow.rb
  app/app/models/activity_flow_invitation.rb
  app/app/services/cbv_invitation_service.rb
  app/app/services/launcher/household_scenario.rb
  app/app/views/activities/activities/index.html.erb
  app/app/views/launcher/advanced.html.erb
  app/config/client-agency-config.yml
  app/config/locales/en.yml
  app/db/migrate/20260915145736_remove_pre_populated_activities_from_activity_flow_invitations.rb
  app/db/schema.rb
  app/lib/client_agency_config.rb
  app/spec/controllers/activities/activities_controller_spec.rb
  app/spec/controllers/api/invitations_controller_spec.rb
  app/spec/helpers/activities_helper_spec.rb
  app/spec/models/activity_flow_invitation_spec.rb
  app/spec/models/activity_flow_spec.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.mmd
Due: rubocop, erblint, i18n-unused, i18n-normalize

FFS-4796 Create v2 invitations api (#2033)
  app/app/controllers/api/invitations_controller.rb
  app/app/controllers/api/v2/invitations_controller.rb
  app/app/services/client_agency/la_ldh/configuration.rb
  app/app/services/client_agency/la_ldh/report_fields.rb
  app/config/client-agency-config.yml
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/routes.rb
  app/db/migrate/20260903121720_add_individual_id_to_cbv_applicant.rb
  app/db/schema.rb
  app/spec/controllers/api/v2/invitations_controller_spec.rb
  app/spec/factories/cbv_applicant.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.mmd
Due: rubocop, i18n-unused, i18n-normalize

Update translation and test
  app/config/locales/en.yml
  app/spec/e2e/household_activity_flow_spec.rb
Due: rubocop, i18n-unused, i18n-normalize

Update tests
  app/app/services/cbv_invitation_service.rb
  app/spec/e2e/household_activity_flow_spec.rb
  app/spec/requests/launcher_spec.rb
Due: rubocop

Remove prefilled test
  app/spec/controllers/household_members_controller_spec.rb
Due: rubocop

Update tests
  app/spec/services/launcher/household_scenario_spec.rb
Due: rubocop

Update test
  app/spec/models/activity_spec.rb
Due: rubocop

Update tests
  app/spec/controllers/launcher_controller_advanced_spec.rb
  app/spec/helpers/activities_helper_spec.rb
Due: rubocop

Implement month selection
  app/app/controllers/activities/document_uploads_controller.rb
  app/app/controllers/activities/employment/month_selections_controller.rb
  app/app/controllers/activities/employment/months_controller.rb
  app/app/controllers/activities/employment_controller.rb
  app/app/controllers/concerns/monthly_hours_input.rb
  app/app/models/activity_flow.rb
  app/app/models/employment_activity.rb
  app/app/views/activities/employment/month_selections/edit.html.erb
  app/app/views/activities/employment/review.html.erb
  app/config/locales/en.yml
  app/config/routes.rb
  app/db/migrate/20260911120000_add_selected_months_to_employment_activities.rb
  app/db/schema.rb
  app/spec/controllers/activities/document_uploads_controller_spec.rb
  app/spec/controllers/activities/employment/month_selections_controller_spec.rb
  app/spec/controllers/activities/employment/months_controller_spec.rb
  app/spec/controllers/activities/employment_controller_spec.rb
  app/spec/controllers/activities/employment_navigation_spec.rb
  app/spec/e2e/activity_hub_employment_self_attestation_spec.rb
  app/spec/models/activity_flow_spec.rb
  app/spec/models/employment_activity_spec.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.mmd
Due: rubocop, erblint, i18n-unused, i18n-normalize

enhance nsc hub integration with error classification. new relic metrics and cloudwatch metrics. automated proactive alerting
  app/app/jobs/nsc_certificate_check_job.rb
  app/app/jobs/record_batched_newrelic_metrics_job.rb
  app/app/services/aggregators/sdk/nsc_certificate_service.rb
  app/app/services/aggregators/sdk/nsc_service.rb
  app/lib/tasks/nsc.rake
  app/spec/jobs/nsc_certificate_check_job_spec.rb
  app/spec/lib/nsc_rake_spec.rb
  app/spec/services/aggregators/sdk/nsc_certificate_service_spec.rb
  app/spec/services/aggregators/sdk/nsc_service_spec.rb
  infra/app/app-config/env-config/scheduled_jobs.tf
  infra/app/service/main.tf
  infra/modules/monitoring/main.tf
  infra/modules/monitoring/variables.tf
Due: rubocop, terraform_fmt
