Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-unused, i18n-normalize, shellcheck, prettier, terraform_fmt, actionlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml

- repo: local
  hooks:
  - id: rubocop
    name: rubocop
    entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
    language: system
    files: '^app/.*\.rb$'

  # this rubocop hook works on windows/wsl, and is being left here as of 8/27/2025 to figure it out at some point
  #- id: rubocop
  #  name: rubocop
  #  language: system
  #  entry: bash -lc 'BUNDLE_GEMFILE=app/Gemfile cd app && bundle exec rubocop -a --force-exclusion'
  #  types: [ ruby ]
  #  files: '^app/.*\.rb$'
  #  pass_filenames: false

  - id: erblint
    name: erblint
    entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
    language: system
    files: '^app/.*\.erb$'

  - id: i18n-unused
    name: i18n-unused
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks unused
    language: system
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: i18n-normalize
    name: i18n-normalize
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
    language: system
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system        # installed via `brew bundle`
    files: '^bin/.*$'

  - id: prettier
    name: prettier
    entry: bin/run-linter --cd app -- npm run format:precommit
    language: node
    files: '^app/.*\.(js|ts)$'

  - id: terraform_fmt
    name: Terraform Fmt
    entry: terraform fmt
    language: system
    files: 'infra/.*\.tf$'

#  - id: checkov
#    name: Checkov
#    entry: checkov --quiet --output sarif --framework terraform -f
#    language: system
#    files: 'infra/.*\.tf$'

  - id: actionlint
    name: ActionLint
    entry: actionlint
    language: system
    files: '^.github/.*\.yml$'
    pass_filenames: false

remove copy assertions
  app/spec/e2e/activity_hub_employment_self_attestation_spec.rb
Due: rubocop

make employment focused contexts
  app/spec/controllers/activities/employment/months_controller_spec.rb
Due: rubocop

revert gemfile changes
  app/Gemfile.lock
Due: none

all field labels should be bold
  app/app/views/activities/employment/_form.html.erb
  app/spec/controllers/activities/employment_controller_spec.rb
  app/spec/e2e/employment_unpaid_information_spec.rb
Due: rubocop, erblint

move copy checks to controller spec
  app/spec/controllers/activities/income/payment_details_controller_spec.rb
  app/spec/e2e/activity_hub_spec.rb
Due: rubocop

move more copy assertions
  app/spec/controllers/activities/employment/add_your_work_controller_spec.rb
  app/spec/e2e/employment_focused_entry_spec.rb
Due: rubocop

Add employment review page
  app/app/components/report/w2_monthly_summary_table_component.rb
  app/app/controllers/activities/activities_controller.rb
  app/app/controllers/flow_controller.rb
  app/app/services/activity_flow_navigator.rb
  app/app/views/activities/activities/employment_focused_review.html.erb
  app/config/locales/en.yml
  app/spec/controllers/activities/activities_controller_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Update version
  CHANGELOG.md
  app/version.txt
  code.json
Due: none

Release v0.10.0 (#2136)
  CHANGELOG.md
  app/version.txt
  code.json
Due: none

Add E2E test
  app/spec/e2e/employment_focused_entry_spec.rb
Due: rubocop

Add Rspec style preference to AGENTS.md (#2135)
  AGENTS.md
Due: none

Add tests
  app/app/views/activities/activities/employment_focused_review.html.erb
  app/spec/controllers/activities/activities_controller_spec.rb
  app/spec/e2e/employment_focused_review_spec.rb
Due: rubocop, erblint

Fix rubocop errors, translations, test failures
  app/app/components/report/w2_monthly_summary_table_component.rb
  app/app/controllers/flow_controller.rb
  app/app/views/activities/activities/employment_focused_review.html.erb
  app/config/locales/en.yml
  app/spec/controllers/activities/activities_controller_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Document Education JSON transmissions
  app/lib/tasks/api_docs.rake
  app/spec/openapi/activity_report_schemas.rb
  app/spec/openapi/activity_report_schemas_spec.rb
  app/spec/services/transmitters/activity_json_transmitter_education_spec.rb
  app/spec/services/transmitters/activity_json_transmitter_spec.rb
  docs/api/README.md
  docs/api/ce-activity-report.md
  docs/api/overview.md
Due: rubocop

Persist employment fields in activities and fix test failures
  app/app/controllers/activities/activities_controller.rb
  app/app/controllers/activities/base_controller.rb
  app/app/controllers/activities/summary_controller.rb
  app/app/models/activity_flow_employment_summary.rb
  app/app/services/persisted_report_adapter.rb
  app/app/views/activities/activities/employment_focused_review.html.erb
  app/config/locales/en.yml
  app/db/migrate/20261006193004_add_compensation_fields_to_activity_flow_employment_summaries.rb
  app/db/schema.rb
  app/spec/controllers/activities/activities_controller_spec.rb
  app/spec/controllers/activities/summary_controller_spec.rb
  app/spec/e2e/employment_focused_review_spec.rb
  app/spec/models/activity_flow_employment_summary_spec.rb
  app/spec/models/activity_flow_monthly_summary_spec.rb
  app/spec/services/persisted_report_adapter_spec.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.mmd
Due: rubocop, erblint, i18n-unused, i18n-normalize

E2E test update
  app/spec/models/activity_flow_spec.rb
  app/spec/services/activity_flow_navigator_spec.rb
Due: rubocop

update upload supporting docs copy
  app/config/locales/en.yml
Due: i18n-unused, i18n-normalize

move uploaded documents below add document
  app/app/views/activities/document_uploads/new.html.erb
  app/spec/controllers/activities/document_uploads_controller_spec.rb
  app/spec/e2e/activity_hub_education_self_attestation_spec.rb
Due: rubocop, erblint

FFS-4919: Document Education JSON transmissions (#2148)
  app/lib/tasks/api_docs.rake
  app/spec/openapi/activity_report_schemas.rb
  app/spec/openapi/activity_report_schemas_spec.rb
  app/spec/services/transmitters/activity_json_transmitter_education_spec.rb
  app/spec/services/transmitters/activity_json_transmitter_spec.rb
  docs/api/README.md
  docs/api/ce-activity-report.md
  docs/api/overview.md
Due: rubocop

update suggested supporting docs copy
  app/config/locales/en.yml
Due: i18n-unused, i18n-normalize

Activities don't need translations
  app/config/i18n-tasks.yml
Due: none

Add API docs for V2
  app/lib/tasks/api_docs.rake
  app/spec/openapi/invitation_schemas.rb
  app/spec/requests/api/v2/invitations_spec.rb
  app/spec/swagger_helper.rb
  docs/api/overview.md
  docs/api/post-v2-invitations.md
Due: rubocop

Use already existing summary box css
  app/app/assets/stylesheets/activity_summary_box.scss
  app/app/views/activities/employment/add_your_work/add_jobs.html.erb
Due: erblint

FFS-4708: Update documentation to remove Emmy API references (#2073)
  AGENTS.md
  CONTRIBUTING.md
  README.md
  docs/api/pdf-transmission.md
  docs/versioning.md
Due: none

Remove dead css code
  app/app/assets/stylesheets/application.postcss.css
Due: none

FFS-4720: Update documentation about release process (#2134)
  docs/release-process.md
Due: none

Remove activities from awaiting translation
  app/config/i18n-tasks.yml
Due: none

Fix markdownlint for your-agency.gov links
  .github/workflows/ci-docs.yml
  .github/workflows/markdownlint-config.json
Due: actionlint

Fix gig hours
  app/app/services/persisted_report_adapter.rb
  app/spec/services/persisted_report_adapter_spec.rb
Due: rubocop

Fix npm packages
  app/package-lock.json
Due: none

Run on mondays
  .github/dependabot.yml
Due: actionlint

Fix hours_header for gig
  app/app/components/report/gig_monthly_summary_table_component.rb
  app/app/controllers/activities/employment_controller.rb
Due: rubocop

Don't resume an activity flow
  app/app/controllers/flow_controller.rb
Due: rubocop

[No ticket] Run dependabot on mondays (#2151)
  .github/dependabot.yml
Due: actionlint

Update undici version
  app/package-lock.json
  app/package.json
Due: none

Fix test
  app/spec/controllers/activities/activities_controller_spec.rb
Due: rubocop

FFS-4861 Add another job page (#2132)
  app/app/controllers/activities/employment/add_your_work_controller.rb
  app/app/controllers/activities/employment_controller.rb
  app/app/controllers/api/argyle_controller.rb
  app/app/controllers/flow_controller.rb
  app/app/services/activity_flow_navigator.rb
  app/app/views/activities/employment/add_your_work/add_jobs.html.erb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/routes.rb
  app/spec/controllers/activities/employment/add_your_work_controller_spec.rb
  app/spec/e2e/employment_focused_entry_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Remove accidental merges, update schema
  app/app/components/report/w2_monthly_summary_table_component.rb
  app/app/controllers/activities/activities_controller.rb
  app/app/controllers/activities/base_controller.rb
  app/app/controllers/activities/summary_controller.rb
  app/app/controllers/flow_controller.rb
  app/app/models/activity_flow_employment_summary.rb
  app/app/services/activity_flow_navigator.rb
  app/app/services/persisted_report_adapter.rb
  app/app/views/activities/activities/employment_focused_review.html.erb
  app/config/locales/en.yml
  app/db/migrate/20261006193004_add_compensation_fields_to_activity_flow_employment_summaries.rb
  app/db/schema.rb
  app/spec/controllers/activities/activities_controller_spec.rb
  app/spec/controllers/activities/summary_controller_spec.rb
  app/spec/e2e/employment_focused_review_spec.rb
  app/spec/models/activity_flow_employment_summary_spec.rb
  app/spec/models/activity_flow_monthly_summary_spec.rb
  app/spec/models/activity_flow_spec.rb
  app/spec/openapi/invitation_schemas.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize
