Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-unused, i18n-normalize, shellcheck, prettier, terraform_fmt, actionlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml

- repo: local
  hooks:
  - id: rubocop
    name: rubocop
    entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
    language: system
    files: '^app/.*\.rb$'

  # this rubocop hook works on windows/wsl, and is being left here as of 8/27/2025 to figure it out at some point
  #- id: rubocop
  #  name: rubocop
  #  language: system
  #  entry: bash -lc 'BUNDLE_GEMFILE=app/Gemfile cd app && bundle exec rubocop -a --force-exclusion'
  #  types: [ ruby ]
  #  files: '^app/.*\.rb$'
  #  pass_filenames: false

  - id: erblint
    name: erblint
    entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
    language: system
    files: '^app/.*\.erb$'

  - id: i18n-unused
    name: i18n-unused
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks unused
    language: system
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: i18n-normalize
    name: i18n-normalize
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
    language: system
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system        # installed via `brew bundle`
    files: '^bin/.*$'

  - id: prettier
    name: prettier
    entry: bin/run-linter --cd app -- npm run format:precommit
    language: node
    files: '^app/.*\.(js|ts)$'

  - id: terraform_fmt
    name: Terraform Fmt
    entry: terraform fmt
    language: system
    files: 'infra/.*\.tf$'

#  - id: checkov
#    name: Checkov
#    entry: checkov --quiet --output sarif --framework terraform -f
#    language: system
#    files: 'infra/.*\.tf$'

  - id: actionlint
    name: ActionLint
    entry: actionlint
    language: system
    files: '^.github/.*\.yml$'
    pass_filenames: false

remove destroy
  app/app/controllers/activities/employment_controller.rb
  app/config/routes.rb
  app/spec/controllers/activities/employment_controller_spec.rb
Due: rubocop

clearer n/a button checking
  app/app/javascript/controllers/self_employed_controller.js
Due: prettier

no longer store N/A to db
  app/app/models/employment_activity.rb
  app/spec/controllers/activities/employment_controller_spec.rb
Due: rubocop

use number_to_currency
  app/app/views/activities/employment/review.html.erb
Due: erblint

fix rspec tests
  app/spec/e2e/activity_hub_employment_self_attestation_spec.rb
  app/spec/models/employment_activity_spec.rb
Due: rubocop

Don't assign reviewer dependabot PRs (#1439)
  .github/workflows/pr-reviewer-lottery.yml
Due: actionlint

make progress calculator include self-attested employment
  app/app/services/activity_flow_progress_calculator.rb
  app/spec/services/activity_flow_progress_calculator_spec.rb
Due: rubocop

FFS-3809: Add work program review screen (#1425)
  app/app/controllers/activities/document_uploads_controller.rb
  app/app/controllers/activities/job_training/months_controller.rb
  app/app/controllers/activities/job_training_controller.rb
  app/app/models/job_training_activity.rb
  app/app/views/activities/job_training/review.html.erb
  app/config/locales/en.yml
  app/config/routes.rb
  app/db/migrate/20260227141000_add_additional_comments_to_job_training_activities.rb
  app/db/schema.rb
  app/spec/controllers/activities/document_uploads_controller_spec.rb
  app/spec/controllers/activities/job_training/months_controller_spec.rb
  app/spec/controllers/activities/job_training_controller_spec.rb
  app/spec/e2e/activity_hub_spec.rb
  app/spec/models/job_training_activity_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

FFS-3808: Update review page display of work program activities
  app/app/views/activities/summary/_job_training_table.html.erb
  app/app/views/activities/summary/show.html.erb
  app/config/locales/en.yml
  app/spec/controllers/activities/summary_controller_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

moved to unit spacing
  app/app/assets/stylesheets/activity_hub.scss
  app/app/components/activity_flow_progress_indicator/activity_flow_progress_indicator.scss
Due: none

allow left side to shrink at low desktop resolutions
  app/app/assets/stylesheets/activity_hub.scss
Due: none

visual tweaks
  app/app/assets/stylesheets/activity_hub.scss
  app/app/views/activities/activities/index.html.erb
Due: erblint

FFS-3745: employment self-attestation review page (#1414)
  app/app/assets/stylesheets/cbv.scss
  app/app/assets/stylesheets/uswds-overrides.scss
  app/app/components/community_service_review_table_component.erb
  app/app/components/community_service_review_table_component.rb
  app/app/components/contact_info_review_table_component.erb
  app/app/components/contact_info_review_table_component.rb
  app/app/controllers/activities/employment/months_controller.rb
  app/app/controllers/activities/employment_controller.rb
  app/app/javascript/application.js
  app/app/javascript/controllers/self_employed_controller.js
  app/app/models/employment_activity.rb
  app/app/services/activity_flow_progress_calculator.rb
  app/app/views/activities/employment/_form.html.erb
  app/app/views/activities/employment/review.html.erb
  app/app/views/activities/volunteering/review.html.erb
  app/config/locales/en.yml
  app/config/routes.rb
  app/db/migrate/20260225212856_add_additional_comments_to_employment_activities.rb
  app/db/schema.rb
  app/spec/controllers/activities/employment/months_controller_spec.rb
  app/spec/controllers/activities/employment_controller_spec.rb
  app/spec/e2e/activity_hub_employment_self_attestation_spec.rb
  app/spec/e2e/activity_hub_spec.rb
  app/spec/fixtures/e2e/e2e_activity_flow/vcr_http_requests.yml
  app/spec/models/employment_activity_spec.rb
  app/spec/services/activity_flow_progress_calculator_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize, prettier

FFS-3810: Render work program information in Activity Hub (#1437)
  app/app/helpers/activities_helper.rb
  app/app/views/activities/activities/index.html.erb
  app/app/views/activities/job_training/edit.html.erb
  app/config/locales/en.yml
  app/spec/controllers/activities/job_training_controller_spec.rb
  app/spec/helpers/activities_helper_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Migration + schema
  app/db/migrate/20260303120000_create_education_activity_months.rb
  app/db/schema.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.pdf
Due: rubocop

Model + controller
  app/app/controllers/activities/education/months_controller.rb
  app/app/controllers/activities/education_controller.rb
  app/app/models/education_activity.rb
  app/app/models/education_activity_month.rb
Due: rubocop

Create seperate tables for PR envs
  app/bin/db-drop-schema
  app/bin/db-migrate
  app/config/database.yml
  app/lib/tasks/schema.rake
  bin/destroy-pr-environment
  bin/run-command
  bin/run-database-migrations
  bin/update-pr-environment
  infra/app/service/main.tf
  infra/modules/database/role_manager/manage.py
Due: shellcheck, terraform_fmt

FFS-3808: Update review page display of work program activities (#1442)
  app/app/views/activities/summary/_job_training_table.html.erb
  app/app/views/activities/summary/show.html.erb
  app/config/locales/en.yml
  app/spec/controllers/activities/summary_controller_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Fix migration error when running db:migrate:reset
  app/db/migrate/20251223032643_create_flows_polymorphic_association.rb
Due: rubocop

Change education /new > /verify and add error page
  app/app/controllers/activities/education_controller.rb
  app/app/views/activities/activities/index.html.erb
  app/app/views/activities/education/verify.html.erb
  app/config/locales/en.yml
  app/config/routes.rb
  app/spec/controllers/activities/education_controller_spec.rb
  app/spec/e2e/activity_hub_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Add education self-attestation info page
  app/app/controllers/activities/education_controller.rb
  app/app/views/activities/education/error.html.erb
  app/app/views/activities/education/new.html.erb
  app/config/locales/en.yml
  app/db/migrate/20260228055519_add_school_info_to_education_activities.rb
  app/db/schema.rb
  app/spec/controllers/activities/education_controller_spec.rb
  app/spec/jobs/application_job_spec.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.pdf
Due: rubocop, erblint, i18n-unused, i18n-normalize

Ignore translations
  app/config/i18n-tasks.yml
Due: none

Validate presence of school name
  app/app/models/education_activity.rb
  app/config/locales/en.yml
  app/spec/models/education_activity_spec.rb
Due: rubocop, i18n-unused, i18n-normalize

views + content + routes
  app/app/views/activities/education/error.html.erb
  app/app/views/activities/education/months/edit.html.erb
  app/app/views/shared/_hours_input.html.erb
  app/config/locales/en.yml
  app/config/routes.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

min width between activity header and add buttons
  app/app/assets/stylesheets/activity_hub.scss
Due: none

Specs + factory
  app/spec/controllers/activities/education/months_controller_spec.rb
  app/spec/factories/education_activity_month.rb
Due: rubocop

redesigned card
  app/app/assets/stylesheets/uswds-overrides.scss
  app/app/views/activities/activities/index.html.erb
  app/spec/components/previews/uswds/card_preview.rb
Due: rubocop, erblint

community engagement report now never capitalized
  app/config/locales/en.yml
Due: i18n-unused, i18n-normalize

merged main
  app/app/views/activities/activities/index.html.erb
Due: erblint

FFS-3824: two column activity hub layout (#1441)
  app/app/assets/stylesheets/activity_hub.scss
  app/app/assets/stylesheets/application.postcss.css
  app/app/assets/stylesheets/uswds-overrides.scss
  app/app/components/activity_flow_progress_indicator/activity_flow_progress_indicator.scss
  app/app/models/activity_flow.rb
  app/app/views/activities/activities/index.html.erb
  app/config/locales/en.yml
  app/spec/controllers/activities/activities_controller_spec.rb
  app/spec/models/activity_flow_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Design adjustments
  app/app/views/shared/_hours_input.html.erb
  app/config/locales/en.yml
Due: erblint, i18n-unused, i18n-normalize

Fix progress indicator bar on Webkit browsers
  app/app/components/activity_flow_progress_indicator/activity_flow_progress_indicator.erb
  app/app/components/activity_flow_progress_indicator/activity_flow_progress_indicator.scss
  app/spec/components/activity_flow_progress_indicator_component_spec.rb
Due: rubocop, erblint

Align "0 / 80 hours" text to right by not using a `<p>`
  app/app/components/activity_flow_progress_indicator/activity_flow_progress_indicator.erb
  app/app/components/activity_flow_progress_indicator/activity_flow_progress_indicator.scss
Due: erblint

Create method + test + remove migration change
  app/app/controllers/activities/education_controller.rb
  app/app/views/activities/education/new.html.erb
  app/db/migrate/20251223032643_create_flows_polymorphic_association.rb
  app/db/schema.rb
  app/spec/controllers/activities/education_controller_spec.rb
  app/spec/models/education_activity_spec.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.pdf
Due: rubocop, erblint

Fix progress indicator bar on Webkit browsers (#1444)
  app/app/components/activity_flow_progress_indicator/activity_flow_progress_indicator.erb
  app/app/components/activity_flow_progress_indicator/activity_flow_progress_indicator.scss
  app/spec/components/activity_flow_progress_indicator_component_spec.rb
Due: rubocop, erblint

Add Emmy Income to demo launcher
  app/app/controllers/demo_launcher_controller.rb
  app/app/javascript/controllers/demo_launcher_controller.js
  app/app/views/demo_launcher/show.html.erb
  app/config/locales/en.yml
  app/spec/controllers/demo_launcher_controller_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize, prettier

FFS-3814: Self attested education info page (#1428)
  app/app/controllers/activities/education_controller.rb
  app/app/models/education_activity.rb
  app/app/views/activities/activities/index.html.erb
  app/app/views/activities/education/error.html.erb
  app/app/views/activities/education/new.html.erb
  app/app/views/activities/education/verify.html.erb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/routes.rb
  app/db/migrate/20260228055519_add_school_info_to_education_activities.rb
  app/db/schema.rb
  app/spec/controllers/activities/education_controller_spec.rb
  app/spec/e2e/activity_hub_spec.rb
  app/spec/jobs/application_job_spec.rb
  app/spec/models/education_activity_spec.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.pdf
Due: rubocop, erblint, i18n-unused, i18n-normalize

spanish translation for fake data
  app/config/locales/es.yml
Due: i18n-unused, i18n-normalize

Remove fallbacks and placeholder after merge
  app/app/models/education_activity.rb
  app/spec/controllers/activities/education_controller_spec.rb
Due: rubocop

Fix test + remove useless helper
  app/app/models/education_activity.rb
  app/spec/controllers/activities/education/months_controller_spec.rb
Due: rubocop
