Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-unused, i18n-normalize, shellcheck, prettier, terraform_fmt, actionlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml

- repo: local
  hooks:
  - id: rubocop
    name: rubocop
    entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
    language: system
    files: '^app/.*\.rb$'

  # this rubocop hook works on windows/wsl, and is being left here as of 8/27/2025 to figure it out at some point
  #- id: rubocop
  #  name: rubocop
  #  language: system
  #  entry: bash -lc 'BUNDLE_GEMFILE=app/Gemfile cd app && bundle exec rubocop -a --force-exclusion'
  #  types: [ ruby ]
  #  files: '^app/.*\.rb$'
  #  pass_filenames: false

  - id: erblint
    name: erblint
    entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
    language: system
    files: '^app/.*\.erb$'

  - id: i18n-unused
    name: i18n-unused
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks unused
    language: system
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: i18n-normalize
    name: i18n-normalize
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
    language: system
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system        # installed via `brew bundle`
    files: '^bin/.*$'

  - id: prettier
    name: prettier
    entry: bin/run-linter --cd app -- npm run format:precommit
    language: node
    files: '^app/.*\.(js|ts)$'

  - id: terraform_fmt
    name: Terraform Fmt
    entry: terraform fmt
    language: system
    files: 'infra/.*\.tf$'

#  - id: checkov
#    name: Checkov
#    entry: checkov --quiet --output sarif --framework terraform -f
#    language: system
#    files: 'infra/.*\.tf$'

  - id: actionlint
    name: ActionLint
    entry: actionlint
    language: system
    files: '^.github/.*\.yml$'
    pass_filenames: false

New content for /add_jobs
  app/app/views/cbv/add_jobs/show.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: erblint, i18n-unused, i18n-normalize

Test
  app/spec/controllers/cbv/add_jobs_controller_spec.rb
Due: rubocop

FFS-2988: show feedback link in help modal for non-caseworkers (#1036)
  app/app/views/help/_help_topic_content.html.erb
  app/app/views/help/index.html.erb
  app/app/views/help/show.html.erb
  app/spec/e2e/help_feature_spec.rb
Due: rubocop, erblint

Guard against null paystubs in tracking event
  app/app/controllers/cbv/payment_details_controller.rb
  app/spec/controllers/cbv/payment_details_controller_spec.rb
Due: rubocop

Better description
  .github/workflows/cd-app.yml
Due: actionlint

Always pass commit_sha
  .github/workflows/cd-app.yml
Due: actionlint

further debugging and experiments
  .github/workflows/database-migrations.yml
  .github/workflows/deploy.yml
Due: actionlint

Guard against null paystubs in tracking event (#1045)
  app/app/controllers/cbv/payment_details_controller.rb
  app/spec/controllers/cbv/payment_details_controller_spec.rb
Due: rubocop

npm audit + happy dom cve fix
  app/package-lock.json
  app/package.json
Due: none

New content for /other_jobs
  app/app/views/cbv/other_jobs/show.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: erblint, i18n-unused, i18n-normalize

test
  app/spec/controllers/cbv/other_jobs_controller_spec.rb
Due: rubocop

Provide optional sha to deploy (#875)
  .github/workflows/cd-app.yml
  .github/workflows/database-migrations.yml
  .github/workflows/deploy.yml
Due: actionlint

String fix on /summary
  app/.cursor/commands/summary.md
  app/app/views/cbv/summaries/show.html.erb
  app/config/locales/en.yml
Due: erblint, i18n-unused, i18n-normalize

Fix e2e
  app/spec/e2e/cbv_flow_pinwheel_spec.rb
  app/spec/e2e/cbv_flow_spec.rb
Due: rubocop

fix: upgrade @hotwired/turbo-rails from 8.0.16 to 8.0.18
  app/package.json
Due: none

Spanish translataions
  app/config/locales/es.yml
Due: i18n-unused, i18n-normalize

Fix missing translation
  app/app/views/cbv/add_jobs/show.html.erb
Due: erblint

Fix weird issue
  app/config/locales/es.yml
Due: i18n-unused, i18n-normalize

npm audit + happy dom cve fix (#1046)
  app/package-lock.json
  app/package.json
Due: none

Fixed multiple employments for ADP accounts (#158)
  app/app/controllers/api/argyle_controller.rb
  app/app/services/aggregators/sdk/argyle_service.rb
  app/spec/controllers/api/argyle_controller_spec.rb
Due: rubocop

Jeffcatania/add preview mode (#159)
  app/app/controllers/cbv/preview_controller.rb
  app/app/javascript/controllers/index.js
  app/app/javascript/controllers/preview_form_controller.js
  app/app/services/aggregators/sdk/argyle_service.rb
  app/app/services/aggregators/sdk/mock_argyle_service.rb
  app/app/views/layouts/pdf.html.erb
  app/app/views/layouts/preview.html.erb
  app/config/routes.rb
Due: rubocop, erblint, prettier

FFS-3406: Implement content updates to /add_jobs page (#1044)
  app/app/views/cbv/add_jobs/show.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/spec/controllers/cbv/add_jobs_controller_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Update code.json
  code.json
Due: none

Update entry page help text
  app/app/views/cbv/entries/show.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: erblint, i18n-unused, i18n-normalize

FFS-3330: Update /employer_search header text
  app/app/views/cbv/employer_searches/_employer.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: erblint, i18n-unused, i18n-normalize

Add chromedriver upgrade to `bin/update`
  app/bin/update
Due: none

Add rbs sig files
  app/.solargraph.yml
  app/Gemfile
  app/Gemfile.lock
  app/Steepfile
  app/lib/tasks/rbs.rake
  app/rbs_collection.lock.yaml
  app/rbs_collection.yaml
  app/sig/rbs_rails/app/models/api_access_token.rbs
  app/sig/rbs_rails/app/models/cbv_applicant.rbs
  app/sig/rbs_rails/app/models/cbv_applicant/az_des.rbs
  app/sig/rbs_rails/app/models/cbv_applicant/la_ldh.rbs
  app/sig/rbs_rails/app/models/cbv_applicant/sandbox.rbs
  app/sig/rbs_rails/app/models/cbv_flow.rbs
  app/sig/rbs_rails/app/models/cbv_flow_invitation.rbs
  app/sig/rbs_rails/app/models/payroll_account.rbs
  app/sig/rbs_rails/app/models/payroll_account/argyle.rbs
  app/sig/rbs_rails/app/models/payroll_account/pinwheel.rbs
  app/sig/rbs_rails/app/models/solid_queue/blocked_execution.rbs
  app/sig/rbs_rails/app/models/solid_queue/claimed_execution.rbs
  app/sig/rbs_rails/app/models/solid_queue/failed_execution.rbs
  app/sig/rbs_rails/app/models/solid_queue/job.rbs
  app/sig/rbs_rails/app/models/solid_queue/pause.rbs
  app/sig/rbs_rails/app/models/solid_queue/process.rbs
  app/sig/rbs_rails/app/models/solid_queue/ready_execution.rbs
  app/sig/rbs_rails/app/models/solid_queue/recurring_execution.rbs
  app/sig/rbs_rails/app/models/solid_queue/recurring_task.rbs
  app/sig/rbs_rails/app/models/solid_queue/scheduled_execution.rbs
  app/sig/rbs_rails/app/models/solid_queue/semaphore.rbs
  app/sig/rbs_rails/app/models/user.rbs
  app/sig/rbs_rails/app/models/webhook_event.rbs
  app/sig/rbs_rails/model_dependencies.rbs
  app/sig/rbs_rails/path_helpers.rbs
Due: none

Redirect to datasource plugin in new window
  app/app/controllers/cbv/base_controller.rb
  app/app/controllers/cbv/data_source_controller.rb
  app/app/javascript/controllers/cbv/data_source_controller.js
  app/app/javascript/controllers/index.js
  app/app/views/cbv/data_source/show.html.erb
  app/app/views/cbv/entries/show.html.erb
  app/config/application.rb
  app/config/locales/en.yml
  app/config/routes.rb
  app/lib/data_source_config.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize, prettier

Add chromedriver upgrade to `bin/update` (#1052)
  app/bin/update
Due: none

Setup websocket
  app/app/channels/application_cable/connection.rb
  app/app/controllers/cbv/data_source_controller.rb
  app/app/javascript/controllers/cbv/data_source_controller.js
  app/app/views/cbv/data_source/show.html.erb
Due: rubocop, erblint, prettier

Remove 99% of noise/warnings when running rspec
  app/app/services/data_retention_service.rb
  app/lib/i18n_csv_tasks.rb
  app/lib/tasks/az_des.rake
  app/lib/tasks/users.rake
  app/spec/components/table_cell_component_spec.rb
  app/spec/services/translation_service_spec.rb
Due: rubocop

Bump vite to patch vulnerability
  app/package-lock.json
  app/package.json
Due: none

Change puts to rails specific logging
  app/app/services/pinwheel_webhook_manager.rb
  app/config/initializers/ngrok_development.rb
  app/lib/tasks/argyle_sandbox_data.rake
  app/lib/tasks/auto_generate_diagram.rake
  app/lib/tasks/az_des.rake
  app/lib/tasks/scanning.rake
  app/spec/rails_helper.rb
Due: rubocop

Genericize translation
  app/app/views/cbv/entries/show.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: erblint, i18n-unused, i18n-normalize

Make translation health check happy
  app/config/locales/es.yml
Due: i18n-unused, i18n-normalize

Remove 99% of noise/warnings when running rspec (#1050)
  app/app/services/data_retention_service.rb
  app/app/services/pinwheel_webhook_manager.rb
  app/config/initializers/ngrok_development.rb
  app/lib/i18n_csv_tasks.rb
  app/lib/tasks/argyle_sandbox_data.rake
  app/lib/tasks/auto_generate_diagram.rake
  app/lib/tasks/az_des.rake
  app/lib/tasks/scanning.rake
  app/lib/tasks/users.rake
  app/package-lock.json
  app/package.json
  app/spec/components/table_cell_component_spec.rb
  app/spec/rails_helper.rb
  app/spec/services/translation_service_spec.rb
Due: rubocop

add is_caseworker option to preview bar.
  app/app/views/layouts/preview.html.erb
Due: erblint

Added spanish translation
  app/config/locales/es.yml
Due: i18n-unused, i18n-normalize
