Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-unused, i18n-normalize, shellcheck, prettier, terraform_fmt, actionlint

rubocop:
  name: rubocop
  entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
  language: system

erblint:
  name: erblint
  entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
  language: system

i18n-unused:
  name: i18n-unused
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks unused
  language: system
  pass_filenames: false

i18n-normalize:
  name: i18n-normalize
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
  language: system
  pass_filenames: false

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system

prettier:
  name: prettier
  entry: bin/run-linter --cd app -- npm run format:precommit
  language: node

terraform_fmt:
  name: Terraform Fmt
  entry: terraform fmt
  language: system

actionlint:
  name: ActionLint
  entry: actionlint
  language: system
  pass_filenames: false

correct hours text
  app/config/locales/en.yml
  app/spec/components/previews/uswds/card_preview.rb
Due: rubocop, i18n-unused, i18n-normalize

FFS-3815: Education self-attestation: monthly hours input (#1443)
  app/app/controllers/activities/education/months_controller.rb
  app/app/controllers/activities/education_controller.rb
  app/app/models/education_activity.rb
  app/app/models/education_activity_month.rb
  app/app/views/activities/education/months/edit.html.erb
  app/app/views/shared/_hours_input.html.erb
  app/config/locales/en.yml
  app/config/routes.rb
  app/db/migrate/20260303120000_create_education_activity_months.rb
  app/db/schema.rb
  app/spec/controllers/activities/education/months_controller_spec.rb
  app/spec/controllers/activities/education_controller_spec.rb
  app/spec/factories/education_activity_month.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

increasing viewport for tests
  app/spec/rails_helper.rb
Due: rubocop

changed email for demo site
  app/app/controllers/demo_launcher_controller.rb
Due: rubocop

FFS-3823: Card UI updates (#1445)
  app/app/assets/stylesheets/activity_hub.scss
  app/app/views/activities/activities/index.html.erb
  app/config/locales/en.yml
  app/spec/components/previews/uswds/card_preview.rb
  app/spec/rails_helper.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

updated rspec test to match changed email
  app/spec/controllers/demo_launcher_controller_spec.rb
Due: rubocop

Doc uploads for education
  app/app/controllers/activities/document_uploads_controller.rb
  app/app/controllers/activities/education/months_controller.rb
  app/app/models/education_activity.rb
  app/config/locales/en.yml
  app/config/routes.rb
Due: rubocop, i18n-unused, i18n-normalize

Spec
  app/spec/controllers/activities/document_uploads_controller_spec.rb
  app/spec/controllers/activities/education/months_controller_spec.rb
  app/spec/models/education_activity_spec.rb
Due: rubocop

rough draft -- implemented new component and installed on CS flow
  app/app/components/activity_flow_header_component.rb
  app/app/components/activity_flow_header_component/activity_flow_header_component.html.erb
  app/app/controllers/activities/volunteering/months_controller.rb
  app/app/javascript/controllers/activity_flow_header_controller.js
  app/app/javascript/controllers/index.js
  app/app/views/activities/volunteering/edit.html.erb
  app/app/views/activities/volunteering/months/edit.html.erb
  app/app/views/activities/volunteering/new.html.erb
  app/app/views/activities/volunteering/review.html.erb
  app/config/locales/en.yml
  app/spec/components/activity_flow_header_component_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize, prettier

recombobulations
  app/app/assets/stylesheets/application.postcss.css
  app/app/components/activity_flow_header_component/activity_flow_header_component.html.erb
  app/app/components/activity_flow_header_component/activity_flow_header_component.scss
  app/app/views/activities/volunteering/edit.html.erb
  app/app/views/activities/volunteering/months/edit.html.erb
  app/app/views/activities/volunteering/new.html.erb
  app/app/views/activities/volunteering/review.html.erb
  app/app/views/layouts/application.html.erb
  app/config/locales/en.yml
Due: erblint, i18n-unused, i18n-normalize

No ticket: Add Emmy Income to demo launcher (#1446)
  app/app/controllers/demo_launcher_controller.rb
  app/app/javascript/controllers/demo_launcher_controller.js
  app/app/views/demo_launcher/show.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/spec/controllers/demo_launcher_controller_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize, prettier

added preview
  app/spec/components/previews/activity_flow_header_component_preview.rb
Due: rubocop

added back button to review page (only for CS)
  app/app/controllers/activities/document_uploads_controller.rb
  app/app/controllers/activities/volunteering_controller.rb
  app/app/views/activities/document_uploads/new.html.erb
  app/app/views/activities/volunteering/review.html.erb
Due: rubocop, erblint

css fiddling
  app/app/components/activity_flow_header_component/activity_flow_header_component.html.erb
  app/app/components/activity_flow_header_component/activity_flow_header_component.scss
Due: erblint

make sticky, move string tokens around
  app/app/components/activity_flow_header_component/activity_flow_header_component.html.erb
  app/app/components/activity_flow_header_component/activity_flow_header_component.scss
  app/config/locales/en.yml
  app/spec/components/activity_flow_header_component_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

hours -> credit hours (per design request)
  app/app/models/education_activity.rb
  app/config/locales/en.yml
  app/spec/controllers/activities/document_uploads_controller_spec.rb
Due: rubocop, i18n-unused, i18n-normalize

fix for back button disappearing after validation on hours page
  app/app/controllers/activities/volunteering/months_controller.rb
  app/app/helpers/application_helper.rb
  app/spec/controllers/activities/volunteering/months_controller_spec.rb
Due: rubocop

fix brakeman complain
  app/app/views/activities/document_uploads/new.html.erb
Due: erblint

Add credit_hours to ignore missing
  app/config/i18n-tasks.yml
Due: none

FFS-3816: Education self-attestation: doc upload (#1448)
  app/app/controllers/activities/document_uploads_controller.rb
  app/app/controllers/activities/education/months_controller.rb
  app/app/models/education_activity.rb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/routes.rb
  app/spec/controllers/activities/document_uploads_controller_spec.rb
  app/spec/controllers/activities/education/months_controller_spec.rb
  app/spec/models/education_activity_spec.rb
Due: rubocop, i18n-unused, i18n-normalize

iterate over list of listeners
  app/app/javascript/controllers/activity_flow_header_controller.js
Due: prettier

renamed to move away from spoke terminology
  app/app/components/activity_flow_header_component/activity_flow_header_component.html.erb
  app/app/components/activity_flow_header_component/activity_flow_header_component.scss
Due: erblint

FFS-3841: Add header, exit, and back to Community Service flow (#1449)
  app/app/assets/stylesheets/application.postcss.css
  app/app/components/activity_flow_header_component.rb
  app/app/components/activity_flow_header_component/activity_flow_header_component.html.erb
  app/app/components/activity_flow_header_component/activity_flow_header_component.scss
  app/app/controllers/activities/document_uploads_controller.rb
  app/app/controllers/activities/volunteering/months_controller.rb
  app/app/controllers/activities/volunteering_controller.rb
  app/app/helpers/application_helper.rb
  app/app/javascript/controllers/activity_flow_header_controller.js
  app/app/javascript/controllers/index.js
  app/app/views/activities/document_uploads/new.html.erb
  app/app/views/activities/volunteering/edit.html.erb
  app/app/views/activities/volunteering/months/edit.html.erb
  app/app/views/activities/volunteering/new.html.erb
  app/app/views/activities/volunteering/review.html.erb
  app/app/views/layouts/application.html.erb
  app/config/locales/en.yml
  app/spec/components/activity_flow_header_component_spec.rb
  app/spec/components/previews/activity_flow_header_component_preview.rb
  app/spec/controllers/activities/volunteering/months_controller_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize, prettier

implement header on work programs flow
  app/app/controllers/activities/document_uploads_controller.rb
  app/app/controllers/activities/job_training/months_controller.rb
  app/app/controllers/activities/job_training_controller.rb
  app/app/views/activities/document_uploads/new.html.erb
  app/app/views/activities/job_training/edit.html.erb
  app/app/views/activities/job_training/months/edit.html.erb
  app/app/views/activities/job_training/new.html.erb
  app/app/views/activities/job_training/review.html.erb
  app/spec/controllers/activities/job_training/months_controller_spec.rb
Due: rubocop, erblint

Education review page
  app/app/controllers/activities/document_uploads_controller.rb
  app/app/controllers/activities/education/months_controller.rb
  app/app/controllers/activities/education_controller.rb
  app/app/models/education_activity.rb
  app/app/views/activities/education/review.html.erb
  app/config/locales/en.yml
  app/config/routes.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Specs
  app/spec/controllers/activities/document_uploads_controller_spec.rb
  app/spec/controllers/activities/education/months_controller_spec.rb
  app/spec/controllers/activities/education_controller_spec.rb
  app/spec/e2e/activity_hub_education_self_attestation_spec.rb
Due: rubocop

Fix additional comments
  app/config/locales/en.yml
Due: i18n-unused, i18n-normalize

interim state commit
  app/app/components/activity_flow_header_component.rb
  app/app/components/activity_flow_header_component/activity_flow_header_component.html.erb
  app/app/javascript/controllers/activity_flow_header_controller.js
  app/app/views/activities/job_training/new.html.erb
  app/app/views/activities/volunteering/new.html.erb
Due: rubocop, erblint, prettier

working state
  app/app/javascript/controllers/activity_flow_header_controller.js
Due: prettier

e2e spec
  app/spec/e2e/activity_flow_back_exit_navigation_spec.rb
Due: rubocop

Remove 5 unused files
  app/app/services/agency_name_matching_service.rb
  app/app/services/backfill_additional_information_service.rb
  app/app/services/csv_generator.rb
  app/spec/services/agency_name_matching_service_spec.rb
  app/spec/services/backfill_additional_information_service_spec.rb
Due: rubocop

Fix two leaky Activity -> CBV flow links
  app/app/controllers/api/argyle_controller.rb
  app/app/controllers/cbv/base_controller.rb
  app/app/controllers/cbv/submits_controller.rb
  app/app/controllers/cbv/summaries_controller.rb
  app/app/controllers/cbv/synchronization_failures_controller.rb
  app/app/controllers/cbv/synchronizations_controller.rb
  app/app/services/activity_flow_navigator.rb
  app/app/services/cbv_flow_navigator.rb
  app/app/views/cbv/synchronization_failures/show.html.erb
  app/spec/controllers/api/argyle_controller_spec.rb
  app/spec/controllers/cbv/synchronization_failures_controller_spec.rb
Due: rubocop, erblint

Lowercase content
  app/config/locales/en.yml
Due: i18n-unused, i18n-normalize

FFS-3817: Education self-attestation: activity review screen (#1451)
  app/app/controllers/activities/document_uploads_controller.rb
  app/app/controllers/activities/education/months_controller.rb
  app/app/controllers/activities/education_controller.rb
  app/app/models/education_activity.rb
  app/app/views/activities/education/review.html.erb
  app/config/locales/en.yml
  app/config/routes.rb
  app/spec/controllers/activities/document_uploads_controller_spec.rb
  app/spec/controllers/activities/education/months_controller_spec.rb
  app/spec/controllers/activities/education_controller_spec.rb
  app/spec/e2e/activity_hub_education_self_attestation_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Remove 5 unused files (#1453)
  app/app/services/agency_name_matching_service.rb
  app/app/services/backfill_additional_information_service.rb
  app/app/services/csv_generator.rb
  app/spec/services/agency_name_matching_service_spec.rb
  app/spec/services/backfill_additional_information_service_spec.rb
Due: rubocop

Hub updates
  app/app/controllers/activities/activities_controller.rb
  app/app/helpers/activities_helper.rb
  app/app/views/activities/activities/index.html.erb
Due: rubocop, erblint

Test
  app/spec/controllers/activities/activities_controller_spec.rb
  app/spec/helpers/activities_helper_spec.rb
Due: rubocop

Update after merging review page
  app/app/helpers/activities_helper.rb
  app/spec/controllers/activities/activities_controller_spec.rb
  app/spec/helpers/activities_helper_spec.rb
Due: rubocop

Routing + progress updates
  app/app/controllers/activities/education_controller.rb
  app/app/models/education_activity.rb
Due: rubocop

Test
  app/spec/models/education_activity_spec.rb
  app/spec/services/activity_flow_progress_calculator_spec.rb
Due: rubocop

Path conditions:
  rubocop: any of: ^app/.*\.rb$
  erblint: any of: ^app/.*\.erb$
  i18n-unused: any of: ^app/config/locales/.*\.yml$
  i18n-normalize: any of: ^app/config/locales/.*\.yml$
  shellcheck: any of: ^bin/.*$
  prettier: any of: ^app/.*\.(js|ts)$
  terraform_fmt: any of: infra/.*\.tf$
  actionlint: any of: ^.github/.*\.yml$
