Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-unused, i18n-normalize, shellcheck, prettier, terraform_fmt, actionlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml

- repo: local
  hooks:
  - id: rubocop
    name: rubocop
    entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
    language: system
    files: '^app/.*\.rb$'

  # this rubocop hook works on windows/wsl, and is being left here as of 8/27/2025 to figure it out at some point
  #- id: rubocop
  #  name: rubocop
  #  language: system
  #  entry: bash -lc 'BUNDLE_GEMFILE=app/Gemfile cd app && bundle exec rubocop -a --force-exclusion'
  #  types: [ ruby ]
  #  files: '^app/.*\.rb$'
  #  pass_filenames: false

  - id: erblint
    name: erblint
    entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
    language: system
    files: '^app/.*\.erb$'

  - id: i18n-unused
    name: i18n-unused
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks unused
    language: system
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: i18n-normalize
    name: i18n-normalize
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
    language: system
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system        # installed via `brew bundle`
    files: '^bin/.*$'

  - id: prettier
    name: prettier
    entry: bin/run-linter --cd app -- npm run format:precommit
    language: node
    files: '^app/.*\.(js|ts)$'

  - id: terraform_fmt
    name: Terraform Fmt
    entry: terraform fmt
    language: system
    files: 'infra/.*\.tf$'

#  - id: checkov
#    name: Checkov
#    entry: checkov --quiet --output sarif --framework terraform -f
#    language: system
#    files: 'infra/.*\.tf$'

  - id: actionlint
    name: ActionLint
    entry: actionlint
    language: system
    files: '^.github/.*\.yml$'
    pass_filenames: false

Connect show page to active record models
  app/app/controllers/activities/education_controller.rb
  app/app/views/activities/education/show.html.erb
  app/config/locales/en.yml
  app/spec/features/education_controller_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Link education data fetching to show page
  app/app/controllers/activities/activities_controller.rb
  app/app/controllers/activities/base_controller.rb
  app/app/controllers/activities/education_controller.rb
  app/app/javascript/activities_education_new.ts
  app/app/services/education_service.rb
  app/app/services/identity_service.rb
  app/app/views/activities/activities/show.html.erb
  app/app/views/activities/education/show.html.erb
  app/config/locales/en.yml
  app/package-lock.json
  app/spec/factories/enrollment.rb
  app/spec/factories/identity.rb
  docs/app/rendered/.database-diagram-schema-version
Due: rubocop, erblint, i18n-unused, i18n-normalize, prettier

use localized strings for status
  app/app/views/activities/education/show.html.erb
Due: erblint

fix syntax error
  app/spec/factories/identity.rb
Due: rubocop

run robocop
  app/db/migrate/20251128132235_create_identities.rb
  app/spec/factories/school.rb
  app/spec/features/education_controller_spec.rb
  app/spec/models/identity_spec.rb
Due: rubocop

remove unused file
  app/app/views/activities/education/_indicator.html.erb
Due: erblint

Add some activity object
  app/app/controllers/activities/education_controller.rb
  app/app/models/EducationActivitiesEnrollment.rb
  app/app/models/education_activity.rb
  app/app/views/activities/education/show.html.erb
  app/config/routes.rb
  app/db/migrate/20251201191250_create_education_activities.rb
  app/db/migrate/20251201191432_create_join_table_education_activities_enrollments.rb
  app/db/schema.rb
  app/spec/models/education_activity_spec.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.pdf
Due: rubocop, erblint

Switch to turbo streams for updating
  app/app/components/synchronization_indicator_component.html.erb
  app/app/controllers/activities/base_controller.rb
  app/app/controllers/activities/education_controller.rb
  app/app/javascript/activities_education_new.ts
  app/app/views/activities/education/index.html.erb
Due: rubocop, erblint, prettier

start using session
  app/app/controllers/activities/base_controller.rb
  app/app/controllers/activities/education_controller.rb
  app/app/services/identity_service.rb
  app/app/views/activities/education/index.html.erb
Due: rubocop, erblint

switch to session
  app/app/controllers/activities/activities_controller.rb
  app/app/controllers/activities/base_controller.rb
  app/app/controllers/activities/education_controller.rb
  app/app/models/education_activity.rb
  app/app/models/enrollment.rb
  app/app/models/school.rb
  app/app/services/education_service.rb
  app/app/services/identity_service.rb
  app/app/views/activities/activities/show.html.erb
  app/config/locales/en.yml
  app/db/migrate/20251201191432_create_join_table_education_activities_enrollments.rb
  app/db/migrate/20251203160934_add_education_activity_to_enrollment.rb
  app/db/schema.rb
  app/spec/features/education_controller_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

switch to session
  app/app/controllers/activities/education_controller.rb
  app/app/models/enrollment.rb
Due: rubocop

updated hierarchy
  app/app/views/cbv/entries/show.html.erb
Due: erblint

fix bad rebase
  app/app/controllers/activities/activities_controller.rb
  app/package-lock.json
  app/package.json
Due: rubocop

fix bad rebase
  app/app/controllers/activities/education_controller.rb
  app/app/services/identity_service.rb
Due: rubocop

Spanish translations
  app/config/locales/es.yml
Due: i18n-unused, i18n-normalize

testing
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/spec/services/aggregators/aggregator_reports/aggregator_report_spec.rb
Due: rubocop

move back to nil strategy
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/spec/services/aggregators/aggregator_reports/aggregator_report_spec.rb
Due: rubocop

FFS-3588: Add validation of LA case_number to 13 characters or less (#1178)
  app/app/models/cbv_applicant/la_ldh.rb
  app/app/views/cbv/applicant_informations/_la_ldh.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/spec/controllers/cbv/applicant_informations_controller_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

FFS-3566: Refactor to support setting flows for generic links (#1167)
  app/app/controllers/application_controller.rb
  app/app/controllers/cbv/base_controller.rb
  app/app/controllers/cbv/generic_links_controller.rb
  app/app/controllers/flow_controller.rb
Due: rubocop

Add identity to activity flow
  app/app/models/activity_flow.rb
  app/app/models/identity.rb
  app/db/migrate/20251204141756_add_identity_to_activity_flow.rb
  app/db/schema.rb
  app/spec/factories/identity.rb
  app/spec/models/identity_spec.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.pdf
Due: rubocop

FFS-3562: even better nil handling (#1180)
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/spec/services/aggregators/aggregator_reports/aggregator_report_spec.rb
Due: rubocop

Fix /missing_results to link to /other_jobs
  app/app/controllers/cbv/base_controller.rb
  app/app/views/cbv/employer_searches/_employer.html.erb
  app/spec/controllers/cbv/employer_searches_controller_spec.rb
  app/spec/controllers/cbv/missing_results_controller_spec.rb
Due: rubocop, erblint

Fix error
  app/app/controllers/cbv/sessions_controller.rb
  app/app/views/cbv/sessions/timeout.html.erb
Due: rubocop, erblint

Test
  app/spec/controllers/cbv/sessions_controller_spec.rb
Due: rubocop

added a site alert banner
  app/app/controllers/application_controller.rb
  app/app/views/layouts/application.html.erb
  app/lib/client_agency_config.rb
Due: rubocop, erblint

rspec tests
  app/spec/requests/site_alert_spec.rb
Due: rubocop

FFS-3591: Investigate & fix "undefined method 'id' for nil" during timeout (#1186)
  app/app/controllers/cbv/sessions_controller.rb
  app/app/views/cbv/sessions/timeout.html.erb
  app/spec/controllers/cbv/sessions_controller_spec.rb
Due: rubocop, erblint

Fix /missing_results to link to /other_jobs (#1185)
  app/app/controllers/cbv/base_controller.rb
  app/app/views/cbv/employer_searches/_employer.html.erb
  app/spec/controllers/cbv/employer_searches_controller_spec.rb
  app/spec/controllers/cbv/missing_results_controller_spec.rb
Due: rubocop, erblint

Bump rspec-rails from 6.1.3 to 8.0.2 in /app
  app/Gemfile
  app/Gemfile.lock
Due: none

Use `:test` queue adapter in all tests
  app/config/environments/test.rb
  app/spec/jobs/case_worker_transmitter_job_spec.rb
  app/spec/lib/az_des_rake_spec.rb
Due: rubocop

Bump @rails/actioncable from 7.2.202 to 8.1.100 in /app
  app/package-lock.json
  app/package.json
Due: none

Remove `omniauth-rails_csrf_protection` gem
  app/Gemfile
  app/Gemfile.lock
  app/config/initializers/devise.rb
  app/spec/e2e/caseworker_login_spec.rb
Due: rubocop

Dump schema (alphabetized by Rails 8.1)
  app/db/schema.rb
Due: rubocop

removed unnecessary client config changes
  app/lib/client_agency_config.rb
Due: rubocop

Change activity/cbv_flow_id session key to flow_id
  app/app/controllers/activities/base_controller.rb
  app/app/controllers/api/argyle_controller.rb
  app/app/controllers/api/pinwheel_controller.rb
  app/app/controllers/api/user_events_controller.rb
  app/app/controllers/application_controller.rb
  app/app/controllers/cbv/base_controller.rb
  app/app/controllers/cbv/sessions_controller.rb
  app/app/controllers/feedbacks_controller.rb
  app/app/controllers/flow_controller.rb
  app/app/controllers/help_controller.rb
  app/app/controllers/pages_controller.rb
  app/app/views/layouts/application.html.erb
  app/lib/generic_event_tracker.rb
  app/spec/controllers/activities/activities_controller_spec.rb
  app/spec/controllers/activities/job_training_controller_spec.rb
  app/spec/controllers/activities/submit_controller_spec.rb
  app/spec/controllers/activities/success_controller_spec.rb
  app/spec/controllers/activities/summary_controller_spec.rb
  app/spec/controllers/api/argyle_controller_spec.rb
  app/spec/controllers/api/pinwheel_controller_spec.rb
  app/spec/controllers/api/user_events_controller_spec.rb
  app/spec/controllers/cbv/add_jobs_controller_spec.rb
  app/spec/controllers/cbv/applicant_informations_controller_spec.rb
  app/spec/controllers/cbv/base_controller_spec.rb
  app/spec/controllers/cbv/employer_searches_controller_spec.rb
  app/spec/controllers/cbv/entries_controller_spec.rb
  app/spec/controllers/cbv/missing_results_controller_spec.rb
  app/spec/controllers/cbv/other_jobs_controller_spec.rb
  app/spec/controllers/cbv/payment_details_controller_spec.rb
  app/spec/controllers/cbv/sessions_controller_spec.rb
  app/spec/controllers/cbv/submits_controller_spec.rb
  app/spec/controllers/cbv/successes_controller_spec.rb
  app/spec/controllers/cbv/summaries_controller_spec.rb
  app/spec/controllers/cbv/synchronization_failures_controller_spec.rb
  app/spec/controllers/cbv/synchronizations_controller_spec.rb
  app/spec/controllers/feedbacks_controller_spec.rb
  app/spec/controllers/help_controller_spec.rb
  app/spec/controllers/pages_controller_spec.rb
  app/spec/generic_event_tracker_spec.rb
Due: rubocop, erblint

Fix agency detection to prefer `@cbv_flow` again
  app/app/controllers/application_controller.rb
  app/app/controllers/cbv/base_controller.rb
  app/spec/controllers/application_controller_spec.rb
  app/spec/controllers/cbv/base_controller_spec.rb
Due: rubocop

Add flow_type to session
  app/app/controllers/activities/base_controller.rb
  app/app/controllers/application_controller.rb
  app/app/controllers/cbv/base_controller.rb
  app/app/controllers/flow_controller.rb
  app/spec/controllers/activities/base_controller_spec.rb
  app/spec/controllers/cbv/base_controller_spec.rb
  app/spec/controllers/cbv/generic_links_controller_spec.rb
Due: rubocop

Start refactors
  app/app/controllers/activities/activities_controller.rb
  app/app/controllers/activities/base_controller.rb
  app/app/controllers/activities/education_controller.rb
  app/app/models/activity_flow.rb
  app/app/models/education_activity.rb
  app/app/services/education_service.rb
  app/app/services/identity_service.rb
  app/app/views/activities/activities/show.html.erb
  app/app/views/activities/education/new.html.erb
  app/app/views/activities/education/show.html.erb
  app/config/locales/en.yml
  app/config/routes.rb
  app/db/migrate/20251204165356_link_education_activity_to_flow.rb
  app/db/schema.rb
  app/spec/controllers/activities/activities_controller_spec.rb
  app/spec/controllers/activities/education_controller_spec.rb
  app/spec/factories/activity_flows.rb
  app/spec/factories/education_activity.rb
  app/spec/factories/identity.rb
  app/spec/factories/job_training_activity.rb
  app/spec/factories/volunteering_activity.rb
  app/spec/models/education_activity_spec.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.pdf
Due: rubocop, erblint, i18n-unused, i18n-normalize
