Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-unused, i18n-normalize, shellcheck, prettier, terraform_fmt, actionlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml

- repo: local
  hooks:
  - id: rubocop
    name: rubocop
    entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
    language: system
    files: '^app/.*\.rb$'

  # this rubocop hook works on windows/wsl, and is being left here as of 8/27/2025 to figure it out at some point
  #- id: rubocop
  #  name: rubocop
  #  language: system
  #  entry: bash -lc 'BUNDLE_GEMFILE=app/Gemfile cd app && bundle exec rubocop -a --force-exclusion'
  #  types: [ ruby ]
  #  files: '^app/.*\.rb$'
  #  pass_filenames: false

  - id: erblint
    name: erblint
    entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
    language: system
    files: '^app/.*\.erb$'

  - id: i18n-unused
    name: i18n-unused
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks unused
    language: system
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: i18n-normalize
    name: i18n-normalize
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
    language: system
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system        # installed via `brew bundle`
    files: '^bin/.*$'

  - id: prettier
    name: prettier
    entry: bin/run-linter --cd app -- npm run format:precommit
    language: node
    files: '^app/.*\.(js|ts)$'

  - id: terraform_fmt
    name: Terraform Fmt
    entry: terraform fmt
    language: system
    files: 'infra/.*\.tf$'

#  - id: checkov
#    name: Checkov
#    entry: checkov --quiet --output sarif --framework terraform -f
#    language: system
#    files: 'infra/.*\.tf$'

  - id: actionlint
    name: ActionLint
    entry: actionlint
    language: system
    files: '^.github/.*\.yml$'
    pass_filenames: false

Models
  app/app/models/employment_activity.rb
  app/app/models/employment_activity_month.rb
Due: rubocop

Views
  app/app/javascript/controllers/hours_input_controller.js
  app/app/views/activities/employment/months/edit.html.erb
  app/app/views/shared/_hours_input.html.erb
Due: erblint, prettier

Specs
  app/spec/components/uswds/currency_input_component_spec.rb
  app/spec/controllers/activities/employment/months_controller_spec.rb
  app/spec/controllers/activities/employment_controller_spec.rb
  app/spec/e2e/activity_hub_spec.rb
  app/spec/factories/employment_activity_month.rb
  app/spec/models/employment_activity_month_spec.rb
  app/spec/models/volunteering_activity_month_spec.rb
  app/spec/support/shared_examples/activity_month_model_examples.rb
Due: rubocop

removed cards on ah again -- that's in another ticket
  app/app/controllers/activities/activities_controller.rb
  app/app/views/activities/activities/index.html.erb
  app/spec/e2e/activity_hub_spec.rb
Due: rubocop, erblint

FFS-3773: Add hour inputs to work program activity (#1423)
  app/AGENTS.md
  app/app/controllers/activities/job_training/months_controller.rb
  app/app/controllers/activities/job_training_controller.rb
  app/app/helpers/activities_helper.rb
  app/app/models/activity.rb
  app/app/models/job_training_activity.rb
  app/app/models/job_training_activity_month.rb
  app/app/services/activity_flow_progress_calculator.rb
  app/app/views/activities/activities/index.html.erb
  app/app/views/activities/job_training/months/edit.html.erb
  app/app/views/activities/submit/show.pdf.erb
  app/app/views/activities/summary/_job_training_table.html.erb
  app/app/views/shared/_hours_input.html.erb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/routes.rb
  app/db/migrate/20260225133000_create_job_training_activity_months.rb
  app/db/migrate/20260225150000_remove_legacy_fields_from_job_training_activities.rb
  app/db/schema.rb
  app/package-lock.json
  app/spec/controllers/activities/job_training/months_controller_spec.rb
  app/spec/controllers/activities/job_training_controller_spec.rb
  app/spec/e2e/activity_hub_spec.rb
  app/spec/factories/job_training_activity.rb
  app/spec/factories/job_training_activity_month.rb
  app/spec/helpers/activities_helper_spec.rb
  app/spec/models/job_training_activity_month_spec.rb
  app/spec/models/job_training_activity_spec.rb
  app/spec/models/volunteering_activity_month_spec.rb
  app/spec/support/shared_examples/activity_month_model_examples.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.pdf
Due: rubocop, erblint, i18n-unused, i18n-normalize

Remove i18n-tasks-used
  app/app/views/shared/_hours_input.html.erb
Due: erblint

Fix small e2e issue
  app/spec/e2e/activity_hub_spec.rb
Due: rubocop

Working employment cards + edit functionality
  app/app/controllers/activities/activities_controller.rb
  app/app/controllers/activities/employment_controller.rb
  app/app/helpers/activities_helper.rb
  app/app/views/activities/activities/index.html.erb
  app/app/views/activities/employment/_form.html.erb
  app/app/views/activities/employment/edit.html.erb
  app/config/locales/en.yml
  app/config/routes.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

FFS-3744: Employment self attestation: Add hours (#1424)
  app/app/components/uswds/currency_input.html.erb
  app/app/components/uswds/currency_input.rb
  app/app/controllers/activities/employment/months_controller.rb
  app/app/controllers/activities/employment_controller.rb
  app/app/controllers/concerns/monthly_hours_input.rb
  app/app/helpers/uswds_form_builder.rb
  app/app/javascript/controllers/hours_input_controller.js
  app/app/models/employment_activity.rb
  app/app/models/employment_activity_month.rb
  app/app/views/activities/employment/months/edit.html.erb
  app/app/views/shared/_hours_input.html.erb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/routes.rb
  app/db/migrate/20260225221414_create_employment_activity_months.rb
  app/db/schema.rb
  app/spec/components/previews/currency_input_component_preview.rb
  app/spec/components/uswds/currency_input_component_spec.rb
  app/spec/controllers/activities/employment/months_controller_spec.rb
  app/spec/controllers/activities/employment_controller_spec.rb
  app/spec/e2e/activity_hub_spec.rb
  app/spec/factories/employment_activity_month.rb
  app/spec/models/employment_activity_month_spec.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.pdf
Due: rubocop, erblint, i18n-unused, i18n-normalize, prettier

specs
  app/spec/controllers/activities/activities_controller_spec.rb
  app/spec/controllers/activities/employment_controller_spec.rb
  app/spec/e2e/activity_hub_spec.rb
  app/spec/helpers/activities_helper_spec.rb
Due: rubocop

redirecting final hours page to review page
  app/app/controllers/activities/employment/months_controller.rb
Due: rubocop

added hours and income to the review screen
  app/app/views/activities/employment/review.html.erb
  app/config/locales/en.yml
  docs/plans/2026-03-02-employment-review-hours-table-design.md
Due: erblint, i18n-unused, i18n-normalize

created new specs
  app/spec/controllers/activities/employment/months_controller_spec.rb
  app/spec/controllers/activities/employment_controller_spec.rb
Due: rubocop

FFS-3809: Add work program review screen
  app/app/controllers/activities/document_uploads_controller.rb
  app/app/controllers/activities/job_training/months_controller.rb
  app/app/controllers/activities/job_training_controller.rb
  app/app/models/job_training_activity.rb
  app/app/views/activities/job_training/review.html.erb
  app/config/locales/en.yml
  app/config/routes.rb
  app/db/migrate/20260227141000_add_additional_comments_to_job_training_activities.rb
  app/db/schema.rb
  app/spec/controllers/activities/document_uploads_controller_spec.rb
  app/spec/controllers/activities/job_training/months_controller_spec.rb
  app/spec/controllers/activities/job_training_controller_spec.rb
  app/spec/e2e/activity_hub_spec.rb
  app/spec/models/job_training_activity_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Bump serialize-javascript npm dependency 6.0.2 -> 7.0.3
  app/package-lock.json
  app/package.json
Due: none

Updated readme with new name, project vision, contribution guidelines
  .github/ISSUE_TEMPLATE/contributor_ladder.md
  AGENTS.md
  CODEOWNERS.md
  COMMUNITY.md
  CONTRIBUTING.md
  GOVERNANCE.md
  README.md
  docs/sftp-questions.md
  e2e/package-lock.json
  e2e/package.json
Due: none

added new employment self attestation E2E spec
  app/spec/e2e/activity_hub_employment_self_attestation_spec.rb
  app/spec/fixtures/e2e/e2e_activity_flow/vcr_http_requests.yml
Due: rubocop

remove accidentally committed file
  docs/plans/2026-03-02-employment-review-hours-table-design.md
Due: none

added a guard to make sure the user can't skip straight to review
  app/app/controllers/activities/employment_controller.rb
  app/spec/controllers/activities/employment_controller_spec.rb
Due: rubocop

add validation back to employer name (it's required)
  app/app/models/employment_activity.rb
  app/config/locales/en.yml
  app/spec/controllers/activities/employment_controller_spec.rb
Due: rubocop, i18n-unused, i18n-normalize

FFS-3747: Employment self attestation: View self attested income in activity hub (#1426)
  app/app/controllers/activities/activities_controller.rb
  app/app/controllers/activities/employment_controller.rb
  app/app/helpers/activities_helper.rb
  app/app/views/activities/activities/index.html.erb
  app/app/views/activities/employment/_form.html.erb
  app/app/views/activities/employment/edit.html.erb
  app/config/locales/en.yml
  app/config/routes.rb
  app/spec/controllers/activities/activities_controller_spec.rb
  app/spec/controllers/activities/employment_controller_spec.rb
  app/spec/e2e/activity_hub_spec.rb
  app/spec/helpers/activities_helper_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

fix e2e spec
  app/spec/fixtures/e2e/e2e_activity_flow/vcr_http_requests.yml
Due: none

make editing the employment info screen render the values for the contact info
  app/app/javascript/controllers/self_employed_controller.js
  app/spec/e2e/activity_hub_employment_self_attestation_spec.rb
Due: rubocop, prettier

Fix anchore scan
  app/Dockerfile
  app/package-lock.json
  app/package.json
Due: none

Update edit path + edit text
  app/app/helpers/activities_helper.rb
  app/app/views/activities/activities/index.html.erb
  app/app/views/activities/job_training/edit.html.erb
  app/config/locales/en.yml
Due: rubocop, erblint, i18n-unused, i18n-normalize

force scroll to top when loading employment info from search page
  app/app/javascript/application.js
Due: prettier

Fix anchore scan (#1436)
  app/Dockerfile
  app/package-lock.json
  app/package.json
Due: none

Fix e2e tests
  app/spec/e2e/activity_hub_spec.rb
  app/spec/e2e/cbv_flow_spec.rb
Due: rubocop

Failure to verify page
  app/app/assets/stylesheets/uswds-overrides.scss
  app/app/controllers/activities/education_controller.rb
  app/app/views/activities/education/edit.html.erb
  app/app/views/activities/education/error.html.erb
  app/config/locales/en.yml
  app/config/routes.rb
  app/spec/controllers/activities/education_controller_spec.rb
  app/spec/e2e/activity_hub_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

FFS-3820: Failure to find enrollment page (#1427)
  app/app/assets/stylesheets/uswds-overrides.scss
  app/app/controllers/activities/education_controller.rb
  app/app/views/activities/education/edit.html.erb
  app/app/views/activities/education/error.html.erb
  app/config/locales/en.yml
  app/config/routes.rb
  app/spec/controllers/activities/education_controller_spec.rb
  app/spec/e2e/activity_hub_spec.rb
  app/spec/e2e/cbv_flow_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Specs
  app/spec/controllers/activities/job_training_controller_spec.rb
  app/spec/helpers/activities_helper_spec.rb
Due: rubocop

Update content
  app/app/models/job_training_activity.rb
  app/config/locales/en.yml
  app/spec/models/job_training_activity_spec.rb
Due: rubocop, i18n-unused, i18n-normalize

smaller fixes for ac testing issues
  app/app/assets/stylesheets/uswds-overrides.scss
  app/app/javascript/controllers/self_employed_controller.js
  app/app/views/activities/employment/_form.html.erb
  app/spec/controllers/activities/employment_controller_spec.rb
Due: rubocop, erblint, prettier

Choose one and only person to review dependabot PRs
  .github/workflows/pr-reviewer-lottery.yml
Due: actionlint

FFS-3811: Work program doc upload page (#1438)
  app/app/models/job_training_activity.rb
  app/config/locales/en.yml
  app/spec/models/job_training_activity_spec.rb
Due: rubocop, i18n-unused, i18n-normalize

Run migrations on PR env
  bin/run-command
  bin/run-database-migrations
  bin/update-pr-environment
Due: shellcheck

two columns
  app/app/assets/stylesheets/activity_hub.scss
  app/app/assets/stylesheets/application.postcss.css
  app/app/assets/stylesheets/uswds-overrides.scss
  app/app/components/activity_flow_progress_indicator/activity_flow_progress_indicator.scss
  app/app/views/activities/activities/index.html.erb
  app/spec/controllers/activities/activities_controller_spec.rb
Due: rubocop, erblint

Remove AZ DES Configuration and Customizations (#1420)
  README.md
  app/.env
  app/app/assets/images/des_logo.png
  app/app/assets/stylesheets/cbv.scss
  app/app/helpers/application_helper.rb
  app/app/jobs/case_worker_transmitter_job.rb
  app/app/jobs/client_agency/az_des/report_deliverer_job.rb
  app/app/jobs/match_agency_names_job.rb
  app/app/mailers/weekly_report_mailer.rb
  app/app/models/cbv_applicant.rb
  app/app/models/cbv_applicant/az_des.rb
  app/app/models/cbv_flow_invitation.rb
  app/app/services/argyle_webhooks_manager.rb
  app/app/services/client_agency/az_des/configuration.rb
  app/app/services/client_agency/az_des/recently_submitted_cases_csv.rb
  app/app/services/client_agency/az_des/report_fields.rb
  app/app/services/transmitters/sftp_transmitter.rb
  app/app/views/cbv/submits/show.pdf.erb
  app/config/client-agency-config.yml
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/lib/tasks/az_des.rake
  app/lib/tasks/weekly_reports.rake
  app/spec/controllers/activities/submit_controller_spec.rb
  app/spec/controllers/api/invitations_controller_spec.rb
  app/spec/controllers/cbv/submits_controller_spec.rb
  app/spec/factories/cbv_applicant.rb
  app/spec/factories/cbv_flow_invitation.rb
  app/spec/jobs/case_worker_transmitter_job_spec.rb
  app/spec/jobs/client_agency/az_des/report_deliverer_job_spec.rb
  app/spec/jobs/match_agency_names_job_spec.rb
  app/spec/lib/az_des_rake_spec.rb
  app/spec/mailers/previews/weekly_report_mailer_preview.rb
  app/spec/mailers/weekly_report_mailer_spec.rb
  app/spec/models/cbv_applicant/az_des_spec.rb
  docs/testing_sftp.md
  infra/app/app-config/env-config/environment-variables.tf
  infra/app/app-config/env-config/scheduled_jobs.tf
  load_testing/loadtest-api.js
Due: rubocop, erblint, i18n-unused, i18n-normalize, terraform_fmt

reworded reporting window
  app/app/views/activities/activities/index.html.erb
  app/config/locales/en.yml
Due: erblint, i18n-unused, i18n-normalize

modify reporting window display to hide first year if the years are the same
  app/app/models/activity_flow.rb
  app/spec/models/activity_flow_spec.rb
Due: rubocop
