Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-unused, i18n-normalize, shellcheck, prettier, terraform_fmt, actionlint

rubocop:
  name: rubocop
  entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
  language: system

erblint:
  name: erblint
  entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
  language: system

i18n-unused:
  name: i18n-unused
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks unused
  language: system
  pass_filenames: false

i18n-normalize:
  name: i18n-normalize
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
  language: system
  pass_filenames: false

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system

prettier:
  name: prettier
  entry: bin/run-linter --cd app -- npm run format:precommit
  language: node

terraform_fmt:
  name: Terraform Fmt
  entry: terraform fmt
  language: system

actionlint:
  name: ActionLint
  entry: actionlint
  language: system
  pass_filenames: false

FFS-4282: Spike for creating pre-filled volunteer activities (#1671)
  app/app/controllers/activities/activities_controller.rb
  app/app/controllers/activities/volunteering_controller.rb
  app/app/controllers/api/invitations_controller.rb
  app/app/helpers/activities_helper.rb
  app/app/models/activity_flow.rb
  app/app/models/activity_flow_invitation.rb
  app/app/models/volunteering_activity.rb
  app/app/models/volunteering_activity_month.rb
  app/app/services/cbv_invitation_service.rb
  app/app/views/activities/activities/index.html.erb
  app/config/client-agency-config.yml
  app/config/locales/en.yml
  app/db/migrate/20260429110000_add_pre_populated_activities_to_activity_flow_invitations.rb
  app/db/schema.rb
  app/lib/client_agency_config.rb
  app/spec/controllers/activities/activities_controller_spec.rb
  app/spec/controllers/api/invitations_controller_spec.rb
  app/spec/models/activity_flow_invitation_spec.rb
  app/spec/models/activity_flow_spec.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.pdf
Due: rubocop, erblint, i18n-unused, i18n-normalize

review modifications
  app/app/assets/stylesheets/launcher.scss
  app/app/controllers/demo_launcher_controller.rb
  app/app/views/demo_launcher/launcher.html.erb
  app/app/views/demo_launcher/show.html.erb
  app/config/routes.rb
  app/spec/controllers/demo_launcher_controller_launcher_spec.rb
  app/spec/requests/demo_launcher_spec.rb
Due: rubocop, erblint

scss cleanup
  app/app/assets/stylesheets/launcher.scss
Due: none

Locals + token
  app/app/views/activities/income/employer_searches/_employer.html.erb
  app/app/views/activities/income/employer_searches/show.html.erb
  app/config/locales/en.yml
Due: erblint, i18n-unused, i18n-normalize

FFS-3663: Implement search results page (#1674)
  app/app/views/activities/income/employer_searches/_employer.html.erb
  app/app/views/activities/income/employer_searches/show.html.erb
  app/config/locales/en.yml
  app/spec/controllers/activities/income/employer_searches_controller_spec.rb
  app/spec/e2e/activity_hub_employment_self_attestation_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Use commit hash for checkout
  .github/workflows/pr-environment-checks.yml
Due: actionlint

various cleanup, plus more defensive rspec tests
  app/app/assets/stylesheets/launcher.scss
  app/app/controllers/demo_launcher_controller.rb
  app/app/views/demo_launcher/advanced.html.erb
  app/app/views/demo_launcher/launcher.html.erb
  app/config/routes.rb
  app/spec/controllers/demo_launcher_controller_launcher_spec.rb
Due: rubocop, erblint

minor rspec correction
  app/spec/controllers/demo_launcher_controller_spec.rb
Due: rubocop

Ignore system rubygems from grype scan results
  .grype.yml
Due: none

Round hours to tenths in progress indicator
  app/app/components/activity_flow_progress_indicator.rb
  app/spec/components/activity_flow_progress_indicator_component_spec.rb
Due: rubocop

Ignore system rubygems from grype scan results (#1683)
  .grype.yml
Due: none

fix: patch Dockerfile for OS-level CVEs flagged by Trivy/Anchore
  app/Dockerfile
Due: none

fix: sync package-lock and overrides for esbuild 0.28.0
  app/package-lock.json
  app/package.json
Due: none

FFS-3956 & FFS-3977: Adjust activity card hours to show tenths of an hour & Only display months on activity cards where activity > 0 (#1677)
  app/app/components/activity_flow_progress_indicator.rb
  app/app/controllers/activities/activities_controller.rb
  app/app/helpers/activities_helper.rb
  app/app/services/education_activity_card_builder.rb
  app/config/locales/en.yml
  app/spec/components/activity_flow_progress_indicator_component_spec.rb
  app/spec/components/previews/uswds/card_preview.rb
  app/spec/helpers/activities_helper_spec.rb
Due: rubocop, i18n-unused, i18n-normalize

[Snyk] Upgrade esbuild from 0.27.0 to 0.28.0 (#1666)
  app/package-lock.json
  app/package.json
Due: none

Deploy script always includes CE/Income category
  app/bin/will-deploy
Due: none

DRY
  app/bin/will-deploy
Due: none

Deploy script always includes CE/Income category (#1676)
  app/bin/will-deploy
Due: none

Use months not specific dates
  app/app/views/activities/income/payment_details/show.html.erb
  app/config/locales/en.yml
  app/spec/controllers/activities/income/payment_details_controller_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Restore logos and button width
  app/app/views/activities/income/employer_searches/_employer.html.erb
  app/spec/controllers/activities/income/employer_searches_controller_spec.rb
Due: rubocop, erblint

FFS-4276: Remove and move unused root files (#1665)
  bin/update-infra-template
  docs/updating-template-infra.md
  download-and-install-template.sh
Due: shellcheck

FFS-4197: Update Readme for Developer Experience (#1620)
  CONTRIBUTING.md
  README.md
Due: none

broken links fix
  README.md
Due: none

Update readme4197 (#1689)
  README.md
Due: none

FFS-4331: Adjustments on employer search page (#1688)
  app/app/views/activities/income/employer_searches/_employer.html.erb
  app/spec/controllers/activities/income/employer_searches_controller_spec.rb
Due: rubocop, erblint

Add commit hash for correct teardown
  .github/workflows/ci-app-pr-environment-destroy.yml
  .github/workflows/pr-environment-destroy.yml
  infra/modules/database/role_manager.zip
Due: actionlint

Loud error
  app/lib/tasks/schema.rake
Due: none

Run migrations on PR environments (#1440)
  .github/workflows/ci-app-pr-environment-destroy.yml
  .github/workflows/pr-environment-checks.yml
  .github/workflows/pr-environment-destroy.yml
  app/bin/db-drop-schema
  app/bin/db-migrate
  app/config/database.yml
  app/lib/tasks/schema.rake
  bin/destroy-pr-environment
  bin/run-command
  bin/run-database-migrations
  bin/update-pr-environment
  infra/app/service/main.tf
  infra/modules/database/role_manager.zip
  infra/modules/database/role_manager/manage.py
Due: shellcheck, terraform_fmt, actionlint

fix: app/Gemfile & app/Gemfile.lock to reduce vulnerabilities
  app/Gemfile
  app/Gemfile.lock
Due: none

Single month
  app/app/views/activities/income/payment_details/show.html.erb
  app/config/locales/en.yml
  app/spec/controllers/activities/income/payment_details_controller_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

fresh edits
  README.md
Due: none

Update readme4197 (#1695)
  README.md
Due: none

Show review page after syncing validated education activity
  app/app/controllers/activities/education_controller.rb
  app/spec/controllers/activities/education_controller_spec.rb
Due: rubocop

Fix nokogiri / template warnings
  app/Gemfile
  app/Gemfile.lock
  app/app/components/activity_flow_progress_indicator/activity_flow_progress_indicator.html.erb
  app/app/components/contact_info_review_table_component.html.erb
  app/app/components/enrollment_term_table_component.html.erb
  app/app/components/report/employment_details_table_component.html.erb
  app/app/components/report/gig_monthly_summary_table_component.html.erb
  app/app/components/report/w2_monthly_summary_table_component.html.erb
Due: erblint

Single month empty state on hub
  app/app/views/activities/activities/index.html.erb
  app/app/views/activities/income/payment_details/show.html.erb
  app/config/locales/en.yml
  app/spec/controllers/activities/activities_controller_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

FFS-4011: Employment details pulling specific dates instead of months (#1685)
  app/app/views/activities/activities/index.html.erb
  app/app/views/activities/income/payment_details/show.html.erb
  app/config/locales/en.yml
  app/spec/controllers/activities/activities_controller_spec.rb
  app/spec/controllers/activities/income/payment_details_controller_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

also hide reporting window for income flow
  app/app/assets/stylesheets/launcher.scss
  app/app/views/demo_launcher/launcher.html.erb
Due: erblint

minor fixes
  app/app/controllers/demo_launcher_controller.rb
  app/app/javascript/controllers/launcher_controller.js
  app/app/views/demo_launcher/launcher.html.erb
  app/spec/controllers/demo_launcher_controller_launcher_spec.rb
Due: rubocop, erblint, prettier

various fixes
  app/app/assets/stylesheets/launcher.scss
  app/app/javascript/controllers/launcher_controller.js
  app/app/views/demo_launcher/launcher.html.erb
Due: erblint, prettier

Path conditions:
  rubocop: any of: ^app/.*\.rb$
  erblint: any of: ^app/.*\.erb$
  i18n-unused: any of: ^app/config/locales/.*\.yml$
  i18n-normalize: any of: ^app/config/locales/.*\.yml$
  shellcheck: any of: ^bin/.*$
  prettier: any of: ^app/.*\.(js|ts)$
  terraform_fmt: any of: infra/.*\.tf$
  actionlint: any of: ^.github/.*\.yml$
