Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-unused, i18n-normalize, shellcheck, prettier, terraform_fmt, actionlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml

- repo: local
  hooks:
  - id: rubocop
    name: rubocop
    entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
    language: system
    files: '^app/.*\.rb$'

  # this rubocop hook works on windows/wsl, and is being left here as of 8/27/2025 to figure it out at some point
  #- id: rubocop
  #  name: rubocop
  #  language: system
  #  entry: bash -lc 'BUNDLE_GEMFILE=app/Gemfile cd app && bundle exec rubocop -a --force-exclusion'
  #  types: [ ruby ]
  #  files: '^app/.*\.rb$'
  #  pass_filenames: false

  - id: erblint
    name: erblint
    entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
    language: system
    files: '^app/.*\.erb$'

  - id: i18n-unused
    name: i18n-unused
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks unused
    language: system
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: i18n-normalize
    name: i18n-normalize
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
    language: system
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system        # installed via `brew bundle`
    files: '^bin/.*$'

  - id: prettier
    name: prettier
    entry: bin/run-linter --cd app -- npm run format:precommit
    language: node
    files: '^app/.*\.(js|ts)$'

  - id: terraform_fmt
    name: Terraform Fmt
    entry: terraform fmt
    language: system
    files: 'infra/.*\.tf$'

#  - id: checkov
#    name: Checkov
#    entry: checkov --quiet --output sarif --framework terraform -f
#    language: system
#    files: 'infra/.*\.tf$'

  - id: actionlint
    name: ActionLint
    entry: actionlint
    language: system
    files: '^.github/.*\.yml$'
    pass_filenames: false

FFS-3528: Revise content in consent checkbox (#1137)
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: i18n-unused, i18n-normalize

FFS-3562: paystubs should never be nil per our API spec (#1138)
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/spec/services/aggregators/aggregator_reports/aggregator_report_spec.rb
Due: rubocop

Update core team and code owners
  CODEOWNERS.md
  COMMUNITY.md
Due: none

Update project team list
  COMMUNITY.md
Due: none

Update workflow to use latest automated-codejson-generator version
  .github/workflows/update-codejson.yml
Due: actionlint

Update code.json
  code.json
Due: none

updated footer for mobile
  app/app/views/application/_footer.html.erb
  app/package-lock.json
Due: erblint

FFS-3502: Require a successfully-linked payroll account on /add_job, /other_job (#1139)
  app/app/controllers/cbv/add_jobs_controller.rb
  app/app/controllers/cbv/base_controller.rb
  app/app/controllers/cbv/other_jobs_controller.rb
  app/spec/controllers/cbv/add_jobs_controller_spec.rb
  app/spec/controllers/cbv/other_jobs_controller_spec.rb
Due: rubocop

Refactor `AggregatorDataHelper` logic into service object
  app/app/helpers/cbv/aggregator_data_helper.rb
  app/app/services/aggregator_report_fetcher.rb
  app/spec/services/aggregator_report_fetcher_spec.rb
Due: rubocop

Remove AggregatorDataHelper from non-controllers it's mixed into
  app/app/jobs/case_worker_transmitter_job.rb
  app/app/jobs/match_agency_names_job.rb
  app/spec/services/pdf_service_spec.rb
Due: rubocop

Add `debugging:output_json_report` rake task
  app/app/services/transmitters/json_transmitter.rb
  app/config/initializers/filter_parameter_logging.rb
  app/lib/tasks/debugging.rake
Due: rubocop

Add 5 more Argyle Modal Error analytic events
  app/app/javascript/adapters/ArgyleModalAdapter.ts
  app/app/javascript/types/Argyle.d.ts
  app/app/jobs/event_tracking_job.rb
  app/app/models/track_event.rb
  app/spec/javascript/adapters/ArgyleModalAdapter.spec.js
  app/spec/javascript/adapters/__snapshots__/ArgyleModalAdapter.spec.js.snap
  app/spec/javascript/fixtures/argyle.fixture.js
Due: rubocop, prettier

removed changes
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/spec/services/aggregators/aggregator_reports/aggregator_report_spec.rb
Due: rubocop

FFS-3562: removing setting paystubs to empty array (#1152)
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/spec/services/aggregators/aggregator_reports/aggregator_report_spec.rb
Due: rubocop

Refactor `AggregatorDataHelper` logic into service object (#1149)
  app/app/helpers/cbv/aggregator_data_helper.rb
  app/app/jobs/case_worker_transmitter_job.rb
  app/app/jobs/match_agency_names_job.rb
  app/app/services/aggregator_report_fetcher.rb
  app/spec/services/aggregator_report_fetcher_spec.rb
  app/spec/services/pdf_service_spec.rb
Due: rubocop

FFS-2856 | Fixed inconsistent header behavior (#1125)
  app/app/assets/stylesheets/cbv.scss
  app/app/views/help/_help_link.html.erb
Due: erblint

FFS-3415 | Fixed misaligned footer button (#1126)
  app/app/views/application/_footer.html.erb
  app/package-lock.json
Due: erblint

Add `<title>` to timeout page and activity flow pages
  app/app/views/activities/activities/show.html.erb
  app/app/views/activities/volunteering/new.html.erb
  app/app/views/cbv/sessions/timeout.html.erb
  app/spec/support/e2e/test_helpers.rb
Due: rubocop, erblint

Bump node from 18.19.0 to 24.11.1
  app/.node-version
  app/bin/update
  app/package-lock.json
Due: none

Bump node from 18.19.0 to 24.11.1 (#1161)
  app/.node-version
  app/bin/update
  app/package-lock.json
Due: none

Bump libxml2 and libxml2-dev for CVE-2025-9714
  app/Dockerfile
Due: none

Bump libxml2 and libxml2-dev for CVE-2025-9714 (#1162)
  app/Dockerfile
Due: none

Bump anchore/scan-action from 6.2.0 to 7.2.1
  .github/workflows/ci-app-vulnerability-scans.yml
  .github/workflows/vulnerability-scans.yml
Due: actionlint

Bump anchore/scan-action from 6.2.0 to 7.2.1 (#1163)
  .github/workflows/ci-app-vulnerability-scans.yml
  .github/workflows/vulnerability-scans.yml
Due: actionlint

Documentation: Add list of team members to COMMUNITY.md (#1130)
  CODEOWNERS.md
  COMMUNITY.md
  MAINTAINERS.md
Due: none

Add `debugging:output_json_report` rake task (#1150)
  app/app/services/transmitters/json_transmitter.rb
  app/config/initializers/filter_parameter_logging.rb
  app/lib/tasks/debugging.rake
Due: rubocop

Add 5 more Argyle Modal Error analytic events (#1151)
  app/app/javascript/adapters/ArgyleModalAdapter.ts
  app/app/javascript/types/Argyle.d.ts
  app/app/jobs/event_tracking_job.rb
  app/app/models/track_event.rb
  app/spec/javascript/adapters/ArgyleModalAdapter.spec.js
  app/spec/javascript/adapters/__snapshots__/ArgyleModalAdapter.spec.js.snap
  app/spec/javascript/fixtures/argyle.fixture.js
Due: rubocop, prettier

Add `<title>` to timeout page and activity flow pages (#1160)
  app/app/views/activities/activities/show.html.erb
  app/app/views/activities/volunteering/new.html.erb
  app/app/views/cbv/sessions/timeout.html.erb
  app/spec/support/e2e/test_helpers.rb
Due: rubocop, erblint

Revert "FFS-3527: Increase number of app containers/database for LA launch (#1112)"
  infra/app/app-config/prod.tf
Due: terraform_fmt

Decrease app containers/database after LA launch (#1164)
  infra/app/app-config/prod.tf
Due: terraform_fmt

FFS-3501: Handle session reinitialization on /synchronizations (#1136)
  app/app/controllers/cbv/synchronizations_controller.rb
  app/app/javascript/controllers/polling_controller.js
  app/spec/controllers/cbv/synchronizations_controller_spec.rb
Due: rubocop, prettier

Add AGENTS.md file to bring us into the AI era
  AGENTS.md
Due: none

Make translations its own section
  AGENTS.md
Due: none

Add argyle provider. Fix ngrok host.
  app/.env
  app/config/environments/development.rb
Due: rubocop

Implement ActivityFlow + integrate with Volunteer Activity
  app/app/controllers/activities/activities_controller.rb
  app/app/controllers/activities/base_controller.rb
  app/app/controllers/activities/volunteering_controller.rb
  app/app/models/activity_flow.rb
  app/app/models/volunteering_activity.rb
  app/db/migrate/20251117195858_create_activity_flows.rb
  app/db/migrate/20251117195859_create_volunteering_activities.rb
  app/db/schema.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.pdf
Due: rubocop

interim commit
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/config/initializers/wicked_pdf.rb
  app/spec/services/aggregators/aggregator_reports/aggregator_report_spec.rb
Due: rubocop

Testing
  app/spec/e2e/activity_hub_spec.rb
  app/spec/models/activity_flow_spec.rb
  app/spec/models/volunteering_activity_spec.rb
Due: rubocop

Access instance var directly, no helpers
  app/app/controllers/activities/activities_controller.rb
  app/app/controllers/activities/base_controller.rb
  app/app/controllers/activities/volunteering_controller.rb
Due: rubocop

Revert e2e
  app/spec/e2e/activity_hub_spec.rb
Due: rubocop

Improve .env setup process
  README.md
  app/.env
  app/.env.local.example
Due: none
