Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-normalize, i18n-missing, shellcheck, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml

- repo: local
  hooks:
  - id: rubocop
    name: rubocop
    entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
    language: ruby
    files: '^app/.*\.rb$'

  - id: erblint
    name: erblint
    entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
    language: ruby
    files: '^app/.*\.erb$'

  - id: i18n-normalize
    name: i18n-normalize
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
    language: ruby
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: i18n-missing
    name: i18n-missing
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks missing
    language: ruby
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system        # installed via `brew bundle`
    files: '^bin/.*$'

  - id: prettier
    name: prettier
    entry: bin/run-linter --cd app -- npm run format:precommit
    language: node
    files: '^app/.*\.(js|ts)$'

Cleanup task: Remove Compact Monthly Summary Component (#757)
  app/app/components/report/monthly_summary_compact_component.erb
  app/app/components/report/monthly_summary_compact_component.rb
  app/spec/components/report/monthly_summary_compact_component_spec.rb
Due: rubocop, erblint

No ticket: fix i18n-tasks health github action + cleanup (#798)
  .github/workflows/i18n-health.yml
  app/spec/i18n_spec.rb
Due: rubocop

Fix test issue caused by merge conflict
  app/spec/controllers/caseworker/entries_controller_spec.rb
Due: rubocop

FFS-2996: Clean up strings to use correct variables (#797)
  app/app/views/applicant_mailer/invitation_email.html.erb
  app/app/views/caseworker_mailer/summary_email.html.erb
  app/app/views/cbv/applicant_informations/show.html.erb
  app/app/views/cbv/employer_searches/_employer.html.erb
  app/app/views/cbv/entries/show.html.erb
  app/app/views/cbv/expired_invitations/show.html.erb
  app/app/views/cbv/missing_results/show.html.erb
  app/app/views/cbv/payment_details/show.html.erb
  app/app/views/cbv/submits/show.html.erb
  app/app/views/cbv/submits/show.pdf.erb
  app/app/views/cbv/successes/show.html.erb
  app/app/views/cbv/summaries/show.html.erb
  app/app/views/cbv/synchronization_failures/show.html.erb
  app/config/client-agency-config.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/lib/client_agency_config.rb
  app/spec/controllers/caseworker/entries_controller_spec.rb
Due: rubocop, erblint, i18n-normalize, i18n-missing

changed root_path to root_url
  app/app/controllers/cbv/generic_links_controller.rb
Due: rubocop

eliminating some redundancy around @pilot_ended?
  app/app/controllers/application_controller.rb
Due: rubocop

Replicate bug
  app/spec/controllers/cbv/summaries_controller_spec.rb
Due: rubocop

Fix bug
  app/app/controllers/cbv/summaries_controller.rb
Due: rubocop

Add Rails logger because that's nice and helpful
  app/app/controllers/cbv/summaries_controller.rb
Due: rubocop

fix: upgrade @hotwired/turbo-rails from 8.0.13 to 8.0.16
  app/package-lock.json
  app/package.json
Due: none

FFS-2687: Add E2E test framework that replays modal callbacks/webhooks (#786)
  README.md
  app/.gitignore
  app/Gemfile
  app/Gemfile.lock
  app/app/javascript/adapters/ArgyleModalAdapter.ts
  app/app/javascript/adapters/ModalAdapter.ts
  app/app/javascript/adapters/PinwheelModalAdapter.ts
  app/app/javascript/utilities/E2eCallbackRecorder.ts
  app/app/javascript/utilities/createModalAdapter.ts
  app/app/services/argyle_webhooks_manager.rb
  app/app/services/provider_search_service.rb
  app/app/views/layouts/application.html.erb
  app/bin/rspec
  app/config/application.rb
  app/config/environments/test.rb
  app/config/initializers/ngrok_development.rb
  app/config/initializers/session_store.rb
  app/spec/e2e/caseworker_login_spec.rb
  app/spec/e2e/cbv_flow_pinwheel_spec.rb
  app/spec/e2e/help_feature_spec.rb
  app/spec/javascript/adapters/ArgyleModalAdapter.spec.js
  app/spec/javascript/adapters/PinwheelModalAdapter.spec.js
  app/spec/javascript/adapters/__snapshots__/PinwheelModalAdapter.spec.js.snap
  app/spec/rails_helper.rb
  app/spec/services/argyle_webhooks_manager_spec.rb
  app/spec/spec_helper.rb
  app/spec/support/context/with_ngrok_tunnel.rb
  app/spec/support/e2e/mocking_service.rb
  app/spec/support/e2e/ngrok_manager.rb
  app/spec/support/e2e/ngrok_request_replayer.rb
  app/spec/support/e2e/test_helpers.rb
  app/spec/support/e2e_test_helpers.rb
  app/spec/support/test_helpers.rb
Due: rubocop, erblint, prettier

Upgrade libxml2 and libxml2-dev for vulnerability
  app/Dockerfile
Due: none

Upgrade libicu
  app/Dockerfile
Due: none

Upgrade libxml and libicu to address vulnerabilities (#801)
  app/Dockerfile
Due: none

Enable E2E tests in CI (#787)
  .github/workflows/e2e-tests.yml
  .github/workflows/pr-environment-checks.yml
  Makefile
  README.md
  app/spec/e2e/cbv_flow_pinwheel_spec.rb
  app/spec/fixtures/e2e/e2e_cbv_flow_english_argyle_only/aggregator_modal_callbacks.yml
  app/spec/fixtures/e2e/e2e_cbv_flow_english_argyle_only/ngrok_requests.yml
  app/spec/fixtures/e2e/e2e_cbv_flow_english_argyle_only/vcr_http_requests.yml
  app/spec/fixtures/e2e/e2e_cbv_flow_pinwheel/aggregator_modal_callbacks.yml
  app/spec/fixtures/e2e/e2e_cbv_flow_pinwheel/ngrok_requests.yml
  app/spec/fixtures/e2e/e2e_cbv_flow_pinwheel/vcr_http_requests.yml
  app/spec/rails_helper.rb
  docs/e2e/e2e-checks.md
  e2e/.gitignore
  e2e/app/playwright.config.js
  e2e/app/tests/index.spec.js
  e2e/playwright.config.js
  e2e/run-e2e-test
  e2e/util.js
Due: rubocop

FFS-2849: wind-down content for LA [pending translations] (#796)
  app/app/controllers/application_controller.rb
  app/app/controllers/cbv/generic_links_controller.rb
  app/app/controllers/pages_controller.rb
  app/app/views/pages/_la_ldh_pilot_end.html.erb
  app/app/views/pages/home.html.erb
  app/config/client-agency-config.yml
  app/config/locales/en.yml
  app/lib/client_agency_config.rb
  app/spec/controllers/cbv/generic_links_controller_spec.rb
  app/spec/controllers/pages_controller_spec.rb
Due: rubocop, erblint, i18n-normalize, i18n-missing

Create 2025-06-30-update.md
  docs/product-updates/2025-06-30-update.md
Due: none

Create 2025-06-30-update.md (#802)
  docs/product-updates/2025-06-30-update.md
Due: none

Fix duplicate <h4> on /payment_details
  app/app/views/cbv/payment_details/show.html.erb
Due: erblint

Skip heading-order Axe check on /summary
  app/spec/e2e/cbv_flow_pinwheel_spec.rb
  app/spec/e2e/cbv_flow_spec.rb
  app/spec/support/e2e/test_helpers.rb
Due: rubocop

Fix header hierarchy on /entries
  app/app/views/cbv/entries/show.html.erb
Due: erblint

Move preheader to be within the header
  app/app/views/application/_header.html.erb
Due: erblint

Add Axe and run it during E2E testing
  app/Gemfile
  app/Gemfile.lock
  app/spec/rails_helper.rb
  app/spec/support/e2e/test_helpers.rb
Due: rubocop

Remove pa11y
  .github/workflows/pa11y.yml
  README.md
  app/bin/pa11y-scan
  app/package-lock.json
  app/package.json
Due: none

FFS-3008: Run Axe accessibility checker during E2E testing (#794)
  .github/workflows/pa11y.yml
  README.md
  app/Gemfile
  app/Gemfile.lock
  app/app/views/application/_header.html.erb
  app/app/views/cbv/entries/show.html.erb
  app/app/views/cbv/payment_details/show.html.erb
  app/bin/pa11y-scan
  app/package-lock.json
  app/package.json
  app/spec/e2e/cbv_flow_pinwheel_spec.rb
  app/spec/e2e/cbv_flow_spec.rb
  app/spec/rails_helper.rb
  app/spec/support/e2e/test_helpers.rb
Due: rubocop, erblint

fix: upgrade sass from 1.89.1 to 1.89.2
  app/package-lock.json
  app/package.json
Due: none

Updated tf backups config to mirror AWS Backup- run daily at 12:30am UTC with a 21 day retention period
  infra/modules/database/backups.tf
Due: none

Fix factories not instantiating CbvApplicant STI subclasses
  app/app/models/cbv_applicant.rb
  app/app/models/payroll_account.rb
  app/spec/controllers/api/invitations_controller_spec.rb
  app/spec/controllers/cbv/entries_controller_spec.rb
  app/spec/factories/cbv_applicant.rb
Due: rubocop

reverting the cron time and fixing the comment to account for UTC/EST
  infra/modules/database/backups.tf
Due: none

FFS-3047: Update DB backups to run daily with a 21 day retention period
  infra/modules/database/backups.tf
Due: none

Add alert viewcomponent and implememt on /payment_details for w-2 & gig
  app/app/components/alert_component.html.erb
  app/app/components/alert_component.rb
  app/app/components/report/monthly_summary_table_component.erb
  app/app/views/cbv/payment_details/show.html.erb
  app/spec/components/alert_component_spec.rb
  app/spec/components/report/monthly_summary_table_component_spec.rb
Due: rubocop, erblint

Add `first_name` / `last_name` to ResponseObjects::Identity
  app/app/services/aggregators/response_objects/identity.rb
  app/spec/services/aggregators/response_objects/identity_spec.rb
Due: rubocop

FFS-2973: Investigate 'undefined method 'paystubs' for nil' error on summary page (#799)
  app/app/controllers/cbv/summaries_controller.rb
  app/spec/controllers/cbv/summaries_controller_spec.rb
Due: rubocop

FFS-3007: Match names between report and indexing data
  app/app/jobs/case_worker_transmitter_job.rb
  app/app/jobs/match_agency_names_job.rb
  app/app/models/cbv_applicant.rb
  app/app/models/cbv_applicant/az_des.rb
  app/app/services/agency_name_matching_service.rb
  app/spec/jobs/case_worker_transmitter_job_spec.rb
  app/spec/jobs/match_agency_names_job_spec.rb
  app/spec/models/cbv_applicant/az_des_spec.rb
  app/spec/services/agency_name_matching_service_spec.rb
Due: rubocop

Upgrade sass from 1.89.1 to 1.89.2 (#804)
  app/package-lock.json
  app/package.json
Due: none

Upgrade @hotwired/turbo-rails from 8.0.13 to 8.0.16 (#800)
  app/package-lock.json
  app/package.json
Due: none

Upgrade debase from 0.2.5.beta2 to 0.2.9 (#790)
  README.md
  app/Gemfile
  app/Gemfile.lock
Due: none

Rename SftpCaseTransmitter -> Transmitters::SftpTransmitter
  app/app/jobs/case_worker_transmitter_job.rb
  app/app/services/transmitters/sftp_transmitter.rb
Due: rubocop

Extract Transmitters::SharedEmailTransmitter
  app/app/jobs/case_worker_transmitter_job.rb
  app/app/services/transmitters/shared_email_transmitter.rb
Due: rubocop

Extract Transmitters::EncryptedS3Transmitter
  app/app/jobs/case_worker_transmitter_job.rb
  app/app/services/transmitters/encrypted_s3_transmitter.rb
  app/spec/jobs/case_worker_transmitter_job_spec.rb
Due: rubocop
