Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-unused, i18n-normalize, shellcheck, prettier, terraform_fmt, actionlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml

- repo: local
  hooks:
  - id: rubocop
    name: rubocop
    entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
    language: system
    files: '^app/.*\.rb$'

  # this rubocop hook works on windows/wsl, and is being left here as of 8/27/2025 to figure it out at some point
  #- id: rubocop
  #  name: rubocop
  #  language: system
  #  entry: bash -lc 'BUNDLE_GEMFILE=app/Gemfile cd app && bundle exec rubocop -a --force-exclusion'
  #  types: [ ruby ]
  #  files: '^app/.*\.rb$'
  #  pass_filenames: false

  - id: erblint
    name: erblint
    entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
    language: system
    files: '^app/.*\.erb$'

  - id: i18n-unused
    name: i18n-unused
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks unused
    language: system
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: i18n-normalize
    name: i18n-normalize
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
    language: system
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system        # installed via `brew bundle`
    files: '^bin/.*$'

  - id: prettier
    name: prettier
    entry: bin/run-linter --cd app -- npm run format:precommit
    language: node
    files: '^app/.*\.(js|ts)$'

  - id: terraform_fmt
    name: Terraform Fmt
    entry: terraform fmt
    language: system
    files: 'infra/.*\.tf$'

#  - id: checkov
#    name: Checkov
#    entry: checkov --quiet --output sarif --framework terraform -f
#    language: system
#    files: 'infra/.*\.tf$'

  - id: actionlint
    name: ActionLint
    entry: actionlint
    language: system
    files: '^.github/.*\.yml$'
    pass_filenames: false

rough draft
  app/app/assets/stylesheets/uswds-overrides.scss
  app/app/controllers/activities/activities_controller.rb
  app/app/controllers/activities/summary_controller.rb
  app/app/helpers/activities_helper.rb
  app/app/views/activities/activities/index.html.erb
  app/config/locales/en.yml
  app/spec/helpers/activities_helper_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

No need to translate for now
  app/config/locales/es.yml
Due: i18n-unused, i18n-normalize

View and logic updates
  app/app/helpers/activities_helper.rb
  app/app/views/activities/activities/_activity_section.html.erb
  app/app/views/activities/activities/index.html.erb
  app/config/locales/en.yml
Due: rubocop, erblint, i18n-unused, i18n-normalize

updates and polish
  app/app/assets/stylesheets/uswds-overrides.scss
  app/app/helpers/activities_helper.rb
  app/app/views/activities/activities/index.html.erb
  app/config/locales/en.yml
  app/spec/e2e/activity_hub_spec.rb
  app/spec/helpers/activities_helper_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

activities helper specs
  app/spec/helpers/activities_helper_spec.rb
Due: rubocop

FFS-3725: Incorporate data source into routing logic (#1357)
  app/app/controllers/activities/base_controller.rb
  app/app/models/activity.rb
  app/app/models/education_activity.rb
  app/app/models/payroll_account.rb
  app/app/services/activity_flow_navigator.rb
  app/app/services/activity_flow_progress_calculator.rb
  app/db/migrate/20260205120000_add_data_source_to_activity_tables.rb
  app/db/migrate/20260205120100_add_data_source_to_payroll_accounts.rb
  app/db/schema.rb
  app/spec/controllers/activities/education_controller_spec.rb
  app/spec/controllers/activities/job_training_controller_spec.rb
  app/spec/controllers/activities/volunteering_controller_spec.rb
  app/spec/services/activity_flow_progress_calculator_spec.rb
Due: rubocop

reverted deductions in json, did NOT revert sending negative deductions
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/app/services/aggregators/response_objects/deduction.rb
  app/app/services/aggregators/response_objects/paystub.rb
  app/spec/factories/aggregator_report.rb
  app/spec/services/aggregators/aggregator_reports/aggregator_report_spec.rb
Due: rubocop

Fix e2e tests
  app/app/views/activities/activities/_activity_section.html.erb
  app/app/views/activities/activities/index.html.erb
  app/spec/e2e/activity_hub_spec.rb
Due: rubocop, erblint

controller specs
  app/spec/controllers/activities/activities_controller_spec.rb
Due: rubocop

No ticket: reverted deductions in json (#1367)
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/app/services/aggregators/response_objects/deduction.rb
  app/app/services/aggregators/response_objects/paystub.rb
  app/spec/factories/aggregator_report.rb
  app/spec/services/aggregators/aggregator_reports/aggregator_report_spec.rb
Due: rubocop

more polish
  app/app/controllers/activities/activities_controller.rb
  app/app/helpers/activities_helper.rb
  app/app/views/activities/activities/index.html.erb
  app/config/locales/en.yml
Due: rubocop, erblint, i18n-unused, i18n-normalize

minor css changes, major variable renames
  app/app/assets/stylesheets/uswds-overrides.scss
  app/app/controllers/activities/activities_controller.rb
  app/app/controllers/activities/job_training_controller.rb
  app/app/controllers/activities/submit_controller.rb
  app/app/controllers/activities/summary_controller.rb
  app/app/controllers/activities/volunteering_controller.rb
  app/app/views/activities/activities/index.html.erb
  app/app/views/activities/job_training/_form.html.erb
  app/app/views/activities/job_training/edit.html.erb
  app/app/views/activities/job_training/new.html.erb
  app/app/views/activities/submit/show.pdf.erb
  app/app/views/activities/summary/_employment_table.html.erb
  app/app/views/activities/summary/_job_training_table.html.erb
  app/app/views/activities/summary/_volunteering_table.html.erb
  app/app/views/activities/summary/show.html.erb
  app/app/views/activities/volunteering/_form.html.erb
  app/app/views/activities/volunteering/edit.html.erb
  app/app/views/activities/volunteering/new.html.erb
  app/config/client-agency-config.yml
  app/config/locales/en.yml
  app/spec/controllers/activities/activities_controller_spec.rb
  app/spec/controllers/activities/job_training_controller_spec.rb
  app/spec/controllers/activities/summary_controller_spec.rb
  app/spec/controllers/activities/volunteering_controller_spec.rb
  app/spec/e2e/activity_hub_spec.rb
  app/spec/helpers/activities_helper_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Fix education empty state
  app/app/controllers/activities/activities_controller.rb
  app/app/helpers/activities_helper.rb
  app/app/views/activities/activities/index.html.erb
  app/spec/controllers/activities/activities_controller_spec.rb
  app/spec/e2e/activity_hub_spec.rb
  app/spec/helpers/activities_helper_spec.rb
Due: rubocop, erblint

more polish
  app/app/helpers/activities_helper.rb
  app/spec/helpers/activities_helper_spec.rb
Due: rubocop

Happy path education e2e test
  app/spec/e2e/activity_hub_spec.rb
Due: rubocop

fixed E2E tests and some small polish things
  app/app/assets/stylesheets/uswds-overrides.scss
  app/app/views/activities/activities/index.html.erb
  app/config/locales/en.yml
  app/spec/e2e/activity_hub_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

removed edit button from education cards
  app/app/views/activities/activities/index.html.erb
Due: erblint

Updates
  app/app/controllers/activities/activities_controller.rb
  app/app/helpers/activities_helper.rb
  app/app/models/activity_flow.rb
  app/app/views/activities/activities/index.html.erb
  app/config/locales/en.yml
  app/spec/controllers/activities/activities_controller_spec.rb
  app/spec/helpers/activities_helper_spec.rb
  app/spec/models/activity_flow_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

FFS-3737: Activity Hub: Empty State (#1368)
  app/app/controllers/activities/activities_controller.rb
  app/app/models/activity_flow.rb
  app/app/views/activities/activities/_activity_section.html.erb
  app/app/views/activities/activities/index.html.erb
  app/config/locales/en.yml
  app/spec/controllers/activities/activities_controller_spec.rb
  app/spec/e2e/activity_hub_spec.rb
  app/spec/models/activity_flow_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Fix missed translation in activities income flow
  app/app/controllers/activities/base_controller.rb
  app/app/controllers/application_controller.rb
  app/app/controllers/cbv/base_controller.rb
  app/spec/support/e2e/test_helpers.rb
Due: rubocop

Fix insane indentation
  app/app/controllers/pages_controller.rb
Due: rubocop

FFS-3730: Update header to EMMY for HR1 (#1358)
  app/app/controllers/application_controller.rb
  app/app/controllers/pages_controller.rb
  app/app/views/application/_footer.html.erb
  app/app/views/application/_header.html.erb
  app/app/views/layouts/application.html.erb
  app/app/views/pages/error_404.html.erb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/spec/support/e2e/test_helpers.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

fixed E2E tests, added edit buttons back for education and employment
  app/app/views/activities/activities/index.html.erb
  app/spec/e2e/activity_hub_spec.rb
Due: rubocop, erblint

FFS-3736: Activity Hub copy changes and activity cards (#1359)
  app/app/assets/stylesheets/uswds-overrides.scss
  app/app/controllers/activities/activities_controller.rb
  app/app/controllers/activities/job_training_controller.rb
  app/app/controllers/activities/submit_controller.rb
  app/app/controllers/activities/summary_controller.rb
  app/app/controllers/activities/volunteering_controller.rb
  app/app/helpers/activities_helper.rb
  app/app/views/activities/activities/_activity_section.html.erb
  app/app/views/activities/activities/index.html.erb
  app/app/views/activities/job_training/_form.html.erb
  app/app/views/activities/job_training/edit.html.erb
  app/app/views/activities/job_training/new.html.erb
  app/app/views/activities/submit/show.pdf.erb
  app/app/views/activities/summary/_employment_table.html.erb
  app/app/views/activities/summary/_job_training_table.html.erb
  app/app/views/activities/summary/_volunteering_table.html.erb
  app/app/views/activities/summary/show.html.erb
  app/app/views/activities/volunteering/_form.html.erb
  app/app/views/activities/volunteering/edit.html.erb
  app/app/views/activities/volunteering/new.html.erb
  app/config/client-agency-config.yml
  app/config/locales/en.yml
  app/spec/controllers/activities/activities_controller_spec.rb
  app/spec/controllers/activities/job_training_controller_spec.rb
  app/spec/controllers/activities/summary_controller_spec.rb
  app/spec/controllers/activities/volunteering_controller_spec.rb
  app/spec/e2e/activity_hub_spec.rb
  app/spec/helpers/activities_helper_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

FFS-3611: Never time out users on /synchronizations (#1356)
  app/app/controllers/application_controller.rb
  app/app/controllers/cbv/synchronizations_controller.rb
  app/app/views/layouts/application.html.erb
  app/spec/controllers/cbv/add_jobs_controller_spec.rb
  app/spec/controllers/cbv/synchronizations_controller_spec.rb
Due: rubocop, erblint

Revert "No ticket: reverted deductions in json (#1367)"
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/app/services/aggregators/response_objects/deduction.rb
  app/app/services/aggregators/response_objects/paystub.rb
  app/spec/factories/aggregator_report.rb
  app/spec/services/aggregators/aggregator_reports/aggregator_report_spec.rb
Due: rubocop

Allow setting the environment when dispatching action
  .github/workflows/ci-app-pr-environment-checks.yml
Due: actionlint

Don't overwrite bucket name on pr envs
  infra/app/app-config/demo.tf
Due: terraform_fmt

FFS-3758: Fix employer search button disabled after "back" (#1355)
  app/app/javascript/controllers/cbv/employer_search.js
  app/app/views/cbv/employer_searches/show.html.erb
Due: erblint, prettier

Allow newrelic tracing across user journey / jobs
  app/app/controllers/application_controller.rb
  app/app/controllers/cbv/base_controller.rb
  app/app/jobs/application_job.rb
  app/app/jobs/case_worker_transmitter_job.rb
  app/app/jobs/match_agency_names_job.rb
  app/config/newrelic.yml
  app/spec/controllers/cbv/base_controller_spec.rb
  app/spec/jobs/application_job_spec.rb
  app/spec/jobs/case_worker_transmitter_job_spec.rb
Due: rubocop

Allow newrelic tracing across user journey / jobs
  app/app/jobs/match_agency_names_job.rb
Due: rubocop

Sort changes in deploy notes
  app/bin/will-deploy
Due: none

bullet fixes
  app/bin/will-deploy
Due: none

first draft
  app/app/controllers/demo_launcher_controller.rb
  app/app/controllers/flow_controller.rb
  app/app/views/demo_launcher/show.html.erb
  app/app/views/layouts/application.html.erb
  app/config/routes.rb
Due: rubocop, erblint

url fix
  app/app/controllers/demo_launcher_controller.rb
  app/app/models/activity_flow_invitation.rb
Due: rubocop

Update mileage
  app/app/components/report/gig_monthly_summary_table_component.rb
  app/app/helpers/report_view_helper.rb
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/spec/components/report/gig_monthly_summary_table_component_spec.rb
  app/spec/helpers/report_view_helper_spec.rb
  app/spec/support/fixtures/argyle/multi_year_mileage/request_account.json
  app/spec/support/fixtures/argyle/multi_year_mileage/request_gigs.json
  app/spec/support/fixtures/argyle/multi_year_mileage/request_identity.json
  app/spec/support/fixtures/argyle/multi_year_mileage/request_paystubs.json
Due: rubocop, i18n-unused, i18n-normalize

change some limits
  app/app/views/demo_launcher/show.html.erb
Due: erblint

Content update
  app/config/locales/en.yml
Due: i18n-unused, i18n-normalize

Reinstate LA LDH `report_pdf` field and disable PDF API
  app/config/client-agency-config.yml
Due: none

Tom's url params suggestion
  app/app/models/activity_flow_invitation.rb
Due: rubocop
