Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-normalize, i18n-missing, shellcheck, prettier

rubocop:
  name: rubocop
  entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
  language: ruby

erblint:
  name: erblint
  entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
  language: ruby

i18n-normalize:
  name: i18n-normalize
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
  language: ruby
  pass_filenames: false

i18n-missing:
  name: i18n-missing
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks missing
  language: ruby
  pass_filenames: false

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system

prettier:
  name: prettier
  entry: bin/run-linter --cd app -- npm run format:precommit
  language: node

addressing PR feedback. Ensuring single responsbility by creating a new method to cast date strings to date obj. Swapping native attribute accessor with dig
  app/app/helpers/application_helper.rb
  app/app/services/aggregators/response_objects/identity.rb
Due: rubocop

Fix bug + test
  app/app/views/cbv/payment_details/show.html.erb
  app/spec/controllers/cbv/payment_details_controller_spec.rb
  app/spec/support/fixtures/pinwheel/request_end_user_paystubs_response.json
Due: rubocop, erblint

removing some non-functional code and fixing a typo
  app/app/models/cbv_applicant.rb
  app/config/client-agency-config.yml
Due: rubocop

FFS-2834: Fix calculation of median for W-2 hours/gross_pay_amount (#676)
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/app/controllers/webhooks/pinwheel/events_controller.rb
  app/spec/controllers/webhooks/argyle/events_controller_spec.rb
Due: rubocop

FFS-2869: Fix 'undefined method `>' for nil' error on /payment_details
  app/app/views/cbv/payment_details/show.html.erb
  app/spec/controllers/cbv/payment_details_controller_spec.rb
  app/spec/support/fixtures/pinwheel/request_end_user_paystubs_response.json
Due: rubocop, erblint

remove checks to employment status present and termination data present
  app/app/services/aggregators/validators/useful_report_validator.rb
Due: rubocop

updated age range from 18-25 -> 19-25
  app/app/helpers/application_helper.rb
Due: rubocop

fixing test for previously invalid age range
  app/spec/helpers/application_helper_spec.rb
Due: rubocop

added timecop to prevent date drifting during tests
  app/spec/helpers/application_helper_spec.rb
Due: rubocop

Increase RAILS_MAX_THREADS from 5 -> 10 (#678)
  infra/app/app-config/env-config/environment-variables.tf
Due: none

Made some syntax change such as using around do as opposed to before do
  app/spec/controllers/webhooks/argyle/events_controller_spec.rb
  app/spec/controllers/webhooks/pinwheel/events_controller_spec.rb
Due: rubocop

FFS-2873: Update load testing script with new SLOs/user model (#677)
  load_testing/README.md
  load_testing/loadtest.js
Due: none

fix unit test
  app/spec/services/aggregators/validators/useful_report_validator_spec.rb
Due: rubocop

FFS-2867: Fix incorrect credentials Arygle modal not reopening (#664)
  app/app/controllers/api/argyle_controller.rb
  app/app/services/aggregators/webhooks/argyle.rb
  app/spec/controllers/api/argyle_controller_spec.rb
  app/spec/controllers/webhooks/argyle/events_controller_spec.rb
  app/spec/factories/cbv_flow.rb
  app/spec/factories/payroll_account.rb
  app/spec/support/argyle_api_helper.rb
Due: rubocop

address PR comment: use positional args over kwargs
  app/app/services/aggregators/aggregator_reports/pinwheel_report.rb
  app/app/services/aggregators/sdk/pinwheel_service.rb
  app/spec/services/aggregators/sdk/pinwheel_service_spec.rb
Due: rubocop

Taking Jeffs suggestion and updating get_age_range to accept a second optional arg for [now]
  app/app/helpers/application_helper.rb
  app/spec/helpers/application_helper_spec.rb
Due: rubocop

fixed merge issue
  app/spec/support/argyle_api_helper.rb
Due: rubocop

changed missing fetch_platform stub test.
  app/spec/services/aggregators/aggregator_reports/pinwheel_report_spec.rb
Due: rubocop

update events_controller with new fetch_platform signature
  app/app/controllers/webhooks/pinwheel/events_controller.rb
Due: rubocop

addressing requested changes including refactor for comprehensibility
  app/app/services/aggregators/validators/useful_report_validator.rb
  app/spec/controllers/cbv/payment_details_controller_spec.rb
  app/spec/services/aggregators/validators/useful_report_validator_spec.rb
Due: rubocop

FFS-2826: added tracking of payroll provider from argyle (#655)
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/app/controllers/webhooks/pinwheel/events_controller.rb
  app/app/services/aggregators/aggregator_reports/argyle_report.rb
  app/app/services/aggregators/aggregator_reports/pinwheel_report.rb
  app/app/services/aggregators/response_objects/employment.rb
  app/app/services/aggregators/sdk/argyle_service.rb
  app/app/services/aggregators/sdk/pinwheel_service.rb
  app/spec/controllers/cbv/payment_details_controller_spec.rb
  app/spec/controllers/cbv/submits_controller_spec.rb
  app/spec/controllers/cbv/summaries_controller_spec.rb
  app/spec/controllers/webhooks/argyle/events_controller_spec.rb
  app/spec/controllers/webhooks/pinwheel/events_controller_spec.rb
  app/spec/factories/aggregator_report.rb
  app/spec/services/aggregators/aggregator_reports/argyle_report_spec.rb
  app/spec/services/aggregators/aggregator_reports/pinwheel_report_spec.rb
  app/spec/services/aggregators/response_objects/employment_spec.rb
  app/spec/services/aggregators/sdk/argyle_service_spec.rb
  app/spec/services/aggregators/sdk/pinwheel_service_spec.rb
  app/spec/support/argyle_api_helper.rb
  app/spec/support/fixtures/argyle/bob/request_account.json
  app/spec/support/fixtures/argyle/busy_joe/request_account.json
  app/spec/support/fixtures/argyle/joe/request_account.json
  app/spec/support/fixtures/argyle/sarah/request_account.json
  app/spec/support/fixtures/pinwheel/request_end_user_account_response.json
  app/spec/support/pinwheel_api_helper.rb
Due: rubocop

FFS-2825: Add zip code and age range to metrics (#669)
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/app/controllers/webhooks/pinwheel/events_controller.rb
  app/app/helpers/application_helper.rb
  app/app/services/aggregators/response_objects/identity.rb
  app/spec/controllers/webhooks/argyle/events_controller_spec.rb
  app/spec/controllers/webhooks/pinwheel/events_controller_spec.rb
  app/spec/helpers/application_helper_spec.rb
Due: rubocop

Fix sending ApplicantSharedIncomeSummary when transmitting
  app/app/jobs/application_job.rb
  app/app/jobs/case_worker_transmitter_job.rb
  app/spec/jobs/case_worker_transmitter_job_spec.rb
Due: rubocop

Fix ArgyleSuccess event to not set `user_id` attribute
  app/app/javascript/adapters/ArgyleModalAdapter.ts
Due: prettier

Remove duplicate event for ApplicantCreatedArgyleAccount
  app/app/controllers/webhooks/argyle/events_controller.rb
Due: rubocop

FFS-2878: Take user to /applicant_informations after sync fail
  app/app/views/cbv/synchronization_failures/show.html.erb
Due: erblint

add account_id to finish sync trackers for better correlation to argyle and pinwheel services
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/app/controllers/webhooks/pinwheel/events_controller.rb
  app/spec/controllers/webhooks/argyle/events_controller_spec.rb
  app/spec/controllers/webhooks/pinwheel/events_controller_spec.rb
Due: rubocop

FFS-2828: Added paystubs_days_since_last_pay_date metric (#674)
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/app/controllers/webhooks/pinwheel/events_controller.rb
  app/spec/controllers/webhooks/argyle/events_controller_spec.rb
  app/spec/controllers/webhooks/pinwheel/events_controller_spec.rb
Due: rubocop

add account_id to finish sync trackers for better correlation to argyle and pinwheel services (#683)
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/app/controllers/webhooks/pinwheel/events_controller.rb
  app/spec/controllers/webhooks/argyle/events_controller_spec.rb
  app/spec/controllers/webhooks/pinwheel/events_controller_spec.rb
Due: rubocop

FFS-2878: Take user to /applicant_informations after sync fail (#682)
  app/app/views/cbv/synchronization_failures/show.html.erb
Due: erblint

FFS-2868: Fix three metric bugs (#681)
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/app/javascript/adapters/ArgyleModalAdapter.ts
  app/app/jobs/application_job.rb
  app/app/jobs/case_worker_transmitter_job.rb
  app/spec/jobs/case_worker_transmitter_job_spec.rb
Due: rubocop, prettier

FFS-2861: Implement Report Validation Changes for LA Launch (#679)
  app/app/services/aggregators/validators/useful_report_validator.rb
  app/spec/controllers/cbv/payment_details_controller_spec.rb
  app/spec/controllers/webhooks/pinwheel/events_controller_spec.rb
  app/spec/services/aggregators/validators/useful_report_validator_spec.rb
  app/spec/support/fixtures/pinwheel/request_end_user_paystubs_with_no_paydate_response.json
  app/spec/support/pinwheel_api_helper.rb
Due: rubocop

removing some non-functional code and fixing a typo (#684)
  app/app/models/cbv_applicant.rb
  app/config/client-agency-config.yml
Due: rubocop

FFS-2828: make sure it works for missing date logic and add tests
  app/app/controllers/webhooks/pinwheel/events_controller.rb
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/spec/services/aggregators/aggregator_reports/argyle_report_spec.rb
Due: rubocop

do not remap argyle's "inactive" unemployment status
  app/app/services/aggregators/format_methods/argyle.rb
  app/spec/services/aggregators/format_methods/argyle_spec.rb
Due: rubocop

do not remap argyle's "inactive" unemployment status (#687)
  app/app/services/aggregators/format_methods/argyle.rb
  app/spec/services/aggregators/format_methods/argyle_spec.rb
Due: rubocop

incorporate PR feedback
  app/spec/services/aggregators/aggregator_reports/argyle_report_spec.rb
Due: rubocop

FFS-2828: Fix paystubs_days_since_last_pay_date calculation for empty paystub dates (#686)
  app/app/controllers/webhooks/pinwheel/events_controller.rb
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/spec/services/aggregators/aggregator_reports/argyle_report_spec.rb
Due: rubocop

We need LA LDH specific .env stuff for testing
  app/.env
Due: none

Test
  app/spec/factories/cbv_flow_invitation.rb
  app/spec/mailers/weekly_report_mailer_spec.rb
Due: rubocop

Path conditions:
  rubocop: any of: ^app/.*\.rb$
  erblint: any of: ^app/.*\.erb$
  i18n-normalize: any of: ^app/config/locales/.*\.yml$
  i18n-missing: any of: ^app/config/locales/.*\.yml$
  shellcheck: any of: ^bin/.*$
  prettier: any of: ^app/.*\.(js|ts)$
