Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-unused, i18n-normalize, shellcheck, prettier, terraform_fmt, actionlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml

- repo: local
  hooks:
  - id: rubocop
    name: rubocop
    entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
    language: system
    files: '^app/.*\.rb$'

  # this rubocop hook works on windows/wsl, and is being left here as of 8/27/2025 to figure it out at some point
  #- id: rubocop
  #  name: rubocop
  #  language: system
  #  entry: bash -lc 'BUNDLE_GEMFILE=app/Gemfile cd app && bundle exec rubocop -a --force-exclusion'
  #  types: [ ruby ]
  #  files: '^app/.*\.rb$'
  #  pass_filenames: false

  - id: erblint
    name: erblint
    entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
    language: system
    files: '^app/.*\.erb$'

  - id: i18n-unused
    name: i18n-unused
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks unused
    language: system
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: i18n-normalize
    name: i18n-normalize
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
    language: system
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system        # installed via `brew bundle`
    files: '^bin/.*$'

  - id: prettier
    name: prettier
    entry: bin/run-linter --cd app -- npm run format:precommit
    language: node
    files: '^app/.*\.(js|ts)$'

  - id: terraform_fmt
    name: Terraform Fmt
    entry: terraform fmt
    language: system
    files: 'infra/.*\.tf$'

#  - id: checkov
#    name: Checkov
#    entry: checkov --quiet --output sarif --framework terraform -f
#    language: system
#    files: 'infra/.*\.tf$'

  - id: actionlint
    name: ActionLint
    entry: actionlint
    language: system
    files: '^.github/.*\.yml$'
    pass_filenames: false

FFS-4095: Make /demo links copyable
  app/app/assets/stylesheets/demo-launcher.scss
  app/app/controllers/demo_launcher_controller.rb
  app/app/javascript/controllers/demo_launcher_controller.js
  app/app/views/demo_launcher/show.html.erb
  app/spec/controllers/demo_launcher_controller_spec.rb
Due: rubocop, erblint, prettier

Fix indenting
  app/app/views/demo_launcher/show.html.erb
Due: erblint

FFS-4095: Make /demo links shareable (#1615)
  app/app/assets/stylesheets/demo-launcher.scss
  app/app/controllers/demo_launcher_controller.rb
  app/app/javascript/controllers/demo_launcher_controller.js
  app/app/views/demo_launcher/show.html.erb
  app/spec/controllers/demo_launcher_controller_spec.rb
Due: rubocop, erblint, prettier

FFS-4225: Update welcome page content (#1616)
  app/app/views/pages/home.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: erblint, i18n-unused, i18n-normalize

Progress indicator toggle
  app/app/components/activity_flow_progress_indicator.rb
  app/app/components/activity_flow_progress_indicator/activity_flow_progress_indicator.erb
  app/app/components/activity_flow_progress_indicator/activity_flow_progress_indicator.scss
  app/app/javascript/controllers/index.js
  app/app/javascript/controllers/progress_indicator_units_controller.js
  app/app/views/activities/activities/index.html.erb
  app/config/locales/en.yml
  app/spec/components/activity_flow_progress_indicator_component_spec.rb
  app/spec/components/previews/activity_flow_progress_indicator_preview.rb
  app/spec/controllers/activities/activities_controller_spec.rb
  app/spec/e2e/activity_hub_spec.rb
  app/spec/javascript/controllers/progress_indicator_units.spec.js
Due: rubocop, erblint, i18n-unused, i18n-normalize, prettier

FFS-4242: Add override for missing employers for nh_dhhs
  app/app/views/cbv/missing_results/show.html.erb
  app/config/client-agency-config.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/lib/client_agency_config.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Use agency_missing_employers_website for the other missing link too
  app/app/views/cbv/employer_searches/_employer.html.erb
Due: erblint

Fix i18n
  app/config/locales/en.yml
Due: i18n-unused, i18n-normalize

Adjust css
  app/app/components/activity_flow_progress_indicator/activity_flow_progress_indicator.erb
  app/app/components/activity_flow_progress_indicator/activity_flow_progress_indicator.scss
Due: erblint

Oops, fix rspec
  app/spec/controllers/activities/activities_controller_spec.rb
Due: rubocop

Update AGENTS.md to align with team conventions
  app/AGENTS.md
Due: none

Update AGENTS.md to align with team conventions (#1623)
  app/AGENTS.md
Due: none

Also update one more link
  app/app/views/cbv/missing_results/show.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: erblint, i18n-unused, i18n-normalize

Update README.md
  README.md
Due: none

move up link to CONTRIBUTING.md since a lot of technical walkthrough is moved there
  README.md
Due: none

FFS-4242: Update NH link when no employer is found (#1622)
  app/app/views/cbv/employer_searches/_employer.html.erb
  app/app/views/cbv/missing_results/show.html.erb
  app/config/client-agency-config.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/lib/client_agency_config.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

always confirm on exit when in draft mode
  app/app/components/activity_flow_header_component.rb
  app/app/components/activity_flow_header_component/activity_flow_header_component.html.erb
  app/app/javascript/controllers/activity_flow_header_controller.js
  app/spec/components/activity_flow_header_component_spec.rb
Due: rubocop, erblint, prettier

FFS-3917: Implement frontend toggle to switch units on the progress indicator (#1621)
  app/app/components/activity_flow_progress_indicator.rb
  app/app/components/activity_flow_progress_indicator/activity_flow_progress_indicator.erb
  app/app/components/activity_flow_progress_indicator/activity_flow_progress_indicator.scss
  app/app/javascript/controllers/index.js
  app/app/javascript/controllers/progress_indicator_units_controller.js
  app/app/views/activities/activities/index.html.erb
  app/config/locales/en.yml
  app/spec/components/activity_flow_progress_indicator_component_spec.rb
  app/spec/components/previews/activity_flow_progress_indicator_preview.rb
  app/spec/controllers/activities/activities_controller_spec.rb
  app/spec/e2e/activity_hub_spec.rb
  app/spec/javascript/controllers/progress_indicator_units.spec.js
Due: rubocop, erblint, i18n-unused, i18n-normalize, prettier

fix edit threading for data-backed employment flow
  app/app/helpers/activities_helper.rb
  app/spec/helpers/activities_helper_spec.rb
  docs/superpowers/plans/2026-04-10-draft-activity-flag.md
  docs/superpowers/specs/2026-04-09-draft-activity-flag-design.md
  docs/superpowers/specs/2026-04-21-always-confirm-exit-in-creation-flow-design.md
Due: rubocop

Add documents uploaded component
  app/app/assets/stylesheets/cbv.scss
  app/app/components/activity_flow_header_component/activity_flow_header_component.html.erb
  app/app/components/activity_flow_progress_indicator/activity_flow_progress_indicator.erb
  app/app/components/document_uploads_component.html.erb
  app/app/components/document_uploads_component.rb
  app/app/components/link_with_icon_component.rb
  app/app/components/uswds/icon_list.html.erb
  app/app/controllers/activities/document_uploads_controller.rb
  app/app/helpers/application_helper.rb
  app/app/views/activities/activities/_activity_section.html.erb
  app/app/views/activities/document_uploads/new.html.erb
  app/app/views/application/_header.html.erb
  app/app/views/help/_help_modal.html.erb
  app/config/locales/en.yml
  app/config/routes.rb
  app/spec/components/document_uploads_component_spec.rb
  app/spec/components/link_with_icon_component_spec.rb
  app/spec/components/previews/document_uploads_component_preview.rb
  app/spec/controllers/activities/document_uploads_controller_spec.rb
  app/spec/e2e/activity_hub_education_self_attestation_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Locale fixes
  app/config/i18n-tasks.yml
Due: none

Fix ArgumentError by disabling NewRelic SemanticLogger integration
  app/config/newrelic.yml
Due: none

Design / copy changes
  app/app/assets/stylesheets/cbv.scss
  app/app/views/activities/document_uploads/new.html.erb
  app/config/locales/en.yml
  app/spec/components/document_uploads_component_spec.rb
  app/spec/controllers/activities/document_uploads_controller_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Fix ArgumentError by disabling NewRelic SemanticLogger integration (#1641)
  app/config/newrelic.yml
Due: none

PR comment fixes
  app/app/assets/stylesheets/application.postcss.css
  app/app/assets/stylesheets/cbv.scss
  app/app/assets/stylesheets/document_uploads.scss
  app/app/components/document_uploads_component.html.erb
  app/app/components/document_uploads_component.rb
  app/app/helpers/application_helper.rb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/spec/controllers/activities/document_uploads_controller_spec.rb
  app/spec/e2e/activity_hub_education_self_attestation_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Progress indicator review page updates
  app/app/components/activity_flow_progress_indicator.rb
  app/app/components/activity_flow_progress_indicator/activity_flow_progress_indicator.erb
  app/app/components/activity_flow_progress_indicator/activity_flow_progress_indicator.scss
  app/app/views/activities/summary/show.html.erb
  app/spec/components/activity_flow_progress_indicator_component_spec.rb
  app/spec/components/previews/activity_flow_progress_indicator_preview.rb
  app/spec/controllers/activities/summary_controller_spec.rb
  app/spec/javascript/controllers/progress_indicator_units.spec.js
Due: rubocop, erblint, prettier

Fix i18n & rspec
  app/app/components/activity_flow_progress_indicator.rb
  app/spec/controllers/activities/summary_controller_spec.rb
Due: rubocop

fix for synced payroll accounts in draft state showing up in progress calculator
  app/app/models/activity_flow_monthly_summary.rb
  app/spec/models/activity_flow_monthly_summary_spec.rb
Due: rubocop

FFS-4259: Exclude gross_pay_list entries with `null` amount
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/spec/services/aggregators/aggregator_reports/aggregator_report_spec.rb
Due: rubocop

Attempt to fix flaky CI
  app/spec/support/e2e/test_helpers.rb
Due: rubocop

FFS-3768: Display previously uploaded documents on document upload pages (#1640)
  app/app/assets/stylesheets/application.postcss.css
  app/app/assets/stylesheets/cbv.scss
  app/app/assets/stylesheets/document_uploads.scss
  app/app/components/activity_flow_header_component/activity_flow_header_component.html.erb
  app/app/components/activity_flow_progress_indicator/activity_flow_progress_indicator.erb
  app/app/components/document_uploads_component.html.erb
  app/app/components/document_uploads_component.rb
  app/app/components/link_with_icon_component.rb
  app/app/components/uswds/icon_list.html.erb
  app/app/controllers/activities/document_uploads_controller.rb
  app/app/helpers/application_helper.rb
  app/app/views/activities/activities/_activity_section.html.erb
  app/app/views/activities/document_uploads/new.html.erb
  app/app/views/application/_header.html.erb
  app/app/views/help/_help_modal.html.erb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/routes.rb
  app/spec/components/document_uploads_component_spec.rb
  app/spec/components/link_with_icon_component_spec.rb
  app/spec/components/previews/document_uploads_component_preview.rb
  app/spec/controllers/activities/document_uploads_controller_spec.rb
  app/spec/e2e/activity_hub_education_self_attestation_spec.rb
  app/spec/support/e2e/test_helpers.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

FFS-4232: Add "research" client agency
  app/.env
  app/app/models/cbv_applicant/research.rb
  app/app/views/cbv/applicant_informations/_research.html.erb
  app/app/views/cbv/expired_invitations/show.html.erb
  app/app/views/cbv/synchronization_failures/show.html.erb
  app/config/client-agency-config.yml
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/spec/controllers/cbv/synchronization_failures_controller_spec.rb
  infra/app/app-config/env-config/environment-variables.tf
Due: rubocop, erblint, i18n-unused, i18n-normalize, terraform_fmt

Card title should be h3
  app/app/components/activity_flow_progress_indicator/activity_flow_progress_indicator.erb
  app/app/components/activity_flow_progress_indicator/activity_flow_progress_indicator.scss
  app/spec/components/activity_flow_progress_indicator_component_spec.rb
  app/spec/controllers/activities/summary_controller_spec.rb
Due: rubocop, erblint

Back to h2 to fix accessibility issue
  app/app/components/activity_flow_progress_indicator/activity_flow_progress_indicator.erb
  app/spec/components/activity_flow_progress_indicator_component_spec.rb
  app/spec/controllers/activities/summary_controller_spec.rb
Due: rubocop, erblint

Remove "(optional)"
  app/config/locales/en.yml
Due: i18n-unused, i18n-normalize

FFS-3920: Implement progress indicator variants on the activity flow review page (#1642)
  app/app/components/activity_flow_progress_indicator.rb
  app/app/components/activity_flow_progress_indicator/activity_flow_progress_indicator.erb
  app/app/components/activity_flow_progress_indicator/activity_flow_progress_indicator.scss
  app/app/views/activities/summary/show.html.erb
  app/spec/components/activity_flow_progress_indicator_component_spec.rb
  app/spec/components/previews/activity_flow_progress_indicator_preview.rb
  app/spec/controllers/activities/summary_controller_spec.rb
  app/spec/javascript/controllers/progress_indicator_units.spec.js
Due: rubocop, erblint, prettier

FFS-4232: Add "research" client agency (#1644)
  app/.env
  app/app/models/cbv_applicant/research.rb
  app/app/views/cbv/applicant_informations/_research.html.erb
  app/app/views/cbv/expired_invitations/show.html.erb
  app/app/views/cbv/synchronization_failures/show.html.erb
  app/config/client-agency-config.yml
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/spec/controllers/cbv/synchronization_failures_controller_spec.rb
  infra/app/app-config/env-config/environment-variables.tf
Due: rubocop, erblint, i18n-unused, i18n-normalize, terraform_fmt
