Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-unused, i18n-normalize, shellcheck, prettier, terraform_fmt, actionlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml

- repo: local
  hooks:
  - id: rubocop
    name: rubocop
    entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
    language: system
    files: '^app/.*\.rb$'

  # this rubocop hook works on windows/wsl, and is being left here as of 8/27/2025 to figure it out at some point
  #- id: rubocop
  #  name: rubocop
  #  language: system
  #  entry: bash -lc 'BUNDLE_GEMFILE=app/Gemfile cd app && bundle exec rubocop -a --force-exclusion'
  #  types: [ ruby ]
  #  files: '^app/.*\.rb$'
  #  pass_filenames: false

  - id: erblint
    name: erblint
    entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
    language: system
    files: '^app/.*\.erb$'

  - id: i18n-unused
    name: i18n-unused
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks unused
    language: system
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: i18n-normalize
    name: i18n-normalize
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
    language: system
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system        # installed via `brew bundle`
    files: '^bin/.*$'

  - id: prettier
    name: prettier
    entry: bin/run-linter --cd app -- npm run format:precommit
    language: node
    files: '^app/.*\.(js|ts)$'

  - id: terraform_fmt
    name: Terraform Fmt
    entry: terraform fmt
    language: system
    files: 'infra/.*\.tf$'

#  - id: checkov
#    name: Checkov
#    entry: checkov --quiet --output sarif --framework terraform -f
#    language: system
#    files: 'infra/.*\.tf$'

  - id: actionlint
    name: ActionLint
    entry: actionlint
    language: system
    files: '^.github/.*\.yml$'
    pass_filenames: false

FFS-4421: Update will-deploy script to output new launcher link
  app/bin/will-deploy
Due: none

Add second street address line
  app/app/components/contact_info_review_table_component.rb
  app/app/models/education_activity.rb
  app/app/views/activities/volunteering/review.html.erb
  app/spec/models/education_activity_spec.rb
Due: rubocop, erblint

fix: patch Dockerfile for OS-level CVEs flagged by Trivy/Anchore
  app/Dockerfile
Due: none

FFS-4437: document manual GitHub release process (#1734)
  docs/release-process.md
Due: none

FFS-4072: Fix single-month reporting period display (#1736)
  app/app/models/activity_flow.rb
  app/app/views/activities/activities/index.html.erb
  app/spec/models/activity_flow_spec.rb
Due: rubocop, erblint

Update gross income footnote copy
  app/config/locales/en.yml
  app/spec/components/report/w2_monthly_summary_table_component_spec.rb
Due: rubocop, i18n-unused, i18n-normalize

FFS-4272: Add PDF gross pay line items (#1746)
  app/app/assets/stylesheets/cbv.scss
  app/app/components/aggregate_data_point_component.html.erb
  app/app/components/aggregate_data_point_component.rb
  app/app/views/cbv/submits/show.pdf.erb
  app/config/locales/en.yml
  app/spec/components/aggregate_data_point_component_spec.rb
  app/spec/components/report/w2_monthly_summary_table_component_spec.rb
  app/spec/controllers/cbv/submits_controller_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

rake task for sending failed reports
  app/config/client-agency-config.yml
  app/lib/client_agency_config.rb
  app/lib/tasks/caseworker_mailer_fallback.rake
Due: rubocop

Implement skeleton for education + refactoring
  app/app/controllers/activities/activities_controller.rb
  app/app/controllers/activities/education_controller.rb
  app/app/controllers/api/invitations_controller.rb
  app/app/controllers/demo_launcher_controller.rb
  app/app/helpers/activities_helper.rb
  app/app/models/activity.rb
  app/app/models/activity_flow.rb
  app/app/models/activity_flow_invitation.rb
  app/app/models/education_activity.rb
  app/app/models/education_activity_month.rb
  app/app/models/employment_activity.rb
  app/app/models/volunteering_activity.rb
  app/app/services/activity_flow_progress_calculator.rb
  app/app/services/cbv_invitation_service.rb
  app/app/views/activities/activities/index.html.erb
  app/app/views/demo_launcher/advanced.html.erb
  app/db/migrate/20260527120000_add_pre_populated_to_activity_tables.rb
  app/db/schema.rb
  app/spec/controllers/activities/activities_controller_spec.rb
  app/spec/controllers/activities/education_controller_spec.rb
  app/spec/controllers/api/invitations_controller_spec.rb
  app/spec/controllers/demo_launcher_controller_spec.rb
  app/spec/factories/education_activity.rb
  app/spec/factories/employment_activity.rb
  app/spec/factories/volunteering_activity.rb
  app/spec/helpers/activities_helper_spec.rb
  app/spec/models/activity_flow_invitation_spec.rb
  app/spec/models/activity_flow_spec.rb
  app/spec/services/activity_flow_progress_calculator_spec.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.pdf
Due: rubocop, erblint

FFS-4074: Show street address line 2 and zipcode in address on activity review page (#1760)
  app/app/components/contact_info_review_table_component.rb
  app/app/models/education_activity.rb
  app/app/views/activities/volunteering/review.html.erb
  app/spec/models/education_activity_spec.rb
Due: rubocop, erblint

FFS-4421: Update will-deploy script to point to launcher
  app/bin/will-deploy
Due: none

FFS-4321: Extend skeleton implementation to Education activities via API (#1764)
  app/app/controllers/activities/activities_controller.rb
  app/app/controllers/activities/education_controller.rb
  app/app/controllers/api/invitations_controller.rb
  app/app/controllers/demo_launcher_controller.rb
  app/app/helpers/activities_helper.rb
  app/app/models/activity.rb
  app/app/models/activity_flow.rb
  app/app/models/activity_flow_invitation.rb
  app/app/models/education_activity.rb
  app/app/models/education_activity_month.rb
  app/app/models/employment_activity.rb
  app/app/models/volunteering_activity.rb
  app/app/services/activity_flow_progress_calculator.rb
  app/app/services/cbv_invitation_service.rb
  app/app/views/activities/activities/index.html.erb
  app/app/views/demo_launcher/advanced.html.erb
  app/db/migrate/20260527120000_add_pre_populated_to_activity_tables.rb
  app/db/schema.rb
  app/spec/controllers/activities/activities_controller_spec.rb
  app/spec/controllers/activities/education_controller_spec.rb
  app/spec/controllers/api/invitations_controller_spec.rb
  app/spec/controllers/demo_launcher_controller_spec.rb
  app/spec/factories/education_activity.rb
  app/spec/factories/employment_activity.rb
  app/spec/factories/volunteering_activity.rb
  app/spec/helpers/activities_helper_spec.rb
  app/spec/models/activity_flow_invitation_spec.rb
  app/spec/models/activity_flow_spec.rb
  app/spec/services/activity_flow_progress_calculator_spec.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.pdf
Due: rubocop, erblint

FFS-4075: Add back button to self-attested employment info page
  app/app/controllers/activities/employment_controller.rb
  app/app/views/activities/employment/new.html.erb
  app/spec/controllers/activities/employment_navigation_spec.rb
Due: rubocop, erblint

add aws region
  .github/workflows/build-and-publish-to-artifactory.yml
Due: actionlint

plug it into normal build time for now
  .github/workflows/build-and-publish.yml
Due: actionlint

yeet
  .github/workflows/build-and-publish-to-artifactory.yml
Due: actionlint

create new action
  .github/workflows/build-and-publish-to-artifactory.yml
  Makefile
  app/Makefile
  bin/publish-release-artifactory
  bin/publish-release-ecr
Due: shellcheck, actionlint

remove
  Makefile
Due: none

next nuance
  .github/workflows/build-and-publish-to-artifactory.yml
Due: actionlint

take 5
  .github/workflows/build-and-publish-to-artifactory.yml
Due: actionlint

[FFS-4393] tweak publish
  .github/workflows/build-and-publish-to-artifactory.yml
  Makefile
  bin/publish-release-ecr
Due: shellcheck, actionlint

take 50
  Makefile
Due: none

test
  .github/workflows/build-and-publish-to-artifactory.yml
Due: actionlint

press f
  .github/workflows/build-and-publish-to-artifactory.yml
Due: actionlint

eggsperiment
  .github/workflows/build-and-publish-to-artifactory.yml
Due: actionlint

remove unnecessary action
  bin/publish-release-ecr
Due: shellcheck

[FFS-4393] tweak action so it can actually publish docker images to artifactory
  .github/workflows/build-and-publish-to-artifactory.yml
Due: actionlint

take 2
  .github/workflows/build-and-publish-to-artifactory.yml
Due: actionlint

[FFS-4394] introduce way to manually deploy to ecs depending on terraform that doesnt exist in this repo
  .github/workflows/deploy-ecs.yml
  Makefile
  bin/deploy-ecs-manual
  infra/app/service/main.tf
Due: shellcheck, terraform_fmt, actionlint

Potential fix for pull request finding 'CodeQL / Workflow does not contain permissions'
  .github/workflows/build-and-publish.yml
Due: actionlint

perms fix
  .github/workflows/build-and-publish.yml
Due: actionlint

Fix time related spec failures
  app/spec/helpers/activities_helper_spec.rb
  app/spec/models/education_activity_spec.rb
  app/spec/services/activity_flow_progress_calculator_spec.rb
Due: rubocop

Fix time related spec failures (#1770)
  app/spec/helpers/activities_helper_spec.rb
  app/spec/models/education_activity_spec.rb
  app/spec/services/activity_flow_progress_calculator_spec.rb
Due: rubocop

[FFS-4394] introduce way to manually deploy to ecs depending on terraform that doesnt exist in this repo (#1769)
  .github/workflows/deploy-ecs.yml
  Makefile
  bin/deploy-ecs-manual
  infra/app/service/main.tf
Due: shellcheck, terraform_fmt, actionlint

Chronological cards
  app/app/services/education_activity_card_builder.rb
  app/spec/helpers/activities_helper_spec.rb
Due: rubocop

PR comments
  app/app/helpers/activities_helper.rb
  app/spec/helpers/activities_helper_spec.rb
Due: rubocop

Add Work Program skeleton + little refactor
  app/app/controllers/activities/activities_controller.rb
  app/app/controllers/activities/job_training_controller.rb
  app/app/controllers/api/invitations_controller.rb
  app/app/controllers/demo_launcher_controller.rb
  app/app/helpers/activities_helper.rb
  app/app/models/activity.rb
  app/app/models/activity_flow.rb
  app/app/models/activity_flow_invitation.rb
  app/app/models/education_activity.rb
  app/app/models/employment_activity.rb
  app/app/models/job_training_activity.rb
  app/app/models/job_training_activity_month.rb
  app/app/models/volunteering_activity.rb
  app/app/services/activity_flow_progress_calculator.rb
  app/app/views/activities/activities/index.html.erb
  app/app/views/demo_launcher/advanced.html.erb
  app/db/migrate/20260529120000_add_pre_populated_to_job_training_activities.rb
  app/db/schema.rb
  app/spec/controllers/activities/activities_controller_spec.rb
  app/spec/controllers/api/invitations_controller_spec.rb
  app/spec/controllers/demo_launcher_controller_spec.rb
  app/spec/factories/job_training_activity.rb
  app/spec/helpers/activities_helper_spec.rb
  app/spec/models/activity_flow_invitation_spec.rb
  app/spec/models/activity_flow_spec.rb
  app/spec/models/activity_spec.rb
  app/spec/services/activity_flow_progress_calculator_spec.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.pdf
Due: rubocop, erblint
