Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-normalize, i18n-missing, shellcheck, prettier

rubocop:
  name: rubocop
  entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
  language: ruby

erblint:
  name: erblint
  entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
  language: ruby

i18n-normalize:
  name: i18n-normalize
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
  language: ruby
  pass_filenames: false

i18n-missing:
  name: i18n-missing
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks missing
  language: ruby
  pass_filenames: false

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system

prettier:
  name: prettier
  entry: bin/run-linter --cd app -- npm run format:precommit
  language: node

add circuit breaker
  infra/modules/service/main.tf
Due: none

Add note about when to complete checkboxes
  .github/pull_request_template.md
Due: none

FFS-3169: Update pull request template with Terraform reminder (#876)
  .github/pull_request_template.md
Due: none

add circuitbreaker for solidqueue
  infra/app/app-config/env-config/environment-variables.tf
  infra/modules/service/async_workers.tf
Due: none

Fix with test
  app/app/components/report/gig_monthly_summary_table_component.erb
  app/spec/components/report/gig_monthly_summary_table_component_spec.rb
Due: rubocop, erblint

Add ssm config for enabling la pilot
  infra/app/app-config/dev.tf
  infra/app/app-config/env-config/environment-variables.tf
  infra/app/app-config/env-config/variables.tf
  infra/app/app-config/prod.tf
Due: none

update cd-app.yml options
  .github/workflows/cd-app.yml
Due: none

namespace data blocks with env
  infra/app/app-config/dev.tf
  infra/app/app-config/prod.tf
Due: none

Keep prod.tf and dev.tf provider-less :/
  infra/app/app-config/dev.tf
  infra/app/app-config/env-config/environment-variables.tf
  infra/app/app-config/env-config/outputs.tf
  infra/app/app-config/prod.tf
  infra/app/service/main.tf
Due: none

bump instance count to 20 and solidqueue count to 2
  infra/app/app-config/prod.tf
Due: none

recover when invitation is nil
  app/app/services/client_agency/az_des/recently_submitted_cases_csv.rb
Due: rubocop

FFS-3156: Enable LA Pilot on 8/15 (#890)
  infra/app/app-config/dev.tf
  infra/app/app-config/env-config/environment-variables.tf
  infra/app/app-config/env-config/outputs.tf
  infra/app/app-config/env-config/variables.tf
  infra/app/service/main.tf
Due: none

FFS-3205: Empty accordion when gig user has partial payment data (#889)
  app/app/components/report/gig_monthly_summary_table_component.erb
  app/spec/components/report/gig_monthly_summary_table_component_spec.rb
Due: rubocop, erblint

recover when invitation is nil (#892)
  app/app/services/client_agency/az_des/recently_submitted_cases_csv.rb
Due: rubocop

Add select prompt + en/es strings
  app/app/components/memorable_date_component.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: erblint, i18n-normalize, i18n-missing

test
  app/spec/helpers/uswds_form_builder_spec.rb
Due: rubocop

started a jupyter analytics notebook
  .gitignore
  app/analytics/analytics.ipynb
  app/analytics/requirements.txt
Due: none

updated with info on analytics setup
  README.md
Due: none

polish
  app/analytics/analytics.ipynb
Due: none

more polish
  app/analytics/analytics.ipynb
Due: none

polish polish polish
  app/analytics/analytics.ipynb
Due: none

spanish translation for footer
  app/app/controllers/cbv/submits_controller.rb
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: rubocop, i18n-normalize, i18n-missing

make page footer not scrolled off the end of the page
  app/app/assets/stylesheets/cbv.scss
Due: none

removed old code, reorganized and added explanatory comment
  app/app/assets/stylesheets/cbv.scss
Due: none

FFS-3229: make page footer not scrolled off the end of the page (#895)
  app/app/assets/stylesheets/cbv.scss
Due: none

FFS-3207: spanish translation for footer (#894)
  app/app/controllers/cbv/submits_controller.rb
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: rubocop, i18n-normalize, i18n-missing

Update Rails bugfix release
  app/Gemfile.lock
Due: none

Update Rails bugfix release (#897)
  app/Gemfile.lock
Due: none

FFS-3231: Default to a "Select" option for the memorable date month (#896)
  app/app/components/memorable_date_component.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/spec/helpers/uswds_form_builder_spec.rb
Due: rubocop, erblint, i18n-normalize, i18n-missing

force a new commit hash to build a new version
  bin/run-local-container.sh
Due: shellcheck

lets try adding demo to database.yml
  app/config/database.yml
Due: none

jeffffff
  app/config/application.rb
Due: rubocop

YOLO
  app/config/database.yml
Due: none

dumb move by ian
  bin/run-db-migrate-jeff.sh
Due: shellcheck

log current db connection config
  app/config/application.rb
Due: rubocop

add exception
  app/config/application.rb
Due: rubocop

FFS-3222: LA go-live infra changes (#891)
  infra/app/app-config/prod.tf
Due: none

fix + tests
  app/app/controllers/pages_controller.rb
  app/config/client-agency-config.yml
  app/lib/client_agency_config.rb
  app/spec/controllers/pages_controller_spec.rb
Due: rubocop

FFS-3252: Investigate why some AZ flows are missing an invitation (#898)
  app/app/controllers/pages_controller.rb
  app/config/client-agency-config.yml
  app/lib/client_agency_config.rb
  app/spec/controllers/pages_controller_spec.rb
Due: rubocop

[FFS-2496] after a backfill, point all references to pinwheel account id insted
  app/app/models/payroll_account.rb
  app/spec/controllers/cbv/submits_controller_spec.rb
Due: rubocop

Path conditions:
  rubocop: any of: ^app/.*\.rb$
  erblint: any of: ^app/.*\.erb$
  i18n-normalize: any of: ^app/config/locales/.*\.yml$
  i18n-missing: any of: ^app/config/locales/.*\.yml$
  shellcheck: any of: ^bin/.*$
  prettier: any of: ^app/.*\.(js|ts)$
