Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-unused, i18n-normalize, shellcheck, prettier, terraform_fmt, actionlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml

- repo: local
  hooks:
  - id: rubocop
    name: rubocop
    entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
    language: system
    files: '^app/.*\.rb$'

  # this rubocop hook works on windows/wsl, and is being left here as of 8/27/2025 to figure it out at some point
  #- id: rubocop
  #  name: rubocop
  #  language: system
  #  entry: bash -lc 'BUNDLE_GEMFILE=app/Gemfile cd app && bundle exec rubocop -a --force-exclusion'
  #  types: [ ruby ]
  #  files: '^app/.*\.rb$'
  #  pass_filenames: false

  - id: erblint
    name: erblint
    entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
    language: system
    files: '^app/.*\.erb$'

  - id: i18n-unused
    name: i18n-unused
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks unused
    language: system
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: i18n-normalize
    name: i18n-normalize
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
    language: system
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system        # installed via `brew bundle`
    files: '^bin/.*$'

  - id: prettier
    name: prettier
    entry: bin/run-linter --cd app -- npm run format:precommit
    language: node
    files: '^app/.*\.(js|ts)$'

  - id: terraform_fmt
    name: Terraform Fmt
    entry: terraform fmt
    language: system
    files: 'infra/.*\.tf$'

#  - id: checkov
#    name: Checkov
#    entry: checkov --quiet --output sarif --framework terraform -f
#    language: system
#    files: 'infra/.*\.tf$'

  - id: actionlint
    name: ActionLint
    entry: actionlint
    language: system
    files: '^.github/.*\.yml$'
    pass_filenames: false

Update app/app/services/aggregators/sdk/nsc_certificate_service.rb
  app/app/services/aggregators/sdk/nsc_certificate_service.rb
Due: rubocop

FFS-4858: Add employment-focused Tokenized API endpoint (#2112)
  app/app/controllers/api/v2/invitations_controller.rb
  app/app/models/activity_flow.rb
  app/app/models/activity_flow_invitation.rb
  app/app/models/cbv_applicant/la_ldh.rb
  app/app/models/cbv_flow_invitation.rb
  app/app/models/flow.rb
  app/app/services/cbv_invitation_service.rb
  app/config/client-agency-config.yml
  app/config/locales/en.yml
  app/config/routes.rb
  app/db/migrate/20260928153131_add_verification_range_to_cbv_flow_invitations.rb
  app/db/migrate/20260928165029_add_employment_focused_to_activity_flow_invitation.rb
  app/db/schema.rb
  app/spec/controllers/api/v2/invitation_metadata_spec.rb
  app/spec/controllers/api/v2/invitations_controller_spec.rb
  app/spec/models/activity_flow_invitation_spec.rb
  app/spec/models/activity_flow_spec.rb
  app/spec/services/cbv_invitation_service_spec.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.mmd
Due: rubocop, i18n-unused, i18n-normalize

remove changes to nava terraform
  app/app/jobs/record_batched_newrelic_metrics_job.rb
  app/app/services/aggregators/sdk/nsc_fdsh_service.rb
  app/app/services/aggregators/sdk/nsc_service.rb
  app/config/recurring.yml
  app/spec/jobs/nsc_certificate_check_job_spec.rb
  app/spec/services/aggregators/sdk/nsc_fdsh_service_spec.rb
  app/spec/services/aggregators/sdk/nsc_service_spec.rb
  docs/infra/background-jobs.md
  infra/app/app-config/env-config/scheduled_jobs.tf
  infra/app/service/main.tf
  infra/modules/monitoring/main.tf
  infra/modules/monitoring/variables.tf
  infra/modules/service/outputs.tf
Due: rubocop, terraform_fmt

update readme to keep testing flow up to date
  CONTRIBUTING.md
Due: none

fix nit
  CONTRIBUTING.md
Due: none

Update readme to keep testing flow up to date (#2128)
  CONTRIBUTING.md
Due: none

FFS-4770: Document CE reports as standalone OpenAPI models
  app/app/services/activity_report_serializer.rb
  app/lib/tasks/api_docs.rake
  app/spec/openapi/activity_report_schemas.rb
  app/spec/openapi/activity_report_schemas_spec.rb
  app/spec/services/activity_report_serializer_spec.rb
  app/spec/services/transmitters/activity_json_transmitter_spec.rb
  app/spec/swagger_helper.rb
  docs/api/README.md
  docs/api/ce-activity-report.md
  docs/api/overview.md
  docs/api/samples/ce-activity-report.json
  docs/api/samples/ce-employment-reports.json
  docs/api/schemas/ce-activity-report-2026-09-01.json
Due: rubocop

FFS-4770: Clarify activity hooks and reuse OpenAPI metadata
  app/app/services/activity_report_serializer.rb
  app/spec/openapi/activity_report_schemas.rb
  app/spec/openapi/activity_report_schemas_spec.rb
  app/spec/openapi/invitation_schemas.rb
  app/spec/openapi/invitation_schemas_spec.rb
  app/spec/swagger_helper.rb
  docs/api/README.md
Due: rubocop

FFS-4848: Update CE timeout page (#2124)
  app/app/controllers/pages_controller.rb
  app/app/views/pages/activity_flow_timeout.html.erb
  app/app/views/pages/home.html.erb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/spec/controllers/pages_controller_spec.rb
  app/spec/e2e/timeout_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Add entry page and related tests
  app/app/controllers/launcher_controller.rb
  app/app/views/activities/entries/_employment_focused.html.erb
  app/app/views/activities/entries/show.html.erb
  app/config/locales/en.yml
  app/spec/controllers/activities/entries_controller_spec.rb
  app/spec/e2e/employment_focused_entry_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Normalize translations
  app/config/locales/en.yml
Due: i18n-unused, i18n-normalize

Add test for advanced launcher
  app/spec/controllers/launcher_controller_advanced_spec.rb
Due: rubocop

Fix translation wording
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
Due: i18n-unused, i18n-normalize

Add education activities to ActivityJsonTransmitter
  app/.env.local.example
  app/app/services/activity_report_serializer.rb
  app/spec/services/activity_report_serializer_spec.rb
  app/spec/services/transmitters/activity_json_transmitter_education_spec.rb
  app/spec/services/transmitters/activity_json_transmitter_spec.rb
Due: rubocop

FFS-4770: Flatten parameterized employment report tests
  app/spec/models/activity_flow_spec.rb
  app/spec/services/aggregator_report_fetcher_spec.rb
  app/spec/services/transmitters/activity_json_transmitter_spec.rb
Due: rubocop

Add another job page
  app/app/assets/stylesheets/activity_summary_box.scss
  app/app/assets/stylesheets/application.postcss.css
  app/app/controllers/activities/employment/add_your_work_controller.rb
  app/app/controllers/activities/employment_controller.rb
  app/app/controllers/flow_controller.rb
  app/app/views/activities/employment/add_your_work/add_jobs.html.erb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/routes.rb
  app/spec/controllers/activities/employment/add_your_work_controller_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Adjust data_source & remove enrollment_hours
  app/app/services/activity_report_serializer.rb
  app/spec/services/activity_report_serializer_spec.rb
  app/spec/services/transmitters/activity_json_transmitter_education_spec.rb
Due: rubocop

Fix copilot suggestions
  app/app/controllers/activities/employment/add_your_work_controller.rb
  app/app/controllers/flow_controller.rb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
Due: rubocop, i18n-unused, i18n-normalize

Update after income path
  app/app/controllers/flow_controller.rb
  app/app/services/activity_flow_navigator.rb
Due: rubocop

FFS-4769: Add education activities to ActivityJsonTransmitter (#2131)
  app/.env.local.example
  app/app/services/activity_report_serializer.rb
  app/spec/services/activity_report_serializer_spec.rb
  app/spec/services/transmitters/activity_json_transmitter_education_spec.rb
  app/spec/services/transmitters/activity_json_transmitter_spec.rb
Due: rubocop

conditional copy changes to add_your_work and employer_search
  app/app/controllers/launcher_controller.rb
  app/app/views/activities/employment/add_your_work/show.html.erb
  app/app/views/activities/income/employer_searches/show.html.erb
  app/app/views/cbv/employer_searches/show.html.erb
  app/config/locales/en.yml
  app/spec/controllers/activities/employment/add_your_work_controller_spec.rb
  app/spec/controllers/activities/income/employer_searches_controller_spec.rb
  app/spec/controllers/launcher_controller_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

changes to employment focused payment details page
  app/app/components/report/employment_focused_payment_details_component.html.erb
  app/app/components/report/employment_focused_payment_details_component.rb
  app/app/views/activities/income/payment_details/show.html.erb
  app/config/locales/en.yml
  app/spec/components/report/employment_focused_payment_details_component_spec.rb
  app/spec/controllers/activities/income/payment_details_controller_spec.rb
  app/spec/e2e/activity_hub_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

self attestation flow copy updates
  app/app/views/activities/employment/_address_fields.html.erb
  app/app/views/activities/employment/_form.html.erb
  app/app/views/activities/employment/_paid_fields.html.erb
  app/app/views/activities/employment/_unpaid_fields.html.erb
  app/app/views/activities/employment/months/edit.html.erb
  app/config/locales/en.yml
  app/spec/controllers/activities/employment/months_controller_spec.rb
  app/spec/controllers/activities/employment_controller_spec.rb
  app/spec/e2e/activity_hub_employment_self_attestation_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

normalize
  app/config/locales/en.yml
Due: i18n-unused, i18n-normalize

make label wrapped fields detectable
  app/app/views/activities/employment/_address_fields.html.erb
  app/app/views/activities/employment/_form.html.erb
  app/app/views/activities/employment/_paid_fields.html.erb
  app/app/views/activities/employment/_unpaid_fields.html.erb
Due: erblint

FFS-4859 Add employment-focused entry page (#2129)
  app/app/controllers/launcher_controller.rb
  app/app/views/activities/entries/_employment_focused.html.erb
  app/app/views/activities/entries/show.html.erb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/spec/controllers/activities/entries_controller_spec.rb
  app/spec/controllers/launcher_controller_advanced_spec.rb
  app/spec/e2e/employment_focused_entry_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Fix failing tests
  app/app/controllers/api/argyle_controller.rb
  app/app/controllers/flow_controller.rb
  app/app/views/activities/employment/add_your_work/add_jobs.html.erb
  app/config/locales/en.yml
Due: rubocop, erblint, i18n-unused, i18n-normalize

Fix failing flow tests
  app/app/controllers/flow_controller.rb
  app/spec/controllers/activities/employment/add_your_work_controller_spec.rb
Due: rubocop

Fix flow navigator spec
  app/app/services/activity_flow_navigator.rb
Due: rubocop

Remove rtk
  docs/api/ce-activity-report.md
Due: none

FFS-4770: Align employment serialization with education
  app/app/services/activity_report_serializer.rb
Due: rubocop

FFS-4770: Add employment activities to ActivityJsonTransmitter (#2130)
  app/app/models/activity_flow.rb
  app/app/services/activity_report_serializer.rb
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/lib/tasks/api_docs.rake
  app/spec/e2e/activity_hub_employment_self_attestation_spec.rb
  app/spec/models/activity_flow_spec.rb
  app/spec/openapi/activity_report_schemas.rb
  app/spec/openapi/activity_report_schemas_spec.rb
  app/spec/openapi/invitation_schemas.rb
  app/spec/openapi/invitation_schemas_spec.rb
  app/spec/services/activity_report_serializer_spec.rb
  app/spec/services/aggregator_report_fetcher_spec.rb
  app/spec/services/transmitters/activity_json_transmitter_spec.rb
  app/spec/swagger_helper.rb
  docs/api/README.md
  docs/api/ce-activity-report.md
  docs/api/overview.md
Due: rubocop

restore legacy employer search
  app/app/controllers/concerns/gpg_encryptable.rb
  app/app/views/cbv/employer_searches/show.html.erb
  app/spec/controllers/cbv/employer_searches_controller_spec.rb
  app/spec/controllers/concerns/gpg_encryption_spec.rb
Due: rubocop, erblint

new documentation
  docs/release-process.md
Due: none

update e2e tests
  app/spec/e2e/activity_hub_employment_self_attestation_spec.rb
  app/spec/e2e/employment_focused_entry_spec.rb
  app/spec/e2e/employment_focused_payment_details_spec.rb
Due: rubocop

undici update
  app/package-lock.json
  app/package.json
Due: none

Add Rspec style preference to AGENTS.md
  AGENTS.md
Due: none

remove redundant boolean cast
  app/app/controllers/launcher_controller.rb
Due: rubocop

split out in kind work label
  app/app/views/activities/employment/add_your_work/show.html.erb
  app/config/locales/en.yml
  app/spec/e2e/employment_focused_entry_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

replace loop generated tests
  app/spec/controllers/activities/income/payment_details_controller_spec.rb
  app/spec/e2e/employment_focused_payment_details_spec.rb
Due: rubocop
