Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-normalize, i18n-missing, shellcheck, prettier

rubocop:
  name: rubocop
  entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
  language: ruby

erblint:
  name: erblint
  entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
  language: ruby

i18n-normalize:
  name: i18n-normalize
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
  language: ruby
  pass_filenames: false

i18n-missing:
  name: i18n-missing
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks missing
  language: ruby
  pass_filenames: false

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system

prettier:
  name: prettier
  entry: bin/run-linter --cd app -- npm run format:precommit
  language: node

Update test to accommodate 10th
  app/spec/components/report/monthly_summary_table_component_spec.rb
Due: rubocop

Update en.yml description_2
  app/config/locales/en.yml
Due: i18n-normalize, i18n-missing

Update es.yml same
  app/config/locales/es.yml
Due: i18n-normalize, i18n-missing

Update multi-earner copy for AZ
  app/app/views/cbv/submits/show.html.erb
  app/app/views/cbv/successes/show.html.erb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: erblint, i18n-normalize, i18n-missing

Update GH Actions to use authenticated docker
  .github/workflows/build-and-publish.yml
  .github/workflows/vulnerability-scans.yml
Due: none

FFS-2980: Inconsistent hours format in gig summary table (#739)
  app/app/components/report/monthly_summary_table_component.erb
  app/spec/components/report/monthly_summary_table_component_spec.rb
Due: rubocop, erblint

applied fix for missing paystubs and/or gigs in monthly summary table
  app/app/components/report/monthly_summary_table_component.erb
  app/app/components/report/monthly_summary_table_component.rb
  app/app/components/table_cell_component.rb
  app/lib/tasks/argyle_sandbox_data.rake
  app/spec/components/report/monthly_summary_table_component_spec.rb
  app/spec/support/fixtures/argyle/empty/request_gigs.json
  app/spec/support/fixtures/argyle/empty/request_paystubs.json
  app/spec/support/fixtures/argyle/john_loanseeker_gig/request_accounts.json
  app/spec/support/fixtures/argyle/john_loanseeker_gig/request_employment.json
  app/spec/support/fixtures/argyle/john_loanseeker_gig/request_gigs.json
  app/spec/support/fixtures/argyle/john_loanseeker_gig/request_identity.json
  app/spec/support/fixtures/argyle/john_loanseeker_gig/request_paystubs.json
  app/spec/support/fixtures/argyle/john_loanseeker_gig/request_user.json
Due: rubocop, erblint

refactored monthly summary table to improve formatting of total hours and no payments content
  app/app/components/report/monthly_summary_table_component.erb
  app/app/components/report/monthly_summary_table_component.rb
  app/spec/components/report/monthly_summary_table_component_spec.rb
Due: rubocop, erblint

FFS-2984: Remove label-less date on income report for AZ
  app/app/views/cbv/submits/show.pdf.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/spec/controllers/cbv/submits_controller_spec.rb
Due: rubocop, erblint, i18n-normalize, i18n-missing

refactored monthly summary compact table to account for missing paystubs
  app/app/components/report/monthly_summary_compact_component.erb
  app/app/components/report/monthly_summary_compact_component.rb
  app/spec/components/report/monthly_summary_compact_component_spec.rb
Due: rubocop, erblint

implement distance_miles for argyle
  app/app/services/aggregators/format_methods/argyle.rb
  app/app/services/aggregators/response_objects/gig.rb
  app/spec/services/aggregators/aggregator_reports/argyle_report_spec.rb
  app/spec/services/aggregators/format_methods/argyle_spec.rb
  app/spec/services/aggregators/response_objects/gig_spec.rb
Due: rubocop

correcting logic error in @has_monthly_summary_data. It was the opposite of its meaning.
  app/app/components/report/monthly_summary_compact_component.rb
  app/app/components/report/monthly_summary_table_component.erb
  app/app/components/report/monthly_summary_table_component.rb
Due: rubocop, erblint

FFS-2985: Missing paystubs or gigs for Monthly Summary Table (#746)
  app/app/components/report/monthly_summary_compact_component.erb
  app/app/components/report/monthly_summary_compact_component.rb
  app/app/components/report/monthly_summary_table_component.erb
  app/app/components/report/monthly_summary_table_component.rb
  app/app/components/table_cell_component.rb
  app/lib/tasks/argyle_sandbox_data.rake
  app/spec/components/report/monthly_summary_compact_component_spec.rb
  app/spec/components/report/monthly_summary_table_component_spec.rb
  app/spec/support/fixtures/argyle/empty/request_gigs.json
  app/spec/support/fixtures/argyle/empty/request_paystubs.json
  app/spec/support/fixtures/argyle/john_loanseeker_gig/request_accounts.json
  app/spec/support/fixtures/argyle/john_loanseeker_gig/request_employment.json
  app/spec/support/fixtures/argyle/john_loanseeker_gig/request_gigs.json
  app/spec/support/fixtures/argyle/john_loanseeker_gig/request_identity.json
  app/spec/support/fixtures/argyle/john_loanseeker_gig/request_paystubs.json
  app/spec/support/fixtures/argyle/john_loanseeker_gig/request_user.json
Due: rubocop, erblint

change everything to mileage instead of distance_miles
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/app/helpers/report_view_helper.rb
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/app/services/aggregators/format_methods/argyle.rb
  app/app/services/aggregators/response_objects/gig.rb
  app/spec/controllers/webhooks/argyle/events_controller_spec.rb
  app/spec/helpers/report_view_helper_spec.rb
  app/spec/services/aggregators/aggregator_reports/argyle_report_spec.rb
  app/spec/services/aggregators/aggregator_reports/pinwheel_report_spec.rb
  app/spec/services/aggregators/format_methods/argyle_spec.rb
  app/spec/services/aggregators/response_objects/gig_spec.rb
Due: rubocop

FFS-2982: Improve /synchronization indicators styling on mobile
  app/app/assets/stylesheets/cbv.scss
  app/app/views/cbv/synchronizations/_indicator.html.erb
  app/app/views/cbv/synchronizations/_indicators.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: erblint, i18n-normalize, i18n-missing

Update GH Actions to use authenticated docker (#743)
  .github/workflows/build-and-publish.yml
  .github/workflows/vulnerability-scans.yml
Due: none

Use `short` date format in monthly summary table (#737)
  app/app/helpers/cbv/monthly_summary_helper.rb
  app/config/locales/en.yml
  app/spec/helpers/cbv/monthly_summary_helper_spec.rb
  app/spec/services/aggregators/aggregator_reports/argyle_report_spec.rb
  app/spec/services/aggregators/aggregator_reports/pinwheel_report_spec.rb
Due: rubocop, i18n-normalize, i18n-missing

FFS-2989: Landing page references inactive IL pilot (#741)
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: i18n-normalize, i18n-missing

Fix build by allowing workflows to inherit secrets
  .github/workflows/ci-app-vulnerability-scans.yml
  .github/workflows/database-migrations.yml
  .github/workflows/pr-environment-checks.yml
Due: none

Fix build by allowing workflows to inherit secrets (#748)
  .github/workflows/ci-app-vulnerability-scans.yml
  .github/workflows/database-migrations.yml
  .github/workflows/pr-environment-checks.yml
Due: none

Change to case statement, and test for raise
  app/app/mailers/weekly_report_mailer.rb
  app/spec/mailers/weekly_report_mailer_spec.rb
Due: rubocop

Add weekly report terraform config
  infra/app/app-config/env-config/environment-variables.tf
Due: none

FFS-2665: Send the "weekly report" to AZ stakeholders (#738)
  app/.env
  app/app/mailers/weekly_report_mailer.rb
  app/config/client-agency-config.yml
  app/lib/tasks/weekly_reports.rake
  app/spec/mailers/previews/weekly_report_mailer_preview.rb
  app/spec/mailers/weekly_report_mailer_spec.rb
  infra/app/app-config/env-config/environment-variables.tf
Due: rubocop

Update indicator layout to be vertical
  app/app/assets/stylesheets/cbv.scss
  app/app/views/cbv/synchronizations/_indicator.html.erb
  app/app/views/cbv/synchronizations/_indicators.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: erblint, i18n-normalize, i18n-missing

deprecating multi-domain configuration in favor of a single {agency_id}_DOMAIN_NAME env var
  app/app/controllers/application_controller.rb
  app/app/models/cbv_flow.rb
  app/app/models/cbv_flow_invitation.rb
  app/config/application.rb
  app/config/client-agency-config.yml
  app/lib/client_agency_config.rb
  app/spec/controllers/application_controller_spec.rb
  app/spec/controllers/cbv/successes_controller_spec.rb
  app/spec/controllers/pages_controller_spec.rb
  app/spec/models/cbv_flow_spec.rb
Due: rubocop

updated terraform env variables
  app/config/client-agency-config.yml
Due: none

actually commiting the tf env var updates
  infra/app/app-config/env-config/environment-variables.tf
Due: none

using client_agency.agency_domain inline to pass to url helpers for cbv_flow and cbv_flow_invitation
  app/app/models/cbv_flow.rb
  app/app/models/cbv_flow_invitation.rb
Due: rubocop

shorten monthly summary titles to fit for iPhone SE. allow for show_payments? and show_footnote? to be configurable.
  app/app/components/report/monthly_summary_table_component.erb
  app/app/components/report/monthly_summary_table_component.rb
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: rubocop, erblint, i18n-normalize, i18n-missing

fix: upgrade sass from 1.87.0 to 1.89.0 (#735)
  app/package-lock.json
  app/package.json
Due: none

FFS-2990: Update multi-earner copy for AZ (#740)
  app/app/views/cbv/submits/show.html.erb
  app/app/views/cbv/successes/show.html.erb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: erblint, i18n-normalize, i18n-missing

FFS-2982 Improve /synchronization indicators styling on mobile (#742)
  app/app/assets/stylesheets/cbv.scss
  app/app/views/cbv/synchronizations/_indicator.html.erb
  app/app/views/cbv/synchronizations/_indicators.html.erb
Due: erblint

FFS-2984: Remove label-less date on income report for AZ (#745)
  app/app/views/cbv/submits/show.pdf.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/spec/controllers/cbv/submits_controller_spec.rb
Due: rubocop, erblint, i18n-normalize, i18n-missing

Fix `deploy` GH Action by inheriting secrets too
  .github/workflows/cd-app.yml
  .github/workflows/deploy.yml
Due: none

Fix `deploy` GH Action by inheriting secrets too (#750)
  .github/workflows/cd-app.yml
  .github/workflows/deploy.yml
Due: none

implemented final Spanish translations, added _html to two strings
  app/app/views/cbv/successes/show.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: erblint, i18n-normalize, i18n-missing

removed outdated exceptions
  app/config/i18n-tasks.yml
Due: none

Path conditions:
  rubocop: any of: ^app/.*\.rb$
  erblint: any of: ^app/.*\.erb$
  i18n-normalize: any of: ^app/config/locales/.*\.yml$
  i18n-missing: any of: ^app/config/locales/.*\.yml$
  shellcheck: any of: ^bin/.*$
  prettier: any of: ^app/.*\.(js|ts)$
