Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-unused, i18n-normalize, shellcheck, prettier, terraform_fmt, actionlint

rubocop:
  name: rubocop
  entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
  language: system

erblint:
  name: erblint
  entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
  language: system

i18n-unused:
  name: i18n-unused
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks unused
  language: system
  pass_filenames: false

i18n-normalize:
  name: i18n-normalize
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
  language: system
  pass_filenames: false

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system

prettier:
  name: prettier
  entry: bin/run-linter --cd app -- npm run format:precommit
  language: node

terraform_fmt:
  name: Terraform Fmt
  entry: terraform fmt
  language: system

actionlint:
  name: ActionLint
  entry: actionlint
  language: system
  pass_filenames: false

Fix flaky test in submits controller spec (#994)
  app/spec/controllers/cbv/submits_controller_spec.rb
  app/spec/support/fixtures/argyle/kim/request_identity.json
  app/spec/support/fixtures/argyle/tim/request_gigs.json
  app/spec/support/fixtures/argyle/tim/request_identity.json
Due: rubocop

reset report_fields to default to keep case number from displaying.
  app/app/services/client_agency/pa_dhs/report_fields.rb
Due: rubocop

fixed issue with sandbox agency name missing in json report
  app/app/services/transmitters/json_transmitter.rb
Due: rubocop

FFS-3394: send base64 encoded report in JSON (#969)
  app/app/services/transmitters/json_transmitter.rb
  app/config/client-agency-config.yml
Due: rubocop

small changes
  app/app/services/data_retention_service.rb
  app/spec/controllers/pages_controller_spec.rb
Due: rubocop

FFS-3419: Allow all Tokenized Links to be reused, including in LA
  app/app/controllers/cbv/base_controller.rb
  app/config/client-agency-config.yml
  app/lib/client_agency_config.rb
  app/spec/controllers/cbv/entries_controller_spec.rb
Due: rubocop

Update json_transmitter.rb
  app/app/services/transmitters/json_transmitter.rb
Due: rubocop

Add custom headers + revamp and fix issues with api key
  README.md
  app/app/models/user.rb
  app/app/services/transmitters/json_transmitter.rb
  app/db/seeds.rb
  app/lib/json_api_receiver.rb
  app/spec/services/transmitters/json_transmitter_spec.rb
Due: rubocop

remove ian, add jake
  .github/reviewer-lottery.yml
Due: actionlint

spec updates
  app/config/application.rb
  app/spec/lib/client_agency_config_spec.rb
  app/spec/lib/client_agency_spec.rb
Due: rubocop

Update review lottery - remove ian, add jake (#996)
  .github/reviewer-lottery.yml
Due: actionlint

use do-end
  app/spec/services/transmitters/json_transmitter_spec.rb
Due: rubocop

move staging.tf -> demo.tf
  infra/app/app-config/demo.tf
  infra/app/app-config/main.tf
  infra/app/app-config/staging.tf
Due: terraform_fmt

FFS-3400: Add ability to configure additional headers for JsonTransmitter (#997)
  README.md
  app/app/models/user.rb
  app/app/services/transmitters/json_transmitter.rb
  app/db/seeds.rb
  app/lib/json_api_receiver.rb
  app/spec/services/transmitters/json_transmitter_spec.rb
Due: rubocop

Set up `demo` network
  infra/README.md
  infra/app/app-config/main.tf
  infra/networks/demo.s3.tfbackend
  infra/project-config/networks.tf
Due: terraform_fmt

Rubocop fixes
  app/app/services/transmitters/json_transmitter.rb
Due: rubocop

FFS-3378: Add `income_report` to JSON transmitter payload (#992)
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/app/services/transmitters/json_transmitter.rb
  app/spec/factories/aggregator_report.rb
  app/spec/services/aggregators/aggregator_reports/aggregator_report_spec.rb
  app/spec/services/transmitters/json_transmitter_spec.rb
Due: rubocop

FFS-3384: Add configuration for LA LDH Income Report API
  app/.env
  app/config/client-agency-config.yml
  infra/app/app-config/env-config/environment-variables.tf
Due: terraform_fmt

FFS-3384: Add configuration for LA LDH Income Report API (#998)
  app/.env
  app/config/client-agency-config.yml
  infra/app/app-config/env-config/environment-variables.tf
Due: terraform_fmt

fixing rspec
  app/app/models/cbv_applicant/pa_dhs.rb
  app/app/services/data_retention_service.rb
  app/app/services/transmitters/sftp_transmitter.rb
  app/config/application.rb
  app/spec/controllers/cbv/successes_controller_spec.rb
  app/spec/jobs/case_worker_transmitter_job_spec.rb
Due: rubocop

signature uses body, cannot be created before body!
  app/app/services/transmitters/json_transmitter.rb
Due: rubocop

receiver rails agnostic, because that's how it always should have been
  README.md
  app/bin/api-test
  app/lib/json_api_receiver.rb
Due: rubocop

Fix test
  app/spec/services/transmitters/json_transmitter_spec.rb
Due: rubocop

update pa metadata
  app/app/controllers/api/invitations_controller.rb
  app/app/models/cbv_applicant/pa_dhs.rb
Due: rubocop

remove invalid tests
  app/spec/components/report/payments_deductions_monthly_summary_component_spec.rb
Due: rubocop

update rspec
  app/spec/controllers/api/invitations_controller_spec.rb
Due: rubocop

Create database backend for demo
  infra/app/database/demo.s3.tfbackend
Due: none

Create service backend for demo
  infra/app/service/demo.s3.tfbackend
Due: none

FFS-N/A: Fix transmitter signature generation and make API receiver Rails agnostic (#999)
  README.md
  app/app/services/transmitters/json_transmitter.rb
  app/bin/api-test
  app/lib/json_api_receiver.rb
  app/spec/services/transmitters/json_transmitter_spec.rb
Due: rubocop

Log response body when Income Report API receives an error
  app/app/services/transmitters/json_transmitter.rb
  app/spec/fixtures/vcr_cassettes/json_transmitter_418.yml
  app/spec/services/transmitters/json_transmitter_spec.rb
Due: rubocop

Namespace additional resources
  infra/app/service/newrelic.tf
  infra/modules/email/main.tf
Due: terraform_fmt

Fix CVE-2025-9230 by upgrading openssl
  app/Dockerfile
Due: none

checkbox updates
  app/app/assets/stylesheets/cbv.scss
  app/app/views/cbv/entries/show.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: erblint, i18n-unused, i18n-normalize

checkbox updates
  app/app/views/cbv/entries/show.html.erb
Due: erblint

new h2
  app/app/views/cbv/entries/show.html.erb
  app/config/locales/en.yml
Due: erblint, i18n-unused, i18n-normalize

Fix CVE-2025-9230 by upgrading openssl (#1001)
  app/Dockerfile
Due: none

accordion additions
  app/app/assets/stylesheets/cbv.scss
  app/app/components/accordion_component.html.erb
  app/app/views/cbv/entries/show.html.erb
  app/config/locales/en.yml
Due: erblint, i18n-unused, i18n-normalize

Log response body when Income Report API receives an error (#1000)
  app/app/services/transmitters/json_transmitter.rb
  app/spec/fixtures/vcr_cassettes/json_transmitter_418.yml
  app/spec/services/transmitters/json_transmitter_spec.rb
Due: rubocop

Fix bin/run-command not actually running in intended environment
  bin/run-command
Due: shellcheck

Path conditions:
  rubocop: any of: ^app/.*\.rb$
  erblint: any of: ^app/.*\.erb$
  i18n-unused: any of: ^app/config/locales/.*\.yml$
  i18n-normalize: any of: ^app/config/locales/.*\.yml$
  shellcheck: any of: ^bin/.*$
  prettier: any of: ^app/.*\.(js|ts)$
  terraform_fmt: any of: infra/.*\.tf$
  actionlint: any of: ^.github/.*\.yml$
