Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-normalize, i18n-missing, shellcheck, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml

- repo: local
  hooks:
  - id: rubocop
    name: rubocop
    entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
    language: ruby
    files: '^app/.*\.rb$'

  - id: erblint
    name: erblint
    entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
    language: ruby
    files: '^app/.*\.erb$'

  - id: i18n-normalize
    name: i18n-normalize
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
    language: ruby
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: i18n-missing
    name: i18n-missing
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks missing
    language: ruby
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system        # installed via `brew bundle`
    files: '^bin/.*$'

  - id: prettier
    name: prettier
    entry: bin/run-linter --cd app -- npm run format:precommit
    language: node
    files: '^app/.*\.(js|ts)$'

updated headers again
  app/app/views/cbv/summaries/show.html.erb
Due: erblint

Update h4 => h3
  app/app/components/accordion_component.rb
  app/app/components/report/gig_monthly_summary_table_component.erb
  app/app/components/report/w2_monthly_summary_table_component.erb
Due: rubocop, erblint

add p element around additional comments to fix padding
  app/app/views/cbv/summaries/show.html.erb
Due: erblint

tf format
  infra/app/app-config/dev.tf
  infra/project-config/networks.tf
Due: none

update certificates for *.demo.divt.app subdomains.
  infra/app/app-config/dev.tf
  infra/project-config/networks.tf
Due: none

maintain current load.
  infra/app/app-config/prod.tf
Due: none

explore options in making it so that the pinwheel search works better
  app/app/services/provider_search_service.rb
  app/spec/services/provider_search_service_spec.rb
Due: rubocop

fix shared_network_name = "prod"
  infra/app/app-config/main.tf
Due: none

remove print lol
  app/app/services/provider_search_service.rb
Due: rubocop

fix: upgrade webpack from 5.99.9 to 5.101.0
  app/package-lock.json
  app/package.json
Due: none

FFS-3203: adding w2 monthly summary to /summary page (#906)
  app/app/components/report/w2_monthly_summary_table_component.rb
  app/app/views/cbv/summaries/show.html.erb
  app/spec/controllers/cbv/summaries_controller_spec.rb
  app/spec/e2e/cbv_flow_spec.rb
Due: rubocop, erblint

Upgrade webpack from 5.99.9 to 5.101.0 (#919)
  app/package-lock.json
  app/package.json
Due: none

added better tests
  app/app/views/cbv/submits/show.pdf.erb
  app/spec/controllers/cbv/submits_controller_spec.rb
  app/spec/support/fixtures/argyle/kim/request_account.json
  app/spec/support/fixtures/argyle/kim/request_accounts.json
  app/spec/support/fixtures/argyle/kim/request_employment.json
  app/spec/support/fixtures/argyle/kim/request_gigs.json
  app/spec/support/fixtures/argyle/kim/request_identity.json
  app/spec/support/fixtures/argyle/kim/request_paystubs.json
  app/spec/support/fixtures/argyle/kim/request_user.json
  app/spec/support/fixtures/argyle/tim/request_account.json
  app/spec/support/fixtures/argyle/tim/request_accounts.json
  app/spec/support/fixtures/argyle/tim/request_employer_search.json
  app/spec/support/fixtures/argyle/tim/request_employment.json
  app/spec/support/fixtures/argyle/tim/request_gigs.json
  app/spec/support/fixtures/argyle/tim/request_gigs_page_2.json
  app/spec/support/fixtures/argyle/tim/request_identity.json
  app/spec/support/fixtures/argyle/tim/request_paystubs.json
  app/spec/support/fixtures/argyle/tim/request_user.json
Due: rubocop, erblint

add more spacing above payments section
  app/app/components/report/gig_monthly_summary_table_component.erb
Due: erblint

bump payments for gigs to h3
  app/app/components/report/gig_monthly_summary_table_component.erb
Due: erblint

Separate concerns, params and display
  app/app/controllers/cbv/applicant_informations_controller.rb
  app/app/models/cbv_applicant.rb
  app/app/views/cbv/summaries/show.html.erb
Due: rubocop, erblint

Fix test
  app/spec/controllers/cbv/applicant_informations_controller_spec.rb
Due: rubocop

Filter `member_name` and `employer_name` from logs
  app/config/initializers/filter_parameter_logging.rb
Due: rubocop

Remove Pat from reviewer lottery
  .github/reviewer-lottery.yml
  CODEOWNERS.md
Due: none

Remove Pat from reviewer lottery (#922)
  .github/reviewer-lottery.yml
  CODEOWNERS.md
Due: none

remove now unused strings
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: i18n-normalize, i18n-missing

Filter `member_name` and `employer_name` from logs (#921)
  app/config/initializers/filter_parameter_logging.rb
Due: rubocop

run PR pushes on branch, not main
  .github/workflows/i18n-health.yml
Due: none

test changes to verify github action is working
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: i18n-normalize, i18n-missing

remove test changes to verify github action is working
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: i18n-normalize, i18n-missing

test changes to verify github action is working
  app/config/locales/es.yml
Due: i18n-normalize, i18n-missing

FFS-3214: add w2 monthly summary to pdfs (#910)
  app/app/components/report/gig_monthly_summary_table_component.erb
  app/app/views/cbv/submits/show.pdf.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/spec/controllers/cbv/submits_controller_spec.rb
  app/spec/services/pdf_service_spec.rb
  app/spec/support/fixtures/argyle/kim/request_account.json
  app/spec/support/fixtures/argyle/kim/request_accounts.json
  app/spec/support/fixtures/argyle/kim/request_employment.json
  app/spec/support/fixtures/argyle/kim/request_gigs.json
  app/spec/support/fixtures/argyle/kim/request_identity.json
  app/spec/support/fixtures/argyle/kim/request_paystubs.json
  app/spec/support/fixtures/argyle/kim/request_user.json
  app/spec/support/fixtures/argyle/tim/request_account.json
  app/spec/support/fixtures/argyle/tim/request_accounts.json
  app/spec/support/fixtures/argyle/tim/request_employer_search.json
  app/spec/support/fixtures/argyle/tim/request_employment.json
  app/spec/support/fixtures/argyle/tim/request_gigs.json
  app/spec/support/fixtures/argyle/tim/request_gigs_page_2.json
  app/spec/support/fixtures/argyle/tim/request_identity.json
  app/spec/support/fixtures/argyle/tim/request_paystubs.json
  app/spec/support/fixtures/argyle/tim/request_user.json
Due: rubocop, erblint, i18n-normalize, i18n-missing

remove now unused strings (#923)
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: i18n-normalize, i18n-missing

update paths
  .github/workflows/i18n-health.yml
Due: none

remove test changes
  app/config/locales/es.yml
Due: i18n-normalize, i18n-missing

No ticket: Run i18n-health on PR pushes on branch, not main (#924)
  .github/workflows/i18n-health.yml
Due: none

Move more methods into private
  app/app/controllers/cbv/applicant_informations_controller.rb
Due: rubocop

Add test
  app/spec/models/cbv_applicant_spec.rb
Due: rubocop

update comment on NR config file (#21)
  app/config/newrelic.yml
Due: none

FFS-3287: Remove "Prompt" row from applicant info table on /summary (#920)
  app/app/controllers/cbv/applicant_informations_controller.rb
  app/app/models/cbv_applicant.rb
  app/app/views/cbv/summaries/show.html.erb
  app/spec/controllers/cbv/applicant_informations_controller_spec.rb
  app/spec/models/cbv_applicant_spec.rb
Due: rubocop, erblint

ai generated suggestions for tf file changes to reduce vpc cost in dev
  infra/modules/network/main.tf
  infra/modules/network/vpc-endpoints.tf
  infra/networks/main.tf
  infra/networks/variables.tf
  infra/project-config/networks.tf
Due: none

fix: upgrade sass from 1.89.2 to 1.90.0
  app/package-lock.json
  app/package.json
Due: none

Add shared origin param to link on success page
  app/app/controllers/cbv/successes_controller.rb
  app/app/models/cbv_flow.rb
  app/app/models/cbv_flow_invitation.rb
Due: rubocop

Add Spanish translations, remove unused
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: i18n-normalize, i18n-missing
