Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-unused, i18n-normalize, shellcheck, prettier, terraform_fmt, actionlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml

- repo: local
  hooks:
  - id: rubocop
    name: rubocop
    entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
    language: system
    files: '^app/.*\.rb$'

  # this rubocop hook works on windows/wsl, and is being left here as of 8/27/2025 to figure it out at some point
  #- id: rubocop
  #  name: rubocop
  #  language: system
  #  entry: bash -lc 'BUNDLE_GEMFILE=app/Gemfile cd app && bundle exec rubocop -a --force-exclusion'
  #  types: [ ruby ]
  #  files: '^app/.*\.rb$'
  #  pass_filenames: false

  - id: erblint
    name: erblint
    entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
    language: system
    files: '^app/.*\.erb$'

  - id: i18n-unused
    name: i18n-unused
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks unused
    language: system
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: i18n-normalize
    name: i18n-normalize
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
    language: system
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system        # installed via `brew bundle`
    files: '^bin/.*$'

  - id: prettier
    name: prettier
    entry: bin/run-linter --cd app -- npm run format:precommit
    language: node
    files: '^app/.*\.(js|ts)$'

  - id: terraform_fmt
    name: Terraform Fmt
    entry: terraform fmt
    language: system
    files: 'infra/.*\.tf$'

#  - id: checkov
#    name: Checkov
#    entry: checkov --quiet --output sarif --framework terraform -f
#    language: system
#    files: 'infra/.*\.tf$'

  - id: actionlint
    name: ActionLint
    entry: actionlint
    language: system
    files: '^.github/.*\.yml$'
    pass_filenames: false

Fix issue where suggested documents was rendered as plain text
  app/app/models/concerns/document_uploadable.rb
  app/app/models/education_activity.rb
  app/app/models/job_training_activity.rb
  app/app/models/volunteering_activity.rb
  app/app/views/activities/document_uploads/new.html.erb
  app/spec/controllers/activities/document_uploads_controller_spec.rb
  app/spec/models/education_activity_spec.rb
  app/spec/models/job_training_activity_spec.rb
Due: rubocop, erblint

fix for orphaned unredacted payroll_accounts
  app/app/models/payroll_account/argyle.rb
Due: rubocop

FFS-3818: Education self-attestation: update activity card in Activity Hub (#1463)
  app/app/controllers/activities/activities_controller.rb
  app/app/helpers/activities_helper.rb
  app/app/views/activities/activities/index.html.erb
  app/spec/controllers/activities/activities_controller_spec.rb
  app/spec/helpers/activities_helper_spec.rb
Due: rubocop, erblint

FFS-3893: fix for orphaned unredacted payroll_accounts (#1465)
  app/app/models/payroll_account/argyle.rb
Due: rubocop

FFS-3839: Part 1: implement header on work programs flow (#1450)
  app/app/controllers/activities/document_uploads_controller.rb
  app/app/controllers/activities/job_training/months_controller.rb
  app/app/controllers/activities/job_training_controller.rb
  app/app/views/activities/document_uploads/new.html.erb
  app/app/views/activities/job_training/edit.html.erb
  app/app/views/activities/job_training/months/edit.html.erb
  app/app/views/activities/job_training/new.html.erb
  app/app/views/activities/job_training/review.html.erb
  app/spec/controllers/activities/job_training/months_controller_spec.rb
Due: rubocop, erblint

FFS-3833: Education self-attestation: routing and calculation (#1464)
  app/app/controllers/activities/education_controller.rb
  app/app/models/concerns/document_uploadable.rb
  app/app/models/education_activity.rb
  app/app/models/job_training_activity.rb
  app/app/models/volunteering_activity.rb
  app/app/views/activities/document_uploads/new.html.erb
  app/spec/controllers/activities/document_uploads_controller_spec.rb
  app/spec/models/education_activity_spec.rb
  app/spec/models/job_training_activity_spec.rb
  app/spec/services/activity_flow_progress_calculator_spec.rb
Due: rubocop, erblint

Review+submit with testing
  app/app/controllers/activities/education_controller.rb
  app/app/controllers/activities/summary_controller.rb
  app/app/helpers/activities_helper.rb
  app/app/models/activity_flow.rb
  app/app/models/education_activity.rb
  app/app/views/activities/education/new.html.erb
  app/app/views/activities/education/review.html.erb
  app/app/views/activities/summary/_education_table.html.erb
  app/app/views/activities/summary/show.html.erb
  app/config/locales/en.yml
  app/spec/controllers/activities/activities_controller_spec.rb
  app/spec/controllers/activities/education_controller_spec.rb
  app/spec/controllers/activities/summary_controller_spec.rb
  app/spec/e2e/activity_hub_education_self_attestation_spec.rb
  app/spec/helpers/activities_helper_spec.rb
  app/spec/models/education_activity_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Fix weird titlecasing + testing
  app/app/helpers/activities_helper.rb
  app/spec/e2e/activity_hub_education_self_attestation_spec.rb
  app/spec/helpers/activities_helper_spec.rb
Due: rubocop

Fix typo
  app/app/controllers/cbv/submits_controller.rb
Due: rubocop

removed complication, but now not sure we even need this branch
  app/app/javascript/controllers/activity_flow_header_controller.js
  app/spec/e2e/activity_flow_back_exit_navigation_spec.rb
Due: rubocop, prettier

Update edit view and logic
  app/app/controllers/activities/education_controller.rb
  app/app/views/activities/education/_form.html.erb
  app/app/views/activities/education/edit_self_attested.html.erb
  app/app/views/activities/education/new.html.erb
  app/config/locales/en.yml
  app/spec/controllers/activities/education_controller_spec.rb
  app/spec/e2e/activity_hub_education_self_attestation_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Fix leak from session timeout page too
  app/app/controllers/cbv/sessions_controller.rb
  app/spec/controllers/cbv/sessions_controller_spec.rb
Due: rubocop

Fix timeout check so it looks for "cbv" properly
  app/app/controllers/cbv/sessions_controller.rb
Due: rubocop

Remove common questions in activity flow
  app/app/views/cbv/employer_searches/show.html.erb
  app/spec/controllers/cbv/employer_searches_controller_spec.rb
Due: rubocop, erblint

rough draft
  app/app/controllers/activities/document_uploads_controller.rb
  app/app/controllers/activities/education/months_controller.rb
  app/app/controllers/activities/education_controller.rb
  app/app/views/activities/document_uploads/new.html.erb
  app/app/views/activities/education/edit.html.erb
  app/app/views/activities/education/error.html.erb
  app/app/views/activities/education/months/edit.html.erb
  app/app/views/activities/education/new.html.erb
  app/app/views/activities/education/review.html.erb
  app/app/views/activities/education/show.html.erb
  app/app/views/activities/education/verify.html.erb
  app/spec/controllers/activities/education/months_controller_spec.rb
Due: rubocop, erblint

FFS-3819: Education self-attestation: update activity table on Review/Submit (#1466)
  app/app/controllers/activities/education_controller.rb
  app/app/controllers/activities/summary_controller.rb
  app/app/helpers/activities_helper.rb
  app/app/models/activity_flow.rb
  app/app/models/education_activity.rb
  app/app/views/activities/education/_form.html.erb
  app/app/views/activities/education/edit_self_attested.html.erb
  app/app/views/activities/education/new.html.erb
  app/app/views/activities/education/review.html.erb
  app/app/views/activities/summary/_education_table.html.erb
  app/app/views/activities/summary/show.html.erb
  app/config/locales/en.yml
  app/spec/controllers/activities/activities_controller_spec.rb
  app/spec/controllers/activities/education_controller_spec.rb
  app/spec/controllers/activities/summary_controller_spec.rb
  app/spec/e2e/activity_hub_education_self_attestation_spec.rb
  app/spec/helpers/activities_helper_spec.rb
  app/spec/models/education_activity_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

removed unused key
  app/config/locales/en.yml
Due: i18n-unused, i18n-normalize

rough draft
  app/app/controllers/activities/employment/months_controller.rb
  app/app/controllers/activities/employment_controller.rb
  app/app/views/activities/employment/_form.html.erb
  app/app/views/activities/employment/edit.html.erb
  app/app/views/activities/employment/months/edit.html.erb
  app/app/views/activities/employment/new.html.erb
  app/app/views/activities/employment/review.html.erb
  app/spec/controllers/activities/employment_controller_spec.rb
Due: rubocop, erblint

FFS-3753: Remove "common questions" help accordions (#1467)
  app/app/views/cbv/employer_searches/show.html.erb
  app/spec/controllers/cbv/employer_searches_controller_spec.rb
Due: rubocop, erblint

Fix local rspec failures caused by VCR leak
  app/spec/components/report/w2_monthly_summary_table_component_spec.rb
  app/spec/services/transmitters/json_and_pdf_transmitter_spec.rb
Due: rubocop

FFS-3749: Fix three leaky Activity -> CBV flow links (#1454)
  app/app/controllers/api/argyle_controller.rb
  app/app/controllers/cbv/base_controller.rb
  app/app/controllers/cbv/sessions_controller.rb
  app/app/controllers/cbv/submits_controller.rb
  app/app/controllers/cbv/summaries_controller.rb
  app/app/controllers/cbv/synchronization_failures_controller.rb
  app/app/controllers/cbv/synchronizations_controller.rb
  app/app/services/activity_flow_navigator.rb
  app/app/services/cbv_flow_navigator.rb
  app/app/views/cbv/synchronization_failures/show.html.erb
  app/spec/controllers/api/argyle_controller_spec.rb
  app/spec/controllers/cbv/sessions_controller_spec.rb
  app/spec/controllers/cbv/synchronization_failures_controller_spec.rb
Due: rubocop, erblint

logic refactoring for edit and review flows
  app/app/controllers/activities/employment/months_controller.rb
  app/app/controllers/activities/employment_controller.rb
  app/app/helpers/activities_helper.rb
  app/app/views/activities/employment/edit.html.erb
  app/spec/controllers/activities/employment_controller_spec.rb
  app/spec/e2e/activity_hub_employment_self_attestation_spec.rb
Due: rubocop, erblint

clarifying comment
  app/app/controllers/activities/employment_controller.rb
Due: rubocop

fixed rspec test
  app/spec/helpers/activities_helper_spec.rb
Due: rubocop

added extensive E2E test for the back button in self-attested employment flows
  app/spec/e2e/activity_hub_employment_navigation_spec.rb
Due: rubocop

Fix E2E tests
  app/app/controllers/activities/document_uploads_controller.rb
  app/app/views/activities/document_uploads/new.html.erb
  app/spec/controllers/activities/document_uploads_controller_spec.rb
Due: rubocop, erblint

some refactoring of the from_edit and from_review logic
  app/app/controllers/activities/education_controller.rb
  app/app/helpers/activities_helper.rb
  app/app/views/activities/education/_form.html.erb
  app/app/views/activities/education/edit_self_attested.html.erb
  app/app/views/activities/education/review.html.erb
  app/spec/controllers/activities/education_controller_spec.rb
  app/spec/helpers/activities_helper_spec.rb
Due: rubocop, erblint

added rspec and E2E tests
  app/spec/controllers/activities/education/months_controller_spec.rb
  app/spec/controllers/activities/education_controller_spec.rb
  app/spec/e2e/activity_hub_education_navigation_spec.rb
Due: rubocop

Update activity card
  app/app/helpers/activities_helper.rb
  app/app/views/activities/activities/index.html.erb
  app/config/locales/en.yml
  app/spec/components/previews/uswds/card_preview.rb
  app/spec/controllers/activities/activities_controller_spec.rb
  app/spec/helpers/activities_helper_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

removed unintentionally committed file
  CLAUDE.md
Due: none

fixed E2E test
  app/spec/e2e/activity_hub_education_self_attestation_spec.rb
Due: rubocop

FFS-3839: Part 2 - Add header to education flow (#1469)
  app/app/controllers/activities/document_uploads_controller.rb
  app/app/controllers/activities/education/months_controller.rb
  app/app/controllers/activities/education_controller.rb
  app/app/helpers/activities_helper.rb
  app/app/views/activities/document_uploads/new.html.erb
  app/app/views/activities/education/_form.html.erb
  app/app/views/activities/education/edit.html.erb
  app/app/views/activities/education/edit_self_attested.html.erb
  app/app/views/activities/education/error.html.erb
  app/app/views/activities/education/months/edit.html.erb
  app/app/views/activities/education/new.html.erb
  app/app/views/activities/education/review.html.erb
  app/app/views/activities/education/show.html.erb
  app/app/views/activities/education/verify.html.erb
  app/config/locales/en.yml
  app/spec/controllers/activities/education/months_controller_spec.rb
  app/spec/controllers/activities/education_controller_spec.rb
  app/spec/e2e/activity_hub_education_navigation_spec.rb
  app/spec/e2e/activity_hub_education_self_attestation_spec.rb
  app/spec/helpers/activities_helper_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

present change
  app/app/controllers/activities/employment_controller.rb
  app/docs/superpowers/plans/2026-03-12-employment-edit-flow-routing.md
Due: rubocop

Remove Jake from reviewing duties
  .github/reviewer-lottery.yml
Due: actionlint

FFS-3903: Fix flaky rspec & e2e tests (#1472)
  app/app/controllers/activities/document_uploads_controller.rb
  app/app/views/activities/document_uploads/new.html.erb
  app/spec/components/report/w2_monthly_summary_table_component_spec.rb
  app/spec/controllers/activities/document_uploads_controller_spec.rb
  app/spec/services/transmitters/json_and_pdf_transmitter_spec.rb
Due: rubocop, erblint

Remove Jake from reviewing duties (#1475)
  .github/reviewer-lottery.yml
Due: actionlint

added back button to the summary page
  app/app/views/activities/summary/show.html.erb
  app/spec/controllers/activities/summary_controller_spec.rb
Due: rubocop, erblint

FFS-3839: Part 3 - Add headers to employment self-attestation (#1470)
  app/app/controllers/activities/employment/months_controller.rb
  app/app/controllers/activities/employment_controller.rb
  app/app/helpers/activities_helper.rb
  app/app/views/activities/employment/_form.html.erb
  app/app/views/activities/employment/edit.html.erb
  app/app/views/activities/employment/months/edit.html.erb
  app/app/views/activities/employment/new.html.erb
  app/app/views/activities/employment/review.html.erb
  app/docs/superpowers/plans/2026-03-12-employment-edit-flow-routing.md
  app/spec/controllers/activities/employment_controller_spec.rb
  app/spec/e2e/activity_hub_employment_navigation_spec.rb
  app/spec/e2e/activity_hub_employment_self_attestation_spec.rb
  app/spec/helpers/activities_helper_spec.rb
Due: rubocop, erblint

Rename validated education
  app/spec/components/previews/uswds/card_preview.rb
Due: rubocop

FFS-3897: Update education happy path activity hub card (#1473)
  app/app/helpers/activities_helper.rb
  app/app/views/activities/activities/index.html.erb
  app/config/locales/en.yml
  app/spec/components/previews/uswds/card_preview.rb
  app/spec/controllers/activities/activities_controller_spec.rb
  app/spec/helpers/activities_helper_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize
