Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-unused, i18n-normalize, shellcheck, prettier, terraform_fmt, actionlint

rubocop:
  name: rubocop
  entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
  language: system

erblint:
  name: erblint
  entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
  language: system

i18n-unused:
  name: i18n-unused
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks unused
  language: system
  pass_filenames: false

i18n-normalize:
  name: i18n-normalize
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
  language: system
  pass_filenames: false

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system

prettier:
  name: prettier
  entry: bin/run-linter --cd app -- npm run format:precommit
  language: node

terraform_fmt:
  name: Terraform Fmt
  entry: terraform fmt
  language: system

actionlint:
  name: ActionLint
  entry: actionlint
  language: system
  pass_filenames: false

Remove accidental merges
  app/spec/services/activity_flow_navigator_spec.rb
  app/spec/services/persisted_report_adapter_spec.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.mmd
Due: rubocop

Fix i18n tasks
  app/config/i18n-tasks.yml
Due: none

Update version
  app/package-lock.json
  app/package.json
Due: none

Fix markdownlint for your-agency.gov links (#2150)
  .github/workflows/ci-docs.yml
  .github/workflows/markdownlint-config.json
Due: actionlint

Pin json version so create_additions doesn't break
  app/Gemfile
  app/Gemfile.lock
Due: none

ignore url for documents
  .github/workflows/markdownlint-config.json
Due: none

Merge conflicts
  .github/workflows/ci-docs.yml
  .github/workflows/markdownlint-config.json
Due: actionlint

Fix merge conflict
  app/app/services/activity_flow_navigator.rb
Due: rubocop

more employment focused copy changes
  app/app/views/activities/employment/add_your_work/show.html.erb
  app/app/views/activities/employment/month_selections/edit.html.erb
  app/app/views/activities/employment/review.html.erb
  app/config/locales/en.yml
  app/spec/controllers/activities/employment/add_your_work_controller_spec.rb
  app/spec/controllers/activities/employment/month_selections_controller_spec.rb
  app/spec/controllers/activities/employment_controller_spec.rb
  app/spec/e2e/activity_hub_employment_self_attestation_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

translation normalize
  app/config/locales/en.yml
Due: i18n-unused, i18n-normalize

fix tests
  app/spec/e2e/activity_hub_employment_self_attestation_spec.rb
  app/spec/e2e/employment_focused_entry_spec.rb
Due: rubocop

Update Education self-attestation flow school info page
  app/app/controllers/activities/education_controller.rb
  app/app/models/education_activity.rb
  app/app/views/activities/education/_form.html.erb
  app/app/views/activities/submit/show.pdf.erb
  app/config/locales/en.yml
  app/db/migrate/20261006203042_add_contact_title_to_education_activities.rb
  app/db/schema.rb
  app/spec/controllers/activities/education_controller_spec.rb
  app/spec/controllers/activities/submit_controller_spec.rb
  app/spec/e2e/activity_hub_education_self_attestation_spec.rb
  app/spec/services/activity_report_serializer_spec.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.mmd
Due: rubocop, erblint, i18n-unused, i18n-normalize

nwe line
  app/app/views/activities/employment/review.html.erb
  app/spec/controllers/activities/employment_controller_spec.rb
Due: rubocop, erblint

Fix tests
  app/spec/e2e/employment_focused_entry_spec.rb
  app/spec/e2e/employment_focused_review_spec.rb
Due: rubocop

translations
  app/config/locales/en.yml
Due: i18n-unused, i18n-normalize

Fix test
  app/app/services/activity_flow_navigator.rb
  app/spec/services/activity_flow_navigator_spec.rb
Due: rubocop

Apply bolded styling
  app/app/assets/stylesheets/cbv.scss
  app/app/views/activities/education/_form.html.erb
Due: erblint

save education type to db, add to json activity entries, add to schema, pdf
  app/app/controllers/activities/education/add_your_education_controller.rb
  app/app/controllers/activities/education_controller.rb
  app/app/models/education_activity.rb
  app/app/services/activity_report_serializer.rb
  app/app/views/activities/submit/show.pdf.erb
  app/app/views/activities/summary/_education_table.html.erb
  app/config/locales/en.yml
  app/db/migrate/20261007180000_add_education_category_to_education_activities.rb
  app/db/schema.rb
  app/spec/controllers/activities/education/add_your_education_controller_spec.rb
  app/spec/controllers/activities/education_controller_spec.rb
  app/spec/controllers/activities/submit_controller_spec.rb
  app/spec/controllers/activities/summary_controller_spec.rb
  app/spec/e2e/activity_hub_education_self_attestation_spec.rb
  app/spec/e2e/activity_hub_spec.rb
  app/spec/models/education_activity_spec.rb
  app/spec/openapi/activity_report_schemas.rb
  app/spec/openapi/activity_report_schemas_spec.rb
  app/spec/services/activity_report_serializer_spec.rb
  app/spec/services/transmitters/activity_json_transmitter_education_spec.rb
  app/spec/services/transmitters/activity_json_transmitter_spec.rb
  docs/api/ce-activity-report.md
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.mmd
Due: rubocop, erblint, i18n-unused, i18n-normalize

unbold checkbox text and make expand for desktop view
  app/app/components/report/employment_focused_payment_details_component.html.erb
  app/app/views/activities/employment/_paid_fields.html.erb
  app/spec/components/report/employment_focused_payment_details_component_spec.rb
  app/spec/e2e/employment_focused_payment_details_spec.rb
Due: rubocop, erblint

wait for the destination page, then for Turbo to clear aria-busy before checking accessibility.
  app/spec/support/e2e/test_helpers.rb
Due: rubocop

remove the different employment focused income and hours heading
  app/app/views/activities/employment/months/edit.html.erb
  app/config/locales/en.yml
  app/spec/controllers/activities/employment/months_controller_spec.rb
  app/spec/e2e/activity_hub_employment_self_attestation_spec.rb
  app/spec/e2e/employment_focused_entry_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

FFS-4865 Update copy on shared Employment-focused ActivityFlow pages (#2133)
  app/app/components/activity_flow_header_component.rb
  app/app/components/report/employment_focused_payment_details_component.html.erb
  app/app/components/report/employment_focused_payment_details_component.rb
  app/app/controllers/concerns/gpg_encryptable.rb
  app/app/controllers/launcher_controller.rb
  app/app/views/activities/document_uploads/new.html.erb
  app/app/views/activities/employment/_address_fields.html.erb
  app/app/views/activities/employment/_form.html.erb
  app/app/views/activities/employment/_paid_fields.html.erb
  app/app/views/activities/employment/_unpaid_fields.html.erb
  app/app/views/activities/employment/add_your_work/show.html.erb
  app/app/views/activities/employment/edit.html.erb
  app/app/views/activities/employment/month_selections/edit.html.erb
  app/app/views/activities/employment/months/edit.html.erb
  app/app/views/activities/employment/new.html.erb
  app/app/views/activities/employment/review.html.erb
  app/app/views/activities/income/employer_searches/show.html.erb
  app/app/views/activities/income/payment_details/show.html.erb
  app/app/views/activities/income/synchronization_failures/show.html.erb
  app/config/locales/en.yml
  app/spec/components/report/employment_focused_payment_details_component_spec.rb
  app/spec/controllers/activities/document_uploads_controller_spec.rb
  app/spec/controllers/activities/employment/add_your_work_controller_spec.rb
  app/spec/controllers/activities/employment/month_selections_controller_spec.rb
  app/spec/controllers/activities/employment/months_controller_spec.rb
  app/spec/controllers/activities/employment_controller_spec.rb
  app/spec/controllers/activities/income/employer_searches_controller_spec.rb
  app/spec/controllers/activities/income/payment_details_controller_spec.rb
  app/spec/controllers/cbv/employer_searches_controller_spec.rb
  app/spec/controllers/concerns/gpg_encryption_spec.rb
  app/spec/controllers/launcher_controller_spec.rb
  app/spec/e2e/activity_hub_employment_self_attestation_spec.rb
  app/spec/e2e/employment_focused_entry_spec.rb
  app/spec/e2e/employment_focused_payment_details_spec.rb
  app/spec/e2e/employment_unpaid_information_spec.rb
  app/spec/support/e2e/test_helpers.rb
  app/spec/support/shared_examples/employment_focused_activity_header_examples.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Update headers for doc
  app/config/client-agency-config.yml
  app/spec/openapi/invitation_schemas.rb
  app/spec/openapi/invitation_schemas_spec.rb
  app/spec/requests/api/invitations_spec.rb
  app/spec/requests/api/v2/invitations_spec.rb
  app/spec/swagger_helper.rb
  docs/api/README.md
Due: rubocop

Update from code review
  app/app/controllers/activities/activities_controller.rb
  app/app/controllers/activities/employment_controller.rb
  app/app/controllers/flow_controller.rb
  app/app/models/activity_flow_employment_summary.rb
  app/app/models/concerns/redactable.rb
  app/app/services/activity_flow_navigator.rb
  app/spec/e2e/employment_focused_entry_spec.rb
  app/spec/models/concerns/redactable_spec.rb
Due: rubocop

FFS-4867: Update Education self-attestation flow school info page (#2153)
  app/app/assets/stylesheets/cbv.scss
  app/app/controllers/activities/education_controller.rb
  app/app/models/education_activity.rb
  app/app/views/activities/education/_form.html.erb
  app/app/views/activities/submit/show.pdf.erb
  app/config/locales/en.yml
  app/db/migrate/20261006203042_add_contact_title_to_education_activities.rb
  app/db/schema.rb
  app/spec/controllers/activities/education_controller_spec.rb
  app/spec/controllers/activities/submit_controller_spec.rb
  app/spec/e2e/activity_hub_education_self_attestation_spec.rb
  app/spec/services/activity_report_serializer_spec.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.mmd
Due: rubocop, erblint, i18n-unused, i18n-normalize

Fix test failures
  app/spec/e2e/activity_hub_employment_self_attestation_spec.rb
  app/spec/e2e/employment_focused_entry_spec.rb
  app/spec/e2e/employment_focused_review_spec.rb
Due: rubocop

Fix metadata name
  app/spec/openapi/invitation_schemas.rb
Due: rubocop

Fix test
  app/spec/services/activity_flow_navigator_spec.rb
Due: rubocop

Update metadata string
  app/spec/openapi/invitation_schemas.rb
Due: rubocop

Fix tests
  app/spec/openapi/invitation_schemas_spec.rb
Due: rubocop

FFS-4887 v2 api docs (#2149)
  app/config/client-agency-config.yml
  app/lib/tasks/api_docs.rake
  app/spec/openapi/invitation_schemas.rb
  app/spec/openapi/invitation_schemas_spec.rb
  app/spec/requests/api/invitations_spec.rb
  app/spec/requests/api/v2/invitations_spec.rb
  app/spec/swagger_helper.rb
  docs/api/README.md
  docs/api/overview.md
  docs/api/post-v2-invitations.md
Due: rubocop

change upload docs page for education flow only
  app/app/models/education_activity.rb
  app/app/views/activities/document_uploads/_previous_uploads.html.erb
  app/app/views/activities/document_uploads/_selected_uploads.html.erb
  app/app/views/activities/document_uploads/new.html.erb
  app/config/locales/en.yml
  app/spec/controllers/activities/document_uploads_controller_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Add report_variant to CeReport
  app/app/services/activity_report_serializer.rb
  app/spec/openapi/activity_report_schemas.rb
Due: rubocop

Add specs
  app/spec/openapi/activity_report_schemas.rb
  app/spec/services/activity_report_serializer_spec.rb
Due: rubocop

Update schema and spec
  app/spec/openapi/activity_report_schemas.rb
  app/spec/openapi/activity_report_schemas_spec.rb
Due: rubocop

Update "Success" page for Employment-focused ActivityFlow
  app/app/views/activities/success/show.html.erb
  app/config/locales/en.yml
Due: erblint, i18n-unused, i18n-normalize

FFS-4860: Add unpaid-only community engagement reporting
  app/app/controllers/activities/employment_controller.rb
  app/app/controllers/api/v2/invitations_controller.rb
  app/app/controllers/launcher_controller.rb
  app/app/models/activity_flow.rb
  app/app/services/activity_flow_navigator.rb
  app/app/services/cbv_invitation_service.rb
  app/app/views/activities/activities/index.html.erb
  app/app/views/launcher/advanced.html.erb
  app/config/locales/en.yml
  app/db/migrate/20261008160000_add_unpaid_work_only_to_activity_flows.rb
  app/db/schema.rb
  app/spec/controllers/activities/activities_controller_spec.rb
  app/spec/controllers/activities/employment_controller_spec.rb
  app/spec/controllers/api/v2/invitations_controller_spec.rb
  app/spec/controllers/launcher_controller_spec.rb
  app/spec/e2e/unpaid_work_only_spec.rb
  app/spec/models/activity_flow_spec.rb
  app/spec/openapi/invitation_schemas.rb
  app/spec/openapi/invitation_schemas_spec.rb
  app/spec/requests/api/community_engagement_invitations_spec.rb
  app/spec/services/activity_flow_navigator_spec.rb
  app/spec/services/cbv_invitation_service_spec.rb
  app/spec/swagger_helper.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.mmd
Due: rubocop, erblint, i18n-unused, i18n-normalize

rename from education category to education type. format for review and submit pages
  app/app/components/enrollment_term_table_component.html.erb
  app/app/components/enrollment_term_table_component.rb
  app/app/controllers/activities/education/add_your_education_controller.rb
  app/app/controllers/activities/education_controller.rb
  app/app/models/education_activity.rb
  app/app/services/activity_report_serializer.rb
  app/app/views/activities/submit/show.pdf.erb
  app/app/views/activities/summary/_education_table.html.erb
  app/app/views/activities/summary/_fully_self_attested_education_table.html.erb
  app/app/views/activities/summary/_partially_self_attested_education_table.html.erb
  app/config/locales/en.yml
  app/db/migrate/20261008180000_rename_education_category_to_education_type.rb
  app/db/schema.rb
  app/spec/controllers/activities/education_controller_spec.rb
  app/spec/controllers/activities/submit_controller_spec.rb
  app/spec/controllers/activities/summary_controller_spec.rb
  app/spec/e2e/activity_hub_education_self_attestation_spec.rb
  app/spec/e2e/activity_hub_spec.rb
  app/spec/models/education_activity_spec.rb
  app/spec/openapi/activity_report_schemas.rb
  app/spec/openapi/activity_report_schemas_spec.rb
  app/spec/services/activity_report_serializer_spec.rb
  app/spec/services/transmitters/activity_json_transmitter_education_spec.rb
  app/spec/services/transmitters/activity_json_transmitter_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

rename to education_type
  docs/api/ce-activity-report.md
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.mmd
Due: none

normalize
  app/config/locales/en.yml
Due: i18n-unused, i18n-normalize

Path conditions:
  rubocop: any of: ^app/.*\.rb$
  erblint: any of: ^app/.*\.erb$
  i18n-unused: any of: ^app/config/locales/.*\.yml$
  i18n-normalize: any of: ^app/config/locales/.*\.yml$
  shellcheck: any of: ^bin/.*$
  prettier: any of: ^app/.*\.(js|ts)$
  terraform_fmt: any of: infra/.*\.tf$
  actionlint: any of: ^.github/.*\.yml$
