Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-unused, i18n-normalize, shellcheck, prettier, terraform_fmt, actionlint

rubocop:
  name: rubocop
  entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
  language: system

erblint:
  name: erblint
  entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
  language: system

i18n-unused:
  name: i18n-unused
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks unused
  language: system
  pass_filenames: false

i18n-normalize:
  name: i18n-normalize
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
  language: system
  pass_filenames: false

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system

prettier:
  name: prettier
  entry: bin/run-linter --cd app -- npm run format:precommit
  language: node

terraform_fmt:
  name: Terraform Fmt
  entry: terraform fmt
  language: system

actionlint:
  name: ActionLint
  entry: actionlint
  language: system
  pass_filenames: false

fixed inconsistent header behavior
  app/app/assets/stylesheets/cbv.scss
Due: none

FFS-3415 | Fixed misaligned footer button
  app/app/views/application/_footer.html.erb
Due: erblint

Updating README.
  README.md
Due: none

Investigate and fix 'undefined method 'paystubs' for nil' (#1118)
  app/app/controllers/cbv/payment_details_controller.rb
  app/spec/controllers/cbv/payment_details_controller_spec.rb
Due: rubocop

Documentation: Add a GOVERNANCE structure in GOVERNANCE.md & Establish a Contributor Ladder in COMMUNITY.md (#1062)
  .github/ISSUE_TEMPLATE/contributor_ladder.md
  COMMUNITY.md
  COMMUNITY_GUIDELINES.md
  GOVERNANCE.md
  README.md
Due: none

protect nil-able variables
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
Due: rubocop

protect other summarize_by_employer accesses as well
  app/app/views/cbv/submits/show.pdf.erb
Due: erblint

Add list of project members, core team, maintainers, and alumni
  COMMUNITY.md
Due: none

Update CODEOWNERS
  CODEOWNERS.md
Due: none

Fix double header
  app/app/views/activities/activities/show.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: erblint, i18n-unused, i18n-normalize

fixed header without custom logic
  app/app/assets/stylesheets/cbv.scss
  app/app/views/help/_help_link.html.erb
Due: erblint

fixed footer
  app/app/views/application/_footer.html.erb
Due: erblint

Remove MAINTAINERS.md
  MAINTAINERS.md
Due: none

Refocus element on modal close
  app/app/javascript/controllers/cbv/employer_search.js
  app/app/views/cbv/employer_searches/show.html.erb
  app/spec/javascript/controllers/employer_search.spec.js
Due: erblint, prettier

Fix headers
  app/app/views/activities/activities/show.html.erb
Due: erblint

Fix deprecation warnings
  app/app/controllers/api/argyle_controller.rb
  app/app/controllers/api/invitations_controller.rb
  app/app/controllers/api/user_events_controller.rb
  app/app/controllers/caseworker/cbv_flow_invitations_controller.rb
  app/app/controllers/cbv/applicant_informations_controller.rb
  app/config/initializers/devise.rb
  app/spec/controllers/api/invitations_controller_spec.rb
  app/spec/controllers/api/user_events_controller_spec.rb
  app/spec/controllers/cbv/applicant_informations_controller_spec.rb
Due: rubocop

Refactor task to stop logging in CI
  app/lib/invitation_generator.rb
  app/lib/tasks/invitation.rake
  app/spec/tasks/rake_invitation_spec.rb
Due: rubocop

Switch to non-deprecated gem
  app/Gemfile
  app/Gemfile.lock
  app/config/initializers/devise.rb
Due: rubocop

Added 0 Margin to Button
  app/app/views/application/_footer.html.erb
Due: erblint

added rspec test to make sure we don't make this mistake again
  app/spec/services/aggregators/aggregator_reports/aggregator_report_spec.rb
Due: rubocop

cleaned up css format
  app/app/assets/stylesheets/cbv.scss
Due: none

FFS-3578: Coerce JSON API `pay_gross` to zero if null
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/spec/services/aggregators/aggregator_reports/aggregator_report_spec.rb
Due: rubocop

FFS-3562: guard nil-able variables (#1129)
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/app/views/cbv/submits/show.pdf.erb
  app/spec/services/aggregators/aggregator_reports/aggregator_report_spec.rb
Due: rubocop, erblint

Not a feature test
  app/spec/tasks/rake_invitation_spec.rb
Due: rubocop

FFS-3579: Fix /synchronization_failures to link to /other_jobs
  app/app/views/cbv/synchronization_failures/show.html.erb
Due: erblint

Remove whitespace ugh
  app/spec/services/aggregators/aggregator_reports/aggregator_report_spec.rb
Due: rubocop

Add local_assigns for class_name
  app/app/views/help/_help_link.html.erb
Due: erblint

FFS-3578: Coerce JSON API `pay_gross` to zero if null (#1133)
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/spec/services/aggregators/aggregator_reports/aggregator_report_spec.rb
Due: rubocop

FFS-3579: Fix /synchronization_failures to link to /other_jobs (#1134)
  app/app/views/cbv/synchronization_failures/show.html.erb
Due: erblint

FFS-3534: Skeleton activity hub and volunteering path (#1117)
  app/app/controllers/activities/activities_controller.rb
  app/app/controllers/activities/base_controller.rb
  app/app/controllers/activities/volunteering_controller.rb
  app/app/models/cbv_applicant.rb
  app/app/models/volunteering_activity.rb
  app/app/views/activities/activities/show.html.erb
  app/app/views/activities/volunteering/new.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/config/routes.rb
  app/db/migrate/20251117195859_create_volunteering_activities.rb
  app/db/schema.rb
  app/lib/date_formatter.rb
  app/spec/e2e/activity_hub_spec.rb
  app/spec/models/volunteering_activity_spec.rb
  app/spec/rails_helper.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.pdf
Due: rubocop, erblint, i18n-unused, i18n-normalize

Fix deprecation warnings & unnecessary logging (#1132)
  app/Gemfile
  app/Gemfile.lock
  app/app/controllers/api/argyle_controller.rb
  app/app/controllers/api/invitations_controller.rb
  app/app/controllers/api/user_events_controller.rb
  app/app/controllers/caseworker/cbv_flow_invitations_controller.rb
  app/app/controllers/cbv/applicant_informations_controller.rb
  app/config/initializers/devise.rb
  app/lib/invitation_generator.rb
  app/lib/tasks/invitation.rake
  app/spec/controllers/api/invitations_controller_spec.rb
  app/spec/controllers/api/user_events_controller_spec.rb
  app/spec/controllers/cbv/applicant_informations_controller_spec.rb
  app/spec/tasks/rake_invitation_spec.rb
Due: rubocop

missed one paystub and a few employments
  app/app/views/cbv/submits/show.pdf.erb
Due: erblint

FFS-3562: missed one paystub and a few employments (#1135)
  app/app/views/cbv/submits/show.pdf.erb
Due: erblint

FFS-3501: Handle session reinitialization on /synchronizations
  app/app/controllers/cbv/synchronizations_controller.rb
  app/app/javascript/controllers/polling_controller.js
  app/spec/controllers/cbv/synchronizations_controller_spec.rb
Due: rubocop, prettier

Update content
  app/config/locales/en.yml
Due: i18n-unused, i18n-normalize

paystubs should never be nil per our API spec
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/spec/services/aggregators/aggregator_reports/aggregator_report_spec.rb
Due: rubocop

Method to check for payroll accounts
  app/app/controllers/cbv/base_controller.rb
Due: rubocop

before_action in /add_jobs & /other_jobs
  app/app/controllers/cbv/add_jobs_controller.rb
  app/app/controllers/cbv/other_jobs_controller.rb
Due: rubocop

Implement new Spanish
  app/config/locales/es.yml
Due: i18n-unused, i18n-normalize

Test
  app/spec/controllers/cbv/add_jobs_controller_spec.rb
  app/spec/controllers/cbv/other_jobs_controller_spec.rb
Due: rubocop

Path conditions:
  rubocop: any of: ^app/.*\.rb$
  erblint: any of: ^app/.*\.erb$
  i18n-unused: any of: ^app/config/locales/.*\.yml$
  i18n-normalize: any of: ^app/config/locales/.*\.yml$
  shellcheck: any of: ^bin/.*$
  prettier: any of: ^app/.*\.(js|ts)$
  terraform_fmt: any of: infra/.*\.tf$
  actionlint: any of: ^.github/.*\.yml$
