Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-unused, i18n-normalize, shellcheck, prettier, terraform_fmt, actionlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml

- repo: local
  hooks:
  - id: rubocop
    name: rubocop
    entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
    language: system
    files: '^app/.*\.rb$'

  # this rubocop hook works on windows/wsl, and is being left here as of 8/27/2025 to figure it out at some point
  #- id: rubocop
  #  name: rubocop
  #  language: system
  #  entry: bash -lc 'BUNDLE_GEMFILE=app/Gemfile cd app && bundle exec rubocop -a --force-exclusion'
  #  types: [ ruby ]
  #  files: '^app/.*\.rb$'
  #  pass_filenames: false

  - id: erblint
    name: erblint
    entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
    language: system
    files: '^app/.*\.erb$'

  - id: i18n-unused
    name: i18n-unused
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks unused
    language: system
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: i18n-normalize
    name: i18n-normalize
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
    language: system
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system        # installed via `brew bundle`
    files: '^bin/.*$'

  - id: prettier
    name: prettier
    entry: bin/run-linter --cd app -- npm run format:precommit
    language: node
    files: '^app/.*\.(js|ts)$'

  - id: terraform_fmt
    name: Terraform Fmt
    entry: terraform fmt
    language: system
    files: 'infra/.*\.tf$'

#  - id: checkov
#    name: Checkov
#    entry: checkov --quiet --output sarif --framework terraform -f
#    language: system
#    files: 'infra/.*\.tf$'

  - id: actionlint
    name: ActionLint
    entry: actionlint
    language: system
    files: '^.github/.*\.yml$'
    pass_filenames: false

Add safe navigation operator `sum` in webhook controllers
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/app/controllers/webhooks/pinwheel/events_controller.rb
Due: rubocop

Add a test
  app/spec/controllers/webhooks/argyle/events_controller_spec.rb
Due: rubocop

FFS-3822: Incomplete employment data on summary and review pages (#1417)
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/app/controllers/webhooks/pinwheel/events_controller.rb
  app/app/models/flow.rb
  app/app/services/aggregator_report_fetcher.rb
  app/spec/e2e/activity_hub_spec.rb
  app/spec/models/activity_flow_monthly_summary_spec.rb
Due: rubocop

Employment self-attested info page
  app/app/components/uswds/combo_box.html.erb
  app/app/components/uswds/combo_box.rb
  app/app/components/uswds/phone_input.html.erb
  app/app/components/uswds/phone_input.rb
  app/app/controllers/activities/employment_controller.rb
  app/app/helpers/application_helper.rb
  app/app/helpers/uswds_form_builder.rb
  app/app/javascript/controllers/index.js
  app/app/javascript/controllers/self_employed_controller.js
  app/app/models/activity_flow.rb
  app/app/models/employment_activity.rb
  app/app/views/activities/employment/_form.html.erb
  app/app/views/activities/employment/new.html.erb
  app/app/views/activities/volunteering/_form.html.erb
  app/app/views/cbv/employer_searches/_employer.html.erb
  app/app/views/cbv/employer_searches/show.html.erb
  app/config/locales/en.yml
  app/config/routes.rb
  app/db/migrate/20260220220358_create_employment_activities.rb
  app/db/schema.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.pdf
Due: rubocop, erblint, i18n-unused, i18n-normalize, prettier

Add safe navigation operator to FinishedSync events (#1418)
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/app/controllers/webhooks/pinwheel/events_controller.rb
  app/app/models/payroll_account/argyle.rb
  app/spec/controllers/webhooks/argyle/events_controller_spec.rb
Due: rubocop

Lookbooks
  app/spec/components/previews/combo_box_component_preview.rb
  app/spec/components/previews/phone_input_component_preview.rb
Due: rubocop

e2e tests
  app/spec/e2e/activity_hub_spec.rb
Due: rubocop

Factory updates
  app/spec/factories/activity_flows.rb
  app/spec/factories/employment_activity.rb
  app/spec/factories/volunteering_activity.rb
Due: rubocop

Specs
  app/spec/components/uswds/combo_box_component_spec.rb
  app/spec/components/uswds/phone_input_component_spec.rb
  app/spec/controllers/activities/employment_controller_spec.rb
  app/spec/models/employment_activity_spec.rb
  app/spec/models/volunteering_activity_spec.rb
Due: rubocop

Hyphenate self-employed
  app/config/locales/en.yml
Due: i18n-unused, i18n-normalize

fix: upgrade @axe-core/playwright from 4.11.0 to 4.11.1
  e2e/package-lock.json
  e2e/package.json
Due: none

Community Service phone number form field
  app/app/views/activities/volunteering/_form.html.erb
Due: erblint

FFS-3835 Add NH DHHS Part 1 (#1416)
  app/app/models/cbv_applicant/nh_dhhs.rb
  app/app/views/cbv/applicant_informations/_nh_dhhs.html.erb
  app/config/client-agency-config.yml
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
  infra/app/app-config/env-config/environment-variables.tf
Due: rubocop, erblint, i18n-unused, i18n-normalize, terraform_fmt

Rework component arguments
  app/app/components/uswds/combo_box.html.erb
  app/app/components/uswds/combo_box.rb
  app/app/components/uswds/phone_input.html.erb
  app/app/components/uswds/phone_input.rb
Due: rubocop, erblint

Remove AZ DES agency configuration
  README.md
  app/.env
  app/app/assets/stylesheets/cbv.scss
  app/app/helpers/application_helper.rb
  app/app/jobs/case_worker_transmitter_job.rb
  app/app/jobs/client_agency/az_des/report_deliverer_job.rb
  app/app/jobs/match_agency_names_job.rb
  app/app/mailers/weekly_report_mailer.rb
  app/app/models/cbv_applicant.rb
  app/app/models/cbv_applicant/az_des.rb
  app/app/models/cbv_flow_invitation.rb
  app/app/services/argyle_webhooks_manager.rb
  app/app/services/client_agency/az_des/configuration.rb
  app/app/services/client_agency/az_des/recently_submitted_cases_csv.rb
  app/app/services/client_agency/az_des/report_fields.rb
  app/app/services/transmitters/sftp_transmitter.rb
  app/app/views/cbv/submits/show.pdf.erb
  app/config/client-agency-config.yml
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/lib/tasks/az_des.rake
  app/lib/tasks/weekly_reports.rake
  app/spec/controllers/activities/submit_controller_spec.rb
  app/spec/controllers/api/invitations_controller_spec.rb
  app/spec/controllers/cbv/submits_controller_spec.rb
  app/spec/factories/cbv_applicant.rb
  app/spec/factories/cbv_flow_invitation.rb
  app/spec/jobs/case_worker_transmitter_job_spec.rb
  app/spec/jobs/client_agency/az_des/report_deliverer_job_spec.rb
  app/spec/jobs/match_agency_names_job_spec.rb
  app/spec/lib/az_des_rake_spec.rb
  app/spec/mailers/previews/weekly_report_mailer_preview.rb
  app/spec/mailers/weekly_report_mailer_spec.rb
  app/spec/models/cbv_applicant/az_des_spec.rb
  docs/testing_sftp.md
  infra/app/app-config/env-config/environment-variables.tf
  infra/app/app-config/env-config/scheduled_jobs.tf
  load_testing/loadtest-api.js
Due: rubocop, erblint, i18n-unused, i18n-normalize, terraform_fmt

Remove AZ DES logo
  app/app/assets/images/des_logo.png
  app/spec/jobs/case_worker_transmitter_job_spec.rb
Due: rubocop

Fix WeeklyReportMailer spec
  app/spec/mailers/weekly_report_mailer_spec.rb
Due: rubocop

Combo box updates
  app/app/components/uswds/combo_box.html.erb
  app/app/components/uswds/combo_box.rb
  app/app/helpers/uswds_form_builder.rb
  app/app/views/activities/employment/_form.html.erb
  app/app/views/activities/volunteering/_form.html.erb
Due: rubocop, erblint

FFS-3742: Employment self attestation: Info page (#1419)
  app/app/components/uswds/combo_box.html.erb
  app/app/components/uswds/combo_box.rb
  app/app/components/uswds/phone_input.html.erb
  app/app/components/uswds/phone_input.rb
  app/app/controllers/activities/employment_controller.rb
  app/app/helpers/application_helper.rb
  app/app/helpers/uswds_form_builder.rb
  app/app/javascript/controllers/index.js
  app/app/javascript/controllers/self_employed_controller.js
  app/app/models/activity_flow.rb
  app/app/models/employment_activity.rb
  app/app/views/activities/employment/_form.html.erb
  app/app/views/activities/employment/new.html.erb
  app/app/views/activities/volunteering/_form.html.erb
  app/app/views/cbv/employer_searches/_employer.html.erb
  app/app/views/cbv/employer_searches/show.html.erb
  app/config/locales/en.yml
  app/config/routes.rb
  app/db/migrate/20260220220358_create_employment_activities.rb
  app/db/schema.rb
  app/spec/components/previews/combo_box_component_preview.rb
  app/spec/components/previews/phone_input_component_preview.rb
  app/spec/components/uswds/combo_box_component_spec.rb
  app/spec/components/uswds/phone_input_component_spec.rb
  app/spec/controllers/activities/employment_controller_spec.rb
  app/spec/e2e/activity_hub_spec.rb
  app/spec/factories/activity_flows.rb
  app/spec/factories/employment_activity.rb
  app/spec/factories/volunteering_activity.rb
  app/spec/models/employment_activity_spec.rb
  app/spec/models/volunteering_activity_spec.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.pdf
Due: rubocop, erblint, i18n-unused, i18n-normalize, prettier

FFS-3771: Update fields on work program info page
  app/app/controllers/activities/job_training_controller.rb
  app/app/models/job_training_activity.rb
  app/app/views/activities/job_training/_form.html.erb
  app/app/views/activities/job_training/edit.html.erb
  app/app/views/activities/job_training/new.html.erb
  app/config/locales/en.yml
  app/db/migrate/20260225113000_add_work_program_details_to_job_training_activities.rb
  app/db/schema.rb
  app/spec/controllers/activities/job_training_controller_spec.rb
  app/spec/e2e/activity_hub_spec.rb
  app/spec/factories/job_training_activity.rb
  app/spec/models/job_training_activity_spec.rb
  docs/app/rendered/.database-diagram-schema-version
Due: rubocop, erblint, i18n-unused, i18n-normalize

Remove reporting window hint text
  app/app/views/activities/job_training/_form.html.erb
  app/config/locales/en.yml
Due: erblint, i18n-unused, i18n-normalize

Delete useless spec
  app/spec/models/job_training_activity_spec.rb
Due: rubocop

updates based on notes
  CONTRIBUTING.md
  README.md
Due: none

updated readme title
  README.md
Due: none

FFS-3771: Update fields on work program info page (#1422)
  app/app/controllers/activities/job_training_controller.rb
  app/app/models/job_training_activity.rb
  app/app/views/activities/job_training/_form.html.erb
  app/app/views/activities/job_training/edit.html.erb
  app/app/views/activities/job_training/new.html.erb
  app/config/locales/en.yml
  app/db/migrate/20260225113000_add_work_program_details_to_job_training_activities.rb
  app/db/schema.rb
  app/spec/controllers/activities/job_training_controller_spec.rb
  app/spec/e2e/activity_hub_spec.rb
  app/spec/factories/job_training_activity.rb
  app/spec/models/job_training_activity_spec.rb
  docs/app/rendered/.database-diagram-schema-version
Due: rubocop, erblint, i18n-unused, i18n-normalize

first draft
  app/app/assets/stylesheets/cbv.scss
  app/app/components/employment_review_table_component.erb
  app/app/components/employment_review_table_component.rb
  app/app/controllers/activities/employment_controller.rb
  app/app/views/activities/employment/review.html.erb
  app/app/views/activities/volunteering/review.html.erb
  app/config/locales/en.yml
  app/config/routes.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

DRY up contact info table components
  app/app/components/community_service_review_table_component.erb
  app/app/components/community_service_review_table_component.rb
  app/app/components/contact_info_review_table_component.erb
  app/app/components/contact_info_review_table_component.rb
  app/app/components/employment_review_table_component.erb
  app/app/components/employment_review_table_component.rb
  app/app/views/activities/employment/review.html.erb
  app/app/views/activities/volunteering/review.html.erb
Due: rubocop, erblint

brought back format_address
  app/app/components/contact_info_review_table_component.rb
  app/app/views/activities/volunteering/review.html.erb
Due: rubocop, erblint

FFS-3773: Add hour inputs to work program activity
  app/AGENTS.md
  app/app/controllers/activities/job_training/months_controller.rb
  app/app/controllers/activities/job_training_controller.rb
  app/app/helpers/activities_helper.rb
  app/app/models/activity.rb
  app/app/models/job_training_activity.rb
  app/app/models/job_training_activity_month.rb
  app/app/services/activity_flow_progress_calculator.rb
  app/app/views/activities/activities/index.html.erb
  app/app/views/activities/job_training/months/edit.html.erb
  app/app/views/activities/submit/show.pdf.erb
  app/app/views/activities/summary/_job_training_table.html.erb
  app/app/views/shared/_hours_input.html.erb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/routes.rb
  app/db/migrate/20260225133000_create_job_training_activity_months.rb
  app/db/migrate/20260225150000_remove_legacy_fields_from_job_training_activities.rb
  app/db/schema.rb
  app/spec/controllers/activities/job_training/months_controller_spec.rb
  app/spec/controllers/activities/job_training_controller_spec.rb
  app/spec/e2e/activity_hub_spec.rb
  app/spec/factories/job_training_activity.rb
  app/spec/factories/job_training_activity_month.rb
  app/spec/helpers/activities_helper_spec.rb
  app/spec/models/job_training_activity_spec.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.pdf
Due: rubocop, erblint, i18n-unused, i18n-normalize

added additional comments
  app/app/controllers/activities/employment_controller.rb
  app/app/views/activities/employment/review.html.erb
  app/config/locales/en.yml
  app/db/migrate/20260225212856_add_additional_comments_to_employment_activities.rb
  app/db/schema.rb
  app/spec/controllers/activities/employment_controller_spec.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.pdf
Due: rubocop, erblint, i18n-unused, i18n-normalize

first draft
  app/app/components/community_service_review_table_component.erb
  app/app/components/employment_review_table_component.erb
  app/app/components/employment_review_table_component.rb
  app/app/views/activities/employment/review.html.erb
Due: rubocop, erblint

DRY up contact info table components
  app/app/components/community_service_review_table_component.erb
  app/app/components/employment_review_table_component.erb
  app/app/components/employment_review_table_component.rb
Due: rubocop, erblint

tiny bugfix for returning to the edit page
  app/app/javascript/controllers/self_employed_controller.js
Due: prettier

edit flows
  app/app/controllers/activities/activities_controller.rb
  app/app/views/activities/activities/index.html.erb
  app/app/views/activities/employment/_form.html.erb
  app/app/views/activities/employment/edit.html.erb
  app/config/locales/en.yml
Due: rubocop, erblint, i18n-unused, i18n-normalize

DRY up specs for Activity Month models
  app/spec/models/job_training_activity_month_spec.rb
  app/spec/models/volunteering_activity_month_spec.rb
  app/spec/support/shared_examples/activity_month_model_examples.rb
Due: rubocop

Bump rollup 4.52.4 -> 4.59.0 via npm
  app/package-lock.json
Due: none

CurrencyInputComponent + lookbook
  app/app/components/uswds/currency_input.html.erb
  app/app/components/uswds/currency_input.rb
  app/spec/components/previews/currency_input_component_preview.rb
Due: rubocop, erblint

Migrations
  app/db/migrate/20260225221414_create_employment_activity_months.rb
  app/db/schema.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.pdf
Due: rubocop

Content and routes
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/routes.rb
Due: rubocop, i18n-unused, i18n-normalize

Concern + controllers
  app/app/controllers/activities/employment/months_controller.rb
  app/app/controllers/activities/employment_controller.rb
  app/app/controllers/concerns/monthly_hours_input.rb
  app/app/helpers/uswds_form_builder.rb
Due: rubocop
