Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-normalize, i18n-missing, shellcheck, prettier

rubocop:
  name: rubocop
  entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
  language: ruby

erblint:
  name: erblint
  entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
  language: ruby

i18n-normalize:
  name: i18n-normalize
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
  language: ruby
  pass_filenames: false

i18n-missing:
  name: i18n-missing
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks missing
  language: ruby
  pass_filenames: false

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system

prettier:
  name: prettier
  entry: bin/run-linter --cd app -- npm run format:precommit
  language: node

Clean up gpg output when running tests
  app/spec/jobs/case_worker_transmitter_job_spec.rb
  app/spec/support/context/gpg_setup.rb
Due: rubocop

Set Devise `secret_key` to silence a deprecation warning
  app/config/initializers/devise.rb
Due: rubocop

Remove RSpec `fixture_path` to silence deprecation warning
  app/spec/rails_helper.rb
Due: rubocop

Upgrade newrelic_rpm 9.12.0 -> 9.19.0
  app/Gemfile.lock
Due: none

FFS-3031: Use TableComponent for applicant info table on /summary
  app/app/assets/stylesheets/cbv.scss
  app/app/components/table_cell_component.rb
  app/app/views/cbv/summaries/show.html.erb
  app/spec/components/table_cell_component_spec.rb
Due: rubocop, erblint

fix lints, add table test
  app/app/components/table_component.html.erb
  app/app/components/table_component.rb
  app/app/views/cbv/summaries/show.html.erb
  app/spec/components/table_cell_component_spec.rb
  app/spec/components/table_component_spec.rb
  app/spec/controllers/cbv/summaries_controller_spec.rb
Due: rubocop, erblint

fix erb lint
  app/app/components/table_component.html.erb
Due: erblint

Refactor transmitters into app/services/transmitters (#809)
  app/app/jobs/case_worker_transmitter_job.rb
  app/app/services/transmitters/encrypted_s3_transmitter.rb
  app/app/services/transmitters/sftp_transmitter.rb
  app/app/services/transmitters/shared_email_transmitter.rb
  app/spec/jobs/case_worker_transmitter_job_spec.rb
  app/spec/support/context/gpg_setup.rb
Due: rubocop

Silence 3 deprecation warnings (#810)
  app/Gemfile.lock
  app/config/initializers/devise.rb
  app/spec/rails_helper.rb
Due: rubocop

FFS-3007-1: Fix CbvApplicant instantiation and add first/last names to Identity object (#806)
  app/app/models/cbv_applicant.rb
  app/app/models/payroll_account.rb
  app/app/services/aggregators/response_objects/identity.rb
  app/spec/controllers/api/invitations_controller_spec.rb
  app/spec/controllers/cbv/entries_controller_spec.rb
  app/spec/factories/cbv_applicant.rb
  app/spec/services/aggregators/response_objects/identity_spec.rb
Due: rubocop

Add pinwheel config to MatchAgencyNamesJob
  app/app/jobs/match_agency_names_job.rb
Due: rubocop

FFS-3007-2: Match names between report and indexing data (#807)
  app/app/jobs/case_worker_transmitter_job.rb
  app/app/jobs/match_agency_names_job.rb
  app/app/models/cbv_applicant.rb
  app/app/models/cbv_applicant/az_des.rb
  app/app/services/agency_name_matching_service.rb
  app/spec/jobs/case_worker_transmitter_job_spec.rb
  app/spec/jobs/match_agency_names_job_spec.rb
  app/spec/models/cbv_applicant/az_des_spec.rb
  app/spec/services/agency_name_matching_service_spec.rb
Due: rubocop

Update agency name matcher to ignore capitalization
  app/app/services/agency_name_matching_service.rb
  app/spec/services/agency_name_matching_service_spec.rb
Due: rubocop

Add rake task to backfill agency name matches
  app/lib/tasks/az_des.rake
Due: none

Update agency name matching to be "exact" when only whitespace differs
  app/app/services/agency_name_matching_service.rb
  app/spec/services/agency_name_matching_service_spec.rb
Due: rubocop

refocus on applicant info
  app/app/assets/stylesheets/cbv.scss
  app/app/views/cbv/summaries/show.html.erb
  app/config/locales/en.yml
Due: erblint, i18n-normalize, i18n-missing

revert older test
  app/spec/controllers/cbv/summaries_controller_spec.rb
Due: rubocop

FFS-3007-3: Improve agency name match logic and add backfill script (#812)
  app/app/services/agency_name_matching_service.rb
  app/lib/tasks/az_des.rake
  app/spec/services/agency_name_matching_service_spec.rb
Due: rubocop

fix: upgrade postcss from 8.5.4 to 8.5.5
  app/package-lock.json
  app/package.json
Due: none

Upgrade postcss from 8.5.4 to 8.5.5 (#813)
  app/package-lock.json
  app/package.json
Due: none

Added event tracking for the /entry page. Events are dispatched when the consent checkbox is checked and when the helper accordion objects are expanded.
  app/app/controllers/api/user_events_controller.rb
  app/app/javascript/controllers/cbv/entry_page_controller.js
  app/app/javascript/controllers/index.js
  app/app/views/cbv/entries/show.html.erb
  app/spec/controllers/api/user_events_controller_spec.rb
Due: rubocop, erblint, prettier

slight changes to event and attribute names
  app/app/controllers/api/user_events_controller.rb
  app/app/javascript/controllers/cbv/entry_page_controller.js
  app/app/views/cbv/entries/show.html.erb
  app/spec/controllers/api/user_events_controller_spec.rb
Due: rubocop, erblint, prettier

Add some E2E test debug output when a test fails
  app/spec/rails_helper.rb
Due: rubocop

Add last 100 lines of log/test.log as well
  .github/workflows/e2e-tests.yml
Due: none

Wait for browser idleness before asserting page contents
  app/spec/support/e2e/test_helpers.rb
Due: rubocop

Fix summary table for w-2
  app/app/views/cbv/summaries/show.html.erb
Due: erblint

Fix bug on /summary page with CompositeReport
  app/app/helpers/report_view_helper.rb
  app/app/views/cbv/payment_details/show.html.erb
  app/app/views/cbv/summaries/show.html.erb
Due: rubocop, erblint

Init commit for registering webhooks during the deployment process
  .github/workflows/deploy.yml
  Makefile
  app/bin/register-webhooks
  app/lib/tasks/webhooks.rake
  bin/run-webhook-registration
  infra/modules/service/access-control.tf
  infra/modules/service/outputs.tf
  infra/modules/webhooks/outputs.tf
Due: shellcheck

deleting the webhooks output module since we're going to append to the service module as a whole
  infra/modules/webhooks/outputs.tf
Due: none

adding register-webhooks script to the docker container
  app/Dockerfile
Due: none

did some rubocoping
  app/lib/tasks/webhooks.rake
Due: none

[FFS-2854] delete finished jobs from solidqueue
  app/config/initializers/solid_queue.rb
  app/lib/tasks/data_deletion.rake
  infra/app/app-config/env-config/scheduled_jobs.tf
Due: rubocop

format cleanup
  app/config/initializers/solid_queue.rb
  app/lib/tasks/data_deletion.rake
  infra/app/app-config/env-config/scheduled_jobs.tf
Due: rubocop

[FFS-2496] remove sync status fields from PayrollAccount
  app/app/models/payroll_account.rb
  app/db/migrate/20250707143042_remove_unused_fields_from_payroll_account.rb
  app/db/migrate/20250707143214_prepare_pinwheel_account_id_rename.rb
  app/db/schema.rb
  app/spec/controllers/cbv/submits_controller_spec.rb
  app/spec/controllers/webhooks/argyle/events_controller_spec.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.pdf
Due: rubocop

Adjust line-height for usa-alert__heading
  app/app/assets/stylesheets/uswds-overrides.scss
Due: none

show old table component in pdf
  app/app/components/report/monthly_summary_table_component.erb
  app/app/components/report/monthly_summary_table_component.rb
  app/app/views/cbv/submits/show.pdf.erb
Due: rubocop, erblint

More fixing for date ranges, different approach
  app/app/components/report/monthly_summary_table_component.rb
  app/app/helpers/report_view_helper.rb
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/app/views/cbv/payment_details/show.html.erb
  app/app/views/cbv/summaries/show.html.erb
  app/spec/helpers/report_view_helper_spec.rb
Due: rubocop, erblint

fix: upgrade postcss from 8.5.5 to 8.5.6
  app/package-lock.json
  app/package.json
Due: none

FFS-3029: Add no income found alert on /payment_details (#808)
  app/app/assets/stylesheets/uswds-overrides.scss
  app/app/components/alert_component.html.erb
  app/app/components/alert_component.rb
  app/app/components/report/monthly_summary_table_component.erb
  app/app/components/report/monthly_summary_table_component.rb
  app/app/helpers/report_view_helper.rb
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/app/views/cbv/payment_details/show.html.erb
  app/app/views/cbv/submits/show.pdf.erb
  app/app/views/cbv/summaries/show.html.erb
  app/spec/components/alert_component_spec.rb
  app/spec/components/report/monthly_summary_table_component_spec.rb
  app/spec/helpers/report_view_helper_spec.rb
Due: rubocop, erblint

excepted untranslated LA wind down copy, removed unused string tokens
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: i18n-normalize, i18n-missing

Path conditions:
  rubocop: any of: ^app/.*\.rb$
  erblint: any of: ^app/.*\.erb$
  i18n-normalize: any of: ^app/config/locales/.*\.yml$
  i18n-missing: any of: ^app/config/locales/.*\.yml$
  shellcheck: any of: ^bin/.*$
  prettier: any of: ^app/.*\.(js|ts)$
