Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-unused, i18n-normalize, shellcheck, prettier, terraform_fmt, actionlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml

- repo: local
  hooks:
  - id: rubocop
    name: rubocop
    entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
    language: system
    files: '^app/.*\.rb$'

  # this rubocop hook works on windows/wsl, and is being left here as of 8/27/2025 to figure it out at some point
  #- id: rubocop
  #  name: rubocop
  #  language: system
  #  entry: bash -lc 'BUNDLE_GEMFILE=app/Gemfile cd app && bundle exec rubocop -a --force-exclusion'
  #  types: [ ruby ]
  #  files: '^app/.*\.rb$'
  #  pass_filenames: false

  - id: erblint
    name: erblint
    entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
    language: system
    files: '^app/.*\.erb$'

  - id: i18n-unused
    name: i18n-unused
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks unused
    language: system
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: i18n-normalize
    name: i18n-normalize
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
    language: system
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system        # installed via `brew bundle`
    files: '^bin/.*$'

  - id: prettier
    name: prettier
    entry: bin/run-linter --cd app -- npm run format:precommit
    language: node
    files: '^app/.*\.(js|ts)$'

  - id: terraform_fmt
    name: Terraform Fmt
    entry: terraform fmt
    language: system
    files: 'infra/.*\.tf$'

#  - id: checkov
#    name: Checkov
#    entry: checkov --quiet --output sarif --framework terraform -f
#    language: system
#    files: 'infra/.*\.tf$'

  - id: actionlint
    name: ActionLint
    entry: actionlint
    language: system
    files: '^.github/.*\.yml$'
    pass_filenames: false

FFS-4008: Spike: Investigate speeding up our E2E test suite (#1698)
  .github/workflows/e2e-tests.yml
  .github/workflows/rspec.yml
  app/.gitignore
  app/AGENTS.md
  app/Gemfile
  app/Gemfile.lock
  app/config/database.yml
  app/spec/controllers/cbv/applicant_informations_controller_spec.rb
  app/spec/controllers/cbv/expired_invitations_controller_spec.rb
  app/spec/controllers/cbv/synchronization_failures_controller_spec.rb
  app/spec/controllers/feedbacks_controller_spec.rb
  app/spec/e2e/applicant_information_spec.rb
  app/spec/e2e/expired_invitation_spec.rb
  app/spec/e2e/synchronization_failures_spec.rb
  app/spec/support/e2e/test_helpers.rb
Due: rubocop, actionlint

Adjust table headers + misc
  app/app/components/report/employment_details_table_component.html.erb
  app/app/components/report/employment_details_table_component.rb
  app/app/components/report/gig_monthly_summary_table_component.html.erb
  app/app/components/report/gig_monthly_summary_table_component.rb
  app/app/components/report/payments_deductions_monthly_summary_component.html.erb
  app/app/components/report/payments_deductions_monthly_summary_component.rb
  app/app/components/report/w2_monthly_summary_table_component.html.erb
  app/app/components/report/w2_monthly_summary_table_component.rb
  app/app/views/activities/education/_review_fully_self_attested.html.erb
  app/app/views/activities/education/_review_partially_self_attested.html.erb
  app/app/views/activities/employment/review.html.erb
  app/app/views/activities/income/payment_details/show.html.erb
  app/app/views/activities/job_training/review.html.erb
  app/app/views/activities/summary/_employment_table.html.erb
  app/app/views/activities/summary/_fully_self_attested_education_table.html.erb
  app/app/views/activities/summary/_job_training_table.html.erb
  app/app/views/activities/summary/_partially_self_attested_education_table.html.erb
  app/app/views/activities/summary/_self_attested_employment_table.html.erb
  app/app/views/activities/summary/_volunteering_table.html.erb
  app/app/views/activities/volunteering/review.html.erb
  app/config/locales/en.yml
  app/spec/components/report/employment_details_table_component_spec.rb
  app/spec/components/report/gig_monthly_summary_table_component_spec.rb
  app/spec/components/report/payments_deductions_monthly_summary_component_spec.rb
  app/spec/components/report/w2_monthly_summary_table_component_spec.rb
  app/spec/controllers/activities/education_controller_spec.rb
  app/spec/controllers/activities/employment_controller_spec.rb
  app/spec/controllers/activities/income/payment_details_controller_spec.rb
  app/spec/controllers/activities/job_training_controller_spec.rb
  app/spec/controllers/activities/summary_controller_spec.rb
  app/spec/controllers/activities/volunteering_controller_spec.rb
  app/spec/e2e/activity_hub_education_partially_self_attested_review_spec.rb
  app/spec/e2e/activity_hub_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Fix localization
  app/config/i18n-tasks.yml
Due: none

Bump libc to fix vuln scans
  .github/scripts/patch-dockerfile.rb
  app/Dockerfile
Due: none

Unpin versions of build dependencies
  app/Dockerfile
Due: none

Bump libc to fix vuln scans (#1732)
  .github/scripts/patch-dockerfile.rb
  app/Dockerfile
Due: none

FFS-4106: Update table and column header content to match designs (#1726)
  app/app/components/report/employment_details_table_component.html.erb
  app/app/components/report/employment_details_table_component.rb
  app/app/components/report/gig_monthly_summary_table_component.html.erb
  app/app/components/report/gig_monthly_summary_table_component.rb
  app/app/components/report/payments_deductions_monthly_summary_component.html.erb
  app/app/components/report/payments_deductions_monthly_summary_component.rb
  app/app/components/report/w2_monthly_summary_table_component.html.erb
  app/app/components/report/w2_monthly_summary_table_component.rb
  app/app/views/activities/education/_review_fully_self_attested.html.erb
  app/app/views/activities/education/_review_partially_self_attested.html.erb
  app/app/views/activities/employment/review.html.erb
  app/app/views/activities/income/payment_details/show.html.erb
  app/app/views/activities/job_training/review.html.erb
  app/app/views/activities/summary/_employment_table.html.erb
  app/app/views/activities/summary/_fully_self_attested_education_table.html.erb
  app/app/views/activities/summary/_job_training_table.html.erb
  app/app/views/activities/summary/_partially_self_attested_education_table.html.erb
  app/app/views/activities/summary/_self_attested_employment_table.html.erb
  app/app/views/activities/summary/_volunteering_table.html.erb
  app/app/views/activities/volunteering/review.html.erb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/spec/components/report/employment_details_table_component_spec.rb
  app/spec/components/report/gig_monthly_summary_table_component_spec.rb
  app/spec/components/report/payments_deductions_monthly_summary_component_spec.rb
  app/spec/components/report/w2_monthly_summary_table_component_spec.rb
  app/spec/controllers/activities/education_controller_spec.rb
  app/spec/controllers/activities/employment_controller_spec.rb
  app/spec/controllers/activities/income/payment_details_controller_spec.rb
  app/spec/controllers/activities/job_training_controller_spec.rb
  app/spec/controllers/activities/summary_controller_spec.rb
  app/spec/controllers/activities/volunteering_controller_spec.rb
  app/spec/e2e/activity_hub_education_partially_self_attested_review_spec.rb
  app/spec/e2e/activity_hub_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Allow partially redacted reports to be sent
  app/app/jobs/case_worker_transmitter_job.rb
  app/spec/jobs/case_worker_transmitter_job_spec.rb
Due: rubocop

FFS-3666: documentation updates (#1711)
  AGENTS.md
  docs/api/api-flow.png
  docs/api/income-report.md
  docs/api/tokenized-link.md
  docs/repository-guide.md
Due: none

FFS-4437: document manual GitHub release process
  docs/release-process.md
Due: none

edits
  docs/release-process.md
Due: none

Bump premailer from 1.23.0 to 1.29.0 to fix deprecation warning
  app/Gemfile
  app/Gemfile.lock
Due: none

Bump premailer from 1.23.0 to 1.29.0 to fix deprecation warning (#1735)
  app/Gemfile
  app/Gemfile.lock
Due: none

No ticket: Allow partially redacted reports to be sent (#1733)
  app/app/jobs/case_worker_transmitter_job.rb
  app/spec/jobs/case_worker_transmitter_job_spec.rb
Due: rubocop

chore: add agent session log
  docs/agent-session-ffs-4409.md
Due: none

FFS-4072: Fix single-month reporting period display
  app/app/models/activity_flow.rb
  app/app/views/activities/activities/index.html.erb
  app/spec/models/activity_flow_spec.rb
Due: rubocop, erblint

FFS-4409: Add PR description for placeholder test ticket
  PR_DESCRIPTION.md
Due: none

FFS-4409: Note pre-commit skip in PR description
  PR_DESCRIPTION.md
Due: none

FFS-4421: Update will-deploy script to point to new launcher
  PR_DESCRIPTION.md
  app/bin/will-deploy
Due: none

chore: add code review
  CODE_REVIEW.md
Due: none

FFS-4421: Update will-deploy link to launcher
  app/bin/will-deploy
Due: none

FFS-4421: Update will-deploy script to output new launcher link
  app/bin/will-deploy
Due: none

Snapshot POC
  app/.percy.yml
  app/Gemfile
  app/Gemfile.lock
  app/percy/lookbook-snapshots.yml
  app/spec/e2e/activity_hub_spec.rb
  app/spec/e2e/visual_snapshots_spec.rb
Due: rubocop

fix: patch Dockerfile for OS-level CVEs flagged by Trivy/Anchore
  app/Dockerfile
Due: none

Add PDF gross pay line items
  app/app/components/aggregate_data_point_component.rb
  app/app/views/cbv/submits/show.pdf.erb
  app/spec/components/aggregate_data_point_component_spec.rb
  app/spec/controllers/cbv/submits_controller_spec.rb
Due: rubocop, erblint

Some documentation in repo
  docs/spikes/2026-05-26-visual-snapshot-testing-percy.md
Due: none

[FFS-4393] Add support for publishing Docker images to Artifactory
  .github/workflows/build-and-publish-to-artifactory.yml
  Makefile
  bin/publish-release-artifactory
Due: shellcheck, actionlint

Potential fix for pull request finding 'CodeQL / Workflow does not contain permissions'
  .github/workflows/build-and-publish-to-artifactory.yml
Due: actionlint

[FFS-4393] Add support for publishing Docker images to Artifactory (#1748)
  .github/workflows/build-and-publish-to-artifactory.yml
  Makefile
  bin/publish-release-artifactory
Due: shellcheck, actionlint

AGENTS.md update
  app/AGENTS.md
Due: none

AGENTS.md update (#1749)
  app/AGENTS.md
Due: none

Fix spec / merge change
  app/app/views/activities/summary/_fully_self_attested_education_table.html.erb
  app/app/views/activities/summary/_partially_self_attested_education_table.html.erb
Due: erblint

FFS-4071: Remove flow navigation from NSC sync page (#1718)
  app/app/views/activities/education/show.html.erb
  app/spec/controllers/activities/education_controller_spec.rb
Due: rubocop, erblint

Unify
  app/app/components/activity_flow_progress_indicator.rb
  app/app/helpers/activities_helper.rb
  app/app/helpers/application_helper.rb
  app/app/models/education_activity.rb
  app/app/models/employment_activity.rb
  app/app/models/job_training_activity.rb
  app/app/models/volunteering_activity.rb
  app/spec/helpers/activities_helper_spec.rb
  app/spec/helpers/application_helper_spec.rb
  app/spec/models/employment_activity_spec.rb
Due: rubocop

Style PDF gross pay line item labels
  app/app/assets/stylesheets/cbv.scss
  app/app/components/aggregate_data_point_component.html.erb
  app/app/components/aggregate_data_point_component.rb
  app/spec/components/aggregate_data_point_component_spec.rb
Due: rubocop, erblint

Fix PDF gross pay line item indentation
  app/app/assets/stylesheets/cbv.scss
  app/app/components/aggregate_data_point_component.html.erb
  app/app/components/aggregate_data_point_component.rb
  app/spec/components/aggregate_data_point_component_spec.rb
Due: rubocop, erblint
