Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-normalize, i18n-missing, shellcheck, prettier

rubocop:
  name: rubocop
  entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
  language: ruby

erblint:
  name: erblint
  entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
  language: ruby

i18n-normalize:
  name: i18n-normalize
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
  language: ruby
  pass_filenames: false

i18n-missing:
  name: i18n-missing
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks missing
  language: ruby
  pass_filenames: false

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system

prettier:
  name: prettier
  entry: bin/run-linter --cd app -- npm run format:precommit
  language: node

FFS-3028: create accordion viewcomponent and use it on /entry (#825)
  app/app/components/accordion_component.html.erb
  app/app/components/accordion_component.rb
  app/app/views/cbv/entries/show.html.erb
  app/spec/components/accordion_component_spec.rb
Due: rubocop, erblint

wip
  app/app/components/aggregate_data_point_component.rb
  app/app/components/table_component.html.erb
  app/app/components/table_component.rb
  app/app/components/table_header_two_column_component.html.erb
  app/app/components/table_header_two_column_component.rb
  app/app/views/cbv/payment_details/show.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/spec/components/table_header_two_column_component_spec.rb
Due: rubocop, erblint, i18n-normalize, i18n-missing

updating referring tracking to use query parameters instead of referer header (#827)
  app/app/controllers/feedbacks_controller.rb
  app/app/views/application/_footer.html.erb
  app/spec/controllers/feedbacks_controller_spec.rb
Due: rubocop, erblint

ensuring proper permissions to execute register-webhooks script
  app/Dockerfile
  app/bin/register-webhooks
Due: none

FFS-3031: Use TableComponent for applicant info table on /summary
  app/app/assets/stylesheets/cbv.scss
  app/app/components/table_cell_component.rb
  app/app/views/cbv/summaries/show.html.erb
  app/spec/components/table_cell_component_spec.rb
Due: rubocop, erblint

fix lints, add table test
  app/app/components/table_component.html.erb
  app/app/components/table_component.rb
  app/app/views/cbv/summaries/show.html.erb
  app/spec/components/table_cell_component_spec.rb
  app/spec/components/table_component_spec.rb
  app/spec/controllers/cbv/summaries_controller_spec.rb
Due: rubocop, erblint

fix erb lint
  app/app/components/table_component.html.erb
Due: erblint

refocus on applicant info
  app/app/assets/stylesheets/cbv.scss
  app/app/views/cbv/summaries/show.html.erb
  app/config/locales/en.yml
Due: erblint, i18n-normalize, i18n-missing

revert older test
  app/spec/controllers/cbv/summaries_controller_spec.rb
Due: rubocop

add spanish translations
  app/config/locales/es.yml
Due: i18n-normalize, i18n-missing

remove unintentional change
  app/app/views/cbv/summaries/show.html.erb
Due: erblint

run i18n-normalize
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: i18n-normalize, i18n-missing

parameterize heading level
  app/app/components/accordion_component.html.erb
  app/app/components/accordion_component.rb
  app/app/views/cbv/entries/show.html.erb
Due: rubocop, erblint

re-add mistakenly deleted variable
  app/app/components/accordion_component.rb
Due: rubocop

No ticket: parameterize accordion heading level (#831)
  app/app/components/accordion_component.html.erb
  app/app/components/accordion_component.rb
  app/app/views/cbv/entries/show.html.erb
Due: rubocop, erblint

Add some debugging when E2E tests fail (#803)
  .github/workflows/e2e-tests.yml
  app/spec/rails_helper.rb
  app/spec/support/e2e/test_helpers.rb
Due: rubocop

importing Spanish translations
  app/config/locales/es.yml
Due: i18n-normalize, i18n-missing

normlaizing es.yml file
  app/config/locales/es.yml
Due: i18n-normalize, i18n-missing

FFS-3031: Use TableComponent for applicant info table on /summary (#811)
  app/app/assets/stylesheets/cbv.scss
  app/app/components/table_cell_component.rb
  app/app/components/table_component.html.erb
  app/app/components/table_component.rb
  app/app/views/cbv/summaries/show.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/spec/components/table_cell_component_spec.rb
  app/spec/components/table_component_spec.rb
Due: rubocop, erblint, i18n-normalize, i18n-missing

Fix timeout modal being hidden behind Argyle
  app/app/assets/stylesheets/cbv.scss
Due: none

wip
  app/app/components/accordion_component.html.erb
Due: erblint

wip -- working accordions with monthly tables
  app/app/components/accordion_component.html.erb
  app/app/controllers/cbv/payment_details_controller.rb
  app/app/views/cbv/payment_details/show.html.erb
Due: rubocop, erblint

added no payments alert back
  app/app/views/cbv/payment_details/show.html.erb
Due: erblint

Enable PR environments
  .github/workflows/ci-app-pr-environment-checks.yml
  .github/workflows/ci-app-pr-environment-destroy.yml
  infra/app/service/deprecated_domains.tf
  infra/app/service/main.tf
  infra/app/service/newrelic.tf
  infra/modules/service/access-logs.tf
  infra/modules/service/dns.tf
  infra/modules/service/main.tf
  infra/modules/storage/lifecycle.tf
  infra/modules/terraform-backend-s3/main.tf
Due: none

Add Mixpanel JS and use it to record anonymized user sessions
  app/.erb_lint.yml
  app/app/controllers/application_controller.rb
  app/app/controllers/cbv/base_controller.rb
  app/app/views/application/_analytics.html.erb
  app/app/views/layouts/application.html.erb
  app/config/initializers/content_security_policy.rb
Due: rubocop, erblint

importing spanish, fixing import bug
  app/app/views/cbv/other_jobs/show.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/lib/i18n_csv_tasks.rb
Due: rubocop, erblint, i18n-normalize, i18n-missing

Rename MonthlySummaryTable to GigMonthlySummaryTable
  app/app/components/report/gig_monthly_summary_table_component.erb
  app/app/components/report/gig_monthly_summary_table_component.rb
  app/app/views/cbv/payment_details/show.html.erb
  app/app/views/cbv/submits/show.pdf.erb
  app/app/views/cbv/summaries/show.html.erb
  app/spec/components/report/gig_monthly_summary_table_component_spec.rb
Due: rubocop, erblint

Get rid of pull_request trigger
  .github/workflows/ci-app-pr-environment-checks.yml
Due: none

Add Mixpanel attributes to two events
  app/app/controllers/api/argyle_controller.rb
  app/app/controllers/api/pinwheel_controller.rb
  app/app/controllers/feedbacks_controller.rb
Due: rubocop

Upgrade `erzz/dockle-action` v1.3.1 -> v1.4.0
  .github/workflows/vulnerability-scans.yml
Due: none

Upgrade `aquasecurity/tfsec-pr-commenter-action` v1.2.0 -> v1.3.1
  .github/workflows/ci-infra.yml
Due: none

introduced w2 monthly summary table by forking the gig monthly summary table
  app/app/components/report/w2_monthly_summary_table_component.erb
  app/app/components/report/w2_monthly_summary_table_component.rb
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/app/services/aggregators/format_methods/argyle.rb
  app/config/locales/en.yml
  app/spec/components/report/w2_monthly_summary_table_component_spec.rb
Due: rubocop, erblint, i18n-normalize, i18n-missing

add w2 monthly summary table into payment details page.
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/app/views/cbv/payment_details/show.html.erb
  app/spec/controllers/cbv/payment_details_controller_spec.rb
Due: rubocop, erblint

FFS-3038: Fix timeout modal being hidden behind Argyle (#836)
  app/app/assets/stylesheets/cbv.scss
Due: none

FFS-2430 Remove inline HTML styles
  app/app/assets/stylesheets/cbv.scss
  app/app/assets/stylesheets/uswds-settings.scss
  app/app/components/table_header_component.html.erb
  app/app/views/cbv/submits/show.pdf.erb
  app/app/views/cbv/successes/show.html.erb
  app/app/views/cbv/summaries/show.html.erb
Due: erblint

FFS-2430: Remove inline HTML styles (#837)
  app/app/assets/stylesheets/cbv.scss
  app/app/assets/stylesheets/uswds-settings.scss
  app/app/components/table_header_component.html.erb
  app/app/views/cbv/submits/show.pdf.erb
  app/app/views/cbv/successes/show.html.erb
  app/app/views/cbv/summaries/show.html.erb
Due: erblint

updating summaries show.html.erb
  app/app/views/cbv/summaries/show.html.erb
Due: erblint

Revert "Merge branch 'george/ffs-2932-ldh-other-job'"
  app/app/controllers/cbv/add_jobs_controller.rb
  app/app/controllers/cbv/base_controller.rb
  app/app/controllers/cbv/other_jobs_controller.rb
  app/app/helpers/report_view_helper.rb
  app/app/services/client_agency/az_des/report_fields.rb
  app/app/services/client_agency/la_ldh/report_fields.rb
  app/app/services/client_agency/report_fields.rb
  app/app/services/client_agency/sandbox/report_fields.rb
  app/app/views/cbv/add_jobs/show.html.erb
  app/app/views/cbv/other_jobs/show.html.erb
  app/app/views/cbv/submits/show.pdf.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/config/routes.rb
  app/db/migrate/20250617183425_add_has_other_jobs_to_cbv_flow.rb
  app/lib/i18n_csv_tasks.rb
  app/spec/controllers/cbv/add_jobs_controller_spec.rb
  app/spec/controllers/cbv/other_jobs_controller_spec.rb
  app/spec/helpers/report_view_helper_spec.rb
Due: rubocop, erblint, i18n-normalize, i18n-missing

Revert "updating summaries show.html.erb"
  app/app/views/cbv/summaries/show.html.erb
Due: erblint

Revert 4532f1f2f2a640c9a2e94f82f444b0d1ac5c5881
  app/app/views/cbv/summaries/show.html.erb
Due: erblint

Path conditions:
  rubocop: any of: ^app/.*\.rb$
  erblint: any of: ^app/.*\.erb$
  i18n-normalize: any of: ^app/config/locales/.*\.yml$
  i18n-missing: any of: ^app/config/locales/.*\.yml$
  shellcheck: any of: ^bin/.*$
  prettier: any of: ^app/.*\.(js|ts)$
