Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-normalize, i18n-missing, shellcheck, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml

- repo: local
  hooks:
  - id: rubocop
    name: rubocop
    entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
    language: ruby
    files: '^app/.*\.rb$'

  - id: erblint
    name: erblint
    entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
    language: ruby
    files: '^app/.*\.erb$'

  - id: i18n-normalize
    name: i18n-normalize
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
    language: ruby
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: i18n-missing
    name: i18n-missing
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks missing
    language: ruby
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system        # installed via `brew bundle`
    files: '^bin/.*$'

  - id: prettier
    name: prettier
    entry: bin/run-linter --cd app -- npm run format:precommit
    language: node
    files: '^app/.*\.(js|ts)$'

updating i18n missing translations entries until we have spanish translations for LA
  app/config/i18n-tasks.yml
Due: none

added accordions
  app/app/assets/stylesheets/cbv.scss
  app/app/views/cbv/entries/show.html.erb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
Due: erblint, i18n-normalize, i18n-missing

Add min width to allow logo to shrink
  app/app/assets/stylesheets/cbv.scss
Due: none

Rename ApplicantReceivedArgyleData `sixty_days` -> `ninety_days`
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/spec/controllers/webhooks/argyle/events_controller_spec.rb
Due: rubocop

Add argyle/pinwheel environment to sync events
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/app/controllers/webhooks/pinwheel/events_controller.rb
  app/spec/controllers/webhooks/argyle/events_controller_spec.rb
  app/spec/controllers/webhooks/pinwheel/events_controller_spec.rb
Due: rubocop

Limit ApplicantFinishedArgyleSync to only track once
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/spec/controllers/webhooks/argyle/events_controller_spec.rb
Due: rubocop

Update bin/will-deploy to tag the correct slack group
  app/bin/will-deploy
Due: none

Tests for app/spec/jobs/case_worker_transmitter_job_spec.rb
  app/spec/jobs/case_worker_transmitter_job_spec.rb
Due: rubocop

Fix error in previous test, submits_controller_spec.rb
  app/spec/controllers/cbv/submits_controller_spec.rb
  app/spec/jobs/case_worker_transmitter_job_spec.rb
Due: rubocop

Test name
  app/spec/jobs/case_worker_transmitter_job_spec.rb
Due: rubocop

Remove logger
  app/app/jobs/case_worker_transmitter_job.rb
  app/spec/jobs/case_worker_transmitter_job_spec.rb
Due: rubocop

Add test for underscores
  app/spec/controllers/cbv/submits_controller_spec.rb
Due: rubocop

FFS-2821: /success does not show confirmation number (#640)
  app/app/controllers/cbv/submits_controller.rb
  app/app/jobs/case_worker_transmitter_job.rb
  app/spec/controllers/cbv/submits_controller_spec.rb
  app/spec/jobs/case_worker_transmitter_job_spec.rb
Due: rubocop

Add ID attributes to ApplicantReportMetUsefulRequirements events
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/app/controllers/webhooks/pinwheel/events_controller.rb
  app/spec/controllers/webhooks/argyle/events_controller_spec.rb
  app/spec/controllers/webhooks/pinwheel/events_controller_spec.rb
Due: rubocop

Relying on models for error validations. May need to clean up the en.yml file for entries that we may no longer require. One test is failing regarding the applicant_informations controller
  app/app/models/cbv_applicant.rb
  app/app/views/cbv/applicant_informations/_la_ldh.html.erb
  app/app/views/cbv/applicant_informations/_sandbox.html.erb
  app/config/client-agency-config.yml
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/spec/models/cbv_applicant_spec.rb
Due: rubocop, erblint, i18n-normalize, i18n-missing

slight refactor of the applicant_informations_controller
  app/app/controllers/cbv/applicant_informations_controller.rb
  app/app/models/cbv_applicant.rb
Due: rubocop

wrapping the save method in a rescue block to log any potential issues
  app/app/controllers/cbv/applicant_informations_controller.rb
Due: rubocop

implemented copy changes
  app/app/views/cbv/payment_details/show.html.erb
  app/config/locales/en.yml
Due: erblint, i18n-normalize, i18n-missing

remove libvips, because its an image processing library that had a security vuln and rather than update, why bump this unless we need it
  app/Dockerfile
Due: none

implemented copy changes
  app/app/views/cbv/summaries/show.html.erb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: erblint, i18n-normalize, i18n-missing

corrected rspec test
  app/spec/controllers/cbv/summaries_controller_spec.rb
Due: rubocop

removed unused strings
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: i18n-normalize, i18n-missing

FFS-2688: implemented copy changes for /summary (#649)
  app/app/views/cbv/summaries/show.html.erb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/spec/controllers/cbv/summaries_controller_spec.rb
Due: rubocop, erblint, i18n-normalize, i18n-missing

remove libvips, because its an image processing library that had a security vuln and rather than update, remove
  app/Dockerfile
Due: none

fix specs
  app/spec/controllers/cbv/payment_details_controller_spec.rb
Due: rubocop

FFS-2754: finish extracting out maybe later
  app/Gemfile
  app/Gemfile.lock
  app/app/controllers/cbv/submits_controller.rb
  app/lib/generic_event_tracker.rb
  app/lib/new_relic_event_tracker.rb
  app/spec/controllers/api/argyle_controller_spec.rb
  app/spec/controllers/api/pinwheel_controller_spec.rb
  app/spec/controllers/api/user_events_controller_spec.rb
  app/spec/controllers/cbv/employer_searches_controller_spec.rb
  app/spec/controllers/cbv/entries_controller_spec.rb
  app/spec/controllers/cbv/payment_details_controller_spec.rb
  app/spec/controllers/cbv/submits_controller_spec.rb
  app/spec/controllers/cbv/summaries_controller_spec.rb
  app/spec/controllers/help_controller_spec.rb
  app/spec/controllers/users/omniauth_callbacks_controller_spec.rb
  app/spec/controllers/webhooks/pinwheel/events_controller_spec.rb
  app/spec/jobs/event_tracking_job_spec.rb
  app/spec/lib/mixpanel_event_tracker_spec.rb
  app/spec/lib/new_relic_event_tracker_spec.rb
  app/spec/mailers/weekly_report_mailer_spec.rb
  app/spec/rails_helper.rb
Due: rubocop

FFS-2689: Implement Louisiana DH logo (#631)
  app/app/assets/images/ldh_logo.svg
  app/app/assets/stylesheets/cbv.scss
  app/app/views/application/_header.html.erb
  app/app/views/cbv/submits/show.pdf.erb
  app/config/client-agency-config.yml
Due: erblint

fix spec wording
  app/spec/controllers/help_controller_spec.rb
Due: rubocop

combined validation methods into a single is_valid method. refactored the tests so that they are easier to follow
  app/app/controllers/cbv/applicant_informations_controller.rb
  app/app/models/cbv_applicant.rb
  app/config/i18n-tasks.yml
  app/spec/models/cbv_applicant_spec.rb
Due: rubocop

FFS-2754: finish extracting out maybe later (#597)
  app/Gemfile
  app/Gemfile.lock
  app/app/controllers/cbv/submits_controller.rb
  app/lib/generic_event_tracker.rb
  app/lib/new_relic_event_tracker.rb
  app/spec/controllers/api/argyle_controller_spec.rb
  app/spec/controllers/api/pinwheel_controller_spec.rb
  app/spec/controllers/api/user_events_controller_spec.rb
  app/spec/controllers/cbv/employer_searches_controller_spec.rb
  app/spec/controllers/cbv/entries_controller_spec.rb
  app/spec/controllers/cbv/payment_details_controller_spec.rb
  app/spec/controllers/cbv/submits_controller_spec.rb
  app/spec/controllers/cbv/summaries_controller_spec.rb
  app/spec/controllers/help_controller_spec.rb
  app/spec/controllers/users/omniauth_callbacks_controller_spec.rb
  app/spec/controllers/webhooks/pinwheel/events_controller_spec.rb
  app/spec/jobs/event_tracking_job_spec.rb
  app/spec/lib/mixpanel_event_tracker_spec.rb
  app/spec/lib/new_relic_event_tracker_spec.rb
  app/spec/mailers/weekly_report_mailer_spec.rb
  app/spec/rails_helper.rb
Due: rubocop

added a new get_required_applicant_attributes which is used to support other methods such as set_applicant_attributes and is_applicant_attribute_required?
  app/app/models/cbv_applicant.rb
Due: rubocop

parsing dob just as we are snap_application_date. it does not seem that we need the type attribute on the applicant_attributes
  app/app/models/cbv_applicant.rb
Due: rubocop

Make four improvements to Argyle/Pinwheel sync events (#647)
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/app/controllers/webhooks/pinwheel/events_controller.rb
  app/bin/will-deploy
  app/spec/controllers/webhooks/argyle/events_controller_spec.rb
  app/spec/controllers/webhooks/pinwheel/events_controller_spec.rb
Due: rubocop

FFS-2827: Log /gigs and /shifts analytics for Pinwheel and Argyle
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/app/controllers/webhooks/pinwheel/events_controller.rb
  app/app/models/payroll_account/pinwheel.rb
  app/spec/controllers/webhooks/argyle/events_controller_spec.rb
  app/spec/controllers/webhooks/pinwheel/events_controller_spec.rb
Due: rubocop

FFS-2688: implemented copy changes for /entry (#645)
  app/app/assets/stylesheets/cbv.scss
  app/app/views/cbv/entries/show.html.erb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: erblint, i18n-normalize, i18n-missing

switched to standard date formatter
  app/app/views/cbv/payment_details/show.html.erb
Due: erblint

updated rspec test
  app/spec/controllers/cbv/payment_details_controller_spec.rb
Due: rubocop

FFS-2827: Log /gigs and /shifts analytics for Pinwheel and Argyle (#646)
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/app/controllers/webhooks/pinwheel/events_controller.rb
  app/app/models/payroll_account/pinwheel.rb
  app/spec/controllers/webhooks/argyle/events_controller_spec.rb
  app/spec/controllers/webhooks/pinwheel/events_controller_spec.rb
Due: rubocop

renamed CbvClient::is_valid? -> CbvClient::validate_base_and_applicant_attributes?, removed dead code
  app/app/controllers/cbv/applicant_informations_controller.rb
  app/app/models/cbv_applicant.rb
  app/config/client-agency-config.yml
  app/spec/models/cbv_applicant_spec.rb
Due: rubocop

Subscribe to missing pinwheel webhook (shifts.added)
  app/app/services/pinwheel_webhook_manager.rb
Due: rubocop
