Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-unused, i18n-normalize, shellcheck, prettier, terraform_fmt, actionlint

rubocop:
  name: rubocop
  entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
  language: system

erblint:
  name: erblint
  entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
  language: system

i18n-unused:
  name: i18n-unused
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks unused
  language: system
  pass_filenames: false

i18n-normalize:
  name: i18n-normalize
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
  language: system
  pass_filenames: false

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system

prettier:
  name: prettier
  entry: bin/run-linter --cd app -- npm run format:precommit
  language: node

terraform_fmt:
  name: Terraform Fmt
  entry: terraform fmt
  language: system

actionlint:
  name: ActionLint
  entry: actionlint
  language: system
  pass_filenames: false

[FFS-4505] add hawaii to sandbox access to allow hawaii to test things out
  app/config/client-agency-config.yml
Due: none

Potential fix for pull request finding
  docs/api/schemas/income-report-2026-06-18.json
Due: none

FFS-4452: Add JSONSchema for Income Report API (and validate it) (#1844)
  .github/workflows/ci-docs.yml
  .pre-commit-config.yaml
  app/Gemfile
  app/Gemfile.lock
  app/bin/validate-json-schemas
  app/spec/services/transmitters/json_transmitter_spec.rb
  docs/api/income-report.md
  docs/api/schemas/income-report-2026-06-18.json
Due: rubocop, actionlint

Add CMS deploy workflow
  .github/workflows/README.md
  .github/workflows/build-and-publish-to-cms.yml
  .github/workflows/deploy-cms.yml
  bin/deploy-ecs-manual
  bin/is-ecr-image-published
Due: shellcheck, actionlint

Remove app input from CMS deploy wrapper
  .github/workflows/deploy-cms.yml
Due: actionlint

FFS-4499: Use SHA image tags for UAT deploys (#1848)
  .github/workflows/README.md
  .github/workflows/build-and-publish-to-cms.yml
  .github/workflows/deploy-cms.yml
  bin/deploy-ecs-manual
  bin/is-ecr-image-published
Due: shellcheck, actionlint

Create CODEOWNERS
  .github/CODEOWNERS
Due: none

remove the .md version and update links
  .github/ISSUE_TEMPLATE/contributor_ladder.md
  CODEOWNERS.md
  COMMUNITY.md
  CONTRIBUTING.md
  README.md
Due: none

fix: patch Dockerfile for OS-level CVEs flagged by Trivy/Anchore
  app/Dockerfile
Due: none

update spacing
  COMMUNITY.md
Due: none

update owners to use DSACMS team
  .github/CODEOWNERS
Due: none

apply copilot suggestion
  .github/ISSUE_TEMPLATE/contributor_ladder.md
Due: none

update assigned owners to reflect renamed team
  .github/CODEOWNERS
Due: none

Remove SNAP data field
  app/app/views/cbv/submits/show.pdf.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/spec/controllers/cbv/submits_controller_spec.rb
  app/spec/factories/aggregator_report.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Fix bundle audit
  app/Gemfile.lock
Due: none

FFS-4526: Deploy to Solid Queue ECS container too
  bin/deploy-ecs-manual
Due: shellcheck

[FFS-4505] add hawaii to sandbox access to allow hawaii to test things out (#1834)
  app/config/client-agency-config.yml
Due: none

FFS-4526: Deploy to Solid Queue ECS container too (#1854)
  bin/deploy-ecs-manual
Due: shellcheck

Add AI disclosure to autofix PRs
  .github/workflows/auto-fix-vulnerabilities.yml
Due: actionlint

[FFS-4528] create custom testing configuration base for hawaii
  app/app/assets/images/hawaii_logo.webp
  app/config/client-agency-config.yml
Due: none

Add AI disclosure to autofix PRs (#1866)
  .github/workflows/auto-fix-vulnerabilities.yml
Due: actionlint

hate how domains work but punting the problem for now
  app/config/client-agency-config.yml
Due: none

fixing names
  infra/app/app-config/env-config/environment-variables.tf
Due: terraform_fmt

Move appenders to block, will be deprecated in 6.0
  app/config/application.rb
Due: rubocop

missed terra
  infra/app/app-config/env-config/environment-variables.tf
Due: terraform_fmt

hawaii class add
  app/app/models/cbv_applicant/hawaii.rb
Due: rubocop

tfformatt
  infra/app/app-config/env-config/environment-variables.tf
Due: terraform_fmt

Create noncompliance templates
  docs/ce-comms/notice-templates/noncompliance templates
Due: none

FFS-4524: Income reports showing SNAP data field (#1852)
  app/app/views/cbv/submits/show.pdf.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/spec/controllers/cbv/submits_controller_spec.rb
  app/spec/factories/aggregator_report.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

FFS-4526: Update IMAGE_TAG on ECS deployment too
  bin/deploy-ecs-manual
Due: shellcheck

FFS-4526: Update IMAGE_TAG on ECS deployment too (#1868)
  bin/deploy-ecs-manual
Due: shellcheck

Put dependabot options in one line and change approvers
  app/bin/will-deploy
Due: none

Create noncompliance notices
  docs/ce-comms/notice-templates/noncompliance notices
Due: none

Put dependabot updates listed in one line in /will-deploy (#1853)
  app/bin/will-deploy
Due: none

Household foundation + tests
  app/app/controllers/activities/base_controller.rb
  app/app/controllers/application_controller.rb
  app/app/controllers/demo_launcher_controller.rb
  app/app/controllers/flow_controller.rb
  app/app/controllers/household_members_controller.rb
  app/app/controllers/households_controller.rb
  app/app/javascript/controllers/demo_launcher_controller.js
  app/app/models/activity_flow.rb
  app/app/models/household.rb
  app/app/models/household_member.rb
  app/app/services/demo_launcher/household_scenario.rb
  app/app/views/demo_launcher/advanced.html.erb
  app/app/views/households/show.html.erb
  app/config/locales/en.yml
  app/config/routes.rb
  app/db/migrate/20260629120000_create_households.rb
  app/db/schema.rb
  app/spec/controllers/demo_launcher_controller_spec.rb
  app/spec/controllers/household_members_controller_spec.rb
  app/spec/controllers/households_controller_spec.rb
  app/spec/factories/household_members.rb
  app/spec/factories/households.rb
  app/spec/models/activity_flow_spec.rb
  app/spec/models/household_member_spec.rb
  app/spec/models/household_spec.rb
  app/spec/services/demo_launcher/household_scenario_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize, prettier

Address possible applicant reuse
  app/app/services/demo_launcher/household_scenario.rb
  app/spec/services/demo_launcher/household_scenario_spec.rb
Due: rubocop

Rename reference id, fix locale
  app/app/services/demo_launcher/household_scenario.rb
  app/config/i18n-tasks.yml
Due: rubocop

Unify applicant field declaration/requirement/redactability in config
  app/app/models/cbv_applicant.rb
  app/app/models/cbv_applicant/accenture.rb
  app/app/models/cbv_applicant/la_ldh.rb
  app/app/models/cbv_applicant/nh_dhhs.rb
  app/app/models/cbv_applicant/research.rb
  app/app/models/cbv_applicant/sandbox.rb
  app/app/models/concerns/redactable.rb
  app/config/client-agency-config.yml
  app/lib/client_agency_config.rb
  app/spec/factories/cbv_applicant.rb
  app/spec/lib/client_agency_config_spec.rb
  app/spec/models/cbv_applicant_spec.rb
  app/spec/models/concerns/redactable_spec.rb
Due: rubocop

Change error message for accuracy
  app/app/models/concerns/redactable.rb
  app/spec/models/cbv_applicant_spec.rb
  app/spec/models/concerns/redactable_spec.rb
Due: rubocop

Update noncompliance notices
  docs/ce-comms/notice-templates/noncompliance notices
Due: none

Path conditions:
  rubocop: any of: ^app/.*\.rb$
  erblint: any of: ^app/.*\.erb$
  i18n-unused: any of: ^app/config/locales/.*\.yml$
  i18n-normalize: any of: ^app/config/locales/.*\.yml$
  shellcheck: any of: ^bin/.*$
  prettier: any of: ^app/.*\.(js|ts)$
  terraform_fmt: any of: infra/.*\.tf$
  actionlint: any of: ^.github/.*\.yml$
