Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-unused, i18n-normalize, shellcheck, prettier, terraform_fmt, actionlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml

- repo: local
  hooks:
  - id: rubocop
    name: rubocop
    entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
    language: system
    files: '^app/.*\.rb$'

  # this rubocop hook works on windows/wsl, and is being left here as of 8/27/2025 to figure it out at some point
  #- id: rubocop
  #  name: rubocop
  #  language: system
  #  entry: bash -lc 'BUNDLE_GEMFILE=app/Gemfile cd app && bundle exec rubocop -a --force-exclusion'
  #  types: [ ruby ]
  #  files: '^app/.*\.rb$'
  #  pass_filenames: false

  - id: erblint
    name: erblint
    entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
    language: system
    files: '^app/.*\.erb$'

  - id: i18n-unused
    name: i18n-unused
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks unused
    language: system
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: i18n-normalize
    name: i18n-normalize
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
    language: system
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system        # installed via `brew bundle`
    files: '^bin/.*$'

  - id: prettier
    name: prettier
    entry: bin/run-linter --cd app -- npm run format:precommit
    language: node
    files: '^app/.*\.(js|ts)$'

  - id: terraform_fmt
    name: Terraform Fmt
    entry: terraform fmt
    language: system
    files: 'infra/.*\.tf$'

#  - id: checkov
#    name: Checkov
#    entry: checkov --quiet --output sarif --framework terraform -f
#    language: system
#    files: 'infra/.*\.tf$'

  - id: actionlint
    name: ActionLint
    entry: actionlint
    language: system
    files: '^.github/.*\.yml$'
    pass_filenames: false

FFS-4393 implement ability to push to CMS repositories (#1768)
  .github/workflows/build-and-publish-to-artifactory.yml
  .github/workflows/build-and-publish.yml
  Makefile
  app/Makefile
  bin/publish-release-artifactory
Due: shellcheck, actionlint

recombobulate into a shared service
  app/app/services/caseworker_mailer_fallback_service.rb
  app/lib/tasks/caseworker_mailer_fallback.rake
  app/spec/services/caseworker_mailer_fallback_service_spec.rb
Due: rubocop

[FFS-4394] make tweaks to have it ECS deploy for CMS successfully
  bin/deploy-ecs-manual
Due: shellcheck

FFS-4394: Tweak ECS deploy service_name (#1773)
  bin/deploy-ecs-manual
Due: shellcheck

[FFS-4399] get database migrations up and running as a github action
  .github/workflows/database-migrations-cms.yml
  Makefile
  bin/run-database-migrations-cms
Due: shellcheck, actionlint

Refactor into shared logic and an environment variable
  app/.env
  app/.env.local.example
  app/app/services/caseworker_mailer_fallback_service.rb
  app/config/client-agency-config.yml
  app/lib/tasks/caseworker_mailer_fallback.rake
  app/spec/lib/caseworker_mailer_fallback_rake_spec.rb
  app/spec/lib/client_agency_config_spec.rb
  app/spec/services/caseworker_mailer_fallback_service_spec.rb
  infra/app/app-config/env-config/environment-variables.tf
Due: rubocop, terraform_fmt

docs updates
  AGENTS.md
  COMMUNITY.md
  docs/releases.md
Due: none

FFS-4227: Order education and employment cards chronologically (#1771)
  app/app/helpers/activities_helper.rb
  app/app/services/education_activity_card_builder.rb
  app/spec/helpers/activities_helper_spec.rb
Due: rubocop

Add rake task for sending failed reports (#1763)
  app/.env
  app/.env.local.example
  app/app/services/caseworker_mailer_fallback_service.rb
  app/config/client-agency-config.yml
  app/lib/client_agency_config.rb
  app/lib/tasks/caseworker_mailer_fallback.rake
  app/spec/lib/caseworker_mailer_fallback_rake_spec.rb
  app/spec/lib/client_agency_config_spec.rb
  app/spec/services/caseworker_mailer_fallback_service_spec.rb
  infra/app/app-config/env-config/environment-variables.tf
Due: rubocop, terraform_fmt

FFS-4318: Extend skeleton implementation to Work Program activities via API (#1772)
  app/app/controllers/activities/activities_controller.rb
  app/app/controllers/activities/job_training_controller.rb
  app/app/controllers/api/invitations_controller.rb
  app/app/controllers/demo_launcher_controller.rb
  app/app/helpers/activities_helper.rb
  app/app/models/activity.rb
  app/app/models/activity_flow.rb
  app/app/models/activity_flow_invitation.rb
  app/app/models/education_activity.rb
  app/app/models/employment_activity.rb
  app/app/models/job_training_activity.rb
  app/app/models/job_training_activity_month.rb
  app/app/models/volunteering_activity.rb
  app/app/services/activity_flow_progress_calculator.rb
  app/app/views/activities/activities/index.html.erb
  app/app/views/demo_launcher/advanced.html.erb
  app/db/migrate/20260529120000_add_pre_populated_to_job_training_activities.rb
  app/db/schema.rb
  app/spec/controllers/activities/activities_controller_spec.rb
  app/spec/controllers/api/invitations_controller_spec.rb
  app/spec/controllers/demo_launcher_controller_spec.rb
  app/spec/factories/job_training_activity.rb
  app/spec/helpers/activities_helper_spec.rb
  app/spec/models/activity_flow_invitation_spec.rb
  app/spec/models/activity_flow_spec.rb
  app/spec/models/activity_spec.rb
  app/spec/services/activity_flow_progress_calculator_spec.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.pdf
Due: rubocop, erblint

rough draft
  app/app/views/cbv/sessions/timeout.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: erblint, i18n-unused, i18n-normalize

Add Spanish translation for new english string
  app/config/locales/es.yml
Due: i18n-unused, i18n-normalize

FFS-4444: updated timeout page content for NH pilot (#1789)
  app/app/views/cbv/sessions/timeout.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: erblint, i18n-unused, i18n-normalize

Update will-deploy script to output new link (#1766)
  app/bin/will-deploy
Due: none

Launcher updates
  app/app/controllers/demo_launcher_controller.rb
  app/app/services/demo_launcher/nsc_forward_dating_service.rb
  app/app/services/nsc_data_fetcher_service.rb
  app/spec/controllers/demo_launcher_controller_spec.rb
  app/spec/factories/identity.rb
  app/spec/services/demo_launcher/nsc_forward_dating_service_spec.rb
  app/spec/services/nsc_data_fetcher_service_spec.rb
Due: rubocop

Refine AGENTS.md for clarity and data handling
  AGENTS.md
Due: none

address feedback in AC
  bin/run-database-migrations-cms
Due: shellcheck

add AI disclosure, delete top comment
  .github/pull_request_template.md
Due: none

add GHA to test that the AI disclosure is present
  .github/workflows/ai-disclosure-check.yml
Due: actionlint

remove checked box by default
  .github/pull_request_template.md
Due: none

Potential fix for pull request finding 'CodeQL / Workflow does not contain permissions'
  .github/workflows/ai-disclosure-check.yml
Due: actionlint

test commit
  .github/pull_request_template.md
Due: none

rough draft
  .github/workflows/ai-test-classifier.yml
Due: actionlint

Fake edit, do not merge, just testing GHA
  COMMUNITY.md
Due: none

fake commit, do not merge, trying to force GHA to fail
  app/spec/components/accordion_component_spec.rb
Due: rubocop

permissions fix
  .github/workflows/ai-test-classifier.yml
Due: actionlint

Potential fix for pull request finding
  .github/workflows/ai-test-classifier.yml
Due: actionlint

Remove id-token permission from ai-test-classifier
  .github/workflows/ai-test-classifier.yml
Due: actionlint

Change header for additional comments
  app/config/locales/en.yml
Due: i18n-unused, i18n-normalize

Run the lottery only when no human reviewer is already requested
  .github/workflows/pr-reviewer-lottery.yml
Due: actionlint

No ticket: add AI disclosure to PR template, delete top comment (#1792)
  .github/pull_request_template.md
  .github/workflows/ai-disclosure-check.yml
Due: actionlint

FFS-4311: Lowercase header title copy on validated employment review page (#1804)
  app/config/locales/en.yml
Due: i18n-unused, i18n-normalize

test edit to see if copilot is triggered again
  COMMUNITY.md
Due: none

Run the reviewer lottery only when no human reviewer is already requested (#1805)
  .github/workflows/pr-reviewer-lottery.yml
Due: actionlint

Allow fallback transmission of redacted income reports
  app/app/services/caseworker_mailer_fallback_service.rb
  app/lib/tasks/caseworker_mailer_fallback.rake
  app/spec/lib/caseworker_mailer_fallback_rake_spec.rb
  app/spec/services/caseworker_mailer_fallback_service_spec.rb
Due: rubocop

Remove body from exception message for HttpPdfTransmitter errors
  app/app/services/transmitters/http_pdf_transmitter.rb
  app/spec/services/transmitters/http_pdf_transmitter_spec.rb
  app/spec/services/transmitters/json_and_pdf_transmitter_spec.rb
Due: rubocop

[FFS-4474] fix issue with cookie store
  app/config/initializers/session_store.rb
Due: rubocop

add AI-assisted code-security and iac-compliance pre-commit hooks
  .gitignore
  .pre-commit-config.yaml
Due: none

Allow for loading site through iframe
  app/app/controllers/application_controller.rb
  app/config/client-agency-config.yml
  app/lib/client_agency_config.rb
  app/spec/lib/client_agency_config_spec.rb
  app/spec/requests/iframe_embedding_spec.rb
  docs/iframe-test-harness.html
Due: rubocop

Test link entrypoint and change embedding
  app/app/controllers/application_controller.rb
  app/spec/requests/iframe_embedding_spec.rb
Due: rubocop
