Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-unused, i18n-normalize, shellcheck, prettier, terraform_fmt, actionlint

rubocop:
  name: rubocop
  entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
  language: system

erblint:
  name: erblint
  entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
  language: system

i18n-unused:
  name: i18n-unused
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks unused
  language: system
  pass_filenames: false

i18n-normalize:
  name: i18n-normalize
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
  language: system
  pass_filenames: false

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system

prettier:
  name: prettier
  entry: bin/run-linter --cd app -- npm run format:precommit
  language: node

terraform_fmt:
  name: Terraform Fmt
  entry: terraform fmt
  language: system

actionlint:
  name: ActionLint
  entry: actionlint
  language: system
  pass_filenames: false

Add NSC test cases for four test users
  app/spec/support/fixtures/nsc/dominique_ricardo/insight.json
  app/spec/support/fixtures/nsc/lakhshmi_saxena/insight.json
  app/spec/support/fixtures/nsc/rick_banas/insight.json
  app/spec/support/fixtures/nsc/scott_tobin/insight.json
  app/spec/support/nsc_api_helper.rb
Due: rubocop

Fix NscService tests
  app/spec/services/aggregators/sdk/nsc_service_spec.rb
  app/spec/support/nsc_api_helper.rb
Due: rubocop

Change education activity "status" to string
  app/app/models/education_activity.rb
  app/app/views/activities/education/show.html.erb
  app/config/locales/en.yml
  app/db/migrate/20260122235102_change_education_activity_status_to_string.rb
  app/db/schema.rb
  app/spec/factories/education_activity.rb
  app/spec/models/education_activity_spec.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.pdf
Due: rubocop, erblint, i18n-unused, i18n-normalize

fix e2e
  app/spec/e2e/activity_hub_spec.rb
Due: rubocop

Refactor
  app/app/controllers/flow_controller.rb
  app/app/models/activity_flow.rb
  app/app/models/cbv_flow.rb
  app/app/models/flow.rb
Due: rubocop

FFS-3689: Multi-month application and renewal reporting window (#1302)
  app/app/controllers/flow_controller.rb
  app/app/models/activity.rb
  app/app/models/activity_flow.rb
  app/app/models/activity_flow_invitation.rb
  app/app/models/cbv_flow.rb
  app/app/models/flow.rb
  app/app/services/activity_flow_progress_calculator.rb
  app/app/views/activities/activities/index.html.erb
  app/app/views/activities/education/show.html.erb
  app/app/views/activities/job_training/_form.html.erb
  app/app/views/activities/submit/show.html.erb
  app/app/views/activities/submit/show.pdf.erb
  app/app/views/activities/summary/show.html.erb
  app/app/views/activities/volunteering/_form.html.erb
  app/config/client-agency-config.yml
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/db/migrate/20260122103000_add_reporting_window_to_activity_flows.rb
  app/db/migrate/20260122121500_remove_reporting_month_from_activity_flows.rb
  app/db/schema.rb
  app/lib/client_agency_config.rb
  app/lib/tasks/activity_flow_invitation.rake
  app/spec/controllers/activities/job_training_controller_spec.rb
  app/spec/controllers/activities/submit_controller_spec.rb
  app/spec/controllers/activities/summary_controller_spec.rb
  app/spec/controllers/activities/volunteering_controller_spec.rb
  app/spec/e2e/activity_hub_spec.rb
  app/spec/factories/activity_flow_invitation.rb
  app/spec/factories/job_training_activity.rb
  app/spec/factories/volunteering_activity.rb
  app/spec/models/activity_flow_spec.rb
  app/spec/models/job_training_activity_spec.rb
  app/spec/models/volunteering_activity_spec.rb
  app/spec/services/activity_flow_progress_calculator_spec.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.pdf
Due: rubocop, erblint, i18n-unused, i18n-normalize

Fix `logger` assignment when structured logging is enabled
  app/app/services/aggregators/sdk/nsc_service.rb
Due: rubocop

Improve NscService logging and testing (#1303)
  app/app/controllers/activities/education_controller.rb
  app/app/services/aggregators/sdk/nsc_service.rb
  app/spec/services/aggregators/sdk/nsc_service_spec.rb
  app/spec/support/fixtures/nsc/dominique_ricardo/insight.json
  app/spec/support/fixtures/nsc/lakhshmi_saxena/insight.json
  app/spec/support/fixtures/nsc/rick_banas/insight.json
  app/spec/support/fixtures/nsc/scott_tobin/insight.json
  app/spec/support/nsc_api_helper.rb
Due: rubocop

Change education activity "status" to string (#1304)
  app/app/models/education_activity.rb
  app/app/views/activities/education/show.html.erb
  app/config/locales/en.yml
  app/db/migrate/20260122235102_change_education_activity_status_to_string.rb
  app/db/schema.rb
  app/spec/factories/education_activity.rb
  app/spec/models/education_activity_spec.rb
  docs/app/rendered/.database-diagram-schema-version
Due: rubocop, erblint, i18n-unused, i18n-normalize

FFS-3700: Add `enrollment_status` enum to EducationActivity
  app/app/helpers/activities/education_helper.rb
  app/app/models/education_activity.rb
  app/app/services/aggregators/sdk/nsc_service.rb
  app/app/views/activities/activities/index.html.erb
  app/app/views/activities/education/show.html.erb
  app/config/locales/en.yml
  app/db/migrate/20260122231725_add_enrollment_status_to_education_activity.rb
  app/db/schema.rb
  app/spec/factories/identity.rb
  app/spec/models/education_activity_spec.rb
  app/spec/services/aggregators/sdk/nsc_service_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

FFS-3700: Add `enrollment_status` enum to EducationActivity (#1305)
  app/app/helpers/activities/education_helper.rb
  app/app/models/education_activity.rb
  app/app/services/aggregators/sdk/nsc_service.rb
  app/app/views/activities/activities/index.html.erb
  app/app/views/activities/education/show.html.erb
  app/config/locales/en.yml
  app/db/migrate/20260122231725_add_enrollment_status_to_education_activity.rb
  app/db/schema.rb
  app/spec/factories/identity.rb
  app/spec/models/education_activity_spec.rb
  app/spec/services/aggregators/sdk/nsc_service_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Add NSC Sandbox / Prod creds to deploy
  infra/app/app-config/env-config/environment-variables.tf
Due: terraform_fmt

Add env switch variable
  infra/app/app-config/env-config/environment-variables.tf
Due: terraform_fmt

Update progress logic + test
  app/app/services/activity_flow_progress_calculator.rb
  app/spec/controllers/activities/job_training_controller_spec.rb
  app/spec/controllers/activities/volunteering_controller_spec.rb
  app/spec/services/activity_flow_progress_calculator_spec.rb
Due: rubocop

Add E2E test of Education Activity
  app/app/views/activities/education/error.html.erb
  app/app/views/activities/education/new.html.erb
  app/app/views/activities/education/show.html.erb
  app/spec/e2e/activity_hub_spec.rb
  app/spec/fixtures/e2e/e2e_activity_flow/aggregator_modal_callbacks.yml
  app/spec/fixtures/e2e/e2e_activity_flow/ngrok_requests.yml
  app/spec/fixtures/e2e/e2e_activity_flow/vcr_http_requests.yml
  app/spec/support/context/activity_hub.rb
  app/spec/support/e2e/mocking_service.rb
  app/spec/support/test_helpers.rb
  docs/e2e/e2e-checks.md
Due: rubocop, erblint

Remove caseworker portal
  app/Gemfile.lock
  app/app/controllers/application_controller.rb
  app/app/controllers/caseworker/base_controller.rb
  app/app/controllers/caseworker/cbv_flow_invitations_controller.rb
  app/app/controllers/caseworker/dashboards_controller.rb
  app/app/controllers/caseworker/entries_controller.rb
  app/app/controllers/users/omniauth_callbacks_controller.rb
  app/app/helpers/application_helper.rb
  app/app/models/user.rb
  app/app/views/caseworker/cbv_flow_invitations/_az_des.html.erb
  app/app/views/caseworker/cbv_flow_invitations/_sandbox.html.erb
  app/app/views/caseworker/cbv_flow_invitations/new.html.erb
  app/app/views/caseworker/dashboards/show.html.erb
  app/app/views/caseworker/entries/_az_des_signin_button.html.erb
  app/app/views/caseworker/entries/_sandbox_signin_button.html.erb
  app/app/views/caseworker/entries/index.html.erb
  app/app/views/help/index.html.erb
  app/config/i18n-tasks.yml
  app/config/initializers/devise.rb
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/config/routes.rb
  app/spec/controllers/caseworker/cbv_flow_invitations_controller/auth_spec.rb
  app/spec/controllers/caseworker/dashboards_controller_spec.rb
  app/spec/controllers/caseworker/entries_controller_spec.rb
  app/spec/controllers/users/omniauth_callbacks_controller_spec.rb
  app/spec/e2e/caseworker_login_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Remove omniauth gem
  app/Gemfile
  app/Gemfile.lock
Due: none

Remove caseworker flow help spec
  app/spec/e2e/help_feature_spec.rb
Due: rubocop

Remove unused event
  app/app/models/track_event.rb
Due: rubocop

Add E2E test of Education Activity (#1306)
  app/app/views/activities/education/error.html.erb
  app/app/views/activities/education/new.html.erb
  app/app/views/activities/education/show.html.erb
  app/spec/e2e/activity_hub_spec.rb
  app/spec/fixtures/e2e/e2e_activity_flow/aggregator_modal_callbacks.yml
  app/spec/fixtures/e2e/e2e_activity_flow/ngrok_requests.yml
  app/spec/fixtures/e2e/e2e_activity_flow/vcr_http_requests.yml
  app/spec/support/context/activity_hub.rb
  app/spec/support/e2e/mocking_service.rb
  app/spec/support/test_helpers.rb
  docs/e2e/e2e-checks.md
Due: rubocop, erblint

Refactor NscService to take an existing EducationActivity
  app/app/services/aggregators/sdk/nsc_service.rb
  app/spec/factories/education_activity.rb
  app/spec/services/aggregators/sdk/nsc_service_spec.rb
Due: rubocop

FFS-3688: Update Education Activity loading screen
  app/app/controllers/activities/education_controller.rb
  app/app/views/activities/education/_status.html.erb
  app/app/views/activities/education/show.html.erb
  app/config/locales/en.yml
  app/spec/controllers/activities/education_controller_spec.rb
  app/spec/e2e/activity_hub_spec.rb
  app/spec/support/test_helpers.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Refactor EducationController to use polling
  app/app/controllers/activities/education_controller.rb
  app/app/jobs/nsc_synchronization_job.rb
  app/app/views/activities/activities/index.html.erb
  app/app/views/activities/education/_status.html.erb
  app/app/views/activities/education/edit.html.erb
  app/app/views/activities/education/new.html.erb
  app/app/views/activities/education/show.html.erb
  app/config/locales/en.yml
  app/config/routes.rb
  app/spec/controllers/activities/education_controller_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Remove `confirmed` boolean from EducationActivity
  app/app/models/activity_flow.rb
  app/db/migrate/20260126232247_remove_confirmed_from_education_activity.rb
  app/db/schema.rb
  app/spec/factories/education_activity.rb
  app/spec/models/activity_flow_spec.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.pdf
Due: rubocop

FFS-3594: Remove caseworker portal (#1301)
  app/Gemfile
  app/Gemfile.lock
  app/app/controllers/application_controller.rb
  app/app/controllers/caseworker/base_controller.rb
  app/app/controllers/caseworker/cbv_flow_invitations_controller.rb
  app/app/controllers/caseworker/dashboards_controller.rb
  app/app/controllers/caseworker/entries_controller.rb
  app/app/controllers/users/omniauth_callbacks_controller.rb
  app/app/helpers/application_helper.rb
  app/app/models/track_event.rb
  app/app/models/user.rb
  app/app/views/caseworker/cbv_flow_invitations/_az_des.html.erb
  app/app/views/caseworker/cbv_flow_invitations/_sandbox.html.erb
  app/app/views/caseworker/cbv_flow_invitations/new.html.erb
  app/app/views/caseworker/dashboards/show.html.erb
  app/app/views/caseworker/entries/_az_des_signin_button.html.erb
  app/app/views/caseworker/entries/_sandbox_signin_button.html.erb
  app/app/views/caseworker/entries/index.html.erb
  app/app/views/help/index.html.erb
  app/config/i18n-tasks.yml
  app/config/initializers/devise.rb
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/config/routes.rb
  app/spec/controllers/caseworker/cbv_flow_invitations_controller/auth_spec.rb
  app/spec/controllers/caseworker/dashboards_controller_spec.rb
  app/spec/controllers/caseworker/entries_controller_spec.rb
  app/spec/controllers/users/omniauth_callbacks_controller_spec.rb
  app/spec/e2e/caseworker_login_spec.rb
  app/spec/e2e/help_feature_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

FFS-3703: Add NSC Sandbox / Prod creds to deploy (#1316)
  infra/app/app-config/env-config/environment-variables.tf
Due: terraform_fmt

Update NscService specs to assert the previous attributes
  app/spec/factories/education_activity.rb
  app/spec/services/aggregators/sdk/nsc_service_spec.rb
Due: rubocop

FFS-3688: Implement Education Activity loading screen (#1318)
  app/app/controllers/activities/education_controller.rb
  app/app/jobs/nsc_synchronization_job.rb
  app/app/models/activity_flow.rb
  app/app/services/aggregators/sdk/nsc_service.rb
  app/app/views/activities/activities/index.html.erb
  app/app/views/activities/education/_status.html.erb
  app/app/views/activities/education/edit.html.erb
  app/app/views/activities/education/new.html.erb
  app/app/views/activities/education/show.html.erb
  app/config/locales/en.yml
  app/config/routes.rb
  app/db/migrate/20260126232247_remove_confirmed_from_education_activity.rb
  app/db/schema.rb
  app/spec/controllers/activities/education_controller_spec.rb
  app/spec/e2e/activity_hub_spec.rb
  app/spec/factories/education_activity.rb
  app/spec/models/activity_flow_spec.rb
  app/spec/services/aggregators/sdk/nsc_service_spec.rb
  app/spec/support/test_helpers.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.pdf
Due: rubocop, erblint, i18n-unused, i18n-normalize

FFS-3686: Implement Education input screen
  app/app/assets/stylesheets/cbv.scss
  app/app/controllers/activities/education_controller.rb
  app/app/views/activities/education/new.html.erb
  app/config/locales/en.yml
  app/config/routes.rb
  app/spec/controllers/activities/education_controller_spec.rb
  app/spec/e2e/activity_hub_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Tidy up education views
  app/app/views/activities/education/edit.html.erb
  app/app/views/activities/education/error.html.erb
  app/app/views/activities/education/show.html.erb
Due: erblint

FFS-3713: Update work program and volunteering progress calculation/routing to be per-month (#1317)
  app/app/services/activity_flow_progress_calculator.rb
  app/spec/controllers/activities/job_training_controller_spec.rb
  app/spec/controllers/activities/volunteering_controller_spec.rb
  app/spec/services/activity_flow_progress_calculator_spec.rb
Due: rubocop

Tidy up education views (#1319)
  app/app/views/activities/education/edit.html.erb
  app/app/views/activities/education/error.html.erb
  app/app/views/activities/education/show.html.erb
Due: erblint

FFS-3686: Implement Education input screen (#1320)
  app/app/assets/stylesheets/cbv.scss
  app/app/controllers/activities/education_controller.rb
  app/app/views/activities/education/new.html.erb
  app/config/locales/en.yml
  app/config/routes.rb
  app/spec/controllers/activities/education_controller_spec.rb
  app/spec/e2e/activity_hub_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Only retry JSON if it hasn't been sent already
  app/app/services/transmitters/json_and_pdf_transmitter.rb
  app/app/services/transmitters/json_transmitter.rb
  app/db/migrate/20260127180624_add_json_transmitted_at_to_cbv_flows.rb
  app/db/schema.rb
  app/spec/services/transmitters/json_and_pdf_transmitter_spec.rb
  app/spec/services/transmitters/json_transmitter_spec.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.pdf
Due: rubocop

Refactor EducationActivity management logic into separate service
  app/app/jobs/nsc_synchronization_job.rb
  app/app/services/aggregators/sdk/nsc_service.rb
  app/app/services/nsc_data_fetcher_service.rb
  app/spec/services/aggregators/sdk/nsc_service_spec.rb
  app/spec/services/nsc_data_fetcher_service_spec.rb
Due: rubocop

Create NscEnrollmentTerm to handle multiple enrollments/terms
  app/app/models/education_activity.rb
  app/app/models/nsc_enrollment_term.rb
  app/app/services/nsc_data_fetcher_service.rb
  app/db/migrate/20260128013838_create_nsc_enrollment_terms.rb
  app/db/migrate/20260128020952_remove_enrollment_status_and_school_from_education_activity.rb
  app/db/schema.rb
  app/spec/factories/education_activity.rb
  app/spec/services/nsc_data_fetcher_service_spec.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.pdf
Due: rubocop

FFS-3687: Implement Education review screen
  app/app/helpers/activities/education_helper.rb
  app/app/views/activities/activities/index.html.erb
  app/app/views/activities/education/edit.html.erb
  app/config/locales/en.yml
  app/spec/e2e/activity_hub_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Update PDF to include education activities
  app/app/controllers/activities/submit_controller.rb
  app/app/views/activities/submit/show.pdf.erb
  app/config/locales/en.yml
Due: rubocop, erblint, i18n-unused, i18n-normalize

Extract enrollment table rendering into ViewComponent
  app/app/components/enrollment_term_table_component.erb
  app/app/components/enrollment_term_table_component.rb
  app/app/helpers/activities/education_helper.rb
  app/app/views/activities/activities/index.html.erb
  app/app/views/activities/education/_status.html.erb
  app/app/views/activities/education/edit.html.erb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
Due: rubocop, erblint, i18n-unused, i18n-normalize

Update /summary page for education activities
  app/app/controllers/activities/summary_controller.rb
  app/app/views/activities/summary/show.html.erb
Due: rubocop, erblint

Path conditions:
  rubocop: any of: ^app/.*\.rb$
  erblint: any of: ^app/.*\.erb$
  i18n-unused: any of: ^app/config/locales/.*\.yml$
  i18n-normalize: any of: ^app/config/locales/.*\.yml$
  shellcheck: any of: ^bin/.*$
  prettier: any of: ^app/.*\.(js|ts)$
  terraform_fmt: any of: infra/.*\.tf$
  actionlint: any of: ^.github/.*\.yml$
