Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-normalize, i18n-missing, shellcheck, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml

- repo: local
  hooks:
  - id: rubocop
    name: rubocop
    entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
    language: ruby
    files: '^app/.*\.rb$'

  - id: erblint
    name: erblint
    entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
    language: ruby
    files: '^app/.*\.erb$'

  - id: i18n-normalize
    name: i18n-normalize
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
    language: ruby
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: i18n-missing
    name: i18n-missing
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks missing
    language: ruby
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system        # installed via `brew bundle`
    files: '^bin/.*$'

  - id: prettier
    name: prettier
    entry: bin/run-linter --cd app -- npm run format:precommit
    language: node
    files: '^app/.*\.(js|ts)$'

adjust session tokens to be cookies so they are actually reusable
  load_testing/loadtest.js
Due: none

[FFS-2739] when the poller is firing to collect information, dont fire a pageview event (#557)
  app/app/controllers/cbv/synchronizations_controller.rb
  app/spec/controllers/cbv/synchronizations_controller_spec.rb
Due: rubocop

Add `employment_type` field to ResponseObjects::Employment (#550)
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/app/controllers/webhooks/pinwheel/events_controller.rb
  app/app/services/aggregators/format_methods/argyle.rb
  app/app/services/aggregators/format_methods/pinwheel.rb
  app/app/services/aggregators/response_objects/employment.rb
  app/app/services/aggregators/sdk/argyle_service.rb
  app/spec/controllers/webhooks/argyle/events_controller_spec.rb
  app/spec/controllers/webhooks/pinwheel/events_controller_spec.rb
  app/spec/services/aggregators/format_methods/argyle_spec.rb
  app/spec/services/aggregators/format_methods/pinwheel_spec.rb
Due: rubocop

FFS-2662: Add `income_changes` to CbvApplicant for AZ DES (#553)
  app/app/controllers/api/invitations_controller.rb
  app/app/controllers/caseworker/cbv_flow_invitations_controller.rb
  app/app/models/cbv_applicant.rb
  app/app/models/cbv_applicant/az_des.rb
  app/app/models/cbv_applicant/ma.rb
  app/app/models/cbv_applicant/nyc.rb
  app/db/migrate/20250410001936_add_income_changes_to_cbv_applicant.rb
  app/db/schema.rb
  app/spec/controllers/api/invitations_controller_spec.rb
  app/spec/factories/cbv_applicant.rb
  app/spec/models/cbv_applicant/az_des_spec.rb
  app/spec/models/cbv_applicant/ma_spec.rb
  app/spec/models/cbv_applicant/nyc_spec.rb
  app/spec/models/cbv_applicant_spec.rb
Due: rubocop

install and apply dry-validation gem to implement minimum reporting requirements
  app/Gemfile
  app/Gemfile.lock
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/app/controllers/webhooks/pinwheel/events_controller.rb
  app/app/services/aggregators/contracts/minimum_reporting_requirements_schema.rb
  app/spec/controllers/webhooks/argyle/events_controller_spec.rb
  app/spec/services/aggregators/contracts/minimum_reporting_requirements_schema_spec.rb
Due: rubocop

removed some English hard-coded into our PDF
  app/app/views/cbv/submits/show.pdf.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: erblint, i18n-normalize, i18n-missing

FFS-2723: Updated strategy for aggregator string tokenization (#556)
  app/app/components/pinwheel_data_point_component.rb
  app/app/helpers/view_helper.rb
  app/app/views/cbv/submits/show.pdf.erb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/spec/helpers/view_helper_spec.rb
Due: rubocop, erblint, i18n-normalize, i18n-missing

Fix translate_aggregator_value to handle `nil` value
  app/app/helpers/view_helper.rb
  app/spec/helpers/view_helper_spec.rb
Due: rubocop

bumping linux-libc-dev to fix various CVEs
  app/Dockerfile
Due: none

updated vite to 6.2.6
  app/package-lock.json
Due: none

No ticket: bumping linux-libc-dev and vite to fix CVEs (#562)
  app/Dockerfile
  app/package-lock.json
Due: none

Fix translate_aggregator_value to handle `nil` value (#561)
  app/app/helpers/view_helper.rb
  app/spec/helpers/view_helper_spec.rb
Due: rubocop

filing events
  app/app/controllers/api/user_events_controller.rb
  app/app/javascript/adapters/ArgyleModalAdapter.ts
  app/app/javascript/types/Argyle.d.ts
Due: rubocop, prettier

removed payload from logged events because it includes account id
  app/app/javascript/adapters/ArgyleModalAdapter.ts
Due: prettier

tracking in-modal search term
  app/app/controllers/api/user_events_controller.rb
  app/app/javascript/adapters/ArgyleModalAdapter.ts
  app/app/javascript/types/Argyle.d.ts
Due: rubocop, prettier

Added the LA LDH client agency configuration and tested the CBV flow
  app/.env
  app/app/models/cbv_applicant/la_ldh.rb
  app/app/views/cbv/applicant_informations/_la_ldh.html.erb
  app/config/client-agency-config.yml
  app/config/i18n-tasks.yml
  app/spec/factories/cbv_applicant.rb
  app/spec/models/cbv_applicant/la_ldh_spec.rb
  infra/app/app-config/env-config/environment-variables.tf
Due: rubocop, erblint

Use correct field for employer_name
  app/app/services/aggregators/response_objects/employment.rb
Due: rubocop

Minor formatting updates
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/app/services/aggregators/aggregator_reports/argyle_report.rb
  app/spec/services/aggregators/aggregator_reports/argyle_report_spec.rb
Due: rubocop

Update PaymentDetailsController spec back to using request stubs
  app/app/services/aggregators/aggregator_reports/pinwheel_report.rb
  app/spec/controllers/cbv/payment_details_controller_spec.rb
  app/spec/support/fixtures/pinwheel/request_end_user_no_paystubs_response.json
  app/spec/support/pinwheel_api_helper.rb
Due: rubocop

Added LA LDH specific translations to ignore_missing::all
  app/config/i18n-tasks.yml
Due: none

removed redundant event
  app/app/controllers/api/user_events_controller.rb
  app/app/javascript/adapters/ArgyleModalAdapter.ts
Due: rubocop, prettier

Replace dry-validation with ActiveModel::Validations
  app/Gemfile
  app/Gemfile.lock
  app/app/controllers/cbv/payment_details_controller.rb
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/app/controllers/webhooks/pinwheel/events_controller.rb
  app/app/services/aggregators/aggregator_reports/argyle_report.rb
  app/app/services/aggregators/aggregator_reports/pinwheel_report.rb
  app/app/services/aggregators/contracts/minimum_reporting_requirements_schema.rb
  app/app/services/aggregators/validators/useful_report_validator.rb
  app/spec/controllers/cbv/payment_details_controller_spec.rb
  app/spec/controllers/webhooks/argyle/events_controller_spec.rb
  app/spec/controllers/webhooks/pinwheel/events_controller_spec.rb
  app/spec/services/aggregators/contracts/minimum_reporting_requirements_schema_spec.rb
  app/spec/services/aggregators/validators/useful_report_validator_spec.rb
  app/spec/support/fixtures/pinwheel/request_employment_info_gig_worker_response.json
  app/spec/support/pinwheel_api_helper.rb
Due: rubocop

Update Pinwheel search params to exclude unsupported results
  app/app/services/provider_search_service.rb
Due: rubocop

Update Argyle search params to exclude unavailable results
  app/app/services/aggregators/sdk/argyle_service.rb
Due: rubocop

Update /employer_search precedence logic
  app/app/services/provider_search_service.rb
  app/spec/controllers/cbv/employer_searches_controller_spec.rb
  app/spec/services/provider_search_service_spec.rb
  app/spec/support/fixtures/argyle/bob/request_items.json
  app/spec/support/fixtures/pinwheel/request_items_response.json
  app/spec/support/pinwheel_api_helper.rb
Due: rubocop

[FFS-2750] submit to client asynchronously via solid queue
  Brewfile
  README.md
  app/Gemfile
  app/Gemfile.lock
  app/Procfile.dev
  app/app/controllers/cbv/submits_controller.rb
  app/app/jobs/case_worker_transmitter_job.rb
  app/config/application.rb
  app/config/database.yml
  app/config/environments/development.rb
  app/config/environments/production.rb
  app/config/routes.rb
  app/config/solid_queue.yml
  app/db/migrate/20250415214118_create_solid_queue_tables.solid_queue.rb
  app/db/migrate/20250415214119_add_missing_index_to_blocked_executions.solid_queue.rb
  app/db/schema.rb
  app/manifest.yml
  app/spec/controllers/cbv/submits_controller_spec.rb
  app/spec/jobs/case_worker_transmitter_job_spec.rb
Due: rubocop

Readd total earnings method
  app/app/services/aggregators/format_methods/pinwheel.rb
Due: rubocop

Use in gig.rb
  app/app/services/aggregators/response_objects/gig.rb
Due: rubocop

Update specs
  app/spec/services/aggregators/format_methods/pinwheel_spec.rb
  app/spec/services/aggregators/response_objects/gig_spec.rb
Due: rubocop

Fix rspec issues caused by naming change
  app/spec/controllers/cbv/summaries_controller_spec.rb
  app/spec/controllers/webhooks/pinwheel/events_controller_spec.rb
Due: rubocop

rubocop cleanup
  app/app/jobs/case_worker_transmitter_job.rb
  app/spec/controllers/cbv/submits_controller_spec.rb
  app/spec/jobs/case_worker_transmitter_job_spec.rb
Due: rubocop

testing fixing the pre-existing rspec issues... work not complete
  app/spec/controllers/cbv/employer_searches_controller_spec.rb
  app/spec/support/argyle_api_helper.rb
Due: rubocop

fix sandbox via introducing something for it to validate
  app/app/models/cbv_applicant/sandbox.rb
  app/lib/client_agency_config.rb
  app/spec/models/cbv_applicant/az_des_spec.rb
  app/spec/models/cbv_applicant/ma_spec.rb
  app/spec/models/cbv_applicant/nyc_spec.rb
  app/spec/models/cbv_applicant_spec.rb
Due: rubocop

FFS-2753: Update /employer_search precedence and filter logic (#566)
  app/app/services/aggregators/sdk/argyle_service.rb
  app/app/services/provider_search_service.rb
  app/spec/controllers/cbv/employer_searches_controller_spec.rb
  app/spec/services/provider_search_service_spec.rb
  app/spec/support/fixtures/argyle/bob/request_items.json
  app/spec/support/fixtures/pinwheel/request_items_response.json
  app/spec/support/pinwheel_api_helper.rb
Due: rubocop

[FFS-2662] fix sandbox via introducing something for it to validate
  app/app/models/cbv_applicant/sandbox.rb
  app/lib/client_agency_config.rb
  app/spec/models/cbv_applicant/az_des_spec.rb
  app/spec/models/cbv_applicant/ma_spec.rb
  app/spec/models/cbv_applicant/nyc_spec.rb
  app/spec/models/cbv_applicant_spec.rb
Due: rubocop

skip help_feature_spec
  .github/workflows/rspec.yml
  app/spec/e2e/help_feature_spec.rb
Due: rubocop

demonstrate ability to run e2e tests using VCR and puffing billy
  app/Gemfile
  app/Gemfile.lock
  app/fixtures/vcr_cassettes/e2e_cbv_flow_english.yml
  app/spec/controllers/users/omniauth_callbacks_controller_spec.rb
  app/spec/e2e/cbv_flow_spec.rb
  app/spec/e2e/client_signup_spec.rb
  app/spec/rails_helper.rb
  app/spec/req_cache/get_api.getpinwheel.com_02620475cc6b3ccb5b80ab06426229fdbfcba952.yml
  app/spec/req_cache/get_api.getpinwheel.com_60faddcff6f8cec964bb23f295aecc3e7415a8d8.yml
  app/spec/req_cache/get_api.getpinwheel.com_9f2d3c63d14cf18a6c45b7718c03ae34349fe5a9.yml
  app/spec/req_cache/get_api.getpinwheel.com_ca21df78bbec0919996e2b8b4a0a63c2c1878b0f.yml
  app/spec/req_cache/get_api.getpinwheel.com_d45185aa271b3ae26515fbd0127e92685742ded0.yml
  app/spec/req_cache/get_sandbox.getpinwheel.com_22882c5a8e22b9679ce42f01fe05bc0a7e0e72e7.yml
  app/spec/req_cache/get_sandbox.getpinwheel.com_64c73dd858d0311e9b255f16bf8d19d65dcc8199.yml
  app/spec/req_cache/options_api.getpinwheel.com_02620475cc6b3ccb5b80ab06426229fdbfcba952.yml
  app/spec/req_cache/options_api.getpinwheel.com_60faddcff6f8cec964bb23f295aecc3e7415a8d8.yml
  app/spec/req_cache/options_api.getpinwheel.com_9f2d3c63d14cf18a6c45b7718c03ae34349fe5a9.yml
  app/spec/req_cache/options_api.getpinwheel.com_a6e32a1af1dd5df5acb39bd183f80e661bfe5075.yml
  app/spec/req_cache/options_api.getpinwheel.com_d45185aa271b3ae26515fbd0127e92685742ded0.yml
  app/spec/req_cache/options_api.getpinwheel.com_f0d59ea3930a5cbf0d57ea14b987e85e4fed55f6.yml
  app/spec/req_cache/options_sandbox.getpinwheel.com_22882c5a8e22b9679ce42f01fe05bc0a7e0e72e7.yml
  app/spec/req_cache/options_sandbox.getpinwheel.com_64c73dd858d0311e9b255f16bf8d19d65dcc8199.yml
  app/spec/req_cache/post_api.getpinwheel.com_a6e32a1af1dd5df5acb39bd183f80e661bfe5075_1e5c5006f1bdd570aa3c4760c94ac333037a8384.yml
  app/spec/req_cache/post_api.getpinwheel.com_f0d59ea3930a5cbf0d57ea14b987e85e4fed55f6_1d4fc715ab4ad763b9d563c541d1fd3481631408.yml
  app/spec/req_cache/post_api.getpinwheel.com_f0d59ea3930a5cbf0d57ea14b987e85e4fed55f6_69691c1432e64414d6b8aefb8f95626ec33203f4.yml
  app/spec/support/e2e_test_helpers.rb
  app/spec/support/fake_data_helpers.rb
Due: rubocop

added pinwheel variables to e2e test setup
  .github/workflows/e2e-rspec.yml
Due: none

fix rubocop, remove unused file, and fix refactoring bug
  app/Gemfile
  app/spec/controllers/users/omniauth_callbacks_controller_spec.rb
  app/spec/e2e/cbv_flow_spec.rb
  app/spec/e2e/client_signup_spec.rb
  app/spec/rails_helper.rb
  app/spec/support/e2e_test_helpers.rb
  app/spec/support/fake_data_helpers.rb
Due: rubocop

add delay and point to the headless that includes the recording
  app/spec/e2e/cbv_flow_spec.rb
  app/spec/rails_helper.rb
Due: rubocop
