Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-unused, i18n-normalize, shellcheck, prettier, terraform_fmt, actionlint

rubocop:
  name: rubocop
  entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
  language: system

erblint:
  name: erblint
  entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
  language: system

i18n-unused:
  name: i18n-unused
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks unused
  language: system
  pass_filenames: false

i18n-normalize:
  name: i18n-normalize
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
  language: system
  pass_filenames: false

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system

prettier:
  name: prettier
  entry: bin/run-linter --cd app -- npm run format:precommit
  language: node

terraform_fmt:
  name: Terraform Fmt
  entry: terraform fmt
  language: system

actionlint:
  name: ActionLint
  entry: actionlint
  language: system
  pass_filenames: false

Remove rescue blocks from track events
  app/app/controllers/api/argyle_controller.rb
  app/app/controllers/api/pinwheel_controller.rb
  app/app/controllers/cbv/add_jobs_controller.rb
  app/app/controllers/cbv/applicant_informations_controller.rb
  app/app/controllers/cbv/base_controller.rb
  app/app/controllers/cbv/employer_searches_controller.rb
  app/app/controllers/cbv/missing_results_controller.rb
  app/app/controllers/cbv/other_jobs_controller.rb
  app/app/controllers/cbv/payment_details_controller.rb
  app/app/controllers/cbv/submits_controller.rb
  app/app/controllers/cbv/successes_controller.rb
  app/app/controllers/cbv/summaries_controller.rb
  app/app/controllers/feedbacks_controller.rb
  app/app/controllers/help_controller.rb
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/app/controllers/webhooks/pinwheel/events_controller.rb
  app/app/jobs/case_worker_transmitter_job.rb
Due: rubocop

Rescue and log error on any track event
  app/lib/generic_event_tracker.rb
  app/spec/controllers/cbv/generic_links_controller_spec.rb
  app/spec/generic_event_tracker_spec.rb
Due: rubocop

Rescue and log error on any track event
  app/app/controllers/cbv/generic_links_controller.rb
  app/spec/controllers/cbv/add_jobs_controller_spec.rb
  app/spec/controllers/cbv/other_jobs_controller_spec.rb
Due: rubocop

WIP can't get error case right
  app/.gitignore
  app/app/controllers/cbv/generic_links_controller.rb
  app/spec/controllers/cbv/generic_links_controller_spec.rb
Due: rubocop

update documentation, url, repo, and other refs
  .github/workflows/README.md
  README.md
  app/app/helpers/uswds_form_builder.rb
  app/db/migrate/20240423000000_set_db_table_permissions.rb
  app/lib/tasks/az_des.rake
  app/spec/controllers/application_controller_spec.rb
  app/spec/controllers/cbv/base_controller_spec.rb
  app/spec/controllers/cbv/successes_controller_spec.rb
  app/spec/controllers/pages_controller_spec.rb
  app/spec/models/cbv_flow_spec.rb
  bin/update-infra-template
  docs/app/runbooks/deploy-failures.md
  docs/infra/develop-and-test-infrastructure-in-isolation-using-workspaces.md
  docs/infra/infrastructure-configuration.md
  docs/infra/pull-request-environments.md
  docs/infra/set-up-app-env.md
  docs/infra/set-up-custom-domains.md
  docs/infra/set-up-database.md
  docs/infra/vulnerability-management.md
  download-and-install-template.sh
  infra/README.md
  infra/app/app-config/main.tf
  infra/modules/auth-github-actions/README.md
  infra/modules/auth-github-actions/variables.tf
  infra/modules/database/role-manager.tf
  infra/modules/domain/main.tf
  infra/modules/service/application-logs.tf
  infra/modules/service/load-balancer.tf
  infra/modules/service/networking.tf
  infra/modules/service/scheduled_jobs.tf
  infra/modules/storage/main.tf
  infra/project-config/main.tf
  infra/project-config/networks.tf
  infra/project-config/outputs.tf
  infra/sftp-server/lambda.tf
  infra/test/go.mod
  load_testing/README.md
Due: rubocop, shellcheck, terraform_fmt

update readme
  README.md
Due: none

Extract events names to module
  app/app/controllers/api/argyle_controller.rb
  app/app/controllers/api/pinwheel_controller.rb
  app/app/controllers/cbv/add_jobs_controller.rb
  app/app/controllers/cbv/applicant_informations_controller.rb
  app/app/controllers/cbv/base_controller.rb
  app/app/controllers/cbv/employer_searches_controller.rb
  app/app/controllers/cbv/entries_controller.rb
  app/app/controllers/cbv/generic_links_controller.rb
  app/app/controllers/cbv/missing_results_controller.rb
  app/app/controllers/cbv/other_jobs_controller.rb
  app/app/controllers/cbv/payment_details_controller.rb
  app/app/controllers/cbv/submits_controller.rb
  app/app/controllers/cbv/summaries_controller.rb
  app/app/controllers/help_controller.rb
  app/app/controllers/users/omniauth_callbacks_controller.rb
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/app/controllers/webhooks/pinwheel/events_controller.rb
  app/app/jobs/case_worker_transmitter_job.rb
  app/app/jobs/match_agency_names_job.rb
  app/app/mailers/application_mailer.rb
  app/app/models/track_event.rb
  app/app/services/cbv_invitation_service.rb
Due: rubocop

No need to test error logging in controller spec
  app/spec/controllers/cbv/add_jobs_controller_spec.rb
  app/spec/controllers/cbv/other_jobs_controller_spec.rb
Due: rubocop

update documentation, remove confluence links
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  app/app/services/agency_name_matching_service.rb
  app/bin/will-deploy
  docs/app/COMPLIANCE.md
  docs/decisionmaking-process.md
  docs/updating-template-infra.md
  load_testing/README.md
  repolinter.json
Due: rubocop

Update cd-app.yml
  .github/workflows/cd-app.yml
Due: actionlint

FFS-3370: Add rake task to create a user and API key (#946)
  app/lib/tasks/users.rake
  app/spec/lib/users_rake_spec.rb
Due: rubocop

Create `cbv_flow_invitation_id` column on `cbv_applicants`
  app/app/models/cbv_applicant.rb
  app/db/migrate/20250911234359_add_cbv_flow_invitation_id_to_cbv_applicant.rb
  app/db/migrate/20250912000910_add_backfill_for_cbv_applicants.rb
  app/db/schema.rb
  app/spec/controllers/api/invitations_controller_spec.rb
  app/spec/services/cbv_invitation_service_spec.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.pdf
Due: rubocop

Bring back rescue blocks and add first line of backtrace to errors
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/app/controllers/webhooks/pinwheel/events_controller.rb
  app/lib/generic_event_tracker.rb
  app/spec/controllers/cbv/generic_links_controller_spec.rb
  app/spec/generic_event_tracker_spec.rb
Due: rubocop

Rspec nits
  app/spec/generic_event_tracker_spec.rb
Due: rubocop

FFS-3369: Add "doc_id" indexing field for LA LDH
  app/.env
  app/app/controllers/api/invitations_controller.rb
  app/app/models/cbv_applicant/la_ldh.rb
  app/app/models/cbv_flow_invitation.rb
  app/app/services/client_agency/la_ldh/configuration.rb
  app/app/services/client_agency/la_ldh/report_fields.rb
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/db/migrate/20250912170544_add_doc_id_indexing_field_to_la_ldh.rb
  app/db/schema.rb
  app/spec/controllers/api/invitations_controller_spec.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.pdf
Due: rubocop, i18n-unused, i18n-normalize

re-add checkov skips
  CODE_OF_CONDUCT.md
  README.md
  infra/modules/database/role-manager.tf
  infra/modules/domain/main.tf
  infra/modules/storage/main.tf
  infra/sftp-server/lambda.tf
Due: terraform_fmt

checkov skip
  infra/modules/domain/main.tf
Due: terraform_fmt

Bring back manual package upgrades
  app/Dockerfile
Due: none

Remove unnecessary package upgrades
  app/Dockerfile
Due: none

Oops
  app/Dockerfile
Due: none

Bring back manual package upgrades (#953)
  app/Dockerfile
Due: none

add agplv3 license
  LICENSE.md
Due: none

Fix unpermitted params warning on Api::InvitationsController
  app/app/controllers/api/invitations_controller.rb
Due: rubocop

fix misspell
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: i18n-unused, i18n-normalize

FFS-3368: Add agency_partner_metadata to Tokenized API response
  app/app/controllers/api/invitations_controller.rb
  app/app/models/cbv_applicant/la_ldh.rb
  app/spec/controllers/api/invitations_controller_spec.rb
  app/spec/models/cbv_applicant/la_ldh_spec.rb
Due: rubocop

Don't redact the doc_id as it's not sensitive PII
  app/app/models/cbv_applicant/la_ldh.rb
  app/spec/factories/cbv_applicant.rb
  app/spec/models/cbv_applicant/la_ldh_spec.rb
Due: rubocop

FFS-3180: Show tracking errors in non-prod envs (#950)
  app/.gitignore
  app/app/controllers/api/argyle_controller.rb
  app/app/controllers/api/pinwheel_controller.rb
  app/app/controllers/cbv/add_jobs_controller.rb
  app/app/controllers/cbv/applicant_informations_controller.rb
  app/app/controllers/cbv/base_controller.rb
  app/app/controllers/cbv/employer_searches_controller.rb
  app/app/controllers/cbv/entries_controller.rb
  app/app/controllers/cbv/generic_links_controller.rb
  app/app/controllers/cbv/missing_results_controller.rb
  app/app/controllers/cbv/other_jobs_controller.rb
  app/app/controllers/cbv/payment_details_controller.rb
  app/app/controllers/cbv/submits_controller.rb
  app/app/controllers/cbv/successes_controller.rb
  app/app/controllers/cbv/summaries_controller.rb
  app/app/controllers/feedbacks_controller.rb
  app/app/controllers/help_controller.rb
  app/app/controllers/users/omniauth_callbacks_controller.rb
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/app/controllers/webhooks/pinwheel/events_controller.rb
  app/app/jobs/case_worker_transmitter_job.rb
  app/app/jobs/match_agency_names_job.rb
  app/app/mailers/application_mailer.rb
  app/app/models/track_event.rb
  app/app/services/cbv_invitation_service.rb
  app/lib/generic_event_tracker.rb
  app/spec/controllers/cbv/add_jobs_controller_spec.rb
  app/spec/controllers/cbv/generic_links_controller_spec.rb
  app/spec/controllers/cbv/other_jobs_controller_spec.rb
  app/spec/generic_event_tracker_spec.rb
Due: rubocop

FFS-3369: Create "doc_id" indexing field for LA (#952)
  app/.env
  app/app/controllers/api/invitations_controller.rb
  app/app/models/cbv_applicant/la_ldh.rb
  app/app/models/cbv_flow_invitation.rb
  app/app/services/client_agency/la_ldh/configuration.rb
  app/app/services/client_agency/la_ldh/report_fields.rb
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/db/migrate/20250912170544_add_doc_id_indexing_field_to_la_ldh.rb
  app/db/schema.rb
  app/spec/controllers/api/invitations_controller_spec.rb
  app/spec/factories/cbv_applicant.rb
  app/spec/models/cbv_applicant/la_ldh_spec.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.pdf
Due: rubocop, i18n-unused, i18n-normalize

Create `format_string` helper to coalesce report fields to "N/A"
  app/app/components/aggregate_data_point_component.rb
  app/app/helpers/report_view_helper.rb
  app/app/services/client_agency/la_ldh/report_fields.rb
  app/spec/helpers/report_view_helper_spec.rb
Due: rubocop

FFS-3368: Add agency_partner_metadata to Tokenized API response (#954)
  app/app/controllers/api/invitations_controller.rb
  app/app/models/cbv_applicant/la_ldh.rb
  app/spec/controllers/api/invitations_controller_spec.rb
  app/spec/models/cbv_applicant/la_ldh_spec.rb
Due: rubocop

Create `format_string` helper to coalesce report fields to "N/A" (#955)
  app/app/components/aggregate_data_point_component.rb
  app/app/helpers/report_view_helper.rb
  app/app/services/client_agency/la_ldh/report_fields.rb
  app/spec/helpers/report_view_helper_spec.rb
Due: rubocop

fix: upgrade webpack from 5.101.1 to 5.101.3
  app/package-lock.json
  app/package.json
Due: none

fix: upgrade sass from 1.90.0 to 1.91.0
  app/package-lock.json
  app/package.json
Due: none

removed one test log
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
Due: rubocop

Upgrade webpack from 5.101.1 to 5.101.3 (#956)
  app/package-lock.json
  app/package.json
Due: none

Fix PA header logo (#104)
  app/app/assets/stylesheets/cbv.scss
Due: none

updated bruno files for PA (#103)
  api-docs/dicit-bruno-collection/.env.sample
  api-docs/dicit-bruno-collection/PA DHS/Create DiCIT Tokenized Session Link.bru
  api-docs/dicit-bruno-collection/PA DHS/folder.bru
  api-docs/dicit-bruno-collection/environments/demo.bru
  api-docs/dicit-bruno-collection/environments/local.bru
  api-docs/dicit-bruno-collection/environments/prod.bru
Due: none

now filtering incomes, tested w/ pinwheel and argyle
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/app/services/aggregators/response_objects/income.rb
Due: rubocop

Flag fix + tests
  app/app/controllers/cbv/base_controller.rb
  app/app/controllers/pages_controller.rb
  app/spec/controllers/cbv/base_controller_spec.rb
  app/spec/controllers/pages_controller_spec.rb
Due: rubocop

Fix broken tests
  app/spec/controllers/cbv/entries_controller_spec.rb
Due: rubocop

Path conditions:
  rubocop: any of: ^app/.*\.rb$
  erblint: any of: ^app/.*\.erb$
  i18n-unused: any of: ^app/config/locales/.*\.yml$
  i18n-normalize: any of: ^app/config/locales/.*\.yml$
  shellcheck: any of: ^bin/.*$
  prettier: any of: ^app/.*\.(js|ts)$
  terraform_fmt: any of: infra/.*\.tf$
  actionlint: any of: ^.github/.*\.yml$
