Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-unused, i18n-normalize, shellcheck, prettier, terraform_fmt, actionlint

rubocop:
  name: rubocop
  entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
  language: system

erblint:
  name: erblint
  entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
  language: system

i18n-unused:
  name: i18n-unused
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks unused
  language: system
  pass_filenames: false

i18n-normalize:
  name: i18n-normalize
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
  language: system
  pass_filenames: false

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system

prettier:
  name: prettier
  entry: bin/run-linter --cd app -- npm run format:precommit
  language: node

terraform_fmt:
  name: Terraform Fmt
  entry: terraform fmt
  language: system

actionlint:
  name: ActionLint
  entry: actionlint
  language: system
  pass_filenames: false

fixed a few rspec issues
  app/spec/controllers/activities/document_uploads_controller_spec.rb
Due: rubocop

simplify
  app/app/controllers/application_controller.rb
Due: rubocop

remove line height changes
  app/app/assets/stylesheets/cbv.scss
Due: none

Fix Emmy styling and header/footer content
  app/app/assets/stylesheets/cbv.scss
  app/app/controllers/application_controller.rb
  app/app/views/application/_footer.html.erb
  app/app/views/application/_header.html.erb
  app/app/views/layouts/application.html.erb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/spec/support/e2e/test_helpers.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Margin fix
  app/app/assets/stylesheets/cbv.scss
Due: none

Remove activity created/updated/deleted notices (#1399)
  app/app/controllers/activities/education_controller.rb
  app/app/controllers/activities/job_training_controller.rb
  app/app/controllers/activities/volunteering_controller.rb
  app/config/locales/en.yml
  app/spec/controllers/activities/education_controller_spec.rb
  app/spec/controllers/activities/job_training_controller_spec.rb
  app/spec/controllers/activities/volunteering_controller_spec.rb
Due: rubocop, i18n-unused, i18n-normalize

removed redundant test
  app/spec/controllers/activities/document_uploads_controller_spec.rb
Due: rubocop

No need to ignore.
  app/config/i18n-tasks.yml
Due: none

Fix /demo not always showing emmy
  app/app/controllers/demo_launcher_controller.rb
  app/spec/controllers/demo_launcher_controller_spec.rb
Due: rubocop

Remove CBV
  app/config/client-agency-config.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/spec/controllers/cbv/employer_searches_controller_spec.rb
  app/spec/e2e/cbv_flow_pinwheel_spec.rb
  app/spec/e2e/cbv_flow_spec.rb
  app/spec/mailers/applicant_mailer_spec.rb
  app/spec/services/pdf_service_spec.rb
Due: rubocop, i18n-unused, i18n-normalize

FFS-3790: Update Emmy header/footer (#1400)
  app/app/assets/stylesheets/cbv.scss
  app/app/controllers/application_controller.rb
  app/app/controllers/demo_launcher_controller.rb
  app/app/views/application/_footer.html.erb
  app/app/views/application/_header.html.erb
  app/app/views/layouts/application.html.erb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/spec/controllers/demo_launcher_controller_spec.rb
  app/spec/support/e2e/test_helpers.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

refactor to make urls more sensible during CS hours editing
  app/app/controllers/activities/volunteering/months_controller.rb
  app/app/controllers/activities/volunteering_controller.rb
  app/app/controllers/concerns/monthly_hours_input.rb
  app/app/views/activities/volunteering/months/edit.html.erb
  app/app/views/activities/volunteering/review.html.erb
  app/config/routes.rb
  app/spec/controllers/activities/volunteering/months_controller_spec.rb
  app/spec/controllers/activities/volunteering_controller_spec.rb
Due: rubocop, erblint

minor fixes
  app/app/controllers/activities/volunteering/months_controller.rb
  app/app/controllers/concerns/monthly_hours_input.rb
  app/config/locales/en.yml
Due: rubocop, i18n-unused, i18n-normalize

More remove CBV
  app/app/views/caseworker_mailer/summary_email.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/spec/mailers/caseworker_mailer_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

FFS-3740: Community Service review page (#1394)
  app/app/assets/stylesheets/cbv.scss
  app/app/components/community_service_review_table_component.erb
  app/app/components/community_service_review_table_component.rb
  app/app/controllers/activities/document_uploads_controller.rb
  app/app/controllers/activities/volunteering/months_controller.rb
  app/app/controllers/activities/volunteering_controller.rb
  app/app/controllers/concerns/monthly_hours_input.rb
  app/app/views/activities/volunteering/_form.html.erb
  app/app/views/activities/volunteering/hours_input.html.erb
  app/app/views/activities/volunteering/months/edit.html.erb
  app/app/views/activities/volunteering/review.html.erb
  app/app/views/shared/_hours_input.html.erb
  app/config/locales/en.yml
  app/config/routes.rb
  app/db/migrate/20260219191420_add_additional_comments_to_volunteering_activities.rb
  app/db/schema.rb
  app/spec/controllers/activities/document_uploads_controller_spec.rb
  app/spec/controllers/activities/volunteering/months_controller_spec.rb
  app/spec/controllers/activities/volunteering_controller_spec.rb
  app/spec/e2e/activity_hub_spec.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.pdf
Due: rubocop, erblint, i18n-unused, i18n-normalize

typo fix
  app/config/locales/en.yml
Due: i18n-unused, i18n-normalize

Revert last change to app_name
  app/config/locales/en.yml
Due: i18n-unused, i18n-normalize

FFS-3795: Change name of test agency to remove CBV (#1402)
  app/app/views/caseworker_mailer/summary_email.html.erb
  app/config/client-agency-config.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/spec/controllers/cbv/employer_searches_controller_spec.rb
  app/spec/e2e/cbv_flow_pinwheel_spec.rb
  app/spec/e2e/cbv_flow_spec.rb
  app/spec/mailers/applicant_mailer_spec.rb
  app/spec/mailers/caseworker_mailer_spec.rb
  app/spec/services/pdf_service_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

remove flashes when CS flow returns to activity hub
  app/app/controllers/activities/volunteering_controller.rb
  app/config/locales/en.yml
  app/spec/controllers/activities/volunteering_controller_spec.rb
  app/spec/e2e/activity_hub_spec.rb
Due: rubocop, i18n-unused, i18n-normalize

No ticket: Remove flashes when CS flow returns to activity hub (#1403)
  app/app/controllers/activities/volunteering_controller.rb
  app/config/locales/en.yml
  app/spec/controllers/activities/volunteering_controller_spec.rb
  app/spec/e2e/activity_hub_spec.rb
Due: rubocop, i18n-unused, i18n-normalize

implemented new buttons and copy
  app/app/views/cbv/employer_searches/_employer.html.erb
  app/app/views/cbv/employer_searches/show.html.erb
  app/config/locales/en.yml
Due: erblint, i18n-unused, i18n-normalize

added rspec tests
  app/spec/controllers/cbv/employer_searches_controller_spec.rb
Due: rubocop

use helper method
  app/app/views/cbv/employer_searches/_employer.html.erb
Due: erblint

FFS-3746: Add self-attestation entry points to employment flow (#1404)
  app/app/views/cbv/employer_searches/_employer.html.erb
  app/app/views/cbv/employer_searches/show.html.erb
  app/config/locales/en.yml
  app/spec/controllers/cbv/employer_searches_controller_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Change /volunteering urls to /community_service
  app/app/controllers/activities/document_uploads_controller.rb
  app/app/controllers/activities/volunteering/months_controller.rb
  app/app/controllers/activities/volunteering_controller.rb
  app/app/views/activities/activities/index.html.erb
  app/app/views/activities/volunteering/_form.html.erb
  app/app/views/activities/volunteering/months/edit.html.erb
  app/app/views/activities/volunteering/review.html.erb
  app/config/routes.rb
  app/spec/controllers/activities/document_uploads_controller_spec.rb
  app/spec/controllers/activities/volunteering/months_controller_spec.rb
  app/spec/controllers/activities/volunteering_controller_spec.rb
  app/spec/e2e/activity_hub_spec.rb
Due: rubocop, erblint

Update brakeman.ignore
  app/config/brakeman.ignore
Due: none

Mostly revert "FFS-3784: Scale up containers for Feb LA pilot launch and enable LA pilot (#1390)"
  infra/app/app-config/prod.tf
Due: terraform_fmt

small edits and updates
  .github/ISSUE_TEMPLATE/contributor_ladder.md
  AGENTS.md
  COMMUNITY.md
  CONTRIBUTING.md
  GOVERNANCE.md
  README.md
  docs/sftp-questions.md
Due: none

Mostly revert "FFS-3784: Scale up containers for Feb LA pilot launch and enable LA pilot (#1390)" (#1406)
  infra/app/app-config/prod.tf
Due: terraform_fmt

Add more attributes to SyncWaitTime alerting event
  app/app/controllers/cbv/synchronizations_controller.rb
Due: rubocop

Add NH DHHS as a valid client agency id
  app/app/models/cbv_applicant/nh_dhhs.rb
  app/app/views/cbv/applicant_informations/_nh_dhhs.html.erb
  app/config/client-agency-config.yml
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: rubocop, erblint, i18n-unused, i18n-normalize

Fix ActiveJob retry logic
  app/app/jobs/application_job.rb
  app/spec/jobs/application_job_spec.rb
Due: rubocop

Add domain name for NH
  infra/app/app-config/env-config/environment-variables.tf
Due: terraform_fmt

Put error back
  app/app/jobs/application_job.rb
Due: rubocop

Bug fix
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/app/controllers/webhooks/pinwheel/events_controller.rb
  app/app/models/flow.rb
  app/app/services/aggregator_report_fetcher.rb
  app/spec/models/activity_flow_monthly_summary_spec.rb
Due: rubocop

Fix ActiveJob retry logic (#1415)
  app/app/jobs/application_job.rb
  app/spec/jobs/application_job_spec.rb
Due: rubocop

e2e test functions properly now!
  app/spec/e2e/activity_hub_spec.rb
Due: rubocop

Add more attributes to SyncWaitTime alerting event (#1413)
  app/app/controllers/cbv/synchronizations_controller.rb
Due: rubocop

FFS-3821: Change /volunteering urls to /community_service (#1405)
  app/app/controllers/activities/document_uploads_controller.rb
  app/app/controllers/activities/volunteering/months_controller.rb
  app/app/controllers/activities/volunteering_controller.rb
  app/app/views/activities/activities/index.html.erb
  app/app/views/activities/volunteering/_form.html.erb
  app/app/views/activities/volunteering/months/edit.html.erb
  app/app/views/activities/volunteering/review.html.erb
  app/config/brakeman.ignore
  app/config/routes.rb
  app/spec/controllers/activities/document_uploads_controller_spec.rb
  app/spec/controllers/activities/volunteering/months_controller_spec.rb
  app/spec/controllers/activities/volunteering_controller_spec.rb
  app/spec/e2e/activity_hub_spec.rb
Due: rubocop, erblint

Report Argyle/Pinwheel webhook errors to NewRelic
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/app/controllers/webhooks/pinwheel/events_controller.rb
  app/app/models/payroll_account/argyle.rb
Due: rubocop

Path conditions:
  rubocop: any of: ^app/.*\.rb$
  erblint: any of: ^app/.*\.erb$
  i18n-unused: any of: ^app/config/locales/.*\.yml$
  i18n-normalize: any of: ^app/config/locales/.*\.yml$
  shellcheck: any of: ^bin/.*$
  prettier: any of: ^app/.*\.(js|ts)$
  terraform_fmt: any of: infra/.*\.tf$
  actionlint: any of: ^.github/.*\.yml$
