Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-unused, i18n-normalize, shellcheck, prettier, terraform_fmt, actionlint

rubocop:
  name: rubocop
  entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
  language: system

erblint:
  name: erblint
  entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
  language: system

i18n-unused:
  name: i18n-unused
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks unused
  language: system
  pass_filenames: false

i18n-normalize:
  name: i18n-normalize
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
  language: system
  pass_filenames: false

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system

prettier:
  name: prettier
  entry: bin/run-linter --cd app -- npm run format:precommit
  language: node

terraform_fmt:
  name: Terraform Fmt
  entry: terraform fmt
  language: system

actionlint:
  name: ActionLint
  entry: actionlint
  language: system
  pass_filenames: false

Use updated at for doc retention deletion
  app/app/services/data_retention_service.rb
  app/spec/services/data_retention_service_spec.rb
Due: rubocop

Switch to new template for embedding
  app/app/controllers/application_controller.rb
  app/app/controllers/flow_controller.rb
  app/app/views/layouts/nochrome.html.erb
Due: rubocop, erblint

Special-case some CBV flow content when embedded
  app/app/controllers/application_controller.rb
  app/app/views/cbv/employer_searches/show.html.erb
  app/app/views/cbv/entries/show.html.erb
Due: rubocop, erblint

Example of agency-level embed customization
  app/app/assets/stylesheets/cbv.scss
  app/app/views/cbv/entries/show.html.erb
  app/config/client-agency-config.yml
  app/lib/client_agency_config.rb
Due: rubocop, erblint

FFS-4496: Add logging to JsonTransmitter and HttpPdfTransmitter
  app/app/services/transmitters/http_pdf_transmitter.rb
  app/app/services/transmitters/json_transmitter.rb
  app/spec/services/transmitters/http_pdf_transmitter_spec.rb
  app/spec/services/transmitters/json_transmitter_spec.rb
Due: rubocop

Adopt semantic versioning at 0.1.0
  CHANGELOG.md
  README.md
  app/app/controllers/health_check_controller.rb
  app/lib/emmy_version.rb
  app/spec/controllers/health_check_controller_spec.rb
  app/version.txt
  code.json
  docs/release-process.md
  docs/versioning.md
Due: rubocop

FFS-4496: Add logging to JsonTransmitter and HttpPdfTransmitter (#1940)
  app/app/services/transmitters/http_pdf_transmitter.rb
  app/app/services/transmitters/json_transmitter.rb
  app/spec/services/transmitters/http_pdf_transmitter_spec.rb
  app/spec/services/transmitters/json_transmitter_spec.rb
Due: rubocop

fix: patch Ruby/JS dependencies for CVEs flagged by bundler-audit/npm audit
  app/Gemfile.lock
Due: none

Auto-resize frame height using cross-origin postMessage
  app/app/views/layouts/nochrome.html.erb
  docs/iframe-test-harness.html
Due: erblint

FFS-4269: Add scripts to run commands in CMS Cloud (#1912)
  bin/ecs-console-cms
  bin/run-command-cms
Due: shellcheck

FFS-4495: Add one more URL to Accenture iframe
  app/config/client-agency-config.yml
Due: none

User wrapper div to help with text wrapping
  app/app/views/layouts/nochrome.html.erb
  docs/iframe-test-harness.html
Due: erblint

FFS-4495: Add one more URL to Accenture iframe (#1943)
  app/config/client-agency-config.yml
Due: none

Log failure to delete
  app/app/services/data_retention_service.rb
  app/spec/services/data_retention_service_spec.rb
Due: rubocop

fix: patch Dockerfile for OS-level CVEs flagged by Trivy/Anchore
  app/Dockerfile
Due: none

Add transmitted_at for docs
  app/app/models/activity_flow.rb
  app/app/services/data_retention_service.rb
  app/db/migrate/20260731120000_add_transmitted_at_to_activity_flows.rb
  app/db/schema.rb
  app/spec/services/data_retention_service_spec.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.mmd
Due: rubocop

Update app/app/controllers/health_check_controller.rb
  app/app/controllers/health_check_controller.rb
Due: rubocop

Update app/lib/emmy_version.rb
  app/lib/emmy_version.rb
Due: rubocop

remove version number from readme
  README.md
Due: none

FFS-4545: Delete delivered documents during redaction (#1929)
  app/app/models/activity_flow.rb
  app/app/services/data_retention_service.rb
  app/config/storage.yml
  app/db/migrate/20260724120000_add_documents_deleted_at_to_activity_flows.rb
  app/db/migrate/20260731120000_add_transmitted_at_to_activity_flows.rb
  app/db/schema.rb
  app/lib/tasks/data_deletion.rake
  app/spec/services/data_retention_service_spec.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.mmd
Due: rubocop

Remove rack mini profiler
  app/Gemfile
  app/app/controllers/application_controller.rb
  app/spec/controllers/application_controller_spec.rb
Due: rubocop

FFS-4623: Disable rack-mini-profiler in Sandbox, UAT, Production [by 8/18] (#1954)
  app/Gemfile
  app/app/controllers/application_controller.rb
  app/spec/controllers/application_controller_spec.rb
Due: rubocop

Direct upload to S3
  app/app/controllers/activities/document_uploads_controller.rb
  app/app/controllers/activities/presigned_uploads_controller.rb
  app/app/controllers/fake_s3_uploads_controller.rb
  app/app/javascript/controllers/document_upload_controller.js
  app/app/javascript/controllers/index.js
  app/app/javascript/utilities/file_checksum.js
  app/app/jobs/unattached_upload_cleanup_job.rb
  app/app/models/concerns/document_uploadable.rb
  app/app/services/presigned_upload_service.rb
  app/app/views/activities/document_uploads/new.html.erb
  app/config/initializers/content_security_policy.rb
  app/config/locales/en.yml
  app/config/recurring.yml
  app/config/routes.rb
  app/config/storage.yml
  app/package-lock.json
  app/package.json
  app/spec/controllers/activities/document_uploads_controller_spec.rb
  app/spec/controllers/activities/presigned_uploads_controller_spec.rb
  app/spec/e2e/activity_hub_spec.rb
  app/spec/javascript/controllers/document_upload.spec.js
  app/spec/jobs/unattached_upload_cleanup_job_spec.rb
  app/spec/requests/fake_s3_uploads_spec.rb
  app/spec/services/presigned_upload_service_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize, prettier

Address AI comments
  app/app/controllers/activities/document_uploads_controller.rb
  app/app/controllers/activities/local_uploads_controller.rb
  app/app/controllers/activities/presigned_uploads_controller.rb
  app/app/services/presigned_upload_service.rb
  app/spec/controllers/activities/document_uploads_controller_spec.rb
  app/spec/controllers/activities/local_uploads_controller_spec.rb
  app/spec/services/presigned_upload_service_spec.rb
Due: rubocop

Keep uploads on disk for non CMS infra
  app/app/controllers/activities/local_uploads_controller.rb
  app/app/controllers/fake_s3_uploads_controller.rb
  app/app/services/presigned_upload_service.rb
  app/config/routes.rb
  app/spec/controllers/activities/local_uploads_controller_spec.rb
  app/spec/requests/fake_s3_uploads_spec.rb
  app/spec/services/presigned_upload_service_spec.rb
Due: rubocop

Switch from MD5 > SHA256
  app/app/javascript/controllers/document_upload_controller.js
  app/app/javascript/utilities/file_checksum.js
  app/app/services/presigned_upload_service.rb
  app/package-lock.json
  app/package.json
  app/spec/controllers/activities/document_uploads_controller_spec.rb
  app/spec/controllers/activities/presigned_uploads_controller_spec.rb
  app/spec/javascript/controllers/document_upload.spec.js
  app/spec/jobs/unattached_upload_cleanup_job_spec.rb
  app/spec/services/presigned_upload_service_spec.rb
Due: rubocop, prettier

Adopt semantic versioning at 0.1.0 (#1941)
  CHANGELOG.md
  README.md
  app/app/controllers/health_check_controller.rb
  app/lib/emmy_version.rb
  app/spec/controllers/health_check_controller_spec.rb
  app/version.txt
  code.json
  docs/release-process.md
  docs/versioning.md
Due: rubocop

simplify instructions
  docs/local-replication.md
Due: none

Local Replication Guide (#1928)
  docs/local-replication.md
Due: none

rough draft
  app/app/controllers/activities/activities_controller.rb
  app/app/controllers/api/user_events_controller.rb
  app/app/controllers/application_controller.rb
  app/app/controllers/concerns/trackable.rb
  app/app/models/track_event.rb
  app/lib/generic_event_tracker.rb
  app/spec/controllers/activities/activities_controller_spec.rb
  app/spec/controllers/concerns/trackable_spec.rb
  app/spec/generic_event_tracker_spec.rb
  app/spec/support/shared_examples/tracks_event_examples.rb
Due: rubocop

S3 transmission
  app/app/controllers/activities/summary_controller.rb
  app/app/jobs/activity_flow_transmitter_job.rb
  app/app/jobs/case_worker_transmitter_job.rb
  app/app/services/s3_service.rb
  app/app/services/transmitters/activity_s3_transmitter.rb
  app/config/client-agency-config.yml
  app/lib/client_agency_config.rb
  app/spec/controllers/activities/summary_controller_spec.rb
  app/spec/jobs/activity_flow_transmitter_job_spec.rb
  app/spec/jobs/case_worker_transmitter_job_spec.rb
  app/spec/lib/client_agency_config_spec.rb
  app/spec/services/s3_service_spec.rb
  app/spec/services/transmitters/activity_s3_transmitter_spec.rb
  app/spec/services/transmitters/http_pdf_transmitter_spec.rb
  app/spec/services/transmitters/json_and_pdf_transmitter_spec.rb
  app/spec/services/transmitters/sftp_transmitter_spec.rb
  docs/testing_sftp.md
Due: rubocop

Address Daph's comments
  app/app/controllers/activities/local_uploads_controller.rb
  app/app/javascript/controllers/document_upload_controller.js
  app/app/services/presigned_upload_service.rb
  app/spec/controllers/activities/local_uploads_controller_spec.rb
  app/spec/javascript/controllers/document_upload.spec.js
  app/spec/services/presigned_upload_service_spec.rb
Due: rubocop, prettier

Genericize env vars
  app/config/client-agency-config.yml
  app/spec/lib/client_agency_config_spec.rb
Due: rubocop

Normalize path
  app/app/services/transmitters/activity_s3_transmitter.rb
  app/spec/services/transmitters/activity_s3_transmitter_spec.rb
Due: rubocop

FFS-4542: Upload supporting docs directly to S3 client-side (#1955)
  app/app/controllers/activities/document_uploads_controller.rb
  app/app/controllers/activities/local_uploads_controller.rb
  app/app/controllers/activities/presigned_uploads_controller.rb
  app/app/javascript/controllers/document_upload_controller.js
  app/app/javascript/controllers/index.js
  app/app/javascript/utilities/file_checksum.js
  app/app/jobs/unattached_upload_cleanup_job.rb
  app/app/models/concerns/document_uploadable.rb
  app/app/services/presigned_upload_service.rb
  app/app/views/activities/document_uploads/new.html.erb
  app/config/initializers/content_security_policy.rb
  app/config/locales/en.yml
  app/config/recurring.yml
  app/config/routes.rb
  app/config/storage.yml
  app/spec/controllers/activities/document_uploads_controller_spec.rb
  app/spec/controllers/activities/local_uploads_controller_spec.rb
  app/spec/controllers/activities/presigned_uploads_controller_spec.rb
  app/spec/e2e/activity_hub_spec.rb
  app/spec/javascript/controllers/document_upload.spec.js
  app/spec/jobs/unattached_upload_cleanup_job_spec.rb
  app/spec/services/presigned_upload_service_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize, prettier

Add two more URLs for accenture iframe
  app/config/client-agency-config.yml
Due: none

Bump fast-uri npm module 3.1.4 -> 3.1.5
  app/package-lock.json
Due: none

Bump libheif1 in base image
  app/Dockerfile
Due: none

Path conditions:
  rubocop: any of: ^app/.*\.rb$
  erblint: any of: ^app/.*\.erb$
  i18n-unused: any of: ^app/config/locales/.*\.yml$
  i18n-normalize: any of: ^app/config/locales/.*\.yml$
  shellcheck: any of: ^bin/.*$
  prettier: any of: ^app/.*\.(js|ts)$
  terraform_fmt: any of: infra/.*\.tf$
  actionlint: any of: ^.github/.*\.yml$
