Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-unused, i18n-normalize, shellcheck, prettier, terraform_fmt, actionlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml

- repo: local
  hooks:
  - id: rubocop
    name: rubocop
    entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
    language: system
    files: '^app/.*\.rb$'

  # this rubocop hook works on windows/wsl, and is being left here as of 8/27/2025 to figure it out at some point
  #- id: rubocop
  #  name: rubocop
  #  language: system
  #  entry: bash -lc 'BUNDLE_GEMFILE=app/Gemfile cd app && bundle exec rubocop -a --force-exclusion'
  #  types: [ ruby ]
  #  files: '^app/.*\.rb$'
  #  pass_filenames: false

  - id: erblint
    name: erblint
    entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
    language: system
    files: '^app/.*\.erb$'

  - id: i18n-unused
    name: i18n-unused
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks unused
    language: system
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: i18n-normalize
    name: i18n-normalize
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
    language: system
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system        # installed via `brew bundle`
    files: '^bin/.*$'

  - id: prettier
    name: prettier
    entry: bin/run-linter --cd app -- npm run format:precommit
    language: node
    files: '^app/.*\.(js|ts)$'

  - id: terraform_fmt
    name: Terraform Fmt
    entry: terraform fmt
    language: system
    files: 'infra/.*\.tf$'

#  - id: checkov
#    name: Checkov
#    entry: checkov --quiet --output sarif --framework terraform -f
#    language: system
#    files: 'infra/.*\.tf$'

  - id: actionlint
    name: ActionLint
    entry: actionlint
    language: system
    files: '^.github/.*\.yml$'
    pass_filenames: false

FFS-4082: Bug: Can't process Pinwheel events when phone numbers are blank (#1576)
  app/app/controllers/webhooks/pinwheel/events_controller.rb
  app/spec/controllers/webhooks/pinwheel/events_controller_spec.rb
  app/spec/support/pinwheel_api_helper.rb
Due: rubocop

rough draft -- switch to model-based draft tracking
  app/app/controllers/activities/activities_controller.rb
  app/app/controllers/activities/base_controller.rb
  app/app/controllers/activities/education_controller.rb
  app/app/controllers/activities/employment_controller.rb
  app/app/controllers/activities/income/payment_details_controller.rb
  app/app/controllers/activities/income/synchronizations_controller.rb
  app/app/controllers/activities/job_training_controller.rb
  app/app/controllers/activities/submit_controller.rb
  app/app/controllers/activities/summary_controller.rb
  app/app/controllers/activities/volunteering_controller.rb
  app/app/jobs/draft_cleanup_job.rb
  app/app/models/activity.rb
  app/app/models/payroll_account.rb
  app/app/services/activity_flow_progress_calculator.rb
  app/app/views/activities/activities/index.html.erb
  app/config/recurring.yml
  app/db/migrate/20260410121945_add_draft_to_activities_and_payroll_accounts.rb
  app/db/schema.rb
  app/spec/controllers/activities/activities_controller_spec.rb
  app/spec/controllers/activities/education_controller_spec.rb
  app/spec/controllers/activities/employment_controller_spec.rb
  app/spec/controllers/activities/income/payment_details_controller_spec.rb
  app/spec/controllers/activities/income/synchronizations_controller_spec.rb
  app/spec/controllers/activities/job_training_controller_spec.rb
  app/spec/controllers/activities/volunteering/months_controller_spec.rb
  app/spec/controllers/activities/volunteering_controller_spec.rb
  app/spec/jobs/draft_cleanup_job_spec.rb
  app/spec/models/activity_spec.rb
  app/spec/models/payroll_account_spec.rb
  app/spec/services/activity_flow_progress_calculator_spec.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.pdf
Due: rubocop, erblint

Bump 5 dependencies to address vulnerability scans (#1584)
  app/Dockerfile
  app/Gemfile.lock
  app/package-lock.json
Due: none

Bump openssh-client to address vuln scan
  app/Dockerfile
Due: none

Bump openssh-client to address vuln scan (#1587)
  app/Dockerfile
Due: none

FFS-3885: Use new tables in activity review, hours, and summaries (#1579)
  app/app/assets/stylesheets/cbv.scss
  app/app/components/report/gig_monthly_summary_table_component.erb
  app/app/components/report/gig_monthly_summary_table_component.rb
  app/app/components/report/w2_monthly_summary_table_component.erb
  app/app/components/report/w2_monthly_summary_table_component.rb
  app/app/views/activities/education/_review_fully_self_attested.html.erb
  app/app/views/activities/education/_review_partially_self_attested.html.erb
  app/app/views/activities/employment/review.html.erb
  app/app/views/activities/income/payment_details/show.html.erb
  app/app/views/activities/job_training/review.html.erb
  app/app/views/activities/summary/_employment_table.html.erb
  app/app/views/activities/summary/_fully_self_attested_education_table.html.erb
  app/app/views/activities/summary/_job_training_table.html.erb
  app/app/views/activities/summary/_partially_self_attested_education_table.html.erb
  app/app/views/activities/summary/_self_attested_employment_table.html.erb
  app/app/views/activities/summary/_volunteering_table.html.erb
  app/app/views/activities/volunteering/review.html.erb
  app/config/locales/en.yml
  app/spec/controllers/activities/education_controller_spec.rb
  app/spec/controllers/activities/employment_controller_spec.rb
  app/spec/controllers/activities/job_training_controller_spec.rb
  app/spec/controllers/activities/summary_controller_spec.rb
  app/spec/controllers/activities/volunteering_controller_spec.rb
  app/spec/e2e/activity_hub_education_self_attestation_spec.rb
  app/spec/e2e/activity_hub_employment_self_attestation_spec.rb
  app/spec/e2e/activity_hub_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Change interval, set to main branch, rewrite in ruby
  .github/scripts/patch-dockerfile.py
  .github/scripts/patch-dockerfile.rb
  .github/workflows/auto-fix-vulnerabilities.yml
Due: actionlint

Revert "Remove now that it works successfully"
  .github/workflows/auto-fix-vulnerabilities.yml
Due: actionlint

Fail gracefully if no changes needed
  .github/scripts/patch-dockerfile.rb
  .github/workflows/auto-fix-vulnerabilities.yml
Due: actionlint

Split image publishing workflows by GitHub org
  .github/workflows/README.md
  .github/workflows/cmsgov-build-and-publish.yml
  .github/workflows/cmsgov-cd-app.yml
  .github/workflows/database-migrations.yml
  .github/workflows/dsacms-build-and-publish.yml
  .github/workflows/pr-environment-checks.yml
  bin/is-artifactory-image-published
Due: shellcheck, actionlint

Add temporary branch triggers for workflow testing
  .github/workflows/cd-app.yml
  .github/workflows/cmsgov-cd-app.yml
Due: actionlint

Potential fix for pull request finding 'CodeQL / Workflow does not contain permissions'
  .github/workflows/cmsgov-cd-app.yml
Due: actionlint

Potential fix for pull request finding 'CodeQL / Workflow does not contain permissions'
  .github/workflows/cmsgov-build-and-publish.yml
Due: actionlint

Remove temporary DSACMS workflow test trigger
  .github/workflows/cd-app.yml
Due: actionlint

Use docker manifest to see if image is published
  .github/workflows/cmsgov-build-and-publish.yml
  bin/is-artifactory-image-published
Due: shellcheck, actionlint

FFS-3916: Update progress calculator to decide between hours or dollars for each month (#1585)
  app/app/components/activity_flow_progress_indicator.rb
  app/app/components/activity_flow_progress_indicator/activity_flow_progress_indicator.erb
  app/app/services/activity_flow_progress_calculator.rb
  app/spec/components/activity_flow_progress_indicator_component_spec.rb
  app/spec/components/previews/activity_flow_progress_indicator_preview.rb
  app/spec/controllers/activities/activities_controller_spec.rb
  app/spec/services/activity_flow_progress_calculator_spec.rb
Due: rubocop, erblint

Remove now that it works successfully
  .github/workflows/auto-fix-vulnerabilities.yml
Due: actionlint

WIP first refactor
  app/app/components/aggregate_data_point_component.html.erb
  app/app/components/contact_info_review_table_component.erb
  app/app/components/enrollment_term_table_component.erb
  app/app/components/report/employment_details_table_component.erb
  app/app/components/report/gig_monthly_summary_table_component.erb
  app/app/components/report/payments_deductions_monthly_summary_component.html.erb
  app/app/components/report/w2_monthly_summary_table_component.erb
  app/app/components/table_component.rb
  app/app/components/table_row_component.html.erb
  app/app/components/table_row_component.rb
  app/app/components/table_row_section_header_component.html.erb
  app/app/components/table_row_section_header_component.rb
  app/app/views/activities/job_training/review.html.erb
  app/app/views/activities/submit/show.pdf.erb
  app/app/views/activities/summary/_fully_self_attested_education_table.html.erb
  app/app/views/activities/summary/_job_training_table.html.erb
  app/app/views/activities/summary/_partially_self_attested_education_table.html.erb
  app/app/views/activities/summary/_self_attested_employment_table.html.erb
  app/app/views/activities/summary/_volunteering_table.html.erb
  app/app/views/cbv/submits/show.pdf.erb
  app/spec/components/previews/table_component_preview.rb
  app/spec/components/table_component_spec.rb
Due: rubocop, erblint

FFS-3886: Use new tables in Emmy Income flows
  app/app/assets/stylesheets/cbv.scss
  app/app/components/report/gig_monthly_summary_table_component.erb
  app/app/components/report/w2_monthly_summary_table_component.erb
  app/app/views/cbv/payment_details/show.html.erb
  app/app/views/cbv/submits/show.pdf.erb
  app/app/views/cbv/summaries/show.html.erb
  app/config/initializers/wicked_pdf.rb
  app/spec/components/report/gig_monthly_summary_table_component_spec.rb
  app/spec/components/report/w2_monthly_summary_table_component_spec.rb
Due: rubocop, erblint

WIP remove the constructor arguments
  app/app/components/contact_info_review_table_component.erb
  app/app/components/enrollment_term_table_component.erb
  app/app/components/report/employment_details_table_component.erb
  app/app/components/report/gig_monthly_summary_table_component.erb
  app/app/components/report/payments_deductions_monthly_summary_component.html.erb
  app/app/components/report/w2_monthly_summary_table_component.erb
  app/app/components/table_component.rb
  app/app/views/activities/job_training/review.html.erb
  app/app/views/activities/summary/_fully_self_attested_education_table.html.erb
  app/app/views/activities/summary/_job_training_table.html.erb
  app/app/views/activities/summary/_partially_self_attested_education_table.html.erb
  app/app/views/activities/summary/_self_attested_employment_table.html.erb
  app/app/views/activities/summary/_volunteering_table.html.erb
  app/app/views/cbv/submits/show.pdf.erb
  app/app/views/cbv/summaries/show.html.erb
  app/spec/components/previews/table_component_preview.rb
Due: rubocop, erblint

WIP remove `use_activity_style`
  app/app/components/report/employment_details_table_component.erb
  app/app/components/report/employment_details_table_component.rb
  app/app/components/report/payments_deductions_monthly_summary_component.html.erb
  app/app/components/report/payments_deductions_monthly_summary_component.rb
  app/app/views/activities/income/payment_details/show.html.erb
  app/app/views/activities/summary/_employment_table.html.erb
  app/app/views/cbv/payment_details/show.html.erb
  app/spec/components/report/employment_details_table_component_spec.rb
  app/spec/components/report/payments_deductions_monthly_summary_component_spec.rb
Due: rubocop, erblint

WIP Remove text-no-wrap
  app/app/components/aggregate_data_point_component.html.erb
  app/app/components/report/employment_details_table_component.erb
  app/app/components/report/gig_monthly_summary_table_component.erb
  app/app/components/report/payments_deductions_monthly_summary_component.html.erb
  app/app/components/report/w2_monthly_summary_table_component.erb
  app/app/views/activities/submit/show.pdf.erb
  app/app/views/activities/summary/_self_attested_employment_table.html.erb
  app/app/views/cbv/submits/show.pdf.erb
Due: erblint

WIP Remove `is_responsive`
  app/app/components/contact_info_review_table_component.erb
  app/app/components/enrollment_term_table_component.erb
  app/app/components/report/employment_details_table_component.erb
  app/app/components/report/employment_details_table_component.rb
  app/app/components/report/gig_monthly_summary_table_component.erb
  app/app/components/report/gig_monthly_summary_table_component.rb
  app/app/components/report/payments_deductions_monthly_summary_component.html.erb
  app/app/components/report/payments_deductions_monthly_summary_component.rb
  app/app/components/report/w2_monthly_summary_table_component.erb
  app/app/components/report/w2_monthly_summary_table_component.rb
  app/app/components/table_component.rb
  app/app/views/activities/education/_review_fully_self_attested.html.erb
  app/app/views/activities/education/_review_partially_self_attested.html.erb
  app/app/views/activities/employment/review.html.erb
  app/app/views/activities/job_training/review.html.erb
  app/app/views/activities/summary/_fully_self_attested_education_table.html.erb
  app/app/views/activities/summary/_job_training_table.html.erb
  app/app/views/activities/summary/_partially_self_attested_education_table.html.erb
  app/app/views/activities/summary/_self_attested_employment_table.html.erb
  app/app/views/activities/summary/_volunteering_table.html.erb
  app/app/views/activities/volunteering/review.html.erb
  app/app/views/cbv/submits/show.pdf.erb
  app/app/views/cbv/summaries/show.html.erb
  app/spec/components/previews/table_component_preview.rb
  app/spec/components/report/gig_monthly_summary_table_component_spec.rb
  app/spec/components/report/payments_deductions_monthly_summary_component_spec.rb
  app/spec/components/table_component_spec.rb
Due: rubocop, erblint

WIP remove subheader row
  app/app/assets/stylesheets/cbv.scss
  app/app/components/report/employment_details_table_component.erb
  app/app/components/report/payments_deductions_monthly_summary_component.html.erb
  app/app/components/table_component.html.erb
  app/app/components/table_component.rb
  app/app/views/activities/education/_review_partially_self_attested.html.erb
  app/app/views/activities/submit/show.pdf.erb
  app/app/views/activities/summary/_self_attested_employment_table.html.erb
  app/app/views/cbv/summaries/show.html.erb
  app/spec/components/report/employment_details_table_component_spec.rb
  app/spec/components/report/payments_deductions_monthly_summary_component_spec.rb
  app/spec/e2e/activity_hub_education_self_attestation_spec.rb
  app/spec/e2e/activity_hub_employment_self_attestation_spec.rb
  app/spec/e2e/activity_hub_spec.rb
Due: rubocop, erblint

WIP Remove width-full helper class
  app/app/components/table_component.rb
  app/spec/components/table_component_spec.rb
  app/spec/controllers/cbv/summaries_controller_spec.rb
Due: rubocop

WIP Remove activity-review-table class
  app/app/assets/stylesheets/cbv.scss
  app/app/assets/stylesheets/uswds-overrides.scss
  app/app/components/table_component.html.erb
  app/app/components/table_component.rb
  app/app/views/activities/summary/_fully_self_attested_education_table.html.erb
  app/app/views/activities/summary/_job_training_table.html.erb
  app/app/views/activities/summary/_volunteering_table.html.erb
  app/spec/components/report/employment_details_table_component_spec.rb
  app/spec/components/report/payments_deductions_monthly_summary_component_spec.rb
  app/spec/components/table_component_spec.rb
Due: rubocop, erblint

WIP Add "multi-column" table variant to avoid the hardcoded spacing
  app/app/assets/stylesheets/uswds-overrides.scss
  app/app/components/report/gig_monthly_summary_table_component.erb
  app/app/components/report/w2_monthly_summary_table_component.erb
  app/app/components/table_component.rb
  app/app/views/activities/submit/show.pdf.erb
  app/app/views/activities/summary/_self_attested_employment_table.html.erb
  app/spec/components/table_component_spec.rb
Due: rubocop, erblint

WIP add subdued header variant
  app/app/assets/stylesheets/uswds-overrides.scss
  app/app/components/table_component.rb
  app/app/views/cbv/submits/show.pdf.erb
  app/spec/components/table_component_spec.rb
Due: rubocop, erblint

Add stacked header PDF override
  app/app/assets/stylesheets/uswds-overrides.scss
  app/app/views/layouts/pdf.pdf.erb
Due: erblint

Remove cbv-table class
  app/app/assets/stylesheets/cbv.scss
  app/spec/components/previews/table_component_preview.rb
Due: rubocop

Fix key-value tables on Cbv /summary page
  app/app/components/aggregate_data_point_component.html.erb
  app/app/views/cbv/summaries/show.html.erb
Due: erblint

Update activity flow tables
  app/app/assets/stylesheets/cbv.scss
  app/app/assets/stylesheets/uswds-overrides.scss
  app/app/components/contact_info_review_table_component.erb
  app/app/components/enrollment_term_table_component.erb
  app/app/components/table_component.rb
  app/app/views/activities/education/_review_fully_self_attested.html.erb
  app/app/views/activities/education/_review_partially_self_attested.html.erb
  app/app/views/activities/employment/review.html.erb
  app/app/views/activities/job_training/review.html.erb
  app/app/views/activities/summary/_job_training_table.html.erb
  app/app/views/activities/summary/_partially_self_attested_education_table.html.erb
  app/app/views/activities/summary/_self_attested_employment_table.html.erb
  app/app/views/activities/summary/_volunteering_table.html.erb
  app/app/views/activities/volunteering/review.html.erb
Due: rubocop, erblint

Fix tests
  app/spec/controllers/activities/summary_controller_spec.rb
Due: rubocop

Remove unused translations
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: i18n-unused, i18n-normalize

Remove temporary pull_request trigger (validated on main).
  .github/workflows/auto-fix-vulnerabilities.yml
Due: actionlint

Automatically create PRs to Autofix anchore/trivy failures (#1580)
  .github/dependabot.yml
  .github/scripts/patch-dockerfile.rb
  .github/workflows/auto-fix-vulnerabilities.yml
  .github/workflows/ci-infra.yml
Due: actionlint

Redact invites 7 days after expiration
  app/app/models/cbv_flow_invitation.rb
  app/app/services/data_retention_service.rb
  app/spec/controllers/cbv/entries_controller_spec.rb
  app/spec/services/data_retention_service_spec.rb
Due: rubocop

Add lookbook variants for new tables
  app/spec/components/previews/table_component_preview.rb
Due: rubocop

FFS-4081: Add `gross_pay_list` to JSON API paystubs object
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/spec/services/aggregators/aggregator_reports/aggregator_report_spec.rb
Due: rubocop

Update NH variables + logo
  app/app/assets/images/nh_dhhs_logo.png
  app/app/views/application/_header.html.erb
  app/config/client-agency-config.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: erblint, i18n-unused, i18n-normalize
