Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-normalize, i18n-missing, shellcheck, prettier

rubocop:
  name: rubocop
  entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
  language: ruby

erblint:
  name: erblint
  entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
  language: ruby

i18n-normalize:
  name: i18n-normalize
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
  language: ruby
  pass_filenames: false

i18n-missing:
  name: i18n-missing
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks missing
  language: ruby
  pass_filenames: false

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system

prettier:
  name: prettier
  entry: bin/run-linter --cd app -- npm run format:precommit
  language: node

Update client-agency-config
  app/config/client-agency-config.yml
Due: none

Update header logic
  app/app/views/application/_header.html.erb
Due: erblint

FFS-2778 (Bugfix) Redirect when linking a previously linked account (#607)
  app/app/controllers/api/argyle_controller.rb
  app/app/javascript/adapters/ArgyleModalAdapter.ts
  app/app/javascript/utilities/api.js
  app/spec/controllers/api/argyle_controller_spec.rb
  app/spec/factories/cbv_flow.rb
  app/spec/factories/payroll_account.rb
  app/spec/javascript/controllers/__snapshots__/employer_search.spec.js.snap
  app/spec/support/argyle_api_helper.rb
Due: rubocop, prettier

updated payment_details page.
  app/app/controllers/cbv/payment_details_controller.rb
  app/app/views/cbv/payment_details/show.html.erb
Due: rubocop, erblint

updated pdf service page.
  app/app/views/cbv/payment_details/show.html.erb
  app/app/views/cbv/submits/show.pdf.erb
Due: erblint

fixing typo
  app/app/views/cbv/submits/show.pdf.erb
Due: erblint

implemented LA copy updates for W2 workers
  app/app/views/cbv/payment_details/show.html.erb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: erblint, i18n-normalize, i18n-missing

updated application_controller and tests to redirect to the agency generic link entry page
  app/app/controllers/application_controller.rb
  app/spec/controllers/api/argyle_controller_spec.rb
  app/spec/controllers/application_controller_spec.rb
Due: rubocop

indentation fix
  app/app/views/cbv/payment_details/show.html.erb
Due: erblint

deleted rogue test resulting from being in the wrong directory
  app/spec/controllers/cbv/generic_links_controller_spec.rb
Due: rubocop

implemented LA copy
  app/app/views/pages/home.html.erb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: erblint, i18n-normalize, i18n-missing

implemented LA copy
  app/app/helpers/report_view_helper.rb
  app/app/views/cbv/submits/show.pdf.erb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: rubocop, erblint, i18n-normalize, i18n-missing

corrected unit test
  app/spec/components/aggregate_data_point_component_spec.rb
Due: rubocop

FFS-2688-applicant_information: implemented LA copy (#624)
  app/app/views/cbv/applicant_informations/_la_ldh.html.erb
  app/app/views/cbv/applicant_informations/show.html.erb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: erblint, i18n-normalize, i18n-missing

I did it, the pdf report looks ok
  app/app/assets/stylesheets/cbv.scss
  app/app/views/cbv/submits/show.pdf.erb
Due: erblint

removing redundant mock of agency configs and stubbing out a test file for the generic_links_controller
  app/spec/controllers/api/argyle_controller_spec.rb
  app/spec/controllers/cbv/generic_links_controller_spec.rb
Due: rubocop

moved redirect_to_client_agency_entries to PagesController- verified that there is no redirect loop via lvh.me
  app/app/controllers/application_controller.rb
  app/app/controllers/pages_controller.rb
Due: rubocop

FFS-2650: Implement pagination for argyle /paystubs and /gigs
  app/app/services/aggregators/sdk/argyle_service.rb
  app/spec/services/aggregators/aggregator_reports/argyle_report_spec.rb
  app/spec/services/aggregators/sdk/argyle_service_spec.rb
  app/spec/support/argyle_api_helper.rb
  app/spec/support/fixtures/argyle/bob/request_gigs.json
  app/spec/support/fixtures/argyle/bob/request_gigs_page_2.json
  app/spec/support/fixtures/argyle/busy_joe/request_paystubs.json
  app/spec/support/fixtures/argyle/busy_joe/request_paystubs_page_2.json
Due: rubocop

implemented LA copy (#628)
  app/app/views/pages/home.html.erb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: erblint, i18n-normalize, i18n-missing

Mobile responsiveness
  app/app/assets/stylesheets/cbv.scss
Due: none

Size down font a bit on pdf page
  app/app/views/cbv/submits/show.pdf.erb
Due: erblint

FFS-2688-client_pdf: implemented LA copy (#629)
  app/app/helpers/report_view_helper.rb
  app/app/views/cbv/submits/show.pdf.erb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/spec/components/aggregate_data_point_component_spec.rb
Due: rubocop, erblint, i18n-normalize, i18n-missing

tested w2 and gig worker for payment details page
  app/spec/controllers/cbv/payment_details_controller_spec.rb
  app/spec/support/argyle_api_helper.rb
  app/spec/support/fixtures/argyle/sarah/request_gigs.json
  app/spec/support/fixtures/argyle/sarah/request_paystubs.json
Due: rubocop

resolved a couple test failures
  app/spec/controllers/application_controller_spec.rb
  app/spec/controllers/pages_controller_spec.rb
Due: rubocop

added generic controller tests
  app/spec/controllers/application_controller_spec.rb
  app/spec/controllers/cbv/generic_links_controller_spec.rb
Due: rubocop

Fix issues with pdf
  app/app/views/cbv/submits/show.pdf.erb
Due: erblint

Finally fixed regression
  app/app/views/application/_header.html.erb
Due: erblint

has_square_logo is actually has_logo
  app/app/views/application/_header.html.erb
Due: erblint

Refactor helper methods because logic was really getting to be too much
  app/app/views/application/_header.html.erb
Due: erblint

Satisfy linter without breaking helpers
  app/app/views/application/_header.html.erb
Due: erblint

Simplify logo logic in show.pdf.erb
  app/app/views/cbv/submits/show.pdf.erb
Due: erblint

Working on fixing regression for sandbox
  app/app/views/cbv/submits/show.pdf.erb
Due: erblint

FFS-2650: Track ApplicantReceivedArgyleData for partial data
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/app/models/payroll_account/argyle.rb
  app/app/services/argyle_webhooks_manager.rb
  app/spec/controllers/webhooks/argyle/events_controller_spec.rb
  app/spec/factories/webhook_request.rb
  app/spec/services/argyle_webhooks_manager_spec.rb
Due: rubocop

tested submits controller.
  app/app/views/cbv/submits/show.pdf.erb
  app/spec/controllers/cbv/submits_controller_spec.rb
  app/spec/factories/payroll_account.rb
Due: rubocop, erblint

allow net pay and/or gross pay ytd through to come through for gig workers if the values exist
  app/app/views/cbv/submits/show.pdf.erb
  app/spec/controllers/cbv/submits_controller_spec.rb
Due: rubocop, erblint

Apply suggestions from code review
  app/app/controllers/cbv/payment_details_controller.rb
Due: rubocop

revert error when merging main
  app/spec/controllers/cbv/submits_controller_spec.rb
  app/spec/factories/payroll_account.rb
Due: rubocop

fix: upgrade webpack from 5.99.1 to 5.99.5
  app/package-lock.json
  app/package.json
Due: none

fix: upgrade webpack from 5.99.1 to 5.99.5 (#634)
  app/package-lock.json
  app/package.json
Due: none

Missed using helper method one place
  app/app/views/application/_header.html.erb
Due: erblint

Path conditions:
  rubocop: any of: ^app/.*\.rb$
  erblint: any of: ^app/.*\.erb$
  i18n-normalize: any of: ^app/config/locales/.*\.yml$
  i18n-missing: any of: ^app/config/locales/.*\.yml$
  shellcheck: any of: ^bin/.*$
  prettier: any of: ^app/.*\.(js|ts)$
