Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-unused, i18n-normalize, shellcheck, prettier, terraform_fmt, actionlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml

- repo: local
  hooks:
  - id: rubocop
    name: rubocop
    entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
    language: system
    files: '^app/.*\.rb$'

  # this rubocop hook works on windows/wsl, and is being left here as of 8/27/2025 to figure it out at some point
  #- id: rubocop
  #  name: rubocop
  #  language: system
  #  entry: bash -lc 'BUNDLE_GEMFILE=app/Gemfile cd app && bundle exec rubocop -a --force-exclusion'
  #  types: [ ruby ]
  #  files: '^app/.*\.rb$'
  #  pass_filenames: false

  - id: erblint
    name: erblint
    entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
    language: system
    files: '^app/.*\.erb$'

  - id: i18n-unused
    name: i18n-unused
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks unused
    language: system
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: i18n-normalize
    name: i18n-normalize
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
    language: system
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system        # installed via `brew bundle`
    files: '^bin/.*$'

  - id: prettier
    name: prettier
    entry: bin/run-linter --cd app -- npm run format:precommit
    language: node
    files: '^app/.*\.(js|ts)$'

  - id: terraform_fmt
    name: Terraform Fmt
    entry: terraform fmt
    language: system
    files: 'infra/.*\.tf$'

#  - id: checkov
#    name: Checkov
#    entry: checkov --quiet --output sarif --framework terraform -f
#    language: system
#    files: 'infra/.*\.tf$'

  - id: actionlint
    name: ActionLint
    entry: actionlint
    language: system
    files: '^.github/.*\.yml$'
    pass_filenames: false

Fix validation feedback
  app/app/controllers/activities/job_training_controller.rb
  app/app/controllers/activities/volunteering_controller.rb
  app/db/migrate/20251230213922_add_date_to_job_training_activities.rb
  app/db/schema.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.pdf
Due: rubocop

Views
  app/app/views/activities/activities/index.html.erb
  app/app/views/activities/education/show.html.erb
  app/app/views/activities/entries/show.html.erb
  app/app/views/activities/job_training/_form.html.erb
  app/app/views/activities/submit/show.html.erb
  app/app/views/activities/submit/show.pdf.erb
  app/app/views/activities/summary/show.html.erb
  app/app/views/activities/volunteering/_form.html.erb
Due: erblint

Content
  app/config/locales/en.yml
Due: i18n-unused, i18n-normalize

Add retry logic to HttpPdfTransmitter
  app/Gemfile
  app/Gemfile.lock
  app/app/services/transmitters/http_pdf_transmitter.rb
  app/spec/services/transmitters/http_pdf_transmitter_spec.rb
Due: rubocop

Update token link rake task
  app/lib/tasks/activity_flow_invitation.rake
Due: none

Controller specs + factory
  app/spec/controllers/activities/submit_controller_spec.rb
  app/spec/controllers/activities/summary_controller_spec.rb
  app/spec/controllers/activities/volunteering_controller_spec.rb
  app/spec/factories/activity_flow_invitation.rb
Due: rubocop

Get confirmation code from cbv_flow
  app/app/services/transmitters/http_pdf_transmitter.rb
  app/spec/services/transmitters/http_pdf_transmitter_spec.rb
Due: rubocop

Model specs
  app/spec/models/activity_flow_spec.rb
  app/spec/models/job_training_activity_spec.rb
  app/spec/models/volunteering_activity_spec.rb
Due: rubocop

Add http pdf transmitter to the transmission job
  app/app/jobs/case_worker_transmitter_job.rb
  app/spec/jobs/case_worker_transmitter_job_spec.rb
  app/spec/services/transmitters/http_pdf_transmitter_spec.rb
Due: rubocop

Fix bug with missing client agency
  app/app/controllers/activities/entries_controller.rb
Due: rubocop

Revert bug fix, will do in separate PR
  app/app/controllers/activities/entries_controller.rb
Due: rubocop

Fix e2e
  app/spec/e2e/activity_hub_spec.rb
Due: rubocop

Extract signature logic from JsonTransmitter
  app/app/services/transmitter.rb
  app/app/services/transmitters/http_pdf_transmitter.rb
  app/app/services/transmitters/json_transmitter.rb
  app/spec/services/transmitters/http_pdf_transmitter_spec.rb
  app/spec/support/pdf_transmitter_examples.rb
Due: rubocop

Fix text failure
  app/spec/services/transmitters/sftp_transmitter_spec.rb
Due: rubocop

Fix entry error + test
  app/app/controllers/activities/entries_controller.rb
  app/config/locales/en.yml
  app/spec/controllers/activities/entries_controller_spec.rb
Due: rubocop, i18n-unused, i18n-normalize

Create NSC service
  app/.env.local.example
  app/app/controllers/activities/education_controller.rb
  app/app/services/aggregators/sdk/nsc_service.rb
  app/app/views/activities/education/error.html.erb
  app/app/views/activities/education/new.html.erb
  app/config/locales/en.yml
  app/config/routes.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Update app/spec/services/transmitters/http_pdf_transmitter_spec.rb
  app/spec/services/transmitters/http_pdf_transmitter_spec.rb
Due: rubocop

Rename PdfTansmitter->BasePdfTransmitter
  app/app/services/transmitters/base_pdf_transmitter.rb
  app/app/services/transmitters/http_pdf_transmitter.rb
  app/app/services/transmitters/sftp_transmitter.rb
  app/spec/services/transmitters/http_pdf_transmitter_spec.rb
  app/spec/services/transmitters/sftp_transmitter_spec.rb
  app/spec/support/pdf_transmitter_examples.rb
Due: rubocop

Remove retriable
  app/Gemfile
  app/Gemfile.lock
  app/app/services/transmitters/http_pdf_transmitter.rb
  app/spec/services/transmitters/http_pdf_transmitter_spec.rb
Due: rubocop

Run rubocop
  app/spec/services/transmitters/http_pdf_transmitter_spec.rb
Due: rubocop

git: ignore parquet files
  .gitignore
Due: none

fix positional argument, fix nsc service clearing cache
  app/app/controllers/activities/education_controller.rb
  app/app/services/aggregators/sdk/nsc_service.rb
Due: rubocop

feat: sync time buckets
  app/analytics/ffs_analytics.qmd
Due: none

Simplify the enrollment status, improve service logging
  app/app/models/education_activity.rb
  app/app/services/aggregators/sdk/nsc_service.rb
  app/app/views/activities/education/show.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/spec/factories/education_activity.rb
  app/spec/models/education_activity_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

nsc call returning empty enrollmentDetails case
  app/app/services/aggregators/sdk/nsc_service.rb
  app/app/views/activities/education/show.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: rubocop, erblint, i18n-unused, i18n-normalize

feat: multi sub deep dive
  app/analytics/ffs_analytics.qmd
Due: none

use identity in activities
  app/app/controllers/activities/activities_controller.rb
  app/app/services/identity_service.rb
  app/app/views/activities/education/show.html.erb
Due: rubocop, erblint

Correct the header during NSC call
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: i18n-unused, i18n-normalize

feat: breakout munging to sep file to use parquet in quarto
  app/analytics/ffs_init-munging.R
Due: none

feat: clean up multi user analysis text + oranization
  app/analytics/ffs_analytics.qmd
Due: none

Update app/app/services/transmitters/http_pdf_transmitter.rb
  app/app/services/transmitters/http_pdf_transmitter.rb
Due: rubocop

nsc service multiple schools
  app/app/services/aggregators/sdk/nsc_service.rb
Due: rubocop

Remove VCR.turned_off and change transmission configuration validation
  app/app/services/transmitters/http_pdf_transmitter.rb
  app/spec/services/transmitters/http_pdf_transmitter_spec.rb
Due: rubocop

FFS-3645 Implement PDF Doc Transmitter (#1248)
  app/app/jobs/case_worker_transmitter_job.rb
  app/app/services/transmitter.rb
  app/app/services/transmitters/base_pdf_transmitter.rb
  app/app/services/transmitters/http_pdf_transmitter.rb
  app/app/services/transmitters/json_transmitter.rb
  app/app/services/transmitters/sftp_transmitter.rb
  app/spec/jobs/case_worker_transmitter_job_spec.rb
  app/spec/services/transmitters/http_pdf_transmitter_spec.rb
  app/spec/services/transmitters/sftp_transmitter_spec.rb
  app/spec/support/pdf_transmitter_examples.rb
Due: rubocop

remove the mock education service
  app/app/services/education_service.rb
Due: rubocop

feat: clean up analytics + figure out sankey flow
  app/analytics/ffs_analytics.qmd
Due: none

Fix bug when user submits activity entry form without checking consent box (#1250)
  app/app/controllers/activities/entries_controller.rb
  app/config/locales/en.yml
  app/spec/controllers/activities/entries_controller_spec.rb
Due: rubocop, i18n-unused, i18n-normalize

Update app/spec/models/activity_flow_spec.rb
  app/spec/models/activity_flow_spec.rb
Due: rubocop

Fix syntax
  app/spec/models/activity_flow_spec.rb
Due: rubocop
