Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-normalize, i18n-missing, shellcheck, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml

- repo: local
  hooks:
  - id: rubocop
    name: rubocop
    entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
    language: ruby
    files: '^app/.*\.rb$'

  - id: erblint
    name: erblint
    entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
    language: ruby
    files: '^app/.*\.erb$'

  - id: i18n-normalize
    name: i18n-normalize
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
    language: ruby
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: i18n-missing
    name: i18n-missing
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks missing
    language: ruby
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system        # installed via `brew bundle`
    files: '^bin/.*$'

  - id: prettier
    name: prettier
    entry: bin/run-linter --cd app -- npm run format:precommit
    language: node
    files: '^app/.*\.(js|ts)$'

FFS-2575: Fetch Gig data from Argyle (#531)
  app/app/models/response_objects/format_methods/argyle.rb
  app/app/models/response_objects/format_methods/pinwheel.rb
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/app/services/aggregators/aggregator_reports/argyle_report.rb
  app/app/services/aggregators/format_methods/argyle.rb
  app/app/services/aggregators/response_objects/gig.rb
  app/app/services/aggregators/sdk/argyle_service.rb
  app/config/database.yml
  app/db/migrate/20250328011255_add_gigs_synced.rb
  app/spec/services/aggregators/aggregator_reports/argyle_report_spec.rb
  app/spec/support/argyle_api_helper.rb
  app/spec/support/fixtures/argyle/bob/request_gigs.json
Due: rubocop

fixed issue where the credentials help option would crash in the es locale
  app/config/locales/es.yml
Due: i18n-normalize, i18n-missing

avoid duplicating ngrok tunnel subscriptions if not recording
  app/spec/e2e/cbv_flow_spec.rb
Due: rubocop

added github runner for running e2e rspec
  .github/workflows/e2e-rspec.yml
  app/spec/e2e/cbv_flow_spec.rb
Due: rubocop

skip help_feature_spec
  .github/workflows/rspec.yml
  app/spec/e2e/help_feature_spec.rb
Due: rubocop

move e2e changes to the e2e github action
  .github/workflows/e2e-rspec.yml
  .github/workflows/rspec.yml
Due: none

FFS-2501: Track analytics of payroll aggregator fields (#547)
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/app/controllers/webhooks/pinwheel/events_controller.rb
  app/app/services/aggregators/aggregator_reports/pinwheel_report.rb
  app/app/services/aggregators/response_objects/earning.rb
  app/app/services/aggregators/response_objects/identity.rb
  app/app/services/aggregators/response_objects/paystub.rb
  app/spec/controllers/webhooks/argyle/events_controller_spec.rb
  app/spec/controllers/webhooks/pinwheel/events_controller_spec.rb
  app/spec/rails_helper.rb
  app/spec/services/aggregators/aggregator_reports/pinwheel_report_spec.rb
  app/spec/services/aggregators/response_objects/identity_spec.rb
  app/spec/services/aggregators/response_objects/paystub_spec.rb
Due: rubocop

added pinwheel variables to e2e test setup
  .github/workflows/e2e-rspec.yml
Due: none

test a homepage visit
  app/spec/e2e/cbv_flow_spec.rb
Due: rubocop

Add `employment_type` field to ResponseObjects::Employment
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/app/controllers/webhooks/pinwheel/events_controller.rb
  app/app/services/aggregators/format_methods/argyle.rb
  app/app/services/aggregators/format_methods/pinwheel.rb
  app/app/services/aggregators/response_objects/employment.rb
  app/app/services/aggregators/sdk/argyle_service.rb
  app/spec/controllers/webhooks/argyle/events_controller_spec.rb
  app/spec/controllers/webhooks/pinwheel/events_controller_spec.rb
  app/spec/services/aggregators/format_methods/argyle_spec.rb
  app/spec/services/aggregators/format_methods/pinwheel_spec.rb
Due: rubocop

add chrome headless
  app/spec/rails_helper.rb
Due: rubocop

fix: upgrade sass from 1.85.1 to 1.86.0
  app/package-lock.json
  app/package.json
Due: none

Fix test failure in Webhooks::Argyle::EventsController
  app/spec/controllers/webhooks/argyle/events_controller_spec.rb
Due: rubocop

Fix test failure in Webhooks::Argyle::EventsController (#552)
  app/spec/controllers/webhooks/argyle/events_controller_spec.rb
Due: rubocop

fix: upgrade sass from 1.85.1 to 1.86.0 (#551)
  app/package-lock.json
  app/package.json
Due: none

Add `income_changes` to indexing data for AZ DES
  app/app/models/cbv_applicant/az_des.rb
  app/db/migrate/20250410001936_add_income_changes_to_cbv_applicant.rb
  app/db/schema.rb
  app/spec/controllers/api/invitations_controller_spec.rb
  app/spec/factories/cbv_applicant.rb
Due: rubocop

Refactor Api::InvitationsController params validation
  app/app/controllers/api/invitations_controller.rb
  app/app/controllers/caseworker/cbv_flow_invitations_controller.rb
  app/app/models/cbv_applicant.rb
  app/app/models/cbv_applicant/az_des.rb
  app/app/models/cbv_applicant/ma.rb
  app/app/models/cbv_applicant/nyc.rb
Due: rubocop

Add shifts api endpoint
  app/app/services/aggregators/sdk/pinwheel_service.rb
Due: rubocop

Add fixture with shifts API response data
  app/spec/support/fixtures/pinwheel/request_end_user_shifts_response.json
Due: none

Test shifts api
  app/spec/services/aggregators/sdk/pinwheel_service_spec.rb
  app/spec/support/pinwheel_api_helper.rb
Due: rubocop

Increase number of containers in demo/prod
  infra/app/app-config/dev.tf
  infra/app/app-config/prod.tf
Due: none

FFS-2549: Spanish translations for sprint 12.2 and earlier (#542)
  app/app/javascript/controllers/help.js
  app/app/views/help/_help_modal.html.erb
  app/app/views/help/index.html.erb
  app/app/views/layouts/application.html.erb
  app/config/i18n-tasks.yml
  app/config/locales/es.yml
Due: erblint, i18n-normalize, i18n-missing, prettier

[FFS-load-testing] sketch: load testing proof of concept
  load_testing/README.md
  load_testing/docker-compose.yml
  load_testing/loadtest.js
Due: none

make URL more flexible and avoid foot stubbing on URL and TOKEN variables
  load_testing/README.md
  load_testing/loadtest.js
Due: none

Update README.md
  load_testing/README.md
Due: none

Add tests for checking valid attributes and removing invalid ones
  app/spec/controllers/api/invitations_controller_spec.rb
  app/spec/models/cbv_applicant/az_des_spec.rb
  app/spec/models/cbv_applicant/ma_spec.rb
  app/spec/models/cbv_applicant/nyc_spec.rb
  app/spec/models/cbv_applicant_spec.rb
Due: rubocop

updated strategy for aggregator string tokenization
  app/app/components/pinwheel_data_point_component.rb
  app/app/helpers/view_helper.rb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/spec/helpers/view_helper_spec.rb
Due: rubocop, i18n-normalize, i18n-missing

removed debug line
  app/app/helpers/view_helper.rb
Due: rubocop

fixed rspec tests due to error message mismatch
  app/app/helpers/view_helper.rb
Due: rubocop

Update to pinwheel_service and spec
  app/app/services/aggregators/sdk/pinwheel_service.rb
  app/spec/services/aggregators/sdk/pinwheel_service_spec.rb
Due: rubocop

pinwheel_report fetches gigs
  app/app/services/aggregators/aggregator_reports/pinwheel_report.rb
Due: rubocop

Add test cases to pinwheel_report_spec
  app/spec/services/aggregators/aggregator_reports/pinwheel_report_spec.rb
Due: rubocop

Gig ResponseObject for Pinwheel
  app/app/services/aggregators/response_objects/gig.rb
Due: rubocop

Pinwheel api stub
  app/spec/support/pinwheel_api_helper.rb
Due: rubocop

Add terraform for 4 Argyle environment variables
  infra/app/app-config/env-config/environment-variables.tf
Due: none

[FFS-2739] when the poller is firing to collect information, dont fire a pageview event
  app/app/controllers/cbv/synchronizations_controller.rb
  app/spec/controllers/cbv/synchronizations_controller_spec.rb
Due: rubocop

found a few more missing strings
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: i18n-normalize, i18n-missing

Gig spec
  app/spec/services/aggregators/response_objects/gig_spec.rb
Due: rubocop
