Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-normalize, i18n-missing, shellcheck, prettier

rubocop:
  name: rubocop
  entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
  language: ruby

erblint:
  name: erblint
  entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
  language: ruby

i18n-normalize:
  name: i18n-normalize
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
  language: ruby
  pass_filenames: false

i18n-missing:
  name: i18n-missing
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks missing
  language: ruby
  pass_filenames: false

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system

prettier:
  name: prettier
  entry: bin/run-linter --cd app -- npm run format:precommit
  language: node

stop Check Locale Sync GHA from running on main
  .github/workflows/locale-sync.yml
Due: none

add i18n-tasks unused to pre-commit
  .pre-commit-config.yaml
Due: none

clean up per feedback
  app/app/models/payroll_account.rb
  app/db/migrate/20250707143214_prepare_pinwheel_account_id_rename.rb
  app/db/schema.rb
  app/lib/tasks/database_backfills.rake
Due: rubocop

No ticket: fix i18n tasks failing inappropriately (#819)
  .github/workflows/locale-sync.yml
  .pre-commit-config.yaml
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: i18n-normalize, i18n-missing

Uncomment PR environment code in GA, and descriptions to fix linter
  .github/workflows/ci-app-pr-environment-checks.yml
  .github/workflows/ci-app-pr-environment-destroy.yml
Due: none

readme update in attempt to trigger env action
  README.md
Due: none

Check if I can override read-only permissions issues
  .github/workflows/pr-environment-checks.yml
Due: none

Try a different location for permissions
  .github/workflows/ci-app-pr-environment-checks.yml
  .github/workflows/pr-environment-checks.yml
Due: none

fix: upgrade postcss-import from 16.1.0 to 16.1.1
  app/package-lock.json
  app/package.json
Due: none

make edits to move certain jobs to solidqueue scheduler instead
  app/app/jobs/record_batched_newrelic_metrics_job.rb
  app/config/recurring.yml
  app/spec/jobs/record_batched_newrelic_metrics_job_spec.rb
  infra/app/app-config/env-config/scheduled_jobs.tf
Due: rubocop

no longer need the rake tasks
  app/config/recurring.yml
  app/lib/tasks/data_deletion.rake
  app/lib/tasks/metrics.rake
  app/spec/jobs/record_batched_newrelic_metrics_job_spec.rb
Due: rubocop

fix rubocop
  app/lib/tasks/database_backfills.rake
Due: none

[FFS-2496] after a backfill, point all references to pinwheel account id insted
  app/app/components/report/monthly_summary_table_component.rb
  app/app/controllers/api/argyle_controller.rb
  app/app/controllers/cbv/payment_details_controller.rb
  app/app/controllers/cbv/synchronizations_controller.rb
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/app/controllers/webhooks/pinwheel/events_controller.rb
  app/app/models/payroll_account.rb
  app/app/models/payroll_account/argyle.rb
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/app/services/aggregators/aggregator_reports/argyle_report.rb
  app/app/services/aggregators/aggregator_reports/pinwheel_report.rb
  app/spec/components/report/monthly_summary_table_component_spec.rb
  app/spec/controllers/api/argyle_controller_spec.rb
  app/spec/controllers/cbv/entries_controller_spec.rb
  app/spec/controllers/cbv/payment_details_controller_spec.rb
  app/spec/controllers/cbv/submits_controller_spec.rb
  app/spec/controllers/cbv/summaries_controller_spec.rb
  app/spec/controllers/cbv/synchronizations_controller_spec.rb
  app/spec/controllers/webhooks/argyle/events_controller_spec.rb
  app/spec/controllers/webhooks/pinwheel/events_controller_spec.rb
  app/spec/factories/aggregator_report.rb
  app/spec/factories/payroll_account.rb
  app/spec/helpers/aggregator_data_helper_spec.rb
  app/spec/models/payroll_account/argyle_spec.rb
  app/spec/models/payroll_account/pinwheel_spec.rb
  app/spec/services/aggregators/aggregator_reports/aggregator_report_spec.rb
  app/spec/services/aggregators/aggregator_reports/argyle_report_spec.rb
  app/spec/services/aggregators/aggregator_reports/pinwheel_report_spec.rb
  docs/testing_sftp.md
Due: rubocop

[FFS-2496] after a backfill, point all references to pinwheel account id insted
  app/app/models/payroll_account.rb
  app/spec/controllers/cbv/submits_controller_spec.rb
Due: rubocop

NOSTORY bump dependency to deal with vulnerability
  app/Dockerfile
Due: none

fix: upgrade postcss-import from 16.1.0 to 16.1.1 (#821)
  app/package-lock.json
  app/package.json
Due: none

Upgrade libdjvulibre21 to address vulnerability scan
  app/Dockerfile
Due: none

Upgrade libdjvulibre21 to address vulnerability scan (#824)
  app/Dockerfile
Due: none

[FFS-2854] delete finished jobs from solidqueue on regular basis (#816)
  app/app/jobs/record_batched_newrelic_metrics_job.rb
  app/config/initializers/solid_queue.rb
  app/config/recurring.yml
  app/lib/tasks/metrics.rake
  infra/app/app-config/env-config/scheduled_jobs.tf
Due: rubocop

FFS-2496: Remove sync columns and rename payroll ID column on PayrollAccount (#817)
  app/app/models/payroll_account.rb
  app/db/migrate/20250707143042_remove_unused_fields_from_payroll_account.rb
  app/db/migrate/20250707143214_prepare_pinwheel_account_id_rename.rb
  app/db/schema.rb
  app/lib/tasks/database_backfills.rake
  app/spec/controllers/cbv/submits_controller_spec.rb
  app/spec/controllers/webhooks/argyle/events_controller_spec.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.pdf
Due: rubocop

Maybe it needs to inherit secrets?
  .github/workflows/ci-app-pr-environment-checks.yml
Due: none

Add actionlint precommit hook (#792)
  .pre-commit-config.yaml
  Brewfile
Due: none

Upgrade postcss from 8.5.5 to 8.5.6 (#818)
  app/package-lock.json
  app/package.json
Due: none

Tf docs specify empty filter to apply to all objects
  infra/modules/service/access-logs.tf
Due: none

filter everything! plus linter or something
  infra/modules/storage/lifecycle.tf
  infra/modules/terraform-backend-s3/main.tf
Due: none

See if we can get more error logging
  bin/update-pr-environment
Due: shellcheck

Temporary module
  infra/app/service/main.tf
Due: none

Chasing some errors
  infra/app/service/deprecated_domains.tf
  infra/app/service/newrelic.tf
  infra/modules/service/dns.tf
Due: none

Revert "readme update in attempt to trigger env action"
  README.md
Due: none

working accordion component
  app/app/components/accordion_component.html.erb
  app/app/components/accordion_component.rb
  app/app/views/cbv/entries/show.html.erb
Due: rubocop, erblint

added rspec tests
  app/spec/components/accordion_component_spec.rb
Due: rubocop

FFS-3035: Event tracking for the /entry page (#814)
  app/app/controllers/api/user_events_controller.rb
  app/app/javascript/controllers/cbv/entry_page_controller.js
  app/app/javascript/controllers/index.js
  app/app/views/cbv/entries/show.html.erb
  app/spec/controllers/api/user_events_controller_spec.rb
Due: rubocop, erblint, prettier

merged in new data-action and data-section-identifier attributes
  app/app/components/accordion_component.html.erb
  app/app/components/accordion_component.rb
  app/app/views/cbv/entries/show.html.erb
Due: rubocop, erblint

corrected misreference
  app/app/components/accordion_component.html.erb
Due: erblint

Remove update aria-label to be the employer name instead of the description text.
  app/app/views/cbv/employer_searches/_employer.html.erb
Due: erblint

Remove @jeffcatania-usds as codeowner and add @jeffcatania as an outside collaborator.
  .github/reviewer-lottery.yml
  CODEOWNERS.md
  OUTSIDE_COLLABORATORS.md
Due: none

Update OUTSIDE_COLLABORATORS.md
  OUTSIDE_COLLABORATORS.md
Due: none

updating referring tracking to use query parameters instead of referer header
  app/app/controllers/feedbacks_controller.rb
  app/app/views/application/_footer.html.erb
  app/spec/controllers/feedbacks_controller_spec.rb
Due: rubocop, erblint

Remove @jeffcatania-usds as codeowner and remove outdated outside_collaborators file
  .github/reviewer-lottery.yml
  CODEOWNERS.md
  OUTSIDE_COLLABORATORS.md
Due: none

fix: app/Gemfile to reduce vulnerabilities
  app/Gemfile
Due: none

Path conditions:
  rubocop: any of: ^app/.*\.rb$
  erblint: any of: ^app/.*\.erb$
  i18n-normalize: any of: ^app/config/locales/.*\.yml$
  i18n-missing: any of: ^app/config/locales/.*\.yml$
  shellcheck: any of: ^bin/.*$
  prettier: any of: ^app/.*\.(js|ts)$
