Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-unused, i18n-normalize, shellcheck, prettier, terraform_fmt, actionlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml

- repo: local
  hooks:
  - id: rubocop
    name: rubocop
    entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
    language: system
    files: '^app/.*\.rb$'

  # this rubocop hook works on windows/wsl, and is being left here as of 8/27/2025 to figure it out at some point
  #- id: rubocop
  #  name: rubocop
  #  language: system
  #  entry: bash -lc 'BUNDLE_GEMFILE=app/Gemfile cd app && bundle exec rubocop -a --force-exclusion'
  #  types: [ ruby ]
  #  files: '^app/.*\.rb$'
  #  pass_filenames: false

  - id: erblint
    name: erblint
    entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
    language: system
    files: '^app/.*\.erb$'

  - id: i18n-unused
    name: i18n-unused
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks unused
    language: system
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: i18n-normalize
    name: i18n-normalize
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
    language: system
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system        # installed via `brew bundle`
    files: '^bin/.*$'

  - id: prettier
    name: prettier
    entry: bin/run-linter --cd app -- npm run format:precommit
    language: node
    files: '^app/.*\.(js|ts)$'

  - id: terraform_fmt
    name: Terraform Fmt
    entry: terraform fmt
    language: system
    files: 'infra/.*\.tf$'

#  - id: checkov
#    name: Checkov
#    entry: checkov --quiet --output sarif --framework terraform -f
#    language: system
#    files: 'infra/.*\.tf$'

  - id: actionlint
    name: ActionLint
    entry: actionlint
    language: system
    files: '^.github/.*\.yml$'
    pass_filenames: false

WIP - Add controller/views for document uploads
  app/TODO.txt
  app/app/controllers/activities/document_uploads_controller.rb
  app/app/views/activities/activities/index.html.erb
  app/app/views/activities/document_uploads/new.html.erb
  app/config/locales/en.yml
  app/config/routes.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Remove two unused I18n keys
  app/config/locales/en.yml
Due: i18n-unused, i18n-normalize

Remove unused i18n key
  app/config/locales/en.yml
Due: i18n-unused, i18n-normalize

Ignore brakeman false positive
  app/config/brakeman.ignore
Due: none

Remove notice after job training activity is created
  app/app/controllers/activities/job_training_controller.rb
Due: rubocop

Add tests and update config for S3
  app/TODO.txt
  app/config/storage.yml
  app/spec/controllers/activities/document_uploads_controller_spec.rb
  app/spec/e2e/activity_hub_spec.rb
  app/spec/fixtures/files/document_upload.pdf
Due: rubocop

Set region in storage config
  app/config/storage.yml
Due: none

Use test uploads when running in RAILS_ENV=ci
  .github/actions/run-server/action.yml
  app/config/environments/ci.rb
  app/config/storage.yml
Due: rubocop, actionlint

Fix rspec
  app/spec/controllers/activities/document_uploads_controller_spec.rb
  app/spec/controllers/activities/volunteering_controller_spec.rb
Due: rubocop

Add suggestion text for Volunteer activity
  app/app/models/volunteering_activity.rb
  app/config/locales/en.yml
Due: rubocop, i18n-unused, i18n-normalize

Fix VolunteeringActivity methods for monthly iteration
  app/app/models/volunteering_activity.rb
Due: rubocop

Fix merge conflict oopsie
  app/app/assets/stylesheets/cbv.scss
Due: none

Enable active_storage and create its tables
  app/config/application.rb
  app/config/environments/development.rb
  app/config/environments/production.rb
  app/config/environments/test.rb
  app/config/storage.yml
  app/db/migrate/20260213225940_create_active_storage_tables.active_storage.rb
  app/db/schema.rb
Due: rubocop

Final tweaks before review
  app/TODO.txt
  app/app/assets/stylesheets/cbv.scss
  app/app/controllers/activities/job_training_controller.rb
Due: rubocop

fix an issue that prevented you from adding 0 CS hours for a month
  app/app/controllers/concerns/monthly_hours_input.rb
  app/spec/controllers/activities/volunteering_controller_spec.rb
Due: rubocop

No ticket: fix an issue that prevented you from adding 0 CS hours for a month (#1395)
  app/app/controllers/concerns/monthly_hours_input.rb
  app/spec/controllers/activities/volunteering_controller_spec.rb
Due: rubocop

WIP ----------------- WIP -------------------- WIP
  app/TODO.txt
Due: none

FFS-3791: Allow accessing demo launcher in "demo" environment
  app/config/application.rb
Due: rubocop

first draft
  app/app/components/community_service_review_table_component.erb
  app/app/components/community_service_review_table_component.rb
  app/app/controllers/activities/volunteering_controller.rb
  app/app/controllers/concerns/monthly_hours_input.rb
  app/app/views/activities/volunteering/review.html.erb
  app/config/locales/en.yml
  app/config/routes.rb
  app/db/migrate/20260219191420_add_additional_comments_to_volunteering_activities.rb
  app/db/schema.rb
  app/spec/controllers/activities/volunteering_controller_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

FFS-3791: Allow accessing demo launcher in "demo" environment (#1396)
  app/config/application.rb
Due: rubocop

Separate the "if" in DocumentUploadsController
  app/app/controllers/activities/document_uploads_controller.rb
Due: rubocop

Review & Submit updates
  app/app/models/volunteering_activity.rb
  app/app/views/activities/summary/_volunteering_table.html.erb
  app/app/views/activities/summary/show.html.erb
  app/config/locales/en.yml
Due: rubocop, erblint, i18n-unused, i18n-normalize

FFS-3765: Add document uploads to Volunteer and Job Training activities (#1391)
  .github/actions/run-server/action.yml
  app/TODO.txt
  app/app/assets/stylesheets/cbv.scss
  app/app/controllers/activities/document_uploads_controller.rb
  app/app/controllers/activities/job_training_controller.rb
  app/app/controllers/activities/volunteering_controller.rb
  app/app/models/concerns/document_uploadable.rb
  app/app/models/job_training_activity.rb
  app/app/models/volunteering_activity.rb
  app/app/views/activities/document_uploads/new.html.erb
  app/config/application.rb
  app/config/brakeman.ignore
  app/config/environments/ci.rb
  app/config/environments/development.rb
  app/config/environments/production.rb
  app/config/environments/test.rb
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/config/routes.rb
  app/config/storage.yml
  app/db/migrate/20260213225940_create_active_storage_tables.active_storage.rb
  app/db/schema.rb
  app/spec/controllers/activities/document_uploads_controller_spec.rb
  app/spec/controllers/activities/job_training_controller_spec.rb
  app/spec/controllers/activities/volunteering_controller_spec.rb
  app/spec/e2e/activity_hub_spec.rb
  app/spec/fixtures/files/document_upload.pdf
Due: rubocop, erblint, i18n-unused, i18n-normalize, actionlint

Specs
  app/spec/controllers/activities/summary_controller_spec.rb
  app/spec/e2e/activity_hub_spec.rb
  app/spec/models/volunteering_activity_spec.rb
Due: rubocop

visual updates for hours table
  app/app/assets/stylesheets/cbv.scss
  app/app/views/activities/volunteering/review.html.erb
Due: erblint

visual tweaks to the review org details table
  app/app/assets/stylesheets/cbv.scss
  app/app/components/community_service_review_table_component.erb
  app/app/components/community_service_review_table_component.rb
Due: rubocop, erblint

FFS-3792: Update completed progress indicator content
  app/app/components/activity_flow_progress_indicator.rb
  app/app/components/activity_flow_progress_indicator/activity_flow_progress_indicator.erb
  app/app/views/activities/activities/index.html.erb
  app/app/views/activities/summary/show.html.erb
  app/config/locales/en.yml
  app/spec/components/activity_flow_progress_indicator_component_spec.rb
  app/spec/components/previews/activity_flow_progress_indicator_preview.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

make sure second column is aligned between both tables on desktop
  app/app/assets/stylesheets/cbv.scss
Due: none

make edits go back through the whole flow
  app/app/controllers/activities/volunteering_controller.rb
  app/app/views/activities/volunteering/_form.html.erb
  app/spec/controllers/activities/volunteering_controller_spec.rb
Due: rubocop, erblint

Add 'completed' preview variant for progress indicator
  app/spec/components/previews/activity_flow_progress_indicator_preview.rb
Due: rubocop

fiddly details with edit workflows
  app/app/controllers/activities/volunteering_controller.rb
  app/app/controllers/concerns/monthly_hours_input.rb
  app/app/views/activities/volunteering/hours_input.html.erb
  app/app/views/activities/volunteering/review.html.erb
  app/app/views/shared/_hours_input.html.erb
  app/spec/controllers/activities/volunteering_controller_spec.rb
Due: rubocop, erblint

updated db diagram
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.pdf
Due: none

Add back ActivityFlowProgressIndicator
  app/app/views/activities/summary/show.html.erb
Due: erblint

updated flash when updating a record
  app/app/controllers/activities/volunteering_controller.rb
  app/app/controllers/concerns/monthly_hours_input.rb
  app/app/views/activities/volunteering/review.html.erb
  app/spec/controllers/activities/volunteering_controller_spec.rb
Due: rubocop, erblint

Remove activity created/updated/deleted notices
  app/app/controllers/activities/education_controller.rb
  app/app/controllers/activities/job_training_controller.rb
  app/app/controllers/activities/volunteering_controller.rb
  app/config/locales/en.yml
  app/spec/controllers/activities/education_controller_spec.rb
  app/spec/controllers/activities/job_training_controller_spec.rb
  app/spec/controllers/activities/volunteering_controller_spec.rb
Due: rubocop, i18n-unused, i18n-normalize

FFS-3792: Update completed progress component content (#1398)
  app/app/components/activity_flow_progress_indicator.rb
  app/app/components/activity_flow_progress_indicator/activity_flow_progress_indicator.erb
  app/app/views/activities/activities/index.html.erb
  app/app/views/activities/summary/show.html.erb
  app/config/locales/en.yml
  app/spec/components/activity_flow_progress_indicator_component_spec.rb
  app/spec/components/previews/activity_flow_progress_indicator_preview.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

compact_blank everything, because we can
  app/app/models/volunteering_activity.rb
Due: rubocop

FFS-3741: Update community service information on Review/Submit (#1397)
  app/app/models/volunteering_activity.rb
  app/app/views/activities/summary/_volunteering_table.html.erb
  app/app/views/activities/summary/show.html.erb
  app/config/locales/en.yml
  app/spec/controllers/activities/summary_controller_spec.rb
  app/spec/e2e/activity_hub_spec.rb
  app/spec/models/volunteering_activity_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

new E2E test and some fixes
  app/app/views/activities/volunteering/review.html.erb
  app/spec/e2e/activity_hub_spec.rb
Due: rubocop, erblint

rspec tests
  app/spec/controllers/activities/volunteering_controller_spec.rb
Due: rubocop
