Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-normalize, i18n-missing, shellcheck, prettier

rubocop:
  name: rubocop
  entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
  language: ruby

erblint:
  name: erblint
  entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
  language: ruby

i18n-normalize:
  name: i18n-normalize
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
  language: ruby
  pass_filenames: false

i18n-missing:
  name: i18n-missing
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks missing
  language: ruby
  pass_filenames: false

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system

prettier:
  name: prettier
  entry: bin/run-linter --cd app -- npm run format:precommit
  language: node

Added client_agency_id to ApplicantFinishedArgyleSync
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/spec/controllers/webhooks/argyle/events_controller_spec.rb
Due: rubocop

fix oops and lets test it while we're at it
  app/app/jobs/application_job.rb
  app/spec/jobs/application_job_spec.rb
Due: rubocop

formatting cleanup
  infra/app/app-config/env-config/scheduled_jobs.tf
Due: none

oh setting it up in the cron scheduler pretty easy. adding it then. cleaning up files
  app/config/initializers/newrelic_solidqueue.rb
Due: rubocop

oops actually add scheduled jobs tf
  infra/app/app-config/env-config/scheduled_jobs.tf
Due: none

tired ian is tired
  app/app/jobs/application_job.rb
Due: rubocop

[FFS-2863] set up telemetry for newrelic solid queue
  app/app/jobs/application_job.rb
  app/app/jobs/test_queueing_job.rb
  app/config/initializers/newrelic_solidqueue.rb
  app/lib/tasks/metrics.rake
Due: rubocop

Update `flow_started_seconds_ago` to be relative to consent page
  app/app/jobs/case_worker_transmitter_job.rb
  app/spec/jobs/case_worker_transmitter_job_spec.rb
Due: rubocop

Added client_agency_id to ApplicantFinishedArgyleSync (#695)
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/spec/controllers/webhooks/argyle/events_controller_spec.rb
Due: rubocop

FFS-2794: Update data redaction for LA LDH
  app/app/models/cbv_applicant.rb
  app/app/models/cbv_applicant/az_des.rb
  app/app/models/cbv_applicant/la_ldh.rb
  app/app/models/cbv_applicant/ma.rb
  app/app/models/cbv_applicant/nyc.rb
  app/app/models/cbv_applicant/sandbox.rb
  app/spec/factories/cbv_applicant.rb
  app/spec/models/cbv_applicant/az_des_spec.rb
  app/spec/models/cbv_applicant/la_ldh_spec.rb
  app/spec/models/cbv_applicant/ma_spec.rb
  app/spec/models/cbv_applicant/nyc_spec.rb
  app/spec/services/data_retention_service_spec.rb
Due: rubocop

Fix with test
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/spec/services/aggregators/aggregator_reports/aggregator_report_spec.rb
Due: rubocop

Add expect not to raise
  app/spec/services/aggregators/aggregator_reports/aggregator_report_spec.rb
Due: rubocop

Updating the missing_results view to only render the [continue to review my report] link if the cbv_flow has the required data
  app/app/controllers/cbv/missing_results_controller.rb
  app/app/views/cbv/missing_results/show.html.erb
Due: rubocop, erblint

restored @has_payroll_account var. adding a new test for the view
  app/app/controllers/cbv/missing_results_controller.rb
  app/spec/controllers/cbv/missing_results_controller_spec.rb
Due: rubocop

cleaned up the tests
  app/spec/controllers/cbv/missing_results_controller_spec.rb
Due: rubocop

fixed some indentation issues
  app/spec/controllers/cbv/missing_results_controller_spec.rb
Due: rubocop

FFS-2794: Delete Argyle account during redaction process
  app/app/models/payroll_account.rb
  app/app/models/payroll_account/argyle.rb
  app/app/models/payroll_account/pinwheel.rb
  app/app/services/aggregators/sdk/argyle_service.rb
  app/app/services/data_retention_service.rb
  app/db/migrate/20250520190544_add_redacted_at_to_payroll_accounts.rb
  app/db/schema.rb
  app/spec/models/payroll_account/argyle_spec.rb
  app/spec/models/payroll_account/pinwheel_spec.rb
  app/spec/services/data_retention_service_spec.rb
  app/spec/support/argyle_api_helper.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.pdf
Due: rubocop

FFS-2924: Fix missing_results page view render logic (#699)
  app/app/views/cbv/missing_results/show.html.erb
  app/spec/controllers/cbv/missing_results_controller_spec.rb
Due: rubocop, erblint

FFS-2925: nil can't be coerced into Integer (#698)
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/spec/services/aggregators/aggregator_reports/aggregator_report_spec.rb
Due: rubocop

add monthly_summary_table_component
  app/app/components/report/monthly_summary_table_component.erb
  app/app/components/report/monthly_summary_table_component.rb
  app/spec/components/report/monthly_summary_table_coponent_spec.rb
Due: rubocop, erblint

rename spec file
  app/spec/components/report/monthly_summary_table_component_spec.rb
Due: rubocop

[FFS-2863] set up telemetry for newrelic solid queue (#685)
  app/app/jobs/application_job.rb
  app/app/jobs/test_queueing_job.rb
  app/lib/tasks/metrics.rake
  app/spec/jobs/application_job_spec.rb
  infra/app/app-config/env-config/scheduled_jobs.tf
Due: rubocop

tested partial month details
  app/app/components/report/monthly_summary_table_component.rb
  app/spec/components/report/monthly_summary_table_component_spec.rb
Due: rubocop

#summarize_by_month creates rollup of months to report on.
  app/app/components/report/monthly_summary_table_component.rb
  app/spec/components/report/monthly_summary_table_component_spec.rb
Due: rubocop

Fix error in weekly report mailer
  app/spec/mailers/previews/weekly_report_mailer_preview.rb
Due: rubocop

Default la_ldh
  app/spec/mailers/previews/weekly_report_mailer_preview.rb
Due: rubocop

different urls for weekly report
  app/spec/mailers/previews/weekly_report_mailer_preview.rb
Due: rubocop

Update `flow_started_seconds_ago` to be relative to consent page (#696)
  app/app/jobs/case_worker_transmitter_job.rb
  app/spec/jobs/case_worker_transmitter_job_spec.rb
Due: rubocop

Upgrade linux-libc-dev to address security vulnerability
  .grype.yml
  .trivyignore
  app/Dockerfile
Due: none

Add monthly summary table component for report generation
  app/app/components/aggregate_data_point_component.rb
  app/app/components/report/monthly_summary_table_component.erb
  app/app/components/report/monthly_summary_table_component.rb
  app/app/components/table_component.rb
  app/app/helpers/report_view_helper.rb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/spec/components/report/monthly_summary_table_component_spec.rb
Due: rubocop, erblint, i18n-normalize, i18n-missing

filter a list of employers from search results
  app/app/services/provider_search_service.rb
Due: rubocop

moved a line up
  app/app/services/provider_search_service.rb
Due: rubocop

move line back down again
  app/app/services/provider_search_service.rb
Due: rubocop

Upgrade Grype `scan-action` v3 -> v6.2.0
  .github/workflows/vulnerability-scans.yml
Due: none

added blocked employers
  app/app/services/provider_search_service.rb
Due: rubocop

Update app/app/services/provider_search_service.rb
  app/app/services/provider_search_service.rb
Due: rubocop

explanatory comment
  app/app/services/provider_search_service.rb
Due: rubocop

WIP - saving currrent progress.
  app/app/components/aggregate_data_row_component.rb
  app/app/components/report/monthly_summary_table_component.erb
Due: rubocop, erblint

Upgrade awscli version in Dockerfile
  app/.dockerignore
  app/Dockerfile
  docs/infra/vulnerability-management.md
Due: none

Update app/app/services/aggregators/sdk/argyle_service.rb
  app/app/services/aggregators/sdk/argyle_service.rb
Due: rubocop

Path conditions:
  rubocop: any of: ^app/.*\.rb$
  erblint: any of: ^app/.*\.erb$
  i18n-normalize: any of: ^app/config/locales/.*\.yml$
  i18n-missing: any of: ^app/config/locales/.*\.yml$
  shellcheck: any of: ^bin/.*$
  prettier: any of: ^app/.*\.(js|ts)$
