Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-unused, i18n-normalize, shellcheck, prettier, terraform_fmt, actionlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml

- repo: local
  hooks:
  - id: rubocop
    name: rubocop
    entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
    language: system
    files: '^app/.*\.rb$'

  # this rubocop hook works on windows/wsl, and is being left here as of 8/27/2025 to figure it out at some point
  #- id: rubocop
  #  name: rubocop
  #  language: system
  #  entry: bash -lc 'BUNDLE_GEMFILE=app/Gemfile cd app && bundle exec rubocop -a --force-exclusion'
  #  types: [ ruby ]
  #  files: '^app/.*\.rb$'
  #  pass_filenames: false

  - id: erblint
    name: erblint
    entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
    language: system
    files: '^app/.*\.erb$'

  - id: i18n-unused
    name: i18n-unused
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks unused
    language: system
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: i18n-normalize
    name: i18n-normalize
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
    language: system
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system        # installed via `brew bundle`
    files: '^bin/.*$'

  - id: prettier
    name: prettier
    entry: bin/run-linter --cd app -- npm run format:precommit
    language: node
    files: '^app/.*\.(js|ts)$'

  - id: terraform_fmt
    name: Terraform Fmt
    entry: terraform fmt
    language: system
    files: 'infra/.*\.tf$'

#  - id: checkov
#    name: Checkov
#    entry: checkov --quiet --output sarif --framework terraform -f
#    language: system
#    files: 'infra/.*\.tf$'

  - id: actionlint
    name: ActionLint
    entry: actionlint
    language: system
    files: '^.github/.*\.yml$'
    pass_filenames: false

FFS-3458: Update entry page help text (#1049)
  app/app/views/cbv/entries/show.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: erblint, i18n-unused, i18n-normalize

En Espanol
  app/config/locales/es.yml
Due: i18n-unused, i18n-normalize

FFS-3330: Update /employer_search header text (#1051)
  app/app/views/cbv/employer_searches/_employer.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: erblint, i18n-unused, i18n-normalize

FFS-3354: Set referer in feedback form link on /success
  app/app/views/cbv/successes/show.html.erb
  app/spec/controllers/cbv/successes_controller_spec.rb
Due: rubocop, erblint

Update /employer_search content + accordions + mixpanel/shared stimulus controller
  app/app/components/accordion_component.html.erb
  app/app/components/accordion_component.rb
  app/app/javascript/controllers/cbv/entry_page_controller.js
  app/app/javascript/controllers/common_questions_controller.js
  app/app/javascript/controllers/index.js
  app/app/views/cbv/employer_searches/show.html.erb
  app/app/views/cbv/entries/show.html.erb
  app/config/locales/en.yml
Due: rubocop, erblint, i18n-unused, i18n-normalize, prettier

Test
  app/app/javascript/controllers/common_questions_controller.js
  app/spec/controllers/api/user_events_controller_spec.rb
  app/spec/controllers/cbv/employer_searches_controller_spec.rb
  app/spec/javascript/controllers/common_questions.spec.js
Due: rubocop, prettier

happy with the w2_paystub_details_table
  app/app/components/report/w2_paystub_details_table_component.html.erb
  app/app/components/report/w2_paystub_details_table_component.rb
  app/app/views/cbv/submits/show.pdf.erb
  app/spec/components/report/w2_paystub_details_table_component_spec.rb
Due: rubocop, erblint

added stress testing strategy
  load_testing/README.md
  load_testing/run_stress_test.sh
  load_testing/stresstest.js
Due: none

Header level 2
  app/app/views/cbv/employer_searches/show.html.erb
Due: erblint

Small adjustments
  app/app/views/cbv/employer_searches/show.html.erb
  app/app/views/cbv/entries/show.html.erb
Due: erblint

String fix
  app/config/locales/en.yml
Due: i18n-unused, i18n-normalize

added stress testing strategy (#1055)
  load_testing/README.md
  load_testing/run_stress_test.sh
  load_testing/stresstest.js
Due: none

Spanish translations
  app/config/locales/es.yml
Due: i18n-unused, i18n-normalize

FFS-3407: Implement content updates to /other_jobs (#1047)
  app/.cursor/commands/summary.md
  app/app/views/cbv/other_jobs/show.html.erb
  app/app/views/cbv/summaries/show.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/spec/controllers/cbv/other_jobs_controller_spec.rb
  app/spec/e2e/cbv_flow_pinwheel_spec.rb
  app/spec/e2e/cbv_flow_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

create migration
  app/db/migrate/20251023174033_add_unique_index_to_auth_token_on_cbv_flow_invitations.rb
Due: rubocop

add GOVERNANCE.md
  GOVERNANCE.md
Due: none

ran migration, committing changes
  app/db/schema.rb
Due: rubocop

temp commit
  app/app/components/report/payments_deductions_monthly_summary_component.html.erb
  app/app/components/report/payments_deductions_monthly_summary_component.rb
  app/app/components/report/w2_paystub_details_table_component.html.erb
  app/app/components/report/w2_paystub_details_table_component.rb
  app/app/views/cbv/payment_details/show.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/spec/components/report/payments_deductions_monthly_summary_component_spec.rb
  app/spec/components/report/w2_paystub_details_table_component_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Remove Evidently feature flags from Terraform
  docs/feature-flags.md
  docs/system-architecture.md
  infra/app/app-config/feature-flags.tf
  infra/app/app-config/outputs.tf
  infra/app/service/main.tf
  infra/modules/feature-flags/access-policy.tf
  infra/modules/feature-flags/logs.tf
  infra/modules/feature-flags/main.tf
  infra/modules/feature-flags/outputs.tf
  infra/modules/feature-flags/variables.tf
  infra/modules/network/vpc-endpoints.tf
  infra/project-config/aws-services.tf
Due: terraform_fmt

Add contributor_ladder.md issue template for contributor ladder requests
  .github/ISSUE_TEMPLATE/contributor_ladder.md
Due: none

Remove Evidently feature flags from Terraform (#1058)
  docs/feature-flags.md
  docs/system-architecture.md
  infra/app/app-config/feature-flags.tf
  infra/app/app-config/outputs.tf
  infra/app/service/main.tf
  infra/modules/feature-flags/access-policy.tf
  infra/modules/feature-flags/logs.tf
  infra/modules/feature-flags/main.tf
  infra/modules/feature-flags/outputs.tf
  infra/modules/feature-flags/variables.tf
  infra/modules/network/vpc-endpoints.tf
  infra/project-config/aws-services.tf
Due: terraform_fmt

Pilot C for Medicaid Update
  docs/product-updates/2025-10-17-pilot-C-update.md
  docs/product-updates/2025-10-17-pilot-c-update.pdf
  docs/product-updates/images/2025-10-17_Accounts_Connected.png
  docs/product-updates/images/2025-10-17_Age_distro.png
  docs/product-updates/images/2025-10-17_Employer_Search.png
  docs/product-updates/images/2025-10-17_Help_Modal.png
  docs/product-updates/images/2025-10-17_Search_Metrics.png
  docs/product-updates/images/2025-10-17_Session_Time.png
  docs/product-updates/images/2025-10-17_Topline_Metrics.png
Due: none

experimental -- change name_prefix to name to allow step functions to recognize this as a vended log
  infra/modules/service/scheduled_jobs.tf
Due: terraform_fmt

update rendered schema diagram
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.pdf
Due: none

experimental -- remove policies to force step functions to not add an entry to the resource policy
  infra/modules/service/workflow_orchestrator_role.tf
Due: terraform_fmt

Css :(
  app/app/assets/stylesheets/cbv.scss
  app/app/views/cbv/employer_searches/_employer.html.erb
Due: erblint

Adjust comment
  app/app/assets/stylesheets/cbv.scss
Due: none

Initial COMMUNITY.md file
  COMMUNITY.md
Due: none

Fix typo in table
  COMMUNITY.md
Due: none

w2 paystub details component now fully working
  app/app/components/report/payments_deductions_monthly_summary_component.html.erb
  app/app/components/report/w2_paystub_details_table_component.html.erb
  app/app/components/report/w2_paystub_details_table_component.rb
  app/app/views/cbv/submits/show.pdf.erb
  app/config/locales/es.yml
  app/spec/components/report/w2_paystub_details_table_component_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

did some simple cleanup and added documentation
  app/app/components/report/payments_deductions_monthly_summary_component.html.erb
  app/app/components/report/w2_paystub_details_table_component.rb
  app/app/views/cbv/submits/show.pdf.erb
  app/spec/components/report/w2_paystub_details_table_component_spec.rb
Due: rubocop, erblint

Initial COMMUNITY.md file (#1061)
  COMMUNITY.md
Due: none

implement sort
  app/app/components/report/w2_paystub_details_table_component.html.erb
  app/app/components/report/w2_paystub_details_table_component.rb
  app/app/views/cbv/submits/show.pdf.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/spec/components/report/w2_paystub_details_table_component_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

implemented sort and various scenarios
  app/app/components/report/w2_paystub_details_table_component.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/spec/components/report/w2_paystub_details_table_component_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

added gross pay item header.
  app/app/components/report/w2_paystub_details_table_component.html.erb
  app/app/components/report/w2_paystub_details_table_component.rb
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: rubocop, erblint, i18n-unused, i18n-normalize

Updated contributor_ladder.md template with revisions
  .github/ISSUE_TEMPLATE/contributor_ladder.md
Due: none

ok - cool added configuration
  app/app/views/cbv/submits/show.pdf.erb
  app/config/client-agency-config/_default.yml
  app/config/client-agency-config/pa_dhs.yml
  app/lib/client_agency_config.rb
Due: rubocop, erblint

Fix typos
  COMMUNITY.md
  COMMUNITY_GUIDELINES.md
Due: none

let's simplify the configuration. we should clean up the config file later to have easier methods to access items with defaults
  app/app/controllers/application_controller.rb
  app/app/views/cbv/submits/show.pdf.erb
  app/config/client-agency-config/_default.yml
  app/config/client-agency-config/pa_dhs.yml
  app/lib/client_agency_config.rb
Due: rubocop, erblint
