Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-unused, i18n-normalize, shellcheck, prettier, terraform_fmt, actionlint

rubocop:
  name: rubocop
  entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
  language: system

erblint:
  name: erblint
  entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
  language: system

i18n-unused:
  name: i18n-unused
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks unused
  language: system
  pass_filenames: false

i18n-normalize:
  name: i18n-normalize
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
  language: system
  pass_filenames: false

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system

prettier:
  name: prettier
  entry: bin/run-linter --cd app -- npm run format:precommit
  language: node

terraform_fmt:
  name: Terraform Fmt
  entry: terraform fmt
  language: system

actionlint:
  name: ActionLint
  entry: actionlint
  language: system
  pass_filenames: false

Revert "FFS-3701: Add deductions to paystub object on json api (#1324)" (#1332)
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/spec/factories/aggregator_report.rb
  app/spec/services/aggregators/aggregator_reports/aggregator_report_spec.rb
Due: rubocop

Fix lookbook in deployed environments and add more component previews (#1329)
  app/config/application.rb
  app/spec/components/previews/accordion_component_preview.rb
  app/spec/components/previews/synchronization_indicator_component_preview.rb
  app/spec/components/previews/table_component_preview.rb
  app/spec/components/previews/uswds/alert_preview.rb
Due: rubocop

Job retries bumped from 3 > 5 (#1331)
  app/app/jobs/application_job.rb
Due: rubocop

Remove ViewComponentOverrides
  app/spec/rails_helper.rb
  app/spec/support/view_component_overrides.rb
Due: rubocop

FFS-3706: Implement progress indicator for one month
  app/app/assets/stylesheets/application.postcss.css
  app/app/components/activity_flow_progress_indicator.rb
  app/app/components/activity_flow_progress_indicator/activity_flow_progress_indicator.erb
  app/app/components/activity_flow_progress_indicator/activity_flow_progress_indicator.scss
  app/app/controllers/activities/base_controller.rb
  app/app/controllers/activities/submit_controller.rb
  app/app/helpers/activities_helper.rb
  app/app/services/activity_flow_progress_calculator.rb
  app/app/views/activities/activities/index.html.erb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/spec/components/previews/activity_flow_progress_indicator_preview.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Revert "Revert "FFS-3701: Add deductions to paystub object on json api (#1324…"
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/spec/factories/aggregator_report.rb
  app/spec/services/aggregators/aggregator_reports/aggregator_report_spec.rb
Due: rubocop

remove 'table' from api response, consolidate deductions into a struct
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/app/services/aggregators/response_objects/deduction.rb
  app/app/services/aggregators/response_objects/paystub.rb
  app/spec/services/aggregators/aggregator_reports/aggregator_report_spec.rb
Due: rubocop

allow negative deductions
  app/app/components/report/payments_deductions_monthly_summary_component.html.erb
  app/app/views/cbv/submits/show.pdf.erb
  app/spec/controllers/cbv/payment_details_controller_spec.rb
  app/spec/support/fixtures/pinwheel/request_end_user_paystubs_response.json
Due: rubocop, erblint

negative deduction tests for argyle
  app/spec/controllers/cbv/payment_details_controller_spec.rb
  app/spec/controllers/webhooks/argyle/events_controller_spec.rb
  app/spec/support/fixtures/argyle/sarah/request_paystubs.json
Due: rubocop

Use max-width of 30rem
  app/app/components/activity_flow_progress_indicator/activity_flow_progress_indicator.scss
Due: none

Add some tests of the activity flow progress indicator
  app/spec/components/activity_flow_progress_indicator_component_spec.rb
  app/spec/controllers/activities/activities_controller_spec.rb
Due: rubocop

Enable demo mode features on review apps
  app/config/application.rb
Due: rubocop

Prevent adding peer dependencies on npm install
  app/.npmrc
Due: none

Actually use the correct reporting month
  app/app/components/activity_flow_progress_indicator.rb
  app/app/services/activity_flow_progress_calculator.rb
  app/spec/services/activity_flow_progress_calculator_spec.rb
Due: rubocop

feat: add viz on compl cum share
  app/analytics/emmy_analytics.qmd
Due: none

added earnings threshold and lots of tests
  app/app/services/activity_flow_progress_calculator.rb
  app/spec/services/activity_flow_progress_calculator_spec.rb
Due: rubocop

Cap progress bar width at 100%
  app/app/components/activity_flow_progress_indicator.rb
  app/spec/components/activity_flow_progress_indicator_component_spec.rb
  app/spec/components/previews/activity_flow_progress_indicator_preview.rb
Due: rubocop

switched to cents
  app/app/services/activity_flow_progress_calculator.rb
  app/spec/services/activity_flow_progress_calculator_spec.rb
Due: rubocop

Update progress calculator to do calculation monthly
  app/app/components/activity_flow_progress_indicator.rb
  app/app/controllers/activities/base_controller.rb
  app/app/controllers/activities/submit_controller.rb
  app/app/helpers/activities_helper.rb
  app/app/services/activity_flow_progress_calculator.rb
  app/spec/services/activity_flow_progress_calculator_spec.rb
Due: rubocop

FFS-3707: Create multi-month version of the progress indicator
  app/app/components/activity_flow_progress_indicator.rb
  app/app/components/activity_flow_progress_indicator/activity_flow_progress_indicator.erb
  app/app/components/activity_flow_progress_indicator/activity_flow_progress_indicator.scss
  app/config/locales/en.yml
  app/spec/components/activity_flow_progress_indicator_component_spec.rb
  app/spec/components/previews/activity_flow_progress_indicator_preview.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Fix CSS styling
  app/app/components/activity_flow_progress_indicator/activity_flow_progress_indicator.erb
  app/app/components/activity_flow_progress_indicator/activity_flow_progress_indicator.scss
  app/spec/components/activity_flow_progress_indicator_component_spec.rb
Due: rubocop, erblint

corrected earnings calculation and tests
  app/app/services/activity_flow_progress_calculator.rb
  app/spec/services/activity_flow_progress_calculator_spec.rb
Due: rubocop

FFS-3714: Apply reporting window to Activity flows
  app/app/components/report/gig_monthly_summary_table_component.erb
  app/app/components/report/gig_monthly_summary_table_component.rb
  app/app/components/report/payments_deductions_monthly_summary_component.rb
  app/app/components/report/w2_monthly_summary_table_component.erb
  app/app/components/report/w2_monthly_summary_table_component.rb
  app/app/controllers/api/pinwheel_controller.rb
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/app/controllers/webhooks/pinwheel/events_controller.rb
  app/app/models/activity_flow.rb
  app/app/models/flow.rb
  app/app/services/aggregator_report_fetcher.rb
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/app/views/activities/summary/_employment_table.html.erb
  app/spec/components/report/gig_monthly_summary_table_component_spec.rb
  app/spec/components/report/payments_deductions_monthly_summary_component_spec.rb
  app/spec/components/report/w2_monthly_summary_table_component_spec.rb
  app/spec/controllers/cbv/base_controller_spec.rb
  app/spec/controllers/cbv/payment_details_controller_spec.rb
  app/spec/controllers/webhooks/argyle/events_controller_spec.rb
  app/spec/controllers/webhooks/pinwheel/events_controller_spec.rb
  app/spec/models/activity_flow_spec.rb
  app/spec/models/cbv_flow_spec.rb
  app/spec/services/aggregator_report_fetcher_spec.rb
  app/spec/services/aggregators/aggregator_reports/pinwheel_report_spec.rb
Due: rubocop, erblint

Fix e2e test
  app/app/services/aggregator_report_fetcher.rb
  app/spec/fixtures/e2e/e2e_activity_flow/vcr_http_requests.yml
Due: rubocop

Filter out non-overlapping education activities
  app/app/models/activity_flow.rb
  app/app/services/nsc_data_fetcher_service.rb
  app/spec/models/activity_flow_spec.rb
  app/spec/services/nsc_data_fetcher_service_spec.rb
  app/spec/support/nsc_api_helper.rb
Due: rubocop

Add "complete" styling and check icon
  app/app/components/activity_flow_progress_indicator/activity_flow_progress_indicator.erb
  app/app/components/activity_flow_progress_indicator/activity_flow_progress_indicator.scss
  app/spec/components/activity_flow_progress_indicator_component_spec.rb
Due: rubocop, erblint

Add 'months completed' message
  app/app/components/activity_flow_progress_indicator/activity_flow_progress_indicator.erb
  app/config/locales/en.yml
  app/spec/components/activity_flow_progress_indicator_component_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

removed unnecessary comment
  app/app/services/activity_flow_progress_calculator.rb
Due: rubocop

Remove unused strings
  app/config/locales/en.yml
Due: i18n-unused, i18n-normalize

Aggregator report update
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
Due: rubocop

FFS-3706: Implement progress indicator for one month (#1343)
  app/app/assets/stylesheets/application.postcss.css
  app/app/components/activity_flow_progress_indicator.rb
  app/app/components/activity_flow_progress_indicator/activity_flow_progress_indicator.erb
  app/app/components/activity_flow_progress_indicator/activity_flow_progress_indicator.scss
  app/app/controllers/activities/base_controller.rb
  app/app/controllers/activities/submit_controller.rb
  app/app/helpers/activities_helper.rb
  app/app/services/activity_flow_progress_calculator.rb
  app/app/views/activities/activities/index.html.erb
  app/config/application.rb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/spec/components/activity_flow_progress_indicator_component_spec.rb
  app/spec/components/previews/activity_flow_progress_indicator_preview.rb
  app/spec/controllers/activities/activities_controller_spec.rb
  app/spec/services/activity_flow_progress_calculator_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

FFS-3722: Only save enrollments within the reporting window (#1347)
  app/.npmrc
  app/app/models/activity_flow.rb
  app/app/services/nsc_data_fetcher_service.rb
  app/spec/models/activity_flow_spec.rb
  app/spec/services/nsc_data_fetcher_service_spec.rb
  app/spec/support/nsc_api_helper.rb
Due: rubocop

Fix locale not persisting across pages
  app/app/controllers/application_controller.rb
  app/spec/controllers/application_controller_spec.rb
  app/spec/e2e/locale_persistence_spec.rb
Due: rubocop

fixes to E2E tests
  app/spec/e2e/activity_hub_spec.rb
Due: rubocop

first draft
  app/app/models/education_activity.rb
  app/app/models/nsc_enrollment_term.rb
  app/app/services/activity_flow_progress_calculator.rb
  app/spec/factories/nsc_enrollment_term.rb
  app/spec/models/education_activity_spec.rb
  app/spec/models/nsc_enrollment_term_spec.rb
  app/spec/services/activity_flow_progress_calculator_spec.rb
Due: rubocop

Add locale to Argyle modal
  app/app/javascript/adapters/ArgyleModalAdapter.ts
  app/app/javascript/types/Argyle.d.ts
  app/spec/javascript/adapters/ArgyleModalAdapter.spec.js
  app/spec/javascript/adapters/__snapshots__/ArgyleModalAdapter.spec.js.snap
  app/spec/javascript/controllers/__snapshots__/employer_search.spec.js.snap
  app/spec/javascript/controllers/employer_search.spec.js
Due: prettier

FFS-3714: Apply reporting window to employment flow (#1346)
  app/app/components/report/gig_monthly_summary_table_component.erb
  app/app/components/report/gig_monthly_summary_table_component.rb
  app/app/components/report/payments_deductions_monthly_summary_component.rb
  app/app/components/report/w2_monthly_summary_table_component.erb
  app/app/components/report/w2_monthly_summary_table_component.rb
  app/app/controllers/api/pinwheel_controller.rb
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/app/controllers/webhooks/pinwheel/events_controller.rb
  app/app/models/activity_flow.rb
  app/app/models/flow.rb
  app/app/services/aggregator_report_fetcher.rb
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/app/views/activities/summary/_employment_table.html.erb
  app/config/locales/en.yml
  app/spec/components/report/gig_monthly_summary_table_component_spec.rb
  app/spec/components/report/payments_deductions_monthly_summary_component_spec.rb
  app/spec/components/report/w2_monthly_summary_table_component_spec.rb
  app/spec/controllers/cbv/base_controller_spec.rb
  app/spec/controllers/cbv/payment_details_controller_spec.rb
  app/spec/controllers/webhooks/argyle/events_controller_spec.rb
  app/spec/controllers/webhooks/pinwheel/events_controller_spec.rb
  app/spec/fixtures/e2e/e2e_activity_flow/vcr_http_requests.yml
  app/spec/models/activity_flow_spec.rb
  app/spec/models/cbv_flow_spec.rb
  app/spec/services/aggregator_report_fetcher_spec.rb
  app/spec/services/aggregators/aggregator_reports/pinwheel_report_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Path conditions:
  rubocop: any of: ^app/.*\.rb$
  erblint: any of: ^app/.*\.erb$
  i18n-unused: any of: ^app/config/locales/.*\.yml$
  i18n-normalize: any of: ^app/config/locales/.*\.yml$
  shellcheck: any of: ^bin/.*$
  prettier: any of: ^app/.*\.(js|ts)$
  terraform_fmt: any of: infra/.*\.tf$
  actionlint: any of: ^.github/.*\.yml$
