Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-unused, i18n-normalize, shellcheck, prettier, terraform_fmt, actionlint

rubocop:
  name: rubocop
  entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
  language: system

erblint:
  name: erblint
  entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
  language: system

i18n-unused:
  name: i18n-unused
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks unused
  language: system
  pass_filenames: false

i18n-normalize:
  name: i18n-normalize
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
  language: system
  pass_filenames: false

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system

prettier:
  name: prettier
  entry: bin/run-linter --cd app -- npm run format:precommit
  language: node

terraform_fmt:
  name: Terraform Fmt
  entry: terraform fmt
  language: system

actionlint:
  name: ActionLint
  entry: actionlint
  language: system
  pass_filenames: false

FFS-4665: Redact LALDH case_number (#1998)
  app/config/client-agency-config.yml
  app/spec/models/cbv_applicant/la_ldh_spec.rb
Due: rubocop

Ensure set_flow loads controller-specific flow_class from session; add regression spec
  .pre-commit-config.yaml
  app/app/controllers/flow_controller.rb
  app/spec/controllers/activities/activities_controller_flow_session_mismatch_spec.rb
Due: rubocop

only enforce controller-specific flow type for activity controllers where loading wrong CBV flow caused error
  app/app/controllers/flow_controller.rb
Due: rubocop

FFS-3788: Investigate and fix undefined method 'identity' for an instance of CbvFlow (#2009)
  .pre-commit-config.yaml
  app/app/controllers/flow_controller.rb
  app/spec/controllers/activities/activities_controller_flow_session_mismatch_spec.rb
Due: rubocop

fix: only fail on both income and hours being missing
  app/app/controllers/activities/employment/months_controller.rb
  app/spec/controllers/activities/employment/months_controller_spec.rb
Due: rubocop

Also want to gitignore a change in my app/.env
  .gitignore
Due: none

Revert "FFS-3788: Investigate and fix undefined method 'identity' for an instance of CbvFlow (#2009)"
  .pre-commit-config.yaml
  app/app/controllers/flow_controller.rb
  app/spec/controllers/activities/activities_controller_flow_session_mismatch_spec.rb
Due: rubocop

remove accidental files from PR
  .gitignore
Due: none

Update credit hours conversion
  app/app/models/education_activity.rb
  app/config/locales/en.yml
  app/spec/components/previews/uswds/card_preview.rb
  app/spec/controllers/activities/activities_controller_spec.rb
  app/spec/controllers/activities/education_controller_spec.rb
  app/spec/controllers/activities/summary_controller_spec.rb
  app/spec/e2e/activity_hub_education_self_attestation_spec.rb
  app/spec/e2e/activity_hub_spec.rb
  app/spec/helpers/activities_helper_spec.rb
  app/spec/services/activity_flow_progress_calculator_spec.rb
  app/spec/services/education_activity_progress_calculator_spec.rb
Due: rubocop, i18n-unused, i18n-normalize

FFS-4706: Update credit hours conversion to 1:13 (#2011)
  app/app/models/education_activity.rb
  app/config/locales/en.yml
  app/spec/components/previews/uswds/card_preview.rb
  app/spec/controllers/activities/activities_controller_spec.rb
  app/spec/controllers/activities/education_controller_spec.rb
  app/spec/controllers/activities/summary_controller_spec.rb
  app/spec/e2e/activity_hub_education_self_attestation_spec.rb
  app/spec/e2e/activity_hub_spec.rb
  app/spec/helpers/activities_helper_spec.rb
  app/spec/services/activity_flow_progress_calculator_spec.rb
  app/spec/services/education_activity_progress_calculator_spec.rb
Due: rubocop, i18n-unused, i18n-normalize

Reapply "FFS-3788: Investigate and fix undefined method 'identity' for an instance of CbvFlow (#2009)"
  .pre-commit-config.yaml
  app/app/controllers/flow_controller.rb
  app/spec/controllers/activities/activities_controller_flow_session_mismatch_spec.rb
Due: rubocop

tests: pass validation when only income or only hours provided
  app/spec/controllers/activities/employment/months_controller_spec.rb
Due: rubocop

chore: update error message to income or hours
  app/config/locales/en.yml
  app/spec/controllers/activities/employment/months_controller_spec.rb
Due: rubocop, i18n-unused, i18n-normalize

tests: add a multi-month validation test
  app/spec/controllers/activities/employment/months_controller_spec.rb
Due: rubocop

Ensure redirect if user did not give consent to pdf
  app/app/controllers/cbv/submits_controller.rb
  app/spec/controllers/cbv/submits_controller_spec.rb
Due: rubocop

Next instead of return to prevent local jump
  app/app/controllers/cbv/submits_controller.rb
Due: rubocop

Remove whitespace
  app/spec/controllers/cbv/submits_controller_spec.rb
Due: rubocop

FFS-4709 Manual employment entry incorrectly requires both income AND hours (#2010)
  app/app/controllers/activities/employment/months_controller.rb
  app/config/locales/en.yml
  app/spec/controllers/activities/employment/months_controller_spec.rb
Due: rubocop, i18n-unused, i18n-normalize

Release version 0.4.0
  CHANGELOG.md
  app/version.txt
  code.json
Due: none

Release version 0.4.0 (#2014)
  CHANGELOG.md
  app/version.txt
  code.json
Due: none

Security audit: remove api token to streamline what the behavior actually would be
  app/app/controllers/webhooks/pinwheel/events_controller.rb
Due: rubocop

Ask deployer for which type of version they want to bump
  app/bin/will-deploy
  docs/release-process.md
Due: none

Update bin/will-deploy to follow semantic version release process (#1974)
  app/bin/will-deploy
  docs/release-process.md
Due: none

Handle no employments gracefully
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/spec/services/aggregators/aggregator_reports/aggregator_report_spec.rb
Due: rubocop

Check that error is raised
  app/spec/services/aggregators/aggregator_reports/aggregator_report_spec.rb
Due: rubocop

Update summarize_by_month with nil guard
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/spec/components/report/gig_monthly_summary_table_component_spec.rb
Due: rubocop

Fix rubocop complaints
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/spec/services/aggregators/aggregator_reports/aggregator_report_spec.rb
Due: rubocop

Update test to check for render
  app/spec/components/report/gig_monthly_summary_table_component_spec.rb
  app/spec/components/report/payments_deductions_monthly_summary_component_spec.rb
Due: rubocop

Fix rubocop complaint
  app/spec/services/aggregators/aggregator_reports/aggregator_report_spec.rb
Due: rubocop

FFS-4711: Route NSC requests through FDSH
  app/.env.local.example
  app/app/services/aggregators/sdk/nsc_fdsh_service.rb
  app/app/services/nsc_data_fetcher_service.rb
  app/spec/services/aggregators/sdk/nsc_fdsh_service_spec.rb
  app/spec/services/launcher/nsc_forward_dating_service_spec.rb
  app/spec/services/nsc_data_fetcher_service_spec.rb
  app/spec/support/nsc_api_helper.rb
  docs/infra/fdsh-nsc.md
  infra/app/app-config/env-config/environment-variables.tf
Due: rubocop, terraform_fmt

Add bin/deploy-to-nava-and-cms script (#1978)
  bin/deploy-to-nava-and-cms
Due: shellcheck

Update error logging message
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
Due: rubocop

Comment out language selector and verification link
  app/app/views/activities/activities/index.html.erb
  app/app/views/application/_header.html.erb
Due: erblint

Comment out locale link
  app/config/locales/en.yml
Due: i18n-unused, i18n-normalize

Fix locale
  app/config/locales/en.yml
Due: i18n-unused, i18n-normalize

Remove unused key
  app/config/locales/en.yml
  app/spec/controllers/activities/activities_controller_spec.rb
  app/spec/e2e/locale_persistence_spec.rb
Due: rubocop, i18n-unused, i18n-normalize

Comment out test
  app/spec/e2e/locale_persistence_spec.rb
Due: rubocop

Remove translation
  app/config/locales/en.yml
  app/spec/e2e/locale_persistence_spec.rb
Due: rubocop, i18n-unused, i18n-normalize

Remove chromedriver
  .github/workflows/e2e-tests.yml
  Brewfile
  CONTRIBUTING.md
  app/bin/update
  docs/local-replication.md
Due: actionlint

Skip test
  app/spec/e2e/locale_persistence_spec.rb
Due: rubocop

Path conditions:
  rubocop: any of: ^app/.*\.rb$
  erblint: any of: ^app/.*\.erb$
  i18n-unused: any of: ^app/config/locales/.*\.yml$
  i18n-normalize: any of: ^app/config/locales/.*\.yml$
  shellcheck: any of: ^bin/.*$
  prettier: any of: ^app/.*\.(js|ts)$
  terraform_fmt: any of: infra/.*\.tf$
  actionlint: any of: ^.github/.*\.yml$
