Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-unused, i18n-normalize, shellcheck, prettier, terraform_fmt, actionlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml

- repo: local
  hooks:
  - id: rubocop
    name: rubocop
    entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
    language: system
    files: '^app/.*\.rb$'

  # this rubocop hook works on windows/wsl, and is being left here as of 8/27/2025 to figure it out at some point
  #- id: rubocop
  #  name: rubocop
  #  language: system
  #  entry: bash -lc 'BUNDLE_GEMFILE=app/Gemfile cd app && bundle exec rubocop -a --force-exclusion'
  #  types: [ ruby ]
  #  files: '^app/.*\.rb$'
  #  pass_filenames: false

  - id: erblint
    name: erblint
    entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
    language: system
    files: '^app/.*\.erb$'

  - id: i18n-unused
    name: i18n-unused
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks unused
    language: system
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: i18n-normalize
    name: i18n-normalize
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
    language: system
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system        # installed via `brew bundle`
    files: '^bin/.*$'

  - id: prettier
    name: prettier
    entry: bin/run-linter --cd app -- npm run format:precommit
    language: node
    files: '^app/.*\.(js|ts)$'

  - id: terraform_fmt
    name: Terraform Fmt
    entry: terraform fmt
    language: system
    files: 'infra/.*\.tf$'

#  - id: checkov
#    name: Checkov
#    entry: checkov --quiet --output sarif --framework terraform -f
#    language: system
#    files: 'infra/.*\.tf$'

  - id: actionlint
    name: ActionLint
    entry: actionlint
    language: system
    files: '^.github/.*\.yml$'
    pass_filenames: false

moving tests to navigation files, using css presence to test instead of controller assertions
  app/spec/controllers/activities/education/months_controller_spec.rb
  app/spec/controllers/activities/education_controller_spec.rb
  app/spec/controllers/activities/education_navigation_spec.rb
  app/spec/controllers/activities/employment_navigation_spec.rb
  app/spec/controllers/activities/job_training_navigation_spec.rb
  app/spec/controllers/activities/volunteering_navigation_spec.rb
Due: rubocop

extended pattern to other nav specs, fixed issue where title checker failed because of case differences
  app/spec/controllers/activities/education_navigation_spec.rb
  app/spec/controllers/activities/job_training_navigation_spec.rb
  app/spec/controllers/activities/volunteering_navigation_spec.rb
  app/spec/support/title_checker_helper.rb
Due: rubocop

switch to using have link
  app/spec/controllers/activities/education_navigation_spec.rb
  app/spec/controllers/activities/employment_navigation_spec.rb
  app/spec/controllers/activities/job_training_navigation_spec.rb
  app/spec/controllers/activities/volunteering_navigation_spec.rb
Due: rubocop

No ticket: rewrote heavy E2E navigation specs (#1520)
  app/spec/controllers/activities/education/months_controller_spec.rb
  app/spec/controllers/activities/education_controller_spec.rb
  app/spec/controllers/activities/education_navigation_spec.rb
  app/spec/controllers/activities/employment_navigation_spec.rb
  app/spec/controllers/activities/job_training_navigation_spec.rb
  app/spec/controllers/activities/volunteering_navigation_spec.rb
  app/spec/e2e/activity_hub_community_service_navigation_spec.rb
  app/spec/e2e/activity_hub_education_navigation_spec.rb
  app/spec/e2e/activity_hub_employment_navigation_spec.rb
  app/spec/e2e/activity_hub_spec.rb
  app/spec/e2e/activity_hub_work_program_navigation_spec.rb
  app/spec/support/title_checker_helper.rb
Due: rubocop

Add NH DHHS configuration for SFTP
  app/.env.local.example
  app/config/client-agency-config.yml
  infra/app/app-config/env-config/environment-variables.tf
Due: terraform_fmt

Add NH DHHS configuration for SFTP (#1534)
  app/.env.local.example
  app/config/client-agency-config.yml
  infra/app/app-config/env-config/environment-variables.tf
Due: terraform_fmt

FFS-3834: Education less than half-time: handling overlapping statuses in a month (#1532)
  app/app/controllers/activities/education_controller.rb
  app/app/controllers/demo_launcher_controller.rb
  app/app/jobs/nsc_synchronization_job.rb
  app/app/models/education_activity.rb
  app/app/services/activity_flow_progress_calculator.rb
  app/app/services/demo_launcher/fake_nsc_data_fetcher_service.rb
  app/app/services/nsc_data_fetcher_service.rb
  app/app/views/demo_launcher/show.html.erb
  app/lib/demo_launcher/fake_nsc_scenarios.rb
  app/spec/controllers/activities/activities_controller_spec.rb
  app/spec/controllers/activities/education_controller_spec.rb
  app/spec/controllers/activities/summary_controller_spec.rb
  app/spec/controllers/demo_launcher_controller_spec.rb
  app/spec/e2e/activity_hub_education_partially_self_attested_review_spec.rb
  app/spec/jobs/nsc_synchronization_job_spec.rb
  app/spec/lib/demo_launcher/fake_nsc_scenarios_spec.rb
  app/spec/models/education_activity_spec.rb
  app/spec/services/activity_flow_progress_calculator_spec.rb
  app/spec/services/demo_launcher/fake_nsc_data_fetcher_service_spec.rb
  app/spec/services/nsc_data_fetcher_service_spec.rb
Due: rubocop, erblint

More tweaks to simplify the carryover service
  app/app/models/education_activity.rb
  app/app/services/education_activity_card_builder.rb
  app/app/services/education_activity_progress_calculator.rb
  app/app/services/education_summer_carryover_service.rb
  app/spec/models/education_activity_spec.rb
  app/spec/services/activity_flow_progress_calculator_spec.rb
  app/spec/services/education_activity_progress_calculator_spec.rb
  app/spec/services/education_summer_carryover_service_spec.rb
Due: rubocop

Don't pass in the `view_context` to the card builder
  app/app/helpers/activities_helper.rb
  app/app/services/education_activity_card_builder.rb
Due: rubocop

Add a comment for the wicked logic in EducationActivityProgressCalculator
  app/app/services/education_activity_progress_calculator.rb
Due: rubocop

updated fix -- just correct the ids
  app/spec/controllers/cbv/submits_controller_spec.rb
  app/spec/support/fixtures/argyle/kim/request_employment.json
  app/spec/support/fixtures/argyle/kim/request_paystubs.json
Due: rubocop

fix kim's account id in employment to fix flaky test
  app/spec/support/fixtures/argyle/kim/request_employment.json
Due: none

No ticket: fix kim's account id in employment to fix flaky test (#1536)
  app/spec/support/fixtures/argyle/kim/request_employment.json
Due: none

Reorg summary & submits controllers
  app/app/controllers/activities/submit_controller.rb
  app/app/controllers/activities/summary_controller.rb
  app/app/views/activities/submit/show.html.erb
  app/app/views/activities/summary/show.html.erb
  app/config/routes.rb
  app/spec/controllers/activities/submit_controller_spec.rb
  app/spec/controllers/activities/summary_controller_spec.rb
  app/spec/e2e/activity_hub_spec.rb
Due: rubocop, erblint

Test update
  app/spec/controllers/activities/summary_controller_spec.rb
Due: rubocop

before_action
  app/app/controllers/activities/summary_controller.rb
Due: rubocop

FFS-3974: Fix disappearing table on EMMY CE review/submit (#1538)
  app/app/controllers/activities/submit_controller.rb
  app/app/controllers/activities/summary_controller.rb
  app/app/views/activities/submit/show.html.erb
  app/app/views/activities/summary/show.html.erb
  app/config/routes.rb
  app/spec/controllers/activities/submit_controller_spec.rb
  app/spec/controllers/activities/summary_controller_spec.rb
  app/spec/e2e/activity_hub_spec.rb
Due: rubocop, erblint

Fix to_sym error
  app/app/controllers/cbv/sessions_controller.rb
  app/spec/controllers/cbv/sessions_controller_spec.rb
Due: rubocop

FFS-3985: Investigate and fix undefined method 'to_sym' for nil (#1540)
  app/app/controllers/cbv/sessions_controller.rb
  app/spec/controllers/cbv/sessions_controller_spec.rb
Due: rubocop

Implement self-attested employment on review/summary
  app/app/controllers/activities/summary_controller.rb
  app/app/views/activities/summary/_self_attested_employment_table.html.erb
  app/app/views/activities/summary/show.html.erb
  app/config/locales/en.yml
  app/spec/controllers/activities/summary_controller_spec.rb
  app/spec/e2e/activity_hub_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

FFS-3991: Add NSC forward-dating service for demo launcher
  app/app/jobs/nsc_synchronization_job.rb
  app/app/services/demo_launcher/nsc_forward_dating_service.rb
  app/app/services/nsc_data_fetcher_service.rb
  app/app/views/demo_launcher/show.html.erb
  app/spec/jobs/nsc_synchronization_job_spec.rb
  app/spec/services/demo_launcher/nsc_forward_dating_service_spec.rb
  app/spec/services/nsc_data_fetcher_service_spec.rb
Due: rubocop, erblint

Fix spec and private access modifier
  app/app/services/nsc_data_fetcher_service.rb
  app/spec/controllers/demo_launcher_controller_spec.rb
Due: rubocop

Fix Makefile
  app/Makefile
Due: none

Add missing directory
  app/Dockerfile
Due: none

Rename database --> postgres service in Makefile
  app/Makefile
Due: none

Remove stale wait-on-db
  app/Makefile
Due: none

Add missing schema version file
  app/Dockerfile
Due: none

FFS-3991: Update demo launcher to forward-date NSC terms (#1542)
  app/app/jobs/nsc_synchronization_job.rb
  app/app/services/demo_launcher/nsc_forward_dating_service.rb
  app/app/services/nsc_data_fetcher_service.rb
  app/app/views/demo_launcher/show.html.erb
  app/spec/controllers/demo_launcher_controller_spec.rb
  app/spec/jobs/nsc_synchronization_job_spec.rb
  app/spec/services/demo_launcher/nsc_forward_dating_service_spec.rb
  app/spec/services/nsc_data_fetcher_service_spec.rb
Due: rubocop, erblint

FFS-3908: Implement backend logic for summer terms (#1515)
  app/app/helpers/activities_helper.rb
  app/app/models/education_activity.rb
  app/app/models/nsc_enrollment_term.rb
  app/app/services/education_activity_card_builder.rb
  app/app/services/education_activity_progress_calculator.rb
  app/app/services/education_summer_carryover_service.rb
  app/app/views/demo_launcher/show.html.erb
  app/lib/demo_launcher/fake_nsc_scenarios.rb
  app/spec/controllers/activities/activities_controller_spec.rb
  app/spec/controllers/demo_launcher_controller_spec.rb
  app/spec/helpers/activities_helper_spec.rb
  app/spec/lib/demo_launcher/fake_nsc_scenarios_spec.rb
  app/spec/models/education_activity_spec.rb
  app/spec/models/nsc_enrollment_term_spec.rb
  app/spec/services/activity_flow_progress_calculator_spec.rb
  app/spec/services/education_activity_progress_calculator_spec.rb
  app/spec/services/education_summer_carryover_service_spec.rb
Due: rubocop, erblint

Bump action_text-trix 2.1.17 -> 2.1.18
  app/Gemfile.lock
Due: none

Bump action_text-trix 2.1.17 -> 2.1.18 (#1546)
  app/Gemfile.lock
Due: none

Implement doc upload
  app/app/controllers/activities/document_uploads_controller.rb
  app/app/controllers/activities/employment/months_controller.rb
  app/app/controllers/activities/employment_controller.rb
  app/app/models/employment_activity.rb
  app/app/views/activities/document_uploads/new.html.erb
  app/config/locales/en.yml
  app/config/routes.rb
  app/spec/controllers/activities/document_uploads_controller_spec.rb
  app/spec/controllers/activities/employment/months_controller_spec.rb
  app/spec/controllers/activities/employment_navigation_spec.rb
  app/spec/e2e/activity_hub_spec.rb
  app/spec/models/employment_activity_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Fix e2e test
  app/app/controllers/activities/employment/months_controller.rb
  app/spec/controllers/activities/employment/months_controller_spec.rb
  app/spec/e2e/activity_hub_employment_self_attestation_spec.rb
Due: rubocop

Implement self-attested employment on review/summary (#1541)
  app/app/controllers/activities/summary_controller.rb
  app/app/views/activities/summary/_self_attested_employment_table.html.erb
  app/app/views/activities/summary/show.html.erb
  app/config/locales/en.yml
  app/spec/controllers/activities/summary_controller_spec.rb
  app/spec/e2e/activity_hub_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Update month detail
  app/app/models/employment_activity.rb
  app/config/locales/en.yml
  app/spec/controllers/activities/document_uploads_controller_spec.rb
  app/spec/models/employment_activity_spec.rb
Due: rubocop, i18n-unused, i18n-normalize

FFS-3912: Employment self-attestation flow is missing doc upload step (#1547)
  app/app/controllers/activities/document_uploads_controller.rb
  app/app/controllers/activities/employment/months_controller.rb
  app/app/controllers/activities/employment_controller.rb
  app/app/models/employment_activity.rb
  app/app/views/activities/document_uploads/new.html.erb
  app/config/locales/en.yml
  app/config/routes.rb
  app/spec/controllers/activities/document_uploads_controller_spec.rb
  app/spec/controllers/activities/employment/months_controller_spec.rb
  app/spec/controllers/activities/employment_navigation_spec.rb
  app/spec/e2e/activity_hub_employment_self_attestation_spec.rb
  app/spec/e2e/activity_hub_spec.rb
  app/spec/models/employment_activity_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

FFS-3907: Update copy on education review page
  app/app/controllers/activities/education_controller.rb
  app/app/views/activities/education/edit.html.erb
  app/app/views/activities/education/review.html.erb
  app/config/locales/en.yml
  app/spec/controllers/activities/education_controller_spec.rb
  app/spec/e2e/activity_hub_education_partially_self_attested_review_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Refactor doc upload header title
  app/app/models/concerns/document_uploadable.rb
  app/app/models/education_activity.rb
  app/app/models/employment_activity.rb
  app/app/models/job_training_activity.rb
  app/app/models/volunteering_activity.rb
  app/app/views/activities/document_uploads/new.html.erb
  app/spec/models/education_activity_spec.rb
  app/spec/models/employment_activity_spec.rb
  app/spec/models/job_training_activity_spec.rb
  app/spec/models/volunteering_activity_spec.rb
Due: rubocop, erblint

FFS-3907: Update 2 lines of copy on Education review page (#1545)
  app/app/controllers/activities/education_controller.rb
  app/app/views/activities/education/edit.html.erb
  app/app/views/activities/education/review.html.erb
  app/config/locales/en.yml
  app/spec/controllers/activities/education_controller_spec.rb
  app/spec/e2e/activity_hub_education_partially_self_attested_review_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

N/A: Refactor Document Upload header title to use DocumentUploadable overrides (#1548)
  app/app/models/concerns/document_uploadable.rb
  app/app/models/education_activity.rb
  app/app/models/employment_activity.rb
  app/app/models/job_training_activity.rb
  app/app/models/volunteering_activity.rb
  app/app/views/activities/document_uploads/new.html.erb
  app/spec/models/education_activity_spec.rb
  app/spec/models/employment_activity_spec.rb
  app/spec/models/job_training_activity_spec.rb
  app/spec/models/volunteering_activity_spec.rb
Due: rubocop, erblint
