Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-normalize, i18n-missing, shellcheck, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml

- repo: local
  hooks:
  - id: rubocop
    name: rubocop
    entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
    language: ruby
    files: '^app/.*\.rb$'

  - id: erblint
    name: erblint
    entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
    language: ruby
    files: '^app/.*\.erb$'

  - id: i18n-normalize
    name: i18n-normalize
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
    language: ruby
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: i18n-missing
    name: i18n-missing
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks missing
    language: ruby
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system        # installed via `brew bundle`
    files: '^bin/.*$'

  - id: prettier
    name: prettier
    entry: bin/run-linter --cd app -- npm run format:precommit
    language: node
    files: '^app/.*\.(js|ts)$'

now remove from bottom level
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
Due: rubocop

back out unnecessary trait
  app/spec/factories/payroll_account.rb
Due: rubocop

sure keep that old logic for now
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
Due: rubocop

[FFS-2746] tweak pinwheel account syncher to be more resilient
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/app/services/aggregators/aggregator_reports/pinwheel_report.rb
  app/spec/factories/payroll_account.rb
  app/spec/services/aggregators/aggregator_reports/pinwheel_report_spec.rb
Due: rubocop

fix it up a level instead
  app/app/helpers/cbv/aggregator_data_helper.rb
  app/app/models/payroll_account/argyle.rb
  app/app/models/payroll_account/pinwheel.rb
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/app/services/aggregators/aggregator_reports/pinwheel_report.rb
  app/spec/helpers/aggregator_data_helper_spec.rb
  app/spec/services/aggregators/aggregator_reports/pinwheel_report_spec.rb
Due: rubocop

FFS-2782: round hours to the nearest tenth on the screen in cases where argyle might report as many decimals as it likes (#583)
  app/app/components/pinwheel_data_point_component.rb
  app/app/helpers/cbv/aggregator_data_helper.rb
  app/app/helpers/report_view_helper.rb
  app/app/helpers/view_helper.rb
  app/app/mailers/application_mailer.rb
  app/spec/components/pinwheel_data_point_component_spec.rb
  app/spec/helpers/report_view_helper_spec.rb
  app/spec/helpers/view_helper_spec.rb
  app/spec/mailers/caseworker_mailer_spec.rb
  app/spec/mailers/previews/applicant_mailer_preview.rb
  app/spec/mailers/previews/caseworker_mailer_preview.rb
Due: rubocop

tweak flow so that its sending synchronization failures to the right place, and dealing with excluded jobs correctly
  app/app/controllers/cbv/submits_controller.rb
  app/app/controllers/cbv/synchronizations_controller.rb
  app/app/helpers/cbv/aggregator_data_helper.rb
  app/app/models/payroll_account/argyle.rb
  app/app/models/payroll_account/pinwheel.rb
  app/spec/controllers/cbv/submits_controller_spec.rb
  app/spec/controllers/cbv/synchronizations_controller_spec.rb
Due: rubocop

Update app/spec/controllers/application_controller_spec.rb
  app/spec/controllers/application_controller_spec.rb
Due: rubocop

FFS-2789: Use Argyle /employer-search endpoint for search
  app/app/services/aggregators/sdk/argyle_service.rb
  app/app/services/provider_search_service.rb
  app/spec/services/aggregators/sdk/argyle_service_spec.rb
  app/spec/services/provider_search_service_spec.rb
  app/spec/support/argyle_api_helper.rb
  app/spec/support/fixtures/argyle/bob/request_employer_search.json
  app/spec/support/fixtures/argyle/bob/request_items.json
Due: rubocop

WIP attempt to fix reviewbot
  .github/workflows/pr-reviewer-lottery.yml
Due: none

address feedback
  app/.env
  app/config/environment.rb
  app/config/initializers/mission_control.rb
Due: rubocop

Revert "Skip reviewer lottery if someone's already been assigned"
  .github/workflows/pr-reviewer-lottery.yml
Due: none

fix: upgrade sass from 1.86.0 to 1.86.1
  app/package-lock.json
  app/package.json
Due: none

FFS-2750: add ability to see the dashboard across environments (#584)
  app/.env
  app/Gemfile
  app/config/environment.rb
  app/config/environments/development.rb
  app/config/initializers/mission_control.rb
  app/config/routes.rb
  infra/app/app-config/env-config/environment-variables.tf
Due: rubocop

FFS-2638: introduce load testing and first round of results (#586)
  load_testing/README.md
  load_testing/docker-compose.yml
  load_testing/loadtest.js
Due: none

because the nature of this bug is difficult, lets check an assumption---would ONLY a person with multiple accounts ever run into the bug?
  app/app/controllers/cbv/submits_controller.rb
  app/app/controllers/cbv/synchronizations_controller.rb
  app/spec/controllers/cbv/synchronizations_controller_spec.rb
Due: rubocop

add one more test to verify behavior
  app/spec/controllers/cbv/submits_controller_spec.rb
Due: rubocop

FFS-2750: add terraform to create solidqueue app workers (#576)
  app/bin/solidqueue-health-check.sh
  app/config/environments/production.rb
  infra/app/app-config/env-config/environment-variables.tf
  infra/modules/service/async_workers.tf
  infra/modules/service/variables.tf
Due: rubocop

fix spec
  app/spec/controllers/cbv/submits_controller_spec.rb
Due: rubocop

FFS-2746: tweak pinwheel account syncher to be more resilient (#579)
  app/app/controllers/cbv/submits_controller.rb
  app/app/helpers/cbv/aggregator_data_helper.rb
  app/app/models/payroll_account/argyle.rb
  app/app/models/payroll_account/pinwheel.rb
  app/spec/controllers/cbv/submits_controller_spec.rb
  app/spec/helpers/aggregator_data_helper_spec.rb
Due: rubocop

addressing most of the feedback. tests are now failing due to missing test host entries
  app/config/client-agency-config.yml
  app/config/environments/test.rb
  app/spec/controllers/application_controller_spec.rb
Due: rubocop

more working, rspec still not ready
  app/app/services/aggregators/validators/useful_report_validator.rb
Due: rubocop

ensuring that detect_client_agency_from_domain returns nil using the find method
  app/app/controllers/application_controller.rb
  app/config/application.rb
  app/config/environments/test.rb
  app/spec/controllers/application_controller_spec.rb
Due: rubocop

using anonymous controller to test for the proper agency resolution
  app/spec/controllers/application_controller_spec.rb
Due: rubocop

update nokogiri to resolve security vulnerability
  app/Gemfile.lock
Due: none

update nokogiri to resolve security vulnerability (#592)
  app/Gemfile.lock
Due: none

add language tweaks
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: i18n-normalize, i18n-missing

final tweak from slack discussion
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: i18n-normalize, i18n-missing

[FFS-2729] re-link continue button to applicant info page in case they want to continue forward
  app/app/controllers/cbv/applicant_informations_controller.rb
  app/app/models/cbv_applicant.rb
  app/app/views/cbv/employer_searches/_employer.html.erb
  app/config/locales/en.yml
  app/spec/controllers/cbv/employer_searches_controller_spec.rb
  app/spec/models/cbv_applicant_spec.rb
Due: rubocop, erblint, i18n-normalize, i18n-missing

removed hours counting code because it was not correct
  app/app/services/aggregators/validators/useful_report_validator.rb
  app/spec/services/aggregators/validators/useful_report_validator_spec.rb
Due: rubocop

removed invalid gross pay amount check that was added in error
  app/spec/services/aggregators/validators/useful_report_validator_spec.rb
Due: rubocop

re-added invalid gross pay amount, removed out of confusion
  app/spec/services/aggregators/validators/useful_report_validator_spec.rb
Due: rubocop

FFS-2784: Update /synchronizations to only wait for a partial sync (#582)
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/app/services/aggregators/sdk/argyle_service.rb
  app/app/services/aggregators/webhooks/argyle.rb
  app/app/services/argyle_webhooks_manager.rb
  app/config/initializers/ngrok_development.rb
  app/spec/controllers/webhooks/argyle/events_controller_spec.rb
  app/spec/factories/webhook_request.rb
  app/spec/models/payroll_account/argyle_spec.rb
  app/spec/services/aggregators/sdk/argyle_service_spec.rb
  app/spec/services/aggregators/webhooks/argyle_spec.rb
  app/spec/services/argyle_webhooks_manager_spec.rb
Due: rubocop

FFS-2789: Use Argyle /employer-search endpoint for search (#587)
  app/app/services/aggregators/sdk/argyle_service.rb
  app/app/services/provider_search_service.rb
  app/spec/services/aggregators/sdk/argyle_service_spec.rb
  app/spec/services/provider_search_service_spec.rb
  app/spec/support/argyle_api_helper.rb
  app/spec/support/fixtures/argyle/bob/request_employer_search.json
  app/spec/support/fixtures/argyle/bob/request_items.json
Due: rubocop

working, fixed tests, added new test, verified strategy with Tom
  app/app/services/aggregators/validators/useful_report_validator.rb
  app/spec/controllers/cbv/payment_details_controller_spec.rb
  app/spec/support/fixtures/pinwheel/request_end_user_valid_and_invalid_paystubs_response.json
  app/spec/support/pinwheel_api_helper.rb
Due: rubocop

FFS-2729: re-link continue button to applicant info page in case they want to continue forward (#591)
  app/app/controllers/cbv/applicant_informations_controller.rb
  app/app/models/cbv_applicant.rb
  app/app/views/cbv/employer_searches/_employer.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/spec/controllers/cbv/employer_searches_controller_spec.rb
  app/spec/models/cbv_applicant_spec.rb
Due: rubocop, erblint, i18n-normalize, i18n-missing

refactor to begin ability to remove maybe_later
  app/app/controllers/application_controller.rb
  app/app/controllers/cbv/employer_searches_controller.rb
  app/app/jobs/event_tracking_job.rb
  app/app/mailers/application_mailer.rb
  app/lib/generic_event_tracker.rb
  app/lib/mixpanel_event_tracker.rb
  app/lib/new_relic_event_tracker.rb
  app/spec/controllers/cbv/employer_searches_controller_spec.rb
  app/spec/controllers/cbv/entries_controller_spec.rb
  app/spec/controllers/cbv/payment_details_controller_spec.rb
  app/spec/controllers/cbv/summaries_controller_spec.rb
  app/spec/controllers/help_controller_spec.rb
  app/spec/jobs/event_tracking_job_spec.rb
Due: rubocop

ima be honest. i dont trust that maybelater runs correctly in test
  app/lib/generic_event_tracker.rb
Due: rubocop
