Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-unused, i18n-normalize, shellcheck, prettier, terraform_fmt, actionlint

rubocop:
  name: rubocop
  entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
  language: system

erblint:
  name: erblint
  entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
  language: system

i18n-unused:
  name: i18n-unused
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks unused
  language: system
  pass_filenames: false

i18n-normalize:
  name: i18n-normalize
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
  language: system
  pass_filenames: false

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system

prettier:
  name: prettier
  entry: bin/run-linter --cd app -- npm run format:precommit
  language: node

terraform_fmt:
  name: Terraform Fmt
  entry: terraform fmt
  language: system

actionlint:
  name: ActionLint
  entry: actionlint
  language: system
  pass_filenames: false

FFS-4466: Return to household list after member submission (#1891)
  app/app/assets/stylesheets/households.scss
  app/app/controllers/activities/summary_controller.rb
  app/app/controllers/household_members_controller.rb
  app/app/controllers/households_controller.rb
  app/app/controllers/launcher_controller.rb
  app/app/models/activity_flow.rb
  app/app/models/household_member.rb
  app/app/services/launcher/household_scenario.rb
  app/app/views/households/show.html.erb
  app/config/locales/en.yml
  app/spec/controllers/activities/summary_controller_spec.rb
  app/spec/controllers/household_members_controller_spec.rb
  app/spec/controllers/households_controller_spec.rb
  app/spec/controllers/launcher_controller_advanced_spec.rb
  app/spec/e2e/household_activity_flow_spec.rb
  app/spec/models/household_member_spec.rb
  app/spec/services/launcher/household_scenario_spec.rb
  app/spec/support/e2e/test_helpers.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

fix: patch Dockerfile for OS-level CVEs flagged by Trivy/Anchore
  app/Dockerfile
Due: none

FFS-4484: Enable CMS Cloud migration action (and simplify it) (#1894)
  .github/workflows/README.md
  .github/workflows/database-migrations-cms.yml
  .github/workflows/deploy-cms.yml
  Makefile
  bin/run-database-migrations-cms
Due: shellcheck, actionlint

Remove response body from JsonTransmitter exceptions
  app/app/services/transmitters/json_transmitter.rb
  app/spec/services/transmitters/json_transmitter_spec.rb
Due: rubocop

Remove response body from JsonTransmitter exceptions (#1896)
  app/app/services/transmitters/json_transmitter.rb
  app/spec/services/transmitters/json_transmitter_spec.rb
Due: rubocop

Create unscanned uploads bucket
  infra/app/app-config/env-config/outputs.tf
  infra/app/service/main.tf
  infra/modules/storage/lifecycle.tf
  infra/modules/storage/variables.tf
Due: terraform_fmt

Apply suggestsions
  .github/workflows/ci-app-vulnerability-scans.yml
  .github/workflows/dependency-scans.yml
Due: actionlint

ci: remove stale Artifactory references
  .github/workflows/build-and-publish.yml
  Makefile
Due: actionlint

FFS-4594: Move dependency & vulnerability checks to main (#1890)
  .github/actions/build-release-image/action.yml
  .github/actions/grype-image-scan/action.yml
  .github/actions/js-dependency-audit/action.yml
  .github/actions/ruby-dependency-audit/action.yml
  .github/actions/trivy-image-scan/action.yml
  .github/scripts/fix-ruby-dependencies.rb
  .github/scripts/fix-ruby-dependencies_test.rb
  .github/workflows/auto-fix-dependencies.yml
  .github/workflows/ci-app-vulnerability-scans.yml
  .github/workflows/dependency-scans.yml
  .github/workflows/secret-scan.yml
  .github/workflows/vulnerability-scans.yml
  .pre-commit-config.yaml
Due: actionlint

Implement new launcher
  app/app/assets/stylesheets/advanced-launcher.scss
  app/app/controllers/household_members_controller.rb
  app/app/controllers/launcher_controller.rb
  app/app/javascript/controllers/advanced_launcher_controller.js
  app/app/services/launcher/household_scenario.rb
  app/app/views/launcher/_pre_populated_activities.html.erb
  app/app/views/launcher/advanced.html.erb
  app/config/locales/en.yml
  app/db/migrate/20260713200000_add_launcher_overrides_to_households.rb
  app/db/schema.rb
  app/spec/controllers/household_members_controller_spec.rb
  app/spec/controllers/launcher_controller_advanced_spec.rb
  app/spec/e2e/household_activity_flow_spec.rb
  app/spec/requests/launcher_spec.rb
  app/spec/services/launcher/household_scenario_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize, prettier

Fix i18n
  app/config/i18n-tasks.yml
Due: none

fix: patch Ruby/JS dependencies for CVEs flagged by bundler-audit/npm audit
  app/package-lock.json
Due: none

Adjust archetype titles + state_verified
  app/app/models/activity_flow.rb
  app/app/services/launcher/household_scenario.rb
  app/app/views/launcher/advanced.html.erb
  app/config/locales/en.yml
  app/spec/controllers/household_members_controller_spec.rb
  app/spec/controllers/launcher_controller_advanced_spec.rb
  app/spec/e2e/household_activity_flow_spec.rb
  app/spec/models/activity_flow_spec.rb
  app/spec/services/launcher/household_scenario_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

e2e => js
  app/spec/e2e/household_activity_flow_spec.rb
  app/spec/javascript/controllers/advanced_launcher.spec.js
Due: rubocop, prettier

FFS-4465: Add configurable household setup to launcher (#1906)
  app/app/assets/stylesheets/advanced-launcher.scss
  app/app/controllers/household_members_controller.rb
  app/app/controllers/launcher_controller.rb
  app/app/javascript/controllers/advanced_launcher_controller.js
  app/app/models/activity_flow.rb
  app/app/services/launcher/household_scenario.rb
  app/app/views/launcher/_pre_populated_activities.html.erb
  app/app/views/launcher/advanced.html.erb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/db/migrate/20260713200000_add_launcher_overrides_to_households.rb
  app/db/schema.rb
  app/spec/controllers/household_members_controller_spec.rb
  app/spec/controllers/launcher_controller_advanced_spec.rb
  app/spec/e2e/household_activity_flow_spec.rb
  app/spec/javascript/controllers/advanced_launcher.spec.js
  app/spec/models/activity_flow_spec.rb
  app/spec/requests/launcher_spec.rb
  app/spec/services/launcher/household_scenario_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize, prettier

Skip if audit doesn't find anything
  .github/actions/js-dependency-audit/action.yml
Due: actionlint

FFS-4511: Add CODEOWNERS for CM-01a (#1851)
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/contributor_ladder.md
  CODEOWNERS.md
  COMMUNITY.md
  CONTRIBUTING.md
  README.md
Due: none

Configure Datadog
  .github/workflows/deploy-ecs.yml
  app/Gemfile
  app/Gemfile.lock
  app/config/initializers/datadog.rb
Due: rubocop, actionlint

Task family is more explicit
  .github/workflows/deploy-ecs.yml
Due: actionlint

Make Datadog IMAGE_TAG optional
  app/config/initializers/datadog.rb
Due: rubocop

FFS-4269: Add scripts to run commands in CMS Cloud
  bin/ecs-console-cms
  bin/run-command-cms
Due: shellcheck

FFS-4149: Install Datadog Agent in the Rails App (#1911)
  .github/workflows/deploy-ecs.yml
  app/Gemfile
  app/Gemfile.lock
  app/config/initializers/datadog.rb
Due: rubocop, actionlint

Skip JS dependency autofix PR when packages pass audit (#1909)
  .github/actions/js-dependency-audit/action.yml
Due: actionlint

Clean up Emmy Tokenized Link API Documentation
  docs/api/tokenized-link.md
Due: none

Remove a couple extra columns
  docs/api/tokenized-link.md
Due: none

Address Tim's suggestions
  docs/api/tokenized-link.md
Due: none

Clean up Emmy Tokenized Link API Documentation (#1914)
  docs/api/tokenized-link.md
Due: none

Fix ruby dependency updater
  .github/scripts/fix-ruby-dependencies.rb
  .github/scripts/fix-ruby-dependencies_test.rb
Due: none

Potential fix for pull request finding
  .github/scripts/fix-ruby-dependencies_test.rb
Due: none

Fix ruby dependency updater autofix PR by thawing the bundle (#1925)
  .github/scripts/fix-ruby-dependencies.rb
  .github/scripts/fix-ruby-dependencies_test.rb
Due: none

Update versions from NPM/Python to please Snyk
  app/analytics/requirements.txt
  app/package.json
  infra/modules/database/role_manager/requirements.txt
Due: none

Add package-lock changes too
  app/package-lock.json
Due: none

Update versions from NPM/Python to please Snyk (#1926)
  app/analytics/requirements.txt
  app/package-lock.json
  app/package.json
  infra/modules/database/role_manager/requirements.txt
Due: none

first draft of new guide
  docs/local-replication.md
Due: none

Delete uploaded files during redaction
  app/app/services/data_retention_service.rb
  app/config/storage.yml
  app/db/migrate/20260724120000_add_documents_deleted_at_to_activity_flows.rb
  app/db/schema.rb
  app/lib/tasks/data_deletion.rake
  app/spec/services/data_retention_service_spec.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.mmd
Due: rubocop

[FFS-4622] add data flow diagrams to github
  docs/compliance/data-flow-diagram.md
Due: none

Potential fix for pull request finding
  app/spec/services/data_retention_service_spec.rb
Due: rubocop

Path conditions:
  rubocop: any of: ^app/.*\.rb$
  erblint: any of: ^app/.*\.erb$
  i18n-unused: any of: ^app/config/locales/.*\.yml$
  i18n-normalize: any of: ^app/config/locales/.*\.yml$
  shellcheck: any of: ^bin/.*$
  prettier: any of: ^app/.*\.(js|ts)$
  terraform_fmt: any of: infra/.*\.tf$
  actionlint: any of: ^.github/.*\.yml$
