Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-unused, i18n-normalize, shellcheck, prettier, terraform_fmt, actionlint

rubocop:
  name: rubocop
  entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
  language: system

erblint:
  name: erblint
  entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
  language: system

i18n-unused:
  name: i18n-unused
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks unused
  language: system
  pass_filenames: false

i18n-normalize:
  name: i18n-normalize
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
  language: system
  pass_filenames: false

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system

prettier:
  name: prettier
  entry: bin/run-linter --cd app -- npm run format:precommit
  language: node

terraform_fmt:
  name: Terraform Fmt
  entry: terraform fmt
  language: system

actionlint:
  name: ActionLint
  entry: actionlint
  language: system
  pass_filenames: false

Fix bin/run-command not actually running in intended environment (#1003)
  bin/run-command
Due: shellcheck

update compass url
  app/config/client-agency-config/pa_dhs.yml
Due: none

update caseworker pdf generation test
  app/spec/controllers/cbv/submits_controller_spec.rb
Due: rubocop

translations
  app/config/locales/es.yml
Due: i18n-unused, i18n-normalize

testing
  app/Dockerfile
Due: none

Normalize frequency
  app/app/services/aggregators/response_objects/income.rb
Due: rubocop

Remove duplicates from en.yml & es.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: i18n-unused, i18n-normalize

Fix some tests
  app/spec/components/aggregate_data_point_component_spec.rb
  app/spec/controllers/webhooks/pinwheel/events_controller_spec.rb
  app/spec/services/aggregators/aggregator_reports/pinwheel_report_spec.rb
Due: rubocop

update for ruby/debian package update
  app/Dockerfile
Due: none

test income
  app/spec/services/aggregators/response_objects/income_spec.rb
Due: rubocop

Unnecessary to normalize argyle
  app/app/services/aggregators/response_objects/income.rb
Due: rubocop

FFS-3363: Add load testing for Tokenized Link API
  load_testing/README.md
  load_testing/loadtest-api.js
Due: none

slight spanish correction
  app/config/locales/es.yml
Due: i18n-unused, i18n-normalize

Add namespacing to email webhooks
  infra/modules/email/main.tf
  infra/modules/email/webhooks.tf
Due: terraform_fmt

Allow environments to override bucket name and set one for demo
  infra/app/app-config/demo.tf
  infra/app/app-config/env-config/main.tf
  infra/app/app-config/env-config/variables.tf
Due: terraform_fmt

Re-implement bin/current-region
  bin/current-region
Due: shellcheck

FFS-3363: Add load testing for Tokenized Link API (#1005)
  load_testing/README.md
  load_testing/loadtest-api.js
Due: none

fix issue where client agency configuration was not loading sftp_filename (#136)
  app/app/services/client_agency/sandbox/configuration.rb
  app/app/services/client_agency/select_client_agency_configuration_class.rb
  app/app/services/transmitters/sftp_transmitter.rb
  app/spec/jobs/case_worker_transmitter_job_spec.rb
Due: rubocop

Re-implement bin/current-region (#1006)
  bin/current-region
Due: shellcheck

Add safe navigator
  app/app/controllers/cbv/generic_links_controller.rb
  app/spec/controllers/cbv/generic_links_controller_spec.rb
Due: rubocop

Proper translation!
  app/config/locales/es.yml
Due: i18n-unused, i18n-normalize

FFS-3371: Normalize `compensation_unit` in Income response object (#1004)
  app/app/services/aggregators/response_objects/income.rb
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/spec/components/aggregate_data_point_component_spec.rb
  app/spec/controllers/webhooks/pinwheel/events_controller_spec.rb
  app/spec/services/aggregators/aggregator_reports/pinwheel_report_spec.rb
  app/spec/services/aggregators/response_objects/income_spec.rb
Due: rubocop, i18n-unused, i18n-normalize

experimental fix for e2e tests
  app/spec/e2e/cbv_flow_pinwheel_spec.rb
Due: rubocop

update pa acronym
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: i18n-unused, i18n-normalize

experimental fix for e2e tests
  app/spec/e2e/cbv_flow_spec.rb
Due: rubocop

FFS-3387: /entry improvements (#1002)
  app/app/assets/stylesheets/cbv.scss
  app/app/components/accordion_component.html.erb
  app/app/views/cbv/entries/show.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/spec/e2e/cbv_flow_pinwheel_spec.rb
  app/spec/e2e/cbv_flow_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Might be time to refactor..
  app/app/services/json_transmitter_payload.rb
  app/app/services/transmitters/json_transmitter.rb
  app/spec/fixtures/json_transmitter_payloads/combined_report.json
  app/spec/services/transmitters/json_transmitter_payload_spec.rb
Due: rubocop

FFS-3376: Add safe navigator (#1007)
  app/app/controllers/cbv/generic_links_controller.rb
  app/spec/controllers/cbv/generic_links_controller_spec.rb
Due: rubocop

change report my income to verify my income
  app/app/views/caseworker_mailer/summary_email.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/spec/fixtures/e2e/e2e_cbv_flow_pinwheel/vcr_http_requests.yml
  app/spec/mailers/caseworker_mailer_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Allow aws / terraform commands to output to stdout / stderr
  bin/is-image-published
Due: shellcheck

Allow aws / terraform commands to output to stdout / stderr (#1009)
  bin/is-image-published
Due: shellcheck

Update build-and-publish.yml
  .github/workflows/build-and-publish.yml
Due: actionlint

Try to get logs by redirecting std out to std error
  bin/is-image-published
Due: shellcheck

Print variable values
  bin/is-image-published
Due: shellcheck

remove region
  bin/is-image-published
Due: shellcheck

Add newlines back
  bin/is-image-published
Due: shellcheck

Revert "Allow aws / terraform commands to output to stdout / stderr (#1009)"
  bin/is-image-published
Due: shellcheck

Hardcode LA LDH email on pilot-ended page
  app/app/views/pages/_la_ldh_pilot_end.html.erb
Due: erblint

Region fix
  bin/current-region
  bin/is-image-published
  bin/publish-release
Due: shellcheck

Path conditions:
  rubocop: any of: ^app/.*\.rb$
  erblint: any of: ^app/.*\.erb$
  i18n-unused: any of: ^app/config/locales/.*\.yml$
  i18n-normalize: any of: ^app/config/locales/.*\.yml$
  shellcheck: any of: ^bin/.*$
  prettier: any of: ^app/.*\.(js|ts)$
  terraform_fmt: any of: infra/.*\.tf$
  actionlint: any of: ^.github/.*\.yml$
