Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-unused, i18n-normalize, shellcheck, prettier, terraform_fmt, actionlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml

- repo: local
  hooks:
  - id: rubocop
    name: rubocop
    entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
    language: system
    files: '^app/.*\.rb$'

  # this rubocop hook works on windows/wsl, and is being left here as of 8/27/2025 to figure it out at some point
  #- id: rubocop
  #  name: rubocop
  #  language: system
  #  entry: bash -lc 'BUNDLE_GEMFILE=app/Gemfile cd app && bundle exec rubocop -a --force-exclusion'
  #  types: [ ruby ]
  #  files: '^app/.*\.rb$'
  #  pass_filenames: false

  - id: erblint
    name: erblint
    entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
    language: system
    files: '^app/.*\.erb$'

  - id: i18n-unused
    name: i18n-unused
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks unused
    language: system
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: i18n-normalize
    name: i18n-normalize
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
    language: system
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system        # installed via `brew bundle`
    files: '^bin/.*$'

  - id: prettier
    name: prettier
    entry: bin/run-linter --cd app -- npm run format:precommit
    language: node
    files: '^app/.*\.(js|ts)$'

  - id: terraform_fmt
    name: Terraform Fmt
    entry: terraform fmt
    language: system
    files: 'infra/.*\.tf$'

#  - id: checkov
#    name: Checkov
#    entry: checkov --quiet --output sarif --framework terraform -f
#    language: system
#    files: 'infra/.*\.tf$'

  - id: actionlint
    name: ActionLint
    entry: actionlint
    language: system
    files: '^.github/.*\.yml$'
    pass_filenames: false

Fix Vitest 5 test setup compatibility
  app/spec/javascript/adapters/__snapshots__/ArgyleModalAdapter.spec.js.snap
  app/spec/javascript/test_setup.js
Due: prettier

feat: add support for nsc_disabled env var
  app/.env
  app/.env.local.example
  app/app/controllers/activities/education/term_credit_hours_controller.rb
  app/app/controllers/activities/education_controller.rb
  app/app/controllers/application_controller.rb
  app/app/helpers/activities_helper.rb
  app/app/helpers/application_helper.rb
  app/app/views/activities/activities/index.html.erb
  app/app/views/activities/education/error.html.erb
  app/spec/controllers/activities/activities_controller_spec.rb
  app/spec/controllers/activities/education/term_credit_hours_controller_spec.rb
  app/spec/controllers/activities/education_controller_spec.rb
  app/spec/helpers/activities_helper_spec.rb
  docs/local-replication.md
Due: rubocop, erblint

or false is redundant
  app/app/controllers/application_controller.rb
Due: rubocop

Include activity_hub context for test
  app/spec/e2e/help_feature_spec.rb
Due: rubocop

Fix JSON 3 compatibility in Sprockets
  app/Gemfile
  app/Gemfile.lock
Due: none

FFS-4794: Add deployment target selection
  bin/deploy-to-nava-and-cms
Due: shellcheck

Fix bin/will-deploy version comparison link
  app/bin/will-deploy
Due: none

FFS-4642 Remove help link (#2043)
  app/app/views/application/_header.html.erb
  app/spec/e2e/help_feature_spec.rb
Due: rubocop, erblint

Add aria-labels to employer buttons
  app/app/views/activities/income/employer_searches/_employer.html.erb
  app/app/views/activities/income/employer_searches/show.html.erb
  app/app/views/cbv/employer_searches/_employer.html.erb
  app/app/views/cbv/employer_searches/show.html.erb
  app/config/locales/en.yml
  app/spec/controllers/activities/income/employer_searches_controller_spec.rb
  app/spec/controllers/cbv/employer_searches_controller_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

attempt to fuse in steps from the confluence doc, and make needed updates
  docs/release-process.md
  docs/releases.md
Due: none

Update translation file
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: i18n-unused, i18n-normalize

Normalize translations
  app/config/locales/es.yml
Due: i18n-unused, i18n-normalize

FFS-4768: Address activity JSON review comments
  app/app/services/activity_report_serializer.rb
  app/app/services/income_transmitter.rb
  app/app/services/transmitters/encrypted_s3_transmitter.rb
  app/config/client-agency-config.yml
  app/lib/client_agency_config.rb
  app/spec/controllers/cbv/submits_controller_spec.rb
  app/spec/controllers/cbv/summaries_controller_spec.rb
  app/spec/jobs/case_worker_transmitter_job_spec.rb
  app/spec/lib/client_agency_config_spec.rb
  app/spec/services/activity_report_serializer_spec.rb
  app/spec/services/transmitters/activity_json_transmitter_spec.rb
  app/spec/services/transmitters/http_pdf_transmitter_spec.rb
  app/spec/services/transmitters/json_and_pdf_transmitter_spec.rb
  app/spec/services/transmitters/json_transmitter_spec.rb
  app/spec/services/transmitters/sftp_transmitter_spec.rb
  docs/api/ce-activity-report.md
  docs/api/samples/ce-activity-report.json
  docs/api/schemas/ce-activity-report-2026-09-01.json
  docs/testing_sftp.md
Due: rubocop

Pin JSON until ActiveSupport supports JSON 3
  app/Gemfile
  app/Gemfile.lock
Due: none

FFS-4718: CE PDF Implementation (#2035)
  app/app/assets/stylesheets/activity_report.scss
  app/app/assets/stylesheets/application.postcss.css
  app/app/components/document_uploads_component.html.erb
  app/app/components/document_uploads_component.rb
  app/app/controllers/activities/submit_controller.rb
  app/app/services/activity_pdf_report.rb
  app/app/services/transmitters/activity_s3_transmitter.rb
  app/app/views/activities/submit/_detail_activity.pdf.erb
  app/app/views/activities/submit/_payroll_payments.pdf.erb
  app/app/views/activities/submit/_summary_activity.pdf.erb
  app/app/views/activities/submit/show.pdf.erb
  app/app/views/layouts/pdf.pdf.erb
  app/config/locales/en.yml
  app/spec/components/document_uploads_component_spec.rb
  app/spec/controllers/activities/submit_controller_spec.rb
  app/spec/services/activity_pdf_report_spec.rb
  app/spec/services/transmitters/activity_s3_transmitter_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

FFS-4802 content
  app/app/views/activities/employment/add_your_work/show.html.erb
  app/config/locales/en.yml
  app/spec/controllers/activities/employment/add_your_work_controller_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

FFS-4803 content
  app/config/locales/en.yml
  app/spec/controllers/activities/employment_controller_spec.rb
Due: rubocop, i18n-unused, i18n-normalize

Add unit tests for DateFormatter
  app/spec/lib/date_formatter_spec.rb
Due: rubocop

Add CE fields to applicants and activity flow invitations
  app/db/migrate/20260909194028_add_ce_fields_to_applicants_and_invitations.rb
  app/db/schema.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.mmd
Due: rubocop

Add API v2 invitations controller and specs
  app/app/controllers/api/v2/invitations_controller.rb
  app/spec/controllers/api/v2/invitations_controller_spec.rb
Due: rubocop

FFS-4791 Add choose how to add education page and route
  app/app/controllers/activities/education/add_your_education_controller.rb
  app/app/views/activities/activities/index.html.erb
  app/app/views/activities/education/add_your_education/show.html.erb
  app/config/locales/en.yml
  app/config/routes.rb
  app/spec/controllers/activities/education/add_your_education_controller_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

FFS-4791 Update back navigation on education entry pages
  app/app/controllers/activities/education_controller.rb
  app/app/views/activities/education/new.html.erb
  app/app/views/activities/education/verify.html.erb
  app/spec/controllers/activities/education_navigation_spec.rb
Due: rubocop, erblint

Potential fix for pull request finding 'CodeQL / CSRF protection weakened or disabled'
  app/app/controllers/api/v2/invitations_controller.rb
Due: rubocop

update add education activity test
  app/spec/e2e/activity_hub_spec.rb
Due: rubocop

Make alerts accessible
  app/app/assets/stylesheets/uswds-overrides.scss
  app/app/components/uswds/alert.html.erb
  app/app/components/uswds/alert.rb
  app/app/javascript/application.js
  app/spec/components/uswds/alert_spec.rb
Due: rubocop, erblint, prettier

Use CMS Cloud to determine production version
  app/bin/will-deploy
Due: none

Update deploy approver to be Seth
  app/bin/will-deploy
Due: none

Remove autofocus
  app/app/components/uswds/alert.html.erb
  app/app/components/uswds/alert.rb
  app/spec/components/uswds/alert_spec.rb
Due: rubocop, erblint

Update deploy approver back to Jacob
  app/bin/will-deploy
Due: none

Update stylesheet
  app/app/assets/stylesheets/uswds-overrides.scss
Due: none

Remove turbo autofocus
  app/app/javascript/application.js
Due: prettier

cushion for timing failure
  app/spec/e2e/cbv_flow_missing_results_spec.rb
Due: rubocop

support parsing iso 8601 date strings, add api v2 invitation routing, expiration calculations
  app/app/models/activity_flow_invitation.rb
  app/config/routes.rb
  app/lib/date_formatter.rb
Due: rubocop

Release v0.5.0
  CHANGELOG.md
  app/version.txt
  code.json
Due: none

Release v0.5.0 (#2048)
  CHANGELOG.md
  app/version.txt
  code.json
Due: none

Remove bencalegari from reviewer lottery
  .github/reviewer-lottery.yml
Due: actionlint

move redirect_if_nsc_disabled to base_controller
  app/app/controllers/activities/base_controller.rb
  app/app/controllers/activities/education/term_credit_hours_controller.rb
  app/app/controllers/activities/education_controller.rb
Due: rubocop

move nsc disabled check to nsc.rb and reorg
  app/app/controllers/application_controller.rb
  app/app/helpers/application_helper.rb
  app/lib/nsc.rb
  app/spec/controllers/application_controller_spec.rb
  app/spec/helpers/application_helper_spec.rb
  app/spec/lib/nsc_spec.rb
Due: rubocop

set nsc_disabled in aws parameter store
  app/lib/nsc.rb
Due: rubocop

add krista and chris
  .github/reviewer-lottery.yml
Due: actionlint
