Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-unused, i18n-normalize, shellcheck, prettier, terraform_fmt, actionlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml

- repo: local
  hooks:
  - id: rubocop
    name: rubocop
    entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
    language: system
    files: '^app/.*\.rb$'

  # this rubocop hook works on windows/wsl, and is being left here as of 8/27/2025 to figure it out at some point
  #- id: rubocop
  #  name: rubocop
  #  language: system
  #  entry: bash -lc 'BUNDLE_GEMFILE=app/Gemfile cd app && bundle exec rubocop -a --force-exclusion'
  #  types: [ ruby ]
  #  files: '^app/.*\.rb$'
  #  pass_filenames: false

  - id: erblint
    name: erblint
    entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
    language: system
    files: '^app/.*\.erb$'

  - id: i18n-unused
    name: i18n-unused
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks unused
    language: system
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: i18n-normalize
    name: i18n-normalize
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
    language: system
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system        # installed via `brew bundle`
    files: '^bin/.*$'

  - id: prettier
    name: prettier
    entry: bin/run-linter --cd app -- npm run format:precommit
    language: node
    files: '^app/.*\.(js|ts)$'

  - id: terraform_fmt
    name: Terraform Fmt
    entry: terraform fmt
    language: system
    files: 'infra/.*\.tf$'

#  - id: checkov
#    name: Checkov
#    entry: checkov --quiet --output sarif --framework terraform -f
#    language: system
#    files: 'infra/.*\.tf$'

  - id: actionlint
    name: ActionLint
    entry: actionlint
    language: system
    files: '^.github/.*\.yml$'
    pass_filenames: false

Create NSC service
  app/.env.local.example
  app/app/controllers/activities/education_controller.rb
  app/app/services/aggregators/sdk/nsc_service.rb
  app/app/views/activities/education/error.html.erb
  app/app/views/activities/education/new.html.erb
  app/config/locales/en.yml
  app/config/routes.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Simplify the enrollment status, improve service logging
  app/app/models/education_activity.rb
  app/app/services/aggregators/sdk/nsc_service.rb
  app/app/views/activities/education/show.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/spec/factories/education_activity.rb
  app/spec/models/education_activity_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

fix positional argument, fix nsc service clearing cache
  app/app/controllers/activities/education_controller.rb
  app/app/services/aggregators/sdk/nsc_service.rb
Due: rubocop

nsc call returning empty enrollmentDetails case
  app/app/services/aggregators/sdk/nsc_service.rb
  app/app/views/activities/education/show.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: rubocop, erblint, i18n-unused, i18n-normalize

fix: typo in frozen string clean up frozen strings
  app/app/services/aggregators/sdk/nsc_service.rb
Due: rubocop

remove the mock education service
  app/app/services/education_service.rb
Due: rubocop

fix comment education activity status comment
  app/app/models/education_activity.rb
Due: rubocop

use identity in activities
  app/app/controllers/activities/activities_controller.rb
  app/app/services/identity_service.rb
  app/app/views/activities/education/show.html.erb
Due: rubocop, erblint

Remove min delay in NSC API call
  app/app/controllers/activities/education_controller.rb
  app/app/services/aggregators/sdk/nsc_service.rb
  app/app/views/activities/education/new.html.erb
Due: rubocop, erblint

nsc service multiple schools
  app/app/services/aggregators/sdk/nsc_service.rb
Due: rubocop

Correct the header during NSC call
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: i18n-unused, i18n-normalize

upfront the hardcoded token expiry interval for better visibility
  app/app/services/aggregators/sdk/nsc_service.rb
Due: rubocop

nsc API request accountId as env
  app/.env.local.example
  app/app/services/aggregators/sdk/nsc_service.rb
Due: rubocop

education flow: fix no records found double alert
  app/app/views/activities/education/show.html.erb
Due: erblint

Migration
  app/db/migrate/20260107224943_add_confirmation_code_to_activity_flow.rb
  app/db/schema.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.pdf
Due: rubocop

Add confirmation code capabilities
  app/app/controllers/activities/submit_controller.rb
  app/app/controllers/cbv/submits_controller.rb
  app/app/controllers/concerns/confirmation_code_generatable.rb
  app/app/models/activity_flow.rb
  app/app/views/activities/submit/show.pdf.erb
  app/app/views/activities/success/show.html.erb
Due: rubocop, erblint

Test
  app/spec/controllers/activities/submit_controller_spec.rb
  app/spec/controllers/activities/success_controller_spec.rb
Due: rubocop

code format: add missing newline at the end of file Update .editorconfig
  app/.editorconfig
  app/app/views/activities/education/error.html.erb
Due: erblint

update the .editorconfig for global default
  app/.editorconfig
  app/app/views/activities/education/new.html.erb
  app/app/views/activities/education/show.html.erb
Due: erblint

l10n Let the translator go over spanish
  app/config/locales/es.yml
Due: i18n-unused, i18n-normalize

Receive PDFs in test implementation
  app/lib/json_api_receiver.rb
Due: rubocop

Use path to determine flow type in controllers
  app/app/controllers/activities/base_controller.rb
  app/app/controllers/cbv/base_controller.rb
  app/app/controllers/flow_controller.rb
Due: rubocop

Successfully load employer search page in income activity
  app/app/controllers/cbv/base_controller.rb
  app/app/controllers/cbv/employer_searches_controller.rb
  app/app/models/activity_flow.rb
  app/app/models/cbv_flow.rb
  app/app/views/activities/activities/index.html.erb
  app/config/client-agency-config.yml
  app/config/locales/en.yml
  app/config/routes.rb
  app/db/migrate/20251218120000_add_payroll_accounts_to_activity_flows.rb
  app/spec/e2e/activity_hub_spec.rb
  app/spec/models/activity_flow_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Get all the way to /add_job
  app/app/controllers/api/argyle_controller.rb
  app/app/controllers/api/user_events_controller.rb
  app/app/controllers/application_controller.rb
  app/app/controllers/cbv/base_controller.rb
  app/app/controllers/cbv/payment_details_controller.rb
  app/app/controllers/cbv/synchronizations_controller.rb
  app/app/controllers/flow_controller.rb
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/app/models/activity_flow.rb
  app/app/models/cbv_flow.rb
  app/app/models/flow.rb
  app/db/migrate/20251218120000_add_payroll_accounts_to_activity_flows.rb
  app/db/migrate/20251224103732_remove_foreign_key_constraint_on_payroll_accounts.rb
  app/db/migrate/20251224195658_add_cbv_flow_columns_to_activity_flow.rb
  app/db/schema.rb
  app/spec/controllers/activities/job_training_controller_spec.rb
  app/spec/controllers/activities/submit_controller_spec.rb
  app/spec/controllers/activities/success_controller_spec.rb
  app/spec/controllers/activities/summary_controller_spec.rb
  app/spec/controllers/cbv/payment_details_controller_spec.rb
  app/spec/e2e/activity_hub_spec.rb
  app/spec/services/aggregators/sdk/argyle_service_spec.rb
Due: rubocop

Update app/app/controllers/application_controller.rb
  app/app/controllers/application_controller.rb
Due: rubocop

Fix tests
  app/app/controllers/application_controller.rb
  app/app/models/activity_flow.rb
  app/spec/controllers/activities/education_controller_spec.rb
  app/spec/controllers/activities/job_training_controller_spec.rb
  app/spec/controllers/activities/volunteering_controller_spec.rb
Due: rubocop

FFS-3645: Add "custom_headers" config to PDF API transmitter
  app/app/services/transmitters/http_pdf_transmitter.rb
  app/spec/services/transmitters/http_pdf_transmitter_spec.rb
Due: rubocop

Upgrade 4 system packages to fix vulnerability scans
  app/Dockerfile
Due: none

Upgrade 4 system packages to fix vulnerability scans (#1266)
  app/Dockerfile
Due: none

FFS-3645: Add "custom_headers" config to PDF API transmitter (#1265)
  app/app/services/transmitters/http_pdf_transmitter.rb
  app/spec/services/transmitters/http_pdf_transmitter_spec.rb
Due: rubocop

FFS-3677: Add PDF API transmission configuration for LA
  app/.env.local.example
  app/config/client-agency-config.yml
  infra/app/app-config/env-config/environment-variables.tf
Due: terraform_fmt

FFS-3607: Assign confirmation code to Activity Flows when submitted (#1263)
  app/app/controllers/activities/submit_controller.rb
  app/app/controllers/cbv/submits_controller.rb
  app/app/controllers/concerns/confirmation_code_generatable.rb
  app/app/models/activity_flow.rb
  app/app/views/activities/submit/show.pdf.erb
  app/app/views/activities/success/show.html.erb
  app/config/locales/en.yml
  app/db/migrate/20260107224943_add_confirmation_code_to_activity_flow.rb
  app/db/schema.rb
  app/spec/controllers/activities/submit_controller_spec.rb
  app/spec/controllers/activities/success_controller_spec.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.pdf
Due: rubocop, erblint, i18n-unused, i18n-normalize

FFS-3677: Add PDF API transmission configuration for LA (#1267)
  app/.env.local.example
  app/config/client-agency-config.yml
  infra/app/app-config/env-config/environment-variables.tf
Due: terraform_fmt

feat: more on missing emply
  app/analytics/emmy_analytics.qmd
Due: none

retry logic after 401
  app/app/services/aggregators/sdk/nsc_service.rb
  app/spec/services/aggregators/sdk/nsc_service_spec.rb
Due: rubocop

Receive PDFs in test implementation (#1264)
  app/lib/json_api_receiver.rb
Due: rubocop

Add demo to infra checklist
  .github/pull_request_template.md
Due: none

N/A: Add demo environment apply to infra checklist (#1278)
  .github/pull_request_template.md
Due: none

Update .env to use non-localhost for AZ
  app/.env
Due: none

Fix E2E tests
  app/spec/e2e/activity_hub_spec.rb
Due: rubocop
