Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-normalize, i18n-missing, shellcheck, prettier

rubocop:
  name: rubocop
  entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
  language: ruby

erblint:
  name: erblint
  entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
  language: ruby

i18n-normalize:
  name: i18n-normalize
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
  language: ruby
  pass_filenames: false

i18n-missing:
  name: i18n-missing
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks missing
  language: ruby
  pass_filenames: false

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system

prettier:
  name: prettier
  entry: bin/run-linter --cd app -- npm run format:precommit
  language: node

Use terraform for environment-specific pilot config
  app/config/client-agency-config.yml
  infra/app/app-config/dev.tf
  infra/app/app-config/env-config/environment-variables.tf
  infra/app/app-config/env-config/variables.tf
Due: none

Use terraform for environment-specific pilot config (#852)
  app/config/client-agency-config.yml
  infra/app/app-config/dev.tf
  infra/app/app-config/env-config/environment-variables.tf
  infra/app/app-config/env-config/variables.tf
Due: none

fixing table header styles
  app/app/assets/stylesheets/cbv.scss
  app/app/components/report/payments_deductions_monthly_summary_component.html.erb
  app/app/components/table_header_two_column_component.html.erb
  app/app/components/table_header_two_column_component.rb
Due: rubocop, erblint

use regex for space cleanup
  app/app/controllers/cbv/base_controller.rb
Due: rubocop

pull first 64 characters of origin
  app/app/controllers/cbv/base_controller.rb
Due: rubocop

corrects rspec
  app/spec/components/table_header_two_column_component_spec.rb
Due: rubocop

changed event names to better align, cleaned up the feedbacks_controller handling of event attributes, fixed broken tests
  app/app/controllers/feedbacks_controller.rb
  app/app/helpers/application_helper.rb
  app/app/views/cbv/successes/show.html.erb
  app/spec/controllers/cbv/successes_controller_spec.rb
  app/spec/controllers/feedbacks_controller_spec.rb
Due: rubocop, erblint

bold the first column/row on mobile
  app/app/assets/stylesheets/uswds-overrides.scss
Due: none

reduce partial month sentence, spanish updates for date display
  app/app/helpers/report_view_helper.rb
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: rubocop, i18n-normalize, i18n-missing

updated page design to match figma mock
  app/app/components/icon_with_background.html.erb
  app/app/components/icon_with_background.rb
  app/app/views/cbv/successes/show.html.erb
Due: rubocop, erblint

FFS-3138: Support tracking origin query parameter (#850)
  app/app/controllers/cbv/base_controller.rb
  app/app/controllers/cbv/entries_controller.rb
  app/app/controllers/pages_controller.rb
  app/config/client-agency-config.yml
  app/config/routes.rb
  app/lib/client_agency_config.rb
  app/spec/controllers/cbv/base_controller_spec.rb
  app/spec/controllers/cbv/entries_controller_spec.rb
  app/spec/controllers/pages_controller_spec.rb
Due: rubocop

deleted icon_with_background component for now since it's only used on a single page
  app/app/components/icon_with_background.html.erb
  app/app/components/icon_with_background.rb
Due: rubocop, erblint

Set cookie in base & generic controllers
  app/app/controllers/cbv/base_controller.rb
  app/app/controllers/cbv/generic_links_controller.rb
Due: rubocop

tests in base_controller_spec.rb
  app/spec/controllers/cbv/base_controller_spec.rb
Due: rubocop

fixing linting error, switching to usa-icon-list
  app/app/controllers/feedbacks_controller.rb
  app/app/views/cbv/successes/show.html.erb
Due: rubocop, erblint

testing in generic_links_controller_spec.rb
  app/spec/controllers/cbv/generic_links_controller_spec.rb
Due: rubocop

fixed e2e success page validation
  app/spec/e2e/cbv_flow_pinwheel_spec.rb
Due: rubocop

remove evidently feature flags because its deprecated. Also update environment variables to use demo.divt.app
  infra/app/app-config/dev.tf
  infra/app/app-config/env-config/environment-variables.tf
  infra/app/service/main.tf
  infra/modules/feature-flags/access-policy.tf
  infra/modules/feature-flags/logs.tf
  infra/modules/feature-flags/main.tf
  infra/modules/feature-flags/outputs.tf
  infra/modules/feature-flags/variables.tf
  infra/project-config/networks.tf
Due: none

[FFS-3085] support pinwheel with partial income support
  app/app/models/payroll_account/pinwheel.rb
  app/spec/controllers/cbv/synchronization_failures_controller_spec.rb
  app/spec/helpers/aggregator_data_helper_spec.rb
  app/spec/models/payroll_account/pinwheel_spec.rb
Due: rubocop

rename to be more correct
  app/app/controllers/cbv/payment_details_controller.rb
  app/app/views/cbv/payment_details/show.html.erb
Due: rubocop, erblint

[FFS-2496] after a backfill, point all references to pinwheel account id insted
  app/app/components/report/monthly_summary_table_component.rb
  app/app/controllers/api/argyle_controller.rb
  app/app/controllers/cbv/payment_details_controller.rb
  app/app/controllers/cbv/synchronizations_controller.rb
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/app/controllers/webhooks/pinwheel/events_controller.rb
  app/app/models/payroll_account.rb
  app/app/models/payroll_account/argyle.rb
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/app/services/aggregators/aggregator_reports/argyle_report.rb
  app/app/services/aggregators/aggregator_reports/pinwheel_report.rb
  app/spec/components/report/monthly_summary_table_component_spec.rb
  app/spec/controllers/api/argyle_controller_spec.rb
  app/spec/controllers/cbv/entries_controller_spec.rb
  app/spec/controllers/cbv/payment_details_controller_spec.rb
  app/spec/controllers/cbv/submits_controller_spec.rb
  app/spec/controllers/cbv/summaries_controller_spec.rb
  app/spec/controllers/cbv/synchronizations_controller_spec.rb
  app/spec/controllers/webhooks/argyle/events_controller_spec.rb
  app/spec/controllers/webhooks/pinwheel/events_controller_spec.rb
  app/spec/factories/aggregator_report.rb
  app/spec/factories/payroll_account.rb
  app/spec/helpers/aggregator_data_helper_spec.rb
  app/spec/models/payroll_account/argyle_spec.rb
  app/spec/models/payroll_account/pinwheel_spec.rb
  app/spec/services/aggregators/aggregator_reports/aggregator_report_spec.rb
  app/spec/services/aggregators/aggregator_reports/argyle_report_spec.rb
  app/spec/services/aggregators/aggregator_reports/pinwheel_report_spec.rb
  docs/testing_sftp.md
Due: rubocop

[FFS-2496] after a backfill, point all references to pinwheel account id insted
  app/app/models/payroll_account.rb
  app/spec/controllers/cbv/submits_controller_spec.rb
Due: rubocop

SPIKE show some options for caching
  app/Gemfile
  app/Gemfile.lock
  app/app/models/concerns/cacheable_external_requests.rb
  app/app/services/aggregators/sdk/argyle_service.rb
  app/config/environments/development.rb
  app/config/environments/production.rb
  app/config/environments/test.rb
  app/config/solid_cache.yml
  app/db/migrate/20250728143621_create_solid_cache_entries.solid_cache.rb
  app/db/migrate/20250728143622_add_key_hash_and_byte_size_to_solid_cache_entries.solid_cache.rb
  app/db/migrate/20250728143623_add_key_hash_and_byte_size_indexes_and_null_constraints_to_solid_cache_entries.solid_cache.rb
  app/db/migrate/20250728143624_remove_key_index_from_solid_cache_entries.solid_cache.rb
  app/db/schema.rb
  app/spec/models/concerns/cacheable_external_requests_spec.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.pdf
Due: rubocop

FFS-3139: Save CBV Applicant ID into cookie (#855)
  app/app/controllers/cbv/base_controller.rb
  app/app/controllers/cbv/generic_links_controller.rb
  app/spec/controllers/cbv/base_controller_spec.rb
  app/spec/controllers/cbv/generic_links_controller_spec.rb
Due: rubocop

update translations and change the file
  app/config/locales/es.yml
  app/lib/i18n_csv_tasks.rb
Due: rubocop, i18n-normalize, i18n-missing

Only login on Docker CI if secret present
  .github/workflows/vulnerability-scans.yml
Due: none

check repo name
  .github/workflows/vulnerability-scans.yml
Due: none

fix equality check
  .github/workflows/vulnerability-scans.yml
Due: none

corrected rspec test
  app/spec/services/aggregators/aggregator_reports/pinwheel_report_spec.rb
Due: rubocop

No ticket: Only login on Docker CI if secret present (#860)
  .github/workflows/vulnerability-scans.yml
Due: none

add missing translations. ready for CR and last design review.
  app/app/components/report/employment_details_table_component.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: erblint, i18n-normalize, i18n-missing

Publish July 2025 Cumulative Data Update
  docs/product-updates/07-29-2025-update.md
Due: none

FFS-3206: Remove update aria-label to be the employer name instead of the description text. (#853)
  app/app/views/cbv/employer_searches/_employer.html.erb
Due: erblint

Run i18n-tasks action on all PRs
  .github/workflows/i18n-health.yml
  app/config/locales/en.yml
Due: i18n-normalize, i18n-missing

remove test change
  app/config/locales/en.yml
Due: i18n-normalize, i18n-missing

Run i18n-tasks action on all PRs (#862)
  .github/workflows/i18n-health.yml
Due: none

removed unused i18n tags.
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: i18n-normalize, i18n-missing

fix linting errors
  app/app/components/aggregate_data_point_component.html.erb
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
Due: rubocop, erblint

fix header for employment details table based on UAT tests
  app/app/components/report/employment_details_table_component.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: erblint, i18n-normalize, i18n-missing

removed unused i18n tags. (#863)
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: i18n-normalize, i18n-missing

Path conditions:
  rubocop: any of: ^app/.*\.rb$
  erblint: any of: ^app/.*\.erb$
  i18n-normalize: any of: ^app/config/locales/.*\.yml$
  i18n-missing: any of: ^app/config/locales/.*\.yml$
  shellcheck: any of: ^bin/.*$
  prettier: any of: ^app/.*\.(js|ts)$
