Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-normalize, i18n-missing, shellcheck, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml

- repo: local
  hooks:
  - id: rubocop
    name: rubocop
    entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
    language: ruby
    files: '^app/.*\.rb$'

  - id: erblint
    name: erblint
    entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
    language: ruby
    files: '^app/.*\.erb$'

  - id: i18n-normalize
    name: i18n-normalize
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
    language: ruby
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: i18n-missing
    name: i18n-missing
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks missing
    language: ruby
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system        # installed via `brew bundle`
    files: '^bin/.*$'

  - id: prettier
    name: prettier
    entry: bin/run-linter --cd app -- npm run format:precommit
    language: node
    files: '^app/.*\.(js|ts)$'

Fix NgrokDevelopment tool after SUPPORTED_PROVIDERS refactor
  app/config/initializers/ngrok_development.rb
Due: rubocop

Use expirationless session_store in E2E tests
  README.md
  app/app/views/layouts/application.html.erb
  app/config/application.rb
  app/config/initializers/session_store.rb
  app/spec/support/e2e/mocking_service.rb
Due: rubocop, erblint

Improve logging during E2E test playback
  README.md
  app/app/services/argyle_webhooks_manager.rb
  app/config/initializers/ngrok_development.rb
  app/spec/support/e2e/mocking_service.rb
  app/spec/support/e2e/ngrok_manager.rb
  app/spec/support/e2e/ngrok_request_replayer.rb
Due: rubocop

Fix erb_lint inadvertently running on vendor/bundle files (#791)
  app/.erb_lint.yml
  app/app/views/cbv/summaries/show.html.erb
Due: erblint

Fix specs for ArgyleWebhooksManager logging
  app/spec/services/argyle_webhooks_manager_spec.rb
Due: rubocop

Add actionlint precommit hook
  .pre-commit-config.yaml
  Brewfile
Due: none

Replace template-infra E2E tests with our own
  .github/workflows/e2e-tests.yml
  .github/workflows/pr-environment-checks.yml
  Makefile
  README.md
  app/spec/fixtures/e2e/e2e_cbv_flow_english_argyle_only/aggregator_modal_callbacks.yml
  app/spec/fixtures/e2e/e2e_cbv_flow_english_argyle_only/ngrok_requests.yml
  app/spec/fixtures/e2e/e2e_cbv_flow_english_argyle_only/vcr_http_requests.yml
  app/spec/fixtures/e2e/e2e_cbv_flow_english_pinwheel_only/aggregator_modal_callbacks.yml
  app/spec/fixtures/e2e/e2e_cbv_flow_english_pinwheel_only/ngrok_requests.yml
  app/spec/fixtures/e2e/e2e_cbv_flow_english_pinwheel_only/vcr_http_requests.yml
  docs/e2e/e2e-checks.md
  e2e/.gitignore
  e2e/app/playwright.config.js
  e2e/app/tests/index.spec.js
  e2e/package-lock.json
  e2e/package.json
  e2e/playwright.config.js
  e2e/run-e2e-test
  e2e/util.js
Due: none

Install chromedriver when running E2E tests
  .github/workflows/e2e-tests.yml
Due: none

Update E2E recordings for Pinwheel and Argyle tests
  app/spec/e2e/cbv_flow_pinwheel_spec.rb
  app/spec/fixtures/e2e/e2e_cbv_flow_english_argyle_only/aggregator_modal_callbacks.yml
  app/spec/fixtures/e2e/e2e_cbv_flow_english_argyle_only/ngrok_requests.yml
  app/spec/fixtures/e2e/e2e_cbv_flow_english_argyle_only/vcr_http_requests.yml
  app/spec/fixtures/e2e/e2e_cbv_flow_english_pinwheel_only/ngrok_requests.yml
  app/spec/fixtures/e2e/e2e_cbv_flow_english_pinwheel_only/vcr_http_requests.yml
  app/spec/fixtures/e2e/e2e_cbv_flow_pinwheel/aggregator_modal_callbacks.yml
  app/spec/fixtures/e2e/e2e_cbv_flow_pinwheel/ngrok_requests.yml
  app/spec/fixtures/e2e/e2e_cbv_flow_pinwheel/vcr_http_requests.yml
  docs/e2e/e2e-checks.md
Due: rubocop

Make E2E tests run headlessly unless E2E_SHOW_BROWSER is given
  app/spec/rails_helper.rb
  docs/e2e/e2e-checks.md
Due: rubocop

fix: upgrade @axe-core/playwright from 4.10.1 to 4.10.2
  e2e/package-lock.json
  e2e/package.json
Due: none

FFS-3023: Create github actions to check for string token changes (#775)
  .github/scripts/check_locale_sync.rb
  .github/workflows/i18n-health.yml
  .github/workflows/locale-sync.yml
  .gitignore
  .pre-commit-config.yaml
  app/config/brakeman.ignore
  app/lib/translation_diff_generator.rb
  app/services/locale_diff_service.rb
Due: rubocop

Move preheader to be within the header
  app/app/views/application/_header.html.erb
Due: erblint

Add some E2E test debug output when a test fails
  app/spec/rails_helper.rb
Due: rubocop

Remove pa11y
  .github/workflows/pa11y.yml
  README.md
  app/bin/pa11y-scan
  app/package-lock.json
  app/package.json
Due: none

Fix duplicate <h4> on /payment_details
  app/app/views/cbv/payment_details/show.html.erb
Due: erblint

Fix header hierarchy on /entries
  app/app/views/cbv/entries/show.html.erb
Due: erblint

Skip heading-order Axe check on /summary
  app/spec/e2e/cbv_flow_pinwheel_spec.rb
  app/spec/e2e/cbv_flow_spec.rb
  app/spec/support/e2e/test_helpers.rb
Due: rubocop

Add Axe and run it during E2E testing
  app/Gemfile
  app/Gemfile.lock
  app/spec/rails_helper.rb
  app/spec/support/e2e/test_helpers.rb
Due: rubocop

Remove snap_income_pilot_translations.csv
  app/spec/support/fixtures/I18n/snap_income_pilot_translations.csv
Due: none

Remove MA/NYC from Terraform Config & Docs
  README.md
  infra/app/app-config/env-config/environment-variables.tf
  infra/app/app-config/env-config/main.tf
  infra/app/app-config/env-config/outputs.tf
  infra/app/service/main.tf
  infra/app/service/massachusetts.tf
  infra/app/service/outputs.tf
Due: none

Add skip for nyc/ma invitations where client_agency_id no longer exists
  app/db/migrate/20250617171928_set_expires_at_for_existing_cbv_flow_invitations.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.pdf
Due: rubocop

fix all references agency_short_name & agency_acronym
  app/app/views/applicant_mailer/invitation_email.html.erb
  app/app/views/caseworker_mailer/summary_email.html.erb
  app/app/views/cbv/applicant_informations/show.html.erb
  app/app/views/cbv/employer_searches/_employer.html.erb
  app/app/views/cbv/entries/show.html.erb
  app/app/views/cbv/expired_invitations/show.html.erb
  app/app/views/cbv/missing_results/show.html.erb
  app/app/views/cbv/payment_details/show.html.erb
  app/app/views/cbv/submits/show.html.erb
  app/app/views/cbv/submits/show.pdf.erb
  app/app/views/cbv/successes/show.html.erb
  app/app/views/cbv/summaries/show.html.erb
  app/app/views/cbv/synchronization_failures/show.html.erb
Due: erblint

Update client-agency-config.yml
  app/config/client-agency-config.yml
Due: none

update schema to mirror origin/main
  app/db/schema.rb
Due: rubocop

Remove all references to agency_short_name from erb and en/es.yml
  app/app/views/cbv/applicant_informations/show.html.erb
  app/app/views/cbv/employer_searches/_employer.html.erb
  app/app/views/cbv/entries/show.html.erb
  app/app/views/cbv/expired_invitations/show.html.erb
  app/app/views/cbv/missing_results/show.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: erblint, i18n-normalize, i18n-missing

remove references left over
  app/lib/client_agency_config.rb
  app/spec/controllers/caseworker/entries_controller_spec.rb
Due: rubocop

updated generic_links_controller_spec
  app/spec/controllers/cbv/generic_links_controller_spec.rb
Due: rubocop

test change to trigger i18n actions
  app/config/locales/en.yml
Due: i18n-normalize, i18n-missing

experimental: specify bundle exec
  .github/workflows/i18n-health.yml
Due: none

experimental: specify the tip of the branch to check out
  .github/workflows/i18n-health.yml
Due: none

remove experimental checkout of tip, modify test case
  .github/workflows/i18n-health.yml
  app/config/locales/en.yml
Due: i18n-normalize, i18n-missing

modify test case further
  app/config/locales/en.yml
Due: i18n-normalize, i18n-missing

fix: upgrade @axe-core/playwright from 4.10.1 to 4.10.2 (#793)
  e2e/package-lock.json
  e2e/package.json
Due: none

removed rspec i18n-tasks tests
  app/spec/i18n_spec.rb
Due: rubocop

remove test change
  app/config/locales/en.yml
Due: i18n-normalize, i18n-missing
