Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-unused, i18n-normalize, shellcheck, prettier, terraform_fmt, actionlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml

- repo: local
  hooks:
  - id: rubocop
    name: rubocop
    entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
    language: system
    files: '^app/.*\.rb$'

  # this rubocop hook works on windows/wsl, and is being left here as of 8/27/2025 to figure it out at some point
  #- id: rubocop
  #  name: rubocop
  #  language: system
  #  entry: bash -lc 'BUNDLE_GEMFILE=app/Gemfile cd app && bundle exec rubocop -a --force-exclusion'
  #  types: [ ruby ]
  #  files: '^app/.*\.rb$'
  #  pass_filenames: false

  - id: erblint
    name: erblint
    entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
    language: system
    files: '^app/.*\.erb$'

  - id: i18n-unused
    name: i18n-unused
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks unused
    language: system
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: i18n-normalize
    name: i18n-normalize
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
    language: system
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system        # installed via `brew bundle`
    files: '^bin/.*$'

  - id: prettier
    name: prettier
    entry: bin/run-linter --cd app -- npm run format:precommit
    language: node
    files: '^app/.*\.(js|ts)$'

  - id: terraform_fmt
    name: Terraform Fmt
    entry: terraform fmt
    language: system
    files: 'infra/.*\.tf$'

#  - id: checkov
#    name: Checkov
#    entry: checkov --quiet --output sarif --framework terraform -f
#    language: system
#    files: 'infra/.*\.tf$'

  - id: actionlint
    name: ActionLint
    entry: actionlint
    language: system
    files: '^.github/.*\.yml$'
    pass_filenames: false

Rename references to pinwheel_account_id as aggregator_account_id
  app/app/components/report/employment_details_table_component.rb
  app/app/components/report/gig_monthly_summary_table_component.rb
  app/app/components/report/payments_deductions_monthly_summary_component.rb
  app/app/components/report/w2_monthly_summary_table_component.rb
  app/app/controllers/api/argyle_controller.rb
  app/app/controllers/cbv/payment_details_controller.rb
  app/app/controllers/cbv/synchronizations_controller.rb
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/app/controllers/webhooks/pinwheel/events_controller.rb
  app/app/models/payroll_account/argyle.rb
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/app/services/aggregators/aggregator_reports/argyle_report.rb
  app/app/services/aggregators/aggregator_reports/pinwheel_report.rb
  app/app/views/cbv/summaries/show.html.erb
  app/spec/components/report/employment_details_table_component_spec.rb
  app/spec/components/report/gig_monthly_summary_table_component_spec.rb
  app/spec/components/report/payments_deductions_monthly_summary_component_spec.rb
  app/spec/components/report/w2_monthly_summary_table_component_spec.rb
  app/spec/controllers/api/argyle_controller_spec.rb
  app/spec/controllers/cbv/entries_controller_spec.rb
  app/spec/controllers/cbv/payment_details_controller_spec.rb
  app/spec/controllers/cbv/submits_controller_spec.rb
  app/spec/controllers/cbv/summaries_controller_spec.rb
  app/spec/controllers/cbv/synchronizations_controller_spec.rb
  app/spec/controllers/webhooks/argyle/events_controller_spec.rb
  app/spec/controllers/webhooks/pinwheel/events_controller_spec.rb
  app/spec/factories/aggregator_report.rb
  app/spec/factories/payroll_account.rb
  app/spec/helpers/aggregator_data_helper_spec.rb
  app/spec/models/payroll_account/argyle_spec.rb
  app/spec/models/payroll_account/pinwheel_spec.rb
  app/spec/services/aggregators/aggregator_reports/aggregator_report_spec.rb
  app/spec/services/aggregators/aggregator_reports/argyle_report_spec.rb
  app/spec/services/aggregators/aggregator_reports/pinwheel_report_spec.rb
Due: rubocop, erblint

Remove pinwheel_account_id
  app/app/models/payroll_account.rb
  app/db/migrate/20251010195411_remove_pinwheel_account_id_from_payroll_accounts.rb
  app/db/schema.rb
  app/lib/tasks/database_backfills.rake
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.pdf
Due: rubocop

Configure session timeout tracking events
  app/app/controllers/api/user_events_controller.rb
  app/app/controllers/cbv/base_controller.rb
  app/app/controllers/cbv/sessions_controller.rb
  app/app/javascript/controllers/cbv/sessions_controller.js
  app/app/models/track_event.rb
  app/app/views/cbv/sessions/_timeout_modal.html.erb
Due: rubocop, erblint, prettier

fix test description
  app/spec/controllers/cbv/entries_controller_spec.rb
Due: rubocop

Extract regex to a constant
  app/app/controllers/cbv/base_controller.rb
Due: rubocop

FFS-3411: Loosen validation on client_agency_ids and auth tokens (#1027)
  app/app/controllers/cbv/base_controller.rb
  app/config/routes.rb
  app/spec/controllers/cbv/entries_controller_spec.rb
Due: rubocop

upgrade dev DBU to 1.0-5.0 in demo for load testing.
  infra/app/app-config/dev.tf
  load_testing/common.js
  load_testing/loadTestUserFlow.js
Due: terraform_fmt

drop to .5 minimum
  infra/app/app-config/dev.tf
Due: terraform_fmt

Jeffcatania/run load tests (#153)
  infra/app/app-config/dev.tf
  load_testing/common.js
  load_testing/loadTestUserFlow.js
Due: terraform_fmt

Testing
  app/spec/controllers/cbv/base_controller_spec.rb
  app/spec/controllers/cbv/sessions_controller_spec.rb
  app/spec/javascript/controllers/cbv/sessions_controller.spec.js
Due: rubocop, prettier

fix: upgrade sass from 1.92.0 to 1.93.0
  app/package.json
Due: none

fix: app/Gemfile & app/Gemfile.lock to reduce vulnerabilities
  app/Gemfile
  app/Gemfile.lock
Due: none

stop tracking test_pdf
  app/test_pdf.pdf
Due: none

Add templates (#1023)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

show feedback link in help modal for non-caseworkers
  app/app/views/help/index.html.erb
Due: erblint

experimental -- not sure why this test was passing
  app/spec/e2e/help_feature_spec.rb
Due: rubocop

updated and fixed rspec tests, enabled the file
  app/spec/e2e/help_feature_spec.rb
Due: rubocop

test that the agency is getting added
  app/spec/services/pdf_service_spec.rb
Due: rubocop

FFS-3422: refactor pdf rendering to prevent errors (#1018)
  app/app/services/pdf_service.rb
  app/app/services/transmitters/encrypted_s3_transmitter.rb
  app/app/services/transmitters/json_transmitter.rb
  app/app/services/transmitters/sftp_transmitter.rb
  app/spec/services/pdf_service_spec.rb
Due: rubocop

Apply suggestion from @tdooner
  app/app/views/help/index.html.erb
Due: erblint

move to more specific cw detecting logic
  app/app/views/help/index.html.erb
Due: erblint

experimental -- verify page works once but breaks all other tests
  app/app/views/help/index.html.erb
  app/spec/e2e/help_feature_spec.rb
Due: rubocop, erblint

Remove console.log
  app/app/javascript/controllers/cbv/sessions_controller.js
Due: prettier

the looping should work properly now
  app/app/controllers/api/argyle_controller.rb
  app/app/services/aggregators/sdk/argyle_service.rb
  app/spec/controllers/api/argyle_controller_spec.rb
Due: rubocop

Run npm audit and patch vitest to fix CVE-2025-61927
  app/package-lock.json
  app/package.json
Due: none

Fix rack vulnerabilities
  app/Gemfile.lock
Due: none

Fix tiff vulnerability
  app/Dockerfile
Due: none

CVE fixes for tiff rack and vitest (#1037)
  app/Dockerfile
  app/Gemfile.lock
  app/package-lock.json
  app/package.json
Due: none

npm run format
  app/app/javascript/controllers/cbv/entry_page_controller.js
  app/app/javascript/controllers/copy_link_controller.js
Due: prettier

FFS-3420: Improve timeout tracking (#1033)
  app/app/controllers/api/user_events_controller.rb
  app/app/controllers/cbv/base_controller.rb
  app/app/controllers/cbv/sessions_controller.rb
  app/app/javascript/controllers/cbv/sessions_controller.js
  app/app/models/track_event.rb
  app/app/views/cbv/sessions/_timeout_modal.html.erb
  app/spec/controllers/cbv/base_controller_spec.rb
  app/spec/controllers/cbv/sessions_controller_spec.rb
  app/spec/javascript/controllers/cbv/sessions_controller.spec.js
Due: rubocop, erblint, prettier

FFS-N/A: fix formatting across js files (#1039)
  app/app/javascript/controllers/cbv/entry_page_controller.js
  app/app/javascript/controllers/copy_link_controller.js
Due: prettier

fixes to avoid bizarre axe test reliability issues
  app/spec/e2e/help_feature_spec.rb
  app/spec/support/e2e/test_helpers.rb
Due: rubocop

Reduce E2E test flakiness on macOS with additional chrome options
  app/spec/rails_helper.rb
Due: rubocop

Track employment counts in mega-event
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/app/controllers/webhooks/pinwheel/events_controller.rb
  app/spec/controllers/webhooks/argyle/events_controller_spec.rb
  app/spec/controllers/webhooks/pinwheel/events_controller_spec.rb
Due: rubocop

updated tests, only work with fix from 1040
  app/app/views/help/_help_topic_content.html.erb
  app/app/views/help/show.html.erb
  app/spec/e2e/help_feature_spec.rb
  app/spec/support/e2e/test_helpers.rb
Due: rubocop, erblint

Reduce E2E test flakiness on macOS with additional chrome options (#1040)
  app/spec/rails_helper.rb
Due: rubocop

Add simple telemetry instrumentation
  app/.env
  app/Gemfile
  app/Gemfile.lock
  app/app/controllers/cbv/base_controller.rb
  app/config/initializers/opentelemetry.rb
Due: rubocop

removed wait time -- not needed
  app/spec/e2e/help_feature_spec.rb
Due: rubocop

Track employment counts in mega-event (#1041)
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/app/controllers/webhooks/pinwheel/events_controller.rb
  app/spec/controllers/webhooks/argyle/events_controller_spec.rb
  app/spec/controllers/webhooks/pinwheel/events_controller_spec.rb
Due: rubocop
