Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-normalize, i18n-missing, shellcheck, prettier

rubocop:
  name: rubocop
  entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
  language: ruby

erblint:
  name: erblint
  entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
  language: ruby

i18n-normalize:
  name: i18n-normalize
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
  language: ruby
  pass_filenames: false

i18n-missing:
  name: i18n-missing
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks missing
  language: ruby
  pass_filenames: false

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system

prettier:
  name: prettier
  entry: bin/run-linter --cd app -- npm run format:precommit
  language: node

Reformat tests in Webhooks::Argyle::EventsController spec
  app/spec/controllers/webhooks/argyle/events_controller_spec.rb
Due: rubocop

FFS-2800: Allow multiple webhook events to indicate success (#608)
  app/app/models/payroll_account/argyle.rb
  app/app/services/aggregators/webhooks/argyle.rb
  app/spec/controllers/webhooks/argyle/events_controller_spec.rb
  app/spec/factories/payroll_account.rb
  app/spec/models/payroll_account/argyle_spec.rb
Due: rubocop

Fix indenting in PayrollAccount::Argyle spec
  app/spec/models/payroll_account/argyle_spec.rb
Due: rubocop

Fix indenting in PayrollAccount::Argyle spec (#613)
  app/spec/models/payroll_account/argyle_spec.rb
Due: rubocop

updated content for LA
  app/app/views/cbv/expired_invitations/show.html.erb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: erblint, i18n-normalize, i18n-missing

comment and organization update
  app/config/i18n-tasks.yml
Due: none

FFS-2798: Add terraform to support ReportMyIncome.org (#599)
  .pre-commit-config.yaml
  Brewfile
  infra/app/app-config/dev.tf
  infra/app/app-config/env-config/outputs.tf
  infra/app/app-config/env-config/variables.tf
  infra/app/app-config/prod.tf
  infra/app/service/deprecated_domains.tf
  infra/app/service/main.tf
  infra/modules/domain/certificates.tf
  infra/modules/domain/variables.tf
  infra/modules/service/dns.tf
  infra/modules/service/variables.tf
  infra/networks/deprecated_domains.tf
  infra/project-config/networks.tf
Due: none

content updates for LA
  app/app/views/maintenance/show.html.erb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: erblint, i18n-normalize, i18n-missing

updated content for LA
  app/app/views/cbv/missing_results/show.html.erb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: erblint, i18n-normalize, i18n-missing

Add conditionals to deprecated resources
  infra/networks/deprecated_domains.tf
Due: none

removed unused strings
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: i18n-normalize, i18n-missing

Add conditionals to deprecated resources (#616)
  infra/networks/deprecated_domains.tf
Due: none

Alias to load balancer, because that works.
  infra/app/service/deprecated_domains.tf
Due: none

Add config.hosts entry for snap-income-pilot.com
  app/config/environments/production.rb
Due: rubocop

Update terraform alias for snap-income-pilot.com (#618)
  app/config/environments/production.rb
  infra/app/service/deprecated_domains.tf
Due: rubocop

updated validator logic based on these requirements: All required fields in the following sections are retrieved: Report Metadata Employment details AND
  app/app/services/aggregators/validators/useful_report_validator.rb
  app/spec/services/aggregators/validators/useful_report_validator_spec.rb
Due: rubocop

fix: upgrade webpack from 5.98.0 to 5.99.1
  app/package-lock.json
  app/package.json
Due: none

content updates for LA (#615)
  app/app/views/maintenance/show.html.erb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: erblint, i18n-normalize, i18n-missing

FFS-2688-missing_results: updated content for LA (#617)
  app/app/views/cbv/missing_results/show.html.erb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: erblint, i18n-normalize, i18n-missing

FFS-2688-employer_search: implemented copy changes (#611)
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: i18n-normalize, i18n-missing

implemented LA copy
  app/app/views/cbv/synchronization_failures/show.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: erblint, i18n-normalize, i18n-missing

implemented LA copy (#620)
  app/app/views/cbv/synchronization_failures/show.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: erblint, i18n-normalize, i18n-missing

implemented LA copy changes
  app/app/views/cbv/submits/show.html.erb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: erblint, i18n-normalize, i18n-missing

removed ma/nyc strings
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: i18n-normalize, i18n-missing

implemented LA copy
  app/app/views/cbv/successes/show.html.erb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: erblint, i18n-normalize, i18n-missing

removed check-status because it was replaced by follow-up
  app/app/views/cbv/successes/show.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: erblint, i18n-normalize, i18n-missing

fix: upgrade webpack from 5.98.0 to 5.99.1 (#619)
  app/package-lock.json
  app/package.json
Due: none

updated content for LA (#614)
  app/app/views/cbv/expired_invitations/show.html.erb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: erblint, i18n-normalize, i18n-missing

FFS-2688-submit: implemented LA copy changes (#621)
  app/app/views/cbv/submits/show.html.erb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: erblint, i18n-normalize, i18n-missing

Update app/config/locales/en.yml
  app/config/locales/en.yml
Due: i18n-normalize, i18n-missing

FFS-2688-success: implemented LA copy (#623)
  app/app/views/cbv/successes/show.html.erb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: erblint, i18n-normalize, i18n-missing

fixed a bug in the test where argyle_account_id was being resolved to nil
  app/spec/controllers/api/argyle_controller_spec.rb
Due: rubocop

implemented LA copy for /applicant_information
  app/app/views/cbv/applicant_informations/_la_ldh.html.erb
  app/app/views/cbv/applicant_informations/show.html.erb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: erblint, i18n-normalize, i18n-missing

removed unused (and newly introduced) test helper method
  app/spec/support/argyle_api_helper.rb
Due: rubocop

applying patch update to net-imap to address vulnerability GHSA-j3g3-5qv5-52m
  app/Gemfile
  app/Gemfile.lock
Due: none

ran bundle update net-imap to avoid updating all deps
  app/Gemfile.lock
Due: none

fixed the logic for checking if a payroll account is still synchronizing and redirecting accordingly
  app/app/controllers/api/argyle_controller.rb
Due: rubocop

Update net-imap to address vulnerability GHSA-j3g3-5qv5-52m
  app/Gemfile
  app/Gemfile.lock
Due: none

Add svg
  app/app/assets/images/ldh_logo.svg
Due: none

Path conditions:
  rubocop: any of: ^app/.*\.rb$
  erblint: any of: ^app/.*\.erb$
  i18n-normalize: any of: ^app/config/locales/.*\.yml$
  i18n-missing: any of: ^app/config/locales/.*\.yml$
  shellcheck: any of: ^bin/.*$
  prettier: any of: ^app/.*\.(js|ts)$
