Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-unused, i18n-normalize, shellcheck, prettier, terraform_fmt, actionlint

rubocop:
  name: rubocop
  entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
  language: system

erblint:
  name: erblint
  entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
  language: system

i18n-unused:
  name: i18n-unused
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks unused
  language: system
  pass_filenames: false

i18n-normalize:
  name: i18n-normalize
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
  language: system
  pass_filenames: false

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system

prettier:
  name: prettier
  entry: bin/run-linter --cd app -- npm run format:precommit
  language: node

terraform_fmt:
  name: Terraform Fmt
  entry: terraform fmt
  language: system

actionlint:
  name: ActionLint
  entry: actionlint
  language: system
  pass_filenames: false

remove timeout stuff
  app/app/controllers/demo_launcher_controller.rb
Due: rubocop

Better params manipulation through slicing
  app/app/controllers/demo_launcher_controller.rb
Due: rubocop

Add mileage_rate_note
  app/app/components/report/gig_monthly_summary_table_component.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/spec/components/report/gig_monthly_summary_table_component_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

FFS-3764: Update mileage deduction calculation for 2026 IRS rates (#1376)
  app/app/components/report/gig_monthly_summary_table_component.erb
  app/app/components/report/gig_monthly_summary_table_component.rb
  app/app/helpers/report_view_helper.rb
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/spec/components/report/gig_monthly_summary_table_component_spec.rb
  app/spec/helpers/report_view_helper_spec.rb
  app/spec/support/fixtures/argyle/multi_year_mileage/request_account.json
  app/spec/support/fixtures/argyle/multi_year_mileage/request_gigs.json
  app/spec/support/fixtures/argyle/multi_year_mileage/request_identity.json
  app/spec/support/fixtures/argyle/multi_year_mileage/request_paystubs.json
Due: rubocop, erblint, i18n-unused, i18n-normalize

refactored some logic
  app/app/controllers/application_controller.rb
  app/app/controllers/cbv/submits_controller.rb
  app/app/controllers/demo_launcher_controller.rb
  app/app/controllers/flow_controller.rb
  app/app/models/activity_flow_invitation.rb
  app/app/views/layouts/application.html.erb
Due: rubocop, erblint

Allyse's suggestions for reporting window
  app/app/controllers/application_controller.rb
  app/app/javascript/controllers/demo_launcher_controller.js
  app/app/javascript/controllers/index.js
  app/app/views/demo_launcher/show.html.erb
  app/app/views/layouts/application.html.erb
  app/spec/controllers/application_controller_spec.rb
Due: rubocop, erblint, prettier

massaging css
  app/app/assets/stylesheets/uswds-overrides.scss
  app/app/javascript/controllers/demo_launcher_controller.js
  app/app/views/demo_launcher/show.html.erb
Due: erblint, prettier

minor visual tweaks and rspec tests
  app/app/views/demo_launcher/show.html.erb
  app/spec/controllers/demo_launcher_controller_spec.rb
Due: rubocop, erblint

Sort changes in deploy notes (#1373)
  app/bin/will-deploy
Due: none

remove unused e2e folder
  README.md
  docs/sftp-questions.md
  e2e/package-lock.json
  e2e/package.json
Due: none

add back session timeout removal
  app/app/controllers/demo_launcher_controller.rb
Due: rubocop

Add configurability per environment
  app/.env
  app/config/client-agency-config.yml
  infra/app/app-config/env-config/environment-variables.tf
Due: terraform_fmt

added disclaimer and a little sprinkle of fun
  app/app/views/demo_launcher/show.html.erb
Due: erblint

MORE FUN
  app/app/views/demo_launcher/show.html.erb
Due: erblint

Reinstate LA LDH `report_pdf` field and disable PDF API (#1377)
  app/.env
  app/config/client-agency-config.yml
  infra/app/app-config/env-config/environment-variables.tf
Due: terraform_fmt

more polish lol sorry
  app/app/assets/stylesheets/uswds-overrides.scss
  app/app/views/demo_launcher/show.html.erb
Due: erblint

refactored into a component
  app/app/assets/stylesheets/uswds-overrides.scss
  app/app/components/demo_launcher/setting_component.html.erb
  app/app/components/demo_launcher/setting_component.rb
  app/app/views/demo_launcher/show.html.erb
Due: rubocop, erblint

added hint about application reporting window
  app/app/assets/stylesheets/uswds-overrides.scss
  app/app/views/demo_launcher/show.html.erb
Due: erblint

Add Uswds::IconList component
  app/app/components/uswds/icon_list.html.erb
  app/app/components/uswds/icon_list.rb
  app/spec/components/previews/uswds/icon_list_preview.rb
Due: rubocop, erblint

Update /activities/entry with new design
  app/app/controllers/activities/entries_controller.rb
  app/app/views/activities/entries/show.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/config/routes.rb
  app/spec/controllers/activities/entries_controller_spec.rb
  app/spec/controllers/cbv/entries_controller_spec.rb
  app/spec/e2e/activity_hub_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Add NSC scenario flows to /demo
  app/app/assets/stylesheets/uswds-overrides.scss
  app/app/controllers/demo_launcher_controller.rb
  app/app/views/demo_launcher/show.html.erb
  app/spec/controllers/demo_launcher_controller_spec.rb
Due: rubocop, erblint

Add NewRelic tracing across user journey / jobs (#1372)
  app/app/controllers/application_controller.rb
  app/app/controllers/cbv/base_controller.rb
  app/app/jobs/application_job.rb
  app/app/jobs/case_worker_transmitter_job.rb
  app/config/newrelic.yml
  app/spec/controllers/cbv/base_controller_spec.rb
  app/spec/jobs/application_job_spec.rb
  app/spec/jobs/case_worker_transmitter_job_spec.rb
Due: rubocop

Migrations + schema
  app/db/migrate/20260210120000_create_activity_flow_monthly_summaries.rb
  app/db/schema.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.pdf
Due: rubocop

Models.
  app/app/models/activity_flow.rb
  app/app/models/activity_flow_monthly_summary.rb
  app/app/models/cbv_applicant.rb
  app/app/models/flow.rb
Due: rubocop

Hook data persistence into webhook completion
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/app/controllers/webhooks/pinwheel/events_controller.rb
Due: rubocop

Redact.
  app/app/services/data_retention_service.rb
Due: rubocop

Add automated smoke test suite for Dev environment deploys
  app/spec/smoke/argyle_flow_spec.rb
  app/spec/smoke/argyle_gig_flow_spec.rb
  app/spec/smoke/connectivity_spec.rb
  app/spec/smoke/employer_search_spec.rb
  app/spec/smoke/generic_links_spec.rb
  app/spec/smoke/pinwheel_flow_spec.rb
  app/spec/smoke/smoke_helper.rb
  app/spec/smoke/support/test_helpers.rb
  app/spec/smoke/tokenization_api_spec.rb
  app/spec/support/e2e/test_helpers.rb
  app/spec/support/shared/browser_test_helpers.rb
  bin/smoke-tests
Due: rubocop, shellcheck

Use persisted data everywhere
  app/app/controllers/activities/summary_controller.rb
  app/app/services/activity_flow_progress_calculator.rb
  app/app/views/activities/summary/_employment_table.html.erb
  app/app/views/activities/summary/show.html.erb
Due: rubocop, erblint

Move bin/smoke-tests to app/bin/smoke-tests
  app/bin/smoke-tests
Due: none

Bring back pdf url for testing in lower environments
  app/config/client-agency-config.yml
Due: none

added plans
  docs/proposals/agency-config-mockup.html
  docs/proposals/database-backed-agency-configuration.confluence
  docs/proposals/database-backed-agency-configuration.md
Due: none

some styling cleanup, moving css to cbv file
  app/app/assets/stylesheets/cbv.scss
  app/app/assets/stylesheets/uswds-overrides.scss
  app/app/views/demo_launcher/show.html.erb
Due: erblint

slight refactor to not make a new method that just returns the result of another method
  app/app/controllers/cbv/submits_controller.rb
Due: rubocop

move is_internal_environment to application
  app/app/controllers/application_controller.rb
  app/config/application.rb
  app/config/routes.rb
  app/spec/controllers/application_controller_spec.rb
Due: rubocop

refactored css to suck less
  app/app/assets/stylesheets/cbv.scss
  app/app/components/demo_launcher/setting_component.html.erb
  app/app/views/demo_launcher/show.html.erb
Due: erblint

No ticket: Create demo launcher (#1375)
  app/app/assets/stylesheets/cbv.scss
  app/app/components/demo_launcher/setting_component.html.erb
  app/app/components/demo_launcher/setting_component.rb
  app/app/controllers/application_controller.rb
  app/app/controllers/cbv/submits_controller.rb
  app/app/controllers/demo_launcher_controller.rb
  app/app/controllers/flow_controller.rb
  app/app/javascript/controllers/demo_launcher_controller.js
  app/app/javascript/controllers/index.js
  app/app/models/activity_flow_invitation.rb
  app/app/views/demo_launcher/show.html.erb
  app/app/views/layouts/application.html.erb
  app/config/application.rb
  app/config/routes.rb
  app/spec/controllers/application_controller_spec.rb
  app/spec/controllers/demo_launcher_controller_spec.rb
Due: rubocop, erblint, prettier

Refactor uses adapter
  app/app/controllers/activities/activities_controller.rb
  app/app/controllers/activities/summary_controller.rb
  app/app/models/activity_flow_monthly_summary.rb
  app/app/services/persisted_report_adapter.rb
  app/app/views/activities/activities/index.html.erb
  app/app/views/activities/summary/_employment_table.html.erb
  app/app/views/activities/summary/show.html.erb
  app/db/migrate/20260210120000_create_activity_flow_monthly_summaries.rb
  app/db/schema.rb
Due: rubocop, erblint

Reinstate LA `pdf_api_url` configuration
  app/config/client-agency-config.yml
Due: none

Specs
  app/app/services/persisted_report_adapter.rb
  app/spec/controllers/activities/summary_controller_spec.rb
  app/spec/factories/activity_flow_monthly_summaries.rb
  app/spec/models/activity_flow_monthly_summary_spec.rb
  app/spec/models/activity_flow_spec.rb
  app/spec/services/activity_flow_progress_calculator_spec.rb
  app/spec/services/data_retention_service_spec.rb
  app/spec/services/persisted_report_adapter_spec.rb
Due: rubocop

Add environment as dependency of `npm:audit`
  app/lib/tasks/scanning.rake
Due: none

Path conditions:
  rubocop: any of: ^app/.*\.rb$
  erblint: any of: ^app/.*\.erb$
  i18n-unused: any of: ^app/config/locales/.*\.yml$
  i18n-normalize: any of: ^app/config/locales/.*\.yml$
  shellcheck: any of: ^bin/.*$
  prettier: any of: ^app/.*\.(js|ts)$
  terraform_fmt: any of: infra/.*\.tf$
  actionlint: any of: ^.github/.*\.yml$
