Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-normalize, i18n-missing, shellcheck, prettier

rubocop:
  name: rubocop
  entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
  language: ruby

erblint:
  name: erblint
  entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
  language: ruby

i18n-normalize:
  name: i18n-normalize
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
  language: ruby
  pass_filenames: false

i18n-missing:
  name: i18n-missing
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks missing
  language: ruby
  pass_filenames: false

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system

prettier:
  name: prettier
  entry: bin/run-linter --cd app -- npm run format:precommit
  language: node

Permission to destroy
  .github/workflows/ci-app-pr-environment-destroy.yml
Due: none

FFS-1904: Set up review apps to ease acceptance testing (#820)
  .github/workflows/ci-app-pr-environment-checks.yml
  .github/workflows/ci-app-pr-environment-destroy.yml
  infra/app/service/deprecated_domains.tf
  infra/app/service/main.tf
  infra/app/service/newrelic.tf
  infra/modules/service/access-logs.tf
  infra/modules/service/dns.tf
  infra/modules/service/main.tf
  infra/modules/storage/lifecycle.tf
  infra/modules/terraform-backend-s3/main.tf
Due: none

migrated to using much more existing code, created ViewComponent
  app/app/components/report/payments_deductions_monthly_summary_component.html.erb
  app/app/components/report/payments_deductions_monthly_summary_component.rb
  app/app/controllers/cbv/payment_details_controller.rb
  app/app/views/cbv/payment_details/show.html.erb
  app/spec/components/report/payments_deductions_monthly_summary_component_spec.rb
Due: rubocop, erblint

formatting months
  app/app/components/report/payments_deductions_monthly_summary_component.html.erb
  app/app/components/report/payments_deductions_monthly_summary_component.rb
Due: rubocop, erblint

removed unnecessary code, passed is_responsive
  app/app/components/report/payments_deductions_monthly_summary_component.html.erb
  app/app/components/report/payments_deductions_monthly_summary_component.rb
Due: rubocop, erblint

Upgrade two GH Actions for more reliable builds (#835)
  .github/workflows/ci-infra.yml
  .github/workflows/vulnerability-scans.yml
Due: none

carrying over more changes from the previous PR
  app/app/services/client_agency/sandbox/report_fields.rb
  app/config/locales/es.yml
  app/spec/helpers/report_view_helper_spec.rb
Due: rubocop, i18n-normalize, i18n-missing

fix for title_checker_helper to not concern itself with html markup in page titles
  app/spec/support/title_checker_helper.rb
Due: rubocop

normalized i18n es entries
  app/config/locales/es.yml
Due: i18n-normalize, i18n-missing

imported spanish translations for other_jobs page
  app/config/locales/es.yml
Due: i18n-normalize, i18n-missing

Removed todo comment- we will not be implementing feature flags for now
  app/app/controllers/cbv/add_jobs_controller.rb
Due: rubocop

reverting git changes, re-applying fixes from prior pull request
  app/app/controllers/cbv/add_jobs_controller.rb
  app/app/controllers/cbv/base_controller.rb
  app/app/controllers/cbv/other_jobs_controller.rb
  app/app/helpers/report_view_helper.rb
  app/app/services/client_agency/az_des/report_fields.rb
  app/app/services/client_agency/la_ldh/report_fields.rb
  app/app/views/cbv/add_jobs/show.html.erb
  app/app/views/cbv/other_jobs/show.html.erb
  app/app/views/cbv/submits/show.pdf.erb
  app/config/routes.rb
  app/db/migrate/20250617183425_add_has_other_jobs_to_cbv_flow.rb
  app/spec/controllers/cbv/add_jobs_controller_spec.rb
  app/spec/controllers/cbv/other_jobs_controller_spec.rb
Due: rubocop, erblint

Restored app/views/summaries/show.html.erb
  app/app/views/cbv/summaries/show.html.erb
Due: erblint

added missing report_fields
  app/app/services/client_agency/report_fields.rb
  app/app/services/client_agency/sandbox/report_fields.rb
Due: rubocop

replaced hard-coded [Edit] copy, removed unused locale entries
  app/app/views/cbv/summaries/show.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: erblint, i18n-normalize, i18n-missing

erb linting
  app/app/views/cbv/summaries/show.html.erb
Due: erblint

removing legacy spanish locale entries
  app/config/locales/es.yml
Due: i18n-normalize, i18n-missing

Ran migration for has_other_job field and updated page header
  app/app/views/cbv/other_jobs/show.html.erb
  app/db/schema.rb
Due: rubocop, erblint

added missing en entries
  app/config/locales/en.yml
Due: i18n-normalize, i18n-missing

resolving some more changes with locales
  app/app/views/cbv/other_jobs/show.html.erb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: erblint, i18n-normalize, i18n-missing

Fix locale sync script to handle historical asymmetries
  .github/scripts/check_locale_sync.rb
  app/services/locale_diff_service.rb
Due: rubocop

Add Mixpanel attributes to two events (#834)
  app/app/controllers/api/argyle_controller.rb
  app/app/controllers/api/pinwheel_controller.rb
  app/app/controllers/feedbacks_controller.rb
Due: rubocop

fix: upgrade dotenv from 16.5.0 to 16.6.0
  e2e/package-lock.json
  e2e/package.json
Due: none

Upgrade dotenv from 16.5.0 to 16.6.0 (#840)
  e2e/package-lock.json
  e2e/package.json
Due: none

fix: upgrade dotenv from 16.6.0 to 16.6.1
  e2e/package-lock.json
  e2e/package.json
Due: none

updated gig worker summarization on payment_details
  app/app/components/report/monthly_summary_table_component.erb
  app/app/components/report/payments_deductions_monthly_summary_component.html.erb
  app/app/components/report/payments_deductions_monthly_summary_component.rb
  app/app/helpers/report_view_helper.rb
Due: rubocop, erblint

rfi and sms sources added with tests
  app/.env
  app/app/controllers/cbv/entries_controller.rb
  app/app/controllers/cbv/generic_links_controller.rb
  app/app/controllers/pages_controller.rb
  app/config/routes.rb
  app/spec/controllers/cbv/entries_controller_spec.rb
  app/spec/controllers/cbv/generic_links_controller_spec.rb
Due: rubocop

Upgrade dotenv from 16.6.0 to 16.6.1 (#841)
  e2e/package-lock.json
  e2e/package.json
Due: none

Update code owners and external contributors (#826)
  .github/reviewer-lottery.yml
  CODEOWNERS.md
  OUTSIDE_COLLABORATORS.md
Due: none

updated the styling of the first column of the monthly summary tables as per design review with Daniella.
  app/app/components/report/gig_monthly_summary_table_component.erb
  app/app/components/report/w2_monthly_summary_table_component.erb
Due: erblint

addressing pr feedback
  app/app/views/cbv/summaries/show.html.erb
Due: erblint

removed unused var employment_type
  app/app/views/cbv/summaries/show.html.erb
Due: erblint

fixes
  app/app/components/report/payments_deductions_monthly_summary_component.html.erb
  app/app/components/report/payments_deductions_monthly_summary_component.rb
  app/app/views/cbv/payment_details/show.html.erb
  app/spec/controllers/cbv/payment_details_controller_spec.rb
  app/spec/controllers/cbv/submits_controller_spec.rb
Due: rubocop, erblint

Add source to event
  app/app/controllers/cbv/entries_controller.rb
Due: rubocop

Update testing
  app/spec/controllers/cbv/entries_controller_spec.rb
  app/spec/controllers/pages_controller_spec.rb
Due: rubocop

more fixes
  app/spec/controllers/cbv/submits_controller_spec.rb
Due: rubocop

added employment details table component with testing
  app/app/components/report/employment_details_table_component.erb
  app/app/components/report/employment_details_table_component.rb
  app/config/locales/en.yml
  app/spec/components/report/employment_details_table_component_spec.rb
Due: rubocop, erblint, i18n-normalize, i18n-missing

rspec tests for table header
  app/spec/components/table_header_two_column_component_spec.rb
Due: rubocop

inject into payment details controller
  app/app/components/aggregate_data_point_component.html.erb
  app/app/components/report/employment_details_table_component.erb
  app/app/components/report/employment_details_table_component.rb
  app/app/views/cbv/payment_details/show.html.erb
  app/spec/controllers/cbv/payment_details_controller_spec.rb
Due: rubocop, erblint

fix: app/Gemfile to reduce vulnerabilities
  app/Gemfile
Due: none

Path conditions:
  rubocop: any of: ^app/.*\.rb$
  erblint: any of: ^app/.*\.erb$
  i18n-normalize: any of: ^app/config/locales/.*\.yml$
  i18n-missing: any of: ^app/config/locales/.*\.yml$
  shellcheck: any of: ^bin/.*$
  prettier: any of: ^app/.*\.(js|ts)$
