Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-normalize, i18n-missing, shellcheck, prettier

rubocop:
  name: rubocop
  entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
  language: ruby

erblint:
  name: erblint
  entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
  language: ruby

i18n-normalize:
  name: i18n-normalize
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
  language: ruby
  pass_filenames: false

i18n-missing:
  name: i18n-missing
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks missing
  language: ruby
  pass_filenames: false

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system

prettier:
  name: prettier
  entry: bin/run-linter --cd app -- npm run format:precommit
  language: node

one or two corrections
  app/config/locales/es.yml
Due: i18n-normalize, i18n-missing

ready for UAT - implemented visual changes for monthly summary based on pairing with design
  app/app/components/report/monthly_summary_table_component.erb
  app/app/components/report/monthly_summary_table_component.rb
  app/app/components/table_cell_component.rb
  app/app/components/table_component.html.erb
  app/app/components/table_component.rb
  app/app/components/table_header_component.html.erb
  app/app/helpers/report_view_helper.rb
  app/app/views/cbv/submits/show.pdf.erb
  app/app/views/cbv/summaries/show.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/spec/components/report/monthly_summary_table_component_spec.rb
  app/spec/helpers/report_view_helper_spec.rb
Due: rubocop, erblint, i18n-normalize, i18n-missing

Update app/app/views/cbv/successes/show.html.erb
  app/app/views/cbv/successes/show.html.erb
Due: erblint

FFS-2953: Implement final Spanish translations (#751)
  app/app/views/cbv/successes/show.html.erb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: erblint, i18n-normalize, i18n-missing

updated date rounding logic to match mileage expenses to the expense rate calculation
  app/app/components/report/monthly_summary_table_component.erb
  app/app/components/report/monthly_summary_table_component.rb
  app/spec/components/report/monthly_summary_table_component_spec.rb
Due: rubocop, erblint

addressed PR comments
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/app/services/aggregators/format_methods/argyle.rb
  app/spec/services/aggregators/aggregator_reports/argyle_report_spec.rb
  app/spec/services/aggregators/aggregator_reports/pinwheel_report_spec.rb
  app/spec/services/aggregators/format_methods/argyle_spec.rb
Due: rubocop

FFS-2918: fetch gig mileage expenses (#747)
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/app/helpers/report_view_helper.rb
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/app/services/aggregators/format_methods/argyle.rb
  app/app/services/aggregators/response_objects/gig.rb
  app/spec/controllers/webhooks/argyle/events_controller_spec.rb
  app/spec/helpers/report_view_helper_spec.rb
  app/spec/services/aggregators/aggregator_reports/argyle_report_spec.rb
  app/spec/services/aggregators/aggregator_reports/pinwheel_report_spec.rb
  app/spec/services/aggregators/format_methods/argyle_spec.rb
  app/spec/services/aggregators/response_objects/gig_spec.rb
Due: rubocop

added [ma/nyc_DOMAIN_NAME] environment variables
  app/config/client-agency-config.yml
  infra/app/app-config/env-config/environment-variables.tf
Due: none

Added a jsonb_attributes redaction type for az_des to redact the member_name property, added regression tests
  app/app/models/cbv_applicant/az_des.rb
  app/app/models/concerns/redactable.rb
  app/spec/models/cbv_applicant/az_des_spec.rb
  app/spec/models/concerns/redactable_spec.rb
Due: rubocop

using tap rather than the previous more verbose implementation
  app/app/models/concerns/redactable.rb
Due: rubocop

re-enable highlighting and add test
  app/app/components/table_row_component.rb
  app/spec/components/aggregate_data_point_component_spec.rb
Due: rubocop

FFS-2999: Remove "Medicaid application date" from LA income report
  app/app/views/cbv/submits/show.pdf.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/spec/controllers/cbv/submits_controller_spec.rb
Due: rubocop, erblint, i18n-normalize, i18n-missing

Allow `is_caseworker` override param in demo environment
  app/app/controllers/cbv/submits_controller.rb
Due: rubocop

replace agency_domain_name with agency_domain for all agencies
  app/config/client-agency-config.yml
Due: none

data could be object, nil or false... fix it so it's either object or nil
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
Due: rubocop

test to replicate failure
  app/spec/controllers/cbv/summaries_controller_spec.rb
Due: rubocop

replace webhook job status checks
  app/app/views/cbv/submits/show.pdf.erb
  app/app/views/cbv/summaries/show.html.erb
Due: erblint

moving az_des member_name redaction to the CbvApplicant::AzDes subclass
  app/app/models/cbv_applicant/az_des.rb
  app/app/models/concerns/redactable.rb
  app/spec/models/cbv_applicant/az_des_spec.rb
  app/spec/models/concerns/redactable_spec.rb
Due: rubocop

Allow `is_caseworker` override param in demo environment (#756)
  app/app/controllers/cbv/submits_controller.rb
Due: rubocop

re-enable highlighting and add test (#754)
  app/app/components/table_row_component.rb
  app/spec/components/aggregate_data_point_component_spec.rb
Due: rubocop

FFS-2999: Remove "Medicaid application date" from LA income report (#755)
  app/app/views/cbv/submits/show.pdf.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/spec/controllers/cbv/submits_controller_spec.rb
Due: rubocop, erblint, i18n-normalize, i18n-missing

simplifying CbvApplicant::AzDes::redact! by calling super and then handling our custom field. @fields_to_redact seems to only be used within the redactable concern so this shouldn't be an issue
  app/app/models/cbv_applicant/az_des.rb
Due: rubocop

rename `get_federal_cents_per_mile` to `federal_cents_per_mile` and fix conditional render logic in monthly summary table
  app/app/components/report/monthly_summary_table_component.erb
  app/app/components/report/monthly_summary_table_component.rb
  app/app/helpers/report_view_helper.rb
  app/spec/helpers/report_view_helper_spec.rb
Due: rubocop, erblint

the compact view of the monthly summary component is now deprecated. Removing from codebase as cleanup task.
  app/app/components/report/monthly_summary_compact_component.erb
  app/app/components/report/monthly_summary_compact_component.rb
  app/spec/components/report/monthly_summary_compact_component_spec.rb
Due: rubocop, erblint

FFS-2917: mileage in monthly summaries (#752)
  app/app/components/report/monthly_summary_table_component.erb
  app/app/components/report/monthly_summary_table_component.rb
  app/app/components/table_cell_component.rb
  app/app/components/table_component.html.erb
  app/app/components/table_component.rb
  app/app/components/table_header_component.html.erb
  app/app/helpers/report_view_helper.rb
  app/app/views/cbv/submits/show.pdf.erb
  app/app/views/cbv/summaries/show.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/spec/components/report/monthly_summary_table_component_spec.rb
  app/spec/helpers/report_view_helper_spec.rb
Due: rubocop, erblint, i18n-normalize, i18n-missing

FFS-2979: Bug fix for link generation returning the wrong host (#749)
  app/app/controllers/application_controller.rb
  app/app/models/cbv_flow.rb
  app/app/models/cbv_flow_invitation.rb
  app/config/application.rb
  app/config/client-agency-config.yml
  app/lib/client_agency_config.rb
  app/spec/controllers/application_controller_spec.rb
  app/spec/controllers/cbv/successes_controller_spec.rb
  app/spec/controllers/pages_controller_spec.rb
  app/spec/models/cbv_flow_spec.rb
  infra/app/app-config/env-config/environment-variables.tf
Due: rubocop

rubocop linting, calling super at the end of the redact! method to prevent two calls to ActiveRecord::save
  app/app/models/cbv_applicant/az_des.rb
Due: rubocop

extended agency full name for AZ to include the FAA portion
  app/config/locales/es.yml
Due: i18n-normalize, i18n-missing

add missing 'con'
  app/config/locales/es.yml
Due: i18n-normalize, i18n-missing

Pre-launch Spanish translation corrections (#758)
  app/config/locales/es.yml
Due: i18n-normalize, i18n-missing

test logic simplification in aggregator report
  app/spec/services/aggregators/aggregator_reports/aggregator_report_spec.rb
Due: rubocop

Testing the redact! method which invokes the private method redact_member_names_in_json. Cleaned up tests and removed redundant tests
  app/spec/models/cbv_applicant/az_des_spec.rb
Due: rubocop

Generalize, add another test to make sure we don't get false
  app/spec/services/aggregators/aggregator_reports/aggregator_report_spec.rb
Due: rubocop

Update postgres version 14.9 -> 14.15 to reflect AWS upgrades
  infra/modules/database/main.tf
Due: none

semi-ready csv yaml merger
  app/lib/i18n_csv_tasks.rb
  app/lib/tasks/translations.rake
Due: rubocop

minor changes
  app/lib/i18n_csv_tasks.rb
Due: rubocop

Created feedbacks_controller and test
  app/app/controllers/feedbacks_controller.rb
  app/app/views/application/_footer.html.erb
  app/config/locales/en.yml
  app/config/routes.rb
  app/spec/controllers/feedbacks_controller_spec.rb
Due: rubocop, erblint, i18n-normalize, i18n-missing

removed unused param from feedbacks_path in _footer.html.erb
  app/app/views/application/_footer.html.erb
Due: erblint

updated es.yml and i18n-tasks.yml to put a pin in the shared.footer.feedback entry
  app/config/i18n-tasks.yml
  app/config/locales/es.yml
Due: i18n-normalize, i18n-missing

Path conditions:
  rubocop: any of: ^app/.*\.rb$
  erblint: any of: ^app/.*\.erb$
  i18n-normalize: any of: ^app/config/locales/.*\.yml$
  i18n-missing: any of: ^app/config/locales/.*\.yml$
  shellcheck: any of: ^bin/.*$
  prettier: any of: ^app/.*\.(js|ts)$
