Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-normalize, i18n-missing

rubocop:
  name: rubocop
  entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect
  language: ruby

erblint:
  name: erblint
  entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
  language: ruby

i18n-normalize:
  name: i18n-normalize
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
  language: ruby
  pass_filenames: false

i18n-missing:
  name: i18n-missing
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks missing
  language: ruby
  pass_filenames: false

deleted code that was commented out
  app/spec/support/pinwheel_api_helper.rb
Due: rubocop

fixed broken tests
  app/spec/services/aggregators/aggregator_reports/argyle_report_spec.rb
Due: rubocop

no idea why these got added to the commit
  app/app/views/layouts/application.html.erb
  app/app/views/layouts/help.html.erb
  app/app/views/layouts/pdf.pdf.erb
Due: erblint

fixed these from code review
  app/spec/rails_helper.rb
Due: rubocop

fixed broken tests
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
Due: rubocop

resolve tests after merging main in
  app/app/services/aggregators/response_objects/search_result.rb
  app/app/services/aggregators/sdk/pinwheel_service.rb
  app/app/services/provider_search_service.rb
  app/spec/controllers/cbv/summaries_controller_spec.rb
  app/spec/services/aggregators/aggregator_reports/pinwheel_report_spec.rb
  app/spec/services/aggregators/response_objects/search_result_spec.rb
  app/spec/services/aggregators/sdk/argyle_service_spec.rb
  app/spec/support/argyle_api_helper.rb
  app/spec/support/pinwheel_api_helper.rb
Due: rubocop

updates after PR review
  app/.env
  app/app/controllers/cbv/employer_searches_controller.rb
  app/app/services/provider_search_service.rb
  app/spec/controllers/cbv/employer_searches_controller_spec.rb
  app/spec/services/provider_search_service_spec.rb
Due: rubocop

rubocop linting
  app/spec/services/aggregators/response_objects/search_result_spec.rb
  app/spec/services/provider_search_service_spec.rb
Due: rubocop

Remove commented line
  app/spec/factories/cbv_applicant.rb
Due: rubocop

CR fixes, new unit tests
  app/app/controllers/cbv/add_jobs_controller.rb
  app/app/controllers/cbv/applicant_informations_controller.rb
  app/app/models/cbv_applicant.rb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/spec/controllers/cbv/applicant_informations_controller_spec.rb
Due: rubocop, i18n-normalize, i18n-missing

restored previously deleted format_methods
  app/app/models/response_objects/format_methods/argyle.rb
  app/app/models/response_objects/format_methods/pinwheel.rb
Due: rubocop

removed comment pertaining to unused request parameter
  app/app/services/aggregators/sdk/argyle_service.rb
Due: rubocop

removed now-unnecessary i18n line skip
  app/config/i18n-tasks.yml
Due: none

FFS-2540-2: /applicant_information page (#517)
  app/app/assets/config/manifest.js
  app/app/controllers/cbv/add_jobs_controller.rb
  app/app/controllers/cbv/applicant_informations_controller.rb
  app/app/controllers/cbv/base_controller.rb
  app/app/models/cbv_applicant.rb
  app/app/views/cbv/applicant_informations/_sandbox.html.erb
  app/app/views/cbv/applicant_informations/show.html.erb
  app/app/views/cbv/summaries/show.html.erb
  app/config/client-agency-config.yml
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/config/routes.rb
  app/lib/client_agency_config.rb
  app/spec/controllers/api/pinwheel_controller_spec.rb
  app/spec/controllers/cbv/add_jobs_controller_spec.rb
  app/spec/controllers/cbv/applicant_informations_controller_spec.rb
  app/spec/controllers/cbv/employer_searches_controller_spec.rb
  app/spec/controllers/cbv/entries_controller_spec.rb
  app/spec/controllers/cbv/missing_results_controller_spec.rb
  app/spec/controllers/cbv/payment_details_controller_spec.rb
  app/spec/controllers/cbv/sessions_controller_spec.rb
  app/spec/controllers/cbv/submits_controller_spec.rb
  app/spec/controllers/cbv/successes_controller_spec.rb
  app/spec/controllers/cbv/summaries_controller_spec.rb
  app/spec/controllers/cbv/synchronization_failures_spec.rb
  app/spec/controllers/cbv/synchronizations_spec.rb
  app/spec/controllers/help_controller_spec.rb
  app/spec/controllers/pages_controller_spec.rb
  app/spec/controllers/webhooks/pinwheel/events_controller_spec.rb
  app/spec/e2e/help_feature_spec.rb
  app/spec/factories/cbv_flow.rb
  app/spec/mailers/caseworker_mailer_spec.rb
  app/spec/mailers/weekly_report_mailer_spec.rb
  app/spec/models/cbv_flow_invitation_spec.rb
  app/spec/models/payroll_account/pinwheel_spec.rb
  app/spec/services/data_retention_service_spec.rb
Due: rubocop, erblint, i18n-normalize, i18n-missing

update after pr
  app/app/services/aggregators/response_objects/search_result.rb
  app/app/services/provider_search_service.rb
Due: rubocop

update test
  app/spec/services/provider_search_service_spec.rb
Due: rubocop

add outside collab DSAC process document, update code owners
  CODEOWNERS.md
  OUTSIDE_COLLABORATORS.md
Due: none

spelling error fix
  CODEOWNERS.md
Due: none

update details
  OUTSIDE_COLLABORATORS.md
Due: none

removed false positive test since we were actually passing an arg
  app/spec/services/aggregators/sdk/argyle_service_spec.rb
Due: rubocop

Update CODEOWNERS.md
  CODEOWNERS.md
Due: none

removed exceptions for strings we will translate, generated translation spreadsheet, and sent it off. Now waiting for strings to come back.
  app/config/i18n-tasks.yml
  app/needs_translation.tsv
Due: none

Add sandbox boolean to Argyle Controller
  app/app/controllers/api/argyle_controller.rb
  app/app/javascript/adapters/ArgyleModalAdapter.ts
Due: rubocop

working dynamic fields on cw report
  app/app/views/cbv/submits/show.pdf.erb
Due: erblint

Added superscripts to table
  app/app/views/cbv/submits/show.pdf.erb
Due: erblint

corrected an issue where the system was inferring the prompts from the string name instead of looking up the token in the summary table
  app/app/views/cbv/summaries/show.html.erb
Due: erblint

Simplify check in argyle controller, .present? was redundant
  app/app/controllers/api/argyle_controller.rb
Due: rubocop

Argyle controller tests
  app/spec/controllers/api/argyle_controller_spec.rb
Due: rubocop

SPIKE explore using polling instead of action cable to pull synchronization data
  app/app/channels/paystubs_channel.rb
  app/app/controllers/cbv/synchronizations_controller.rb
  app/app/controllers/webhooks/pinwheel/events_controller.rb
  app/app/javascript/controllers/index.js
  app/app/javascript/controllers/polling_controller.js
  app/app/views/cbv/synchronizations/_status.html.erb
  app/app/views/cbv/synchronizations/show.html.erb
  app/spec/channels/paystubs_channel_spec.rb
  app/spec/controllers/cbv/synchronizations_spec.rb
Due: rubocop, erblint

Modal adapter test
  app/spec/javascript/adapters/ArgyleModalAdapter.spec.js
Due: none

add in params from how they come in. in a follow up refactor, would be good to change the routing to avoid this need.
  app/app/views/cbv/synchronizations/show.html.erb
Due: erblint

Adapter test is more explicit now
  app/spec/javascript/adapters/ArgyleModalAdapter.spec.js
  app/spec/javascript/fixtures/argyle.fixture.js
Due: none

Fixed prompts and superscripts to be tokenizable
  app/app/views/cbv/submits/show.pdf.erb
  app/config/locales/en.yml
Due: erblint, i18n-normalize, i18n-missing

removed now-unused strings
  app/config/locales/en.yml
Due: i18n-normalize, i18n-missing

added rspec test, allowed caseworker pdf to be generated in test env, added new string token
  app/app/controllers/cbv/submits_controller.rb
  app/app/views/cbv/submits/show.pdf.erb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/spec/controllers/cbv/submits_controller_spec.rb
Due: rubocop, erblint, i18n-normalize, i18n-missing

corrected string token location error
  app/app/views/cbv/submits/show.pdf.erb
Due: erblint

initial commit for polling test update
  app/app/channels/paystubs_channel.rb
  app/app/controllers/cbv/synchronizations_controller.rb
  app/app/controllers/webhooks/pinwheel/events_controller.rb
  app/app/javascript/controllers/index.js
  app/app/javascript/controllers/polling_controller.js
  app/app/views/cbv/synchronizations/_status.html.erb
  app/app/views/cbv/synchronizations/show.html.erb
  app/spec/channels/paystubs_channel_spec.rb
  app/spec/controllers/cbv/synchronizations_spec.rb
Due: rubocop, erblint

remove un-needed connect finalization method
  app/app/javascript/controllers/polling_controller.js
Due: none

translations for new partial view
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: i18n-normalize, i18n-missing

initial commit for employer_address on argyle
  app/app/services/aggregators/aggregator_reports/argyle_report.rb
  app/app/services/aggregators/format_methods/argyle.rb
  app/app/services/aggregators/response_objects/employment.rb
  app/spec/services/aggregators/aggregator_reports/argyle_report_spec.rb
  app/spec/services/aggregators/format_methods/argyle_spec.rb
Due: rubocop

Path conditions:
  rubocop: any of: ^app/.*\.rb$
  erblint: any of: ^app/.*\.erb$
  i18n-normalize: any of: ^app/config/locales/.*.yml$
  i18n-missing: any of: ^app/config/locales/.*.yml$
