Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-unused, i18n-normalize, shellcheck, prettier, terraform_fmt, actionlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml

- repo: local
  hooks:
  - id: rubocop
    name: rubocop
    entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
    language: system
    files: '^app/.*\.rb$'

  # this rubocop hook works on windows/wsl, and is being left here as of 8/27/2025 to figure it out at some point
  #- id: rubocop
  #  name: rubocop
  #  language: system
  #  entry: bash -lc 'BUNDLE_GEMFILE=app/Gemfile cd app && bundle exec rubocop -a --force-exclusion'
  #  types: [ ruby ]
  #  files: '^app/.*\.rb$'
  #  pass_filenames: false

  - id: erblint
    name: erblint
    entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
    language: system
    files: '^app/.*\.erb$'

  - id: i18n-unused
    name: i18n-unused
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks unused
    language: system
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: i18n-normalize
    name: i18n-normalize
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
    language: system
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system        # installed via `brew bundle`
    files: '^bin/.*$'

  - id: prettier
    name: prettier
    entry: bin/run-linter --cd app -- npm run format:precommit
    language: node
    files: '^app/.*\.(js|ts)$'

  - id: terraform_fmt
    name: Terraform Fmt
    entry: terraform fmt
    language: system
    files: 'infra/.*\.tf$'

#  - id: checkov
#    name: Checkov
#    entry: checkov --quiet --output sarif --framework terraform -f
#    language: system
#    files: 'infra/.*\.tf$'

  - id: actionlint
    name: ActionLint
    entry: actionlint
    language: system
    files: '^.github/.*\.yml$'
    pass_filenames: false

Normalize pre-populated employment months
  app/app/models/activity_flow.rb
  app/spec/models/activity_flow_spec.rb
Due: rubocop

remove infra env var
  infra/app/app-config/env-config/environment-variables.tf
Due: terraform_fmt

Apply suggestion from @krista-skylight
  app/lib/nsc.rb
Due: rubocop

fix: app/analytics/requirements.txt to reduce vulnerabilities
  app/analytics/requirements.txt
Due: none

cast the fetched boolean
  app/lib/nsc.rb
Due: rubocop

properly document default behavior
  app/.env
  app/.env.local.example
  docs/local-replication.md
Due: none

assert disabled by default behavior
  app/spec/helpers/activities_helper_spec.rb
  app/spec/lib/nsc_spec.rb
  app/spec/support/context/activity_hub.rb
Due: rubocop

set educationcontroller @back_url to activities_flow_education_add_your_education_path on #edit and #update when not navigating from review. and add relevant test
  app/app/controllers/activities/education_controller.rb
  app/spec/controllers/activities/education_navigation_spec.rb
Due: rubocop

Remove more pre_populated references
  app/app/assets/stylesheets/advanced-launcher.scss
  app/app/controllers/activities/activities_controller.rb
  app/app/controllers/activities/education_controller.rb
  app/app/controllers/launcher_controller.rb
  app/app/models/activity.rb
  app/app/models/activity_flow_invitation.rb
  app/app/models/education_activity.rb
  app/app/models/employment_activity.rb
  app/app/models/job_training_activity.rb
  app/app/models/volunteering_activity.rb
  app/app/services/activity_flow_progress_calculator.rb
  app/app/services/cbv_invitation_service.rb
  app/app/services/launcher/household_scenario.rb
  app/app/views/activities/activities/index.html.erb
  app/db/migrate/20260915145736_remove_pre_populated_activities_from_activity_flow_invitations.rb
  app/db/migrate/20260916115317_remove_pre_populated_from_multiple_tables.rb
  app/db/schema.rb
  app/spec/controllers/activities/activities_controller_spec.rb
  app/spec/controllers/activities/education_controller_spec.rb
  app/spec/factories/education_activity.rb
  app/spec/factories/employment_activity.rb
  app/spec/factories/job_training_activity.rb
  app/spec/factories/volunteering_activity.rb
  app/spec/helpers/activities_helper_spec.rb
  app/spec/models/activity_flow_invitation_spec.rb
  app/spec/models/activity_spec.rb
  app/spec/services/activity_flow_progress_calculator_spec.rb
  app/spec/services/transmitters/activity_s3_transmitter_spec.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.mmd
Due: rubocop, erblint

fix: app/analytics/requirements.txt to reduce vulnerabilities (#2072)
  app/analytics/requirements.txt
Due: none

Move atomic db transaction to model
  app/app/controllers/activities/employment/month_selections_controller.rb
  app/app/models/employment_activity.rb
Due: rubocop

FFS-4791 Implement Education type selection screen (#2057)
  app/app/controllers/activities/education/add_your_education_controller.rb
  app/app/controllers/activities/education_controller.rb
  app/app/views/activities/activities/index.html.erb
  app/app/views/activities/education/add_your_education/show.html.erb
  app/app/views/activities/education/new.html.erb
  app/app/views/activities/education/verify.html.erb
  app/config/locales/en.yml
  app/config/routes.rb
  app/spec/controllers/activities/education/add_your_education_controller_spec.rb
  app/spec/controllers/activities/education_navigation_spec.rb
  app/spec/e2e/activity_hub_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

FFS-4711: Base OAuth URL on Hub API URL
  app/app/services/aggregators/sdk/nsc_fdsh_service.rb
Due: rubocop

Handle 1 month reporting period
  app/app/controllers/activities/employment/month_selections_controller.rb
  app/app/controllers/activities/employment/months_controller.rb
  app/app/controllers/activities/employment_controller.rb
  app/app/models/employment_activity.rb
  app/spec/controllers/activities/employment/month_selections_controller_spec.rb
  app/spec/controllers/activities/employment_controller_spec.rb
  app/spec/controllers/activities/employment_navigation_spec.rb
  app/spec/models/employment_activity_spec.rb
Due: rubocop

update documentation
  AGENTS.md
  README.md
  docs/api/README.md
  docs/api/income-report.md
  docs/api/request-api-access.md
  docs/versioning.md
Due: none

FFS-4711: Stub FDSH calls in E2E flow
  app/spec/support/context/activity_hub.rb
Due: rubocop

use == "true" syntax
  app/lib/nsc.rb
Due: rubocop

FFS-4804: Add month selection page to Emmy CE Employment flow (#2071)
  app/app/controllers/activities/document_uploads_controller.rb
  app/app/controllers/activities/employment/month_selections_controller.rb
  app/app/controllers/activities/employment/months_controller.rb
  app/app/controllers/activities/employment_controller.rb
  app/app/controllers/concerns/monthly_hours_input.rb
  app/app/models/activity_flow.rb
  app/app/models/employment_activity.rb
  app/app/views/activities/employment/month_selections/edit.html.erb
  app/app/views/activities/employment/review.html.erb
  app/config/locales/en.yml
  app/config/routes.rb
  app/db/migrate/20260911120000_add_selected_months_to_employment_activities.rb
  app/db/schema.rb
  app/spec/controllers/activities/document_uploads_controller_spec.rb
  app/spec/controllers/activities/employment/month_selections_controller_spec.rb
  app/spec/controllers/activities/employment/months_controller_spec.rb
  app/spec/controllers/activities/employment_controller_spec.rb
  app/spec/controllers/activities/employment_navigation_spec.rb
  app/spec/e2e/activity_hub_employment_self_attestation_spec.rb
  app/spec/models/activity_flow_spec.rb
  app/spec/models/employment_activity_spec.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.mmd
Due: rubocop, erblint, i18n-unused, i18n-normalize

version bump
  CHANGELOG.md
  app/package-lock.json
  app/version.txt
  code.json
Due: none

FFS-4711: Rename FDSH credential variables
  app/.docker/entrypoints/rails.sh
  app/.env.local.example
  app/app/services/aggregators/sdk/nsc_fdsh_service.rb
  app/spec/services/aggregators/sdk/nsc_fdsh_service_spec.rb
Due: rubocop

Refactor and test
  app/app/controllers/api/invitations_controller.rb
  app/app/controllers/launcher_controller.rb
  app/app/helpers/activities_helper.rb
  app/app/models/activity_flow.rb
  app/app/models/activity_flow_invitation.rb
  app/app/services/launcher/household_scenario.rb
  app/app/views/launcher/_pre_populated_activities.html.erb
  app/app/views/launcher/advanced.html.erb
  app/db/migrate/20260916155702_remove_pre_propulated_activities_from_activity_invitation_flow.rb
  app/db/schema.rb
  app/spec/controllers/api/invitations_controller_spec.rb
  app/spec/controllers/launcher_controller_advanced_spec.rb
  app/spec/helpers/activities_helper_spec.rb
  app/spec/models/activity_spec.rb
  app/spec/services/launcher/household_scenario_spec.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.mmd
Due: rubocop, erblint

FFS-4711: Improve FDSH token validation and diagnostics
  app/app/services/aggregators/sdk/nsc_fdsh_service.rb
  app/spec/services/aggregators/sdk/nsc_fdsh_service_spec.rb
  app/spec/support/context/activity_hub.rb
  app/spec/support/nsc_api_helper.rb
Due: rubocop

Fix e2e tests
  app/spec/support/nsc_api_helper.rb
Due: rubocop

reverted package-lock changes
  app/package-lock.json
Due: none

FFS-4818 Make alerts accessible (#2055)
  app/app/components/uswds/alert.html.erb
  app/spec/components/report/gig_monthly_summary_table_component_spec.rb
  app/spec/components/uswds/alert_spec.rb
Due: rubocop, erblint

No ticket: v0.6.0 version bump (#2074)
  CHANGELOG.md
  app/version.txt
  code.json
Due: none

implement 'reporting other types of education' page, add 'other or I'm not sure' option, update routing, add copy and controller specs
  app/app/controllers/activities/education/add_your_education_controller.rb
  app/app/controllers/activities/education/other_controller.rb
  app/app/views/activities/education/add_your_education/show.html.erb
  app/app/views/activities/education/other/show.html.erb
  app/config/locales/en.yml
  app/config/routes.rb
  app/spec/controllers/activities/education/add_your_education_controller_spec.rb
  app/spec/controllers/activities/education/other_controller_spec.rb
  app/spec/controllers/activities/education_navigation_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Update paid monthly details page
  app/app/controllers/activities/employment/months_controller.rb
  app/app/javascript/controllers/hours_input_controller.js
  app/app/views/activities/employment/months/edit.html.erb
  app/app/views/shared/_hours_input.html.erb
  app/config/locales/en.yml
  app/spec/controllers/activities/employment/months_controller_spec.rb
  app/spec/e2e/activity_hub_employment_self_attestation_spec.rb
  app/spec/e2e/activity_hub_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize, prettier

Validate income and hours input > 0
  app/app/controllers/activities/employment/months_controller.rb
  app/spec/controllers/activities/employment/months_controller_spec.rb
  app/spec/e2e/activity_hub_employment_self_attestation_spec.rb
Due: rubocop

Split v2 api into two routes
  app/app/controllers/api/invitations_controller.rb
  app/app/controllers/api/v2/invitations_controller.rb
  app/app/models/cbv_applicant.rb
  app/app/models/cbv_applicant/la_ldh.rb
  app/app/services/api/v2/invitation_metadata.rb
  app/config/application.rb
  app/config/client-agency-config-v2.yml
  app/config/locales/en.yml
  app/config/routes.rb
  app/lib/client_agency_config.rb
  app/spec/controllers/api/v2/invitation_metadata_spec.rb
  app/spec/controllers/api/v2/invitations_controller_spec.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.mmd
Due: rubocop, i18n-unused, i18n-normalize

Update translations and fix typo
  app/app/controllers/api/v2/invitations_controller.rb
  app/config/i18n-tasks.yml
  app/spec/controllers/api/v2/invitation_metadata_spec.rb
Due: rubocop

FFS-4843: Update Argyle FLOW_ID to new account's flow
  app/app/services/aggregators/sdk/argyle_service.rb
Due: rubocop

Fix translations and add more tests for CE
  app/app/controllers/api/v2/invitations_controller.rb
  app/app/models/cbv_applicant/la_ldh.rb
  app/app/services/api/v2/invitation_metadata.rb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/lib/date_formatter.rb
  app/spec/controllers/api/v2/invitation_metadata_spec.rb
  app/spec/controllers/api/v2/invitations_controller_spec.rb
Due: rubocop, i18n-unused, i18n-normalize

FFS-4819 Alternate text for images (#2050)
  app/app/views/activities/income/employer_searches/_employer.html.erb
  app/app/views/activities/income/employer_searches/show.html.erb
  app/app/views/cbv/employer_searches/_employer.html.erb
  app/app/views/cbv/employer_searches/show.html.erb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/spec/controllers/activities/income/employer_searches_controller_spec.rb
  app/spec/controllers/cbv/employer_searches_controller_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Update tests for message change
  app/app/controllers/api/v2/invitations_controller.rb
  app/spec/controllers/api/v2/invitations_controller_spec.rb
Due: rubocop

run on ready_for_review
  .github/workflows/ai-disclosure-check.yml
  .github/workflows/ai-pr-review.yml
  .github/workflows/ai-test-classifier.yml
Due: actionlint

Trigger AI workflows when draft PRs are ready for review (#2080)
  .github/workflows/ai-disclosure-check.yml
  .github/workflows/ai-pr-review.yml
  .github/workflows/ai-test-classifier.yml
Due: actionlint

Separate Pinwheel/Argyle webhook initialization for PR environments
  app/config/initializers/pr_environment_webhooks.rb
Due: rubocop

Move v2 attributes to original yaml and remove v2 yaml
  app/app/models/cbv_applicant.rb
  app/app/services/api/v2/invitation_metadata.rb
  app/config/application.rb
  app/config/client-agency-config-v2.yml
  app/config/client-agency-config.yml
  app/lib/client_agency_config.rb
  app/spec/controllers/api/invitations_controller_spec.rb
  app/spec/models/cbv_applicant_spec.rb
  app/spec/services/transmitters/json_transmitter_spec.rb
Due: rubocop
