Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-normalize, i18n-missing

rubocop:
  name: rubocop
  entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect
  language: ruby

erblint:
  name: erblint
  entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
  language: ruby

i18n-normalize:
  name: i18n-normalize
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
  language: ruby
  pass_filenames: false

i18n-missing:
  name: i18n-missing
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks missing
  language: ruby
  pass_filenames: false

Code review changes
  app/app/helpers/cbv/aggregator_data_helper.rb
  app/app/services/aggregators/aggregator_reports/composite_report.rb
  app/app/services/aggregators/format_methods/argyle.rb
  app/spec/services/aggregators/aggregator_reports/argyle_report_spec.rb
Due: rubocop

all argyle service, controller, and model related tests are passing
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/app/services/argyle_service.rb
  app/app/services/argyle_webhooks_manager.rb
  app/spec/controllers/webhooks/argyle/events_controller_spec.rb
  app/spec/factories/cbv_applicant.rb
  app/spec/factories/payroll_account.rb
  app/spec/models/payroll_account/argyle_spec.rb
  app/spec/services/argyle_service_spec.rb
  app/spec/services/argyle_webhooks_manager_spec.rb
  app/spec/support/fixtures/argyle/response_create_webhook_subscription.json
  app/spec/support/fixtures/argyle/response_get_webhook_subscriptions.json
Due: rubocop

Add client agency config for AZ
  app/.env
  app/config/client-agency-config.yml
Due: none

Temporarily add OAuth configuration for AZ DES caseworker portal
  app/app/controllers/users/omniauth_callbacks_controller.rb
  app/app/models/user.rb
  app/app/views/caseworker/entries/_az_des_signin_button.html.erb
  app/config/initializers/devise.rb
  app/config/locales/en.yml
Due: rubocop, erblint, i18n-normalize, i18n-missing

Remove underscores from confirmation numbers
  app/app/controllers/cbv/submits_controller.rb
  app/spec/controllers/cbv/submits_controller_spec.rb
Due: rubocop

Create CbvApplicant::AzDes to allow invitation creation
  app/app/models/cbv_applicant.rb
  app/app/models/cbv_applicant/az_des.rb
  app/app/models/cbv_flow_invitation.rb
  app/app/views/caseworker/cbv_flow_invitations/_az_des.html.erb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/spec/controllers/api/invitations_controller_spec.rb
  app/spec/factories/cbv_applicant.rb
  app/spec/factories/cbv_flow_invitation.rb
  app/spec/models/cbv_applicant/az_des_spec.rb
Due: rubocop, erblint, i18n-normalize, i18n-missing

Fix `rails users:promote_to_service_account`
  app/lib/tasks/users.rake
  app/spec/lib/users_rake_spec.rb
Due: rubocop

fix: upgrade @uswds/uswds from 3.11.0 to 3.12.0
  app/package-lock.json
  app/package.json
Due: none

fix: upgrade autoprefixer from 10.4.20 to 10.4.21
  app/package-lock.json
  app/package.json
Due: none

tests fully functional
  app/app/controllers/cbv/employer_searches_controller.rb
  app/app/controllers/cbv/missing_results_controller.rb
  app/app/views/cbv/employer_searches/_employer.html.erb
  app/app/views/cbv/missing_results/show.html.erb
  app/lib/new_relic_event_tracker.rb
  app/spec/controllers/cbv/employer_searches_controller_spec.rb
Due: rubocop, erblint

switch to link_to
  app/app/views/cbv/summaries/show.html.erb
Due: erblint

Add Jira ticket numbers to TODO comments
  app/config/client-agency-config.yml
Due: none

Fix name of variables in `az_des_spec.rb` to be AZ
  app/spec/models/cbv_applicant/az_des_spec.rb
Due: rubocop

Upgrade tar-fs 2.1.1 -> 2.1.2
  app/package-lock.json
Due: none

Upgrade tar-fs 2.1.1 -> 2.1.2 (#527)
  app/package-lock.json
Due: none

Add client agency config and invitation sending for AZ (#524)
  app/.env
  app/app/controllers/cbv/submits_controller.rb
  app/app/controllers/users/omniauth_callbacks_controller.rb
  app/app/models/cbv_applicant.rb
  app/app/models/cbv_applicant/az_des.rb
  app/app/models/cbv_flow_invitation.rb
  app/app/models/user.rb
  app/app/views/caseworker/cbv_flow_invitations/_az_des.html.erb
  app/app/views/caseworker/entries/_az_des_signin_button.html.erb
  app/config/client-agency-config.yml
  app/config/i18n-tasks.yml
  app/config/initializers/devise.rb
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/lib/tasks/users.rake
  app/spec/controllers/api/invitations_controller_spec.rb
  app/spec/controllers/cbv/submits_controller_spec.rb
  app/spec/factories/cbv_applicant.rb
  app/spec/factories/cbv_flow_invitation.rb
  app/spec/lib/users_rake_spec.rb
  app/spec/models/cbv_applicant/az_des_spec.rb
Due: rubocop, erblint, i18n-normalize, i18n-missing

remove todo
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
Due: rubocop

add env config necessary for testing when .local.env is not picked up
  app/.env
Due: none

fixed minor code review issues for PR
  app/app/helpers/cbv/aggregator_data_helper.rb
  app/app/services/aggregators/sdk/argyle_service.rb
  app/app/views/cbv/payment_details/show.html.erb
Due: rubocop, erblint

fixed logic bug on earlier_date and added later_date"
  app/app/services/aggregators/aggregator_reports/composite_report.rb
Due: rubocop

CR fixes and rspec fixes to go along with them
  app/app/assets/config/manifest.js
  app/app/controllers/cbv/applicant_informations_controller.rb
  app/app/controllers/cbv/base_controller.rb
  app/app/models/cbv_applicant.rb
  app/app/views/cbv/summaries/show.html.erb
  app/config/client-agency-config.yml
  app/spec/controllers/cbv/applicant_informations_controller_spec.rb
  app/spec/factories/cbv_applicant.rb
  app/spec/mailers/weekly_report_mailer_spec.rb
  app/spec/models/cbv_flow_invitation_spec.rb
Due: rubocop, erblint

FFS-2615: Form validation errors not applied to individual fields in CBV flow invitation form (#523)
  app/app/views/caseworker/cbv_flow_invitations/_ma.html.erb
  app/app/views/caseworker/cbv_flow_invitations/_nyc.html.erb
  app/app/views/caseworker/cbv_flow_invitations/_sandbox.html.erb
Due: erblint

Reconstructed FFS-2495 branch with proper history based on main
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/app/helpers/cbv/pinwheel_data_helper.rb
  app/app/models/payroll_account/argyle.rb
  app/app/models/response_objects/employment.rb
  app/app/models/response_objects/identity.rb
  app/app/models/response_objects/income.rb
  app/app/models/response_objects/paystub.rb
  app/app/models/response_objects/search_result.rb
  app/app/services/argyle_service.rb
  app/app/services/argyle_webhooks_manager.rb
  app/app/services/pinwheel_service.rb
  app/app/services/webhooks/argyle.rb
  app/spec/controllers/webhooks/argyle/events_controller_spec.rb
  app/spec/factories/webhook_request.rb
  app/spec/helpers/cbv/pinwheel_data_helper_spec.rb
  app/spec/models/payroll_account/argyle_spec.rb
  app/spec/services/argyle_service_spec.rb
  app/spec/services/argyle_webhooks_manager_spec.rb
  app/spec/services/webhooks/argyle_spec.rb
  app/spec/support/fixtures/argyle/response_create_webhook_subscription.json
  app/spec/support/fixtures/argyle/response_get_webhook_subscriptions.json
  app/spec/support/fixtures/argyle/webhook_accounts.connected.json
  app/spec/support/fixtures/argyle/webhook_gigs.fully_synced.json
  app/spec/support/fixtures/argyle/webhook_identities.added.json
  app/spec/support/fixtures/argyle/webhook_paystubs.fully_synced.json
  app/spec/support/fixtures/argyle/webhook_users.fully_synced.json
Due: rubocop

manually merging/moving files
  app/app/controllers/api/argyle_controller.rb
  app/app/controllers/webhooks/pinwheel/events_controller.rb
  app/app/services/aggregators/sdk/argyle_service.rb
  app/app/services/argyle_service.rb
  app/app/services/pinwheel_service.rb
  app/config/initializers/ngrok_development.rb
Due: rubocop

resolving muddled tests
  app/app/services/aggregators/sdk/argyle_service.rb
  app/config/initializers/ngrok_development.rb
  app/spec/services/aggregators/sdk/argyle_service_spec.rb
Due: rubocop

patch applying failed... going to continue to manually work through this
  app/config/routes.rb
  app/spec/factories/payroll_account.rb
  app/spec/services/aggregators/sdk/argyle_service_spec.rb
  app/spec/services/argyle_service_spec.rb
  app/spec/support/argyle_api_helper.rb
Due: rubocop

just four failing tests
  app/app/services/argyle_webhooks_manager.rb
  app/spec/factories/payroll_account.rb
  app/spec/services/aggregators/sdk/argyle_service_spec.rb
  app/spec/services/argyle_webhooks_manager_spec.rb
  app/spec/support/argyle_api_helper.rb
  app/spec/support/pinwheel_api_helper.rb
  app/spec/support/test_helpers.rb
Due: rubocop

down to a single failing test
  app/app/services/aggregators/sdk/argyle_service.rb
  app/spec/controllers/cbv/payment_details_controller_spec.rb
  app/spec/controllers/cbv/submits_controller_spec.rb
  app/spec/controllers/cbv/successes_controller_spec.rb
  app/spec/controllers/cbv/summaries_controller_spec.rb
  app/spec/controllers/webhooks/pinwheel/events_controller_spec.rb
  app/spec/helpers/cbv/pinwheel_data_helper_spec.rb
  app/spec/services/aggregators/aggregator_reports/pinwheel_report_spec.rb
  app/spec/services/aggregators/sdk/pinwheel_service_spec.rb
  app/spec/services/argyle_webhooks_manager_spec.rb
  app/spec/support/argyle_api_helper.rb
  app/spec/support/test_helpers.rb
Due: rubocop

all tests passing
  app/spec/factories/aggregator_report.rb
Due: rubocop

Fixed broken Api::ArgyleController
  app/app/controllers/api/argyle_controller.rb
Due: rubocop

Updated the comment for the argyle_controller#create method
  app/app/controllers/api/argyle_controller.rb
Due: rubocop

Ran rubocop --autocorrect
  app/app/controllers/api/argyle_controller.rb
Due: rubocop

moved the configuration for the argyle service to a concerns. hopefully this will be a stepping stone to developing more uniform api services
  app/app/concerns/api_service.rb
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/app/services/aggregators/sdk/argyle_service.rb
  app/spec/services/aggregators/sdk/argyle_service_spec.rb
Due: rubocop

Changed the api_service 'environment' related logic to 'configuration' which I think makes more sense. we want our services to be configuration aware, not environment aware
  app/app/concerns/api_service.rb
  app/app/services/aggregators/sdk/argyle_service.rb
  app/spec/services/aggregators/sdk/argyle_service_spec.rb
Due: rubocop

Upgrade vite 6.2.3 -> 6.2.4
  app/package-lock.json
Due: none

removed rogue file
  app/app/helpers/cbv/pinwheel_data_helper.rb
Due: rubocop

delete rogue file
  app/app/models/response_objects/employment.rb
Due: rubocop

deleted rogue files from a previous commit
  app/app/models/response_objects/format_methods/argyle.rb
  app/app/models/response_objects/format_methods/pinwheel.rb
  app/app/models/response_objects/identity.rb
  app/app/models/response_objects/income.rb
  app/app/models/response_objects/paystub.rb
  app/app/models/response_objects/search_result.rb
  app/spec/helpers/cbv/pinwheel_data_helper_spec.rb
Due: rubocop

Upgrade vite 6.2.3 -> 6.2.4 (#530)
  app/package-lock.json
Due: none

Path conditions:
  rubocop: any of: ^app/.*\.rb$
  erblint: any of: ^app/.*\.erb$
  i18n-normalize: any of: ^app/config/locales/.*.yml$
  i18n-missing: any of: ^app/config/locales/.*.yml$
