Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-unused, i18n-normalize, shellcheck, prettier, terraform_fmt, actionlint

rubocop:
  name: rubocop
  entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
  language: system

erblint:
  name: erblint
  entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
  language: system

i18n-unused:
  name: i18n-unused
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks unused
  language: system
  pass_filenames: false

i18n-normalize:
  name: i18n-normalize
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
  language: system
  pass_filenames: false

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system

prettier:
  name: prettier
  entry: bin/run-linter --cd app -- npm run format:precommit
  language: node

terraform_fmt:
  name: Terraform Fmt
  entry: terraform fmt
  language: system

actionlint:
  name: ActionLint
  entry: actionlint
  language: system
  pass_filenames: false

Remove the runbooks
  docs/app/runbooks/maintenance-mode.md
  docs/app/runbooks/site-alert.md
Due: none

Configurable document upload file types and size by agency
  app/app/controllers/activities/local_uploads_controller.rb
  app/app/controllers/activities/presigned_uploads_controller.rb
  app/app/helpers/activities_helper.rb
  app/app/javascript/controllers/document_upload_controller.js
  app/app/services/presigned_upload_service.rb
  app/app/views/activities/document_uploads/new.html.erb
  app/config/client-agency-config.yml
  app/config/locales/en.yml
  app/lib/client_agency_config.rb
  app/spec/controllers/activities/document_uploads_controller_spec.rb
  app/spec/controllers/activities/local_uploads_controller_spec.rb
  app/spec/controllers/activities/presigned_uploads_controller_spec.rb
  app/spec/helpers/activities_helper_spec.rb
  app/spec/javascript/controllers/document_upload.spec.js
  app/spec/jobs/unattached_upload_cleanup_job_spec.rb
  app/spec/lib/client_agency_config_spec.rb
  app/spec/services/presigned_upload_service_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize, prettier

Bump sprockets to 4.4.1 for json 3.0 compatibility
  app/Gemfile.lock
Due: none

FFS-4843: Update Argyle FLOW_ID to new account's flow (#2079)
  app/app/services/aggregators/sdk/argyle_service.rb
  app/config/initializers/pr_environment_webhooks.rb
Due: rubocop

Release 0.8.0
  CHANGELOG.md
  app/version.txt
  code.json
Due: none

Release 0.8.0 (#2096)
  CHANGELOG.md
  app/version.txt
  code.json
Due: none

FFS-4841: Add scripts to enable site alert and maintenance mode (#2094)
  bin/maintenance-mode
  bin/site-alert
Due: shellcheck

FFS-4711: Create Aggregators::Sdk::NscFdshService for FDSH NSC test connection (#2058)
  app/.docker/entrypoints/rails.sh
  app/.env.local.example
  app/app/services/aggregators/sdk/nsc_fdsh_service.rb
  app/app/services/nsc_data_fetcher_service.rb
  app/spec/services/aggregators/sdk/nsc_fdsh_service_spec.rb
  app/spec/services/launcher/nsc_forward_dating_service_spec.rb
  app/spec/services/nsc_data_fetcher_service_spec.rb
  app/spec/support/context/activity_hub.rb
  app/spec/support/nsc_api_helper.rb
  infra/app/app-config/env-config/environment-variables.tf
Due: rubocop, terraform_fmt

FFS-4843: Fix redaction for Argyle accounts linked previously
  app/app/models/payroll_account/argyle.rb
  app/spec/models/payroll_account/argyle_spec.rb
Due: rubocop

fix for flaky ARIA rspec
  app/spec/support/e2e/test_helpers.rb
Due: rubocop

FFS-4849: Handle employer search timeouts gracefully
  app/app/controllers/application_controller.rb
  app/app/services/provider_search_service.rb
  app/config/locales/en.yml
Due: rubocop, i18n-unused, i18n-normalize

Accommodate multi-file error state
  app/app/javascript/controllers/document_upload_controller.js
  app/app/views/activities/document_uploads/new.html.erb
  app/config/locales/en.yml
  app/spec/controllers/activities/document_uploads_controller_spec.rb
  app/spec/javascript/controllers/document_upload.spec.js
Due: rubocop, erblint, i18n-unused, i18n-normalize, prettier

FFS-4797 Create v2 Invitations API separate endpoints (#2078)
  app/app/controllers/api/invitations_controller.rb
  app/app/controllers/api/v2/invitations_controller.rb
  app/app/models/cbv_applicant.rb
  app/app/models/cbv_applicant/la_ldh.rb
  app/app/services/api/v2/invitation_metadata.rb
  app/config/client-agency-config.yml
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/routes.rb
  app/lib/client_agency_config.rb
  app/lib/date_formatter.rb
  app/spec/controllers/api/invitations_controller_spec.rb
  app/spec/controllers/api/v2/invitation_metadata_spec.rb
  app/spec/controllers/api/v2/invitations_controller_spec.rb
  app/spec/models/cbv_applicant_spec.rb
  app/spec/services/transmitters/json_transmitter_spec.rb
  docs/app/rendered/database-schema.mmd
Due: rubocop, i18n-unused, i18n-normalize

Allow valid files in mixed uploads
  app/app/javascript/controllers/document_upload_controller.js
  app/app/views/activities/document_uploads/new.html.erb
  app/spec/controllers/activities/document_uploads_controller_spec.rb
  app/spec/javascript/controllers/document_upload.spec.js
Due: rubocop, erblint, prettier

add asset to allow PDF to render
  app/app/assets/config/manifest.js
Due: prettier

try to catch this at dev time next time
  app/spec/components/document_uploads_component_spec.rb
  app/spec/support/wicked_pdf_precompiled_asset_guard.rb
Due: rubocop

duplicate string
  app/app/controllers/application_controller.rb
  app/config/locales/en.yml
Due: rubocop, i18n-unused, i18n-normalize

FFS-4846: File type and max size settings for LA (#2098)
  app/app/controllers/activities/local_uploads_controller.rb
  app/app/controllers/activities/presigned_uploads_controller.rb
  app/app/helpers/activities_helper.rb
  app/app/javascript/controllers/document_upload_controller.js
  app/app/services/presigned_upload_service.rb
  app/app/views/activities/document_uploads/new.html.erb
  app/config/client-agency-config.yml
  app/config/locales/en.yml
  app/lib/client_agency_config.rb
  app/spec/controllers/activities/document_uploads_controller_spec.rb
  app/spec/controllers/activities/local_uploads_controller_spec.rb
  app/spec/controllers/activities/presigned_uploads_controller_spec.rb
  app/spec/helpers/activities_helper_spec.rb
  app/spec/javascript/controllers/document_upload.spec.js
  app/spec/jobs/unattached_upload_cleanup_job_spec.rb
  app/spec/lib/client_agency_config_spec.rb
  app/spec/services/presigned_upload_service_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize, prettier

Add document ID header
  app/app/services/activity_documents_service.rb
  app/app/services/activity_report_serializer.rb
  app/app/services/transmitters/http_document_transmitter.rb
  app/lib/json_api_receiver.rb
  app/spec/services/activity_documents_service_spec.rb
  app/spec/services/transmitters/http_document_transmitter_spec.rb
Due: rubocop

No ticket: add asset to allow PDF to render (#2100)
  app/app/assets/config/manifest.js
  app/spec/components/document_uploads_component_spec.rb
  app/spec/support/wicked_pdf_precompiled_asset_guard.rb
Due: rubocop, prettier

another attempt at a fix
  app/spec/e2e/activity_hub_spec.rb
Due: rubocop

updated AI attestation template
  .github/pull_request_template.md
Due: none

comment
  app/app/services/provider_search_service.rb
Due: rubocop

Fix typo in AI usage section of PR template
  .github/pull_request_template.md
Due: none

Update pull request template to remove optional section
  .github/pull_request_template.md
Due: none

Update v1 and v2 with latest changes
  app/app/controllers/api/invitations_controller.rb
  app/app/controllers/api/v2/invitations_controller.rb
  app/app/models/activity_flow_invitation.rb
  app/app/models/cbv_applicant/la_ldh.rb
  app/app/models/cbv_flow_invitation.rb
  app/app/services/cbv_invitation_service.rb
  app/config/client-agency-config.yml
  app/config/locales/en.yml
  app/config/routes.rb
  app/db/migrate/20260923183427_add_verification_range_to_cbv_flow_invitations.rb
  app/db/migrate/20260924152103_add_verification_range_to_activity_flow_invitations.rb
  app/db/schema.rb
  app/spec/controllers/api/invitations_controller_spec.rb
  app/spec/controllers/api/v2/invitation_metadata_spec.rb
  app/spec/controllers/api/v2/invitations_controller_spec.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.mmd
Due: rubocop, i18n-unused, i18n-normalize

No ticket: update AI attestation template (#2103)
  .github/pull_request_template.md
Due: none

wip tests
  app/spec/controllers/application_controller_spec.rb
  app/spec/support/title_checker_helper.rb
Due: rubocop

Fix test failures
  app/app/controllers/api/invitations_controller.rb
  app/app/services/cbv_invitation_service.rb
  app/config/routes.rb
  app/spec/controllers/api/invitations_controller_spec.rb
  app/spec/controllers/api/v2/invitation_metadata_spec.rb
Due: rubocop

Update v1 and v2 with latest changes
  app/app/controllers/api/invitations_controller.rb
  app/app/controllers/api/v2/invitations_controller.rb
  app/app/models/activity_flow_invitation.rb
  app/app/services/cbv_invitation_service.rb
  app/config/client-agency-config.yml
  app/config/locales/en.yml
  app/config/routes.rb
  app/db/migrate/20260924172832_add_verification_range_to_activity_flow_invitations.rb
  app/db/schema.rb
  app/spec/controllers/api/invitations_controller_spec.rb
  app/spec/controllers/api/v2/invitations_controller_spec.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.mmd
Due: rubocop, i18n-unused, i18n-normalize

enhance nsc hub integration with error classification. new relic metrics and cloudwatch metrics. automated proactive alerting
  app/app/jobs/nsc_certificate_check_job.rb
  app/app/jobs/record_batched_newrelic_metrics_job.rb
  app/app/services/aggregators/sdk/nsc_certificate_service.rb
  app/app/services/aggregators/sdk/nsc_service.rb
  app/lib/tasks/nsc.rake
  app/spec/jobs/nsc_certificate_check_job_spec.rb
  app/spec/lib/nsc_rake_spec.rb
  app/spec/services/aggregators/sdk/nsc_certificate_service_spec.rb
  app/spec/services/aggregators/sdk/nsc_service_spec.rb
  infra/app/app-config/env-config/scheduled_jobs.tf
  infra/app/service/main.tf
  infra/modules/monitoring/main.tf
  infra/modules/monitoring/variables.tf
Due: rubocop, terraform_fmt

Update translations and errors
  app/app/controllers/api/v2/invitations_controller.rb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
Due: rubocop, i18n-unused, i18n-normalize

Update route, update tests
  app/app/controllers/api/v2/invitations_controller.rb
  app/config/routes.rb
  app/spec/controllers/api/invitations_controller_spec.rb
  app/spec/controllers/api/v2/invitations_controller_spec.rb
Due: rubocop

Update invitations tests
  app/spec/controllers/api/v2/invitations_controller_spec.rb
Due: rubocop

Fix tests
  app/spec/controllers/api/v2/invitation_metadata_spec.rb
Due: rubocop

Fixed route
  app/config/routes.rb
Due: rubocop

Track invitations
  app/app/controllers/api/invitations_controller.rb
  app/app/controllers/api/v2/invitations_controller.rb
  app/app/services/cbv_invitation_service.rb
Due: rubocop

Fix test
  app/spec/controllers/api/v2/invitations_controller_spec.rb
Due: rubocop

Add launch_type to launcher_controller
  app/app/controllers/launcher_controller.rb
Due: rubocop

Fix test
  app/app/controllers/api/v2/invitations_controller.rb
Due: rubocop

Path conditions:
  rubocop: any of: ^app/.*\.rb$
  erblint: any of: ^app/.*\.erb$
  i18n-unused: any of: ^app/config/locales/.*\.yml$
  i18n-normalize: any of: ^app/config/locales/.*\.yml$
  shellcheck: any of: ^bin/.*$
  prettier: any of: ^app/.*\.(js|ts)$
  terraform_fmt: any of: infra/.*\.tf$
  actionlint: any of: ^.github/.*\.yml$
