Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-normalize, i18n-missing

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml

- repo: local
  hooks:
  - id: rubocop
    name: rubocop
    entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect
    language: ruby
    files: '^app/.*\.rb$'

  - id: erblint
    name: erblint
    entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
    language: ruby
    files: '^app/.*\.erb$'

  - id: i18n-normalize
    name: i18n-normalize
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
    language: ruby
    files: '^app/config/locales/.*.yml$'
    pass_filenames: false

  - id: i18n-missing
    name: i18n-missing
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks missing
    language: ruby
    files: '^app/config/locales/.*.yml$'
    pass_filenames: false

Upgrade erb_lint 0.6.0 -> 0.9.0
  app/Gemfile.lock
Due: none

fix: upgrade sass from 1.85.0 to 1.85.1
  app/package-lock.json
  app/package.json
Due: none

more corrections
  app/app/models/cbv_applicant.rb
  app/spec/models/cbv_applicant_spec.rb
Due: rubocop

commit
  app/spec/services/aggregators/aggregator_reports/argyle_report_spec.rb
Due: rubocop

Add prettier linter to pre-commit config
  .pre-commit-config.yaml
  app/package.json
Due: none

Add extra comment to bin/run-linter about DEBUG mode
  bin/run-linter
Due: none

Use colon for namespacing `npm run format:precommit` script
  .pre-commit-config.yaml
  app/package.json
Due: none

created service tests for argyle webooks
  app/app/services/argyle_service.rb
  app/spec/services/argyle_service_spec.rb
  app/spec/services/argyle_webhooks_manager_spec.rb
  app/spec/support/argyle_api_helper.rb
  app/spec/support/fixtures/argyle/response_items.json
  app/spec/support/fixtures/argyle/response_webooks.json
  app/spec/support/fixtures/argyle_webhooks/accounts_connected_sample.json
  app/spec/support/fixtures/argyle_webhooks/gigs_fully_synced_sample.json
  app/spec/support/pinwheel_api_helper.rb
  app/spec/support/test_helpers.rb
Due: rubocop

FFS-2488: Add pre-commit linter framework (#512)
  .githooks/pre-commit
  .github/workflows/erblint.yml
  .pre-commit-config.yaml
  Brewfile
  README.md
  app/.erb_lint.yml
  app/Gemfile.lock
  app/package.json
  bin/run-linter
Due: none

got tests working for argyle_report
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/app/services/aggregators/aggregator_reports/argyle_report.rb
  app/app/services/aggregators/aggregator_reports/pinwheel_report.rb
  app/app/services/aggregators/sdk/argyle_service.rb
  app/app/services/aggregators/sdk/pinwheel_service.rb
  app/spec/services/aggregators/aggregator_reports/argyle_report_spec.rb
Due: rubocop

saving progress
  app/spec/services/argyle_service_spec.rb
  app/spec/services/argyle_webhooks_manager_spec.rb
Due: rubocop

invitation reminders deletions
  app/app/mailers/applicant_mailer.rb
  app/app/views/applicant_mailer/invitation_reminder_email.html.erb
  app/config/locales/en.yml
  app/db/migrate/20250318171130_remove_invitation_reminder_sent_at_column_from_cbv_flow_invitation.rb
  app/lib/tasks/invitation_reminders.rake
  app/spec/mailers/applicant_mailer_spec.rb
  infra/app/app-config/env-config/scheduled_jobs.tf
Due: rubocop, erblint, i18n-normalize, i18n-missing

more deletions, schema
  app/app/assets/stylesheets/cbv.scss
  app/config/locales/es.yml
  app/db/schema.rb
  app/spec/mailers/previews/applicant_mailer_preview.rb
  docs/app/rendered/database-schema.pdf
Due: rubocop, i18n-normalize, i18n-missing

saving changes so that i don't lose things again
  app/app/services/aggregators/aggregator_reports/argyle_report.rb
  app/spec/services/aggregators/aggregator_reports/argyle_report_spec.rb
  app/spec/services/aggregators/sdk/argyle_service_spec.rb
  app/spec/services/aggregators/sdk/pinwheel_service_spec.rb
Due: rubocop

more fixes
  app/app/services/aggregators/aggregator_reports/argyle_report.rb
  app/spec/services/aggregators/aggregator_reports/argyle_report_spec.rb
Due: rubocop

fix minor issue with db migration
  app/db/migrate/20250318171130_remove_invitation_reminder_sent_at_column_from_cbv_flow_invitation.rb
  docs/app/rendered/database-schema.pdf
Due: rubocop

argyle webhook related tests passing
  app/app/services/argyle_service.rb
  app/app/services/argyle_webhooks_manager.rb
  app/spec/services/argyle_service_spec.rb
  app/spec/services/argyle_webhooks_manager_spec.rb
  app/spec/support/argyle_api_helper.rb
  app/spec/support/fixtures/argyle/request_create_webhook_subscription.json
  app/spec/support/fixtures/argyle/response_create_webhook_subscription.json
  app/spec/support/fixtures/argyle/response_get_webhook_subscriptions.json
  app/spec/support/fixtures/argyle/response_items.json
  app/spec/support/pinwheel_api_helper.rb
Due: rubocop

removed argyle_user_id from cbv_flow
  app/spec/factories/cbv_flow.rb
Due: rubocop

added better error handling for the argyle service, removed unrecognized events, tunnels both start
  app/app/services/argyle_service.rb
  app/app/services/argyle_webhooks_manager.rb
Due: rubocop

cleaned up some logging
  app/app/services/argyle_webhooks_manager.rb
Due: rubocop

got most of the argyle_report tests working
  app/app/services/aggregators/aggregator_reports/argyle_report.rb
  app/spec/services/aggregators/aggregator_reports/argyle_report_spec.rb
Due: rubocop

cleaned up some tests
  app/spec/services/aggregators/aggregator_reports/argyle_report_spec.rb
Due: rubocop

getting closer to good tests
  app/spec/services/aggregators/aggregator_reports/argyle_report_spec.rb
Due: rubocop

in consultation with Tom, redid the solution. Verified in invitation and generic link flows.
  app/app/models/cbv_applicant.rb
  app/app/models/cbv_flow_invitation.rb
  app/app/services/cbv_invitation_service.rb
  app/app/views/caseworker/cbv_flow_invitations/_ma.html.erb
  app/app/views/caseworker/cbv_flow_invitations/_nyc.html.erb
  app/app/views/caseworker/cbv_flow_invitations/_sandbox.html.erb
  app/spec/models/cbv_applicant_spec.rb
Due: rubocop, erblint

fixed more rspec tests
  app/spec/models/cbv_flow_invitation_spec.rb
Due: rubocop

quite a few rspec fixes by removing a silly thing I did
  app/app/controllers/caseworker/cbv_flow_invitations_controller.rb
  app/spec/factories/cbv_applicant.rb
Due: rubocop

fixed failing tests from updating the ngrok_development.rb puts STDOUT
  app/spec/services/argyle_webhooks_manager_spec.rb
Due: rubocop

all rspec tests now passing
  app/spec/controllers/caseworker/cbv_flow_invitations_controller/ma_spec.rb
  app/spec/factories/cbv_applicant.rb
  app/spec/mailers/caseworker_mailer_spec.rb
  app/spec/models/cbv_applicant/nyc_spec.rb
  app/spec/models/cbv_applicant_spec.rb
Due: rubocop

linters
  app/app/controllers/caseworker/cbv_flow_invitations_controller.rb
  app/app/controllers/cbv/entries_controller.rb
Due: rubocop

moved generic link route
  app/app/controllers/cbv/generic_links_controller.rb
  app/config/routes.rb
Due: rubocop

string tokenization
  app/app/controllers/cbv/generic_links_controller.rb
  app/app/models/cbv_flow_invitation.rb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
Due: rubocop, i18n-normalize, i18n-missing

end of pairing with tom
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/app/services/aggregators/aggregator_reports/argyle_report.rb
  app/app/services/aggregators/aggregator_reports/pinwheel_report.rb
  app/app/services/aggregators/sdk/pinwheel_service.rb
  app/spec/services/aggregators/aggregator_reports/pinwheel_report_spec.rb
Due: rubocop

fix: upgrade sass from 1.85.0 to 1.85.1 (#514)
  app/package-lock.json
  app/package.json
Due: none

FFS-2567: Fix datepicker on caseworker invitation page (after validation errors) (#499)
  app/app/javascript/application.js
Due: none

Remove unused `terraform` directory (#507)
  .github/workflows/terraform-production.yml
  .github/workflows/terraform-staging.yml
  Brewfile
  terraform/README.md
  terraform/bootstrap/import.sh
  terraform/bootstrap/main.tf
  terraform/bootstrap/providers.tf
  terraform/bootstrap/run.sh
  terraform/bootstrap/teardown_creds.sh
  terraform/bootstrap/variables.tf
  terraform/create_space_deployer.sh
  terraform/destroy_space_deployer.sh
  terraform/production/main.tf
  terraform/production/providers.tf
  terraform/production/variables.tf
  terraform/set_space_egress.sh
  terraform/shared/clamav/main.tf
  terraform/shared/clamav/providers.tf
  terraform/shared/clamav/variables.tf
  terraform/shared/database/main.tf
  terraform/shared/database/providers.tf
  terraform/shared/database/variables.tf
  terraform/shared/domain/main.tf
  terraform/shared/domain/providers.tf
  terraform/shared/domain/variables.tf
  terraform/shared/redis/main.tf
  terraform/shared/redis/providers.tf
  terraform/shared/redis/variables.tf
  terraform/shared/s3/main.tf
  terraform/shared/s3/providers.tf
  terraform/shared/s3/variables.tf
  terraform/staging/main.tf
  terraform/staging/providers.tf
  terraform/staging/variables.tf
Due: none

updated argyle_report to properly use the fetch method
  app/app/services/aggregators/aggregator_reports/argyle_report.rb
  app/spec/services/aggregators/aggregator_reports/argyle_report_spec.rb
Due: rubocop

code review changes
  app/app/controllers/cbv/entries_controller.rb
  app/app/views/caseworker/cbv_flow_invitations/_nyc.html.erb
  app/config/locales/en.yml
Due: rubocop, erblint, i18n-normalize, i18n-missing
