Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-unused, i18n-normalize, shellcheck, prettier, terraform_fmt, actionlint

rubocop:
  name: rubocop
  entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
  language: system

erblint:
  name: erblint
  entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
  language: system

i18n-unused:
  name: i18n-unused
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks unused
  language: system
  pass_filenames: false

i18n-normalize:
  name: i18n-normalize
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
  language: system
  pass_filenames: false

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system

prettier:
  name: prettier
  entry: bin/run-linter --cd app -- npm run format:precommit
  language: node

terraform_fmt:
  name: Terraform Fmt
  entry: terraform fmt
  language: system

actionlint:
  name: ActionLint
  entry: actionlint
  language: system
  pass_filenames: false

FFS-4635: Instrument Mixpanel events for the Employment Self-Attested flow
  app/app/components/activity_flow_header_component.rb
  app/app/components/activity_flow_header_component/activity_flow_header_component.html.erb
  app/app/controllers/activities/document_uploads_controller.rb
  app/app/controllers/activities/employment/months_controller.rb
  app/app/controllers/activities/employment_controller.rb
  app/app/javascript/controllers/activity_flow_header_controller.js
  app/app/models/track_event.rb
  app/app/views/activities/document_uploads/new.html.erb
  app/app/views/activities/employment/edit.html.erb
  app/app/views/activities/employment/months/edit.html.erb
  app/app/views/activities/employment/new.html.erb
  app/app/views/activities/employment/review.html.erb
  app/spec/controllers/activities/document_uploads_controller_spec.rb
  app/spec/controllers/activities/employment/months_controller_spec.rb
  app/spec/controllers/activities/employment_controller_spec.rb
Due: rubocop, erblint, prettier

Deploy to CMS on push to main
  .github/workflows/README.md
  .github/workflows/cd-cms-app.yml
  .github/workflows/deploy-cms.yml
Due: actionlint

FFS-4668: Add review app workflow placeholders
  .github/workflows/cms-pr-environment-checks.yml
  .github/workflows/cms-pr-environment-destroy.yml
Due: actionlint

Address comments
  .github/workflows/README.md
  .github/workflows/build-and-publish-to-cms.yml
  .github/workflows/cd-cms-app.yml
Due: actionlint

fixes
  app/app/controllers/activities/document_uploads_controller.rb
  app/app/controllers/activities/employment/months_controller.rb
  app/app/controllers/activities/employment_controller.rb
  app/app/javascript/utilities/api.js
  app/app/models/track_event.rb
  app/spec/controllers/activities/document_uploads_controller_spec.rb
  app/spec/controllers/activities/employment/months_controller_spec.rb
  app/spec/controllers/activities/employment_controller_spec.rb
  app/spec/support/shared_examples/tracks_event_examples.rb
Due: rubocop, prettier

fix: patch Ruby/JS dependencies for CVEs flagged by bundler-audit/npm audit
  app/Gemfile.lock
  app/package-lock.json
Due: none

add month, errors, other small fixes
  app/app/controllers/activities/document_uploads_controller.rb
  app/app/controllers/activities/employment/months_controller.rb
  app/app/controllers/activities/employment_controller.rb
  app/spec/controllers/activities/document_uploads_controller_spec.rb
  app/spec/controllers/activities/employment/months_controller_spec.rb
  app/spec/controllers/activities/employment_controller_spec.rb
Due: rubocop

FFS-4668: Add CMS review app workflow placeholders (#1983)
  .github/workflows/cms-pr-environment-checks.yml
  .github/workflows/cms-pr-environment-destroy.yml
Due: actionlint

FFS-4668: Add CMS Cloud review apps
  .github/workflows/README.md
  .github/workflows/cms-pr-environment-checks.yml
  .github/workflows/cms-pr-environment-destroy.yml
  .github/workflows/scan-orphaned-cms-pr-environments.yml
  app/config/initializers/pr_environment_webhooks.rb
  app/lib/internal_environment.rb
  app/spec/lib/internal_environment_spec.rb
  bin/cms-pr-environment
  docs/infra/pull-request-environments.md
Due: rubocop, shellcheck, actionlint

FFS-4668: Report PR webhook initialization errors
  app/config/initializers/pr_environment_webhooks.rb
Due: rubocop

FFS-4668: Automate CMS review app updates
  .github/workflows/cms-pr-environment-checks.yml
  .github/workflows/cms-pr-environment-destroy.yml
  .github/workflows/scan-orphaned-cms-pr-environments.yml
  bin/cms-pr-environment
Due: shellcheck, actionlint

Reorder + style document uploads
  app/app/assets/stylesheets/document_uploads.scss
  app/app/javascript/controllers/document_upload_controller.js
  app/app/views/activities/document_uploads/new.html.erb
  app/spec/controllers/activities/document_uploads_controller_spec.rb
  app/spec/javascript/controllers/document_upload.spec.js
Due: rubocop, erblint, prettier

FFS-4668: Destroy review apps when PRs close
  .github/workflows/cms-pr-environment-destroy.yml
Due: actionlint

Dont push more than we need to
  .github/workflows/README.md
  .github/workflows/build-and-publish.yml
Due: actionlint

FFS-4669: Deploy to CMS on push to main (#1981)
  .github/workflows/README.md
  .github/workflows/build-and-publish-to-cms.yml
  .github/workflows/build-and-publish.yml
  .github/workflows/cd-cms-app.yml
  .github/workflows/deploy-cms.yml
Due: actionlint

FFS-4668: Recreate inactive review services
  bin/cms-pr-environment
Due: shellcheck

fix: patch Dockerfile for OS-level CVEs flagged by Trivy/Anchore
  app/Dockerfile
Due: none

removing doc upload validation, making sure modal event is filed
  app/app/controllers/activities/document_uploads_controller.rb
  app/app/javascript/controllers/activity_flow_header_controller.js
  app/app/models/track_event.rb
  app/spec/controllers/activities/document_uploads_controller_spec.rb
  app/spec/javascript/controllers/activity_flow_header_controller.spec.js
Due: rubocop, prettier

FFS-4668: Report PR webhook initialization errors (#1992)
  app/config/initializers/pr_environment_webhooks.rb
Due: rubocop

adding from_edit and from_review to relevant events
  app/app/controllers/activities/base_controller.rb
  app/spec/controllers/activities/activities_controller_spec.rb
  app/spec/controllers/activities/employment_controller_spec.rb
Due: rubocop

EMMY -> Emmy
  bin/cms-pr-environment
Due: shellcheck

FFS-4668: Derive review app configuration
  bin/cms-pr-environment
  docs/infra/pull-request-environments.md
Due: shellcheck

FFS-4668: Add CMS Cloud review apps (#1982)
  .github/workflows/README.md
  .github/workflows/cms-pr-environment-checks.yml
  .github/workflows/cms-pr-environment-destroy.yml
  .github/workflows/scan-orphaned-cms-pr-environments.yml
  app/config/initializers/pr_environment_webhooks.rb
  app/lib/internal_environment.rb
  app/spec/lib/internal_environment_spec.rb
  bin/cms-pr-environment
  docs/infra/pull-request-environments.md
Due: rubocop, shellcheck, actionlint

Instrument Mixpanel events for the Employment Self-Attested flow in Emmy CE (#1980)
  app/app/components/activity_flow_header_component.rb
  app/app/components/activity_flow_header_component/activity_flow_header_component.html.erb
  app/app/controllers/activities/base_controller.rb
  app/app/controllers/activities/document_uploads_controller.rb
  app/app/controllers/activities/employment/months_controller.rb
  app/app/controllers/activities/employment_controller.rb
  app/app/javascript/controllers/activity_flow_header_controller.js
  app/app/javascript/utilities/api.js
  app/app/models/track_event.rb
  app/app/views/activities/document_uploads/new.html.erb
  app/app/views/activities/employment/edit.html.erb
  app/app/views/activities/employment/months/edit.html.erb
  app/app/views/activities/employment/new.html.erb
  app/app/views/activities/employment/review.html.erb
  app/spec/controllers/activities/activities_controller_spec.rb
  app/spec/controllers/activities/document_uploads_controller_spec.rb
  app/spec/controllers/activities/employment/months_controller_spec.rb
  app/spec/controllers/activities/employment_controller_spec.rb
  app/spec/javascript/controllers/activity_flow_header_controller.spec.js
  app/spec/support/shared_examples/tracks_event_examples.rb
Due: rubocop, erblint, prettier

FFS-4636: Instrument Mixpanel events for the Education Self-Attested flow
  app/app/controllers/activities/document_uploads_controller.rb
  app/app/controllers/activities/education/months_controller.rb
  app/app/controllers/activities/education/term_credit_hours_controller.rb
  app/app/controllers/activities/education_controller.rb
  app/app/models/track_event.rb
  app/app/views/activities/document_uploads/new.html.erb
  app/app/views/activities/education/edit.html.erb
  app/app/views/activities/education/edit_fully_self_attested.html.erb
  app/app/views/activities/education/months/edit.html.erb
  app/app/views/activities/education/new.html.erb
  app/app/views/activities/education/review.html.erb
  app/app/views/activities/education/term_credit_hours/edit.html.erb
  app/spec/controllers/activities/document_uploads_controller_spec.rb
  app/spec/controllers/activities/education/months_controller_spec.rb
  app/spec/controllers/activities/education/term_credit_hours_controller_spec.rb
  app/spec/controllers/activities/education_controller_spec.rb
Due: rubocop, erblint

FFS-4688: Clean up order and styling of components on doc upload page (#1993)
  app/app/assets/stylesheets/document_uploads.scss
  app/app/javascript/controllers/document_upload_controller.js
  app/app/views/activities/document_uploads/new.html.erb
  app/spec/controllers/activities/document_uploads_controller_spec.rb
  app/spec/javascript/controllers/document_upload.spec.js
Due: rubocop, erblint, prettier

ActivityFlow timeout adjustments
  app/app/controllers/cbv/sessions_controller.rb
  app/app/controllers/pages_controller.rb
  app/app/views/pages/home.html.erb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/spec/controllers/cbv/sessions_controller_spec.rb
  app/spec/controllers/pages_controller_spec.rb
  app/spec/e2e/timeout_spec.rb
  app/spec/support/e2e/test_helpers.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Preserve Emmy CE branding if timeout flow missing
  app/app/controllers/cbv/sessions_controller.rb
  app/spec/controllers/cbv/sessions_controller_spec.rb
Due: rubocop

Choose your work page
  app/app/controllers/activities/employment/add_your_work_controller.rb
  app/app/controllers/activities/employment_controller.rb
  app/app/helpers/uswds_form_builder.rb
  app/app/models/track_event.rb
  app/app/views/activities/activities/index.html.erb
  app/app/views/activities/employment/add_your_work/show.html.erb
  app/config/locales/en.yml
  app/config/routes.rb
  app/spec/controllers/activities/activities_controller_spec.rb
  app/spec/controllers/activities/employment/add_your_work_controller_spec.rb
  app/spec/controllers/activities/employment_navigation_spec.rb
  app/spec/controllers/activities/income/employer_searches_controller_spec.rb
  app/spec/e2e/activity_hub_employment_self_attestation_spec.rb
  app/spec/e2e/activity_hub_spec.rb
  app/spec/helpers/uswds_form_builder_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Fix spec convention
  app/spec/controllers/activities/employment/add_your_work_controller_spec.rb
Due: rubocop

Rename events to match convention
  app/app/controllers/activities/employment/add_your_work_controller.rb
  app/app/models/track_event.rb
  app/spec/controllers/activities/employment/add_your_work_controller_spec.rb
Due: rubocop

fixes
  app/app/controllers/activities/document_uploads_controller.rb
  app/app/controllers/activities/education/months_controller.rb
  app/app/controllers/activities/education/term_credit_hours_controller.rb
  app/app/controllers/activities/education_controller.rb
  app/app/models/track_event.rb
  app/app/views/activities/document_uploads/new.html.erb
  app/spec/controllers/activities/education/months_controller_spec.rb
  app/spec/controllers/activities/education/term_credit_hours_controller_spec.rb
  app/spec/controllers/activities/education_controller_spec.rb
Due: rubocop, erblint

Handle timeouts independently
  app/app/controllers/cbv/sessions_controller.rb
  app/app/controllers/pages_controller.rb
  app/spec/controllers/cbv/sessions_controller_spec.rb
  app/spec/controllers/pages_controller_spec.rb
Due: rubocop

FFS-4665: Redact LALDH case_number
  app/config/client-agency-config.yml
  app/spec/models/cbv_applicant/la_ldh_spec.rb
Due: rubocop

add human readable term range to relevant events
  app/app/controllers/activities/education/term_credit_hours_controller.rb
  app/spec/controllers/activities/education/term_credit_hours_controller_spec.rb
Due: rubocop

FFS-4643: CE timeout screen header and copy incorrectly reference "Report My Income" instead of Emmy (#1996)
  app/app/controllers/cbv/sessions_controller.rb
  app/app/controllers/pages_controller.rb
  app/app/views/pages/home.html.erb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/spec/controllers/cbv/sessions_controller_spec.rb
  app/spec/controllers/pages_controller_spec.rb
  app/spec/e2e/timeout_spec.rb
  app/spec/support/e2e/test_helpers.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

FFS-4705: Add "Choose how you want to add your work" page to Emmy CE Employment flow (#1997)
  app/app/controllers/activities/employment/add_your_work_controller.rb
  app/app/controllers/activities/employment_controller.rb
  app/app/helpers/uswds_form_builder.rb
  app/app/models/track_event.rb
  app/app/views/activities/activities/index.html.erb
  app/app/views/activities/employment/add_your_work/show.html.erb
  app/config/locales/en.yml
  app/config/routes.rb
  app/spec/controllers/activities/activities_controller_spec.rb
  app/spec/controllers/activities/employment/add_your_work_controller_spec.rb
  app/spec/controllers/activities/employment_navigation_spec.rb
  app/spec/controllers/activities/income/employer_searches_controller_spec.rb
  app/spec/e2e/activity_hub_employment_self_attestation_spec.rb
  app/spec/e2e/activity_hub_spec.rb
  app/spec/helpers/uswds_form_builder_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

FFS-4636: Consolidate document upload event tracking
  app/app/controllers/activities/document_uploads_controller.rb
Due: rubocop

FFS-4636: Consolidate document upload viewed events
  app/app/controllers/activities/document_uploads_controller.rb
Due: rubocop

Instrument Mixpanel events for the Education Self-Attested flow in Emmy CE (#1995)
  app/app/controllers/activities/document_uploads_controller.rb
  app/app/controllers/activities/education/months_controller.rb
  app/app/controllers/activities/education/term_credit_hours_controller.rb
  app/app/controllers/activities/education_controller.rb
  app/app/models/track_event.rb
  app/app/views/activities/document_uploads/new.html.erb
  app/app/views/activities/education/edit.html.erb
  app/app/views/activities/education/edit_fully_self_attested.html.erb
  app/app/views/activities/education/months/edit.html.erb
  app/app/views/activities/education/new.html.erb
  app/app/views/activities/education/review.html.erb
  app/app/views/activities/education/term_credit_hours/edit.html.erb
  app/spec/controllers/activities/document_uploads_controller_spec.rb
  app/spec/controllers/activities/education/months_controller_spec.rb
  app/spec/controllers/activities/education/term_credit_hours_controller_spec.rb
  app/spec/controllers/activities/education_controller_spec.rb
Due: rubocop, erblint

Path conditions:
  rubocop: any of: ^app/.*\.rb$
  erblint: any of: ^app/.*\.erb$
  i18n-unused: any of: ^app/config/locales/.*\.yml$
  i18n-normalize: any of: ^app/config/locales/.*\.yml$
  shellcheck: any of: ^bin/.*$
  prettier: any of: ^app/.*\.(js|ts)$
  terraform_fmt: any of: infra/.*\.tf$
  actionlint: any of: ^.github/.*\.yml$
