Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-normalize, i18n-missing, shellcheck, prettier

rubocop:
  name: rubocop
  entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
  language: ruby

erblint:
  name: erblint
  entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
  language: ruby

i18n-normalize:
  name: i18n-normalize
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
  language: ruby
  pass_filenames: false

i18n-missing:
  name: i18n-missing
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks missing
  language: ruby
  pass_filenames: false

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system

prettier:
  name: prettier
  entry: bin/run-linter --cd app -- npm run format:precommit
  language: node

enforce last 4 of ssn for argyle
  app/app/services/aggregators/response_objects/identity.rb
Due: rubocop

add tests
  app/spec/services/aggregators/response_objects/identity_spec.rb
Due: rubocop

initial commit of implementation. TODO Testing
  app/app/components/aggregate_data_point_component.rb
  app/app/services/aggregators/response_objects/identity.rb
  app/app/views/cbv/submits/show.pdf.erb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
Due: rubocop, erblint, i18n-normalize, i18n-missing

Update app/spec/controllers/cbv/generic_links_controller_spec.rb
  app/spec/controllers/cbv/generic_links_controller_spec.rb
Due: rubocop

removed host header setting that isnt needed
  app/spec/controllers/cbv/generic_links_controller_spec.rb
Due: rubocop

address PR feedback.
  app/app/views/cbv/payment_details/show.html.erb
  app/app/views/cbv/submits/show.pdf.erb
  app/spec/controllers/cbv/submits_controller_spec.rb
  app/spec/support/fixtures/argyle/sarah/request_paystubs.json
Due: rubocop, erblint

addressing some more minor PR feedback
  app/app/controllers/pages_controller.rb
Due: rubocop

implemented updated copy for incoming caseworker email
  app/app/views/caseworker_mailer/summary_email.html.erb
  app/spec/mailers/previews/caseworker_mailer_preview.rb
Due: rubocop, erblint

patch vite update
  app/package-lock.json
  app/package.json
Due: none

FFS-2787 Update gig validators (#633)
  app/app/controllers/cbv/payment_details_controller.rb
  app/app/services/aggregators/validators/useful_report_validator.rb
  app/app/views/cbv/payment_details/show.html.erb
  app/app/views/cbv/submits/show.pdf.erb
  app/spec/controllers/cbv/payment_details_controller_spec.rb
  app/spec/controllers/cbv/submits_controller_spec.rb
  app/spec/services/aggregators/validators/useful_report_validator_spec.rb
  app/spec/support/fixtures/argyle/sarah/request_gigs.json
  app/spec/support/fixtures/argyle/sarah/request_paystubs.json
Due: rubocop, erblint

Update app/spec/services/aggregators/response_objects/identity_spec.rb
  app/spec/services/aggregators/response_objects/identity_spec.rb
Due: rubocop

Address Vite vulnerability GHSA-859w-5945-r5v3 (#637)
  app/package-lock.json
  app/package.json
Due: none

fixed unit test
  app/config/locales/en.yml
  app/spec/mailers/caseworker_mailer_spec.rb
Due: rubocop, i18n-normalize, i18n-missing

FFS-2650: Track ApplicantReceivedArgyleData for partial data (#632)
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/app/models/payroll_account/argyle.rb
  app/app/services/argyle_webhooks_manager.rb
  app/spec/controllers/webhooks/argyle/events_controller_spec.rb
  app/spec/factories/webhook_request.rb
  app/spec/services/argyle_webhooks_manager_spec.rb
Due: rubocop

FFS-2650: Implement pagination for argyle /paystubs and /gigs (#630)
  app/app/services/aggregators/sdk/argyle_service.rb
  app/spec/services/aggregators/aggregator_reports/argyle_report_spec.rb
  app/spec/services/aggregators/sdk/argyle_service_spec.rb
  app/spec/support/argyle_api_helper.rb
  app/spec/support/fixtures/argyle/bob/request_gigs.json
  app/spec/support/fixtures/argyle/bob/request_gigs_page_2.json
  app/spec/support/fixtures/argyle/busy_joe/request_paystubs.json
  app/spec/support/fixtures/argyle/busy_joe/request_paystubs_page_2.json
Due: rubocop

changed from last 4 to obfuscated ssn XXX-XX-#### format
  app/app/services/aggregators/format_methods/argyle.rb
  app/app/services/aggregators/response_objects/identity.rb
  app/spec/services/aggregators/response_objects/identity_spec.rb
Due: rubocop

Fix one more test case
  app/spec/services/aggregators/response_objects/identity_spec.rb
Due: rubocop

Obfuscate SSN to last 4 digits for argyle (#635)
  app/app/services/aggregators/format_methods/argyle.rb
  app/app/services/aggregators/response_objects/identity.rb
  app/spec/services/aggregators/response_objects/identity_spec.rb
Due: rubocop

FFS-2716 Generic link URL is the home page for Louisana (#627)
  app/app/controllers/pages_controller.rb
  app/spec/controllers/api/argyle_controller_spec.rb
  app/spec/controllers/application_controller_spec.rb
  app/spec/controllers/cbv/generic_links_controller_spec.rb
  app/spec/controllers/pages_controller_spec.rb
Due: rubocop

implemented LA copy
  app/app/mailers/applicant_mailer.rb
  app/app/views/applicant_mailer/invitation_email.html.erb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/spec/factories/cbv_flow_invitation.rb
  app/spec/mailers/previews/applicant_mailer_preview.rb
Due: rubocop, erblint, i18n-normalize, i18n-missing

Turbo frames for confirmation code
  app/app/controllers/cbv/successes_controller.rb
  app/app/views/cbv/successes/_confirmation_code.html.erb
  app/app/views/cbv/successes/show.html.erb
  app/config/routes.rb
Due: rubocop, erblint

tested ssn
  app/app/components/aggregate_data_point_component.rb
  app/app/views/cbv/submits/show.pdf.erb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/spec/controllers/cbv/submits_controller_spec.rb
Due: rubocop, erblint, i18n-normalize, i18n-missing

Update app/app/views/cbv/submits/show.pdf.erb
  app/app/views/cbv/submits/show.pdf.erb
Due: erblint

fix: upgrade dotenv from 16.4.7 to 16.5.0
  e2e/package-lock.json
  e2e/package.json
Due: none

fixed rspec test
  app/spec/mailers/caseworker_mailer_spec.rb
Due: rubocop

FFS-2688: implemented updated copy for the incoming caseworker email (#636)
  app/app/views/caseworker_mailer/summary_email.html.erb
  app/config/locales/en.yml
  app/spec/mailers/caseworker_mailer_spec.rb
  app/spec/mailers/previews/caseworker_mailer_preview.rb
Due: rubocop, erblint, i18n-normalize, i18n-missing

committing changes but probably will abandon this one
  app/app/views/applicant_mailer/invitation_email.html.erb
  app/config/locales/en.yml
  app/spec/mailers/applicant_mailer_spec.rb
Due: rubocop, erblint, i18n-normalize, i18n-missing

fix: upgrade dotenv from 16.4.7 to 16.5.0 (#642)
  e2e/package-lock.json
  e2e/package.json
Due: none

Route and config updates
  app/config/routes.rb
Due: rubocop

Tests, disable h1 check for turbo
  app/spec/controllers/cbv/successes_controller_spec.rb
  app/spec/support/title_checker_helper.rb
Due: rubocop

implemented /employer_search and /help copy changes
  app/app/controllers/application_controller.rb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: rubocop, i18n-normalize, i18n-missing

implemented employer seach changes
  app/app/views/cbv/employer_searches/show.html.erb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: erblint, i18n-normalize, i18n-missing

implemented copy changes for /entry
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: i18n-normalize, i18n-missing

Revert turbo
  app/app/controllers/cbv/successes_controller.rb
  app/app/views/cbv/successes/_confirmation_code.html.erb
  app/app/views/cbv/successes/show.html.erb
  app/config/routes.rb
  app/spec/controllers/cbv/successes_controller_spec.rb
  app/spec/support/title_checker_helper.rb
Due: rubocop, erblint

Move confirmation_code gen to submits_controller.rb
  app/app/controllers/cbv/submits_controller.rb
  app/app/jobs/case_worker_transmitter_job.rb
Due: rubocop

initial commit
  app/app/models/cbv_applicant.rb
  app/app/models/cbv_applicant/la_ldh.rb
  app/app/views/cbv/applicant_informations/_la_ldh.html.erb
  app/app/views/cbv/applicant_informations/_sandbox.html.erb
  app/config/client-agency-config.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/db/migrate/20250502183636_add_date_of_birth_to_cbv_applicant.rb
  app/db/schema.rb
  app/spec/controllers/cbv/applicant_informations_controller_spec.rb
  app/spec/factories/cbv_applicant.rb
  app/spec/models/cbv_applicant_spec.rb
Due: rubocop, erblint, i18n-normalize, i18n-missing

ran linter
  app/spec/models/cbv_applicant_spec.rb
Due: rubocop

moving date_of_birth test variable up in scope so that it's available in multiple tests
  app/config/locales/es.yml
  app/spec/models/cbv_applicant_spec.rb
Due: rubocop, i18n-normalize, i18n-missing

cleaning up tests
  app/spec/models/cbv_applicant_spec.rb
Due: rubocop

reverting spanish translations for the time being
  app/config/locales/es.yml
Due: i18n-normalize, i18n-missing

Path conditions:
  rubocop: any of: ^app/.*\.rb$
  erblint: any of: ^app/.*\.erb$
  i18n-normalize: any of: ^app/config/locales/.*\.yml$
  i18n-missing: any of: ^app/config/locales/.*\.yml$
  shellcheck: any of: ^bin/.*$
  prettier: any of: ^app/.*\.(js|ts)$
