Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-unused, i18n-normalize, shellcheck, prettier, terraform_fmt, actionlint

rubocop:
  name: rubocop
  entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
  language: system

erblint:
  name: erblint
  entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
  language: system

i18n-unused:
  name: i18n-unused
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks unused
  language: system
  pass_filenames: false

i18n-normalize:
  name: i18n-normalize
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
  language: system
  pass_filenames: false

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system

prettier:
  name: prettier
  entry: bin/run-linter --cd app -- npm run format:precommit
  language: node

terraform_fmt:
  name: Terraform Fmt
  entry: terraform fmt
  language: system

actionlint:
  name: ActionLint
  entry: actionlint
  language: system
  pass_filenames: false

fix: patch Dockerfile for OS-level CVEs flagged by Trivy/Anchore
  app/Dockerfile
Due: none

Update ignore_missing
  app/config/i18n-tasks.yml
Due: none

Update preheader
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: i18n-unused, i18n-normalize

FFS-4108 & FFS-4109: Implement NH logo in header + Implement NH agency reference variables (#1609)
  app/app/assets/images/nh_dhhs_logo.png
  app/app/views/application/_header.html.erb
  app/config/client-agency-config.yml
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: erblint, i18n-unused, i18n-normalize

refined and debugged
  app/app/controllers/activities/base_controller.rb
  app/app/controllers/activities/education_controller.rb
  app/app/controllers/activities/employment_controller.rb
  app/app/controllers/activities/job_training_controller.rb
  app/app/controllers/activities/volunteering_controller.rb
Due: rubocop

cleanup
  app/app/controllers/activities/income/synchronizations_controller.rb
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/app/controllers/webhooks/pinwheel/events_controller.rb
  app/spec/controllers/activities/income/synchronizations_controller_spec.rb
  app/spec/controllers/webhooks/argyle/events_controller_spec.rb
  app/spec/controllers/webhooks/pinwheel/events_controller_spec.rb
Due: rubocop

Remove unnecessary blank line in SynchronizationsController
  app/app/controllers/activities/income/synchronizations_controller.rb
Due: rubocop

Redact invites 7 days after expiration (#1606)
  app/app/models/cbv_flow_invitation.rb
  app/app/services/data_retention_service.rb
  app/spec/controllers/cbv/entries_controller_spec.rb
  app/spec/services/data_retention_service_spec.rb
Due: rubocop

Allow run-command on PR envs
  bin/run-command
Due: shellcheck

Progress calculator handles renewals
  app/app/components/activity_flow_progress_indicator.rb
  app/app/controllers/demo_launcher_controller.rb
  app/app/controllers/flow_controller.rb
  app/app/helpers/activities_helper.rb
  app/app/models/activity_flow.rb
  app/app/models/flow.rb
  app/app/services/activity_flow_progress_calculator.rb
  app/app/views/activities/activities/index.html.erb
  app/app/views/demo_launcher/show.html.erb
  app/db/migrate/20260413203000_add_renewal_required_months_to_activity_flows.rb
  app/db/schema.rb
  app/lib/client_agency_config.rb
  app/spec/components/activity_flow_progress_indicator_component_spec.rb
  app/spec/controllers/activities/activities_controller_spec.rb
  app/spec/controllers/demo_launcher_controller_spec.rb
  app/spec/helpers/activities_helper_spec.rb
  app/spec/lib/client_agency_config_spec.rb
  app/spec/models/activity_flow_spec.rb
  app/spec/services/activity_flow_progress_calculator_spec.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.pdf
Due: rubocop, erblint

Prefix agency with device id for feedback
  app/app/controllers/feedbacks_controller.rb
  app/spec/controllers/feedbacks_controller_spec.rb
Due: rubocop

changed my mind about a refactor
  app/app/controllers/activities/base_controller.rb
  app/app/controllers/activities/education_controller.rb
  app/app/controllers/activities/employment_controller.rb
  app/app/controllers/activities/job_training_controller.rb
  app/app/controllers/activities/volunteering_controller.rb
Due: rubocop

Fix spec
  app/spec/controllers/feedbacks_controller_spec.rb
Due: rubocop

Adjust demo launcher layout and style
  app/app/assets/stylesheets/demo-launcher.scss
  app/app/javascript/controllers/demo_launcher_controller.js
  app/app/views/demo_launcher/show.html.erb
Due: erblint, prettier

lots of cleanup
  app/app/controllers/activities/base_controller.rb
  app/app/controllers/activities/education_controller.rb
  app/app/models/activity_flow.rb
  app/spec/controllers/activities/education_controller_spec.rb
  app/spec/controllers/activities/employment_controller_spec.rb
  app/spec/controllers/activities/income/payment_details_controller_spec.rb
  app/spec/controllers/activities/job_training_controller_spec.rb
  app/spec/controllers/activities/volunteering_controller_spec.rb
  app/spec/models/activity_flow_spec.rb
Due: rubocop

Prefix agency with device id for survey
  app/app/controllers/feedbacks_controller.rb
  app/app/helpers/application_helper.rb
  app/spec/controllers/feedbacks_controller_spec.rb
Due: rubocop

Fix issue where stale workspaces were used
  bin/run-command
Due: shellcheck

Read correct flow from session
  app/app/controllers/feedbacks_controller.rb
  app/spec/controllers/feedbacks_controller_spec.rb
Due: rubocop

fix for partially-self-attested education flows
  app/app/controllers/activities/education_controller.rb
Due: rubocop

FFS-4069: Prefix agency with device id for feedback (#1611)
  app/app/controllers/feedbacks_controller.rb
  app/app/helpers/application_helper.rb
  app/spec/controllers/feedbacks_controller_spec.rb
Due: rubocop

Ensure .terraform exists
  bin/run-command
Due: shellcheck

Allow run-command on PR envs (#1613)
  bin/run-command
Due: shellcheck

FFS-4081: Add `gross_pay_list` to JSON API paystubs object (#1607)
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/spec/services/aggregators/aggregator_reports/aggregator_report_spec.rb
Due: rubocop

Improve docs for JSON API Receiver
  README.md
  app/lib/json_api_receiver.rb
Due: rubocop

Remove la + az reference on welcome page
  app/app/views/pages/home.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: erblint, i18n-unused, i18n-normalize

Rename description_3 to _2, because counting
  app/app/views/pages/home.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: erblint, i18n-unused, i18n-normalize

Add Avery TestUser
  app/app/views/demo_launcher/show.html.erb
  app/lib/demo_launcher/fake_nsc_scenarios.rb
  app/spec/controllers/demo_launcher_controller_spec.rb
  app/spec/lib/demo_launcher/fake_nsc_scenarios_spec.rb
Due: rubocop, erblint

Improve docs for JSON API Receiver (#1614)
  README.md
  app/lib/json_api_receiver.rb
Due: rubocop

FFS-3921: Update progress calculator to handle renewals (#1612)
  app/app/assets/stylesheets/demo-launcher.scss
  app/app/components/activity_flow_progress_indicator.rb
  app/app/controllers/demo_launcher_controller.rb
  app/app/controllers/flow_controller.rb
  app/app/helpers/activities_helper.rb
  app/app/javascript/controllers/demo_launcher_controller.js
  app/app/models/activity_flow.rb
  app/app/models/flow.rb
  app/app/services/activity_flow_progress_calculator.rb
  app/app/views/activities/activities/index.html.erb
  app/app/views/demo_launcher/show.html.erb
  app/db/migrate/20260413203000_add_renewal_required_months_to_activity_flows.rb
  app/db/schema.rb
  app/lib/client_agency_config.rb
  app/lib/demo_launcher/fake_nsc_scenarios.rb
  app/spec/components/activity_flow_progress_indicator_component_spec.rb
  app/spec/controllers/activities/activities_controller_spec.rb
  app/spec/controllers/demo_launcher_controller_spec.rb
  app/spec/helpers/activities_helper_spec.rb
  app/spec/lib/client_agency_config_spec.rb
  app/spec/lib/demo_launcher/fake_nsc_scenarios_spec.rb
  app/spec/models/activity_flow_spec.rb
  app/spec/services/activity_flow_progress_calculator_spec.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.pdf
Due: rubocop, erblint, prettier

Updates should be removed manually
  .github/scripts/patch-dockerfile.rb
  .github/workflows/auto-fix-vulnerabilities.yml
Due: actionlint

first edits
  CONTRIBUTING.md
  README.md
Due: none

first edits
  README.md
Due: none

Links to cms gov page
  README.md
Due: none

Fix 0 community service hours in CE PDF report
  app/app/views/activities/submit/show.pdf.erb
  app/spec/controllers/activities/submit_controller_spec.rb
Due: rubocop, erblint

Path conditions:
  rubocop: any of: ^app/.*\.rb$
  erblint: any of: ^app/.*\.erb$
  i18n-unused: any of: ^app/config/locales/.*\.yml$
  i18n-normalize: any of: ^app/config/locales/.*\.yml$
  shellcheck: any of: ^bin/.*$
  prettier: any of: ^app/.*\.(js|ts)$
  terraform_fmt: any of: infra/.*\.tf$
  actionlint: any of: ^.github/.*\.yml$
