Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-normalize, i18n-missing

rubocop:
  name: rubocop
  entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect
  language: ruby

erblint:
  name: erblint
  entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
  language: ruby

i18n-normalize:
  name: i18n-normalize
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
  language: ruby
  pass_filenames: false

i18n-missing:
  name: i18n-missing
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks missing
  language: ruby
  pass_filenames: false

minor corrections
  app/app/controllers/cbv/applicant_informations_controller.rb
  app/app/views/cbv/applicant_informations/_sandbox.html.erb
  app/config/locales/en.yml
Due: rubocop, erblint, i18n-normalize, i18n-missing

fixed submits controller
  app/app/controllers/cbv/submits_controller.rb
  app/spec/controllers/cbv/submits_controller_spec.rb
Due: rubocop

added analytics
  app/app/controllers/cbv/applicant_informations_controller.rb
Due: rubocop

added webhook stubs- not currently being used
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/app/models/payroll_account.rb
  app/app/models/payroll_account/argyle.rb
  app/app/services/argyle_service.rb
  app/app/services/argyle_webhooks_manager.rb
  app/spec/controllers/webhooks/argyle/events_controller_spec.rb
  app/spec/factories/payroll_account.rb
  app/spec/factories/webhook_request.rb
  app/spec/support/fixtures/argyle/request_create_webhook_subscription.json
  app/spec/support/fixtures/argyle/response_create_webhook_subscription.json
  app/spec/support/fixtures/argyle/response_get_webhook_subscriptions.json
  app/spec/support/fixtures/argyle/webhook_accounts.connected.json
  app/spec/support/fixtures/argyle/webhook_gigs.fully_synced.json
  app/spec/support/fixtures/argyle/webhook_identities.added.json
  app/spec/support/fixtures/argyle/webhook_paystubs.fully_synced.json
  app/spec/support/fixtures/argyle/webhook_users.fully_synced.json
  app/spec/support/fixtures/argyle/webhooks/users.fully_synced.json
Due: rubocop

fixed all tests?!?
  app/app/services/aggregators/aggregator_reports/argyle_report.rb
  app/app/services/aggregators/aggregator_reports/pinwheel_report.rb
  app/spec/helpers/cbv/aggregator_data_helper_spec.rb
  app/spec/services/aggregators/aggregator_reports/argyle_report_spec.rb
Due: rubocop

passing vars properly
  app/app/services/aggregators/aggregator_reports/pinwheel_report.rb
Due: rubocop

added rspec tests for /applicant_informations
  app/app/controllers/cbv/applicant_informations_controller.rb
  app/spec/controllers/cbv/applicant_informations_controller_spec.rb
  app/spec/factories/cbv_flow.rb
Due: rubocop

DRY and fixed date tests
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/app/services/aggregators/aggregator_reports/argyle_report.rb
  app/app/services/aggregators/aggregator_reports/pinwheel_report.rb
  app/spec/services/aggregators/aggregator_reports/pinwheel_report_spec.rb
Due: rubocop

unfortunately had to add :invited due to FactoryBot restrictions
  app/app/controllers/cbv/applicant_informations_controller.rb
  app/spec/controllers/api/pinwheel_controller_spec.rb
  app/spec/controllers/cbv/add_jobs_controller_spec.rb
  app/spec/controllers/cbv/applicant_informations_controller_spec.rb
  app/spec/controllers/cbv/employer_searches_controller_spec.rb
  app/spec/controllers/cbv/entries_controller_spec.rb
  app/spec/controllers/cbv/missing_results_controller_spec.rb
  app/spec/controllers/cbv/payment_details_controller_spec.rb
  app/spec/controllers/cbv/sessions_controller_spec.rb
  app/spec/controllers/cbv/submits_controller_spec.rb
  app/spec/controllers/cbv/successes_controller_spec.rb
  app/spec/controllers/cbv/summaries_controller_spec.rb
  app/spec/controllers/cbv/synchronization_failures_spec.rb
  app/spec/controllers/cbv/synchronizations_spec.rb
  app/spec/controllers/help_controller_spec.rb
  app/spec/controllers/pages_controller_spec.rb
  app/spec/controllers/webhooks/pinwheel/events_controller_spec.rb
  app/spec/e2e/help_feature_spec.rb
  app/spec/factories/cbv_flow.rb
  app/spec/helpers/cbv/pinwheel_data_helper_spec.rb
  app/spec/mailers/caseworker_mailer_spec.rb
  app/spec/mailers/weekly_report_mailer_spec.rb
  app/spec/models/payroll_account/pinwheel_spec.rb
  app/spec/services/data_retention_service_spec.rb
Due: rubocop

added a parameter to a string token
  app/app/views/cbv/applicant_informations/show.html.erb
  app/config/locales/en.yml
Due: erblint, i18n-normalize, i18n-missing

Upgrade vite 6.1.0 -> 6.2.3
  app/package-lock.json
Due: none

finished testing composite_report
  app/app/helpers/cbv/aggregator_data_helper.rb
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/app/services/aggregators/aggregator_reports/argyle_report.rb
  app/app/services/aggregators/aggregator_reports/composite_report.rb
  app/spec/factories/aggregator_report.rb
  app/spec/services/aggregators/aggregator_reports/composite_report_spec.rb
Due: rubocop

made aggregator_data_helper work with blended results
  app/app/helpers/cbv/aggregator_data_helper.rb
Due: rubocop

Webhooks are being properly consumed. will need to revisit the logic that checks if the sync is complete and connect with Jeff
  app/app/controllers/api/argyle_controller.rb
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/app/services/argyle_service.rb
  app/spec/controllers/webhooks/argyle/events_controller_spec.rb
  app/spec/factories/webhook_request.rb
Due: rubocop

Add uswds error class conditionally on input fields
  app/app/views/caseworker/cbv_flow_invitations/_sandbox.html.erb
Due: erblint

initial commit
  README.md
  app/app/controllers/cbv/employer_searches_controller.rb
  app/app/models/response_objects/search_result.rb
  app/app/services/pinwheel_service.rb
  app/app/services/provider_search_service.rb
  app/app/views/cbv/employer_searches/_employer.html.erb
  app/app/views/cbv/employer_searches/show.html.erb
  app/spec/services/provider_search_service_spec.rb
Due: rubocop, erblint

update manual namespacing of stubbing out pinwheel/argyle api calls
  app/app/controllers/cbv/employer_searches_controller.rb
  app/app/services/provider_search_service.rb
  app/spec/controllers/api/pinwheel_controller_spec.rb
  app/spec/controllers/cbv/employer_searches_controller_spec.rb
  app/spec/controllers/cbv/payment_details_controller_spec.rb
  app/spec/controllers/cbv/submits_controller_spec.rb
  app/spec/controllers/cbv/successes_controller_spec.rb
  app/spec/controllers/cbv/summaries_controller_spec.rb
  app/spec/controllers/webhooks/pinwheel/events_controller_spec.rb
  app/spec/helpers/cbv/pinwheel_data_helper_spec.rb
  app/spec/services/argyle_service_spec.rb
  app/spec/services/pinwheel_service_spec.rb
  app/spec/services/provider_search_service_spec.rb
Due: rubocop

Upgrade vite 6.1.0 -> 6.2.3 (#520)
  app/package-lock.json
Due: none

updating tests
  app/app/controllers/cbv/employer_searches_controller.rb
  app/lib/new_relic_event_tracker.rb
  app/spec/controllers/cbv/employer_searches_controller_spec.rb
  app/spec/controllers/cbv/submits_controller_spec.rb
  app/spec/support/argyle_api_helper.rb
  app/spec/support/pinwheel_api_helper.rb
Due: rubocop

added placeholder for failing argyle events
  app/spec/models/payroll_account/argyle_spec.rb
Due: rubocop

Conditionally apply error class to items that have nested errors on parent
  app/app/views/caseworker/cbv_flow_invitations/_sandbox.html.erb
Due: erblint

Add USE_SYSTEM_WKHTMLTOPDF override for Cle
  README.md
  app/.env
  app/config/initializers/wicked_pdf.rb
Due: rubocop

remove / on meta
  app/app/views/layouts/application.html.erb
Due: erblint

fix erb errors
  app/app/views/cbv/employer_searches/show.html.erb
  app/app/views/cbv/payment_details/show.html.erb
  app/app/views/cbv/summaries/show.html.erb
  app/app/views/layouts/help.html.erb
Due: erblint

Add more classes and styling
  app/app/views/caseworker/cbv_flow_invitations/_sandbox.html.erb
Due: erblint

main logic for gig written based on aggregator_report refactor. need to test
  app/app/models/payroll_account/pinwheel.rb
  app/app/models/response_objects/format_methods/argyle.rb
  app/app/models/response_objects/format_methods/pinwheel.rb
  app/app/models/response_objects/gig.rb
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/app/services/aggregators/aggregator_reports/argyle_report.rb
  app/app/services/aggregators/response_objects/gig.rb
  app/app/services/aggregators/sdk/argyle_service.rb
  app/db/migrate/20250328011255_add_gigs_synced.rb
  app/db/schema.rb
  app/spec/services/aggregators/aggregator_reports/argyle_report_spec.rb
  app/spec/services/aggregators/sdk/argyle_service_spec.rb
  docs/app/rendered/database-schema.pdf
Due: rubocop

Apply suggestions from code review
  app/app/controllers/cbv/payment_details_controller.rb
  app/app/helpers/cbv/aggregator_data_helper.rb
  app/app/services/aggregators/aggregator_reports/argyle_report.rb
  app/app/services/aggregators/sdk/argyle_service.rb
  app/app/services/aggregators/sdk/pinwheel_service.rb
  app/spec/factories/aggregator_report.rb
Due: rubocop

Add USE_SYSTEM_WKHTMLTOPDF override for Cle (#521)
  README.md
  app/.env
  app/config/initializers/wicked_pdf.rb
Due: rubocop

Remove config for NGROK_URL and CBV_INVITE_SECRET
  app/.env
  infra/app/app-config/env-config/environment-variables.tf
Due: none

Remove config for NGROK_URL and CBV_INVITE_SECRET (#522)
  app/.env
  infra/app/app-config/env-config/environment-variables.tf
Due: none

Fix all the borked styling, match original
  app/app/views/caseworker/cbv_flow_invitations/_ma.html.erb
  app/app/views/caseworker/cbv_flow_invitations/_nyc.html.erb
  app/app/views/caseworker/cbv_flow_invitations/_sandbox.html.erb
Due: erblint

save progress
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/app/services/aggregators/format_methods/argyle.rb
  app/config/database.yml
  app/spec/rails_helper.rb
  app/spec/services/aggregators/aggregator_reports/argyle_report_spec.rb
Due: rubocop

one batch of CR comment updates
  app/app/controllers/caseworker/cbv_flow_invitations_controller.rb
  app/app/controllers/cbv/add_jobs_controller.rb
  app/app/controllers/cbv/applicant_informations_controller.rb
  app/app/controllers/cbv/base_controller.rb
  app/app/views/cbv/summaries/show.html.erb
  app/config/client-agency-config.yml
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/lib/client_agency_config.rb
Due: rubocop, erblint, i18n-normalize, i18n-missing

revert changes on layout files
  app/app/views/layouts/application.html.erb
  app/app/views/layouts/help.html.erb
  app/app/views/layouts/pdf.pdf.erb
Due: erblint

fix erb
  app/app/views/cbv/employer_searches/show.html.erb
Due: erblint

fix linting
  app/app/views/cbv/employer_searches/show.html.erb
Due: erblint

one last whitespace issue
  app/app/views/cbv/employer_searches/show.html.erb
Due: erblint

fixed whitespace for summaries view
  app/app/views/cbv/summaries/show.html.erb
Due: erblint

fixed more whitespace
  app/app/views/cbv/payment_details/show.html.erb
Due: erblint

Path conditions:
  rubocop: any of: ^app/.*\.rb$
  erblint: any of: ^app/.*\.erb$
  i18n-normalize: any of: ^app/config/locales/.*.yml$
  i18n-missing: any of: ^app/config/locales/.*.yml$
