Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-unused, i18n-normalize, shellcheck, prettier, terraform_fmt, actionlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml

- repo: local
  hooks:
  - id: rubocop
    name: rubocop
    entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
    language: system
    files: '^app/.*\.rb$'

  # this rubocop hook works on windows/wsl, and is being left here as of 8/27/2025 to figure it out at some point
  #- id: rubocop
  #  name: rubocop
  #  language: system
  #  entry: bash -lc 'BUNDLE_GEMFILE=app/Gemfile cd app && bundle exec rubocop -a --force-exclusion'
  #  types: [ ruby ]
  #  files: '^app/.*\.rb$'
  #  pass_filenames: false

  - id: erblint
    name: erblint
    entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
    language: system
    files: '^app/.*\.erb$'

  - id: i18n-unused
    name: i18n-unused
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks unused
    language: system
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: i18n-normalize
    name: i18n-normalize
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
    language: system
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system        # installed via `brew bundle`
    files: '^bin/.*$'

  - id: prettier
    name: prettier
    entry: bin/run-linter --cd app -- npm run format:precommit
    language: node
    files: '^app/.*\.(js|ts)$'

  - id: terraform_fmt
    name: Terraform Fmt
    entry: terraform fmt
    language: system
    files: 'infra/.*\.tf$'

#  - id: checkov
#    name: Checkov
#    entry: checkov --quiet --output sarif --framework terraform -f
#    language: system
#    files: 'infra/.*\.tf$'

  - id: actionlint
    name: ActionLint
    entry: actionlint
    language: system
    files: '^.github/.*\.yml$'
    pass_filenames: false

Update markdown link checker to retry on 429 status (#2108)
  .github/workflows/markdownlint-config.json
Due: none

Update month selection and monthly details pages for unpaid/in-kind work
  app/app/controllers/activities/employment/months_controller.rb
  app/app/views/activities/employment/month_selections/edit.html.erb
  app/app/views/activities/employment/months/edit.html.erb
  app/config/locales/en.yml
  app/spec/controllers/activities/employment/month_selections_controller_spec.rb
  app/spec/controllers/activities/employment/months_controller_spec.rb
  app/spec/e2e/employment_unpaid_information_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Add employment focused activity flow
  app/app/controllers/api/v2/invitations_controller.rb
  app/app/models/activity_flow.rb
  app/app/services/cbv_invitation_service.rb
  app/db/migrate/20260928165029_add_employment_focused_to_activity_flow_invitation.rb
  app/db/schema.rb
  app/spec/controllers/api/v2/invitations_controller_spec.rb
  app/spec/models/activity_flow_invitation_spec.rb
  app/spec/models/activity_flow_spec.rb
  app/spec/services/cbv_invitation_service_spec.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.mmd
Due: rubocop

Fix Axe failures in E2E tests from Turbo navigation (#2099)
  app/spec/e2e/activity_hub_spec.rb
  app/spec/support/e2e/test_helpers.rb
Due: rubocop

tests: don't accept truthy values. only string 'true'
  app/spec/lib/nsc_spec.rb
Due: rubocop

FFS-4713 Add an environment variable to disable NSC in a given environment, forcing the Education flow to self-attestation only. (#2047)
  app/.env.local.example
  app/app/controllers/activities/base_controller.rb
  app/app/controllers/activities/education/add_your_education_controller.rb
  app/app/controllers/activities/education/term_credit_hours_controller.rb
  app/app/controllers/activities/education_controller.rb
  app/app/controllers/application_controller.rb
  app/app/helpers/application_helper.rb
  app/app/views/activities/education/error.html.erb
  app/lib/nsc.rb
  app/spec/controllers/activities/education/add_your_education_controller_spec.rb
  app/spec/controllers/activities/education/term_credit_hours_controller_spec.rb
  app/spec/controllers/activities/education_controller_spec.rb
  app/spec/controllers/application_controller_spec.rb
  app/spec/helpers/application_helper_spec.rb
  app/spec/lib/nsc_spec.rb
  app/spec/support/context/activity_hub.rb
  docs/local-replication.md
Due: rubocop, erblint

FFS-4843: Fix redaction for Argyle accounts linked previously (#2097)
  app/app/models/payroll_account/argyle.rb
  app/spec/models/payroll_account/argyle_spec.rb
Due: rubocop

FFS-4855 Create employment activity flow data model (#2106)
  app/app/controllers/launcher_controller.rb
  app/app/models/activity_flow.rb
  app/app/views/launcher/advanced.html.erb
  app/db/migrate/20260925134850_add_employment_focused_to_activity_flows.rb
  app/db/schema.rb
  app/spec/models/activity_flow_spec.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.mmd
Due: rubocop, erblint

Fix failing tests
  app/app/controllers/api/v2/invitations_controller.rb
  app/config/locales/en.yml
  app/spec/controllers/api/v2/invitations_controller_spec.rb
Due: rubocop, i18n-unused, i18n-normalize

Update tests and fix failures
  app/app/models/activity_flow.rb
  app/spec/controllers/api/v2/invitations_controller_spec.rb
  app/spec/models/activity_flow_spec.rb
Due: rubocop

Handle errors
  app/app/controllers/api/v2/invitations_controller.rb
  app/spec/controllers/api/v2/invitation_metadata_spec.rb
Due: rubocop

FFS-4807: Update month selection and monthly details pages for unpaid/in-kind work in Emmy CE manual reporting flow (#2111)
  app/app/controllers/activities/employment/months_controller.rb
  app/app/views/activities/employment/month_selections/edit.html.erb
  app/app/views/activities/employment/months/edit.html.erb
  app/config/locales/en.yml
  app/spec/controllers/activities/employment/month_selections_controller_spec.rb
  app/spec/controllers/activities/employment/months_controller_spec.rb
  app/spec/e2e/employment_unpaid_information_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Fix tests
  app/app/models/activity_flow.rb
  app/spec/models/activity_flow_spec.rb
Due: rubocop

Release v0.9.0
  CHANGELOG.md
  app/version.txt
  code.json
Due: none

Release v0.9.0 (#2122)
  CHANGELOG.md
  app/version.txt
  code.json
Due: none

Update error handling
  app/app/controllers/api/v2/invitations_controller.rb
  app/app/services/cbv_invitation_service.rb
Due: rubocop

Certificate expiration checks now read HUB_CERT / HUB_CERT_PATH, matching the FDSH entrypoint configuration. Added some features for newrelic and cloudwatch
  app/app/jobs/record_batched_newrelic_metrics_job.rb
  app/app/services/aggregators/sdk/nsc_certificate_service.rb
  app/app/services/aggregators/sdk/nsc_fdsh_service.rb
  app/spec/services/aggregators/sdk/nsc_certificate_service_spec.rb
  app/spec/services/aggregators/sdk/nsc_fdsh_service_spec.rb
Due: rubocop

FFS-4389: Generate and publish OpenAPI developer documentation (#2107)
  .github/workflows/api-docs.yml
  .github/workflows/rspec.yml
  app/.rubocop.yml
  app/Gemfile
  app/Gemfile.lock
  app/lib/tasks/api_docs.rake
  app/package-lock.json
  app/package.json
  app/spec/openapi/invitation_documentation.rb
  app/spec/openapi/invitation_documentation_spec.rb
  app/spec/openapi/invitation_schemas.rb
  app/spec/openapi/invitation_schemas_spec.rb
  app/spec/requests/api/invitations_spec.rb
  app/spec/swagger_helper.rb
  docs/api/README.md
  docs/api/agency-partner-metadata.md
  docs/api/ce-activity-report.md
  docs/api/income-report.md
  docs/api/overview.md
  docs/api/pdf-transmission.md
  docs/api/post-v1-invitations.md
  docs/api/request-api-access.md
  docs/api/tokenized-link.md
  docs/local-replication.md
Due: rubocop, actionlint

FFS-4389: Update API Docs generation to occur on DSACMS/iv-cbv-payroll
  .github/workflows/api-docs.yml
  app/spec/openapi/invitation_documentation.rb
  docs/api/README.md
  docs/api/overview.md
  docs/local-replication.md
Due: rubocop, actionlint

FFS-4389: Update API Docs generation to occur on DSACMS/iv-cbv-payroll (#2123)
  .github/workflows/api-docs.yml
  app/spec/openapi/invitation_documentation.rb
  docs/api/README.md
  docs/api/overview.md
  docs/local-replication.md
Due: rubocop, actionlint

wip initial page layout and content
  app/app/controllers/pages_controller.rb
  app/app/views/pages/activity_flow_timeout.html.erb
  app/config/locales/en.yml
Due: rubocop, erblint, i18n-unused, i18n-normalize

ensure page has an h1
  app/app/views/pages/activity_flow_timeout.html.erb
Due: erblint

spacing, width
  app/app/views/pages/activity_flow_timeout.html.erb
Due: erblint

tests
  app/spec/controllers/pages_controller_spec.rb
  app/spec/e2e/timeout_spec.rb
Due: rubocop

Update doc upload and review pages for unpaid/in-kind work
  app/app/models/concerns/document_uploadable.rb
  app/app/models/employment_activity.rb
  app/app/views/activities/document_uploads/new.html.erb
  app/app/views/activities/employment/review.html.erb
  app/config/locales/en.yml
  app/spec/controllers/activities/document_uploads_controller_spec.rb
  app/spec/controllers/activities/employment_controller_spec.rb
  app/spec/e2e/employment_unpaid_information_spec.rb
  app/spec/models/employment_activity_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

use relative keys, update tests, remove logic in home template
  app/app/views/pages/activity_flow_timeout.html.erb
  app/app/views/pages/home.html.erb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/spec/controllers/pages_controller_spec.rb
  app/spec/e2e/timeout_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

FFS-4770: Add employment activities to CE JSON reports
  app/app/services/activity_report_serializer.rb
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/spec/e2e/activity_hub_employment_self_attestation_spec.rb
  app/spec/services/activity_report_serializer_spec.rb
  app/spec/services/transmitters/activity_json_transmitter_spec.rb
  docs/api/ce-activity-report.md
  docs/api/samples/ce-activity-report.json
  docs/api/samples/ce-employment-reports.json
  docs/api/schemas/ce-activity-report-2026-09-01.json
Due: rubocop

use more generic message, update tests
  app/app/views/pages/activity_flow_timeout.html.erb
  app/config/locales/en.yml
  app/spec/controllers/pages_controller_spec.rb
  app/spec/e2e/timeout_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

FFS-4808: Update doc upload and review pages for unpaid/in-kind work in Emmy CE manual reporting flow (#2125)
  app/app/models/concerns/document_uploadable.rb
  app/app/models/employment_activity.rb
  app/app/views/activities/document_uploads/new.html.erb
  app/app/views/activities/employment/review.html.erb
  app/config/locales/en.yml
  app/spec/controllers/activities/document_uploads_controller_spec.rb
  app/spec/controllers/activities/employment_controller_spec.rb
  app/spec/e2e/employment_unpaid_information_spec.rb
  app/spec/models/employment_activity_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

a couple copy edits, remove ActivityFlowHeaderComponent from employment focused pages where we don't want it
  app/Gemfile.lock
  app/app/components/activity_flow_header_component.rb
  app/app/views/activities/document_uploads/new.html.erb
  app/app/views/activities/employment/add_your_work/show.html.erb
  app/app/views/activities/employment/edit.html.erb
  app/app/views/activities/employment/month_selections/edit.html.erb
  app/app/views/activities/employment/months/edit.html.erb
  app/app/views/activities/employment/new.html.erb
  app/app/views/activities/employment/review.html.erb
  app/app/views/activities/income/employer_searches/show.html.erb
  app/app/views/activities/income/payment_details/show.html.erb
  app/app/views/activities/income/synchronization_failures/show.html.erb
  app/config/locales/en.yml
  app/spec/controllers/activities/document_uploads_controller_spec.rb
  app/spec/controllers/activities/employment/add_your_work_controller_spec.rb
  app/spec/controllers/activities/employment/month_selections_controller_spec.rb
  app/spec/controllers/activities/employment/months_controller_spec.rb
  app/spec/controllers/activities/employment_controller_spec.rb
  app/spec/controllers/activities/income/employer_searches_controller_spec.rb
  app/spec/controllers/activities/income/payment_details_controller_spec.rb
  app/spec/e2e/activity_hub_employment_self_attestation_spec.rb
  app/spec/support/shared_examples/employment_focused_activity_header_examples.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

fix terraform dependency issue
  infra/modules/service/outputs.tf
Due: terraform_fmt

Add Mixpanel events for employment month selection page
  app/app/controllers/activities/base_controller.rb
  app/app/controllers/activities/employment/month_selections_controller.rb
  app/app/models/track_event.rb
  app/spec/controllers/activities/employment/month_selections_controller_spec.rb
Due: rubocop

table fix
  docs/api/pdf-transmission.md
Due: none

FFS-4850: Add Mixpanel events for employment month selection page (#2126)
  app/app/controllers/activities/base_controller.rb
  app/app/controllers/activities/employment/month_selections_controller.rb
  app/app/models/track_event.rb
  app/spec/controllers/activities/employment/month_selections_controller_spec.rb
Due: rubocop

No ticket: Update PR template to include new test deployment job link
  .github/pull_request_template.md
Due: none

No ticket: Update PR template to include new test deployment job link (#2127)
  .github/pull_request_template.md
Due: none

Update app/app/services/aggregators/sdk/nsc_service.rb
  app/app/services/aggregators/sdk/nsc_service.rb
Due: rubocop

Update infra/modules/monitoring/main.tf
  infra/modules/monitoring/main.tf
Due: terraform_fmt
