Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-unused, i18n-normalize, shellcheck, prettier, terraform_fmt, actionlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml

- repo: local
  hooks:
  - id: rubocop
    name: rubocop
    entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
    language: system
    files: '^app/.*\.rb$'

  # this rubocop hook works on windows/wsl, and is being left here as of 8/27/2025 to figure it out at some point
  #- id: rubocop
  #  name: rubocop
  #  language: system
  #  entry: bash -lc 'BUNDLE_GEMFILE=app/Gemfile cd app && bundle exec rubocop -a --force-exclusion'
  #  types: [ ruby ]
  #  files: '^app/.*\.rb$'
  #  pass_filenames: false

  - id: erblint
    name: erblint
    entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
    language: system
    files: '^app/.*\.erb$'

  - id: i18n-unused
    name: i18n-unused
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks unused
    language: system
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: i18n-normalize
    name: i18n-normalize
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
    language: system
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system        # installed via `brew bundle`
    files: '^bin/.*$'

  - id: prettier
    name: prettier
    entry: bin/run-linter --cd app -- npm run format:precommit
    language: node
    files: '^app/.*\.(js|ts)$'

  - id: terraform_fmt
    name: Terraform Fmt
    entry: terraform fmt
    language: system
    files: 'infra/.*\.tf$'

#  - id: checkov
#    name: Checkov
#    entry: checkov --quiet --output sarif --framework terraform -f
#    language: system
#    files: 'infra/.*\.tf$'

  - id: actionlint
    name: ActionLint
    entry: actionlint
    language: system
    files: '^.github/.*\.yml$'
    pass_filenames: false

Fix iframe-embedding regressions breaking controller and E2E specs
  app/app/controllers/application_controller.rb
  app/spec/requests/iframe_embedding_spec.rb
Due: rubocop

Copilot suggestions
  app/app/controllers/application_controller.rb
  app/spec/requests/iframe_embedding_spec.rb
Due: rubocop

Hardened cookie lookup
  app/spec/requests/iframe_embedding_spec.rb
Due: rubocop

Potential fix for pull request finding 'CodeQL / DOM text reinterpreted as HTML'
  docs/iframe-test-harness.html
Due: none

Remove X-Frame-Options
  app/app/controllers/application_controller.rb
  app/spec/requests/iframe_embedding_spec.rb
Due: rubocop

Allow for local testing with ngrok
  app/config/client-agency-config.yml
  app/config/environments/development.rb
  app/config/initializers/ngrok_development.rb
  docs/iframe-test-harness.html
Due: rubocop

Ensure cookie doesn't get lost
  app/app/controllers/application_controller.rb
  app/spec/requests/iframe_embedding_spec.rb
Due: rubocop

Remove applicant reuse
  app/app/controllers/flow_controller.rb
  app/app/models/cbv_applicant.rb
  app/spec/controllers/activities/entries_controller_spec.rb
  app/spec/controllers/cbv/generic_links_controller_spec.rb
  app/spec/e2e/timeout_spec.rb
Due: rubocop

FFS-4425: Enable specific agencies to run in an iframe (#1794)
  app/app/controllers/application_controller.rb
  app/config/client-agency-config.yml
  app/config/environments/development.rb
  app/config/initializers/ngrok_development.rb
  app/lib/client_agency_config.rb
  app/spec/lib/client_agency_config_spec.rb
  app/spec/requests/iframe_embedding_spec.rb
  docs/iframe-test-harness.html
Due: rubocop

Add accenture client configuration
  app/app/models/cbv_applicant/accenture.rb
  app/app/views/cbv/applicant_informations/_accenture.html.erb
  app/config/client-agency-config.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
  infra/app/app-config/env-config/environment-variables.tf
Due: rubocop, erblint, i18n-unused, i18n-normalize, terraform_fmt

yeet
  app/config/environments/test.rb
Due: rubocop

Remove body from exception message for HttpPdfTransmitter errors (#1807)
  app/app/services/transmitters/http_pdf_transmitter.rb
  app/spec/services/transmitters/http_pdf_transmitter_spec.rb
  app/spec/services/transmitters/json_and_pdf_transmitter_spec.rb
Due: rubocop

No ticket: set up ai test classifier (#1802)
  .github/workflows/ai-test-classifier.yml
Due: actionlint

Add warning count to fallback delivery summary
  app/lib/tasks/caseworker_mailer_fallback.rake
  app/spec/lib/caseworker_mailer_fallback_rake_spec.rb
Due: rubocop

FFS-4383: Remove cbv_applicant cookie/clearout logic (#1810)
  app/app/controllers/flow_controller.rb
  app/app/models/cbv_applicant.rb
  app/spec/controllers/activities/entries_controller_spec.rb
  app/spec/controllers/cbv/generic_links_controller_spec.rb
  app/spec/e2e/timeout_spec.rb
Due: rubocop

Allow fallback transmission of redacted income reports (#1806)
  app/app/services/caseworker_mailer_fallback_service.rb
  app/lib/tasks/caseworker_mailer_fallback.rake
  app/spec/lib/caseworker_mailer_fallback_rake_spec.rb
  app/spec/services/caseworker_mailer_fallback_service_spec.rb
Due: rubocop

second test
  app/config/initializers/session_store.rb
Due: rubocop

flailing
  app/config/initializers/session_store.rb
Due: rubocop

further experiment
  app/config/environments/test.rb
Due: rubocop

[FFS-4399] get database migrations up and running as a github action for CMS (#1774)
  .github/workflows/database-migrations-cms.yml
  Makefile
  bin/run-database-migrations-cms
Due: shellcheck, actionlint

fake change do not merge
  AGENTS.md
Due: none

remove ai security review from pre-commit
  .pre-commit-config.yaml
Due: none

see if somehow the key matters at all
  app/config/initializers/session_store.rb
Due: rubocop

yeet part 4
  app/config/initializers/session_store.rb
Due: rubocop

add skills and ai pr review github action
  .github/workflows/ai-pr-review.yml
  .skills/_lib/ai-review-dispatch.sh
  .skills/code-security/SKILL.md
  .skills/code-security/scripts/code-security-hook-dispatcher.sh
  .skills/codebase-audit/SKILL.md
  .skills/finding-adjudication/SKILL.md
  .skills/iac-compliance/SKILL.md
  .skills/iac-compliance/scripts/iac-compliance-hook-dispatcher.sh
  .skills/pr-review/SKILL.md
  .skills/pr-review/scripts/pr-review-dispatcher.sh
Due: actionlint

remove sync trigger
  .github/workflows/ai-pr-review.yml
Due: actionlint

forgot to commit scripts
  scripts/sync-skills.sh
Due: none

rename GHA
  .github/workflows/ai-pr-review.yml
Due: actionlint

[FFS-4474] fix issue with cookie store (#1808)
  app/config/initializers/session_store.rb
Due: rubocop

patch to fix comment generation issue
  .skills/pr-review/scripts/pr-review-dispatcher.sh
Due: none

Stop client configuration required fields from being overridden by applicant
  app/app/models/cbv_flow_invitation.rb
  app/spec/models/cbv_flow_invitation_spec.rb
Due: rubocop

FFS-4422: Create an agency for Accenture (#1811)
  app/app/models/cbv_applicant/accenture.rb
  app/app/models/cbv_flow_invitation.rb
  app/app/views/cbv/applicant_informations/_accenture.html.erb
  app/config/client-agency-config.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/spec/models/cbv_flow_invitation_spec.rb
  infra/app/app-config/env-config/environment-variables.tf
Due: rubocop, erblint, i18n-unused, i18n-normalize, terraform_fmt

Fix redaction
  app/app/services/data_retention_service.rb
  app/spec/controllers/cbv/submits_controller_spec.rb
  app/spec/services/data_retention_service_spec.rb
Due: rubocop

Use unredacted scope
  app/app/services/data_retention_service.rb
Due: rubocop

Add confirmation code to shared income analytics
  app/app/jobs/case_worker_transmitter_job.rb
  app/spec/jobs/case_worker_transmitter_job_spec.rb
Due: rubocop

Add AI security and compliance skills + action (#1809)
  .github/workflows/ai-pr-review.yml
  .gitignore
  .skills/_lib/ai-review-dispatch.sh
  .skills/code-security/SKILL.md
  .skills/code-security/scripts/code-security-hook-dispatcher.sh
  .skills/codebase-audit/SKILL.md
  .skills/finding-adjudication/SKILL.md
  .skills/iac-compliance/SKILL.md
  .skills/iac-compliance/scripts/iac-compliance-hook-dispatcher.sh
  .skills/pr-review/SKILL.md
  .skills/pr-review/scripts/pr-review-dispatcher.sh
  scripts/sync-skills.sh
Due: actionlint

FFS-4446: Fix invitations being redacted before their expiration date (#1813)
  app/app/services/data_retention_service.rb
  app/spec/controllers/cbv/submits_controller_spec.rb
  app/spec/services/data_retention_service_spec.rb
Due: rubocop

Skip AI disclosure GH Action for dependabot
  .github/workflows/ai-disclosure-check.yml
Due: actionlint

Apply suggestions from code review
  .github/workflows/ai-disclosure-check.yml
Due: actionlint

Bump npm @esbuild 0.28.0 -> 0.28.1
  app/package-lock.json
  app/package.json
Due: none
