Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-normalize, i18n-missing, shellcheck, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml

- repo: local
  hooks:
  - id: rubocop
    name: rubocop
    entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
    language: ruby
    files: '^app/.*\.rb$'

  - id: erblint
    name: erblint
    entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
    language: ruby
    files: '^app/.*\.erb$'

  - id: i18n-normalize
    name: i18n-normalize
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
    language: ruby
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: i18n-missing
    name: i18n-missing
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks missing
    language: ruby
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system        # installed via `brew bundle`
    files: '^bin/.*$'

  - id: prettier
    name: prettier
    entry: bin/run-linter --cd app -- npm run format:precommit
    language: node
    files: '^app/.*\.(js|ts)$'

remove test for class_names
  app/app/components/report/monthly_summary_table_component.erb
  app/app/components/report/monthly_summary_table_component.rb
  app/app/components/report/monthly_summary_table_helper.rb
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/spec/components/report/monthly_summary_table_component_spec.rb
  app/spec/controllers/cbv/submits_controller_spec.rb
  app/spec/services/aggregators/aggregator_reports/argyle_report_spec.rb
  app/spec/services/aggregators/aggregator_reports/pinwheel_report_spec.rb
  app/spec/services/pdf_service_spec.rb
Due: rubocop, erblint

Refactor MonthlySummaryTableComponent to simplify logic
  app/app/components/report/monthly_summary_table_component.erb
  app/app/components/report/monthly_summary_table_component.rb
Due: rubocop, erblint

FFS-2663: Decrease AZ invitation_valid_days from 14 -> 10 (#714)
  app/config/client-agency-config.yml
Due: none

Add compact monthly summary component for gig-worker reports
  app/app/components/report/monthly_summary_compact_component.erb
  app/app/components/report/monthly_summary_compact_component.rb
  app/app/helpers/cbv/monthly_summary_helper.rb
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/app/views/cbv/summaries/show.html.erb
  app/config/locales/en.yml
  app/spec/components/report/monthly_summary_compact_component_spec.rb
  app/spec/helpers/monthly_summary_helper_spec.rb
Due: rubocop, erblint, i18n-normalize, i18n-missing

FFS-2938 fix caseworker report being rendered in spanish (#717)
  app/app/jobs/case_worker_transmitter_job.rb
  app/app/services/pdf_service.rb
  app/app/services/sftp_case_transmitter.rb
  app/spec/services/pdf_service_spec.rb
Due: rubocop

introduce it for the non caseworker specific fields too
  app/app/services/client_agency/az_des/report_fields.rb
  app/app/services/client_agency/caseworker_report_specific_field_decider.rb
  app/app/services/client_agency/ma/report_fields.rb
  app/app/services/client_agency/nyc/report_fields.rb
  app/app/views/cbv/submits/show.pdf.erb
  app/config/i18n-tasks.yml
Due: rubocop, erblint

removed unused component
  app/app/components/aggregate_data_row_component.rb
Due: rubocop

small code cleanup changes
  app/app/components/report/monthly_summary_compact_component.erb
  app/app/components/report/monthly_summary_table_component.erb
  app/app/helpers/cbv/monthly_summary_helper.rb
Due: rubocop, erblint

refactor compact component to remove some complexity from the erb
  app/app/components/report/monthly_summary_compact_component.erb
  app/app/components/report/monthly_summary_compact_component.rb
Due: rubocop, erblint

agency_full_name & agency_abbreviation
  app/config/client-agency-config.yml
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: i18n-normalize, i18n-missing

benefit
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: i18n-normalize, i18n-missing

reporting_purpose
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: i18n-normalize, i18n-missing

update website for az
  app/config/client-agency-config.yml
Due: none

agency_abbreviation -> agency_acronym
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: i18n-normalize, i18n-missing

design review updates
  app/app/assets/stylesheets/cbv.scss
  app/app/components/report/monthly_summary_table_component.erb
  app/config/locales/en.yml
Due: erblint, i18n-normalize, i18n-missing

warning_1 didn't match what was in /submits page
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
Due: i18n-normalize, i18n-missing

Fix consent_checkbox_label_html
  app/app/views/cbv/submits/show.html.erb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
Due: erblint, i18n-normalize, i18n-missing

replace acronym
  app/config/locales/en.yml
Due: i18n-normalize, i18n-missing

Fix missing benefit & reporting_purpose on /submits page
  app/app/views/cbv/submits/show.html.erb
Due: erblint

Add script for importing/exporting I18n translation CSVs
  app/config/i18n-tasks.yml
  app/lib/i18n_csv_tasks.rb
Due: rubocop

Fix filename of ClientAgencyConfig spec
  app/spec/lib/client_agency_config_spec.rb
Due: rubocop

Track `accountId` and `userId` for Argyle modal events
  app/app/javascript/adapters/ArgyleModalAdapter.ts
Due: prettier

Fix default translation on /entries
  app/app/views/cbv/entries/show.html.erb
  app/config/locales/en.yml
Due: erblint, i18n-normalize, i18n-missing

tests added
  app/spec/services/client_agency/caseworker_report_specific_field_decider_spec.rb
Due: rubocop

spec wording tweak
  app/spec/controllers/cbv/submits_controller_spec.rb
Due: rubocop

remove part of the fix that ended up being flailing
  app/Gemfile
Due: none

oops gemfile lock changes
  app/Gemfile.lock
Due: none

add boundary for lack of reporting dates
  app/app/helpers/cbv/monthly_summary_helper.rb
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/spec/helpers/monthly_summary_helper_spec.rb
Due: rubocop

add spanish translation for day_of_month
  app/config/locales/es.yml
Due: i18n-normalize, i18n-missing

parse date to clear tests
  app/app/helpers/cbv/monthly_summary_helper.rb
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/spec/controllers/cbv/payment_details_controller_spec.rb
Due: rubocop

Update app/config/i18n-tasks.yml
  app/config/i18n-tasks.yml
Due: none

FFS-2648: Implement content updates for AZ DES (#718)
  app/app/views/cbv/submits/show.html.erb
  app/config/client-agency-config.yml
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: erblint, i18n-normalize, i18n-missing

fixed failing rspec tests
  app/spec/components/report/monthly_summary_compact_component_spec.rb
  app/spec/components/report/monthly_summary_table_component_spec.rb
  app/spec/factories/aggregator_report.rb
  app/spec/services/aggregators/aggregator_reports/argyle_report_spec.rb
  app/spec/services/pdf_service_spec.rb
Due: rubocop

layout, copy, and copy to clipboard working
  app/app/assets/stylesheets/cbv.scss
  app/app/controllers/cbv/successes_controller.rb
  app/app/helpers/uswds_form_builder.rb
  app/app/javascript/controllers/copy_link_controller.js
  app/app/javascript/controllers/index.js
  app/app/views/cbv/successes/show.html.erb
  app/config/locales/en.yml
  app/pdf_results.pdf
  app/spec/controllers/cbv/successes_controller_spec.rb
Due: rubocop, erblint, i18n-normalize, i18n-missing, prettier

tracking [ApplicantCopiedInvitationLink] event
  app/app/controllers/api/user_events_controller.rb
  app/app/helpers/uswds_form_builder.rb
  app/app/javascript/controllers/copy_link_controller.js
  app/app/views/cbv/successes/show.html.erb
  app/config/locales/en.yml
  app/pdf_results.pdf
  app/spec/controllers/cbv/successes_controller_spec.rb
Due: rubocop, erblint, i18n-normalize, i18n-missing, prettier

updated the .usa-button--success variant to show the success bg color on hover
  app/app/assets/stylesheets/cbv.scss
Due: none

fixed broken tests due to timecop
  app/spec/components/report/monthly_summary_compact_component_spec.rb
  app/spec/components/report/monthly_summary_table_component_spec.rb
Due: rubocop

Add pre-commit check for `i18n-tasks check-consistent-interpolations`
  .pre-commit-config.yaml
Due: none

Remove agency-specific string for `to_continue_li_1_html`
  app/app/views/cbv/employer_searches/_employer.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: erblint, i18n-normalize, i18n-missing

updated invitation_link method to generate generic links
  app/app/controllers/cbv/successes_controller.rb
  app/config/i18n-tasks.yml
  app/spec/controllers/cbv/successes_controller_spec.rb
Due: rubocop
