Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-unused, i18n-normalize, shellcheck, prettier, terraform_fmt, actionlint

rubocop:
  name: rubocop
  entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
  language: system

erblint:
  name: erblint
  entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
  language: system

i18n-unused:
  name: i18n-unused
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks unused
  language: system
  pass_filenames: false

i18n-normalize:
  name: i18n-normalize
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
  language: system
  pass_filenames: false

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system

prettier:
  name: prettier
  entry: bin/run-linter --cd app -- npm run format:precommit
  language: node

terraform_fmt:
  name: Terraform Fmt
  entry: terraform fmt
  language: system

actionlint:
  name: ActionLint
  entry: actionlint
  language: system
  pass_filenames: false

FFS-3459: Implement employer search changes to support unemployed users (#1056)
  app/app/components/accordion_component.html.erb
  app/app/components/accordion_component.rb
  app/app/javascript/controllers/cbv/entry_page_controller.js
  app/app/javascript/controllers/common_questions_controller.js
  app/app/javascript/controllers/index.js
  app/app/views/cbv/employer_searches/show.html.erb
  app/app/views/cbv/entries/show.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/spec/controllers/api/user_events_controller_spec.rb
  app/spec/controllers/cbv/employer_searches_controller_spec.rb
  app/spec/javascript/controllers/common_questions.spec.js
Due: rubocop, erblint, i18n-unused, i18n-normalize, prettier

clean up css a bit
  app/app/assets/stylesheets/cbv.scss
  app/app/components/report/w2_paystub_details_table_component.html.erb
Due: erblint

add dropdowns for new GPL data
  app/app/views/layouts/preview.html.erb
Due: erblint

clean up line
  app/lib/client_agency_config.rb
Due: rubocop

temp commit
  app/app/components/report/payments_deductions_monthly_summary_component.html.erb
  app/app/components/report/payments_deductions_monthly_summary_component.rb
  app/app/components/report/w2_paystub_details_table_component.html.erb
  app/app/components/report/w2_paystub_details_table_component.rb
  app/app/views/cbv/payment_details/show.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/spec/components/report/payments_deductions_monthly_summary_component_spec.rb
  app/spec/components/report/w2_paystub_details_table_component_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

add is_caseworker option to preview bar.
  app/app/views/layouts/preview.html.erb
Due: erblint

w2 paystub details component now fully working
  app/app/components/report/payments_deductions_monthly_summary_component.html.erb
  app/app/components/report/w2_paystub_details_table_component.html.erb
  app/app/components/report/w2_paystub_details_table_component.rb
  app/app/views/cbv/submits/show.pdf.erb
  app/config/locales/es.yml
  app/spec/components/report/w2_paystub_details_table_component_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

did some simple cleanup and added documentation
  app/app/components/report/payments_deductions_monthly_summary_component.html.erb
  app/app/components/report/w2_paystub_details_table_component.rb
  app/app/views/cbv/submits/show.pdf.erb
  app/spec/components/report/w2_paystub_details_table_component_spec.rb
Due: rubocop, erblint

happy with the w2_paystub_details_table
  app/app/components/report/w2_paystub_details_table_component.html.erb
  app/app/components/report/w2_paystub_details_table_component.rb
  app/app/views/cbv/submits/show.pdf.erb
  app/spec/components/report/w2_paystub_details_table_component_spec.rb
Due: rubocop, erblint

remove changes to application_controller
  app/app/controllers/application_controller.rb
Due: rubocop

for activejobs, make sure current agency is set
  app/app/views/cbv/submits/show.pdf.erb
  app/spec/services/pdf_service_spec.rb
Due: rubocop, erblint

Remove Argyle placeholders
  app/app/services/aggregators/response_objects/search_result.rb
  app/spec/services/aggregators/response_objects/search_result_spec.rb
Due: rubocop

FFS-3310: Improvements to employer search results cards on mobile (#1060)
  app/app/assets/stylesheets/cbv.scss
  app/app/services/aggregators/response_objects/search_result.rb
  app/app/views/cbv/employer_searches/_employer.html.erb
  app/spec/services/aggregators/response_objects/search_result_spec.rb
Due: rubocop, erblint

FFS-3354: Set referer in feedback form link on /success (#1053)
  app/app/views/cbv/successes/show.html.erb
  app/spec/controllers/cbv/successes_controller_spec.rb
Due: rubocop, erblint

Unify events under TrackEvent
  app/app/controllers/api/user_events_controller.rb
  app/app/models/track_event.rb
Due: rubocop

Typo
  app/app/controllers/cbv/base_controller.rb
Due: rubocop

Session timeout leads to a page prompting restart
  app/app/assets/stylesheets/cbv.scss
  app/app/controllers/cbv/sessions_controller.rb
  app/app/javascript/controllers/cbv/sessions_timeout_controller.js
  app/app/javascript/controllers/index.js
  app/app/models/track_event.rb
  app/app/views/cbv/sessions/timeout.html.erb
  app/config/locales/en.yml
  app/config/routes.rb
  app/spec/controllers/cbv/sessions_controller_spec.rb
  app/spec/e2e/timeout_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize, prettier

Missed one
  app/config/locales/en.yml
Due: i18n-unused, i18n-normalize

Add content updates
  app/app/views/cbv/entries/show.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: erblint, i18n-unused, i18n-normalize

Add translations
  app/app/views/cbv/entries/show.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: erblint, i18n-unused, i18n-normalize

Hopefully make e2e more reliable
  app/spec/e2e/timeout_spec.rb
Due: rubocop

add paystub heading and improve paystub earnings item styles
  app/app/assets/stylesheets/cbv.scss
  app/app/components/report/w2_paystub_details_table_component.html.erb
  app/app/components/report/w2_paystub_details_table_component.rb
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: rubocop, erblint, i18n-unused, i18n-normalize

Refactor Paystub details (#165)
  app/app/components/report/payments_deductions_monthly_summary_component.html.erb
  app/app/components/report/payments_deductions_monthly_summary_component.rb
  app/app/components/report/w2_paystub_details_table_component.html.erb
  app/app/components/report/w2_paystub_details_table_component.rb
  app/app/views/cbv/payment_details/show.html.erb
  app/app/views/cbv/submits/show.pdf.erb
  app/app/views/layouts/preview.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/spec/components/report/payments_deductions_monthly_summary_component_spec.rb
  app/spec/components/report/w2_paystub_details_table_component_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Add translations
  app/config/locales/es.yml
Due: i18n-unused, i18n-normalize

Updated translations
  app/config/locales/es.yml
Due: i18n-unused, i18n-normalize

Add Gross Pay List Items for PA (#164)
  app/app/assets/stylesheets/cbv.scss
  app/app/components/report/w2_paystub_details_table_component.html.erb
  app/app/components/report/w2_paystub_details_table_component.rb
  app/app/views/cbv/submits/show.pdf.erb
  app/config/client-agency-config/_default.yml
  app/config/client-agency-config/pa_dhs.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/lib/client_agency_config.rb
  app/spec/components/report/w2_paystub_details_table_component_spec.rb
  app/spec/jobs/case_worker_transmitter_job_spec.rb
  app/spec/services/pdf_service_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

add paystub heading and improve paystub earnings item styles (#166)
  app/app/assets/stylesheets/cbv.scss
  app/app/components/report/w2_paystub_details_table_component.html.erb
  app/app/components/report/w2_paystub_details_table_component.rb
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: rubocop, erblint, i18n-unused, i18n-normalize

modify uniqueness constraint to work with redaction
  app/db/migrate/20251023174033_add_unique_index_to_auth_token_on_cbv_flow_invitations.rb
  app/db/schema.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.pdf
Due: rubocop

add rspec tests
  app/spec/models/cbv_flow_invitation_spec.rb
Due: rubocop

FFS-3412: create uniqueness constraint on auth_token (#1057)
  app/db/migrate/20251023174033_add_unique_index_to_auth_token_on_cbv_flow_invitations.rb
  app/db/schema.rb
  app/spec/models/cbv_flow_invitation_spec.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.pdf
Due: rubocop

sqs config and setup
  app/.env
  app/Gemfile
  app/Gemfile.lock
  app/Procfile.dev
  app/app/jobs/application_job.rb
  app/app/jobs/case_worker_transmitter_job.rb
  app/app/jobs/event_tracking_job.rb
  app/app/jobs/record_batched_newrelic_metrics_job.rb
  app/app/jobs/test_queueing_job.rb
  app/bin/jobs
  app/bin/moto_run.sh
  app/bin/moto_sqs_queues.sh
  app/bin/wait_for_queues.sh
  app/config/application.rb
  app/config/environments/test.rb
  app/config/initializers/shoryuken.rb
  app/config/initializers/solid_queue.rb
  app/config/recurring.yml
  app/config/shoryuken.yml
  app/spec/jobs/application_job_spec.rb
  app/spec/jobs/case_worker_transmitter_job_spec.rb
  app/spec/rails_helper.rb
  infra/app/app-config/env-config/outputs.tf
  infra/app/app-config/env-config/variables.tf
  infra/app/app-config/prod.tf
  infra/app/service/main.tf
  infra/modules/service/async_workers.tf
  infra/modules/service/variables.tf
  infra/modules/sqs-queues/main.tf
  infra/modules/sqs-queues/outputs.tf
  infra/modules/sqs-queues/policies.tf
  infra/modules/sqs-queues/policies/sqs_policy.json
  infra/modules/sqs-queues/variables.tf
Due: rubocop, terraform_fmt

readme to set up moto
  README.md
Due: none

update env
  app/.env
Due: none

Translations
  app/app/views/cbv/entries/show.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: erblint, i18n-unused, i18n-normalize

One last translation change
  app/config/locales/en.yml
Due: i18n-unused, i18n-normalize

One last translation change
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: i18n-unused, i18n-normalize

add max limit on invitation usage
  app/app/controllers/cbv/base_controller.rb
  app/app/models/cbv_flow_invitation.rb
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/config/newrelic.yml
  app/spec/controllers/cbv/entries_controller_spec.rb
  app/spec/models/cbv_flow_invitation_spec.rb
Due: rubocop, i18n-unused, i18n-normalize

update ecs service worker name
  infra/modules/service/async_workers.tf
Due: terraform_fmt

add sqs queue encryption
  infra/modules/sqs-queues/main.tf
Due: terraform_fmt

fixing rubocop
  app/Gemfile
Due: none

Path conditions:
  rubocop: any of: ^app/.*\.rb$
  erblint: any of: ^app/.*\.erb$
  i18n-unused: any of: ^app/config/locales/.*\.yml$
  i18n-normalize: any of: ^app/config/locales/.*\.yml$
  shellcheck: any of: ^bin/.*$
  prettier: any of: ^app/.*\.(js|ts)$
  terraform_fmt: any of: infra/.*\.tf$
  actionlint: any of: ^.github/.*\.yml$
