Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-unused, i18n-normalize, shellcheck, prettier, terraform_fmt, actionlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml

- repo: local
  hooks:
  - id: rubocop
    name: rubocop
    entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
    language: system
    files: '^app/.*\.rb$'

  # this rubocop hook works on windows/wsl, and is being left here as of 8/27/2025 to figure it out at some point
  #- id: rubocop
  #  name: rubocop
  #  language: system
  #  entry: bash -lc 'BUNDLE_GEMFILE=app/Gemfile cd app && bundle exec rubocop -a --force-exclusion'
  #  types: [ ruby ]
  #  files: '^app/.*\.rb$'
  #  pass_filenames: false

  - id: erblint
    name: erblint
    entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
    language: system
    files: '^app/.*\.erb$'

  - id: i18n-unused
    name: i18n-unused
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks unused
    language: system
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: i18n-normalize
    name: i18n-normalize
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
    language: system
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system        # installed via `brew bundle`
    files: '^bin/.*$'

  - id: prettier
    name: prettier
    entry: bin/run-linter --cd app -- npm run format:precommit
    language: node
    files: '^app/.*\.(js|ts)$'

  - id: terraform_fmt
    name: Terraform Fmt
    entry: terraform fmt
    language: system
    files: 'infra/.*\.tf$'

#  - id: checkov
#    name: Checkov
#    entry: checkov --quiet --output sarif --framework terraform -f
#    language: system
#    files: 'infra/.*\.tf$'

  - id: actionlint
    name: ActionLint
    entry: actionlint
    language: system
    files: '^.github/.*\.yml$'
    pass_filenames: false

Postgres version
  app/Dockerfile
Due: none

FFS-N/A: Update Docker PostgreSQL (#942)
  app/Dockerfile
Due: none

configure depbot (#52)
  .github/dependabot.yml
Due: actionlint

Also don't do it for service
  infra/app/service/main.tf
  infra/modules/service/async_workers.tf
Due: terraform_fmt

Cle/enable depbot (#73)
  .github/dependabot.yml
Due: actionlint

No more disabling in app
  app/config/environments/production.rb
  infra/app/service/main.tf
Due: rubocop, terraform_fmt

FFS-3362: Fix persistent SES verification errors caused by PR environments (#940)
  infra/modules/service/async_workers.tf
Due: terraform_fmt

updated README
  README.md
Due: none

correct variable name
  app/analytics/analytics.ipynb
Due: none

experimental employer picking
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
Due: rubocop

Modify Jupyter Lab startup command in README
  README.md
Due: none

FFS-n/a: Update review lottery (#939)
  .github/reviewer-lottery.yml
Due: actionlint

FFS-3253: Stats update (#927)
  .gitignore
  README.md
  app/analytics/analytics.ipynb
Due: none

updated strategy
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/app/services/aggregators/response_objects/employment.rb
  app/app/services/aggregators/response_objects/paystub.rb
Due: rubocop

Set Demo back to using 3 AZs (#81)
  infra/project-config/networks.tf
Due: terraform_fmt

Cle/fix depbot vuln (#80)
  app/app/models/cbv_applicant.rb
  app/app/services/aggregators/sdk/argyle_service.rb
  infra/modules/database/role_manager/db.py
Due: rubocop

interim commit -- not working for pinwheel, not filtering incomes yet
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/app/services/aggregators/response_objects/employment.rb
  app/app/services/aggregators/response_objects/identity.rb
Due: rubocop

Resolve build vulnerability issues (#84)
  app/Dockerfile
Due: none

update pa logo, resize to reduce load times (#83)
  app/app/assets/images/des_logo.png
  app/app/assets/images/des_logo_large.png
  app/app/assets/images/pa_logo.png
  app/app/assets/images/pa_logo_large.jpg
  app/app/assets/images/pa_placeholder.png
  app/config/client-agency-config/pa_dhs.yml
Due: none

Add precommit configuration for hadolint
  .pre-commit-config.yaml
  Brewfile
Due: none

Upgrade ruby 3.4.4 -> 3.4.5
  app/.ruby-version
  app/Dockerfile
  app/Gemfile
  app/Gemfile.lock
Due: none

Ignore `Clear apt-get caches` lint from dockle
  .dockleconfig
  .github/workflows/vulnerability-scans.yml
Due: actionlint

Upgrade ruby 3.4.4 -> 3.4.5 (#947)
  .dockleconfig
  .github/workflows/vulnerability-scans.yml
  .pre-commit-config.yaml
  Brewfile
  app/.ruby-version
  app/Dockerfile
  app/Gemfile
  app/Gemfile.lock
Due: actionlint

FFS-3370: Add rake task to create a user and API key
  app/lib/tasks/users.rake
  app/spec/lib/users_rake_spec.rb
Due: rubocop

add missing activation params to env var config
  infra/app/app-config/env-config/environment-variables.tf
Due: terraform_fmt

logging what is loaded
  app/lib/client_agency_config.rb
Due: rubocop

remove next unless
  app/lib/client_agency_config.rb
Due: rubocop

update subdomain
  app/config/application.rb
  app/config/client-agency-config/_default.yml
  app/lib/client_agency_config.rb
  infra/app/app-config/env-config/environment-variables.tf
Due: rubocop, terraform_fmt

update agency config
  app/config/application.rb
Due: rubocop

update hosts
  app/.env
  app/config/application.rb
  infra/app/app-config/env-config/environment-variables.tf
Due: rubocop, terraform_fmt

Let `bin/destroy-pr-environment` succeed if there's no env to destroy
  bin/destroy-pr-environment
Due: shellcheck

update other agency domain issues
  app/app/models/cbv_flow.rb
  app/app/models/cbv_flow_invitation.rb
  app/spec/controllers/cbv/successes_controller_spec.rb
  app/spec/models/cbv_flow_invitation_spec.rb
Due: rubocop

Upgrade wkhtmltopdf-binary 0.12.6.7 -> 0.12.6.10
  app/Dockerfile
  app/Gemfile.lock
Due: none

Let `bin/destroy-pr-environment` succeed if there's no env to destroy (#948)
  bin/destroy-pr-environment
Due: shellcheck

Upgrade wkhtmltopdf-binary 0.12.6.7 -> 0.12.6.10 (#949)
  app/Dockerfile
  app/Gemfile.lock
Due: none

Make the VPC CIDR explicit.
  infra/modules/network/main.tf
  infra/modules/network/variables.tf
  infra/networks/main.tf
  infra/project-config/networks.tf
Due: terraform_fmt
