Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-unused, i18n-normalize, shellcheck, prettier, terraform_fmt, actionlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml

- repo: local
  hooks:
  - id: rubocop
    name: rubocop
    entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
    language: system
    files: '^app/.*\.rb$'

  # this rubocop hook works on windows/wsl, and is being left here as of 8/27/2025 to figure it out at some point
  #- id: rubocop
  #  name: rubocop
  #  language: system
  #  entry: bash -lc 'BUNDLE_GEMFILE=app/Gemfile cd app && bundle exec rubocop -a --force-exclusion'
  #  types: [ ruby ]
  #  files: '^app/.*\.rb$'
  #  pass_filenames: false

  - id: erblint
    name: erblint
    entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
    language: system
    files: '^app/.*\.erb$'

  - id: i18n-unused
    name: i18n-unused
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks unused
    language: system
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: i18n-normalize
    name: i18n-normalize
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
    language: system
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system        # installed via `brew bundle`
    files: '^bin/.*$'

  - id: prettier
    name: prettier
    entry: bin/run-linter --cd app -- npm run format:precommit
    language: node
    files: '^app/.*\.(js|ts)$'

  - id: terraform_fmt
    name: Terraform Fmt
    entry: terraform fmt
    language: system
    files: 'infra/.*\.tf$'

#  - id: checkov
#    name: Checkov
#    entry: checkov --quiet --output sarif --framework terraform -f
#    language: system
#    files: 'infra/.*\.tf$'

  - id: actionlint
    name: ActionLint
    entry: actionlint
    language: system
    files: '^.github/.*\.yml$'
    pass_filenames: false

Revert "Allow aws / terraform commands to output to stdout / stderr (#1009)" (#1011)
  bin/is-image-published
Due: shellcheck

update rspec
  app/app/views/cbv/employer_searches/_employer.html.erb
  app/app/views/cbv/entries/show.html.erb
  app/app/views/cbv/expired_invitations/show.html.erb
  app/app/views/cbv/missing_results/show.html.erb
  app/app/views/cbv/other_jobs/show.html.erb
  app/app/views/cbv/successes/show.html.erb
  app/app/views/cbv/summaries/show.html.erb
  app/app/views/cbv/synchronization_failures/show.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/spec/controllers/cbv/employer_searches_controller_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

FFS-N/A: Region fix (#1013)
  bin/current-region
  bin/is-image-published
  bin/publish-release
Due: shellcheck

Hardcode the email in the string itself
  app/app/views/pages/_la_ldh_pilot_end.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: erblint, i18n-unused, i18n-normalize

remove unmapped employers
  app/app/services/provider_search_service.rb
  app/spec/services/provider_search_service_spec.rb
Due: rubocop

Hardcode LA LDH email on pilot-ended page (#1012)
  app/app/views/pages/_la_ldh_pilot_end.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: erblint, i18n-unused, i18n-normalize

update unmapped employee filter
  app/app/services/provider_search_service.rb
Due: rubocop

make 10 character invite tokens
  app/app/models/cbv_flow_invitation.rb
  app/config/initializers/active_record/secure_token.rb
Due: rubocop

add /start/<token> route
  app/config/routes.rb
Due: rubocop

generate new start links
  app/app/models/cbv_flow_invitation.rb
  app/config/routes.rb
Due: rubocop

Add NewRelic environment for "dev" to differentiate from "demo"
  app/config/newrelic.yml
Due: none

Add NewRelic environment for "dev" to differentiate from "demo" (#1015)
  app/config/newrelic.yml
Due: none

no longer forcing mail default for tokenized route; fixes for several rspec tests
  app/config/routes.rb
  app/spec/controllers/cbv/entries_controller_spec.rb
  app/spec/controllers/cbv/successes_controller_spec.rb
Due: rubocop

Add demo to deploy list
  .github/workflows/cd-app.yml
Due: actionlint

Create Demo evnvironment (#1008)
  .github/workflows/cd-app.yml
  infra/README.md
  infra/app/app-config/demo.tf
  infra/app/app-config/env-config/main.tf
  infra/app/app-config/env-config/variables.tf
  infra/app/app-config/main.tf
  infra/app/app-config/staging.tf
  infra/app/database/demo.s3.tfbackend
  infra/app/service/demo.s3.tfbackend
  infra/app/service/newrelic.tf
  infra/modules/email/main.tf
  infra/modules/email/webhooks.tf
  infra/networks/demo.s3.tfbackend
  infra/project-config/networks.tf
Due: terraform_fmt, actionlint

fixed 2 remaining specs
  app/spec/models/cbv_flow_invitation_spec.rb
Due: rubocop

two new tests
  app/spec/controllers/cbv/entries_controller_spec.rb
Due: rubocop

Implement guard + test
  app/app/controllers/cbv/generic_links_controller.rb
  app/spec/controllers/cbv/generic_links_controller_spec.rb
Due: rubocop

fix: app/Gemfile & app/Gemfile.lock to reduce vulnerabilities
  app/Gemfile
  app/Gemfile.lock
Due: none

add backstop redaction. change redaction to run early in the morning instead of during hours when people are likely to be using the application
  app/app/services/data_retention_service.rb
  app/spec/services/data_retention_service_spec.rb
  infra/app/app-config/env-config/scheduled_jobs.tf
Due: rubocop, terraform_fmt

add backstop redaction. change redaction to run early in the morning instead of during hours when people are likely to be using the application
  infra/app/app-config/env-config/scheduled_jobs.tf
Due: terraform_fmt

update english consent language for PA. es to follow
  app/config/locales/en.yml
Due: i18n-unused, i18n-normalize

refactor with working rspec tests
  app/app/services/pdf_service.rb
  app/app/services/transmitters/encrypted_s3_transmitter.rb
  app/app/services/transmitters/json_transmitter.rb
  app/app/services/transmitters/sftp_transmitter.rb
  app/spec/services/pdf_service_spec.rb
Due: rubocop

FFS-3413: Add safety guard to all generic link entry paths (#1016)
  app/app/controllers/cbv/generic_links_controller.rb
  app/spec/controllers/cbv/generic_links_controller_spec.rb
Due: rubocop

fix to cbv_flow
  app/app/services/pdf_service.rb
  app/test_pdf.pdf
Due: rubocop

Fix PA compass logo in the PDF (#145)
  app/app/views/cbv/submits/show.pdf.erb
Due: erblint

Update repolinter.json to be Tier 4
  repolinter.json
Due: none

Add OSPO workflows for checks on repo hygiene and code.json
  .github/workflows/repo-hygiene-check.yml
  .github/workflows/update-codejson.yml
Due: actionlint

slight refactor to make testing the s3 transmitter easier to test
  app/app/services/transmitters/encrypted_s3_transmitter.rb
Due: rubocop

slight refactor to make testing the json transmitter easier to test
  app/app/services/transmitters/json_transmitter.rb
Due: rubocop

bugfix
  app/app/services/transmitters/encrypted_s3_transmitter.rb
Due: rubocop

New Load Testing Framework (#134)
  app/app/controllers/api/load_test_sessions_controller.rb
  app/app/controllers/application_controller.rb
  app/app/controllers/cbv/submits_controller.rb
  app/app/controllers/concerns/non_production_accessible.rb
  app/app/services/aggregators/sdk/argyle_service.rb
  app/app/services/aggregators/sdk/mock_argyle_service.rb
  app/config/routes.rb
  app/lib/tasks/load_test.rake
  app/spec/controllers/api/load_test_sessions_controller_spec.rb
  app/spec/controllers/application_controller_spec.rb
  load_testing/README.md
  load_testing/common.js
  load_testing/loadTestAPI.js
  load_testing/loadTestAll.js
  load_testing/loadTestUserFlow.js
  load_testing/loadtest.js
Due: rubocop

Explanatory comment
  app/config/initializers/active_record/secure_token.rb
Due: rubocop

add debugging step for aws region and role
  .github/workflows/build-and-publish.yml
Due: actionlint

change to make it redeploy
  app/app/services/data_retention_service.rb
Due: rubocop

Remove raw tags from repo-hygiene-check.yml
  .github/workflows/repo-hygiene-check.yml
Due: actionlint

Fix linting errors in workflow
  .github/workflows/repo-hygiene-check.yml
Due: actionlint

Fix linting errors in repo hygiene check workflow
  .github/workflows/repo-hygiene-check.yml
Due: actionlint

update current-region script
  bin/current-region
Due: shellcheck
