Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-normalize, i18n-missing, shellcheck, prettier

rubocop:
  name: rubocop
  entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
  language: ruby

erblint:
  name: erblint
  entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
  language: ruby

i18n-normalize:
  name: i18n-normalize
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
  language: ruby
  pass_filenames: false

i18n-missing:
  name: i18n-missing
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks missing
  language: ruby
  pass_filenames: false

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system

prettier:
  name: prettier
  entry: bin/run-linter --cd app -- npm run format:precommit
  language: node

fix for vulnerability GHSA-8cj5-5rvv-wf4v (#730)
  app/package-lock.json
  app/package.json
Due: none

Add styling for wrap around
  app/app/assets/stylesheets/cbv.scss
Due: none

la ldh needed some margin-top too
  app/app/assets/stylesheets/cbv.scss
Due: none

Addressed simple code review comments.
  app/app/components/report/monthly_summary_compact_component.rb
  app/app/helpers/cbv/monthly_summary_helper.rb
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/config/locales/es.yml
  app/spec/components/report/monthly_summary_compact_component_spec.rb
  app/spec/components/report/monthly_summary_table_component_spec.rb
  app/spec/controllers/cbv/payment_details_controller_spec.rb
  app/spec/helpers/monthly_summary_helper_spec.rb
  app/spec/services/aggregators/aggregator_reports/argyle_report_spec.rb
Due: rubocop, i18n-normalize, i18n-missing

FFS-2629: Implement AZ DES logo (#731)
  app/app/assets/images/des_logo.png
  app/app/assets/stylesheets/cbv.scss
  app/config/client-agency-config.yml
Due: none

unpinning tar-fs and using npm audit fix
  app/package-lock.json
  app/package.json
Due: none

unpinning tar-fs, resolving things using npm audit fix
  app/package-lock.json
  app/package.json
Due: none

npm audit fix --audit-level=high rather than updating all deps
  app/package-lock.json
Due: none

FFS-2667: Multi-earner household share link (#723)
  app/app/assets/stylesheets/cbv.scss
  app/app/assets/stylesheets/uswds-settings.scss
  app/app/controllers/api/user_events_controller.rb
  app/app/controllers/cbv/successes_controller.rb
  app/app/helpers/uswds_form_builder.rb
  app/app/javascript/controllers/copy_link_controller.js
  app/app/javascript/controllers/index.js
  app/app/models/cbv_flow.rb
  app/app/models/cbv_flow_invitation.rb
  app/app/views/cbv/successes/show.html.erb
  app/config/client-agency-config.yml
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/spec/controllers/cbv/successes_controller_spec.rb
  app/spec/helpers/uswds_form_builder_spec.rb
  app/spec/models/cbv_flow_spec.rb
Due: rubocop, erblint, i18n-normalize, i18n-missing, prettier

fix: upgrade sass from 1.87.0 to 1.89.0
  app/package-lock.json
  app/package.json
Due: none

use the new footnote definitions for monthly summary translations
  app/app/components/report/monthly_summary_table_component.erb
Due: erblint

FFS-2769: income report for gigs (#710)
  app/app/assets/stylesheets/cbv.scss
  app/app/components/report/monthly_summary_compact_component.erb
  app/app/components/report/monthly_summary_compact_component.rb
  app/app/components/report/monthly_summary_table_component.erb
  app/app/components/report/monthly_summary_table_component.rb
  app/app/components/table_cell_component.rb
  app/app/components/table_component.html.erb
  app/app/components/table_component.rb
  app/app/components/table_header_component.html.erb
  app/app/components/table_header_component.rb
  app/app/components/table_row_component.html.erb
  app/app/components/table_row_component.rb
  app/app/helpers/cbv/monthly_summary_helper.rb
  app/app/helpers/report_view_helper.rb
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/app/views/cbv/payment_details/show.html.erb
  app/app/views/cbv/submits/show.pdf.erb
  app/app/views/cbv/summaries/show.html.erb
  app/spec/components/report/monthly_summary_compact_component_spec.rb
  app/spec/components/report/monthly_summary_table_component_spec.rb
  app/spec/components/table_cell_component_spec.rb
  app/spec/controllers/cbv/payment_details_controller_spec.rb
  app/spec/controllers/cbv/submits_controller_spec.rb
  app/spec/factories/aggregator_report.rb
  app/spec/helpers/monthly_summary_helper_spec.rb
  app/spec/services/aggregators/aggregator_reports/argyle_report_spec.rb
  app/spec/services/aggregators/aggregator_reports/pinwheel_report_spec.rb
  app/spec/services/pdf_service_spec.rb
  app/spec/support/fixtures/pinwheel/request_end_user_shifts_response.json
Due: rubocop, erblint

translated content from Lionbridge added
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: i18n-normalize, i18n-missing

removed extraneous space
  app/config/locales/es.yml
Due: i18n-normalize, i18n-missing

incorporated our internal DES translations
  app/config/locales/es.yml
Due: i18n-normalize, i18n-missing

removed extraneous space
  app/config/locales/en.yml
Due: i18n-normalize, i18n-missing

generic-ified two strings
  app/app/views/cbv/missing_results/show.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: erblint, i18n-normalize, i18n-missing

cleaned up unused strings and new missing Spanish tokens
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: i18n-normalize, i18n-missing

removed inconsistent string interpolation
  app/config/locales/es.yml
Due: i18n-normalize, i18n-missing

fixed issue where i18n-tasks could re-normalize and cause the help modal to crash
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: i18n-normalize, i18n-missing

actually committing the fix for normalization breaking the help modal
  app/app/views/help/_help_topic_content.html.erb
Due: erblint

removing weird (i) and (ii) notes added by translator
  app/config/locales/es.yml
Due: i18n-normalize, i18n-missing

removed extra spaces at ends of lines
  app/config/locales/es.yml
Due: i18n-normalize, i18n-missing

Add weekly report for az, and report_variant concept
  app/config/client-agency-config.yml
Due: none

Add report_mailer preview for az des
  app/spec/mailers/previews/weekly_report_mailer_preview.rb
Due: rubocop

Update weekly reports rake task
  app/lib/tasks/weekly_reports.rake
Due: none

Env var
  app/.env
Due: none

Reworked weekly_report_mailer.rb
  app/app/mailers/weekly_report_mailer.rb
Due: rubocop

Rework tests into generic link vs invitation, remove nyc, ma
  app/spec/mailers/weekly_report_mailer_spec.rb
Due: rubocop

Use `short` date format in monthly summary table
  app/app/helpers/cbv/monthly_summary_helper.rb
  app/config/locales/en.yml
  app/spec/helpers/cbv/monthly_summary_helper_spec.rb
  app/spec/services/aggregators/aggregator_reports/argyle_report_spec.rb
  app/spec/services/aggregators/aggregator_reports/pinwheel_report_spec.rb
Due: rubocop, i18n-normalize, i18n-missing

removing day_of_month because Tom is fixing this in another PR
  app/config/locales/es.yml
Due: i18n-normalize, i18n-missing

update event fieldnames, test context
  app/app/controllers/cbv/base_controller.rb
  app/spec/controllers/cbv/base_controller_spec.rb
  app/spec/controllers/cbv/entries_controller_spec.rb
Due: rubocop

implemented internal translation fixes for the new Lionbridge translations
  app/config/locales/es.yml
Due: i18n-normalize, i18n-missing

removed weird array-ization of a couple strings
  app/config/locales/es.yml
Due: i18n-normalize, i18n-missing

added missing period
  app/config/locales/es.yml
Due: i18n-normalize, i18n-missing

FFS-2686: Introduce measurements for household level analytics (#728)
  app/app/controllers/cbv/base_controller.rb
  app/spec/controllers/cbv/base_controller_spec.rb
  app/spec/controllers/cbv/entries_controller_spec.rb
Due: rubocop

removed day_of_month per Tom's request
  app/config/locales/es.yml
Due: i18n-normalize, i18n-missing

FFS-2953: AZ string token translations (#736)
  app/app/views/cbv/missing_results/show.html.erb
  app/app/views/help/_help_topic_content.html.erb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: erblint, i18n-normalize, i18n-missing

Never assume data is formatted correctly
  app/app/components/report/monthly_summary_table_component.erb
Due: erblint

Path conditions:
  rubocop: any of: ^app/.*\.rb$
  erblint: any of: ^app/.*\.erb$
  i18n-normalize: any of: ^app/config/locales/.*\.yml$
  i18n-missing: any of: ^app/config/locales/.*\.yml$
  shellcheck: any of: ^bin/.*$
  prettier: any of: ^app/.*\.(js|ts)$
