Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-unused, i18n-normalize, shellcheck, prettier, terraform_fmt, actionlint

rubocop:
  name: rubocop
  entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
  language: system

erblint:
  name: erblint
  entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
  language: system

i18n-unused:
  name: i18n-unused
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks unused
  language: system
  pass_filenames: false

i18n-normalize:
  name: i18n-normalize
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
  language: system
  pass_filenames: false

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system

prettier:
  name: prettier
  entry: bin/run-linter --cd app -- npm run format:precommit
  language: node

terraform_fmt:
  name: Terraform Fmt
  entry: terraform fmt
  language: system

actionlint:
  name: ActionLint
  entry: actionlint
  language: system
  pass_filenames: false

Fix reporting month issue on entry page by removing it
  app/app/views/activities/entries/show.html.erb
Due: erblint

FFS-3602: Add concept of "Reporting Month" to HR1 flow with date validation (#1247)
  app/app/controllers/activities/job_training_controller.rb
  app/app/controllers/activities/volunteering_controller.rb
  app/app/models/activity.rb
  app/app/models/activity_flow.rb
  app/app/models/job_training_activity.rb
  app/app/models/volunteering_activity.rb
  app/app/views/activities/activities/index.html.erb
  app/app/views/activities/education/show.html.erb
  app/app/views/activities/job_training/_form.html.erb
  app/app/views/activities/submit/show.html.erb
  app/app/views/activities/submit/show.pdf.erb
  app/app/views/activities/summary/show.html.erb
  app/app/views/activities/volunteering/_form.html.erb
  app/config/locales/en.yml
  app/db/migrate/20251226215138_add_reporting_month_to_activity_flows.rb
  app/db/migrate/20251226215152_add_reporting_month_to_activity_flow_invitations.rb
  app/db/migrate/20251230213922_add_date_to_job_training_activities.rb
  app/db/schema.rb
  app/lib/tasks/activity_flow_invitation.rake
  app/spec/controllers/activities/submit_controller_spec.rb
  app/spec/controllers/activities/summary_controller_spec.rb
  app/spec/controllers/activities/volunteering_controller_spec.rb
  app/spec/e2e/activity_hub_spec.rb
  app/spec/factories/activity_flow_invitation.rb
  app/spec/models/activity_flow_spec.rb
  app/spec/models/job_training_activity_spec.rb
  app/spec/models/volunteering_activity_spec.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.pdf
Due: rubocop, erblint, i18n-unused, i18n-normalize

Enable activity hub
  app/app/controllers/activities/base_controller.rb
  infra/app/app-config/env-config/environment-variables.tf
Due: rubocop, terraform_fmt

rename e2e test
  app/spec/e2e/activity_hub_spec.rb
Due: rubocop

Simplify & rename
  app/app/controllers/activities/base_controller.rb
  infra/app/app-config/env-config/environment-variables.tf
Due: rubocop, terraform_fmt

Update e2e
  app/spec/e2e/activity_hub_spec.rb
Due: rubocop

test
  app/spec/controllers/activities/entries_controller_spec.rb
Due: rubocop

fix e2e
  app/spec/e2e/activity_hub_spec.rb
Due: rubocop

Fix tests
  app/spec/controllers/activities/activities_controller_spec.rb
  app/spec/controllers/activities/education_controller_spec.rb
  app/spec/controllers/activities/entries_controller_spec.rb
  app/spec/controllers/activities/job_training_controller_spec.rb
  app/spec/controllers/activities/submit_controller_spec.rb
  app/spec/controllers/activities/success_controller_spec.rb
  app/spec/controllers/activities/summary_controller_spec.rb
  app/spec/controllers/activities/volunteering_controller_spec.rb
Due: rubocop

feat: add event totals in addition to applications
  app/analytics/ffs_analytics.qmd
Due: none

fix: typo in frozen string clean up frozen strings
  app/app/services/aggregators/sdk/nsc_service.rb
Due: rubocop

feat: format tbale for employer search
  app/analytics/ffs_analytics.qmd
Due: none

shared context refactor
  app/spec/controllers/activities/activities_controller_spec.rb
  app/spec/controllers/activities/education_controller_spec.rb
  app/spec/controllers/activities/entries_controller_spec.rb
  app/spec/controllers/activities/job_training_controller_spec.rb
  app/spec/controllers/activities/submit_controller_spec.rb
  app/spec/controllers/activities/success_controller_spec.rb
  app/spec/controllers/activities/summary_controller_spec.rb
  app/spec/controllers/activities/volunteering_controller_spec.rb
  app/spec/e2e/activity_hub_spec.rb
  app/spec/support/context/activity_hub.rb
Due: rubocop

Add more detail as requested in previous commits
  README.md
Due: none

FFS-3525: Add rails_semantic_logger for structured logging
  app/.env
  app/Gemfile
  app/Gemfile.lock
  app/app/controllers/cbv/base_controller.rb
  app/config/application.rb
  infra/app/app-config/env-config/environment-variables.tf
Due: rubocop, terraform_fmt

use stub_environment_variable
  app/spec/controllers/activities/entries_controller_spec.rb
  app/spec/e2e/activity_hub_spec.rb
  app/spec/support/context/activity_hub.rb
Due: rubocop

FFS-3659: Enable accessing Activity Hub outside of Dev (#1257)
  app/app/controllers/activities/base_controller.rb
  app/spec/controllers/activities/activities_controller_spec.rb
  app/spec/controllers/activities/education_controller_spec.rb
  app/spec/controllers/activities/entries_controller_spec.rb
  app/spec/controllers/activities/job_training_controller_spec.rb
  app/spec/controllers/activities/submit_controller_spec.rb
  app/spec/controllers/activities/success_controller_spec.rb
  app/spec/controllers/activities/summary_controller_spec.rb
  app/spec/controllers/activities/volunteering_controller_spec.rb
  app/spec/e2e/activity_hub_spec.rb
  app/spec/support/context/activity_hub.rb
  infra/app/app-config/env-config/environment-variables.tf
Due: rubocop, terraform_fmt

Conditionally enable structured logging based on STRUCTURED_LOGGING_ENABLED
  app/Gemfile
  app/app/controllers/cbv/base_controller.rb
  app/config/application.rb
  app/spec/support/e2e/mocking_service.rb
  app/spec/support/e2e/ngrok_manager.rb
  app/spec/support/e2e/ngrok_request_replayer.rb
Due: rubocop

fix: remove non LA data; feat: reorder to improve review
  app/analytics/ffs_init-munging.R
Due: none

fix: remove orphan code
  app/analytics/ffs_init-munging.R
Due: none

FFS-3525: Add rails_semantic_logger for structured logging (#1256)
  app/.env
  app/Gemfile
  app/Gemfile.lock
  app/app/controllers/cbv/base_controller.rb
  app/config/application.rb
  app/spec/support/e2e/mocking_service.rb
  app/spec/support/e2e/ngrok_manager.rb
  app/spec/support/e2e/ngrok_request_replayer.rb
  infra/app/app-config/env-config/environment-variables.tf
Due: rubocop, terraform_fmt

Remove min delay in NSC API call
  app/app/controllers/activities/education_controller.rb
  app/app/services/aggregators/sdk/nsc_service.rb
  app/app/views/activities/education/new.html.erb
Due: rubocop, erblint

feat: add top employer bump chart
  app/analytics/ffs_analytics.qmd
Due: none

fix comment education activity status comment
  app/app/models/education_activity.rb
Due: rubocop

Fix local dev
  app/app/controllers/activities/base_controller.rb
Due: rubocop

N/A: Re-enable activity hub in local development
  app/app/controllers/activities/base_controller.rb
Due: rubocop

upfront the hardcoded token expiry interval for better visibility
  app/app/services/aggregators/sdk/nsc_service.rb
Due: rubocop

Allow distinct json and pdf api urls
  app/spec/services/transmitters/http_pdf_transmitter_spec.rb
Due: rubocop

Allow distinct json and pdf api urls
  app/app/services/transmitters/http_pdf_transmitter.rb
  app/app/services/transmitters/json_transmitter.rb
  app/config/client-agency-config.yml
  app/spec/services/transmitters/http_pdf_transmitter_spec.rb
  app/spec/services/transmitters/json_and_pdf_transmitter_spec.rb
  app/spec/services/transmitters/json_transmitter_spec.rb
Due: rubocop

Rescue if either transmitter fails
  app/app/jobs/case_worker_transmitter_job.rb
  app/app/services/transmitters/http_pdf_transmitter.rb
  app/app/services/transmitters/json_and_pdf_transmitter.rb
  app/app/services/transmitters/json_transmitter.rb
  app/spec/jobs/case_worker_transmitter_job_spec.rb
  app/spec/services/transmitters/json_and_pdf_transmitter_spec.rb
  app/spec/services/transmitters/json_transmitter_spec.rb
Due: rubocop

Move special string transmission methods to constants
  app/app/jobs/case_worker_transmitter_job.rb
  app/app/services/transmitters/base_pdf_transmitter.rb
  app/app/services/transmitters/encrypted_s3_transmitter.rb
  app/app/services/transmitters/json_transmitter.rb
  app/app/services/transmitters/sftp_transmitter.rb
  app/app/services/transmitters/shared_email_transmitter.rb
Due: rubocop

FFS-3525: Forward structured logs to NewRelic
  app/config/application.rb
Due: rubocop

Fix i18n-tasks CI job failures
  app/config/i18n-tasks.yml
Due: none

FFS-3525: Forward structured logs to NewRelic (#1261)
  app/config/application.rb
Due: rubocop

Fix i18n-tasks CI job failures (#1262)
  app/config/i18n-tasks.yml
Due: none

FFS-3656: Transmit pdf and json to states (#1258)
  app/app/jobs/case_worker_transmitter_job.rb
  app/app/services/transmitters/base_pdf_transmitter.rb
  app/app/services/transmitters/encrypted_s3_transmitter.rb
  app/app/services/transmitters/http_pdf_transmitter.rb
  app/app/services/transmitters/json_and_pdf_transmitter.rb
  app/app/services/transmitters/json_transmitter.rb
  app/app/services/transmitters/sftp_transmitter.rb
  app/app/services/transmitters/shared_email_transmitter.rb
  app/config/client-agency-config.yml
  app/spec/jobs/case_worker_transmitter_job_spec.rb
  app/spec/services/transmitters/http_pdf_transmitter_spec.rb
  app/spec/services/transmitters/json_and_pdf_transmitter_spec.rb
  app/spec/services/transmitters/json_transmitter_spec.rb
Due: rubocop

fix: rename from IVaaS to EMMY
  app/analytics/emmy_analytics.qmd
  app/analytics/emmy_init-munging.R
Due: none

feat: formatting file for doc output
  app/analytics/custom-reference-doc.docx
Due: none

doc: update sections + clean up typos
  app/analytics/emmy_analytics.qmd
Due: none

nsc API request accountId as env
  app/.env.local.example
  app/app/services/aggregators/sdk/nsc_service.rb
Due: rubocop

Path conditions:
  rubocop: any of: ^app/.*\.rb$
  erblint: any of: ^app/.*\.erb$
  i18n-unused: any of: ^app/config/locales/.*\.yml$
  i18n-normalize: any of: ^app/config/locales/.*\.yml$
  shellcheck: any of: ^bin/.*$
  prettier: any of: ^app/.*\.(js|ts)$
  terraform_fmt: any of: infra/.*\.tf$
  actionlint: any of: ^.github/.*\.yml$
