Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-unused, i18n-normalize, shellcheck, prettier, terraform_fmt, actionlint

rubocop:
  name: rubocop
  entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
  language: system

erblint:
  name: erblint
  entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
  language: system

i18n-unused:
  name: i18n-unused
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks unused
  language: system
  pass_filenames: false

i18n-normalize:
  name: i18n-normalize
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
  language: system
  pass_filenames: false

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system

prettier:
  name: prettier
  entry: bin/run-linter --cd app -- npm run format:precommit
  language: node

terraform_fmt:
  name: Terraform Fmt
  entry: terraform fmt
  language: system

actionlint:
  name: ActionLint
  entry: actionlint
  language: system
  pass_filenames: false

Barebones solution
  app/config/initializers/active_record/secure_token.rb
  app/lib/tasks/invitation.rake
Due: rubocop

employment picks correct address from paystubs
  app/app/services/aggregators/aggregator_reports/argyle_report.rb
  app/app/services/aggregators/response_objects/employment.rb
  app/spec/services/aggregators/aggregator_reports/argyle_report_spec.rb
  app/spec/services/aggregators/response_objects/employment_spec.rb
Due: rubocop

Generate invitations via rake task
  app/lib/tasks/invitation.rake
Due: none

/entry improvements
  app/app/javascript/controllers/cbv/entry_page_controller.js
  app/app/models/track_event.rb
  app/app/views/cbv/entries/show.html.erb
  app/config/locales/en.yml
  app/spec/controllers/api/user_events_controller_spec.rb
  app/spec/controllers/cbv/entries_controller_spec.rb
  app/spec/e2e/cbv_flow_pinwheel_spec.rb
  app/spec/e2e/cbv_flow_spec.rb
  app/spec/e2e/help_feature_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize, prettier

Fix e2e tests
  app/spec/e2e/timeout_spec.rb
Due: rubocop

spanish translations
  app/config/locales/es.yml
Due: i18n-unused, i18n-normalize

add comment
  app/app/services/aggregators/response_objects/employment.rb
Due: rubocop

Stop using janky curl and protect against running in prod
  app/lib/tasks/invitation.rake
Due: none

Add spec
  app/lib/tasks/invitation.rake
  app/spec/tasks/rake_invitation_spec.rb
Due: rubocop

add GPL to payment details page
  app/app/components/report/payments_deductions_monthly_summary_component.html.erb
  app/app/components/report/payments_deductions_monthly_summary_component.rb
  app/app/views/cbv/payment_details/show.html.erb
  app/spec/components/report/payments_deductions_monthly_summary_component_spec.rb
  app/spec/controllers/cbv/payment_details_controller_spec.rb
Due: rubocop, erblint

enables GPL for both AZ_DES. also made GPL turned on for default / sandbox.
  app/config/client-agency-config/_default.yml
  app/config/client-agency-config/az_des.yml
Due: none

FFS-3470: Implement improvements to /entry page (#1073)
  app/app/javascript/controllers/cbv/entry_page_controller.js
  app/app/models/track_event.rb
  app/app/views/cbv/entries/show.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/spec/controllers/api/user_events_controller_spec.rb
  app/spec/controllers/cbv/entries_controller_spec.rb
  app/spec/e2e/cbv_flow_pinwheel_spec.rb
  app/spec/e2e/cbv_flow_spec.rb
  app/spec/e2e/help_feature_spec.rb
  app/spec/e2e/timeout_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize, prettier

FFS-3490: file new event when ending session (#1071)
  app/app/javascript/controllers/cbv/sessions_controller.js
  app/app/models/track_event.rb
  app/app/views/cbv/sessions/_timeout_modal.html.erb
  app/spec/javascript/controllers/cbv/sessions_controller.spec.js
Due: rubocop, erblint, prettier

Generate invitations via rake task (#1072)
  app/config/initializers/active_record/secure_token.rb
  app/lib/tasks/invitation.rake
  app/spec/tasks/rake_invitation_spec.rb
Due: rubocop

Rescue if flow id doesn't exist
  app/app/controllers/cbv/sessions_controller.rb
Due: rubocop

test
  app/spec/controllers/cbv/sessions_controller_spec.rb
Due: rubocop

Add update for Medicaid Pilot C (#1068)
  docs/product-updates/2025-10-17-pilot-C-update.md
  docs/product-updates/2025-10-17-pilot-c-update.pdf
  docs/product-updates/images/2025-10-17_Accounts_Connected.png
  docs/product-updates/images/2025-10-17_Age_distro.png
  docs/product-updates/images/2025-10-17_Employer_Search.png
  docs/product-updates/images/2025-10-17_Help_Modal.png
  docs/product-updates/images/2025-10-17_Search_Metrics.png
  docs/product-updates/images/2025-10-17_Session_Time.png
  docs/product-updates/images/2025-10-17_Topline_Metrics.png
Due: none

Add logger
  app/app/controllers/cbv/sessions_controller.rb
Due: rubocop

update role and permission association
  infra/app/service/main.tf
  infra/modules/service/outputs.tf
  infra/modules/service/sqs_manager_role.tf
  infra/modules/sqs-queues/policies.tf
  infra/modules/sqs-queues/policies/sqs_policy.json
Due: terraform_fmt

update tests
  .github/workflows/rspec.yml
  app/spec/controllers/cbv/payment_details_controller_spec.rb
Due: rubocop, actionlint

update shoryuken config
  README.md
  app/.env
  app/config/initializers/shoryuken.rb
Due: rubocop

Simplified subset of orphaned environments cleanup requirements
  .github/workflows/scan-orphaned-environments.yml
  bin/orphaned-pr-environments
  bin/util.sh
Due: shellcheck, actionlint

update sqs constraint
  infra/app/service/main.tf
  infra/modules/service/sqs_manager_role.tf
  infra/modules/service/variables.tf
  infra/modules/sqs-queues/outputs.tf
Due: terraform_fmt

Add new core team section and move lists to top of COMMUNITY.md
  .github/ISSUE_TEMPLATE/contributor_ladder.md
  COMMUNITY.md
Due: none

Revised maintainer requirement language
  .github/ISSUE_TEMPLATE/contributor_ladder.md
  COMMUNITY.md
Due: none

Update links in GOVERNANCE.md
  GOVERNANCE.md
Due: none

update github actions perms
  infra/project-config/aws-services.tf
Due: terraform_fmt

FFS-3530: Fix CBV session end raising error when flow ID is missing (#1074)
  app/app/controllers/cbv/sessions_controller.rb
  app/spec/controllers/cbv/sessions_controller_spec.rb
Due: rubocop

fix shoryuken fail to start (#194)
  infra/modules/service/sqs_manager_role.tf
  infra/project-config/aws-services.tf
Due: terraform_fmt

Delete `bin/current-region` script
  bin/current-region
  bin/run-command
  bin/set-up-current-account
Due: shellcheck

Add temp push trigger to workflow
  .github/workflows/scan-orphaned-environments.yml
Due: actionlint

Add read permissions
  .github/workflows/scan-orphaned-environments.yml
Due: actionlint

chmod permissions
  bin/orphaned-pr-environments
  bin/util.sh
Due: shellcheck

Revert "Add temp push trigger to workflow"
  .github/workflows/scan-orphaned-environments.yml
Due: actionlint

update redrive policy on dlq
  infra/modules/sqs-queues/main.tf
Due: terraform_fmt

Start missing employer flow
  app/spec/e2e/cbv_flow_spec.rb
Due: rubocop

moto should not run on 5000 because macos uses it for airdrop (#197)
  app/.env
  app/bin/moto_run.sh
  app/bin/moto_sqs_queues.sh
  app/bin/wait_for_queues.sh
Due: none

FFS-3215: Clean up orphaned PR environments (#1083)
  .github/workflows/scan-orphaned-environments.yml
  bin/orphaned-pr-environments
  bin/util.sh
Due: shellcheck, actionlint

force origin to be set before ApplicantClickedGenericLink is logged
  app/app/controllers/cbv/generic_links_controller.rb
Due: rubocop

Broken attepmt at solid_cache implementation
  app/Gemfile
  app/Gemfile.lock
  app/app/controllers/cbv/payment_details_controller.rb
  app/app/helpers/cbv/aggregator_data_helper.rb
  app/cache_investigation.md
  app/config/cache.yml
  app/config/database.yml
  app/config/environments/development.rb
  app/config/environments/production.rb
  app/db/cache_schema.rb
  app/db/queue_schema.rb
Due: rubocop

Path conditions:
  rubocop: any of: ^app/.*\.rb$
  erblint: any of: ^app/.*\.erb$
  i18n-unused: any of: ^app/config/locales/.*\.yml$
  i18n-normalize: any of: ^app/config/locales/.*\.yml$
  shellcheck: any of: ^bin/.*$
  prettier: any of: ^app/.*\.(js|ts)$
  terraform_fmt: any of: infra/.*\.tf$
  actionlint: any of: ^.github/.*\.yml$
