Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-normalize, i18n-missing, shellcheck, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml

- repo: local
  hooks:
  - id: rubocop
    name: rubocop
    entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
    language: ruby
    files: '^app/.*\.rb$'

  - id: erblint
    name: erblint
    entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
    language: ruby
    files: '^app/.*\.erb$'

  - id: i18n-normalize
    name: i18n-normalize
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
    language: ruby
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: i18n-missing
    name: i18n-missing
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks missing
    language: ruby
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system        # installed via `brew bundle`
    files: '^bin/.*$'

  - id: prettier
    name: prettier
    entry: bin/run-linter --cd app -- npm run format:precommit
    language: node
    files: '^app/.*\.(js|ts)$'

imported translations
  app/config/locales/es.yml
Due: i18n-normalize, i18n-missing

FFS-2836 Make search tile size more regular
  app/app/views/cbv/employer_searches/_employer.html.erb
Due: erblint

fix table header height on /summary
  app/app/views/cbv/summaries/show.html.erb
Due: erblint

make caseworker highlighting apply to the whole row again
  app/app/assets/stylesheets/cbv.scss
Due: none

FFS-3140: Use CBV Applicant ID cookie for generic links (#864)
  app/app/controllers/cbv/generic_links_controller.rb
  app/spec/controllers/cbv/generic_links_controller_spec.rb
Due: rubocop

lint terraform correction
  infra/accounts/main.tf
  infra/app/service/main.tf
Due: none

automatically comment on Asana task when pull request status changes
  .github/workflows/comment-on-task.yaml
Due: none

Potential fix for code scanning alert no. 36: Workflow does not contain permissions
  .github/workflows/comment-on-task.yaml
Due: none

Connect pull request attachments from GitHub pull request descriptions to Asana
  .github/workflows/create-asana-attachment.yaml
Due: none

Potential fix for code scanning alert no. 37: Workflow does not contain permissions
  .github/workflows/create-asana-attachment.yaml
Due: none

remove test env var change
  infra/app/app-config/env-config/environment-variables.tf
Due: none

use env vars
  .github/workflows/pr-terraform-plan.yml
  infra/app/app-config/env-config/environment-variables.tf
Due: none

use matrix vars instead of env
  .github/workflows/pr-terraform-plan.yml
Due: none

move back to env vars
  .github/workflows/pr-terraform-plan.yml
Due: none

simplify working dir calls
  .github/workflows/pr-terraform-plan.yml
Due: none

remove env var test again
  infra/app/app-config/env-config/environment-variables.tf
Due: none

FFS-3194: Correct caseworker highlighting on PDFs (#872)
  app/app/assets/stylesheets/cbv.scss
  app/app/views/cbv/summaries/show.html.erb
Due: erblint

Retry running E2E tests in GH Actions (#868)
  .github/workflows/e2e-tests.yml
  app/spec/support/e2e/test_helpers.rb
Due: rubocop

disable Turbo on /employer_search
  app/app/views/cbv/employer_searches/show.html.erb
Due: erblint

disable turbo on link to /employer_search instead of on that page itself
  app/app/views/cbv/add_jobs/show.html.erb
  app/app/views/cbv/employer_searches/show.html.erb
Due: erblint

FFS-3195: fix modals when visiting /employer_search a second time (#873)
  app/app/views/cbv/add_jobs/show.html.erb
Due: erblint

Post Terraform plans on PRs modifying infrastructure (#867)
  .github/workflows/pr-terraform-plan.yml
Due: none

Update identity_age_range_applicant in events
  app/app/controllers/cbv/applicant_informations_controller.rb
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/app/controllers/webhooks/pinwheel/events_controller.rb
  app/spec/controllers/cbv/applicant_informations_controller_spec.rb
  app/spec/controllers/webhooks/argyle/events_controller_spec.rb
  app/spec/controllers/webhooks/pinwheel/events_controller_spec.rb
Due: rubocop

Time travel :O
  app/spec/controllers/cbv/applicant_informations_controller_spec.rb
Due: rubocop

provide optional sha to deploy
  .github/workflows/cd-app.yml
  .github/workflows/deploy.yml
Due: none

finishing up design review changes
  app/app/views/cbv/successes/show.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: erblint, i18n-normalize, i18n-missing

linting .erb files and normalizing yml
  app/app/components/report/employment_details_table_component.erb
  app/app/components/report/w2_monthly_summary_table_component.erb
  app/config/locales/es.yml
Due: erblint, i18n-normalize, i18n-missing

praying that this fixes the failed test that im seeing in CI
  app/spec/e2e/cbv_flow_spec.rb
Due: rubocop

Proposed template changes
  .github/pull_request_template.md
Due: none

Fix aggressive spacing
  .github/pull_request_template.md
Due: none

Add note about when to complete checkboxes
  .github/pull_request_template.md
Due: none

FFS-2836 Make search tile size more regular (#871)
  app/app/views/cbv/employer_searches/_employer.html.erb
Due: erblint

FFS-3199: Disable prefetching help questions
  app/app/views/help/_help_topic_link.html.erb
Due: erblint

FFS-3109: Client-entered age range property not set after client submits /applicant_info form (#874)
  app/app/controllers/cbv/applicant_informations_controller.rb
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/app/controllers/webhooks/pinwheel/events_controller.rb
  app/spec/controllers/cbv/applicant_informations_controller_spec.rb
  app/spec/controllers/webhooks/argyle/events_controller_spec.rb
  app/spec/controllers/webhooks/pinwheel/events_controller_spec.rb
Due: rubocop

Update Rails to 7.2.2.1
  app/Gemfile
  app/Gemfile.lock
  app/spec/controllers/cbv/submits_controller_spec.rb
Due: rubocop

FFS-3199: Disable prefetching help questions (#877)
  app/app/views/help/_help_topic_link.html.erb
Due: erblint

consolidating preview methods
  app/app/components/memorable_date_component.html.erb
  app/app/components/memorable_date_component.rb
  app/app/controllers/cbv/applicant_informations_controller.rb
  app/app/helpers/uswds_form_builder.rb
  app/app/models/cbv_applicant.rb
  app/app/views/cbv/applicant_informations/_la_ldh.html.erb
  app/app/views/layouts/component_preview.html.erb
  app/config/initializers/view_component.rb
  app/spec/components/previews/application_preview.rb
  app/spec/components/previews/memorable_date_component_preview.rb
  app/spec/helpers/uswds_form_builder_spec.rb
Due: rubocop, erblint

erb linting
  app/app/components/memorable_date_component.html.erb
  app/app/components/report/employment_details_table_component.erb
  app/app/components/report/w2_monthly_summary_table_component.erb
Due: erblint

addressing some failing checks
  app/app/components/memorable_date_component.html.erb
  app/app/views/cbv/applicant_informations/_sandbox.html.erb
  app/spec/components/previews/memorable_date_component_preview.rb
Due: rubocop, erblint
