Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-unused, i18n-normalize, shellcheck, prettier, terraform_fmt, actionlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml

- repo: local
  hooks:
  - id: rubocop
    name: rubocop
    entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
    language: system
    files: '^app/.*\.rb$'

  # this rubocop hook works on windows/wsl, and is being left here as of 8/27/2025 to figure it out at some point
  #- id: rubocop
  #  name: rubocop
  #  language: system
  #  entry: bash -lc 'BUNDLE_GEMFILE=app/Gemfile cd app && bundle exec rubocop -a --force-exclusion'
  #  types: [ ruby ]
  #  files: '^app/.*\.rb$'
  #  pass_filenames: false

  - id: erblint
    name: erblint
    entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
    language: system
    files: '^app/.*\.erb$'

  - id: i18n-unused
    name: i18n-unused
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks unused
    language: system
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: i18n-normalize
    name: i18n-normalize
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
    language: system
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system        # installed via `brew bundle`
    files: '^bin/.*$'

  - id: prettier
    name: prettier
    entry: bin/run-linter --cd app -- npm run format:precommit
    language: node
    files: '^app/.*\.(js|ts)$'

  - id: terraform_fmt
    name: Terraform Fmt
    entry: terraform fmt
    language: system
    files: 'infra/.*\.tf$'

#  - id: checkov
#    name: Checkov
#    entry: checkov --quiet --output sarif --framework terraform -f
#    language: system
#    files: 'infra/.*\.tf$'

  - id: actionlint
    name: ActionLint
    entry: actionlint
    language: system
    files: '^.github/.*\.yml$'
    pass_filenames: false

FFS-4011: Add FIELDS constant to EmploymentActivity
  app/app/controllers/activities/employment_controller.rb
  app/app/models/employment_activity.rb
  app/spec/models/employment_activity_spec.rb
Due: rubocop

FFS-4011: Support employment type in ActivityFlowInvitation pre-populated activities
  app/app/models/activity_flow_invitation.rb
  app/spec/models/activity_flow_invitation_spec.rb
Due: rubocop

FFS-4012: Add validation error for blank less-than-half-time hours entry
  app/app/controllers/activities/education/term_credit_hours_controller.rb
  app/app/views/activities/education/term_credit_hours/edit.html.erb
  app/config/locales/en.yml
  app/spec/controllers/activities/education/term_credit_hours_controller_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Phase 1: edge cases
  app/app/services/education_activity_card_builder.rb
  app/app/views/demo_launcher/show.html.erb
  app/lib/demo_launcher/fake_nsc_scenarios.rb
  app/spec/controllers/demo_launcher_controller_spec.rb
  app/spec/helpers/activities_helper_spec.rb
  app/spec/lib/demo_launcher/fake_nsc_scenarios_spec.rb
  app/spec/services/activity_flow_progress_calculator_spec.rb
Due: rubocop, erblint

Phase 2: logic consolidation
  app/app/models/education_activity.rb
  app/app/services/education_activity_card_builder.rb
  app/app/services/education_activity_progress_calculator.rb
  app/app/services/education_reporting_month_resolver.rb
  app/spec/models/education_activity_spec.rb
  app/spec/services/education_reporting_month_resolver_spec.rb
Due: rubocop

Wait to publish
  app/app/controllers/activities/education_controller.rb
Due: rubocop

Add tests
  app/spec/controllers/activities/education_controller_spec.rb
Due: rubocop

Additional test
  app/spec/services/demo_launcher/fake_nsc_data_fetcher_service_spec.rb
Due: rubocop

Grant app usage access
  app/bin/db-migrate
  app/lib/tasks/schema.rake
  bin/run-database-migrations
Due: shellcheck

rough draft
  app/app/controllers/activities/activities_controller.rb
  app/app/controllers/api/invitations_controller.rb
  app/app/helpers/activities_helper.rb
  app/app/models/activity_flow.rb
  app/app/views/activities/activities/index.html.erb
  app/spec/controllers/activities/activities_controller_spec.rb
  app/spec/controllers/api/invitations_controller_spec.rb
  app/spec/helpers/activities_helper_spec.rb
  app/spec/models/activity_flow_spec.rb
Due: rubocop, erblint

updated wording on basic launcher
  app/app/views/demo_launcher/launcher.html.erb
Due: erblint

add is_self_employed
  app/app/controllers/activities/employment_controller.rb
  app/app/models/employment_activity.rb
Due: rubocop

anticipate monthly summaries from state, potentially
  app/app/controllers/api/invitations_controller.rb
  app/app/models/activity_flow.rb
  app/app/models/employment_activity_month.rb
Due: rubocop

remove unnecessary abstraction
  app/app/models/activity_flow_invitation.rb
Due: rubocop

update specs with month hydration
  app/spec/controllers/activities/activities_controller_spec.rb
  app/spec/models/activity_flow_spec.rb
Due: rubocop

add missing param to FIELDS test
  app/spec/models/employment_activity_spec.rb
Due: rubocop

add is_self_employed to test
  app/spec/models/activity_flow_spec.rb
Due: rubocop

Add teamdown script to Dockerfile
  app/Dockerfile
Due: none

tweaks from acceptance testing
  app/app/assets/stylesheets/launcher.scss
  app/app/views/demo_launcher/launcher.html.erb
Due: erblint

FFS-4009: Basic demo launcher (#1673)
  app/app/assets/stylesheets/application.postcss.css
  app/app/assets/stylesheets/launcher.scss
  app/app/controllers/demo_launcher_controller.rb
  app/app/javascript/controllers/index.js
  app/app/javascript/controllers/launcher_controller.js
  app/app/views/demo_launcher/advanced.html.erb
  app/app/views/demo_launcher/launcher.html.erb
  app/config/routes.rb
  app/spec/controllers/demo_launcher_controller_launcher_spec.rb
  app/spec/controllers/demo_launcher_controller_spec.rb
  app/spec/requests/demo_launcher_spec.rb
Due: rubocop, erblint, prettier

Run solid_queue within puma
  app/config/puma.rb
  infra/modules/service/main.tf
Due: rubocop, terraform_fmt

FFS-4059: Validated education activity routing skips enrollment details page (#1696)
  app/app/controllers/activities/education_controller.rb
  app/spec/controllers/activities/education_controller_spec.rb
Due: rubocop

Pin correct version
  app/Gemfile
  app/Gemfile.lock
Due: none

Register Argyle/Pinwheel endpoints on PR envs
  app/config/initializers/pr_environment_webhooks.rb
  app/lib/tasks/pr_webhooks.rake
  bin/destroy-pr-environment
Due: rubocop, shellcheck

hydrate months and add more tests
  app/app/helpers/activities_helper.rb
  app/spec/controllers/api/invitations_controller_spec.rb
  app/spec/helpers/activities_helper_spec.rb
  app/spec/models/activity_flow_invitation_spec.rb
Due: rubocop

Enable PR subdomains for Argyle/Pinwheel registration
  app/config/application.rb
  app/config/initializers/pr_environment_webhooks.rb
  bin/update-pr-environment
  infra/app/service/main.tf
  infra/modules/service/dns.tf
  infra/modules/service/main.tf
  infra/modules/service/outputs.tf
  infra/modules/service/variables.tf
Due: rubocop, shellcheck, terraform_fmt

Fix PR environment DB/Argyle access (#1709)
  app/Dockerfile
  app/bin/db-migrate
  app/config/application.rb
  app/config/initializers/pr_environment_webhooks.rb
  app/config/puma.rb
  app/lib/tasks/pr_webhooks.rake
  app/lib/tasks/schema.rake
  bin/destroy-pr-environment
  bin/run-database-migrations
  bin/update-pr-environment
  infra/app/service/main.tf
  infra/modules/service/dns.tf
  infra/modules/service/main.tf
  infra/modules/service/outputs.tf
  infra/modules/service/variables.tf
Due: rubocop, shellcheck, terraform_fmt

add pre-populated data options to /launcher/advanced
  app/app/assets/stylesheets/demo-launcher.scss
  app/app/controllers/demo_launcher_controller.rb
  app/app/javascript/controllers/demo_launcher_controller.js
  app/app/views/demo_launcher/advanced.html.erb
  app/spec/controllers/demo_launcher_controller_spec.rb
Due: rubocop, erblint, prettier

first draft of repository guide
  docs/repository-guide.md
Due: none

more proscriptive agents.md
  AGENTS.md
Due: none

api documentation
  docs/api/api-flow.png
  docs/api/income-report.md
Due: none

name update
  docs/api/income-report.md
Due: none

second API doc
  docs/api/income-report.md
  docs/api/tokenized-link.md
Due: none

Naming
  app/app/models/education_activity.rb
  app/app/services/education_activity_progress_calculator.rb
  app/app/services/education_reporting_month_resolver.rb
Due: rubocop

label pre-populated data as state_provided
  app/app/controllers/activities/activities_controller.rb
  app/app/models/activity.rb
  app/app/models/activity_flow.rb
  app/app/services/activity_flow_progress_calculator.rb
  app/spec/controllers/activities/activities_controller_spec.rb
  app/spec/helpers/activities_helper_spec.rb
  app/spec/models/activity_flow_spec.rb
  app/spec/services/activity_flow_progress_calculator_spec.rb
Due: rubocop

be less defensive
  app/app/models/activity_flow.rb
Due: rubocop

extract names into constant
  app/app/models/activity_flow_invitation.rb
Due: rubocop

remove unnecessary freeze
  app/spec/controllers/demo_launcher_controller_spec.rb
Due: rubocop

remove unnecessary test
  app/spec/models/employment_activity_spec.rb
Due: rubocop
