Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-normalize, i18n-missing, shellcheck, prettier

rubocop:
  name: rubocop
  entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
  language: ruby

erblint:
  name: erblint
  entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
  language: ruby

i18n-normalize:
  name: i18n-normalize
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
  language: ruby
  pass_filenames: false

i18n-missing:
  name: i18n-missing
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks missing
  language: ruby
  pass_filenames: false

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system

prettier:
  name: prettier
  entry: bin/run-linter --cd app -- npm run format:precommit
  language: node

Track `accountId` and `userId` for Argyle modal events (#721)
  app/app/javascript/adapters/ArgyleModalAdapter.ts
Due: prettier

Use `cbv_flow` created_at date as basis for report fetching
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/spec/services/aggregators/aggregator_reports/argyle_report_spec.rb
  app/spec/services/aggregators/aggregator_reports/pinwheel_report_spec.rb
Due: rubocop

reverted LA link to the special mymedicaid URL per design spec
  app/config/locales/en.yml
Due: i18n-normalize, i18n-missing

FFS-2939 refactor client configuration to make it easier to add custom client config (#716)
  app/app/services/client_agency/az_des/configuration.rb
  app/app/services/client_agency/az_des/report_fields.rb
  app/app/services/client_agency/caseworker_report_specific_field_decider.rb
  app/app/services/client_agency/ma/report_fields.rb
  app/app/services/client_agency/nyc/report_fields.rb
  app/app/views/cbv/submits/show.pdf.erb
  app/config/i18n-tasks.yml
  app/spec/controllers/cbv/submits_controller_spec.rb
  app/spec/services/client_agency/caseworker_report_specific_field_decider_spec.rb
Due: rubocop, erblint

FFS-2648: Implement content updates for AZ DEZ (#724)
  app/app/views/cbv/entries/show.html.erb
  app/app/views/cbv/successes/show.html.erb
  app/config/locales/en.yml
Due: erblint, i18n-normalize, i18n-missing

Added a to_generic_url method to the cbv_flow model. added tests for link_with_icon and button_with_icon
  app/app/assets/stylesheets/cbv.scss
  app/app/assets/stylesheets/uswds-settings.scss
  app/app/controllers/cbv/successes_controller.rb
  app/app/models/cbv_flow.rb
  app/app/models/cbv_flow_invitation.rb
  app/spec/helpers/uswds_form_builder_spec.rb
Due: rubocop

removed tests for deprecated pilots
  app/spec/models/cbv_flow_spec.rb
Due: rubocop

Add missing I18n placeholder on /payment_details
  app/app/views/cbv/payment_details/show.html.erb
Due: erblint

Add pre-commit check for `i18n-tasks check-consistent-interpolations`
  .pre-commit-config.yaml
Due: none

Remove agency-specific string for `to_continue_li_1_html`
  app/app/views/cbv/employer_searches/_employer.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: erblint, i18n-normalize, i18n-missing

removed the span tags surrounding the icon and text. removed the default usa-button class from links_with_icon
  app/app/helpers/uswds_form_builder.rb
  app/app/views/cbv/successes/show.html.erb
  app/spec/helpers/uswds_form_builder_spec.rb
Due: rubocop, erblint

removed the default uswds supplied form classes to prevent the .usa-button styled link from having a top margin
  app/app/views/cbv/successes/show.html.erb
Due: erblint

slight changes to tests and removing css in favor of uswds class for the copy link input field
  app/app/assets/stylesheets/cbv.scss
  app/app/views/cbv/successes/show.html.erb
  app/spec/helpers/uswds_form_builder_spec.rb
Due: rubocop, erblint

FFS-2875: Report six months of gig data for AZ (#719)
  app/app/controllers/cbv/payment_details_controller.rb
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/app/controllers/webhooks/pinwheel/events_controller.rb
  app/app/helpers/cbv/aggregator_data_helper.rb
  app/app/helpers/report_view_helper.rb
  app/app/jobs/case_worker_transmitter_job.rb
  app/app/models/cbv_applicant.rb
  app/app/models/payroll_account/argyle.rb
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/app/services/aggregators/aggregator_reports/argyle_report.rb
  app/app/services/aggregators/aggregator_reports/composite_report.rb
  app/app/services/aggregators/aggregator_reports/pinwheel_report.rb
  app/app/services/aggregators/webhooks/argyle.rb
  app/app/services/argyle_webhooks_manager.rb
  app/app/services/client_agency/az_des/recently_submitted_cases_csv.rb
  app/app/views/caseworker/cbv_flow_invitations/new.html.erb
  app/app/views/cbv/add_jobs/show.html.erb
  app/app/views/cbv/payment_details/show.html.erb
  app/app/views/cbv/submits/show.pdf.erb
  app/app/views/cbv/summaries/show.html.erb
  app/config/client-agency-config.yml
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/lib/client_agency_config.rb
  app/spec/controllers/cbv/summaries_controller_spec.rb
  app/spec/controllers/webhooks/argyle/events_controller_spec.rb
  app/spec/factories/aggregator_report.rb
  app/spec/factories/webhook_request.rb
  app/spec/helpers/report_view_helper_spec.rb
  app/spec/jobs/client_agency/az_des/report_deliverer_job_spec.rb
  app/spec/services/aggregators/aggregator_reports/aggregator_report_spec.rb
  app/spec/services/aggregators/aggregator_reports/argyle_report_spec.rb
  app/spec/services/aggregators/aggregator_reports/composite_report_spec.rb
  app/spec/services/aggregators/aggregator_reports/pinwheel_report_spec.rb
  app/spec/services/aggregators/validators/useful_report_validator_spec.rb
Due: rubocop, erblint, i18n-normalize, i18n-missing

Update `exit_button_html` to have default value
  app/app/views/cbv/missing_results/show.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: erblint, i18n-normalize, i18n-missing

Remove trailing space in AZ DES full name
  app/config/client-agency-config.yml
Due: none

Remove trailing space in AZ DES full name (#727)
  app/config/client-agency-config.yml
Due: none

Fix two translations on /employer_search to render for AZ DES (#722)
  .pre-commit-config.yaml
  app/app/views/cbv/employer_searches/_employer.html.erb
  app/app/views/cbv/missing_results/show.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: erblint, i18n-normalize, i18n-missing

translations from other tickets added, exceptions removed, translations sent to Lionbridge
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: i18n-normalize, i18n-missing

spanish month translation
  app/config/locales/es.yml
Due: i18n-normalize, i18n-missing

fix quotes
  app/config/locales/en.yml
Due: i18n-normalize, i18n-missing

added changes for expenses
  app/config/locales/en.yml
Due: i18n-normalize, i18n-missing

add translations for gig expenses
  app/config/locales/en.yml
Due: i18n-normalize, i18n-missing

check in content changes from gig income report for translations
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: i18n-normalize, i18n-missing

remove devise upgrade from this commit
  app/Gemfile.lock
Due: none

remove bad commit
  README.md
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
Due: i18n-normalize, i18n-missing

upgrade debase to resolve issue in bundle install compilation
  README.md
  app/Gemfile.lock
Due: none

change quotes
  app/config/locales/en.yml
Due: i18n-normalize, i18n-missing

add monthly summary table to ignore unused
  app/config/i18n-tasks.yml
Due: none

Strings for monthly summary table (gig earnings + mileage) (#726)
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: i18n-normalize, i18n-missing

Add script for importing/exporting I18n translation CSVs (#720)
  app/config/i18n-tasks.yml
  app/lib/i18n_csv_tasks.rb
  app/spec/lib/client_agency_config_spec.rb
Due: rubocop

using url_helpers to generate generic link
  app/app/models/cbv_flow.rb
Due: rubocop

Add des logo
  app/app/assets/images/des_logo.png
Due: none

adding locale and protocol to cbv_flow.to_url
  app/app/models/cbv_flow.rb
Due: rubocop

[FFS-2686] introduce measurements for household level analytics
  app/app/controllers/cbv/base_controller.rb
  app/spec/controllers/cbv/base_controller_spec.rb
  app/spec/controllers/cbv/entries_controller_spec.rb
Due: rubocop

remove changes done to make testing easier
  app/app/controllers/cbv/base_controller.rb
Due: rubocop

Uncropped logo looked funny, crop it.
  app/app/assets/images/des_logo.png
Due: none

Add logo in agency-config
  app/config/client-agency-config.yml
Due: none

css for az_des
  app/app/assets/stylesheets/cbv.scss
Due: none

fix for vulnerability GHSA-8cj5-5rvv-wf4v
  app/package-lock.json
  app/package.json
Due: none

Path conditions:
  rubocop: any of: ^app/.*\.rb$
  erblint: any of: ^app/.*\.erb$
  i18n-normalize: any of: ^app/config/locales/.*\.yml$
  i18n-missing: any of: ^app/config/locales/.*\.yml$
  shellcheck: any of: ^bin/.*$
  prettier: any of: ^app/.*\.(js|ts)$
