Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-normalize, i18n-missing, shellcheck, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml

- repo: local
  hooks:
  - id: rubocop
    name: rubocop
    entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
    language: ruby
    files: '^app/.*\.rb$'

  - id: erblint
    name: erblint
    entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
    language: ruby
    files: '^app/.*\.erb$'

  - id: i18n-normalize
    name: i18n-normalize
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
    language: ruby
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: i18n-missing
    name: i18n-missing
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks missing
    language: ruby
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system        # installed via `brew bundle`
    files: '^bin/.*$'

  - id: prettier
    name: prettier
    entry: bin/run-linter --cd app -- npm run format:precommit
    language: node
    files: '^app/.*\.(js|ts)$'

Fix pdf test
  app/spec/services/pdf_service_spec.rb
Due: rubocop

added loading animation, local saving, cleared run metadata
  app/analytics/analytics.ipynb
Due: none

FFS-3178: Payment Details UX changes from FFS-3027 (#908)
  app/app/components/accordion_component.rb
  app/app/components/report/employment_details_table_component.erb
  app/app/components/report/gig_monthly_summary_table_component.erb
  app/app/components/report/payments_deductions_monthly_summary_component.html.erb
  app/app/components/report/w2_monthly_summary_table_component.erb
  app/app/views/cbv/payment_details/show.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/spec/components/report/employment_details_table_component_spec.rb
  app/spec/components/report/gig_monthly_summary_table_component_spec.rb
  app/spec/components/report/payments_deductions_monthly_summary_component_spec.rb
  app/spec/components/report/w2_monthly_summary_table_component_spec.rb
  app/spec/controllers/cbv/payment_details_controller_spec.rb
  app/spec/services/pdf_service_spec.rb
Due: rubocop, erblint, i18n-normalize, i18n-missing

mixpanel search query update, mixpanel cbvpageview tracking change, p… (#27)
  .pre-commit-config.yaml
  app/.env
  app/app/controllers/cbv/base_controller.rb
  app/app/controllers/cbv/employer_searches_controller.rb
  app/app/controllers/cbv/expired_invitations_controller.rb
  app/app/controllers/cbv/generic_links_controller.rb
  app/app/controllers/cbv/sessions_controller.rb
  app/app/controllers/cbv/synchronizations_controller.rb
  app/app/services/aggregators/validators/useful_report_validator.rb
  app/spec/controllers/cbv/employer_searches_controller_spec.rb
  app/spec/controllers/cbv/payment_details_controller_spec.rb
Due: rubocop

Cle/update feedback link (#29)
  app/app/helpers/application_helper.rb
Due: rubocop

remove references to dsac team (#28)
  .github/reviewer-lottery.yml
  .github/workflows/pr-reviewer-lottery.yml
  CODEOWNERS.md
  GOVERNANCE.md
Due: none

more organized, plus job count analytics
  app/analytics/analytics.ipynb
Due: none

ignore .json files in /analytics
  .gitignore
Due: none

Publish July 2025 Cumulative Data Update
  docs/product-updates/07-29-2025-update.md
Due: none

Update Markdown linter and add to precommit config
  .github/workflows/ci-docs.yml
  .pre-commit-config.yaml
Due: none

Fix broken links and update report filename
  docs/product-updates/2025-07-22-Data-Summary.pdf
  docs/product-updates/2025-07-29-update.md
  docs/product-updates/images/2025-07-29_Adoption_Funnel.png
  docs/product-updates/images/2025-07-29_Dropoff_By_Step.png
  docs/product-updates/images/2025-07-29_Learnings.png
Due: none

Cle/pr template (#34)
  .github/pull_request_template.md
Due: none

Publish July 2025 Cumulative Data Update (#928)
  .github/workflows/ci-docs.yml
  .pre-commit-config.yaml
  docs/product-updates/2025-07-22-Data-Summary.pdf
  docs/product-updates/2025-07-29-update.md
  docs/product-updates/images/2025-07-29_Adoption_Funnel.png
  docs/product-updates/images/2025-07-29_Dropoff_By_Step.png
  docs/product-updates/images/2025-07-29_Learnings.png
Due: none

Fix checkov for SFTP server (#24)
  infra/modules/database/role-manager.tf
  infra/sftp-server/README.md
  infra/sftp-server/lambda.tf
  infra/sftp-server/outputs.tf
  infra/sftp-server/s3.tf
  infra/sftp-server/secrets.tf
  infra/sftp-server/transfer_family.tf
  infra/sftp-server/variables.tf
  infra/sftp-server/vpc.tf
Due: none

tiny comment change
  app/analytics/analytics.ipynb
Due: none

Add logic to use agency domain if applicable rather than path
  app/app/models/cbv_flow.rb
Due: rubocop

check in sandbox.localhost
  app/.env
Due: none

add dev mixpanel key, update run-name in cd.yml (#35)
  .github/workflows/cd-app.yml
  app/.env
Due: none

make amazon link to amazon flex instead
  app/app/services/provider_search_service.rb
  app/app/views/cbv/employer_searches/show.html.erb
Due: rubocop, erblint

move amazon to amazon flex
  app/app/services/provider_search_service.rb
  app/app/views/cbv/employer_searches/show.html.erb
Due: rubocop, erblint

remove reviewer lottery from demo release branch, causing error on merge
  .github/workflows/pr-reviewer-lottery.yml
Due: none

remove reviewer lottery from prod release branch, causing error on merge
  .github/workflows/pr-reviewer-lottery.yml
Due: none

fixing form test, failing due to changed feedback URL (#37)
  app/config/client-agency-config.yml
Due: none

Test success_controller
  app/spec/controllers/cbv/successes_controller_spec.rb
Due: rubocop

Test cbv_flow_invitation_spec
  app/spec/models/cbv_flow_invitation_spec.rb
Due: rubocop

Test cbv_flow_spec
  app/spec/models/cbv_flow_spec.rb
Due: rubocop

Fix AutoTitleTestHelper to use HTML parser instead of regex
  app/spec/support/title_checker_helper.rb
Due: rubocop

update deployment workflows for both demo and prod (#38)
  .github/workflows/deploy-demo.yml
  .github/workflows/deploy-prod.yml
  README.md
Due: none

Fix AutoTitleTestHelper to use HTML parser instead of regex (#932)
  app/spec/support/title_checker_helper.rb
Due: rubocop

Add slim variant to `Uswds::Alert`
  app/app/components/uswds/alert.rb
  app/app/views/layouts/application.html.erb
  app/spec/components/uswds/alert_spec.rb
Due: rubocop, erblint

Add "success" to list of valid alert types
  app/app/components/uswds/alert.rb
Due: rubocop

Rename `AlertComponent` -> `Uswds::Alert`
  app/app/components/report/gig_monthly_summary_table_component.erb
  app/app/components/uswds/alert.html.erb
  app/app/components/uswds/alert.rb
  app/app/views/cbv/payment_details/show.html.erb
  app/app/views/cbv/summaries/show.html.erb
  app/spec/components/uswds/alert_spec.rb
Due: rubocop, erblint

Use `Uswds::Alert` component in application layout
  app/app/components/uswds/alert.rb
  app/app/views/layouts/application.html.erb
Due: rubocop, erblint

Use JS to show "help" alert on /employer_search without refresh
  app/app/controllers/application_controller.rb
  app/app/javascript/controllers/cbv/employer_search.js
  app/app/views/cbv/employer_searches/show.html.erb
  app/app/views/layouts/application.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
Due: rubocop, erblint, i18n-normalize, i18n-missing, prettier

Upgrade sass from 1.89.2 to 1.90.0 (#926)
  app/package-lock.json
  app/package.json
Due: none

FFS-3219 & FFS-3329: /success shareable link updates (simplified with origin) (#930)
  app/.env
  app/app/controllers/cbv/successes_controller.rb
  app/app/models/cbv_flow.rb
  app/app/models/cbv_flow_invitation.rb
  app/spec/controllers/cbv/successes_controller_spec.rb
  app/spec/models/cbv_flow_invitation_spec.rb
  app/spec/models/cbv_flow_spec.rb
Due: rubocop

update prod env config
  infra/app/app-config/prod.tf
Due: none

FFS-3298: Return containers and database to standard configuration (#934)
  infra/app/app-config/prod.tf
Due: none
