Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-normalize, i18n-missing

rubocop:
  name: rubocop
  entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect
  language: ruby

erblint:
  name: erblint
  entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
  language: ruby

i18n-normalize:
  name: i18n-normalize
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
  language: ruby
  pass_filenames: false

i18n-missing:
  name: i18n-missing
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks missing
  language: ruby
  pass_filenames: false

linter fix
  app/app/views/cbv/synchronizations/_status.html.erb
  app/app/views/cbv/synchronizations/show.html.erb
Due: erblint

create base feature spec for creating a new client
  app/Gemfile
  app/Gemfile.lock
  app/spec/system/attempts_oauth_flow_spec.rb
Due: rubocop

finished testing
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/app/services/aggregators/aggregator_reports/argyle_report.rb
  app/spec/services/aggregators/aggregator_reports/argyle_report_spec.rb
Due: rubocop

updated to use the static methods for testing
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/spec/services/aggregators/aggregator_reports/argyle_report_spec.rb
Due: rubocop

fix: upgrade postcss-cli from 11.0.0 to 11.0.1
  app/package-lock.json
  app/package.json
Due: none

Set environment with client_agency_config
  app/app/controllers/api/argyle_controller.rb
  app/spec/controllers/api/argyle_controller_spec.rb
Due: rubocop

Remove `test_fixture_directory` fixture configuration variable
  app/spec/controllers/cbv/payment_details_controller_spec.rb
  app/spec/controllers/cbv/submits_controller_spec.rb
  app/spec/controllers/cbv/successes_controller_spec.rb
  app/spec/controllers/cbv/summaries_controller_spec.rb
  app/spec/controllers/webhooks/pinwheel/events_controller_spec.rb
  app/spec/services/aggregators/aggregator_reports/pinwheel_report_spec.rb
  app/spec/services/aggregators/sdk/argyle_service_spec.rb
  app/spec/services/aggregators/sdk/pinwheel_service_spec.rb
  app/spec/services/argyle_webhooks_manager_spec.rb
  app/spec/support/argyle_api_helper.rb
  app/spec/support/pinwheel_api_helper.rb
  app/spec/support/test_helpers.rb
Due: rubocop

Clean up webhooks initialization
  app/.env
  app/app/concerns/api_service.rb
  app/app/controllers/cbv/employer_searches_controller.rb
  app/app/services/aggregators/sdk/argyle_service.rb
  app/app/services/argyle_webhooks_manager.rb
  app/config/initializers/ngrok_development.rb
  app/spec/services/aggregators/sdk/argyle_service_spec.rb
  app/spec/services/argyle_webhooks_manager_spec.rb
  app/spec/support/fixtures/argyle/response_get_webhook_subscriptions.json
Due: rubocop

Configure rubocop to ignore db/schema.rb
  .pre-commit-config.yaml
Due: none

Store `argyle_user_id` on the CbvFlow
  app/app/controllers/api/argyle_controller.rb
  app/app/services/aggregators/sdk/argyle_service.rb
  app/db/migrate/20250404005946_add_argyle_user_id_to_cbv_flows.rb
  app/db/schema.rb
  app/spec/controllers/api/argyle_controller_spec.rb
  app/spec/support/argyle_api_helper.rb
  app/spec/support/fixtures/argyle/response_create_user.json
  app/spec/support/fixtures/argyle/response_create_user_token.json
  docs/app/rendered/database-schema.pdf
Due: rubocop

Harmonize Argyle/Pinwheel money formats into number of cents
  app/app/services/aggregators/format_methods/argyle.rb
  app/app/services/aggregators/response_objects/income.rb
  app/spec/services/aggregators/format_methods/argyle_spec.rb
  app/spec/services/aggregators/response_objects/income_spec.rb
  app/spec/services/aggregators/response_objects/paystub_spec.rb
Due: rubocop

Refactor Argyle::EventsController to use `argyle_user_id` column
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/app/models/payroll_account/argyle.rb
  app/spec/controllers/webhooks/argyle/events_controller_spec.rb
Due: rubocop

Fix Argyle report rendering
  app/app/controllers/cbv/base_controller.rb
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/app/services/aggregators/aggregator_reports/argyle_report.rb
  app/spec/services/aggregators/aggregator_reports/argyle_report_spec.rb
Due: rubocop

Simplify PayrollAccount::Argyle
  app/app/models/payroll_account/argyle.rb
  app/spec/factories/payroll_account.rb
  app/spec/models/payroll_account/argyle_spec.rb
Due: rubocop

Add 1-second artificial delay after Argyle modal closes
  app/app/javascript/adapters/ArgyleModalAdapter.ts
Due: none

Fix vitest for the 1-second timeout
  app/spec/javascript/adapters/ArgyleModalAdapter.spec.js
Due: none

Merge via Squash - cle/ffs-2598-payment-details-sync
  app/app/channels/paystubs_channel.rb
  app/app/controllers/cbv/synchronizations_controller.rb
  app/app/controllers/webhooks/pinwheel/events_controller.rb
  app/app/javascript/controllers/index.js
  app/app/javascript/controllers/polling_controller.js
  app/app/views/cbv/synchronizations/_status.html.erb
  app/app/views/cbv/synchronizations/show.html.erb
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/spec/channels/paystubs_channel_spec.rb
  app/spec/controllers/cbv/synchronizations_spec.rb
Due: rubocop, erblint, i18n-normalize, i18n-missing

FFS-2546: Allow Argyle JS to support "production" environment (#535)
  app/app/controllers/api/argyle_controller.rb
  app/app/javascript/adapters/ArgyleModalAdapter.ts
  app/spec/controllers/api/argyle_controller_spec.rb
  app/spec/javascript/adapters/ArgyleModalAdapter.spec.js
  app/spec/javascript/fixtures/argyle.fixture.js
Due: rubocop

response to PR feedback
  app/app/javascript/controllers/polling_controller.js
  app/app/views/cbv/synchronizations/show.html.erb
Due: erblint

Add shifts api endpoint
  app/app/services/aggregators/sdk/pinwheel_service.rb
Due: rubocop

Add fixture with shifts API response data
  app/spec/support/fixtures/pinwheel/request_end_user_shifts_response.json
Due: none

fix: upgrade postcss-cli from 11.0.0 to 11.0.1 (#539)
  app/package-lock.json
  app/package.json
Due: none

fix: upgrade autoprefixer from 10.4.20 to 10.4.21 (#526)
  app/package-lock.json
  app/package.json
Due: none

clean up CBV flow spec and move client spec to e2e folder for now
  app/spec/e2e/cbv_flow_spec.rb
  app/spec/e2e/client_signup_spec.rb
Due: rubocop

new test to make sure client fields do not show on client version of pdf
  app/spec/controllers/cbv/submits_controller_spec.rb
Due: rubocop

test shifts api
  app/spec/services/aggregators/sdk/pinwheel_service_spec.rb
  app/spec/support/pinwheel_api_helper.rb
Due: rubocop

corrected sending client_agency_id to the event logger in many places, also a few locale updates
  app/app/controllers/api/pinwheel_controller.rb
  app/app/controllers/api/user_events_controller.rb
  app/app/controllers/cbv/applicant_informations_controller.rb
  app/app/controllers/cbv/base_controller.rb
  app/app/controllers/cbv/employer_searches_controller.rb
  app/app/controllers/cbv/entries_controller.rb
  app/app/controllers/cbv/missing_results_controller.rb
  app/app/controllers/cbv/payment_details_controller.rb
  app/app/controllers/cbv/submits_controller.rb
  app/app/controllers/cbv/successes_controller.rb
  app/app/controllers/cbv/summaries_controller.rb
  app/app/controllers/help_controller.rb
  app/app/controllers/webhooks/pinwheel/events_controller.rb
  app/lib/generic_event_tracker.rb
  app/spec/controllers/help_controller_spec.rb
Due: rubocop

Address CR feedback
  app/app/controllers/cbv/employer_searches_controller.rb
  app/spec/javascript/adapters/ArgyleModalAdapter.spec.js
  app/spec/support/test_helpers.rb
Due: rubocop

Move `webhooks` into `aggregators` directory
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/app/models/payroll_account/argyle.rb
  app/app/services/aggregators/webhooks/argyle.rb
  app/app/services/argyle_webhooks_manager.rb
  app/spec/controllers/webhooks/argyle/events_controller_spec.rb
  app/spec/factories/payroll_account.rb
  app/spec/factories/webhook_request.rb
  app/spec/models/payroll_account/argyle_spec.rb
  app/spec/services/aggregators/webhooks/argyle_spec.rb
  app/spec/services/argyle_webhooks_manager_spec.rb
Due: rubocop

Merge origin/main (via squash)
  app/app/controllers/api/argyle_controller.rb
  app/app/javascript/adapters/ArgyleModalAdapter.ts
  app/app/javascript/controllers/polling_controller.js
  app/app/views/cbv/synchronizations/show.html.erb
  app/package-lock.json
  app/package.json
  app/spec/controllers/api/argyle_controller_spec.rb
  app/spec/controllers/webhooks/argyle/events_controller_spec.rb
  app/spec/javascript/adapters/ArgyleModalAdapter.spec.js
  app/spec/javascript/fixtures/argyle.fixture.js
  app/spec/services/aggregators/aggregator_reports/argyle_report_spec.rb
Due: rubocop, erblint

Add acceptance testing process to README.md
  README.md
Due: none

initial commit using meets_requirements?. Potentially this should be more of rule validation response object to help with debugging.
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/app/services/aggregators/format_methods/argyle.rb
  app/app/services/aggregators/format_methods/pinwheel.rb
  app/app/services/aggregators/response_objects/employment.rb
  app/app/services/aggregators/response_objects/identity.rb
  app/app/services/aggregators/response_objects/paystub.rb
  app/spec/services/aggregators/aggregator_reports/argyle_report_spec.rb
  app/spec/services/aggregators/response_objects/employment_spec.rb
  app/spec/services/aggregators/response_objects/identity_spec.rb
  app/spec/services/aggregators/response_objects/paystub_spec.rb
Due: rubocop

fixed argyle_report_spec after merge
  app/spec/services/aggregators/aggregator_reports/argyle_report_spec.rb
Due: rubocop

fixed broken test
  app/spec/services/aggregators/aggregator_reports/argyle_report_spec.rb
Due: rubocop

removing old changes to pinwheel.rb
  app/app/models/payroll_account/pinwheel.rb
Due: rubocop

merged in new Spanish translations
  app/config/locales/es.yml
Due: i18n-normalize, i18n-missing

exempted the two missing strings from our linter tests, to be translated in a future ticket
  app/config/i18n-tasks.yml
  app/config/locales/es.yml
Due: i18n-normalize, i18n-missing

corrected sending client_agency_id to the event logger in many places, also a few locale updates (#541)
  app/app/controllers/api/pinwheel_controller.rb
  app/app/controllers/api/user_events_controller.rb
  app/app/controllers/cbv/applicant_informations_controller.rb
  app/app/controllers/cbv/base_controller.rb
  app/app/controllers/cbv/employer_searches_controller.rb
  app/app/controllers/cbv/entries_controller.rb
  app/app/controllers/cbv/missing_results_controller.rb
  app/app/controllers/cbv/payment_details_controller.rb
  app/app/controllers/cbv/submits_controller.rb
  app/app/controllers/cbv/successes_controller.rb
  app/app/controllers/cbv/summaries_controller.rb
  app/app/controllers/help_controller.rb
  app/app/controllers/webhooks/pinwheel/events_controller.rb
  app/lib/generic_event_tracker.rb
  app/spec/controllers/help_controller_spec.rb
Due: rubocop

Path conditions:
  rubocop: any of: ^app/.*\.rb$
  erblint: any of: ^app/.*\.erb$
  i18n-normalize: any of: ^app/config/locales/.*.yml$
  i18n-missing: any of: ^app/config/locales/.*.yml$
