Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-unused, i18n-normalize, shellcheck, prettier, terraform_fmt, actionlint

rubocop:
  name: rubocop
  entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
  language: system

erblint:
  name: erblint
  entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
  language: system

i18n-unused:
  name: i18n-unused
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks unused
  language: system
  pass_filenames: false

i18n-normalize:
  name: i18n-normalize
  entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
  language: system
  pass_filenames: false

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system

prettier:
  name: prettier
  entry: bin/run-linter --cd app -- npm run format:precommit
  language: node

terraform_fmt:
  name: Terraform Fmt
  entry: terraform fmt
  language: system

actionlint:
  name: ActionLint
  entry: actionlint
  language: system
  pass_filenames: false

Work on removing prefilled and household
  app/app/controllers/launcher_controller.rb
  app/app/javascript/controllers/advanced_launcher_controller.js
  app/app/views/launcher/advanced.html.erb
Due: rubocop, erblint, prettier

Pass version correctly
  app/app/models/cbv_applicant.rb
  app/lib/client_agency_config.rb
  app/spec/services/transmitters/json_transmitter_spec.rb
Due: rubocop

Move translations to awaiting translation
  app/config/i18n-tasks.yml
Due: none

Test commit for CI
  app/app/controllers/launcher_controller.rb
  app/app/javascript/controllers/advanced_launcher_controller.js
Due: rubocop, prettier

small drive-by copy updates
  CONTRIBUTING.md
  README.md
Due: none

Continue removing prefilled code
  app/app/assets/stylesheets/advanced-launcher.scss
  app/app/javascript/controllers/advanced_launcher_controller.js
  app/app/views/launcher/_pre_populated_activities.html.erb
  app/spec/controllers/launcher_controller_advanced_spec.rb
Due: rubocop, erblint, prettier

Remove prefilled tests
  app/spec/controllers/launcher_controller_advanced_spec.rb
Due: rubocop

FFS-4792 Implement Education "Other" page (and its radio button) (#2076)
  app/app/controllers/activities/education/add_your_education_controller.rb
  app/app/controllers/activities/education/other_controller.rb
  app/app/views/activities/education/add_your_education/show.html.erb
  app/app/views/activities/education/other/show.html.erb
  app/config/locales/en.yml
  app/config/routes.rb
  app/spec/controllers/activities/education/add_your_education_controller_spec.rb
  app/spec/controllers/activities/education/other_controller_spec.rb
  app/spec/controllers/activities/education_navigation_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Remove household tests
  app/config/locales/en.yml
  app/spec/e2e/household_activity_flow_spec.rb
  app/spec/javascript/controllers/advanced_launcher.spec.js
  app/spec/requests/launcher_spec.rb
Due: rubocop, i18n-unused, i18n-normalize, prettier

FFS-4822: Update monthly details pages for paid work in Emmy CE manual reporting flow (#2077)
  app/app/controllers/activities/employment/months_controller.rb
  app/app/javascript/controllers/hours_input_controller.js
  app/app/views/activities/employment/months/edit.html.erb
  app/app/views/shared/_hours_input.html.erb
  app/config/locales/en.yml
  app/spec/controllers/activities/employment/months_controller_spec.rb
  app/spec/e2e/activity_hub_employment_self_attestation_spec.rb
  app/spec/e2e/activity_hub_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize, prettier

Unpaid/in-kind employment information page updates
  app/app/components/accordion_component.html.erb
  app/app/components/accordion_component.rb
  app/app/controllers/activities/employment/add_your_work_controller.rb
  app/app/controllers/activities/employment_controller.rb
  app/app/models/employment_activity.rb
  app/app/views/activities/employment/_address_fields.html.erb
  app/app/views/activities/employment/_form.html.erb
  app/app/views/activities/employment/_paid_fields.html.erb
  app/app/views/activities/employment/_unpaid_fields.html.erb
  app/app/views/activities/employment/edit.html.erb
  app/app/views/activities/employment/new.html.erb
  app/config/locales/en.yml
  app/db/migrate/20260918000000_add_compensation_type_to_employment_activities.rb
  app/db/schema.rb
  app/spec/components/accordion_component_spec.rb
  app/spec/controllers/activities/employment/add_your_work_controller_spec.rb
  app/spec/controllers/activities/employment_controller_spec.rb
  app/spec/controllers/api/user_events_controller_spec.rb
  app/spec/e2e/employment_unpaid_information_spec.rb
  app/spec/models/employment_activity_spec.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.mmd
Due: rubocop, erblint, i18n-unused, i18n-normalize

bump up LA config invitation expiration days to 75
  app/config/client-agency-config.yml
Due: none

Remove more prefilled activities
  app/app/controllers/launcher_controller.rb
  app/app/javascript/controllers/advanced_launcher_controller.js
  app/app/views/launcher/advanced.html.erb
Due: rubocop, erblint, prettier

Remove pre-populated activities
  app/app/controllers/api/invitations_controller.rb
  app/app/controllers/launcher_controller.rb
  app/app/models/activity_flow_invitation.rb
  app/db/migrate/20260921190718_remove_pre_populated_activities_from_activity_flow_invitations.rb
  app/db/schema.rb
  app/spec/controllers/launcher_controller_advanced_spec.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.mmd
Due: rubocop

Remove household prefilled activities
  app/app/models/activity_flow.rb
  app/app/models/activity_flow_invitation.rb
  app/app/services/cbv_invitation_service.rb
  app/app/services/launcher/household_scenario.rb
  app/spec/controllers/activities/activities_controller_spec.rb
  app/spec/controllers/api/invitations_controller_spec.rb
  app/spec/models/activity_flow_invitation_spec.rb
  app/spec/models/activity_flow_spec.rb
  app/spec/services/launcher/household_scenario_spec.rb
Due: rubocop

Fix validation
  app/app/models/employment_activity.rb
  app/config/locales/en.yml
  app/spec/e2e/employment_unpaid_information_spec.rb
  app/spec/models/employment_activity_spec.rb
Due: rubocop, i18n-unused, i18n-normalize

Remove household code
  app/app/views/activities/activities/index.html.erb
Due: erblint

Remove hardcoded version
  app/app/services/api/v2/invitation_metadata.rb
  app/lib/client_agency_config.rb
Due: rubocop

No need to pass default version
  app/app/services/api/v2/invitation_metadata.rb
Due: rubocop

Update tests
  app/app/helpers/activities_helper.rb
  app/app/models/activity_flow_invitation.rb
  app/spec/controllers/activities/activities_controller_spec.rb
  app/spec/controllers/household_members_controller_spec.rb
  app/spec/helpers/activities_helper_spec.rb
Due: rubocop

Update translations file
  app/config/locales/en.yml
Due: i18n-unused, i18n-normalize

Update tests
  app/app/javascript/controllers/advanced_launcher_controller.js
  app/spec/controllers/launcher_controller_advanced_spec.rb
Due: rubocop, prettier

Release version 0.7.0
  CHANGELOG.md
  app/version.txt
  code.json
Due: none

Release version 0.7.0 (#2093)
  CHANGELOG.md
  app/version.txt
  code.json
Due: none

Move self-employment copy to hint
  app/app/views/activities/employment/_unpaid_fields.html.erb
  app/config/locales/en.yml
  app/spec/controllers/activities/employment_controller_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Remove prefilled from agency config
  app/config/client-agency-config.yml
  app/lib/client_agency_config.rb
Due: rubocop

FFS-4805: Change content on employment information page for unpaid/in-kind work in Emmy CE manual reporting flow (#2081)
  app/app/components/accordion_component.html.erb
  app/app/components/accordion_component.rb
  app/app/controllers/activities/employment/add_your_work_controller.rb
  app/app/controllers/activities/employment_controller.rb
  app/app/models/employment_activity.rb
  app/app/views/activities/employment/_address_fields.html.erb
  app/app/views/activities/employment/_form.html.erb
  app/app/views/activities/employment/_paid_fields.html.erb
  app/app/views/activities/employment/_unpaid_fields.html.erb
  app/app/views/activities/employment/edit.html.erb
  app/app/views/activities/employment/new.html.erb
  app/config/locales/en.yml
  app/db/migrate/20260918000000_add_compensation_type_to_employment_activities.rb
  app/db/schema.rb
  app/spec/components/accordion_component_spec.rb
  app/spec/controllers/activities/employment/add_your_work_controller_spec.rb
  app/spec/controllers/activities/employment_controller_spec.rb
  app/spec/controllers/api/user_events_controller_spec.rb
  app/spec/e2e/employment_unpaid_information_spec.rb
  app/spec/models/employment_activity_spec.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.mmd
Due: rubocop, erblint, i18n-unused, i18n-normalize

moving path definition around
  app/app/controllers/activities/education/add_your_education_controller.rb
  app/app/helpers/activities_helper.rb
  app/spec/controllers/activities/activities_controller_spec.rb
  app/spec/controllers/activities/education/add_your_education_controller_spec.rb
  app/spec/helpers/activities_helper_spec.rb
Due: rubocop

Remove unused method call
  app/app/javascript/controllers/advanced_launcher_controller.js
  app/app/views/launcher/advanced.html.erb
Due: erblint, prettier

FFS-4830: Set the default CBV invitation link expiration to 75 days for the Louisiana (LA) agency (#2082)
  app/config/client-agency-config.yml
Due: none

FFS-4841: Add site alert incident CLI
  bin/site-alert
  docs/app/runbooks/site-alert.md
Due: shellcheck

FFS-4841: Warn about hidden Terraform changes
  bin/site-alert
  docs/app/runbooks/site-alert.md
Due: shellcheck

FFS-4841: Clarify CLI progress and usage
  bin/site-alert
Due: shellcheck

FFS-4841: Add maintenance mode workflow
  bin/maintenance-mode
  bin/site-alert
  docs/app/runbooks/maintenance-mode.md
  docs/app/runbooks/site-alert.md
Due: shellcheck

FFS-4841: Correct CMS alert parameter path
  bin/site-alert
Due: shellcheck

FFS-4841: Pass CMS environment to Terraform
  bin/site-alert
  docs/app/runbooks/site-alert.md
Due: shellcheck

FFS-4841: Show alert target details
  bin/site-alert
Due: shellcheck

FFS-4841: Use scheduled maintenance preset
  bin/site-alert
  docs/app/runbooks/site-alert.md
Due: shellcheck

FFS-4841: Add Terraform deployment checkpoint
  bin/site-alert
  docs/app/runbooks/site-alert.md
Due: shellcheck

Update Spanish message with human-provided translation
  bin/site-alert
Due: shellcheck

Path conditions:
  rubocop: any of: ^app/.*\.rb$
  erblint: any of: ^app/.*\.erb$
  i18n-unused: any of: ^app/config/locales/.*\.yml$
  i18n-normalize: any of: ^app/config/locales/.*\.yml$
  shellcheck: any of: ^bin/.*$
  prettier: any of: ^app/.*\.(js|ts)$
  terraform_fmt: any of: infra/.*\.tf$
  actionlint: any of: ^.github/.*\.yml$
