Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-unused, i18n-normalize, shellcheck, prettier, terraform_fmt, actionlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml

- repo: local
  hooks:
  - id: rubocop
    name: rubocop
    entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
    language: system
    files: '^app/.*\.rb$'

  # this rubocop hook works on windows/wsl, and is being left here as of 8/27/2025 to figure it out at some point
  #- id: rubocop
  #  name: rubocop
  #  language: system
  #  entry: bash -lc 'BUNDLE_GEMFILE=app/Gemfile cd app && bundle exec rubocop -a --force-exclusion'
  #  types: [ ruby ]
  #  files: '^app/.*\.rb$'
  #  pass_filenames: false

  - id: erblint
    name: erblint
    entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
    language: system
    files: '^app/.*\.erb$'

  - id: i18n-unused
    name: i18n-unused
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks unused
    language: system
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: i18n-normalize
    name: i18n-normalize
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
    language: system
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system        # installed via `brew bundle`
    files: '^bin/.*$'

  - id: prettier
    name: prettier
    entry: bin/run-linter --cd app -- npm run format:precommit
    language: node
    files: '^app/.*\.(js|ts)$'

  - id: terraform_fmt
    name: Terraform Fmt
    entry: terraform fmt
    language: system
    files: 'infra/.*\.tf$'

#  - id: checkov
#    name: Checkov
#    entry: checkov --quiet --output sarif --framework terraform -f
#    language: system
#    files: 'infra/.*\.tf$'

  - id: actionlint
    name: ActionLint
    entry: actionlint
    language: system
    files: '^.github/.*\.yml$'
    pass_filenames: false

FFS-3707: Implement multi-month progress indicator (#1345)
  app/app/components/activity_flow_progress_indicator.rb
  app/app/components/activity_flow_progress_indicator/activity_flow_progress_indicator.erb
  app/app/components/activity_flow_progress_indicator/activity_flow_progress_indicator.scss
  app/app/controllers/activities/base_controller.rb
  app/app/controllers/activities/submit_controller.rb
  app/app/helpers/activities_helper.rb
  app/app/services/activity_flow_progress_calculator.rb
  app/config/locales/en.yml
  app/spec/components/activity_flow_progress_indicator_component_spec.rb
  app/spec/components/previews/activity_flow_progress_indicator_preview.rb
  app/spec/services/activity_flow_progress_calculator_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

throw an error when the report has not synced
  app/app/services/activity_flow_progress_calculator.rb
  app/spec/services/activity_flow_progress_calculator_spec.rb
Due: rubocop

moving logic into flow navigators
  app/app/controllers/cbv/base_controller.rb
  app/app/controllers/cbv/payment_details_controller.rb
  app/app/controllers/flow_controller.rb
  app/app/services/activity_flow_navigator.rb
Due: rubocop

fixed E2E issues
  app/app/controllers/activities/base_controller.rb
  app/spec/e2e/activity_hub_spec.rb
Due: rubocop

variable rename
  app/app/controllers/flow_controller.rb
  app/app/services/activity_flow_navigator.rb
Due: rubocop

Fix locale switching back and forth
  app/app/helpers/view_helper.rb
  app/spec/e2e/locale_persistence_spec.rb
Due: rubocop

FFS-3711: Add progress calculations to employment flow (#1333)
  app/app/controllers/activities/base_controller.rb
  app/app/controllers/cbv/base_controller.rb
  app/app/controllers/flow_controller.rb
  app/app/services/activity_flow_navigator.rb
  app/app/services/activity_flow_progress_calculator.rb
  app/spec/e2e/activity_hub_spec.rb
  app/spec/services/activity_flow_progress_calculator_spec.rb
Due: rubocop

some sensible cleanup
  app/app/services/activity_flow_progress_calculator.rb
  app/spec/services/activity_flow_progress_calculator_spec.rb
Due: rubocop

FFS-3701: Add deductions to paystub object on json api (#1344)
  app/app/components/report/payments_deductions_monthly_summary_component.html.erb
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/app/services/aggregators/response_objects/deduction.rb
  app/app/services/aggregators/response_objects/paystub.rb
  app/app/views/cbv/submits/show.pdf.erb
  app/spec/controllers/cbv/payment_details_controller_spec.rb
  app/spec/controllers/webhooks/argyle/events_controller_spec.rb
  app/spec/factories/aggregator_report.rb
  app/spec/services/aggregators/aggregator_reports/aggregator_report_spec.rb
  app/spec/support/fixtures/argyle/sarah/request_paystubs.json
  app/spec/support/fixtures/pinwheel/request_end_user_paystubs_response.json
Due: rubocop, erblint

Picked nit
  app/spec/controllers/application_controller_spec.rb
Due: rubocop

first draft
  app/app/controllers/api/argyle_controller.rb
  app/app/controllers/api/pinwheel_controller.rb
  app/app/controllers/api/user_events_controller.rb
  app/app/controllers/cbv/add_jobs_controller.rb
  app/app/controllers/cbv/applicant_informations_controller.rb
  app/app/controllers/cbv/base_controller.rb
  app/app/controllers/cbv/employer_searches_controller.rb
  app/app/controllers/cbv/entries_controller.rb
  app/app/controllers/cbv/missing_results_controller.rb
  app/app/controllers/cbv/other_jobs_controller.rb
  app/app/controllers/cbv/payment_details_controller.rb
  app/app/controllers/cbv/submits_controller.rb
  app/app/controllers/cbv/successes_controller.rb
  app/app/controllers/cbv/summaries_controller.rb
  app/app/controllers/feedbacks_controller.rb
  app/app/controllers/flow_controller.rb
  app/app/controllers/help_controller.rb
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/app/controllers/webhooks/pinwheel/events_controller.rb
  app/app/jobs/case_worker_transmitter_job.rb
  app/app/jobs/match_agency_names_job.rb
  app/app/mailers/application_mailer.rb
  app/lib/generic_event_tracker.rb
  app/lib/mixpanel_event_tracker.rb
  app/spec/controllers/cbv/payment_details_controller_spec.rb
  app/spec/generic_event_tracker_spec.rb
Due: rubocop

removed blank spaces
  app/app/controllers/api/argyle_controller.rb
  app/app/controllers/api/pinwheel_controller.rb
  app/app/controllers/api/user_events_controller.rb
  app/app/controllers/cbv/add_jobs_controller.rb
  app/app/controllers/feedbacks_controller.rb
  app/app/controllers/flow_controller.rb
  app/app/controllers/help_controller.rb
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/app/controllers/webhooks/pinwheel/events_controller.rb
Due: rubocop

FFS-3734: Language selection not persisted between pages (#1351)
  app/app/controllers/application_controller.rb
  app/app/helpers/view_helper.rb
  app/app/javascript/adapters/ArgyleModalAdapter.ts
  app/app/javascript/types/Argyle.d.ts
  app/spec/controllers/application_controller_spec.rb
  app/spec/e2e/locale_persistence_spec.rb
  app/spec/javascript/adapters/ArgyleModalAdapter.spec.js
  app/spec/javascript/adapters/__snapshots__/ArgyleModalAdapter.spec.js.snap
  app/spec/javascript/controllers/__snapshots__/employer_search.spec.js.snap
  app/spec/javascript/controllers/employer_search.spec.js
Due: rubocop, prettier

Add `additional_information` column to PayrollAccount
  app/app/services/backfill_additional_information_service.rb
  app/db/migrate/20260205174325_add_additional_information_to_payroll_account.rb
  app/db/schema.rb
  app/spec/services/backfill_additional_information_service_spec.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.pdf
Due: rubocop

Move over usages to new field
  app/app/controllers/cbv/base_controller.rb
  app/app/controllers/cbv/payment_details_controller.rb
  app/app/controllers/cbv/summaries_controller.rb
  app/app/jobs/case_worker_transmitter_job.rb
  app/app/models/cbv_flow.rb
  app/app/models/payroll_account.rb
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/app/views/activities/summary/show.html.erb
  app/app/views/cbv/payment_details/show.html.erb
  app/app/views/cbv/submits/show.pdf.erb
  app/app/views/cbv/summaries/show.html.erb
  app/spec/controllers/cbv/payment_details_controller_spec.rb
  app/spec/e2e/activity_hub_spec.rb
  app/spec/e2e/cbv_flow_pinwheel_spec.rb
  app/spec/e2e/cbv_flow_spec.rb
  app/spec/services/aggregators/aggregator_reports/aggregator_report_spec.rb
  app/spec/services/data_retention_service_spec.rb
Due: rubocop, erblint

added back a few device_id explicit passes; need these because they're set in webhooks
  app/app/controllers/webhooks/argyle/events_controller.rb
  app/app/controllers/webhooks/pinwheel/events_controller.rb
  app/app/jobs/case_worker_transmitter_job.rb
  app/app/jobs/match_agency_names_job.rb
  app/app/mailers/application_mailer.rb
Due: rubocop

Fix tests
  app/app/views/cbv/payment_details/show.html.erb
  app/spec/controllers/cbv/payment_details_controller_spec.rb
  app/spec/services/aggregators/aggregator_reports/aggregator_report_spec.rb
Due: rubocop, erblint

Re-add redaction for additional_information field
  app/app/models/payroll_account/argyle.rb
  app/app/models/payroll_account/pinwheel.rb
  app/spec/models/payroll_account/argyle_spec.rb
  app/spec/models/payroll_account/pinwheel_spec.rb
Due: rubocop

remove applicant cookie
  app/app/controllers/cbv/generic_links_controller.rb
  app/app/controllers/flow_controller.rb
  app/spec/controllers/activities/entries_controller_spec.rb
  app/spec/controllers/cbv/base_controller_spec.rb
  app/spec/controllers/cbv/generic_links_controller_spec.rb
Due: rubocop

code review updates
  app/app/models/education_activity.rb
  app/spec/models/education_activity_spec.rb
Due: rubocop

FFS-3723: Implement education happy path progress calc + routing (#1350)
  app/app/models/education_activity.rb
  app/app/models/nsc_enrollment_term.rb
  app/app/services/activity_flow_progress_calculator.rb
  app/spec/factories/nsc_enrollment_term.rb
  app/spec/models/education_activity_spec.rb
  app/spec/models/nsc_enrollment_term_spec.rb
  app/spec/services/activity_flow_progress_calculator_spec.rb
Due: rubocop

added USWDS Card component and previews
  app/app/components/uswds/card.html.erb
  app/app/components/uswds/card.rb
  app/spec/components/previews/uswds/card_preview.rb
  app/spec/components/uswds/card_spec.rb
Due: rubocop, erblint

Update app/app/controllers/flow_controller.rb
  app/app/controllers/flow_controller.rb
Due: rubocop

removed useless test
  app/spec/controllers/cbv/base_controller_spec.rb
Due: rubocop

FFS-3710: Implement "completed" statuses in progress indicator (#1348)
  app/app/components/activity_flow_progress_indicator/activity_flow_progress_indicator.erb
  app/app/components/activity_flow_progress_indicator/activity_flow_progress_indicator.scss
  app/config/locales/en.yml
  app/spec/components/activity_flow_progress_indicator_component_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Use same color of success icon for overall completion
  app/app/components/activity_flow_progress_indicator/activity_flow_progress_indicator.erb
Due: erblint

FFS-3729: Add progress indicator to review page
  app/app/views/activities/summary/show.html.erb
Due: erblint

FFS-3758: Fix employer search button disabled upon "Back"
  app/app/javascript/controllers/cbv/employer_search.js
  app/app/views/cbv/employer_searches/show.html.erb
Due: erblint, prettier

FFS-3729: Add progress indicator to review page (#1349)
  app/app/components/activity_flow_progress_indicator/activity_flow_progress_indicator.erb
  app/app/views/activities/summary/show.html.erb
Due: erblint

corrected indentation
  app/app/controllers/flow_controller.rb
Due: rubocop

FFS-3524: Move to device-id as identifier (#1352)
  app/app/controllers/api/argyle_controller.rb
  app/app/controllers/api/pinwheel_controller.rb
  app/app/controllers/api/user_events_controller.rb
  app/app/controllers/cbv/add_jobs_controller.rb
  app/app/controllers/cbv/applicant_informations_controller.rb
  app/app/controllers/cbv/base_controller.rb
  app/app/controllers/cbv/employer_searches_controller.rb
  app/app/controllers/cbv/entries_controller.rb
  app/app/controllers/cbv/generic_links_controller.rb
  app/app/controllers/cbv/missing_results_controller.rb
  app/app/controllers/cbv/other_jobs_controller.rb
  app/app/controllers/cbv/payment_details_controller.rb
  app/app/controllers/cbv/submits_controller.rb
  app/app/controllers/cbv/successes_controller.rb
  app/app/controllers/cbv/summaries_controller.rb
  app/app/controllers/feedbacks_controller.rb
  app/app/controllers/flow_controller.rb
  app/app/controllers/help_controller.rb
  app/lib/generic_event_tracker.rb
  app/lib/mixpanel_event_tracker.rb
  app/spec/controllers/activities/entries_controller_spec.rb
  app/spec/controllers/cbv/base_controller_spec.rb
  app/spec/controllers/cbv/generic_links_controller_spec.rb
  app/spec/controllers/cbv/payment_details_controller_spec.rb
  app/spec/generic_event_tracker_spec.rb
Due: rubocop

FFS-3292: Move additional_information to payroll_accounts (#1353)
  app/app/controllers/cbv/base_controller.rb
  app/app/controllers/cbv/payment_details_controller.rb
  app/app/controllers/cbv/summaries_controller.rb
  app/app/jobs/case_worker_transmitter_job.rb
  app/app/models/cbv_flow.rb
  app/app/models/payroll_account.rb
  app/app/models/payroll_account/argyle.rb
  app/app/models/payroll_account/pinwheel.rb
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/app/services/backfill_additional_information_service.rb
  app/app/views/activities/summary/show.html.erb
  app/app/views/cbv/payment_details/show.html.erb
  app/app/views/cbv/submits/show.pdf.erb
  app/app/views/cbv/summaries/show.html.erb
  app/db/migrate/20260205174325_add_additional_information_to_payroll_account.rb
  app/db/schema.rb
  app/spec/controllers/cbv/payment_details_controller_spec.rb
  app/spec/e2e/activity_hub_spec.rb
  app/spec/e2e/cbv_flow_pinwheel_spec.rb
  app/spec/e2e/cbv_flow_spec.rb
  app/spec/models/payroll_account/argyle_spec.rb
  app/spec/models/payroll_account/pinwheel_spec.rb
  app/spec/services/aggregators/aggregator_reports/aggregator_report_spec.rb
  app/spec/services/backfill_additional_information_service_spec.rb
  app/spec/services/data_retention_service_spec.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.pdf
Due: rubocop, erblint

renamed heading to heading_text
  app/app/components/uswds/card.html.erb
  app/app/components/uswds/card.rb
  app/spec/components/previews/uswds/card_preview.rb
  app/spec/components/uswds/card_spec.rb
Due: rubocop, erblint

FFS-3735: Create USWDS Card component and previews (#1354)
  app/app/components/uswds/card.html.erb
  app/app/components/uswds/card.rb
  app/spec/components/previews/uswds/card_preview.rb
  app/spec/components/uswds/card_spec.rb
Due: rubocop, erblint

FFS-3611: Never time out users on /synchronizations
  app/app/controllers/application_controller.rb
  app/app/controllers/cbv/synchronizations_controller.rb
  app/app/views/layouts/application.html.erb
  app/spec/controllers/cbv/add_jobs_controller_spec.rb
  app/spec/controllers/cbv/synchronizations_controller_spec.rb
Due: rubocop, erblint

Add data_source to models
  app/app/models/activity.rb
  app/app/models/education_activity.rb
  app/app/models/payroll_account.rb
Due: rubocop

Logic updates
  app/app/controllers/activities/base_controller.rb
  app/app/services/activity_flow_navigator.rb
  app/app/services/activity_flow_progress_calculator.rb
Due: rubocop

Database migrations & Schema
  app/db/migrate/20260205120000_add_data_source_to_activity_tables.rb
  app/db/migrate/20260205120100_add_data_source_to_payroll_accounts.rb
  app/db/schema.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.pdf
Due: rubocop

Spec
  app/spec/controllers/activities/education_controller_spec.rb
  app/spec/controllers/activities/job_training_controller_spec.rb
  app/spec/controllers/activities/volunteering_controller_spec.rb
  app/spec/services/activity_flow_progress_calculator_spec.rb
Due: rubocop

Change header and footer for hr1
  app/app/controllers/activities/base_controller.rb
  app/app/controllers/application_controller.rb
  app/app/controllers/cbv/base_controller.rb
  app/app/controllers/pages_controller.rb
  app/app/views/application/_footer.html.erb
  app/app/views/application/_header.html.erb
  app/app/views/layouts/application.html.erb
  app/app/views/pages/error_404.html.erb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/spec/support/e2e/test_helpers.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize
