Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-unused, i18n-normalize, shellcheck, prettier, terraform_fmt, actionlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml

- repo: local
  hooks:
  - id: rubocop
    name: rubocop
    entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
    language: system
    files: '^app/.*\.rb$'

  # this rubocop hook works on windows/wsl, and is being left here as of 8/27/2025 to figure it out at some point
  #- id: rubocop
  #  name: rubocop
  #  language: system
  #  entry: bash -lc 'BUNDLE_GEMFILE=app/Gemfile cd app && bundle exec rubocop -a --force-exclusion'
  #  types: [ ruby ]
  #  files: '^app/.*\.rb$'
  #  pass_filenames: false

  - id: erblint
    name: erblint
    entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
    language: system
    files: '^app/.*\.erb$'

  - id: i18n-unused
    name: i18n-unused
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks unused
    language: system
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: i18n-normalize
    name: i18n-normalize
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
    language: system
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system        # installed via `brew bundle`
    files: '^bin/.*$'

  - id: prettier
    name: prettier
    entry: bin/run-linter --cd app -- npm run format:precommit
    language: node
    files: '^app/.*\.(js|ts)$'

  - id: terraform_fmt
    name: Terraform Fmt
    entry: terraform fmt
    language: system
    files: 'infra/.*\.tf$'

#  - id: checkov
#    name: Checkov
#    entry: checkov --quiet --output sarif --framework terraform -f
#    language: system
#    files: 'infra/.*\.tf$'

  - id: actionlint
    name: ActionLint
    entry: actionlint
    language: system
    files: '^.github/.*\.yml$'
    pass_filenames: false

Show uploaded docs on review pages
  app/app/assets/stylesheets/document_uploads.scss
  app/app/components/document_uploads_component.html.erb
  app/app/components/document_uploads_component.rb
  app/app/views/activities/education/review.html.erb
  app/app/views/activities/employment/review.html.erb
  app/app/views/activities/job_training/review.html.erb
  app/app/views/activities/summary/_education_table.html.erb
  app/app/views/activities/summary/_job_training_table.html.erb
  app/app/views/activities/summary/_self_attested_employment_table.html.erb
  app/app/views/activities/summary/_volunteering_table.html.erb
  app/app/views/activities/volunteering/review.html.erb
  app/spec/components/document_uploads_component_spec.rb
  app/spec/controllers/activities/education_controller_spec.rb
  app/spec/controllers/activities/employment_controller_spec.rb
  app/spec/controllers/activities/job_training_controller_spec.rb
  app/spec/controllers/activities/summary_controller_spec.rb
  app/spec/controllers/activities/volunteering_controller_spec.rb
Due: rubocop, erblint

fix: patch Dockerfile for OS-level CVEs flagged by Trivy/Anchore
  app/Dockerfile
Due: none

Fix test
  app/app/components/document_uploads_component.html.erb
Due: erblint

Content / design tweaks
  app/app/components/document_uploads_component.html.erb
  app/app/components/document_uploads_component.rb
  app/app/views/activities/document_uploads/new.html.erb
  app/config/locales/en.yml
  app/spec/components/document_uploads_component_spec.rb
  app/spec/controllers/activities/document_uploads_controller_spec.rb
  app/spec/e2e/activity_hub_education_self_attestation_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Switch message if we're comin from edit
  app/app/controllers/activities/document_uploads_controller.rb
  app/app/views/activities/document_uploads/new.html.erb
  app/spec/controllers/activities/document_uploads_controller_spec.rb
Due: rubocop, erblint

rough draft
  app/app/jobs/application_job.rb
  app/app/jobs/case_worker_transmitter_job.rb
  app/spec/jobs/application_job_spec.rb
  app/spec/jobs/case_worker_transmitter_job_spec.rb
Due: rubocop

Only add packages
  .github/scripts/patch-dockerfile.rb
  .github/workflows/auto-fix-vulnerabilities.yml
Due: actionlint

FFS-3976: Display previously uploaded documents on activity review and review and submit pages (#1646)
  app/app/assets/stylesheets/document_uploads.scss
  app/app/components/document_uploads_component.html.erb
  app/app/components/document_uploads_component.rb
  app/app/controllers/activities/document_uploads_controller.rb
  app/app/views/activities/document_uploads/new.html.erb
  app/app/views/activities/education/review.html.erb
  app/app/views/activities/employment/review.html.erb
  app/app/views/activities/job_training/review.html.erb
  app/app/views/activities/summary/_education_table.html.erb
  app/app/views/activities/summary/_job_training_table.html.erb
  app/app/views/activities/summary/_self_attested_employment_table.html.erb
  app/app/views/activities/summary/_volunteering_table.html.erb
  app/app/views/activities/volunteering/review.html.erb
  app/config/locales/en.yml
  app/spec/components/document_uploads_component_spec.rb
  app/spec/controllers/activities/document_uploads_controller_spec.rb
  app/spec/controllers/activities/education_controller_spec.rb
  app/spec/controllers/activities/employment_controller_spec.rb
  app/spec/controllers/activities/job_training_controller_spec.rb
  app/spec/controllers/activities/summary_controller_spec.rb
  app/spec/controllers/activities/volunteering_controller_spec.rb
  app/spec/e2e/activity_hub_education_self_attestation_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

FFS-4259: Exclude gross_pay_list entries with `null` amount (#1643)
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/spec/services/aggregators/aggregator_reports/aggregator_report_spec.rb
Due: rubocop

incremental changes to root files
  .github/actions/setup-terraform/action.yml
  bin/update-infra-template
  docs/updating-template-infra.md
  infra/.terraform-version
Due: shellcheck, actionlint

Fix 0 community service hours in CE PDF report (#1619)
  app/app/views/activities/submit/show.pdf.erb
  app/spec/controllers/activities/submit_controller_spec.rb
Due: rubocop, erblint

remove apparently unused templating script
  download-and-install-template.sh
Due: none

fix: upgrade esbuild from 0.27.0 to 0.28.0
  app/package.json
Due: none

FFS-4239: update caseworker transmitter retry timing (#1662)
  app/app/jobs/application_job.rb
  app/app/jobs/case_worker_transmitter_job.rb
  app/spec/jobs/application_job_spec.rb
  app/spec/jobs/case_worker_transmitter_job_spec.rb
Due: rubocop

Daphne is always right
  .terraform-version
Due: none

Daphne is always right
  .github/actions/setup-terraform/action.yml
Due: actionlint

FFS-4241: Silence 403, 408, 502 errors from LA
  app/app/jobs/application_job.rb
  app/app/services/transmitters/http_pdf_transmitter.rb
  app/app/services/transmitters/json_transmitter.rb
  app/config/client-agency-config.yml
  app/config/newrelic.yml
  app/spec/jobs/application_job_spec.rb
  app/spec/jobs/case_worker_transmitter_job_spec.rb
  app/spec/services/transmitters/http_pdf_transmitter_spec.rb
  app/spec/services/transmitters/json_and_pdf_transmitter_spec.rb
  app/spec/services/transmitters/json_transmitter_spec.rb
Due: rubocop

Bump erb 6.0.2 -> 6.0.4 to address security scan
  app/Gemfile.lock
Due: none

Implement "sufficiently enrolled" for Education + test
  app/app/components/activity_flow_progress_indicator.rb
  app/app/components/activity_flow_progress_indicator/activity_flow_progress_indicator.erb
  app/app/models/education_activity.rb
  app/app/services/activity_flow_progress_calculator.rb
  app/app/services/education_activity_card_builder.rb
  app/app/services/education_activity_progress_calculator.rb
  app/app/views/activities/activities/index.html.erb
  app/config/locales/en.yml
  app/spec/components/activity_flow_progress_indicator_component_spec.rb
  app/spec/components/previews/activity_flow_progress_indicator_preview.rb
  app/spec/controllers/activities/activities_controller_spec.rb
  app/spec/e2e/activity_hub_spec.rb
  app/spec/helpers/activities_helper_spec.rb
  app/spec/services/activity_flow_progress_calculator_spec.rb
  app/spec/services/education_activity_progress_calculator_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Anchore fix PRs only add packages (#1663)
  .github/scripts/patch-dockerfile.rb
  .github/workflows/auto-fix-vulnerabilities.yml
Due: actionlint

Ignore "erb" vuln scan finding
  .grype.yml
Due: none

Ignore "erb" vulnerability scan finding (#1670)
  .grype.yml
Due: none

FFS-4241: Silence 403, 408, 502 errors from LA (#1649)
  app/app/jobs/application_job.rb
  app/app/services/transmitters/http_pdf_transmitter.rb
  app/app/services/transmitters/json_transmitter.rb
  app/config/client-agency-config.yml
  app/config/newrelic.yml
  app/spec/jobs/application_job_spec.rb
  app/spec/jobs/case_worker_transmitter_job_spec.rb
  app/spec/services/transmitters/http_pdf_transmitter_spec.rb
  app/spec/services/transmitters/json_and_pdf_transmitter_spec.rb
  app/spec/services/transmitters/json_transmitter_spec.rb
Due: rubocop

FFS-3960: Change progress indicator label to "Sufficiently enrolled" for education activities (#1669)
  app/app/components/activity_flow_progress_indicator.rb
  app/app/components/activity_flow_progress_indicator/activity_flow_progress_indicator.erb
  app/app/models/education_activity.rb
  app/app/services/activity_flow_progress_calculator.rb
  app/app/services/education_activity_card_builder.rb
  app/app/services/education_activity_progress_calculator.rb
  app/app/views/activities/activities/index.html.erb
  app/config/locales/en.yml
  app/spec/components/activity_flow_progress_indicator_component_spec.rb
  app/spec/components/previews/activity_flow_progress_indicator_preview.rb
  app/spec/controllers/activities/activities_controller_spec.rb
  app/spec/e2e/activity_hub_spec.rb
  app/spec/helpers/activities_helper_spec.rb
  app/spec/services/activity_flow_progress_calculator_spec.rb
  app/spec/services/education_activity_progress_calculator_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

rough draft
  app/app/assets/stylesheets/application.postcss.css
  app/app/assets/stylesheets/launcher.scss
  app/app/controllers/demo_launcher_controller.rb
  app/app/javascript/controllers/index.js
  app/app/javascript/controllers/launcher_controller.js
  app/app/views/demo_launcher/launcher.html.erb
  app/app/views/demo_launcher/show.html.erb
  app/config/routes.rb
  app/spec/controllers/demo_launcher_controller_launcher_spec.rb
Due: rubocop, erblint, prettier

functional refinements
  app/app/assets/stylesheets/launcher.scss
  app/app/javascript/controllers/launcher_controller.js
  app/app/views/demo_launcher/launcher.html.erb
  app/spec/controllers/demo_launcher_controller_launcher_spec.rb
Due: rubocop, erblint, prettier

a few wording updates
  app/app/assets/stylesheets/launcher.scss
  app/app/views/demo_launcher/launcher.html.erb
  app/spec/controllers/demo_launcher_controller_launcher_spec.rb
Due: rubocop, erblint

added more education options
  app/app/views/demo_launcher/launcher.html.erb
  app/spec/controllers/demo_launcher_controller_launcher_spec.rb
Due: rubocop, erblint

update after review feedback
  README.md
Due: none

New employer search results page
  app/app/views/activities/income/employer_searches/_employer.html.erb
  app/app/views/activities/income/employer_searches/show.html.erb
  app/config/locales/en.yml
  app/spec/controllers/activities/income/employer_searches_controller_spec.rb
  app/spec/e2e/activity_hub_employment_self_attestation_spec.rb
Due: rubocop, erblint, i18n-unused, i18n-normalize

Scope draft to validated
  app/app/controllers/activities/activities_controller.rb
  app/app/controllers/activities/volunteering_controller.rb
  app/app/controllers/api/invitations_controller.rb
  app/app/models/activity_flow.rb
  app/app/models/volunteering_activity.rb
  app/spec/controllers/activities/activities_controller_spec.rb
Due: rubocop

Prefilled activities prototype
  app/app/controllers/activities/activities_controller.rb
  app/app/controllers/api/invitations_controller.rb
  app/app/helpers/activities_helper.rb
  app/app/models/activity_flow.rb
  app/app/models/activity_flow_invitation.rb
  app/app/models/volunteering_activity.rb
  app/app/services/cbv_invitation_service.rb
  app/app/views/activities/activities/index.html.erb
  app/config/locales/en.yml
  app/db/migrate/20260429110000_add_pre_populated_activities_to_activity_flow_invitations.rb
  app/db/schema.rb
  app/spec/controllers/api/invitations_controller_spec.rb
  app/spec/models/activity_flow_invitation_spec.rb
  app/spec/models/activity_flow_spec.rb
  docs/app/rendered/.database-diagram-schema-version
  docs/app/rendered/database-schema.pdf
Due: rubocop, erblint, i18n-unused, i18n-normalize

Set months and validate if its within the window
  app/app/controllers/api/invitations_controller.rb
  app/app/helpers/activities_helper.rb
  app/app/models/activity_flow.rb
  app/app/models/activity_flow_invitation.rb
  app/app/models/volunteering_activity_month.rb
  app/spec/controllers/api/invitations_controller_spec.rb
  app/spec/models/activity_flow_invitation_spec.rb
  app/spec/models/activity_flow_spec.rb
Due: rubocop

Gate prefille activities behind flag
  app/app/controllers/api/invitations_controller.rb
  app/config/client-agency-config.yml
  app/lib/client_agency_config.rb
  app/spec/controllers/api/invitations_controller_spec.rb
Due: rubocop

Adjust activity cards hours + hide empty activities
  app/app/controllers/activities/activities_controller.rb
  app/app/helpers/activities_helper.rb
  app/app/services/education_activity_card_builder.rb
  app/spec/helpers/activities_helper_spec.rb
Due: rubocop

Remove unused string
  app/config/locales/en.yml
Due: i18n-unused, i18n-normalize

Update lookbook
  app/spec/components/previews/uswds/card_preview.rb
Due: rubocop

Remove custom matcher
  app/spec/controllers/api/invitations_controller_spec.rb
Due: rubocop
