Repository DSACMS/iv-cbv-payroll: changes, and which pre-commit hooks are due for each by the changed paths.
All: rubocop, erblint, i18n-normalize, i18n-missing, shellcheck, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml

- repo: local
  hooks:
  - id: rubocop
    name: rubocop
    entry: bin/run-linter --cd app -- bundle exec rubocop --autocorrect --force-exclusion
    language: ruby
    files: '^app/.*\.rb$'

  - id: erblint
    name: erblint
    entry: bin/run-linter --cd app -- bundle exec erb_lint --autocorrect
    language: ruby
    files: '^app/.*\.erb$'

  - id: i18n-normalize
    name: i18n-normalize
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks normalize
    language: ruby
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: i18n-missing
    name: i18n-missing
    entry: bin/run-linter --cd app -- bundle exec i18n-tasks missing
    language: ruby
    files: '^app/config/locales/.*\.yml$'
    pass_filenames: false

  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system        # installed via `brew bundle`
    files: '^bin/.*$'

  - id: prettier
    name: prettier
    entry: bin/run-linter --cd app -- npm run format:precommit
    language: node
    files: '^app/.*\.(js|ts)$'

FFS-2937: Fix age range parsing to require YYYY-mm-dd format
  app/app/helpers/application_helper.rb
  app/spec/helpers/application_helper_spec.rb
Due: rubocop

reorganization and cleanup
  app/lib/i18n_csv_tasks.rb
Due: rubocop

renamed feedback event to ApplicantClickedFeedbackLink
  app/app/controllers/feedbacks_controller.rb
  app/spec/controllers/feedbacks_controller_spec.rb
Due: rubocop

added ticket number to i18n-tasks, vertically center pilot name in footer
  app/app/views/application/_footer.html.erb
  app/config/i18n-tasks.yml
Due: erblint

ensuring that we're only raising an exception in demo and lower envs
  app/app/controllers/feedbacks_controller.rb
Due: rubocop

I think this fixes the title thing
  app/app/views/cbv/submits/show.pdf.erb
  app/app/views/layouts/pdf.pdf.erb
Due: erblint

fix for missing agency_domain configuration and support for properly generating a url locally
  app/.env
  app/app/controllers/cbv/successes_controller.rb
  app/app/models/cbv_flow.rb
  app/app/models/cbv_flow_invitation.rb
  app/spec/controllers/cbv/successes_controller_spec.rb
  app/spec/models/cbv_flow_spec.rb
Due: rubocop

Fix missing "host" ArgumentError on /submits
  app/app/models/cbv_flow.rb
  app/app/models/cbv_flow_invitation.rb
Due: rubocop

FFS-3010: Bugfix for invite link generation without agency_domain
  app/.env
  app/app/controllers/cbv/successes_controller.rb
  app/app/models/cbv_flow.rb
  app/app/models/cbv_flow_invitation.rb
  app/spec/controllers/cbv/successes_controller_spec.rb
  app/spec/models/cbv_flow_spec.rb
Due: rubocop

FFS-2669: Data redaction for AZ DES member_name in income_changes (#753)
  app/app/models/cbv_applicant/az_des.rb
  app/spec/models/cbv_applicant/az_des_spec.rb
Due: rubocop

converted UswdsFormBuilder::link_with_icon to a ViewComponent to resolve failing pa11y test
  app/app/components/link_with_icon_component.html.erb
  app/app/components/link_with_icon_component.rb
  app/app/helpers/uswds_form_builder.rb
  app/app/views/application/_footer.html.erb
  app/app/views/cbv/successes/show.html.erb
  app/spec/components/link_with_icon_component_spec.rb
  app/spec/helpers/uswds_form_builder_spec.rb
Due: rubocop, erblint

fix erblint error
  app/app/components/link_with_icon_component.html.erb
Due: erblint

fix: upgrade webpack from 5.99.8 to 5.99.9
  app/package-lock.json
  app/package.json
Due: none

FFS-2922: Implement feedback link footer CTA (#762)
  app/app/components/link_with_icon_component.html.erb
  app/app/components/link_with_icon_component.rb
  app/app/controllers/feedbacks_controller.rb
  app/app/helpers/uswds_form_builder.rb
  app/app/views/application/_footer.html.erb
  app/app/views/cbv/successes/show.html.erb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/config/routes.rb
  app/spec/components/link_with_icon_component_spec.rb
  app/spec/controllers/feedbacks_controller_spec.rb
  app/spec/helpers/uswds_form_builder_spec.rb
Due: rubocop, erblint, i18n-normalize, i18n-missing

fix: upgrade webpack from 5.99.8 to 5.99.9 (#767)
  app/package-lock.json
  app/package.json
Due: none

fixed an error, moved input directory to tmp
  app/lib/i18n_csv_tasks.rb
Due: rubocop

set verbose to false again
  app/lib/i18n_csv_tasks.rb
Due: rubocop

FFS-2983: Use "client" or "you" conditionally in monthly summary table
  app/app/components/report/monthly_summary_table_component.erb
  app/app/components/report/monthly_summary_table_component.rb
  app/app/views/cbv/submits/show.pdf.erb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/spec/components/report/monthly_summary_table_component_spec.rb
Due: rubocop, erblint, i18n-normalize, i18n-missing

Update postgres version 14.9 -> 14.15 to reflect AWS upgrades (#760)
  infra/modules/database/main.tf
Due: none

FFS-2941: undefined method `employer_name' for nil (#759)
  app/app/services/aggregators/aggregator_reports/aggregator_report.rb
  app/app/views/cbv/submits/show.pdf.erb
  app/app/views/cbv/summaries/show.html.erb
  app/spec/controllers/cbv/summaries_controller_spec.rb
  app/spec/services/aggregators/aggregator_reports/aggregator_report_spec.rb
Due: rubocop, erblint

FFS-2995: Add import script for translation CSV files (#761)
  app/lib/i18n_csv_tasks.rb
  app/lib/tasks/translations.rake
Due: rubocop

FFS-2937: Fix age range parsing to require YYYY-mm-dd format (#763)
  app/app/helpers/application_helper.rb
  app/spec/helpers/application_helper_spec.rb
Due: rubocop

FFS-2983: Use "client" or "you" conditionally in monthly summary table (#764)
  app/app/components/report/monthly_summary_table_component.erb
  app/app/components/report/monthly_summary_table_component.rb
  app/app/views/cbv/submits/show.pdf.erb
  app/config/i18n-tasks.yml
  app/config/locales/en.yml
  app/config/locales/es.yml
  app/spec/components/report/monthly_summary_table_component_spec.rb
Due: rubocop, erblint, i18n-normalize, i18n-missing

FFS-3000: Document title for CBV report says "Verify.gov" (#768)
  app/app/views/cbv/submits/show.pdf.erb
  app/app/views/layouts/pdf.pdf.erb
Due: erblint

added flipper gems
  app/Gemfile
  app/Gemfile.lock
Due: none

experimental work
  app/Gemfile
  app/Gemfile.lock
  app/app/views/cbv/entries/show.html.erb
  app/config/initializers/flipper.rb
  app/db/migrate/20250613200057_create_flipper_tables.rb
  app/db/schema.rb
Due: rubocop, erblint

experimental work, not working
  app/Gemfile
  app/Gemfile.lock
  app/app/views/cbv/entries/show.html.erb
  app/config/initializers/flipper.rb
Due: rubocop, erblint

ready to demo
  app/Gemfile
  app/Gemfile.lock
  app/config/initializers/flipper.rb
Due: rubocop

I think these are all the nullable options
  app/app/components/aggregate_data_point_component.rb
Due: rubocop

fake English changes to detect
  app/config/locales/en.yml
Due: i18n-normalize, i18n-missing

Reorg tests, add new
  app/spec/components/aggregate_data_point_component_spec.rb
Due: rubocop

created other_job page and route. partially updated the translations
  app/app/controllers/cbv/other_jobs_controller.rb
  app/app/views/cbv/other_jobs/show.html.erb
  app/config/locales/en.yml
  app/config/routes.rb
Due: rubocop, erblint, i18n-normalize, i18n-missing

fix: upgrade @uswds/uswds from 3.12.0 to 3.13.0
  app/package-lock.json
  app/package.json
Due: none

first draft
  app/lib/translation_generator.rb
Due: rubocop

removed string exceptions
  app/config/i18n-tasks.yml
Due: none

FFS-2981: Inconsistently reporting data as blank or N/A (#769)
  app/app/components/aggregate_data_point_component.rb
  app/spec/components/aggregate_data_point_component_spec.rb
Due: rubocop

added Spanish translations approved by Patricia
  app/config/locales/es.yml
Due: i18n-normalize, i18n-missing

No ticket: final string translations required for AZ go-live (#771)
  app/config/i18n-tasks.yml
  app/config/locales/es.yml
Due: i18n-normalize, i18n-missing

more bs translations not to commit
  app/config/locales/en.yml
Due: i18n-normalize, i18n-missing

moved to rake task
  app/lib/tasks/generate_translations.rake
Due: none
